[2022-01-25 02:11] hcayless opened #2221 "Why doesn't divGen have the same content model as div?"
I've never used [`<divGen>`](https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-divGen.html) and therefore had never really looked at it closely, but now that I have, I wonder: why can it only contain `<head>`? Presumably that means it's meant to be replaced by a generated `<div>` when processed, but I think it would make much more sense if it was just filled in with the generated content, and r

[2022-01-25 02:16] martindholmes commented on #2221
I've always assumed it was intended to be completely replaced, and the head was there either as an explanatory heading for readers of the file before processing, or to supply a context-sensitive heading for a specific location, when the same contents might be supplied in place of multiple divGens in different contexts.

[2022-01-25 07:39] peterstadler commented on #2221
I don't know why the content model of `<divGen>` isn't simply empty but its purpose is definitely to be a placeholder (to be replaced by some generated content). A typical example is https://github.com/TEIC/TEI/blob/daab99ca7a2ea83c2d2f4ee8f1f8e874b288492c/P5/Source/guidelines-en.xml#L99

[2022-01-25 13:35] sydb commented on #2213
This attribute was added in 523a103fa5dca491a8433b5530d9e993f2ab4c5e by @gabrielbodard on 25 Nov 2011.

[2022-01-25 17:57] lb42 commented on #2221
Martin is right. `<divGen/>` is meant to indicate the intended location of some generated content (for example, a table of contents, an index etc.).It comes from the world of text processing systems like troff, and is indeed very like a processing instruction, as  previously noted, but more specialised. It first appears in TEI P2 (see page 194), where it is discussed along with the <index> element

[2022-01-25 18:12] lb42 commented on #2221
p.s. I've just noticed that  the content model of `<divGen/>` currently references model.headLike rather than plain old `<head>`. Which allows for all sorts of bonkersness e.g. listPlace. I think that was a bit over zealous on someone's part: better make it empty again methinks.

[2022-01-28 12:38] sydb opened #2222 "tagdoc for egXML speaks of attr in TEI namespace"
From an example in the egXML.xml file:

First, disagreement in number: either parts _were_ rendered or each individual part _was_ rendered.
Second, there is no `@rend` attribute in the TEI namespace. (To show such in an `<egXML>` would require something like `<p tei:rend="X" xmlns:tei="http://www.tei-c.org/ns/1.0">`.)

[2022-01-28 18:00] sydb opened #2223 "On the `@ident` of `<constraintSpec>`"
This ticket is part of the solution to [Stylesheets ticket 541](/TEIC/Stylesheets/issues/541).

1. All of the `@ident`s of all `<constraintSpec>`s in the _Guidelines_ should be unique.
2. Part of the build testing process should check for said uniqueness.
3. A `<constraintSpec>` should be added to warn users if a duplicate `constraintSpec/@ident` is created (i.e. with `@mode` of `"add"`); this cou

[2022-01-28 19:30] martindholmes commented on #2223
The only reason I can imagine for multiple constraintSpecs with the same ident is if they're simply different language versions of the same constraint, and would need to be processed in the same way (deletion or replacement or whatever) when the same ODD is built in different languages. But there are other ways to achieve that, I guess.

[2022-01-31 19:23] sydb opened #2225 "missing space"
While it is not _necessarily_ incorrect encoding, the example of `<cl>` in its tagdoc is missing a space between “so,” and “They”. It is not _necessarily_ incorrect because a project _could_ decide that, by default, `break="yes"` on `<cl>`. But that would be a bad thing to exemplify without explaining it. So either way this example needs to be updated.

(Personally, I think the fix is just to inse

[2022-02-02 11:18] #2203 closed, assigned to sabineseifert

[2022-02-02 19:11] joeytakeda commented on #1837
Has there been any further progress on this ticket? I added a few non-TEI elements to a schema and ended up running into the same issue of ID/IDREF checking and had to trawl through the TEI listServ to figure out what the issue was (thus discovering this ticket!)

I'm in agreement with @lb42 that, at least for now, this should just be documented. I imagine that `@defaultExceptions` could always be

[2022-02-02 22:54] sydb commented on #1837
Sorry to say, @joeytakeda, but no, no progress has been made since late 2019. I think you are correct, we are guilty of letting the “much better” be the enemy of the “at least document the sub-optimal”.

I suggest that if a few more Council members say so here, or agree to it at our next conference call, that we change this ticket to GREEN for just documentation, and create a new ticket for doing

[2022-02-07 06:07] JanelleJenstad opened #2227 "Update ISOCat reference to DatCatInfo"
From Roberto Rosselli Del Turco via TEI-L (2022-02-02): "in the Guidelines section devoted to Dictionaries there's one reference to the ISOCat standard, but the latter has been superseded by DatCatInfo: http://www.datcatinfo.net/ (with a more precise URL of course) instead of http://www.isocat.org/ in https://tei-c.org/release/doc/tei-p5-doc/en/html/DI.html#index-egXML-d52e79215."

[2022-02-07 09:48] bansp commented on #2227
I can try to take this one, because it requires a bit of crafting. The new standard defines a bit different entity with a bit different role, so a direct substitution might not be the best way to handle that. But I've just updated an ISO standard wrt the references to the dead ISOCat (even Heisenberg wouldn't be uncertain, here, sadly), so I think I can handle this one as well. Not sure if I don't

[2022-02-07 09:52] bansp commented on #2227
OMG, look at that... #232, #1089, #1866 . It's time... :-)

[2022-02-07 10:54] martinascholger commented on #2227
Hm, I thought I had already implemented #1866. I will investigate why I did not.

[2022-02-07 11:33] bansp commented on #2227
Oops, the middle issue that I listed above is actually closed. Well, @martinascholger , please ping me if you decide that I can be of use. My instinct would be to look at all the text fragments that mention the mechanism, to remove the recommendation to use ISOCat and definitely not replace it with a recommendation of the privately-owned datcat, but rather generalise. The original 'mistake' was to

[2022-02-08 07:53] nakagawanatuko opened #2228 "figure element in model.titlepagePart class?"
Hi,

We are translating the guideline (chapter 4) into Japanese and got a question.
In the following description from 4.6, it is inferrable that the figure element is included in the model.titlepagePart class, which apparently is not the case.

Together with the [figure](https://tei-c.org/release/doc/tei-p5-doc/ja/html/ref-figure.html) element described in chapter [14 Tables, Formulæ, Graphics, an

[2022-02-15 20:02] HelenaSabel commented on #2223
PR #2224 addressed this ticket

[2022-02-15 20:02] #2223 closed, assigned to sydb

[2022-02-17 00:37] martindholmes opened #2231 "Recent change is breaking deletion of constraintSpecs"
We have this in our ODD file, allowing us to nest ab elements:

[code]

The Schematron rule was successfully being deleted prior to recent changes relating to unique ids. The id of the constraintSpec has not changed, but the deletion no longer works. Assigning this to @sydb because he made the changes and will probably be able to figure out immediately what's happening. This is using the bleeding-

[2022-02-17 22:51] sydb commented on #2231
Not only can I not figure out immediately what is happening, I cannot even reproduce what is happening.
You are using Stylesheets dev branch and TEI dev branch to convert your ODD into what output format? (I am guessing RELAX NG, since there is no built-in transformation in oXygen to convert to Schematron.)
Can we talk (with screen share) sometime soon, @martindholmes ?

[2022-02-17 22:55] sydb commented on #2231
[Test file](https://github.com/TEIC/TEI/files/8092752/MH.odd.txt) with “.txt” appended to appease GitHub.

[2022-02-17 22:59] martindholmes commented on #2231
@sydb We transform to RNG and extract the Schematron and generate XSLT from it. It's been working fine for a couple of years, but with the latest update to the Oxygen bleeding-edge plugin, the constraintSpec stopped being deleted so our files because invalid. Heading into a meeting now, unfortunately.

[2022-02-17 23:20] sydb commented on #2231
Check. (I did not mean “soon” as in minutes to hours, but rather hours to days. :-)

[2022-02-18 16:41] martindholmes commented on #2231
I wonder if the p5subset.xml in the Stylesheets got updated after the merge of the constraintSpec changes...

[2022-02-18 20:37] sydb commented on #2217
Note: [PR 2230](https://github.com/TEIC/TEI/pull/2230) implements @peterstadler’s idea.

[2022-02-18 21:49] martindholmes commented on #2231
With @sydb figured this out: the ident had changed. Now deleting both the old and the new ident so that it'll work whether a brand new p5subset is used or not.

[2022-02-18 21:49] #2231 closed, assigned to sydb

[2022-02-21 16:12] sydb opened #2236 "TEI tagdoc calls a namespace declaration an attribute"
From the TEI tagdoc:
[code]
The problem is that we generally use the XDM, in which `@xmlns` is **not** an attribute, but rather a namespace declaration. (To prove this to yourself without having to do a lot of reading, try adding `<xsl:attribute name="xmlns" select="'http://www.example.org/does/not/work'"/>` to your XSLT 2.0 or 3.0 program. Alright, that’s not proof, but it is mighty strong eviden

[2022-02-23 17:05] bleekere commented on #2206
Removed reference to Sourceforge in [TEI/P5/Source/Guidelines/index.xml](https://github.com/TEIC/TEI/blob/25fb6349bc072924fd6f9c53f44edbf1d1a52e5f/P5/Source/Guidelines/index.xml#L21) and updated the file with references to the TEI Github repo. See #d72e7f4ac. The other references to Sourceforge in the Guidelines files are in comments; after consultation with @sydb and @HelenaSabel we decided to le

[2022-02-23 19:23] #2218 closed, assigned to bleekere

[2022-02-24 01:14] sydb opened #2239 "build fails due to `rnv` out of memory"
This makes no sense (to me) at all. Both in my local system (where I can test things) and on Jenkins2 (UVic, where I can’t) the build is failing because the `rnv` command is reporting “error: out of memory” both on p5.xml (which is quite huge) and on testplus.xml (which is < 300 lines long, although to be fair, the schema it is validating against is huge).

So I tried creating a 1-line schema and

[2022-02-24 05:12] martindholmes commented on #2239
This is my experience too, with version 1.7.8 and version 1.8.0 (I'm not sure how I got that one). I don't think rnv itself has changed, so I'm at a loss. Is it possible that something in make itself has changed, causing rnv to be called with less memory available to it?

[2022-02-24 10:08] #2206 closed, assigned to bleekere

[2022-02-24 11:02] sydb commented on #2239
I don’t think `make` has anything to do with it, as I tested against a tiny RNC and XML file outside of the Make environment (just directly on the commandline).

[2022-02-24 11:25] hcayless commented on #2239
Presumably it's the size of the schema rather than the file being validated that's the problem. It may be time to start throwing some stuff overboard.

[2022-02-24 11:34] sydb commented on #2239
I don’t think so, @hcayless. I got the error message when validating
[code]
against
[code]
The two files total 145 bytes. (Or characters, not sure which.)

[2022-02-24 11:37] sydb commented on #2239
I do wonder if [a recent update to `expat` 2.4.4](https://www.xml.com/news/2022-01-expat-244/) has anything to do with it. But as far as I can tell, the newest of the dozens of copies of expat on my system is 2.2.9. Still investigating (and not making much progress).

[2022-02-24 15:30] raffazizzi commented on #2220
@nakagawanatuko Does @hcayless's response answer your question? Can we consider this issue resolved?

[2022-02-24 15:49] nakagawanatuko commented on #2220
yes, please!
Thank you!

On Reiwa 4 Feb 25, Fri at 0:30 Raffaele Viglianti ***@***.***>
wrote:

--
Natsuko Nakagawa
国立国語研究所 特任助教
Project Assistant Professor
National Institute for Japanese Language and Linguistics
https://sites.google.com/site/nakagawanatuko/

[2022-02-24 15:59] raffazizzi commented on #2228
@nakagawanatuko that is correct, neither `figure` or `titlePage` are members of `model.titlepagePart`. We will need to update the Guidelines to rectify this error. Thank you for letting us know!

[2022-02-24 19:16] sydb commented on #2239
Looks like this is a recently introduced but now known bug. (See below.)
I do not want to just ditch the `rnv` validation, though. I like the redundancy. So my suggestion is to disable `rnv` validation in the build process by commenting it out for now, and testing it from time to time. (E.g., every time we update p5subset.) This is a devastating bug, so will probably be fixed soon.

[2022-02-24 19:17] sydb commented on #2239
## below
- https://bugs.launchpad.net/ubuntu/+source/python-xmltodict/+bug/1961800
- https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1006317
- https://github.com/libexpat/libexpat/issues/572

[2022-02-24 23:11] hartwork commented on #2239
@sydb rnv turns out to also use colon (`':'`) for a separator:

[code]

What is your source for rnv, how do you install it, which version(, where in the CI)?

[2022-02-24 23:21] martindholmes commented on #2239
The most recent version I can find that will build is dtolpin's fork of @hartwork's version:

https://github.com/dtolpin/RNV

I can't find a way to build the original on my system, and there are no instructions for doing that. On the dtolpin repo I can use the Makefile.gnu. @hartwork Will your expat 2.4.6 update roll out to Ubuntu automatically, or do we need to install it manually?

[2022-02-24 23:41] sydb commented on #2239
@hartwork —

I am not 100% sure, but most likely I downloaded the rnv-1.7.8.zip file from the [davidashen FTP site](http://ftp.davidashen.net/PreTI/RNV/), and then ran `make -f Makefile.gnu`.

(I do not understand what colons have to do with it, but probably don’t need to. :-)

[2022-02-25 00:07] hartwork commented on #2239
@martindholmes it's actually the other way around: He's the original author, and I helped with some build system fixes, and my "fork" is more recent but also ancient, 2015. His repo points to mine in the description. (Another fork at https://github.com/starseeker/librnv is more active but it's also affected by the colon issue, bundles vulnerable Expat 2.4.3, does not allow reporting issues, and ha

[2022-02-25 00:27] martindholmes commented on #2239
@hartwork Does this mean that RNV can't actually be fixed to work with the updated libexpat? We do generate RNGs and do validation with other tools, but RNV has been a handy additional checking tool in our test suite. It seems a shame to lose it for the sake of a colon. :-)

[2022-02-25 00:37] hartwork commented on #2239
@martindholmes it can likely be fixed, but the question is in which copy of RNV to adjust and use, what other places in RNV need adjustment to not break it when changing the separator, and if you want to use unmaintained or maintained software. I can fix this issue and add CI to my https://github.com/hartwork/rnv but it won't make it maintained.

[2022-02-25 01:07] sydb commented on #2239
So RNV itself will need to be modified? (I had kinda hoped that when Expat is fixed, RNV would magically work again. It (RNV 1.7.8) clearly uses whatever Expat is on the system, as an experiment I tried earlier today demonstrates:

- ran `rnv` on a Debian-based system — it worked fine
- updated the system, including libexpat1 and libexpat1-dev
- ran same `rnv` command again (i.e., using same schem

[2022-02-25 01:11] hartwork commented on #2239
@sydb yes.

[2022-02-25 01:13] sydb commented on #2239
Sigh.

[2022-02-25 07:50] nakagawanatuko commented on #2228
@raffazizzi Thank you! We will fix the Japanese translation.

[2022-02-26 18:27] hartwork commented on #2239
I would like to share the following news:
- I have added CI based on GitHub Actions to RNV now; the 1.7.11+ code in Git still builds fine as of today. As a byproduct, the [related pull request](https://github.com/hartwork/rnv/pull/2) also holds all information to build RNV from sources if you find need to. It's actually quite simple.
- I have created a [draft pull request replacing the namespace s

[2022-02-26 19:03] martindholmes commented on #2239
Thank you @hartwork, this is very much appreciated! @sydb, as soon as I get a chance I'll build the https://github.com/hartwork/rnv/tree/namespace-separator branch and run our tests with it.

[2022-02-26 19:08] sydb commented on #2239
Thank you very much @hartwork!
Perhaps as early as tonight I can try to figure out how to build RNV from source your way and test. (I tried by just copying over the Makefile.gnu from 1.7.8, and that worked well enough to test that `rnv` on this new branch worked on my tiny test file. Which, embarrassingly, turned out to be invalid.)

[2022-02-26 19:16] sydb commented on #2239
@martindholmes — Good idea. As mentioned above a I kludged a local `rnv`, and it worked on one tiny test file. I have to leave the computer for an hour or three now, but will see if I can set my machine to run the TEI build using that new version before I leave …
BTW, I don’t really understand the YAML used to describe the build process (from the master branch). But it looks like
[code]
should do

[2022-02-26 19:21] martindholmes commented on #2239
The final step gives me Error 127, but I was previously able to build 1.7.11 by puzzling through the Github Action, so I'll go back and try that again...

[2022-02-26 19:26] martindholmes commented on #2239
Got this, but sudo apt install asciidoc fixed it:

make -C build
+ make -C build
make: Entering directory '/home/mholmes/temp/rnv/build'
a2x \
	--conf-file=../man/asciidoc.conf \
	--attribute="manual_package=RNV" \
	--attribute="manual_title=RNV Manual" \
	--attribute="manual_version=1.7.11" \
	--format=manpage -D man \
	"../man/arx.1.txt"
/bin/bash: line 1: a2x: command not found
make: *** [Makef

[2022-02-26 19:32] martindholmes commented on #2239
So I have a build from the branch, but the P5 tests fail the first time rnv is invoked with:

xmllint --noent --dropdtd  testplus.xml | rnv testplus.rnc
testplus.rnc:4853:20: error: syntax error: ")" expected, "*" found
testplus.rnc:4858:20: error: syntax error: ")" expected, "*" found
testplus.rnc:4884:20: error: syntax error: ")" expected, "*" found
testplus.rnc:4889:20: error: syntax error: ")"

[2022-02-26 19:36] sydb commented on #2239
Might be due to the unorthodox way I built it, but the good news is that the new pipe-instead version of `rnv` from @hartwork’s repo, namespace-separator branch seems to run perfectly well without that out of memory error. The bad news is it found all sorts of valid constructs inside some of our RNC files invalid. E.g.:
[code]

[2022-02-26 19:40] sydb commented on #2239
Yes, it looks like complaints are centered on places where there are colons. But there are lots of places that have colons before that `a:*` on line 3547 that did _not_ cause errors. (It is the first occurrence of “something-colon-asterisk”, though.)

Yes, that may be it. In both cases (testplus.rnc and p5odds.rnc) things blow up on first occurrence of “something-colon-asterisk”.

Gotta go now. Ba

[2022-02-28 20:22] matgille opened #2241 "pb, lb, cb gloss/desc not updated in all languages"
[Related to #1529]

In #1529 a modification has been suggested for the gloss of [`pb`](https://github.com/TEIC/TEI/blob/dev/P5/Source/Specs/pb.xml), [`cb`](https://github.com/TEIC/TEI/blob/dev/P5/Source/Specs/cb.xml) and [`lb`](https://github.com/TEIC/TEI/blob/dev/P5/Source/Specs/lb.xml) elements to make clear those elements indicate the *beginning* of new objects (page, line, column, gathering).

[2022-03-01 14:05] hcayless opened #2242 "Another lg content model deficiency"
See #1945. I contend that if `<lg>` should be able to contain a `<gap>`, it should also be able to contain `<supplied>`, as the two are closely related. Moreover, `<supplied>` can contain `<l>`. If I have a stanza with a missing line, and I know what that line was, I ought to be able to supply the whole line inside the line group.

[2022-03-01 14:06] hcayless commented on #1945
Presumably this is no longer blocked, as #1877 is closed.

[2022-03-03 19:17] bleekere commented on #2221
In discussion with @sydb and @HelenaSabel we found it hard to come up with a good use case. Perhaps @hcayless could suggest a case where it makes more sense for a `<divGen>` to be filled with the generated content? That would be really helpful. It seems normally sufficient to have `@type`, `@subtype`, or `@ana` = "generated" on `<div>`.

With regard to the comment of @lb42: `<head>` is the only me

[2022-03-03 19:37] martindholmes commented on #2221
I don't think divGen is supposed to be filled; it's supposed to be replaced by a div that you generate.

[2022-03-03 20:17] hartwork commented on #2239
I would like to bring this pull request to your attention: https://github.com/libexpat/libexpat/pull/577

[2022-03-04 03:34] 747 commented on #2132
I wonder if there is any further discussion ongoing.

[2022-03-04 21:53] sydb commented on #2132
No, @747, I have to admit at least I have not thought about or discussed this ticket since last summer; so thanks for the ping!

As for versioning attributes you proposed on [05 Jul 21](#issuecomment-873871267), two thoughts jump to mind.

1. Putting version numbers on `<graphic>` and `<binaryObject>` would beg the question what does such a version number mean outside of the gaiji context.
2. Coul

[2022-03-08 10:52] 747 commented on #2132
@sydb Thank you for your advice!

It is a very good point that involves the semantics of `<char>` (or `<glyph>`), which I don't think I have fully understood though the guideline text. If a `<char>` element is primarily an abstraction from the encoded document, that the `<graphic>` is expected to be taken from, or based on actual instances in the document, there will be little reason to put versio

[2022-03-10 16:52] hartwork commented on #2239
Any news? (Many systems have the CVE-2022-25236 relaxation fix from Expat 2.4.7 applied by now.)

[2022-03-10 19:08] martindholmes commented on #2239
Should we be trying a fresh build, expecting that libexpat sources will have been updated and the problem will be fixed?

[2022-03-10 19:12] hartwork commented on #2239
Maybe, I don't know your infrastructure.

[2022-03-11 15:27] ebeshero opened #2244 "Correct listing of Council history and terms in Guidelines FM1"
Correct / ensure terms listed are up to date, update information about Council / Board interactions on Source/Guidelines/en/FM1-IntroductoryNote.xml.

Check listings of affiliations and their order.

[2022-03-11 16:10] ebeshero commented on #2209
Council decision 11 March 2022:
* Add `<listRef>` to model.ptrLike
* Add constraints so that within P5 ODDs tagDocs, `<listRef>` should not be permitted to nest, and must contain `@target`. Also, `@target` must not contain a space.
* Review the remark on listRef and update it as needed.
This is linked to #1667
https://github.com/TEIC/TEI/issues/1667#issuecomment-345482914

[2022-03-11 16:12] ebeshero commented on #2209
Also linked to Stylesheets https://github.com/TEIC/Stylesheets/issues/333

[2022-03-11 17:12] peterstadler commented on #2239
Just triggered a build on our main Jenkins and hit the memory issue:
[code]

The Jenkins is running `jenkins/jenkins:lts` image

[2022-03-11 17:47] hartwork commented on #2239
@peterstadler thanks for sharing that. Image `jenkins/jenkins:lts` is `Debian GNU/Linux 11 (bullseye)` under the hood and bullseye is one of the unpatched places as of today. I know that someone is at it so I think that will be taken care of in the next few days, and then `jenkins/jenkins:lts` may fix itself, depending on Jenkins' docker image creation automation. Thanks for trying!

[2022-03-11 17:52] hartwork commented on #2239
PS: @peterstadler I only now see that first trang is converting `.rng` to `.rnc` and then RNV is called above. And you even have xmllint already. xmllint has an argument `--relaxng SCHEMA`. Was there a conscious decision against using xmllint for Relax NG validation?

[2022-03-11 22:18] peterstadler commented on #2239
Hmm, no idea … this code is more than 12 years old, see https://github.com/TEIC/TEI/commit/e0f5dd10e09995e3da945ea2229b3802a900f1f0 (and search for `xmllint`). Maybe @sydb has an idea?

[2022-03-11 22:32] ebeshero commented on #1667
Noting here that we'll resolve this issue with #2209. See https://github.com/TEIC/TEI/issues/2209#issuecomment-1065259060

[2022-03-11 22:43] ebeshero commented on #1667
Council decided that we'll add `<listRef>` to model.ptrLike as requested here, and broaden the language in its `<desc>` as proposed here. We'll include some more specific constraints on its use in `<model.oddDecl>` partly introduced in this ticket:  So, in `<model.oddDecl>` only (and not elswewhere):
* `<listRef>` is not permitted to nest
* must contain `@target`
* `@target` must not contain a spa

[2022-03-11 22:43] #1667 closed

[2022-03-13 17:41] hartwork commented on #2239
The fix seems to have hit `bullseye-security` by now with Expat `2.2.10-2+deb11u3`:
https://tracker.debian.org/news/1310255/accepted-expat-2210-2deb11u3-source-into-stable-security-embargoed-stable-security/ . It is just image `jenkins/jenkins:lts` of 4 days ago that would need a rebuild and upload now, if I'm not mistaken.

[2022-03-14 19:27] sydb commented on #2236
I am leaning towards a re-write to:
[code]
This allows us to dodge the attribute vs namespace decl controversy completely.

[2022-03-16 21:39] JanelleJenstad commented on #1856
@hcayless posted this message to TEI-L

I'd like your advice on a piece of markup. The document in question is a bilingual Arabic / Ancient Greek protocol (sort of a cover sheet for a bunch of legal documents). It looks like this:
https://papyri.info/ddbdp/cpr;3;38

To give you a better idea of what's going on if you don't read Greek and/or Arabic:

(ar) In the name of God, the compassionate, the

[2022-03-16 21:41] JanelleJenstad commented on #1856
And @martindholmes replied:
I'd go for nested ab elements for this. Each language text-run is clearly a block from the layout point of view, but they don't fit into the conventional block categories (div, p, etc.), so I think this is precisely what ab is for. We should allow nested abs for this sort of scenario, and we have a couple of customizations for projects that need them already.

[2022-03-17 11:40] lb42 commented on #1856
I remain unconvinced. The only cogent argument I see here against  using <seg> for the individual language-chunks  seems to be that you want them formatted like blocks (though you also want to show that they are linked). This is not persuasive: you could easily indicate the blockishness of the source in any number of different ways. And some of them, I think, are actually not formatted as blocks a

[2022-03-17 11:49] lb42 commented on #1856
To address @joeytakeda 's example above: I would tag this as two consecutive `<ab>` elements, if I really dont want to assert that the first one is a `<p>` and the second a `<quote>` They are both wrapped in a `<sp>` so no need for an extra `<ab>` to wrap them together.
[code]

[2022-03-17 11:51] emamimohsen opened #2246 "att.spanning value targeting an external document"
The current att.spanning (@spanTo) constraint looks for a matching element in the current document. Sometimes the ending element is located in a different document. So it seems reasonable to check for a matching element only if @spanTo value starts with a '#' (internal reference); otherwise, it should try to open the referenced document and check inside it for the xml:id. I'm not sure if and how i

[2022-03-17 13:28] ebeshero commented on #2246
Hi @emamimohsen . Yes, you can check for the values in an external document using Schematron. Somewhere (best I think in the teiHeader of your document) you should specify the relative filepath to the other document, or an absolute filepath. In Schematron you can use the XPath `doc()` function to point to that document and delineate the XPath to the `@xml:id`s you need to check.

[2022-03-17 15:44] martindholmes commented on #1856
@lb42 It's obviously possible to find awkward workarounds for every individual case, but there's no logical reason why `<ab>`s shouldn't nest just like `<div>`s can. By definition they have no semantics, so there's no justification for precluding their nesting. If I say something in my text is an anonymous block, that's my judgement, and if I perceive that such blocks are in fact nesting in my tex

[2022-03-17 15:49] hcayless commented on #2246
`@spanTo` currently has this overly restrictive Schematron rule. See https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.spanning.html. @emamimohsen would like it either 1) relaxed, so that it applies only to targets beginning with '#' or 2) made able to check across documents. I think doing 1 is probably way easier. Right now, it's causing problems because their project has multiple, sequent

[2022-03-17 16:47] martindholmes opened #2247 "`<handShift/>` should be a member of `model.global`"
It seems obvious to me that this sort of structure must be common:

[code]

Other elements with similar semantics are allowed as children of `<div>`, including `<shift>`, `<milestone>`, and `<incident>`. It seems to me that `<handShift/>` really should be a member of model.global.

[2022-03-17 17:38] sydb commented on #2246
This constraint was added in 2012. I have a vague recollection that the feeling at the time was that no, it does not really make sense to have an addition, deletion, et al. span across _documents_. At the same time we (or at least, I) acknowledged that it is possible that such an item would span across _files_ in a filesystem because a document was being stored in multiple files. Some argued, IIRC

[2022-03-17 20:51] hcayless commented on #2246
You say that as though there's a clean distinction between files and documents :-). Nonetheless, I think it's probably bad policy to have constraints that rule out legitimate usages, such as splitting a large work into separate TEI files.

[2022-03-18 04:14] ebeshero commented on #2246
Well, I’m surprised we have such a strange rule. It seems counterintuitive to me to disallow spanning to another file in a collection so long as you can express a relationship among files. (Sorry for misunderstanding. I initially thought the question was just about how to validate a `@spanTo` value in another document.)

[2022-03-18 04:46] sydb commented on #2246
While I lean towards agreeing with your conclusion, @hcayless (that constraints should not rule out legitimate, even if rare, usages), there is a very clean distinction between my usage of “file” and of “document”. The former is a feature of your operating system; the latter is, roughly speaking, a `<tei:text>`. A document typically resides in 1 file, but may be spread over many. A single file can

[2022-03-18 07:25] peterstadler commented on #1856
@martindholmes you convinced me, for what it's worth 👍

[2022-03-18 11:48] hcayless commented on #2246
@emamimohsen's original question went to the Markup list https://lsv.uky.edu/scripts/wa.exe?A2=MARKUP;f94acbba.2203&S= It sounds like the work in question is broken up into chapters, one TEI document per chapter, but added or deleted sections can span chapters.

@sydb, I understand the distinction you're making, but it's nearly the opposite of the one I'd make. All documents are files, some files

[2022-03-18 14:10] jamescummings commented on #1856
I'm still in camp 1. I think re-purposing the existing element does more harm than good.

[2022-03-18 14:40] sydb commented on #1856
I find myself on the fence on this one. But an analogy I just drew up pushes me more towards allowing `<ab>` to self-nest, rather than inventing a new “smaller-than-`<div>`, larger-than-phrase level” element that can self-nest, leaving `<ab>` as it is.

An `<s>` is, in some sense, a specialized `<seg>`, i.e. a `<seg type="sentence">`; the main syntactic difference is that an `<s>` cannot self-nest

[2022-03-18 16:18] martindholmes commented on #1856
@jamescummings How are we repurposing it? It's an anonymous block. Its purpose is to be used when you have a block that doesn't fit into any of the existing categories with semantics.

[2022-03-18 21:10] lb42 commented on #1856
Actually and to my surprise, I find myself agreeing with Syd on the feeling that `s` is to `seg` as `p` is to `ab`. But then of course both Syd and I are constitutionally incapable of separating syntactic and semantic properties, which is why we have no problem representing this (purely) syntactic difference by different elements, and thereby asserting they have different semantics.
OTOH I share J

[2022-03-18 21:28] JanelleJenstad commented on #1856
What would be the Birnbaum-fallout if we moved `ab` to its own model.abLike class? There are plenty of elements that are the only one in their class.

[2022-03-19 10:07] lb42 commented on #1856
Well, the content models of all existing elements (not a few) which reference it via model.pLike would suddenly change for a start! Or are you suggesting making model.abLike a subclass of model.pLike?

[2022-03-19 18:02] martindholmes commented on #1856
Not sure what the most effective way to achieve the nesting would be, but we'd want to minimize disruption of course.

[2022-03-19 19:29] ebeshero commented on #1856
If we can do this properly, we won’t see fallout over backwards compatibility, because non-nested `<ab>` elements will continue to be valid. But how would we accomplish it? What if we made model.pLike a subclass of a new model.abLike (rather than the other way around)? Would it make sense for the more permissive model to be the main class, and the more constrained one the subclass?

[2022-03-19 19:44] ebeshero commented on #1856
Just reminded myself how we constrain`<p>` and `<ab>` (exactly the same way). It might be handy to look at our Schematron rule for abstract model violations:

[code]

[2022-03-19 21:37] ebeshero commented on #1856
For `<ab>` it's the same, and we're saying it can't go inside either a `<p>` or an `<ab>`. From our conversation here, I imagine we had better consider whether it's okay to nest `<ab>` inside `<p>` as well as `<ab>`. Is this heretical or just in keeping with the arbitrary anonymity of the "anonymous block"? Because I'm just imagining simply pulling the Schematron rule out of `<ab>`...and seeing wh

[2022-03-19 21:43] ebeshero commented on #1856
Do we want a world in which:
* `<p>` may never nest in either an `<ab>` or a `<p>`, but
* `<ab>` could nest inside either one?

Further heresy: What if `<p>` were permitted to nest inside `<ab>`, but never inside `<p>`?

[2022-03-19 21:48] ebeshero commented on #1856
Finally, it's important we link this with Council's recommendation for https://github.com/TEIC/TEI/issues/1929 (scroll to end). I think we may have found a way to clearly delineate the difference between `<p>` and `<ab>` while jettisoning "semantic baggage". I'll assign myself to this ticket with @martinascholger and @JanelleJenstad since I'm supposed to implement the other one. We'd better work o

[2022-03-19 22:01] martindholmes commented on #1856
I'm inclined to say that since nobody has asked for `<ab>` to be able to nest inside `<p>`, we should probably not worry about that, and just handle the current request for nestable `<ab>`s. If this ticket turns into a philosophical debate over the nature of blocks and what-a-paragraph-is, it'll probably roll on for a couple of years and lead to nothing helpful. :-)

[2022-03-19 22:08] ebeshero commented on #1856
@martindholmes It's just that the easiest course is to remove the Schematron constraint on `<ab>` entirely...so that's why it's worth asking. The current ticket results in keeping the Schematron there, and just saying `<ab>` can't be inside `<p>`.  The solution Council proposed for that "What is a paragraph , really" ticket is pretty simple. We're supposed to be moving `<ab>` out of Linking and in

[2022-03-19 22:13] ebeshero commented on #1856
What's striking to me is the long list of exceptions we've had to be adding to that Schematron constraint on `<ab> `. (I've had to add to them to resolve a ticket or two in the past.) If the constraint looks *mostly* the same for `<p>` and for `<ab>`, and we're *only* allowing `<ab>` to nest inside itself, then it really does behave *mostly* like `<p>` (can't nest within a `<p>`, unless there's a

[2022-03-20 00:31] martindholmes commented on #1856
@ebeshero I think your argument amounts to saying that in the past we've treated it like a p so we should continue to, but that's what I disagree with. It's not a p.

[2022-03-20 01:21] ebeshero commented on #1856
@martindholmes But [you yourself just wrote today](https://github.com/TEIC/TEI/issues/1856#issuecomment-1073118563) that if no one asked for `<ab>` to nest inside `<p>` we shouldn't worry about it. I'm not really arguing one way or the other. I'm just observing *how* `<ab>` is currently constrained from nesting and wondering *how* to proceed with changing it. It seems to me that we can either do:

[2022-03-20 01:29] martindholmes commented on #1856
I would vote for #1. If anyone later has examples which support allowing ab inside p, then that would be a different FR.

(In that case opponents might might argue that p has semantics which preclude other blocks appearing inside it,although that wouldn't actually be very convincing given that lists are allowed in p.)

[2022-03-20 02:32] hcayless commented on #1856
It's not a simple Schematron change though. That rule is meant to prevent, e.g. p inside something else (with a bunch of exceptions) inside p. Fwiw, I never thought that rule was a great idea. It was meant to calm fears that app would allow people to do crazy stuff.

Anyway, the content model of ab would need to be changed and the Schematron rule would probably need to be removed or substantially

[2022-03-20 13:13] ebeshero commented on #1856
Well, Council’s recommendation to move `<ab>` to Core (https://github.com/TEIC/TEI/issues/1929#issuecomment-943621793 ) is a good opportunity to rewrite its content model. Since that kludgy Schematron serves to prevent deep nesting, perhaps just removing it from `<ab>` is an improvement? I suppose we also add `<ab>` to its content model, too. But these changes do not seem so enormous as we might e

[2022-03-20 13:38] ebeshero commented on #1856
And of course we are talking about self-nesting here so of course we need to change the content model. And do something about the kludgy Schematron: either tweak it or eliminate it. I would like to just get rid of it on `<ab>`.

[2022-03-21 10:25] emamimohsen commented on #2246
In my case, every chapter of a manuscript is stored in a standalone XML file. There are cases where a spanning section starts in one chapter and ends in another one. In these cases, the @spanTo reference point is located in a different file other than the starting point.

Although merging all the files in a hyper file (using e.g. XInclude) is a good way to represent the logical sequence of chapter

[2022-03-21 10:32] emamimohsen commented on #2246
I'm not much familiar with the TEI terminology. Thank you for clarifying the terms. I'll try to keep it tidy.

[2022-03-22 08:26] schassan opened #2248 "textLang should be able to contain bibl"
Unlike e.g. `<bibl>` and `<decoNote>`, `<textLang>` cannot contain `<bibl>` right now. But it is very reasonable that a cataloguer may want to add bibliographical references to the description of the languages used in an object.

I would like to ask to add `<bibl>` to the content model of `<textLang>`, maybe by adding it to `model.biblLike`?

[2022-03-23 16:12] rettinghaus opened #2249 "Update data.temporal.iso"
TEI should adopt the updates to ISO 8601 published in 2019.

E.g. it eliminates the possibility to encode "24:00", which we specifically address in the remarks in `data.temporal.iso`.

However, it needs to be discussed if this will be just a minor update, or if we should remodel it completely, as ISO 8601 now comes in two parts.

The second part (ISO 8601-2:2019) allows e.g. ranges. So if we adopt

[2022-03-23 17:00] bansp commented on #2249
With regard to the last statement, I would say, instinctively, that the changes in the ISO standard are perhaps not enough to deprecate attributes other than `@when-iso`, for two interconnected reasons:

- the Guidelines as a whole are not a reference implementation of ISO standards (although I would definitely argue that they should make it possible to easily tailor the model/schema to become suc

[2022-03-24 03:43] sydb commented on #2249
Either way, yes, updating to ISO 8601:2019 is in the cards, and the preliminary step is on my to-do list. I had plans to do some significant work in this area first over winter break 2020–2021, but COVID problems hit others around me forcing me to take on other responsibilities; and then again over winter break 2021–2022, but I got quite sick myself (not COVID). I do not expect to make any progres

[2022-03-25 15:23] peterstadler commented on #2239
Stylesheets group urges for getting the tests back. The current plan is to comment out the `rnv` part for now (or even put it into a conditional which checks the expat version) and put it back in when the fix is propagated to our Jenkins image.

[2022-03-25 15:43] hartwork commented on #2239
@peterstadler Docker image `jenkins/jenkins:lts` was last built and pushed [5 hours ago](https://hub.docker.com/layers/jenkins/jenkins/jenkins/lts/images/sha256-65cd83179ec68b047ac83875024d1515263ee36362161fe5962f7944071a0f5d?context=explore) but they do not apply all updates appearently and so their Expat is still lacking the needed backport patches. For proof:
[code]
I see these ways forward:
-

[2022-03-25 16:19] hartwork commented on #2239
@peterstadler I believe what you just did at https://github.com/TEIC/Jenkins/commit/2cce31196ea427a6b73d2a802abe93394b112d85 worked, this looks promising:
[code]

[2022-03-25 16:29] peterstadler commented on #2239
Yes, thanks @hartwork for all the support and research!

I updated our Jenkins image in TEIC/Jenkins@2cce311  to explicitly run a `apt-get dist-upgrade` which brings in the patched libexpat. This updated image is already deployed and the tests seem to work again, see https://jenkins.tei-c.org/view/TEI%20dev/  🚀

[2022-03-25 16:29] #2239 closed, assigned to peterstadler

[2022-03-29 14:28] sydb commented on #2071
@bleekere’s fix looks fine. We might want to think about whether to mention anything about spaces-in-URIs here. My instinct is “no”, it is not necessary to mention spaces in a brief description of a suggested value. But others may disagree. (In which case, they should open a new ticket, not comment here.)

[2022-03-29 14:28] #2071 closed, assigned to bleekere

[2022-03-31 08:07] laurentromary opened #2251 "Need to update ODD transformation scenarios"
Since Oxygen is using Saxon 10, there is a need to update the library components of the transformation scenarios, as documented in https://www.oxygenxml.com/forum/common-problems/topic24081.html (Thanks @ttasovac).
I have experienced another issue with the DTD transformation scenario which now fires the following error:
`Build file: /Users/romary/Library/Preferences/com.oxygenxml/extensions/v24.1/

[2022-03-31 15:21] martindholmes commented on #2251
Yes, we do need to do this; I've done one of them that caught me out, but I'll do the others too.

[2022-03-31 15:24] laurentromary commented on #2251
Thanks. The answer is actually the comment by Radu on [Oxygen 24.1 breaks transforms because we have Saxon 9 hard-coded](https://github.com/TEIC/oxygen-tei/issues/54)

[2022-03-31 15:41] martindholmes commented on #2251
@laurentromary I've pushed the changes to Saxon to the master branch, so the stable plugin and the bleeding-edge plugin should rebuild with those changes; on the log4j issue, I'm waiting to hear from @raducoravu about possible impacts for older Oxygen versions.

We don't currently have a mechanism by which the Oxygen team can let us know about breaking changes they introduce to the software. What

[2022-04-01 12:52] martinascholger commented on #2244
Updated members and terms. The working groups also need to be updated.

[2022-04-01 21:30] sydb commented on #2139
Note: this issue has a corresponding [pull request](https://github.com/TEIC/TEI/pull/2143).

[2022-04-02 10:36] peterstadler commented on #2138
duplicate of #2106, closing here

[2022-04-02 10:36] #2138 closed, assigned to tuurma

[2022-04-02 11:00] tuurma commented on #2144
VF2F subgroup suggests:

* change the value of `key` in the existing example to `@key="name-427308`
* add *another* example which uses the same scenario but `@ref="http://nzetc.victoria.ac.nz/tm/scholarly/name-427308.html"` instead of `@key` to illustrate the difference between use of *magic token* like `@key` vs *proper reference* one can actually resolve

[2022-04-02 11:07] MarjorieBurghart opened #2252 "Misuse of @xml:lang in an example for msPart"
Hi!
In an example featured on the msPart element description:

https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-msPart.html

the `@xml:lang` attribute is misused on this element:

[code]

With this encoding, we would expect the summary to be in Latin. It's probably a little confusion with textLang/@mainLang.

[2022-04-02 11:37] sydb commented on #2252
Worse, we would expect the summary to be in whatever `"lat"` means. Latin is `"la"`.

[2022-04-02 11:59] sydb commented on #2144
Perhaps 3 or 4 examples (in addition the the Victor Hugo example):

1. `key="name-427308"`
2. `ref="http://nzetc.victoria.ac.nz/tm/scholarly/name-427308.html"`
3. `ref="nzvn:427308"`
4. `ref="./named_entities.xml#o427308"`

And personally, I think the language denigrating `@key` should be toned down. The main problem with a magic token is not that “there is no way of ensuring that the values used

[2022-04-02 13:44] MarjorieBurghart commented on #2252
Actually... Why isn't `@xml:lang` limited to the values of the adequate list of languages? I mean, using 3-letter language codes is a very common mistake, and I am sure I have also been guilty of it.

[2022-04-02 14:10] ebeshero commented on #1856
Council VF2F decides we will work on creating `model.abLike` to allow `<ab>` to nest.

* This is *only* to allow `<ab>` inside `<ab>`
* Not to allow `<ab>` inside `<p>`
* Not to allow `<p>` inside `<ab>`
* Question to investigate: What do we do with `model.pLike`?

Idea: `<p>` is abLike rather than `<ab>` is pLike.
Council subgroup plans to meet in late May to work on the modeling and prose change

[2022-04-02 14:34] martindholmes commented on #2252
@MarjorieBurghart We can't really constrain `@xml:lang` because private use extensions (-x-*) are acceptable, and because the IANA language subtag registry does change steadily over time.

[2022-04-02 14:44] MarjorieBurghart commented on #2252
Fair enough.

[2022-04-02 14:54] sydb commented on #2252
Good question. The list cannot be enumerated, of course, because there are **way** too many combinations of _language-script-region-variant-extension_. But several of us have written regular expressions that can certainly help. But in order to catch this sort of error, the regular expression has to include the actual list of [registered language tags](https://www.iana.org/assignments/language-subt

[2022-04-02 15:14] lb42 commented on #2252
I was just looking at invisible XML myself. I wonder how it would cope with bare text or PDF... Seems like all the examples are about other formal languages with nice simple grammars

[2022-04-02 16:47] martindholmes commented on #2252
There is a tool for turning the subtag registry into a regex for checking things:

https://github.com/projectEndings/diagnostics/blob/dev/utilities/subtag_reg_to_xml.xsl

[2022-04-02 16:48] raffazizzi commented on #2110
At April 2022 VF2F council proposes to go with @knagasaki 's example for the nested approach. For the non-nested, council favors @martindholmes 's second suggestion:

So:
[code]

Council thinks `@place` value and sequence are adequate to encode and process the example above, and this approach has the added advantage of not requiring to extend the list of values for `@place`.

If there are any obje

[2022-04-02 16:52] JanelleJenstad commented on #2111
At April 2022 VF2F, we decided to make a bug report to STF.

[2022-04-02 19:52] sydb commented on #2252
@lb42 (not that this is the place to discuss iXML, but since you bring it up …) Yes, it is about transforming text that can be expressed with a nice grammar. Whether it is simple or not is up to you. (The examples are all simple for pedagogical reasons, I suppose.)

@martindholmes — Well, that sorta takes the fun out of it, doesn’t it?
Any reason not to make a regex like this one the definition of

[2022-04-04 12:11] #2236 closed, assigned to sydb

[2022-04-05 02:06] sydb commented on #2252
Oh my, @MarjorieBurghart, you have stumbled into a bit of a hornet’s nest. Besides the language problem you point out (which I have to admit, I do not know how to encode properly), there is also a `<remarks>` element (which shows up on that page as a “Note”) that refers to “that last example”, and says the weirdest thing about it: that it demonstrates you can use “`<altIdentifier>` rather than `<m

[2022-04-05 10:45] MarjorieBurghart commented on #2252
@sydb *gasp*

[2022-04-06 16:24] #1572 closed

[2022-04-06 16:53] martinascholger commented on #2110
I would add the two examples to the Core module, after this example: https://tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#index-egXML-d52e31892 @kzhr, @knagasaki, @martindholmes do you agree?

[2022-04-06 17:00] martindholmes commented on #2110
@martinascholger That makes good sense to me. And I'm just off to fix that typo "lanuages". :-)

[2022-04-06 19:53] JanelleJenstad commented on #2227
@bansp: Can you recommend some wording that would allow us to indicate the need to refer to a standard without mentioning datcat?

Here are the sections of the Guidelines that currently contain references to ISOcat:

Attribute class: att.datcat

Element spec: `<gram>`

[Example in 18.3](https://tei-c.org/release/doc/tei-p5-doc/en/html/FS.html#index-egXML-d52e130992)

[Text of 18.3](https://tei-c.o

[2022-04-07 07:04] kzhr commented on #2110
It's fine for me, too. Thanks!

[2022-04-07 09:42] bansp commented on #2227
I can submit a PR some time after this week.  Will try to keep this in sights. Cheers!

[2022-04-07 15:58] sydb opened #2254 "<measure> should be a member of att.ranging"
4 of the 5 attributes provided by att.ranging have the word “measurement” in their definitions. Yet, to my surprise, `<measure>` is not a member! (The members of att.ranging are [1], but some of those really should be removed from this class. See #299, which I just realized is still assigned to me, but probably should be assigned to @hcayless.)

Seems to me it is important to be able to express ra

[2022-04-07 16:30] martinascholger commented on #2110
If I understand @kzhr's comment correctly, the bopomofo example should be encoded using the parallel approach and not with the nested approach. This would mean that we need another example for the nested approach, right?

[2022-04-07 21:13] JanelleJenstad commented on #2227
Thanks @bansp! We refrigerate this weekend. We can sneak these changes into the upcoming release if you are able to do them early next week.

[2022-04-07 21:32] bansp commented on #2227
I'd love to say "challenge accepted", but I am unable to make promises at this point. Will try my best though, knowing the stakes. :-)

[2022-04-07 23:22] sydb commented on #2049
### Where we are so far — Or, Plan Reduex

Here are the steps from the original post on this ticket, annotated with what has been done so far.

1. ~~Decide on an alternate encoding of FPIs. My current favorite is to use an `<idno type="FPI">` exactly where we currently use `<altIdent type="FPI">`.~~ — DONE, we have agreed to `<idno type="FPI">`
2. ~~Decide which elements should, and should not, ha

[2022-04-08 13:53] sydb commented on #2070
So I spent quite a bit of yesterday on this ticket. It is quite a tangled web of confusion, IMHO. A large part of me wants to say @peterstadler is right, there is just no need for this check. But then again, links from the README files _should_ work, and to ensure that they work they should be tested somehow.

So here is some preliminary research results.

The list of files used as input, and thus

[2022-04-08 14:18] #2209 closed, assigned to ebeshero, bleekere

[2022-04-08 14:28] #2217 closed, assigned to peterstadler

[2022-04-08 18:45] martinascholger commented on #2110
In the Council meeting today we agreed that the anchors should be removed in the example demonstrating the parallel approach and that the nested example should be implemented as suggested by @knagasaki.

[2022-04-09 22:46] sydb opened #2257 "constraint for calendar= of att.datable thinks whitespace is a date"
Where the "calendar" `<constraintSpec>` in att.datable has `string-length(.) gt 0` it should probably have something like `string-length( normalize-space(.) ) gt 0` or `normalize-space(.) ne ''`.

[2022-04-10 00:05] sydb opened #2258 "msIdentifier constraint should test node instead of its name; and does it make sense?"
The "msId_minimal" test in Source/Specs/msIdentifier.xml reads
[code]
That is a bit confusing, and the use of local-name() is generally frowned upon when the node itself can just be tested:
[code]
But, more importantly, the relationship between that test and the content of the report it appears on seems a bit off. The report content is “An msIdentifier must contain either a repository or location”

[2022-04-10 00:24] sydb opened #2259 "variantEncodingLocation test should be simplified"
The assertion test of the "variantEncodingLocation" constraint in variantEncoding.xml reads
[code]
While I believe that is exactly correct (in that it returns true() appropriately) it is quite hard to understand (especially considering you have to, even if just for a moment, consider what happens if one of the things being compared is a sequence — only for a brief moment because none of the things

[2022-04-10 00:42] sydb opened #2260 "objectIdentifier_minimal test is both complex and unnecessary"
The report test of the "objectIdentifier_minimal" constraint reads
[code]
Well, since the result of a count() _cannot_ be negative (or fractional), saying “is not greater than zero” is the same as saying “is zero”, which would seem to be a lot simpler. So either
[code]
would be a better way to express this, I think. But more importantly, the content model of `<objectIdentifier>` is
[code]
If we ju

[2022-04-10 01:10] sydb opened #2261 "no need to specify scheme when deleting a constraint specification"
The `@scheme` attribute of `<constraintSpec>` is required. Seems to me it should **not** be required when the `@mode` is `delete`. (Why should I need to know what scheme it was in just to get rid of it?)

[2022-04-10 01:21] sydb opened #2262 "more examples of `@mode` on specification elements"
There are _no_ examples (nor any discussion that I am aware of) of deleting, replacing, or altering a constraint specification. We first have to make sure that doing so actually works, of course. (If it doesn’t, that is a Stylesheets issue.)

Suggestion
----------
[This is just a sketch of a pedagogical scenario for demonstrating these.]

A modern manuscript project uses the transcr module (Repres

[2022-04-10 03:49] ebeshero commented on #2260
Yes—seems funny that the constraint is there at all! I wonder if we have more Schematron tests like that trying to count more than zero children?

[2022-04-10 03:59] sydb commented on #2260
At first blush, no:
[code]
(Just looking for `//tei:constraint//@test[ contains( ., 'count') ]`. The 1st column there is the number of occurrences in p5subset.xml.)

[2022-04-10 08:55] lb42 commented on #2261
Somewhat far-fetched, but might you not have a situation where you express your  constraints using multiple @schemes, and then select which one to apply at runtime? in which case you might well need to specify which one you're trying to delete.

[2022-04-10 08:57] lb42 commented on #2258
The work group was quite keen on the idea that a minimal msIdentifier might only tell you vaguely where to find the thing, citing cases where a collection (or institution) has only one or two mss.

[2022-04-10 11:17] sydb commented on #2261
`@scheme` is defined as only 1 (enumerated) value, and thus cannot contain spaces; so there is not really any mechanism for _saying_ you are using multiple schemes. Besides, `<constraintSpec>` has only 1 child `<constraint>`, so where would you put the constraint in scheme 2?
I suppose someone _could_ say
[code]
but I would want to actively discourage such a mash-up. (And we do: they would have to

[2022-04-10 11:42] sydb commented on #2258
OK, thanks @lb42. That explains why
[code]
might be a perfectly acceptable minimal manuscript identifier. But it does not explain why the error “An msIdentifier must contain either a repository or location” should be issued for it, but not for
[code]
which does not actually contain a repository or location. Note that this message is appropriately not issued for
[code]

[2022-04-10 18:28] ebeshero commented on #2197
@JanelleJenstad I'm going through tickets for the milestone since we're about to go into Refrigeration. We can try to knock this out today, but if we run into complications in testing/building, we'll punt to the next release, okay? I think we can get this through, though.

[2022-04-10 18:33] ebeshero commented on #1715
@raffazizzi Do you want to try to get this into the upcoming release, or punt to the next one maybe if we should all review the wording again in a Council session?

[2022-04-11 02:59] sydb commented on #2260
@jamescummings — Is there a strong reason to keep the Schematron constraint rather than rely on the content model, here? After all, they are _slightly_ different. Besides the fact that the Schematron gives a mildly more informative message (not a remotely convincing argument IMHO), the Schematron does allow
[code]
whereas the proposed content model would not. But in order to allow foreign elements

[2022-04-12 13:57] #1869 closed

[2022-04-12 16:06] sydb opened #2267 "detest target needs to be more comprehensible"
The **detest:** target of Test/Makefile currently does (roughly) the following:

1. Compiles detest.odd into detest.rng, detest.isosch, detest.rng, and detest.xsl
2. Under message “Validate ODD file using Schematron”, validates detest.odd (putting output into detest1.log):
  a) against ../p5odds.rng using jing
  b) against ../p5odds.message.isosch.xsl using Saxon
3. Under message “Validate ODD fil

[2022-04-12 16:21] duncdrum commented on #2267
Yes please to all of the above

[2022-04-12 19:02] raffazizzi commented on #1715
@ebeshero  I would like to see this in the new release. However, I see the ticket still has the Needs Discussion label, so I'm not sure if I can just go ahead and make the change directly. I have created a PR https://github.com/TEIC/TEI/pull/2269 and it would be great if we could merge it during this week, but if you or @sydb think the Needs Discussion label is there for a good reason, we should d

[2022-04-12 19:04] raffazizzi commented on #1744
After @jamescummings comments, this is squarely in "Needs Discussion" territory.

[2022-04-12 19:05] raffazizzi commented on #1805
This looks merged and completed; closing

[2022-04-12 19:22] raffazizzi commented on #1981
Updated and merged branch. https://github.com/TEIC/TEI/commit/124531b7c099d3d99a708a6217d2fe545e4de3f6

[2022-04-12 19:40] raffazizzi commented on #1981
Branch was very behind. Reverted merge and will try to fix the branch before attempting merge again

[2022-04-12 19:40] sydb commented on #1744
It was GO for a more fully-fleshed-out proposal for discussion, not for an actual implementation. 🙂

[2022-04-13 15:09] peterstadler opened #2270 "links to `att.interpLike` are broken"
in fact, the page is missing in both the current release: https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.interpLike.html
and the current dev version: https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/ref-att.interpLike.html

Various links are broken, e.g. on the pages:
*  https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/arti

[2022-04-13 15:15] peterstadler opened #2271 "broken links on BIB.html"
Was just updating the link checker job on Jenkins, so here are the fresh results for [BIB.html](https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/BIB.html)

NB, some will probably work for a browser (and only fail for a cli tool). Don't know how to whitelist those?

[code]

[2022-04-13 15:33] peterstadler opened #2272 "various broken links to external resources"
This is the (currently) last of my tickets regarding broken links and lists those that are not related to `att.interpLike` (#2270) or the bibliography (#2271).

[code]

[2022-04-13 19:14] raffazizzi commented on #1981
Merged in only prose changes (f4c625d783c10e710bbc36664ff640c1a7446736). @sydb to revise Schematron constraints soon.

[2022-04-14 11:29] chr-emil opened #2273 "Dictionaries:Homograph number is a property of the headword"
In the current dictionary module a homograph number  (`<hom>` element) can only be a direct child of the element `<entry>`, `<entryFree>` and `<dictScrap>`. This is too limited. The entries below is taken from the Bokmålsordboka (Norwegian monolingual). The dictionary is digitally edited and is stored in a relation database.
Branch:
I gren m, f; el. II grein m, f (norrønt grein) ...

Lair:
II gren

[2022-04-14 13:06] raffazizzi commented on #1715
Bump. @ebeshero and/or @sydb if either of you think the Needs Discussion label was unnecessary, I will merge the PR  :)

[2022-04-14 13:28] ebeshero commented on #1715
@raffazizzi I have read the new language in your branch and it is significantly clearer than the current Guidelines language. I think we should merge this to include in this release. Inevitably we could continue discussing, but I think if we merge this now, we can start a new discussion of how to continue improving on what you’ve formulated.

[2022-04-14 14:04] #1715 closed

[2022-04-14 16:52] sydb opened #2274 "example of decls= shows incorrect non-usage of default="
The last [example](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/VE.html#index-egXML-d52e60900) of "HDMN" (i.e., `//id('md_en')/ancestor::teix:egXML`) contains 2 `<metDecl>` children of a single `<encodingDesc>`. By definition, one and only one is supposed to bear a `@default` attribute with the value `"true"`.

   — `//id('CCAS2')/p[3]/list[1]` (To see on the web look for the bullet list i

[2022-04-14 20:15] jamescummings opened #2275 "Nabble TEI-L Archive No Longer Exists"
Vanished in a puff of server costs, the Nabble TEI-L archive no longer exists.

This is mentioned on https://tei-c.org/support/#tei-l and should be removed. There is also a separate mirror on MarkMail at https://markmail.org/list/edu.brown.listserv.tei-l which presumably will break if/when the TEI-L mailing list moves to lists.tei-c.org but might be worth recording there instead of the Nabble one.

[2022-04-15 19:07] ebeshero commented on #1999
Closing with merge of #2256

[2022-04-15 19:07] #1999 closed

[2022-04-15 20:49] sydb opened #2276 "shouldn’t the class= attribute of the attRef element be a name?"
The `@class` attribute of `<attRef>` is defined as a teidata.word. That seems odd, because the ODD construct it must match is the `@ident` of a `<classSpec>`, which is defined as a teidata.name.

I believe it should be defined as teidata.name to match that of `classSpec/@ident`.

[2022-04-16 12:39] sydb commented on #2270
Have you checked for any other missing files, @peterstadler?
The `<classSpec>` and the 4 `<memeberOf>`s that refer to it all make it into p5subset.xml.

I have to step away from computer for ½–2 hours now, but will continue to look at this when I can.

[2022-04-16 13:11] peterstadler commented on #2270
No, I haven't found any other missing files

[2022-04-16 16:27] ebeshero commented on #2270
Reviewing [the history of att.interpLike](https://github.com/TEIC/TEI/commits/dev/P5/Source/Specs/att.interpLike.xml), I’m wondering which modification led to it not being processed as a spec page in the build?

[2022-04-16 16:46] ebeshero commented on #2270
att.interpLike provides `@inst`, and on a quick test, it's available for use in a TEI All file in oXygen, so it's in the schema, but its spec page doesn't get built in the Guidelines.

[2022-04-16 16:47] martinascholger commented on #2270
It last worked in release [4.1.0](https://tei-c.org/Vault/P5/4.1.0/doc/tei-p5-doc/en/html/ref-att.interpLike.html)

[2022-04-16 16:48] lb42 commented on #2271
several of these are aged articles by me, no longer being served from my old oucs account. if you want to update them it would be better to do so via my  github bibliography http://lb42.github.io/W/operaOmnia.html

[2022-04-16 16:58] martinascholger commented on #2270
It has to do with the membership of att.interpLike to att.typed
[code]

[2022-04-16 17:02] martinascholger commented on #2270
https://github.com/TEIC/TEI/pull/2053

[2022-04-16 17:06] martinascholger commented on #2270
See also PR https://github.com/TEIC/TEI/pull/2053

[2022-04-16 17:13] #2110 closed, assigned to martinascholger

[2022-04-16 19:15] #2197 closed, assigned to martindholmes, ebeshero, JanelleJenstad

[2022-04-16 19:23] ebeshero opened #2277 "Seeking examples for att.written on stage"
We should develop some examples for the use of `att.written` on `<stage>` for the Guidelines Drama chapter call for examples using att.written on `<stage>` to include in the stage section of the Drama chapter: https://tei-c.org/release/doc/tei-p5-doc/en/html/DR.html#DRSTA We can reach out to the TEI community for help and supply some example from our projects.

[2022-04-16 19:38] sydb commented on #2270
There are 4 members of att.interpLike: `<(interp|span)(Grp)?>`.
I have tested by removing att.interpLike from att.typed, removing all 4 local-overide definitions of `@type`, and adding all 4 of those elements directly to att.typed.

The good news is that this works: it puts ref-att.interpLike.html back. The bad news is that, of course, it leaves #1844 and #2012 back to square 1.

[2022-04-16 19:40] sydb commented on #2270
I have no doubt that, despite leaving #1844 and #2012 out to pasture, this is what we should do for the upcoming release. (I am not sure how we word such a regression in the release notes, though. :-)
The question is, do we try to a) do the clever (and probably more correct) process of figuring out how to use git to back out those specific changes, or b) do I just check in what I have already done

[2022-04-16 19:43] sydb commented on #2270
My plan is to start working on (b) in a new branch. If someone can figure out how to do it git-wise, we don’t have to merge in my new branch.

[2022-04-16 19:51] ebeshero commented on #2270
It seems to me that b) is probably less error prone. Yeah, we're reverting a couple of things, but I don't know that we'd want to remove all record that we tried them. We'll probably want to alert people on the original tickets that we needed to undo those changes.

[2022-04-16 20:39] JanelleJenstad commented on #2270
The original #1844 pointed out that att.interplike had ad hoc definitions of `@type`. Is the plan to revert to the ad hoc definitions?
I agree that b) is probably the wise path.

[2022-04-16 22:31] sydb commented on #2270
@JanelleJenstad — I have not tried putting the ad hoc definitions back, yet. (Very busy around here: WWP web server keeps going down.) I am going to try to put them in and kick off a build before dinner (so it can build while I cook :-)

[2022-04-16 22:32] sydb commented on #2270
@ebeshero — Not as though the information would be completely lost; after all, git is a version control system. But it would be lost _to me_, because I am not that facile with git. But given that 2 of us now lean towards (b), I am going at it …

[2022-04-17 04:30] sydb commented on #2270
I have pushed _a_ solution to the new 'issue_2270_revert_2012_1844' branch. I have not issued a PR yet, as I may want to try a few tweaks, first. In the meantime, anyone and everyone should please check this branch out, make sure the build works, and check that the 5 involved tagdocs (`att.interpLike`, `<interp>`, `<interpGrp>`, `<span>`, and `<spanGrp>`) look right.

[2022-04-17 10:05] martinascholger commented on #2270
looks good to me

[2022-04-17 12:18] sydb commented on #2270
Thanks, @martinascholger. I am planning to work on this more (and probably submit PR) later this morning.

[2022-04-17 15:33] hcayless opened #2279 "Constrain translatable elements in TEI ODDs"
To make it easier to build and maintain a translation interface for the TEI documentation, a few additional constraints would help:

1. Require that the English version of a desc, gloss, or remarks come first. This is a convention followed everywhere in the Specs as far as I can tell, but I don't think it is enforced. It is easier to look at preceding siblings for the "main" version than to have t

[2022-04-18 12:36] sydb commented on #2279
I submit that these are changes that should be made to p5odds.odd (where, BTW, the "only-one-remark-per-lang" constraint comes from), not to the _Guidelines_ themselves, in which case I am 100% in favor.

I get the duplicate in same language constraint, makes perfect sense. However, need to define “same language”. One (easy)  way to do so is to say “the values of `@xml:lang` match”, which I think

[2022-04-18 14:10] #2270 closed, assigned to nobody

[2022-04-18 14:43] #2260 closed, assigned to ebeshero

[2022-04-18 15:01] jamescummings commented on #2260
Apologies, @sydb, didn't see this until now. There was someone when it was created that was suggesting objectIdentifier should be allowed to be empty with just a corresp attribute for some reason. That is why the constraint was done as a poorly constructed schematron. (To make it easier to ignore) But I think that was a hypothetical suggestion in any case. I've no objections to just making the con

[2022-04-19 11:33] #2106 closed, assigned to HelenaSabel

[2022-04-19 12:29] hcayless commented on #1933
Note has some examples of translated exempla. See https://github.com/TEIC/TEI/blob/077922174659344813a2ed4b8aa0eb8ab07e5636/P5/Source/Specs/note.xml#L37 and https://github.com/TEIC/TEI/blob/077922174659344813a2ed4b8aa0eb8ab07e5636/P5/Source/Specs/note.xml#L62
as well as https://github.com/TEIC/TEI/blob/c358e91d584217169aecbad401070603a9dcc5c5/P5/Source/Specs/note.xml#L103, https://github.com/TEIC/

[2022-04-19 12:32] hcayless commented on #2279
@sydb imagine you have a desc in German, and you want to know if it's out of date. It's easier if you can just look back at the preceding English desc rather than have to look at both preceding siblings and following siblings.

And yes, I agree about where to make the changes.

[2022-04-19 16:51] #2244 closed, assigned to martinascholger

[2022-04-20 04:07] sydb opened #2282 "attributes of `<attRef>`"
[With great thanks to @dmj for bringing this up.]

The `<attRef>` element has both a `@class` attribute and a `@name` attribute. The _Guidelines_ make pretty clear (by example) what an `<attRef>` that has both of these attributes means. But the _Guidelines_ do not address what an `<attRef>` with only 1 of those attributes means (if anything), nor an `<attRef>` with neither (which is essentially no

[2022-04-20 07:41] Martin-de-la-Iglesia commented on #1999
When I click on "bibliography", I get "Undetermined":

![tei](https://user-images.githubusercontent.com/5310837/164176301-d97b4437-b7df-4b35-8481-af5c0a829a30.png)

(This occurs also on the previous example, `<facsimile> <surfaceGrp n="leaf1">` etc.)

[2022-04-20 09:56] schassan commented on #2214
I realised that I should have contributed to the discussion before in order to have this issue dealt with in the current release. :(

I would like to stress the importance that this change has for us thus I would aks for priorisation in the next release.

Maybe it is a good idea to allow every order of top level elements (after msIdentifier and head) because there might be communities which are in

[2022-04-20 17:07] martindholmes opened #2283 "simplePrint needs to be updated for missing charName and glyphName"
The simplePrint documentation:

https://tei-c.org/release/doc/tei-p5-exemplars/html/tei_simplePrint.doc.html

shows

[code]

presumably because the ODD file hasn't been fully updated to take account of the removal of those two elements in the 4.4.0 release.

[2022-04-21 14:09] martinascholger opened #2284 "Update list of working groups in Preface and Acknowledgments"
Update list of working groups in 'Preface and Acknowledgments' on Source/Guidelines/en/FM1-IntroductoryNote.xml.

[2022-04-22 01:26] sydb opened #2285 "more on `<altIdent>`"
### introduction

If you thought #2049 was more than enough fixes for [`<altIdent>`](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-altIdent.html), think again. Now that we are on the road to improving its content and where it can go in a TEI document, it is time to start thinking through its semantics and required constraints more carefully. (This, BTW, comes up acutely in the context o

[2022-04-22 16:47] HelenaSabel opened #2286 "errors in the generation of templates"
`TEI/P5/Exemplar/make_template.xsl` generates a `.properties` files with an XML declaration.

[2022-04-22 19:05] sydb commented on #2286
There are 2 different mechanisms for a TEIC/TEI/P5/Exemplars/*.template file to record the “name” of the template:

1. as the `@n` of the outermost element;
2. as a “name” processing instruction which is a child of the outermost element.

There are 21 .template files. Twenty of them use (1); and only one (isofs.template) uses (2).

Does anyone know why the isofs template file uses a PI instead of

[2022-04-23 03:12] sydb commented on #2286
I have overhauled the system in branch "sydb_issue_2286". It seems to pass both `make clean validate html-web test exemplars teiwebsiteguidelines pdf epub` and a separate `make clean dist-exemplars`; the generated template files (.xml) look right to me (and the URLs for the schemas, probably the trickiest bit, resolve to the correct schema, too); and of course the generated .properties files no lo

[2022-04-23 13:40] martindholmes commented on #2286
I've added two jobs in my Jenkins "Temporary Jobs" view, one to build P5 from your branch, and one triggered by it to build the Oxygen plugin from the results of that branch. When all that's done in a couple of hours, we can somehow test the plugin; I think the simplest way to do that will just be to overwrite the contents of the plugin stuff in our Oxygen extensions folder with the products of th

[2022-04-23 16:57] martindholmes commented on #2286
@sydb I think there may be a problem here. I've now taken the templates folder output of the temporary Oxygen job and copied the templates folder over the top of my local Oxygen TEI plugin, and confirmed that the templates still work; the properties files no longer have the unwanted XML declaration. BUT the built plugin doesn't seem to have templates for ODD, and it doesn't have a properties file

[2022-04-23 17:00] sydb commented on #2286
Can provide the ptr to the templates folder?

[2022-04-23 17:03] #2185 closed, assigned to hcayless, sydb

[2022-04-23 17:06] martindholmes commented on #2286
@sydb I emailed you.

[2022-04-23 17:23] sydb commented on #2286
Check, thanks. Will try to look at this more carefully soon.

[2022-04-25 13:54] sabineseifert commented on #2241
Created branch and PR with updated glosses in French as suggested above.

@matgille Thank you for the suggestions! Please provide Spanish translations for glosses and also translations for `gb`.

[2022-04-25 14:36] ebeshero commented on #2241
@sabineseifert I suspect that @HelenaSabel can quickly provide the Spanish translations here! And @raffazizzi can supply the Italian!

[2022-04-25 17:09] sydb opened #2289 "jTEI ODD invalidity"
Validating the file P5/Exemplars/tei_jtei.odd yields the following error.

I am pretty confident the `@ident` on [line 3066](https://github.com/TEIC/TEI/blob/94a2bcbee4b339759d394838622e0c7be26968f4/P5/Exemplars/tei_jtei.odd#L3066) should be "jtei.sch-val" (instead of "jtei.sch-att").

[2022-04-25 17:44] martindholmes commented on #2289
@sydb Definitely -- just change the ident to jtei.sch-val.

[2022-04-26 07:17] dmj commented on #2285
Thanks for summing this up! In the prose of the guidlines I also found this remark:

From my understanding this means that we always have at least one implicit altIdent. This clears up https://github.com/TEIC/Stylesheets/issues/237 I think.

I would opt for solution 2: If an *Spec contains multiple altIdent and the ODD to RNG processor cannot make a decision which one to use, it should fail.

[2022-04-27 14:48] #2289 closed, assigned to sydb

[2022-05-02 11:11] HelenaSabel commented on #2241
Thanks for the mention, @ebeshero !

The glosses can be translated into Spanish as follows:

- `pb` = inicio de página
- `cb` = inicio de columna
- `lb` = inicio de línea

@sabineseifert When you do the PR of this, can you add me as a reviewer? I could take a look at the `<desc>` elements then to suggest an improvement/update of the Spanish translation.

[2022-05-02 14:29] cthomasdta opened #2291 "Allow `@hand` in `<metamark/>`"
Dear all, I had in the back of my mind that `@hand` had gone global not so long ago, but it is not allowed as an attribute for `<metamark/>`.

I think `@hand` should be allowed in `<metamark/>`, just as `<handShift/>` is allowed there, but for those who prefer the more light-weight use of attributes inside container element instead of `<handShift/>`s.

What I want to do is indicate that the "graph

[2022-05-03 12:38] cthomasdta commented on #2291
ah, never mind: I *can* solve it with `<add>`:

[code]

[2022-05-03 12:39] cthomasdta commented on #2291
Closed, only to be re-opened should there be the need to actually apply `@hand` inside `<metamark/>`!

[2022-05-03 12:39] #2291 closed, assigned to nobody

[2022-05-03 12:54] cthomasdta opened #2292 "Allow `<listBibl>` in `<abstract>`"
In the teiHeader of letters we give a summary of the relevant contents of said letter in `../profileDesc/abstract/p`, cf. `<abstract>`
element, https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-abstract.html. Additional to that `abstract/p` we keep lists of different entities mentioned, and would like to keep the lists *inside* the `<abstract>` element. For these lists, we happily use `<lis

[2022-05-10 18:03] ebeshero opened #2295 "Add an organism element"
In working on #2189 and #2190, we find a need for an `<organism>` element as distinct from a `<person>` element to assist in encoding plant, animal, and other life forms that may have biological sex. This is a need in many projects which have otherwise been customizing `<person>` and `<list>` to deal with the lack of expressivity in our Guidelines on this matter.

[2022-05-11 00:11] sydb commented on #2295
I am not expressing a significant opinion one way or the other on `<organism>` itself. But I am about to make a “slippery slope” argument against. The reason this is not truly expressing a significant opinion is that, as many readers of this conversation will know, I do not think slippery slope arguments hold much water. But they ain’t nuthin’, neither.
___
But where does it end? TEI has various e

[2022-05-11 03:31] ebeshero commented on #2295
@sydb Indeed, we are aware of projects and of cultural heritage documents (such as medieval bestiaries, Erasmus Darwin's *The Loves of Plants*, H. G. Wells' *The War of the Worlds*, among many others), that take the world of non-humanoid entities very seriously indeed, even in a classificatory way. The letters of Mary Russell Mitford encoded in The Digital Mitford project have long been relegated

[2022-05-11 03:41] ebeshero commented on #2295
As for monetary systems, @sydb , you certainly remember the work we did on `<unitDecl>`, but that is beside the point. We call here for an `<organism>` element because our existing guidelines give us only `<person>` and that is not good enough. I should remind us of the `<object>` element as well: https://tei-c.org/release/doc/tei-p5-doc/en/html/ND.html#NDOBJ to address your "slippery slope" quest

[2022-05-11 05:51] duncdrum commented on #2295
Let’s not forget that in historical documents both mythical and non-mythical beast appear. `object` and `Name`  seem equally suboptimal, compared to the proposed `organism` .

[2022-05-11 13:17] jamescummings commented on #2295
To address the questions of non-human beasts, aliens, etc. I remember asking this question during the P5 updating of named entity elements and being told very certainly that mythological creatures, deities, beasts, aliens, sentient robots, etc. all should be described using 'person'.

If you are going to tell me that Ratty and Moley from Wind In The Willows are not people, we'll have a big argumen

[2022-05-11 13:40] duncdrum commented on #2295
I'd say the question is if the document at hand treats these entities as persons or not. Personlike and objectlike treatment of animals can coexisting within the same text. My political views about animal personhood aside, I think a third category between person, and stuff makes perfect sense.

[2022-05-11 13:42] sydb commented on #2295
I am with you, @jamescummings, that many an alien, the Sphinx, Winnie-the-Pooh, Peter the Rabbit, and even Bambi can all be encoded as `<person>`. But thinking of Lassie or Buck (from _Call of thte Wild_) as a person is more of a stretch; and thinking of Captain Cook (from _Mr. Popper’s Penguins_) as a person seems outright problematic (if I remember the story correctly).
In any case, thinking of

[2022-05-11 13:43] HelenaSabel commented on #2295
I agree with @duncdrum and @sydb : I think that the issue arises when we require to encode animals and plants without personification.

For example, @ebeshero mentions bestiaries and I think is a good example of descriptions of animals that present several traits that an encoder would like to encode by means of `<sex>` and `<trait>` without having to use `<person>` (because there is not always a p

[2022-05-11 15:19] lb42 commented on #2295
Two, no, three questions:
1. Is the proposal also to create an "organismName" element for the special case of a name which refers to an organism"? (I spy endless confusion with "orgName" in the distance)
2. Are "person"  "place" and "object" to be considered special cases of "organism" (special because their content models are slightly different), or ontologically distinct?
3. Now that we've all s

[2022-05-12 13:54] mathias-goebel opened #2296 "native IDREF vs. URI matching regex "\S+""
I recently upgraded from TEI 4.3.0 to 4.4.0. I suspect a change related to the `@xml:id` data type as i observe the following.
Oxygen conveniently provides list of already present values of `@xml:id` when adding an `IDREF` typed attribute. This helpful list disappeared with version 4.4.0.
I can reproduce the issue taking a sample document that contains something like `tei:handNote/@xml:id` within

[2022-05-12 14:12] sabineseifert commented on #2241
Thanks, @HelenaSabel, for the translations. I just added them to the PR #2288.

It would be great if you could have a look at the Spanish descriptions.
And @raffazizzi, it would be great if you could have a look at the Italian glosses and descriptions.

[2022-05-12 23:00] ebeshero commented on #2295
@lb42 for the case of referencing the name of an organism, I agree that `<organismName>` is too much and confusing! But I think we can handle this with just `<name type="organism">` and work with existing elements only, and that may answer your second question about ontological relations.

I am not sure we want the more general `<entity>` instead of `<organism>`, since entity need not have a biolo

[2022-05-13 14:21] lb42 commented on #2295
I've no wish to reignite an old argument (especially one I lost), BUT it occurs to me that animals are frequently given names indistinguishable from those of people (e.g. "Empress of Blandings", "Bustopher Jones", any racehorse you fancy...). As indeed are places, particularly pubs ("Empress of Blandings" (again), "The Rupert Brooke", "General Elliott"). Any simple minded typology for `<name>`  ri

[2022-05-13 20:14] ebeshero commented on #2295
@lb42 I don't see why not! It seems to me that the inline markup could classify the name as a `<persName>`, or `<name type="person">` or `<name type="organism">` as needed with an `@ref` pointing to a distinct identifier in an `@xml:id` on `<organism>`.

I was thinking about what would go inside the the `<organism>` in a prosopography entry. I definitely agree we wouldn't really want `<organismNam

[2022-05-14 01:11] sydb commented on #2295
In response to @lb42’s  [three questions](#issuecomment-1123921215):

1. I hope not.
2. I do not think so. I think `<person>` is a special case of `<organism>` in a semantic (not necessarily content-model) sense, but `<place>` and `<ojbect>` (and `<org>` and `<nym>`) are not.
3. I think you mean that we might start using the word “entity” to refer to the things named by named entities. I am not su

[2022-05-14 01:46] sydb opened #2297 "bad example of `@role` of `<roleName>`"
The tagdoc for `<roleName>` (i.e., P5/Source/Specs/roleName.xml) has 3 examples of the `@role` attribute, all with the same value, "#solicitor_general". Since the datatype of `@role` is teidata.enumerated, not teidata.pointer, that sharp sign (hash mark, number sign, octothorpe, whatever — U+0023) should not be there.

[2022-05-14 02:05] sydb commented on #2295
In response to @lb42’s [latest comment](#issuecomment-1126114837):

I am not sure what the old argument was, or on which side you were on, and I only care out of an interest in the history of TEI. As it stands now, we may _wish_ that `@role` was how TEI indicated the type of object the encoded word or phrase is referencing, but it is not. `@type`, perversely, has that task. The `@role` attribute i

[2022-05-14 02:54] #2297 closed, assigned to sydb

[2022-05-14 03:19] sydb opened #2298 "description vs gloss in `@type` of `<divGen>`"
I think some of the `<desc>` elements inside `<valItem>`s in the definition of `@type` in the element specification of `<divGen>` (i.e., in P5/Source/Specs/divGen.xml) should be `<gloss>` elements instead.

[2022-05-14 13:11] lb42 commented on #2298
I think this is a systematic problem actually

[2022-05-14 19:45] sydb commented on #2279
I have implemented this in branch sydb_2279. I found that there were 10 errors our new constraints found, and was able to fix 6 of them myself quite easily. HOWEVER we have trouble in this here paradise. In the following cases, there **is no** English `<desc>`, `<gloss>`, or `<remarks>`, thus it _cannot_ come first, and the constraint that the English must come first fails, and the build will brea

[2022-05-15 01:52] sydb commented on #2298
It strikes me as quite possible you are correct, @lb42. So …

I have just written a routine to make a table of descriptions and glosses. Seems to me any description that contains that which should have been a gloss will be pretty short. So the table includes a column for the approximate length of the description. Sorting the table by this column is somewhat instructive. At first glance it seems th

[2022-05-18 09:37] mathias-goebel commented on #2296
because i got no response so far here, i did another test, just to make sure the issue is reproducible.
the newly appeared error message, that likely prevents Oxygen from its regular `IDREF` parsing is `value of attribute "hand" is invalid; must be a URI matching the regular expression "\S+"`.

That message appears for this document, where Verison 4.4.0 is used and no auto-completion list is shown

[2022-05-18 10:10] sydb commented on #2296
I have duplicated the problem. Interesting point.

Never came up (for me) in testing, because I typically leave the “Check ID/IDREF” box _unchecked_ because of the problem (which I consider an error in oXygen, but I do not think SyncRO Soft agrees) described in [Appendix 1. Technical Problem: Conflicting ID-Types](https://journals.openedition.org/jtei/2573#annexe).

This ticket should be reviewed

[2022-05-18 12:20] peterstadler commented on #2296
I haven't noticed this ticket until @sydb responded but came across that issue, too. I posted to https://www.oxygenxml.com/forum/tei/topic24291.html and again the Oxygen people were very helpful and provided some tipp.

[2022-05-18 13:41] mathias-goebel commented on #2296
That does not make it easier for our use case, where we are not using the framework (just pointing to our customized RNG based on the latest version of TEI, i suspect the framework is not involved here) and where updating Oxygen is not possible for the project. we either have to stick to TEI 4.3.0 or ask for a fix by TEI, maybe a revert for the pattern constraint. But i agree that being backwards-

[2022-05-18 17:54] sydb commented on #2296
Some thoughts.

1. It is difficult to do this in Schematron, but more importantly, doing so makes a constraint that is very hard to maintain. That is because there are 62 different places xsd:anyURI is used singularly and thus would need to be included in the `@context`. And whenever that list of places changes, the `@context` has to be changed to match.
2. I have some faith that the oXygen folks

[2022-05-18 18:50] mathias-goebel commented on #2296
Wow, thank you! I was not aware of `dataSpec` at all. Never had the desire to use it! I will include in our ODD. Usage of tei_all here was for demo purpose only.

[2022-05-19 04:04] raducoravu commented on #2296
Just for completion, someone reported this issue also on the Oxygen forum: https://www.oxygenxml.com/forum/viewtopic.php?p=65900#p65900
George Bina gave there a possible workaround and we'll also try to improve things on our side so that id/idrefs content completion starts working again in Oxygen 25.0 (Autumn this year) with the TEI 4.4.0 schemas, but I'm afraid older Oxygen versions will continue

[2022-05-20 13:02] #2259 closed, assigned to nobody

[2022-05-20 13:46] sydb commented on #2296
Excellent, thank you @raducoravu, and good luck @mathias-goebel!
Closing. If there are still problems, feel free to re-open or start a new one. :smile:

[2022-05-20 13:46] #2296 closed, assigned to nobody

[2022-05-24 12:39] duncdrum commented on #2180
adapted from https://tei-c.org/release/doc/tei-p5-doc/en/html/ND.html#NDPERSE as I was just trying to do just that and realized no `person@type`

[code]

[2022-05-31 08:01] GVogeler opened #2300 "restrict embedded transcription to sourceDoc / exclude text in zone and line as part of facsimile"
The specs state "`facsimile` contains a representation of some written source in the form of a set of images rather than as transcribed or encoded text." https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-facsimile.html
The current content model of `zone` and `line` is identical in `facsimile` and in `sourceDoc` which makes it possible for users to add text to these elements in a `facsimile` str

[2022-05-31 08:07] lb42 commented on #2300
+1 from me

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: GVogeler ***@***.***>
Sent: Tuesday, May 31, 2022 10:02:03 AM
To: TEIC/TEI ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [TEIC/TEI] restrict embedded transcription to sourceDoc / exclude text in zone and line as part of facsimile (Issue #2300)

The specs state "facsimile contains a representation

[2022-06-01 14:14] sydb commented on #2282
@bleekere & I have assigned this to @martinascholger to ensure the topic is on the agenda of an upcoming Council meeting.

[2022-06-01 14:19] sydb commented on #2275
@bleekere and I have assigned to @martinascholger to get this into the hands of the webmaster.

[2022-06-01 14:34] sydb commented on #2273
@chr-emil (and @laurentromary) —

Is this a request for `<hom>` to be a child of `<form>` (seems reasonable, even if _I_ don’t do things that way) or for a new `@hom` of `<form>`, or both?

[2022-06-01 14:55] sydb commented on #2261
@TEIC/tei-technical-council  — Does anyone think this is a bad idea? If not, I can just “make it so” in a branch and issue a PR.[1] So I ask you each to post here whether you do or do not object to this idea.

**Notes**
[1] My plan would be to make `@scheme` of `<constraintSpec>` optional, then to add a `<constraintSpec>` to the definition of `<constraintSpec>` that says “The `@scheme` attribute o

[2022-06-01 17:17] bansp commented on #2273
Dear Christian-Emil, `<hom>` isn't meant to hold a label -- it's a grouping element for entry-sized objects.

https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-hom.html

[2022-06-02 10:40] chr-emil commented on #2273
@sydb @laurentromary  @bansp
I am aware that the guidelines suggest that `<hom>` is used as a way to group inside one entry dictionary entry information for homographs. To me this seems to be inspired by the Colin Cobuild dictionary format. In the Cobuild format there was for example one entry for comment (v) and comment(noun). It is ok to use `<hom>` as suggested by the guidelines as long as ther

[2022-06-02 14:10] bansp commented on #2273
I understand that `<form n="I">` is not satisfactory, in this case? It does change the text, on your assumption that attributes do not show up (which, since P5, expresses rather a tendency than a principle, @sydb correct me please if I'm wrong).

Would a solution involving `<lbl>` help? [lbl](https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-lbl.html) can take a `@type`, so one could imagine so

[2022-06-03 14:10] chr-emil commented on #2273
@bansp @sydb  It is of course possible to use the n attribute like indicated in the example at page 298. Originally TEI was led by the philosophy that removing the tags would leave the plain text untouched. This strategy has been left.  This is ok. However, if one wants to mark up a dictionary text as it stands in the printed version, it would be nice to have an element for the hom-number instead

[2022-06-06 18:59] TomazErjavec opened #2301 "Dissapearance of XML comments in egXML HTML"
Up to, at least, 2022-05-23 the XML comments in egXML were displayed in the HTML, cf. [this page](https://clarin-eric.github.io/parla-clarin/#sec-facsimile) and [corresponding XML](https://github.com/clarin-eric/parla-clarin/blob/7524d09084655644677ae2996d6d2b0f773d28f7/Schema/parla-clarin-odd.xml#L1833-L1840). But using the latest dev release of the TEI Stylesheets they now seem to be gone from t

[2022-06-09 13:28] sydb commented on #2246
Talking this ticket over with @bleekere, seems to us that @emamimohsen has a reasonable request for a reasonable (if rare) use case; furthermore of @hcayless’ two proposed solutions (1 — don’t test to see if the element `@spanTo` points at comes after the current element unless the `@spanTo` starts with '#') is all but trivial, and (2 — test to see that the file pointed at by the `@spanTo` comes l

[2022-06-09 13:35] sydb commented on #2247
Assigning to @lb42 for a brief history lesson in how `<handShift>` currently works and why it was set up that way. (We will then move to the discussion as to whether or not it should stay like that.)

[2022-06-09 14:13] sydb commented on #2252
Assigned to @bleekere to fix the actual problem @MarjorieBurghart identified. Since I do not do manuscript description and do not speak Latin and do not know the mss being described, I am not _sure_, but two real possibilities are
[code]
or
[code]
Assigned to me to create separate issues for an `@xml:lang` checking process at build time and the `<altIdentifier>` issues I noticed.

[2022-06-09 15:48] lb42 commented on #2247
Not sure why a history lesson is needed, but fwiw, `<handShift>` was defined as a phrase class element in TEI P3, rather than as a global inclusion (like pb and other mileStoneLike elements). When the wg on source-based editing took it in hand, dusted it down, and generally made it useful, they added it to the new pPart.transcription class, rather than to model.milestoneLike,  presumably following

[2022-06-09 22:31] sydb commented on #2247
Or, presumably
[code]

In the years since `<handShift>` was originally conceived as a phrase-level element rather than a global inclusion, the `@hand` attribute has become much more prevalent.  So in fact the snippet could be encoded with
[code]

But it does strike me as inconsistent that `<shift>` (which does the same soft of thing for transcriptions of spoken word that `<handShift>` does for han

[2022-06-10 02:49] sydb commented on #2282
**Addendum**

The definition of `<attRef>` is “points to the definition of an attribute or group of attributes”. How does it go about pointing to a group of attributes? All 2 examples in the _Guidelines_ show it pointing to a single attribute.

My first thought is that the answer cannot really be “If it refers to an attribute class with its `@class` attribute, but does not have an `@name` attribut

[2022-06-10 03:13] sydb commented on #2214
Some discussion of this is likely soon, @schassan, and perhaps resolution in your favor, maybe as early as the next release. But surely the Handschriftenportal project should be using a customization ODD that allows precisely the desired order of elements, whether TEI eventually comes ’round to thinking your way or not.

Note: It is even _possible_ to get your customization to require, in the RELA

[2022-06-10 09:50] lb42 commented on #2247
Well, not quite. There is an important difference between the use of `<handShift>` and the use of `@hand`. The former is a milestone element: its effect applies until the next `<handShift>` comes along. The latter asserts something about the content of its enclosing element. So the latter is no use if you want to signal that the scribe suddenly changed pens in the middle of writing a line. And usi

[2022-06-10 10:03] lb42 commented on #2301
I cannot reproduce this, though I have noticed that the formatting of egXML content with the most recent Stylesheet version seems to have changed in other respects

[2022-06-10 10:08] lb42 commented on #2282
OTOH why is it necessary to specify @class as well as @name? We require element names to be unique across all classes, so why not do the same for attributes?

[2022-06-10 12:01] sydb commented on #2247
Agreed.

[2022-06-10 12:15] sydb commented on #2282
??
We require element names to be unique across all modules (and thus throughout entirety of tei_all), not classes. Because they are unique across the _Guidelines_, elements, which declare themselves members of classes, happen to be unique within classes. But you can well imagine a customization that creates a `<custom:p>` element and puts it into model.pLike. Thus two elements in same class with

[2022-06-10 14:46] lb42 commented on #2282
true dat. there is the added complications that tei attributes are not name spaced ... i hastily retract the absurd suggestion

[2022-06-10 15:36] sydb commented on #2214
Made green for

- MS to ask the MSS-SIG whether loosening the content model to allow these four things in _any_ order is important or not. (I.e., is @schassan an outlier, and allowing just the current order and his desired order would do, or should we allow any order, which might be a bit hard to do).
- SB to work on the “hard to do” part — making sure the msDesc_2214_dtd pattern, above, can in fa

[2022-06-11 01:43] bansp opened #2303 "URLs of projects using TEI are not displayed on the individual project info pages"
As above,

- the list of projects is at: https://tei-c.org/activities/projects/
- an example can be: https://tei-c.org/activities/projects/oxford-text-archive/

Something doesn't like the `<ptr target="http://ota.hds.ac.uk/"/> ` there.

![Screenshot from 2022-06-11 03-41-46](https://user-images.githubusercontent.com/312137/173167895-a31559c6-2ae9-4716-8c84-4bd3226c39a1.png)

[2022-06-11 18:27] sydb commented on #2214
**Short version**
No, the msDesc_2214_dtd pattern, above, is non-deterministic, and cannot be converted to a DTD. Don’t know what I was thinking. *NOTE — above was edited 2022-10 and is now deterministic, so rest of this comment is here for historical reference only.*

**Medium version**
Although `trang` happily converts the msDesc_2214_dtd pattern to a DTD, that DTD is non-detministic, and thus i

[2022-06-13 10:27] bansp commented on #2303
In the example above, the thing that fails seems to be the TEI `<ptr target=...>`, as opposed to the regular HTML `<a href=...` that is used in another, working, project info page, at https://tei-c.org/activities/projects/american-verse-project/ .
Of the several projects I checked, most use the `<ptr>` element, and fail to display the links. Or maybe the ptr _does_ get displayed, but being a `ptr`

[2022-06-13 10:31] bansp opened #2304 "Reference to the nabble TEI-L web archives fails (dead link)"
Wanted to browse the list archives, went to https://tei-c.org/support/#tei-l and tried to go to http://tei-l.970651.n3.nabble.com/ (labelled "in the Nabble archive]"), but failed to resolve the link.

[2022-06-15 16:44] martindholmes opened #2306 "tagdocs elements are available in silly contexts"
The `<elementSpec>` element (to take one example) is available inside 126 different elements, which include `<u>`, `<witness>`, `<epigraph>`, and `<figDesc>`, to mention a few of the silliest. The ATOP team, in trying to figure out namespace hierarchies and other processing complexities, would really appreciate it if this could be cleaned up. It's surely arguable that the only logical parents of `

[2022-06-17 09:07] bleekere commented on #2283
Removed the charName and glyphName elements from the charDecl in the tei_simplePrint odd file, cf. #2313

[2022-06-19 10:33] kzhr opened #2314 "TEI example is old-formatted"
A TEI example cited below seems to be old-formatted and poorly displayed. I'm not sure what it should be.

https://tei-c.org/release/doc/tei-p5-doc/en/html/DI.html#index-egXML-d54e79590

A bit confusing is that this example lacks a source citation. If I remember correctly, it should have a source citation in early 2020, but I can't find recent changes around here.

[2022-06-19 14:18] sydb commented on #2314
Good grief! This example is FUBAR. Need to dig through old versions of DI to see if a version that is _not_ messed up can be found. Will try to do that early this week.

(Thank you, @kzhr !)

[2022-06-19 14:19] sydb commented on #2314
(DI-PrintDictionaries.xml line 3038.)

[2022-06-19 15:14] lb42 commented on #2314
It's not an example of TEI encoding, nor is it "FUBAR" ! (not an expression I would have expected from Syd ) It's an example of a non-TEI XML encoding which can't be transferred directly without using entryFree. That's what the surrounding text says anyway. If there;s anything to fix here, it's the formatting. Maybe wrapping this in a CDATA section would be a good idea?

[2022-06-19 15:16] lb42 commented on #2314
P.S. And there is a source citation too: but it's been given as a `<ref>` following the example instead of on the @source attribute

[2022-06-19 15:51] sydb commented on #2314
Indeed, @lb42, good point. I just read the prose and came back here to say essentially the same thing, and found you beat me to it!

I think this example should probably be wrapped in an `<eg>` (rather than `<egXML>`), using the `@source` attribute as @lb42 points out. Using a CDATA marked section (as was the case before 2007-09-29) instead of entity references would be my preference, but someday

[2022-06-19 16:45] sydb opened #2315 "example example discusses a possible future feature"
The `<egXML>` tagdoc has an example of `<egXML>` (itself, of course, encoded as an `<egXML>`) that purports to be a slide (from a lecture about TEI) that explains `<egXML>`. It contains the bullet point
[code]
This is a _possible_ solution to the general problem of highlighting within examples (see at least #1632 and #1928, probably others). But it is one that, to my knowledge, has neither been ag

[2022-06-19 16:48] sydb commented on #2315
Assigning to @jamescummings to approve or disapprove or shed light on why this is not a problem or some such. If he and I agree on a solution, assigned to myself to implement. (Unless you want to @jamescummings, in which case go right ahead. :-)

[2022-06-25 14:15] gabrielegan opened #2316 "<speaker> as content of <lem>"
A gap in a manuscript -- that is, physical damage causing some paper to be missing -- may create a situation that an editor wants to discuss in a textual note auto-created from an <app> element. The lost words in the manuscript may or may not have included a speech prefix, so it should be allowed that the element <speaker> for a speech prefix that the editor thinks was there (but is now lost) may

[2022-06-25 14:15] gabrielegan opened #2317 "<app> as sole content of a <sp> element"
I propose that `<app>` should be allowed to be the sole content of a `<sp>` element. At the moment this is invalid:
[code]

The reason seems to be that an `<app>` can't be the sole content of an `<sp>`, since adding a single empty `<l>` element fixes the above, and the following is valid:
[code]
Surely that makes no sense and there is no good reason why an `<app>` can't be the sole content of an `

[2022-06-25 14:24] sydb opened #2318 "some tei_customization constraints no longer needed"
In the implementation of #1735 we reduced the `( content | valList )*` portion of the content model of `<dataSpec>` and `<macroSpec>` to `( content | valList )?`. Thus tei_customization no longer needs to have its own content models for these (because that was the only change).

[2022-06-26 15:39] #1713 closed

[2022-06-26 19:39] sydb commented on #2318
Fixed at c1354b179.

[2022-06-26 19:39] #2318 closed, assigned to sydb

[2022-06-27 17:28] GVogeler commented on #2304
To be replaced by https://tei-l.markmail.org ?

[2022-06-27 17:31] GVogeler commented on #2304
duplicate to #2275

[2022-06-27 23:55] sydb opened #2319 "mismatch between `elementSpec/@prefix` definition and documentation"
The tagdoc for `<elementSpec>` clearly says that the `@prefix` attribute has as its value 0–1 occurrences of teidata.xmlName. Makes sense, because it is defined as
[code]
The `<remarks>` then go on to explain that “Colons, although permitted inside the value, will cause an invalid schema to be generated.”

Two problems jump out at me:

1. Colons are _not_ permitted inside the value (because teidat

[2022-06-28 00:13] #2319 closed, assigned to sydb

[2022-07-06 20:17] sydb opened #2326 "constraints on `<dataFacet>` and `@restriction` should be explicit"
Should have Schematron to enforce `<dataFacet>` or `@restriction` can occur iff `@name`, as the remarks in the [dataRef tagdoc](https://tei-c.org/Vault/P5/4.4.0/doc/tei-p5-doc/en/html/ref-dataRef.html) make clear.

(Note that #1744 may have some bearing on this, but it will take a long time, and thus should not stop us from an explicit constraint on the current system.)

[2022-07-06 20:33] sydb opened #2327 "teidata.unboundedInt should be named teidata.unboundedCount"
The datatype for a counting number (i.e., a non-negative integer) is teidata.count. The datatype for a counting number that could also have the value "unbounded" is teidata.unboundedInt.

- Whereas it is not an xs:Int plus "unbounded", as xs:Ints are limited to a max value of ±2^31;
- Whereas it is not an xs:integer plus "unbounded", because it cannot be negative;
- Whereas it **is** an xs:nonNega

[2022-07-09 15:30] sydb commented on #2132
@747 —

Council discussed this today, and we are wondering if the following would address your needs?

- Change the definition of `@version` of att.gaijiProp so that one can express a range (possibly an open-ended range) in that attribute.[1]
- Add a `@scheme` (probably to att.gaijiProp), with the default being “Unicode”.
- Add the children of `<glyph>` or `<char>` to att.datable.

Thus your origi

[2022-07-11 04:04] yheuhtozr commented on #2132
@sydb Thank you for your continued support. The described spec seems enough to cover our use cases.

Other than `<` `>` might not look nice with the XML grammar, I think the version syntax solves our problem being able to express minimum, maximum, and range.

[2022-07-11 04:19] 747 commented on #2132
@sydb

Thank you for your update and continued support. The described spec seems enough to cover our use cases. Other than `<` `>` might not look very nice in the XML grammar, I think the new version syntax solves our problem, being able to express maximum, minimum, and range.

[2022-07-11 12:47] sydb commented on #2132
OK, @747. (Or should we just call you “[Boeing](https://en.wikipedia.org/wiki/Boeing_747)”?)
One of us (probably me) will try to have a test version of this solution up (probably in a branch on this repo) within the month.

[2022-07-15 16:39] dulocian opened #2329 "Question: Lex0 compatible with Lexonomy"

[2022-07-15 16:40] #2329 closed, assigned to nobody

[2022-07-29 14:35] raffazizzi commented on #2317
This makes sense to me but we'll need to find a way to make sure the `<app>` contains the content model usually required by `<sp>`. Will discuss with the council.

[2022-07-29 14:43] raffazizzi commented on #2316
The problem is that it's not really possible with our current tools to limit the content model of `<lem>` and `<rdg>` when their ancestor is `<sp>` so if we allowed `<speaker>` in `<lem>` and `<rdg>`, it would make it available in other contexts where it doesn't belong.

Would the approach below work for you? It encodes there's a speaker, actual or presumed, and encodes the content as separate rea

[2022-07-29 14:47] raffazizzi commented on #2304
Closing as duplicate

[2022-07-29 14:47] #2304 closed, assigned to nobody

[2022-07-29 14:50] raffazizzi commented on #2303
I wonder if this is a Stylesheets issue or something to do with how the page is added to wordpress? @martinascholger do you know? It certainly shouldn't be a `<ptr>` element and it should have text content.

[2022-07-29 15:18] hcayless commented on #2316
I'm not persuaded by the argument that `<app>` is a backdoor to doing inappropriate things. But I think Raff has a point in this case. For completeness, I'd also replace the brackets with markup:
[code]
If you really want the note, it can be supplied in a `<witDetail>` or `<note>`.

[2022-07-29 15:30] gabrielegan commented on #2316
@raffazizzi Yep, what you suggest is what we settled on doing, but it's an encoding that asserts more than we want to assert. That is, we don't know that there was a speech prefix at this point in the manuscript, since a bit of paper (which may or may not have contained a speech prefix) has broken off from the manuscipt and been lost. We'd prefer the `<speaker>` element to be inside the `<lem>` el

[2022-08-10 14:05] #2283 closed, assigned to sabineseifert, bleekere

[2022-08-10 16:49] martindholmes opened #2330 "schemaSpec should provide a mechanism for specifing Schematron query language binding"
Schematron schemas can specify a range of different values for the query language binding (typically xslt, xslt2, or xslt3, but many more are listed here: https://archive.xmlprague.cz/2022/files/presentations/schematron-qlb.pdf). The ATOP team believes that TEI ODD should have a mechanism for specifying this, perhaps through an attribute on the root schemaSpec element called schQueryLanguageBindin

[2022-08-12 13:55] lb42 commented on #2136
This is surely just a stylesheet bug? Attlists should behave in the same way whether they are in a classspec or an elementspec. I see no need to change the use of @org justbecause its function now happens to be expressible in another way .

[2022-08-18 08:39] sabineseifert commented on #2241
Updated glosses and descriptions for French, Spanish and Italian for `lb`, `cb`, `pb`. Did not modify other languages.

[2022-08-18 08:40] #2241 closed, assigned to sabineseifert

[2022-08-18 09:13] sabineseifert commented on #2292
Direct approach to solving the issue could be adding `listBibl` to the content model of `abstract` like this:

[code]

Making `listBibl` member of `model.listLike` seems like a can of worms...

[2022-08-18 16:48] lb42 commented on #2292
This would of course permit an abstract containing nothing but a listBibl. Which makes me at least a little uncomfortable.

[2022-08-19 17:10] peterstadler commented on #2292
Well, it already does allow for only an e.g. `listPlace`. @lb42, would you feel more comfortable it at least one `model.pLike` was mandatory?
Any other ideas?

[2022-08-22 09:20] bleekere commented on #2252
@MarjorieBurghart following up on @sydb 's comment on June 9: do you have a strong preference for either encoding? If not, I propose we opt for:
[code]
If I'm not mistaken, the example is taken from [this manuscript](https://portail.biblissima.fr/fr/ark:/43093/mdata03e8b004bcc4f864cb0109320c0e7f7d2275d803) which seems to contain a number of texts, all in latin. But this issue really only concerns

[2022-08-31 08:57] sabineseifert commented on #2180
Here is an example with `@type` and `@role` on `<person>` to showcase and discuss possible usage and differences:

[code]

Responding to @sydb's questions, @peterstadler and I propose:
- `@type` on `<person>` should be understood as subcategory / as complementing the categorization of `@type` on `<listPerson>`; it inherits the semantics of the parent's statement and does not override and must not

[2022-08-31 16:27] martindholmes commented on #2330
The ATOP team is thinking of two distinct approaches to this:

1. (Simple): There is a single `@schQueryLanguageBinding` attribute available on `<schemaSpec>`, meaning that all Schematron rules must be compiled into a single Schematron output file and use the same query language binding.
2. (Adventurous): We create a `<constraintDecl>` element in the header, where various things can be defined and

[2022-09-01 00:24] ebeshero commented on #2330
I like the adventurous option in theory, but I’m struggling to imagine a practical use-case for generating multiple different Schematron files. I also wonder whether we run a risk of over-complicating schema validation: could multiple Schematron files potentially conflict with each other’s validation when Schematron rules from two different files are triggered in an overlapping context? I guess I

[2022-09-01 10:51] lb42 commented on #2330
If you think of the generated schematron file as an output from the odd rather than as input to the validator, surely it makes sense to maximize flexibility for its format?

[2022-09-01 13:30] jamescummings commented on #2330
The separation of concerns provided by the second option seems more in keeping with the TEI approach to such things.

[2022-09-03 15:40] sydb opened #2331 "bad link → consistent referencing needed to ISO 24611"
The first exmplum in Source/Specs/standOff.xml contains
[code]
But there is no element with an `@xml:id` of `"ISO24611"` in P5.

Turns out our references to this standard are quite scattered. Looks like there are 3 of them:[1]

1. In Source/Guidelines/en/AI-AnalyticMechanisms.xml the standard is glossed with a `<note>`, which has a `<ptr>` that #2272 flags as problematic. (But worked OK for me.)
2

[2022-09-03 16:00] sydb opened #2332 "How are we to refer to an `<egXML>`? (Or `<figure>` or `<table>`?)"
The CMC folks wanted to refer, from within a paragraph of prose, to one of the examples in the chapter. Turns out, though, if you just do the reasonable, expected thing (put an `@xml:id` on the `<egXML>`, and then refer to it with a `<ptr>`), the output looks awful. (Because the text of the pointer is created by concatenating all the text nodes in the target.) That is a Stylesheets problem (for wh

[2022-09-04 22:16] bansp commented on #2331
I may have omitted it in my commits (if the `ptr` was mine) -- sorry about that and thanks for the catch.
A stable URL for this is still https://www.iso.org/standard/51934.html (even if it ends up redirecting to a newer version, that was the version referenced in the Guidelines). And the usual reference is just
"ISO 24611:2012. Language resource management — Morpho-syntactic annotation framework (

[2022-09-07 10:33] sydb commented on #2267
This can be closed now, yes?

[2022-09-07 11:27] #2257 closed, assigned to sydb

[2022-09-07 20:52] sydb commented on #2257
Ayes 1, nays 0.

[2022-09-08 23:16] sydb commented on #2326
Actually, the work is already done, but it is internally inconsistent. Here are the three constraint specifications from dataFacet.xml.

**restrictDataFacet:**
[code]

**restrictAttRestriction:**
[code]

**restrictAttResctrictionName:**
[code]

1. The first two are nonfatal, but the third is fatal.
1. They each test three conditions. However, the first two test two conditions in the `@context` and

[2022-09-11 07:13] sydb commented on #2144
So would @stuartyeates or @Conal-Tuohy be able to provide another example with citation in the near future? (Just the information to make an example is sufficient; would be happy to make into actual TEI example and Bibliography example.)

[2022-09-11 08:22] stuartyeates commented on #2144
My suggested replacement is:

[code]

Taken from https://nzetc.victoria.ac.nz/tei-source/BIM1388Piti.xml / https://nzetc.victoria.ac.nz/tm/scholarly/tei-BIM1388Piti.html which has all the bib stuff you should need.

[2022-09-11 09:49] #2220 closed, assigned to hcayless, raffazizzi

[2022-09-11 13:22] hcayless commented on #1856
Note to self: consider moving `<ab>` to core and decide how the prose would have to change.

[2022-09-11 13:37] ebeshero commented on #2103
@JanelleJenstad You'll want to create a new branch for this now!  (Old branch had no new commits; we were cleaning up old branches and deleted it.)

[2022-09-11 14:06] sydb commented on #2136
Council decides

1. To keep `<attList org="choice">`, at least for the foreseeable future
2. To fix the Stylesheets so it works (see TEIC/Stylesheets#144 for discussion of the problem)
3. To re-visit this issue (changing to `<alternate>` and either introduce a `<bag>` or `<set>` or use `<group>` or `<sequence>` or something) in the future.

[2022-09-11 14:08] #2136 closed, assigned to JanelleJenstad

[2022-09-11 14:35] sydb commented on #1933
Cf. the following from att.canonical — it has `"fr"` inside `"en"`:
[code]

[2022-09-11 14:36] hcayless opened #2335 "Add link to translation tool from spec pages in published Guidelines"
Add an (internationalized) "translate this page" and maybe make the out-of-date symbols also links.

[2022-09-11 15:39] martinascholger commented on #2137
Council F2F: mouseover of anchors in examples pending.

[2022-09-11 15:46] tuurma opened #2336 "Add citation button for Examples"
Each of the examples should provide a convenient method for the users to cite and bookmark it.

The citation button should provide user readable caption along with the stable url. Both need to refer to a fixed release of the Guidelines to make sure that the link and citation actually function as expected.

Related to discussion started in https://github.com/TEIC/TEI/issues/2137

<img width="1640"

[2022-09-11 15:52] ebeshero commented on #2140
Council Newcastle F2F: Green for adding an even-more-abbreviated version of the example, with the most interesting `<desc>` elements included.

[2022-09-11 15:59] ebeshero commented on #2144
Council F2F Newcastle: @sydb should come up with improved examples.

[2022-09-11 15:59] #2190 closed, assigned to ebeshero, JanelleJenstad, HelenaSabel

[2022-09-11 16:00] #2189 closed, assigned to raffazizzi, ebeshero, JanelleJenstad, HelenaSabel

[2022-09-11 16:17] martinascholger commented on #2213
Council F2F: @martindholmes and @bleekere will come up with an example to clarify the usage of `@datingPoint`. There is a branch on mentioning `@datingPoint` in the Guidelines.

[2022-09-11 16:18] ebeshero commented on #2213
Work is proceeding on this branch: https://github.com/TEIC/TEI/tree/issue-2213

[2022-09-12 08:49] martindholmes opened #2337 "Need to standardize punctuation marks in Japanese translations"
There's a discussion on https://github.com/TEIC/TEI/pull/2294 about whether Japanese punctuation marks ( 、U+3001 for comma, 。U+3002 for period) or western period and comma should be used in the Japanese text of the Guidelines. At the moment it's a mixture. Whichever we settle on, we just need to standardize throughout the Guidelines Japanese text. This is an easy fix, which I'm happy to work away

[2022-09-12 09:07] knagasaki commented on #2337
In the recent statement of the Japanese government below,  the "、U+3001 for comma" and 。"U+3002 for period" are recommended even in horizontal text.  So, if we don't need to mind consistency with the previous ones and it would be easy to change the existing marks into each one, it would be better to be done so.
https://www.bunka.go.jp/seisaku/bunkashingikai/kokugo/hokoku/pdf/93651301_01.pdf

[2022-09-12 09:17] #2222 closed, assigned to HelenaSabel

[2022-09-12 09:25] #2228 closed, assigned to raffazizzi

[2022-09-12 10:07] peterstadler commented on #2261
this looks like a showcase for an  `<attList org="choice">` construct (see #2140) rather than constraining via `<constraintSpec>`?!

[2022-09-12 10:41] ebeshero commented on #2215
After Council F2F discussion:  I will provide a little more direction on the Spec page and provide an example working with `@from ` and `#range()`.

[2022-09-12 10:45] bleekere commented on #2221
Indeed `<divGen>` is not supposed to have any content at all: it is supposed to be empty. So technically it should not contain `<head>` either, but in view of the Birnbaum doctrine we cannot make its datamodel empty. After discussing this at F2F council we decide to close this ticket.

[2022-09-12 10:46] #2221 closed, assigned to bleekere

[2022-09-12 10:49] peterstadler commented on #2225
Council follows the advice of the breakout group to

Green for Janelle to fix.

[2022-09-12 10:56] ebeshero commented on #2227
Council F2F: @bansp We're approaching another release in October, so we're hoping perhaps to fix this by then. Can you help?

[2022-09-12 11:03] bansp commented on #2227
Heck, yes, @ebeshero and thanks for the ping -- I'll handle this after my Wednesday presentation and before Saturday morning.
Funny that I thought about that issue (and a few other of my old promises) maybe two minutes before seeing your message.

[2022-09-12 11:44] hcayless commented on #2242
Make model.pPart.transcriptional a member of lg's content model.

[2022-09-12 11:47] #1945 closed

[2022-09-12 12:01] martindholmes commented on #2246
The Schematron could be modified thus:

[code]

per Council discussion 2022-09-12.

[2022-09-12 13:10] #2326 closed, assigned to sydb

[2022-09-12 13:31] peterstadler commented on #1823
With the introduction of [`model.describedResource`](https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-model.describedResource.html) the original issue is resolved: the guidelines prose and data model regarding teiCorpus are now consistent

[2022-09-12 13:31] #1823 closed

[2022-09-12 14:44] sydb commented on #2247
Having discussed at Council meeting w/ @martindholmes, decided no change in order.

[2022-09-12 14:52] martinascholger commented on #2247
Council F2F thinks `@hand` should suffice, and possibly that att.written might be expanded if someone needs more elements to be included.

[2022-09-12 14:52] #2247 closed, assigned to lb42

[2022-09-12 14:53] sydb opened #2338 "relationship of `@hand` and `<handShift>` should be explicit"
Council feels that the language in 11.3.2.1 “Document Hands” should be made clearer, particularly to guide users who want to express the “most of this is in hand A, but this bit is in hand B”, and folks writing processors that might encounter both `@hand` and `<handShift/>`.

[2022-09-12 14:54] raffazizzi opened #2339 "Clarify how `@hand` and `<handShift>` interact"
In 11.3.2.1 there is a sufficiently clear explanation of `@hand` and `<handShift>`, but at the Newcastle council meeting, council agreed that there could be greater clarity on how the two may need to interact in some occasions (the discussion started with issue #2247).

[code]

[2022-09-12 14:56] martinascholger commented on #2248
Council F2F decides to widen the content model to macro.specialPara (like other header elements)

[2022-09-12 15:10] martinascholger commented on #2249
Council F2F: we removed the remark;
updating to ISO 8601:2019 is blocked for now until Coucil has access to the specification.

[2022-09-12 15:21] raffazizzi commented on #2338
[code]

[2022-09-12 15:22] raffazizzi commented on #2339
Duplicate of https://github.com/TEIC/TEI/issues/2338

[2022-09-12 15:22] #2339 closed, assigned to raffazizzi

[2022-09-12 15:50] martinascholger commented on #2252
Council F2F suggests to implement the example proposed by @bleekere unless @MarjorieBurghart strongly objects.

[2022-09-12 15:56] martinascholger commented on #2258
Council at F2F:

1) We should improve the prose of the Schematron message. For example, this message (“An msIdentifier must contain either a repository or location.”) fires if we introduce an empty `<collection>`, when just adding contents to the element would make it valid
2) The test shouldn’t force that the elements are not empty (as SB showed, examples with `@key` are perfectly valid)

@Helena

[2022-09-12 16:00] martinascholger commented on #2261
Council F2F agrees that @scheme should not be required (and perhaps not allowed) if @mode is “delete”. @sydb is encouraged to move on with this.

[2022-09-12 16:02] martinascholger commented on #2267
PR is merged, so we can close the issue.

[2022-09-12 16:02] #2267 closed, assigned to sydb

[2022-09-12 16:03] martinascholger commented on #2271
@hcayless suggests checking for the broken links on Internet archive and update them.  We should make that a general practice.

[2022-09-12 16:07] martinascholger commented on #2272
Council at F2F suggests to evaluate if the references are valid at all. Either replace them with new references or search for them in Internet archive.

[2022-09-12 16:12] martindholmes commented on #2262
Deleting works following Stylesheets issue [#541](https://github.com/TEIC/Stylesheets/issues/541). Tested and confirmed.

[2022-09-12 16:27] ebeshero commented on #2262
Council F2F Newcastle: @bleekere should work on a couple of examples to demonstrate deletion and/or replacement.

[2022-09-12 16:29] peterstadler commented on #2262
Council decides that this is not specifically about `<constraintSpec>` but rather about deleting (and adding, changing) *Spec elements in general. Potential targets for additional examples (and prose) would be https://tei-c.org/release/doc/tei-p5-doc/en/html/TD.html#TDbuild and/or https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.combinable.html

[2022-09-13 07:45] martindholmes commented on #2337
Thanks @knagasaki ! I can make the changes , and we could even add a bit of Schematron to the Guidelines schema when all the conversions are done.

[2022-09-13 08:49] martinascholger commented on #2275
Fixed

[2022-09-13 08:49] #2275 closed, assigned to martinascholger

[2022-09-13 08:50] martindholmes commented on #2274
Presumably this one:

https://www.tei-c.org/release/doc/tei-p5-doc/en/html/VE.html#index-egXML-d54e60654

[2022-09-13 09:02] martindholmes commented on #2277
This example:

[code]

from LEMDO's emdDouai_Mac.xml file might do. The anchors could be removed for clarity; if we have the original page images and could get permission to publish the relevant fragment, that would be ideal, I think. @JanelleJenstad Is that possible?

[2022-09-13 09:31] martindholmes commented on #2303
The OTA project page seems to be a bizarre mixture between HTML and TEI; something got lost in a conversion process, presumably. I think many of these pages used to be in TEI in the old CMS system, and were rendered using XSLT, but in the move over to WordPress they somehow weren't converted properly.

[2022-09-13 09:33] martindholmes commented on #2315
The TEI `@rend` attribute is not in the TEI namespace at all, anyway, so this is nonsensical on the face of it.

[2022-09-13 09:49] ebeshero opened #2340 "Inconsistent ISO referencing: Two different entries for ISO 690 in BIB"
Found by @martindholmes  while investigating https://github.com/TEIC/TEI/issues/2331.
We need to decide which one of these to remove.

[2022-09-13 10:28] sydb commented on #2273
@chr-emil: Do you still want `<hom>` as a child of `<form>`, or have you decided to use some other method? If you still need it, we (Council) think we should put `<hom>` into model.formPart.

[2022-09-13 10:53] martindholmes commented on #2274
Council F2F has decided that the requirement to have a default attribute should be removed, and the prose modified to clarify that processors should use the default if it's there; in the absence of a default, where multiple *Decls exist and elements lack `@decl` attributes the `@xml:lang` attributes in effect for the *Decl and content elements should be used as a guide for the processor to select

[2022-09-13 11:02] sydb commented on #2279
Council decides we are going with solution (1) only, not (2) (it should remain an error). Green to finish up, asking for I18N help as needed.

[2022-09-13 11:08] lb42 commented on #2274
This doesn't seem like a good idea. Surely you might have multiple *Decl elements using the same @xml:lang. In the absence of a specified default should a processor signal an error? or just choose the first one, or the one  it likes best or what?

[2022-09-13 11:10] sydb commented on #2282
Council makes GREEN to require both `@class` and `@name`.

[2022-09-13 11:20] bansp commented on #2273
@sydb but does the Council recall that `<hom>` stores large objects (up to entry-sized) rather than individual numbers, and it is the latter that Christian-Emil needed a container for? :-)

[2022-09-13 11:32] martindholmes commented on #2285
Council F2F 2022-09-13 had a long discussion:

For the ODD stage where RNG is being generated, there should only be a single altIdent at most. However, earlier in the processing chain, it is reasonable to have different altIdents for different languages and for other purpose such as cultural sensitivity; it makes sense, for instance, to have Arabic altIdents for convenience when working RTL, with

[2022-09-13 11:35] sydb commented on #2285
GREEN for @sydb (perhaps with @ebeshero’s help) to come up with a suggested list of elements from which `<altIdent>` can be removed from the content model. (I.e., those *Spec elements that do _not_ need it for co-occurrence constraint reasons or for XML-construct renaming reasons.)

[2022-09-13 11:41] martinascholger commented on #2292
Council F2F agrees with @sabineseifert proposal

[2022-09-13 12:03] martindholmes commented on #2295
Council F2F 2022-09-13 believes the solution is actually that rather than creating elements for more specific types of things, it would be better to create a more generic `<entity`> element, of which all the specifics we have (`<person>`, `<org>` etc.) are all syntactic sugar. This way, whatever your ontological preferences in dividing the world, you can use `<entity type=”organism”>` or whatever.

[2022-09-13 12:05] martindholmes opened #2341 "New `<entity>` and `<listEntity>` elements are needed"
Arising out of issue #2295, Council believes that we should create a more generic `<entity>` element, of which all the specifics we have (`<person>`, `<org>` etc.) are all syntactic sugar. This way, whatever your ontological preferences in dividing the world, you can use `<entity type=”organism”>` or whatever. A small working group will probably be needed to work out the content model of `<entity>

[2022-09-13 12:06] martindholmes commented on #2295
This is now replaced by issue #2341.

[2022-09-13 12:06] #2295 closed, assigned to ebeshero, JanelleJenstad, HelenaSabel

[2022-09-13 12:51] martindholmes commented on #2227
@bansp Can we discuss this at the Ling SIG this afternoon? Seems like an appropriate venue since this is a matter for linguists.

[2022-09-13 14:23] martindholmes commented on #2227
At Ling SIG, @bansp gave us a really helpful overview of the situation here and we think every current reference in the Guidelines to ISOCat should be replaced by a generic recommendation to point to a data category repository which ideally conforms with ISO 12620 if appropriate.

[2022-09-13 14:44] martindholmes commented on #2227
Following discussion with @peterstadler  and @bansp: @bansp will revise the spec page for att.datcat to serve as an example, and make a pull request; then Council can track down and revise all other mentions and invocations of ISOCat throughout the Guidelines and fix them following @bansp's example.

[2022-09-14 10:11] rettinghaus commented on #2340
Does one of them have to go? One references an example in the document, the other one the whole document.
I'm wondering more if the references to ISO documents shouldn't be updated in general, because those in there have been revised and withdrawn.

ISO 690:1987 -> [ISO 690:2021](https://www.iso.org/standard/72642.html)
ISO 12620:2009 -> [ISO 24611:2012](https://www.iso.org/standard/51934.html)
IS

[2022-09-14 22:47] sydb commented on #2285
**The list of places `<altIdent>` is allowed, with annotations**

- `<attDef>` — Needed for re-naming purposes
- `<classSpec>` — ODD only
- `<constraintSpec>` — ODD only
- `<dataSpec>` — ODD only
- `<elementSpec>` — Needed for re-naming purposes
- `<macroSpec>` — ODD only
- `<valItem>` — Needed for re-naming purposes _[Note-to-self: not in my current build. Hmmm …]_

At the moment, I cannot come u

[2022-09-15 20:14] martindholmes commented on #2337
Mixed with the regular ascii punctuation marks, we also have these:

U+FF0C FULLWIDTH COMMA
U+FF0E FULLWIDTH FULL STOP

I'll normalize these to U+3001 and U+3002 too.

[2022-09-16 02:06] bansp commented on #2227
While I'm nibbling on this, a sub-issue struck me, namely the matter of the dcr namespace, which is "http://www.isocat.org/ns/dcr" (recall that it's `dcr:datcat`).
The namespace can be taken as an URI, whether it resolves to anything in the future (atm it doesn't) or not. But it's not possible to predict the authority that is going to control it in the future, unless someone (CLARIN, TEI-C) were t

[2022-09-16 13:32] martindholmes commented on #2227
I agree with removing the prefix and the namespace. That will make the attributes seem more generally applicable for people who want to point at their own data categories. @laurentromary do you have any thoughts on this?

[2022-09-16 13:56] laurentromary commented on #2227
Yes, that's a good option!

[2022-09-19 14:30] larkvi opened #2345 "msIdentifier should be changed to allow only an idno or msName"
Per the [msDesc SIG meeting at TEI2022](https://docs.google.com/document/d/1WwMzEc8ALfuIYw6mbz1jXTYFjgbMt39WOXhYfkL_nxM/edit?usp=sharing), there was general agreement that the most minimal identification of a manuscript might be only an `idno` or `msName` (e.g. This may be the case with virtually reconstructed manuscripts, for example, where there is no singular manuscript being identified, but on

[2022-09-19 14:34] larkvi opened #2346 "remove enforcing of order of elements in msDesc"
Apologies, duplicate of #2214

[2022-09-19 14:36] #2346 closed, assigned to nobody

[2022-09-19 14:37] larkvi commented on #2214
Per the [msDesc SIG meeting at TEI2022](https://docs.google.com/document/d/1WwMzEc8ALfuIYw6mbz1jXTYFjgbMt39WOXhYfkL_nxM/edit?usp=sharing), there was general agreement that we have no strong reasons to enforce the order of elements in msDesc. Given that different cataloguing traditions use different orders in their practices and cataloguers in these traditions would like to enter msDesc information

[2022-09-19 14:48] larkvi commented on #2195
Per the [msDesc SIG meeting at TEI2022](https://docs.google.com/document/d/1WwMzEc8ALfuIYw6mbz1jXTYFjgbMt39WOXhYfkL_nxM/edit?usp=sharing), there was general agreement that we have no strong opinions against `p` in additional and would accordingly support adding it to meet the needs of @schassan's project.

[2022-09-19 15:04] larkvi commented on #1851
Discussion at the [msDesc SIG meeting at TEI2022](https://docs.google.com/document/d/1WwMzEc8ALfuIYw6mbz1jXTYFjgbMt39WOXhYfkL_nxM/edit?usp=sharing), agreed that there were a variety of issues with identifying the ontological characteristics of parts of a manuscript that may have been produced or circulated separately but were then bound together, specifically bindings and endleaves. While @schassa

[2022-09-20 15:19] rettinghaus opened #2347 "anyURI restrictions"
In `teidata.namespace` the restriction for `anyURI` is "\S*" while in `teidata.pointer` it's "\S+". Is there a reason for this?

The [W3C Recommendation](https://www.w3.org/TR/xml-names/#iri-use) states:

So I guess the one for `teidata.namespace` is faulty?

[2022-09-20 15:57] martindholmes commented on #2213
@bleekere I was tasked at the F2F with providing an example of `@datingMethod`. These are genuine examples in a couple of sentences from John Stow's A Survey of London, 1598:

[code]

If I take out everything that's not directly relevant, that would be:

[code]

The mol:julianSic pointer points via a prefixDef to:

[code]

Note that `@datingMethod` specifies which calendar is used for `@when-custo

[2022-09-22 12:27] casglur opened #2349 "someway of recording the identity of the person who created the transcription"
Our project wants to recognise and record the contribution of the staff who were involved in creating transcriptions of manuscript material. The current TEI editor tag does not seem to fit this use and we don't want to abuse its use. Is there a way to record the details of the person who created the XML transcript, if not could we perhaps add a new tag?

<transcriber>Joe Bloggs</transcriber>

Best

[2022-09-22 14:01] lb42 commented on #2349
RespStmt is what most people use

[2022-09-22 14:59] jamescummings opened #2350 "Guidelines need a 'Cite This' or similar button on every page."
The TEI Guidelines generated pages (all of them) need a 'Cite This' button for citing not only the Guidelines but Spec pages etc. with generated URL that one happens to be looking at. There are a variety of JS plugins which produce modal popups with a selection of standard citation forms. They tend to convert from forms like BibTeX so it would be fairly straightforward to produce a standard citati

[2022-09-22 15:00] casglur commented on #2349
Fantastic, thanks for the quick reply.

Best wishes
Alexander

[2022-09-22 15:00] #2349 closed, assigned to nobody

[2022-09-23 11:56] bansp commented on #1916
I would like to work on an exemplar that would build a text corpus template from scratch, based strictly on the ISO TC37 SC4 WG6 standards family (MAF, SynAF, LAF; possibly Speech but not as a direct goal), and that would be conditioned on the potential future updates to those standards, which treat the Birnbaum doctrine as a practical guideline rather than a necessary constraint. But, given versi

[2022-09-23 15:11] sydb commented on #2347
Ummm … no. Or at least, it is not that simple. teidata.namespace is used as the datatype of (among other things) `@ns` of `<attDef>` and `@name` of `<namespace>`. In both those cases an empty string needs to be allowed. (Because either the attribute being defined is in no namespace, or the elements whose usage is being described are in no namespace.)

OTOH, it might make more sense to make teidata

[2022-09-23 15:19] sydb commented on #2350
NB #2336 and #2137.

[2022-09-23 15:21] sydb commented on #2336
NB: #2350.

[2022-09-23 15:29] sydb commented on #1916
I don’t understand the conditionality — when those standards get updated, how do we know, and what do we do with the exemplar? — But otherwise it seems like an excellent idea to me.

[2022-09-23 15:39] bansp commented on #1916
I may have compressed too much into the message. Perhaps there is no conditionality to speak of, but rather something obvious -- the exemplar would be naturally tied to concrete versions of the relevant standards, and as long as I were in a position to, I would make sure to keep them in sync, else I would hope that someone representing TC37 SC4 WG6 would, simply because such an exemplar would be a

[2022-09-24 16:30] ebeshero commented on #2340
@rettinghaus Thanks for your advice and especially for [your PR](https://github.com/TEIC/TEI/pull/2344), which we've now merged and updated. I'm taking a slow "walk" through the ISO entries in the BIB to scan for inconsistencies and make some repairs as called for here. I notice that sometimes we link to ISO specs and sometimes we don't bother. I wonder which is the better strategy, but lean towar

[2022-09-24 16:33] ebeshero commented on #2340
I'm also grepping for ISO mentions in Guidelines that lack BIB citations...will update as I locate them.

[2022-09-25 03:18] ebeshero commented on #2340
After some grepping around the Specs and Guidelines, I organized a table to document which ISO specs we reference in the TEI Specs and Guidelines. Most currently don't have BIB entries. Sometimes we reference a very particular dated spec, and I'm not sure whether it's appropriate to update it. (And sometimes it's pretty clear we're talking about a very early spec and should cite it in particular.)

[2022-09-25 03:22] ebeshero commented on #2249
@rettinghaus @bansp @sydb @martindholmes @hcayless @martinascholger I was working on [a different ticket](#2340 ) about inconsistent ISO referencing, and stumbled into the datacat question. Can we do one of the following here?
* Update to ISO 12620-1:2022 ? https://www.iso.org/standard/79078.html
* OR to redirect the outdated references to http://isocat.org to its redirect: https://datcatinfo.net/

[2022-09-25 03:28] ebeshero commented on #2227
@rettinghaus @bansp @sydb @martindholmes @martinascholger I was working on #2340 about inconsistent ISO referencing, and stumbled into the datcat question on my own. Can we do one of the following here?
* Update to ISO 12620-1:2022 ? https://www.iso.org/standard/79078.html
* OR to redirect the outdated references to http://isocat.org to its redirect: https://datcatinfo.net/ ?
Updating our links to

[2022-09-25 03:35] ebeshero commented on #2340
@rettinghaus @bansp @martinascholger @martindholmes @sydb @hcayless  I did a little grepping today to assess where we are with ISO referencing, and the table above is my summary, including recommendations on what we should update and where we should link. We are missing BIB entries for several ISO specs that have been or still are important to the TEI Guidelines.

Do you agree with my proposed upd

[2022-09-25 05:54] ebeshero commented on #2249
Just noting that I added my comment to wrong ticket. I moved it to #2227 .

[2022-09-25 11:09] sydb commented on #2195
Which brings us back to my question — would
[code]
be sufficient, or would you need
[code]

Things to keep in mind:

- Most elements in the MS description module that allow model.pLike have a content like the first possibility above: i.e. they allow EITHER a sequence of one or elements from model.pLike OR a sequence of more structured, semantically meaningful elements, BUT NOT both.[1]
- `<additio

[2022-09-25 13:28] ebeshero commented on #2227
Reviewing the ticket and recalling conversations, that link update seems precisely what we want to avoid. Sorry for barging in on the back of another ticket! Anyway, I’ll concentrate on the easier updates in #2340 . And await the PR.

[2022-09-25 13:39] ebeshero commented on #2227
But I wonder if we can, for the moment, just remove the references to http://isocat.org/ as preparation for the coming PR, since we know we shouldn’t be pointing to it at all. We seem agreed here not to be pointing to a standard, and the idea of “nativizing” data categories (and perhaps other things for which we used to rely on ISO) seems the path for TEI.

[2022-09-25 14:09] ebeshero commented on #2340
Please feel free to edit my table and add comments.

[2022-09-25 14:12] ebeshero commented on #2340
At the very least, @rettinghaus , I agree that we should keep both references to ISO 690, since one is for an example in the 1987 version.

[2022-09-25 19:39] bansp commented on #2227
If there is no rush to remove the references to isocat today as opposed to a week ago, may I ask for them to be left in place for now, simply because I'm, going over them all (I know, more than I was asked for, but it's hard to leave them if I can handle them), and I already anticipate some conflicts with my version even before I submit the PR. Not increasing the amount of extra work spent on reso

[2022-09-25 19:47] ebeshero commented on #2227
Got it--thank you, @bansp . I won't touch the isocat links and leave this to you. I'd like Council to review my [table of proposed ISO citation updates](https://github.com/TEIC/TEI/issues/2340#issuecomment-1257110566) anyway before I do anything more on #2340 . Let us know if we can help with anything on your end!

[2022-09-26 01:03] ebeshero commented on #1929
Completed requested revision in branch: https://github.com/TEIC/TEI/compare/dev...ab_in_ab_issue-1856

[2022-09-26 11:51] lb42 commented on #1856
Please allow me to record my view that this is not a good idea.
- what's the justification for moving `<ab>` to core?  why not also move `<s>` and/or `<seg>` ?
- what happens to model.pLike?
If you must have a self-nesting ab, call it something else. `<block>` for example, and leave `<ab>` alone. The new element would be just the same as `<seg>` or` <div>` but intermediate between them, for the be

[2022-09-26 14:38] rettinghaus commented on #2340
@ebeshero I think it is pretty safe to "update" ISO 690, because nothing fundamentally has changed there. However, this is only referenced as "related" to _ANSI Z39.29_ in the **Note for Library Cataloguers**. When touching this, we probably need to revise the other mentioned standard there, as `DIN 1505-2` has been replaced by `DIN ISO 690:2013-10`, which on the other hand didn't play any role "i

[2022-09-26 15:35] bansp commented on #2340
Impressive piece of work, Elisa!
Like we said in another ticket, I'd be grateful if the references to ISO 24611 and 12620 were left under my care, for only a few days (no option, I have to be done with this asap given other commitments).
What I am a bit surprised by is no mention of [ISO 24624:2016 Language resource management — Transcription of spoken language](https://www.iso.org/standard/37338.

[2022-09-29 10:21] bleekere commented on #2213
Thank you @martindholmes ! You wouldn't happen to have a real-life example of the use of `@datingPoint`, by any chance?

[2022-09-29 12:02] bleekere commented on #2213
If `@datingPoint` supplies a pointer to an `<event>`, would this work?

[code]

[2022-09-29 13:02] martindholmes commented on #2213
Sorry, I completely lost it there. I thought the ticket was for @datingMethod. I'll search but I don't remember using #datingPoint.

[2022-09-30 12:32] schassan opened #2355 "teidata.numeric values"
So far, teidata.numeric allows xsd.decimal, which per definition takes numerals with a decimal point.  It would be helpful to allow numerals with decimal comma as well. This would require another attribute for specifying which kind of numeral one can expect within the element (and @quantity attribute). It would be similar to the `@calendar` on att.datable.

[2022-10-02 15:10] rettinghaus opened #2356 ""quoted" not reflected in Guidelines"
In `teidata.language` we use `<quote rend="quoted">` which is not (visually) reflected in the Guidelines.

I'd propose to either add rules for `.quoted` in the CSS or drop the single appearance of this `@rend` attribute.

[2022-10-05 03:04] sydb commented on #2214
With the help of the amazing @cmsmcq I have updated the `msDesc_2214_dtd` pattern in my comment of [21 Dec 21](#issuecomment-999056129) so that it now works. (I.e., can be converted to a deterministic DTD.)

But I think it worth pointing out that removing the ordering constraint (i.e., moving from `msDesc_current` to `msDesc_2214_dtd`), while quite possibly the easiest solution from a user perspec

[2022-10-05 09:46] lb42 commented on #2214
Can we see the proposed nondeterministic version in pure odd plz?

[2022-10-05 16:39] martindholmes opened #2357 "Schematron to avoid contradictory use of `@require` and `@except`"
At the ATOP meeting today (https://github.com/TEIC/atop/wiki/Meeting-notes#meeting-2022-10-05) @dmj and I looked at the attributes `@require` and `@except` on the `<anyElement>` element (https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-anyElement.html), and realized that it's possible to simultaneously required a namespace and exclude all elements inside it, by including the same namespace

[2022-10-05 20:47] sydb commented on #2214
Not sure why anyone would want that, @lb42 (after all, there is a reason it is called the compact syntax — in PureODD it is 191 lines long, in Relax NG XML syntax it is over 260 lines long), but [here it is](https://github.com/TEIC/TEI/files/9718839/msDesc_2214_DTDable_PureODD.txt) as a plain text file because GitHub is scared of XML.

[2022-10-05 20:55] sydb commented on #2214
Oooh … but I forgot an important note or caveat (thank you, @lb42) —

The unambiguous _dtd version above (which I just converted to PureODD for @lb42) is slightly different than the content model we currently have in that it _requires_ one of `<additional>`, `<history>`, `<msContents>`, or `<physDesc>`. We might not want that.

(I believe it would be quite easy to change: just insert a `?` immedia

[2022-10-06 18:56] dmj commented on #2357
Addendum: The rule should also raise an error if @‍require contains a namespace URI listed in the @‍defaultExceptions of the containing schemaSpec.

[2022-10-06 21:41] martindholmes commented on #2357
@sydb suggests that the two attributes are mutually exclusive. However, I can't see where that is enforced, and this seems perfectly valid:
[code]

But if they are exclusive, should they be? There are potentially useful combinations of them (require all elements to be in namespace x, but exclude three elements from that namespace).

[2022-10-07 06:27] dmj commented on #2357
I can't find that they are exclusive, too. To the contrary. The content model of anyElement reads:
[code]

[2022-10-09 02:07] sydb commented on #2345
The current content model of `<msIdentifier>` is
[code]
The current additional constraint (re-written a bit for readability) is that the following XPath is considered an error.
[code]
(Although, as I pointed out in #2258, the message issued does not match the XPath. The message implies only that one of the model.placeNamePart elements (i.e., those that occur _before_ `<collection>` in the model) m

[2022-10-09 02:36] sydb commented on #2282
Uh-oh. Can anyone (I’m thinking @lb42 or @jamescummings) explain why `<attRef>` is being used to point to RELAX NG pattern names in P5/Test/testplus.odd (see lines 83–90)? Seems to me to be inappropriate — a pattern name is not “the name of the attribute” being referred to, and these particular pattern names are plural, not singular.
Should just be `<rng:ref name="…"/>` IMHO.

[2022-10-11 06:43] dmj commented on #2357
Addendum 2: The rule should also raise a warning if a combination of `@‍require` and `@exclude` doesn't make sense. I.e. require namespace A and exclude elements from namespace B.

[2022-10-11 15:26] martindholmes commented on #2251
I believe this is done and working, so I'm closing it.

[2022-10-11 16:07] martindholmes commented on #2213
@bleekere I've grepped my entire project directory and can't find a single example of `@datingPoint`, with the exception of a backup from 2013 where it was used in error instead of `@datingMethod`. So I think we're looking at constructing an example. We do have some dates using the Anno Mundi calendar, though:

https://en.wikipedia.org/wiki/Anno_Mundi

I'm no expert on this, but the Wikipedia page

[2022-10-11 17:06] martindholmes commented on #1563
Just ran the diagnostics XSL against a newly-built p5.xml and found the following:

Bad internal link:
    target: #ISO24611

Bad `@xml:lang` values:
    xml:lang: lat
    xml:lang: lat
    xml:lang: cornu
    xml:lang: cornu

MIME types not listed in the IANA mime types list:
    mimeType: audio/wav
    mimeType: image/jpeg
    mimeType: audio/wav
    mimeType: image/gif
    mimeType: application

[2022-10-11 22:57] martindholmes commented on #1563
I've fixed the first two lots, but the media types issue is a bit fraught; although the listed ones are not in the IANA media types listing page, they do show up in other locations, so I've left them alone. The "cornu" language value was wrong; "cornu" is a variant subtag meaning Cornish-English, and I'm pretty sure that the intent for the word in question was Middle Cornish, which has the subtag

[2022-10-12 03:29] sydb commented on #2357
The are most definitely _defined_ as exclusive attributes:
[code]
As you point out, they don’t wind up exclusive in the output RELAX NG. The bozo who complained about `org="choice"` not working in [Stylesheets issue 144](https://github.com/TEIC/Stylesheets/issues/144) said it works on elements, but not in classes. This is solid evidence it does not work in some cases in an element, too. In which c

[2022-10-12 04:20] raducoravu commented on #2251
@martindholmes btw we are releasing Oxygen 25 in a couple of days and it comes bundled with Saxon 11, this would mean adding references to "${oxygenHome}/lib/*saxon*11*.jar" in all those places. Should I add a new issue for this or can this be fixed on this issue?

[2022-10-12 19:11] martindholmes commented on #2251
@raducoravu I'll reopen this and make it urgent, since we have a TEI release coming out soon too. Thanks for flagging this up. I guess because of Saxon 6 we can't use a wildcard to cover all saxons?

[2022-10-13 05:15] raducoravu commented on #2251
@martindholmes good question, so for jtei you have some two ANT transformations there, one for jtei to ODT and one for jtei to PDF. In the "xml/tei/stylesheet/common/teianttasks.xml" file you define a bunch of xslt transformations, all of them imposing the ""net.sf.saxon.TransformerFactoryImpl"" Saxon 9 and later factory. Meaning that you do not need some explicit order between Saxon 6 and the Sax

[2022-10-13 10:36] raducoravu commented on #2296
We released Oxygen 25 which should present content completion again for these constructs without the need to make any changes to the schemas.

[2022-10-13 16:40] martindholmes commented on #2251
@raducoravu Will we need to change the version of oxygen.jar that the plugin is built with? I think my current one dates from 2017.
Actually I see we're pulling two files at build time from Oxygen's maven repo:

[code]

Presumably we'll now have to pull from:

https://www.oxygenxml.com/maven/com/oxygenxml/oxygen/21.0.0.0/

Are there any additional files we'll need, other than oxygen.jar and oxygen

[2022-10-13 23:36] martindholmes commented on #2251
@raducoravu I went ahead with the two files above, but I get:

[code]

    Can you give me the list of additional jar files we'll need to pull from the Oxygen maven repo now in order to do the build?

[2022-10-14 05:21] raducoravu commented on #2251
Shouldn't this entire issue have been logged and discussed in the Oxygen TEI framework project instead? https://github.com/TEIC/oxygen-tei

@martindholmes to accomplish the objective of simplifying the path references in the ANT transformation scenarios you do not need to change the oxygen.jar which you are using to compile the framework Java extensions, just changing the Oxygen .framework files s

[2022-10-14 12:09] martindholmes commented on #2251
I see. I tried to use the framework files you provided. I'll roll back that change later today, but I don't have time to do any more now, so I'll have to leave this for the TEI Council to deal with.

[2022-10-14 12:12] raducoravu commented on #2251
@martindholmes I understand my attached .framework files were from the Oxygen 25 release, probably you should have implemented the suggested library path simplifications changes directly in the .framework files bundled with the TEI maintained add-on.

[2022-10-14 13:23] bansp opened #2358 "definitions in the text: markup and handling"
Consider consistently marking up definitions in the text, so that they could be then (a) referenced across the Guidelines and (b) collectively displayed in some kind of drop-down section within a chapter, and (c) collected and displayed across the entire Guidelines, in the, say, front section, under the header "Definitions" and with references to where they appear.
Note that this is different from

[2022-10-14 15:51] sydb commented on #2306
My 2¢ — Unless someone (@lb42? @jamescummings? @laurentromary?) has a good reason why model.oddDecl should be a member of model.inter, I think we should just remove it as a corrigible error. (Which means that `<specGrp>` would then have to be made a member of model.inter, as it _does_ make sense there. Now that I am thinking about it, should `<specGrp>` be a member of model.oddDecl?)

[2022-10-15 08:54] sabineseifert commented on #2144
I could offer following examples

`<persName key="A002068">Carl von Weber</persName>`
source:
Complete Works of Carl Maria von Weber. Digital Edition, http://weber-gesamtausgabe.de/A040051 ([Version 4.6.1 of September 30, 2022](https://weber-gesamtausgabe.de/en/A009000/News/A050239.html))
Last change of this document on October 25, 2021

`<persName ref="http://d-nb.info/gnd/115674667">Kunth</persN

[2022-10-15 15:48] sydb commented on #2282
Wow. This is more problematic than I had imagined. (A ticket harder than it looks? What else is new?)
The use of `<attRef>` with only `@name` (i.e., no `@class`) to point from within a `<classSpec>`[1] to a RELAX NG mutli-attribute pattern has been part of Exemplars/tei_its.odd since 2008-02.

As I said above, this strikes me as wrong. Furthermore, my initial reaction (to use RELAX NG directly), w

[2022-10-18 01:13] bansp commented on #2227
The result is in PR #2359 , spread mostly across Specs/att.datcat.xml and the FS and DI chapters, with some little extras.
The description in the att.datcat spec is a bit verbose... but I tried to gather the various ways in which the attributes can be used, with examples. Eliminated references to ISOCat from FS, DI and the `<gram>` spec. Added some bits to the FS chapter in order for the individua

[2022-10-18 04:08] ttasovac commented on #2273
As @bansp mentioned, TEI Lex-0 is really not a fan of `<hom>` :)

But I wonder, @chr-emil, whether you really need `<hom>` for `<entry><form><hom>I</hom><orth>gren</orth>....</form>`  when you can do `<lbl type="hom">I</lbl>`. After all, homograph numbers are just a particular type of dictionary labels.

Alternatively you could also use `<num type="hom">I</num>`.

[2022-10-18 08:43] chr-emil commented on #2273
I now see that in September  there was a discussion about this. @bansp<https://github.com/bansp>  and @sydb<https://github.com/sydb>. I have not found any solution since I have been working with other stuff. I repeat my issue below.  I can always used 'n' but it is a little unsatisfactory. The '<hom>' element as defined in TEI P5 will never be used in Norwegian dictionaries and not in any other di

[2022-10-18 15:52] sydb commented on #1675
Published as [Customizing TEI to Check Pointers](https://www.wwp.neu.edu/research/publications/documentation/other/checking_pointers_in_ODD.html).

[2022-10-18 15:52] #1675 closed

[2022-10-18 17:14] hcayless commented on #1856
Following up on @lb42's comments: I don't think we're going to attempt moving `<ab>` to core immediately, but the argument for it is that there are whole categories of texts that you can't otherwise encode without abusing `<p>`, therefore it should be universally available and hence should be in core.

I'd be very hesitant to create a new chunk-level element (eponymous block?). In the current impl

[2022-10-18 20:09] lb42 commented on #1856
The components of core are supposed to be features which may be expected to appear in almost any type of document. I  remain of the view that ab is not such a feature, or if it is, then so are s and seg, the other "neutral" segmentation elements. The fact that there are "whole categories" (I assume this means "lots") of documents which you'd like to encode using it doesn't argue for its inclusion

[2022-10-18 20:13] JanelleJenstad commented on #1856
I have a number of use cases from early modern printed books where there are pages and pages of inconsistently nested blocks of text that are neither paragraphs nor literary divisions. The compositor has shown something like nestedness using font sizes, but there aren’t any headers. The best way to describe them is chunks of prose inside chunks of prose.

Janelle Jenstad (she/her)
Professor, Depar

[2022-10-18 21:58] lb42 commented on #1856
What exactly is a "literary" division? Is your reluctance to use <div>
for these blocks of text do with its structural properties (tesselation,
single hierarchy etc.) or with its semantics ? If the former, there are
of course any number of well-established work arounds (use seg, use
milestones, use hi, etc.); if the latter, I can't help you: div has no
semantics. And headless divs don't seem parti

[2022-10-18 22:41] lb42 commented on #1856
What exactly is a "literary" division? Is your reluctance to use  <div> for these blocks of text do with its structural properties (tesselation, single hierarchy etc.) or with its semantics ? If the former, there are of course any number of well-established work arounds (use seg, use milestones, use hi, etc.); if the latter, I can't help you: div has no semantics. And no head element is req

On 18

[2022-10-18 22:59] sydb commented on #1856
Currently I am mildly with @lb42 on this (that `<ab>` should not be moved into the already overfull COre). But it is not a particularly useful argument to be having, since the current proposal does **not** actually move `<ab>` to CO.

[2022-10-19 00:52] #2338 closed, assigned to raffazizzi

[2022-10-19 02:31] bansp opened #2361 "drop the last sentence ("recommendation on atomic values") of 18.5"
There is a sentence in chapter 18, just before section 18.6, that says:

The statement illustrates a fragment of markup that contains, a.o.:
[code]

I think the statement above is wrong at many levels:

- Most generally, it goes over the top wrt the TEI's being a toolkit for customizations -- a decision to point at atomic vs. non-atomic values must be the modeller's, not the TEI's. In relation to

[2022-10-19 11:13] lb42 commented on #2361
This sentence was added between P4 and P5, when the section on feature values was extensively revised and simplified by members of the ISO TC37 workgroup chaired by Kiyong Lee.  I believe the intention was to express a preference between two methods of representing a feature whose value was atomic (i.e. expressible using only the atomic constructs defined by the FS recommendations -- `<string>`, `

[2022-10-19 14:30] bansp commented on #2361
Hah, thanks Lou -- that explains a lot. But if the sentence was meant to recommend doing
[code]
over
[code]
(which is something I can sympathize with, especially in the light of the CS-minded people's criticism concerning the separation and placement of datatype constraints/information from/versus the actual data item), then, it seems to fail to communicate the intended message :-)
But then we're

[2022-10-19 16:16] lb42 commented on #2361
Well, no, I think the intent was exactly the opposite!

[2022-10-19 22:46] bansp commented on #2361
I've searched for "atomic value" across this chapter now and I see that the sentence is not incoherent, but I'd still say that it's too much as a recommendation.
In the fragment

This seems where `@fVal` is mentioned as an alternative to using `<fs>` as the value directly. But that would take me back to the beginning of this issue, and most if not all the points would still be applicable, I think.

[2022-10-20 03:25] sydb commented on #2300
See [PR 2360](https://github.com/TEIC/TEI/pull/2360).

[2022-10-20 03:35] sydb commented on #2315
Duplicates #2222. (Which has by now been fixed.)

[2022-10-20 03:35] #2315 closed, assigned to sydb, jamescummings

[2022-10-20 04:49] GVogeler opened #2363 "Review model.global to review what's permitted in `<facsimile>`"
In solving #2300 with PR #2360 , @sydb points to
possible inconsistencies of the `facsimile` model compared to `sourceDoc` similar to`(line|zone/text()`. I quote his comment in [facsimile.xml](https://github.com/TEIC/TEI/blob/d5b1e9b8313e517aa295a2e45e27ff736b61b37c/P5/Source/Specs/facsimile.xml#L45):

None of these seem to be often cases, but I think they are worth recording and considering for f

[2022-10-20 14:31] martinascholger commented on #1866
Adressed in PR https://github.com/TEIC/TEI/pull/2359. As soon as we have merged the PR, the issue can be closed.

[2022-10-20 19:13] #1856 closed

[2022-10-20 20:03] bansp commented on #2358
Working on #2359 , I realised that it might (just 'might'; I'm sharing this while it's hot) make sense to distinguish between 'just mentioning' a term vs. mentioning it with a purpose to make it stand out and possibly flash its definition. `<soCalled>` and `<term>` could do the job, respectively, and one could then wonder if the semantics of the text is in any way spoiled if a term is 'soCalleded'

[2022-10-21 07:14] #2314 closed, assigned to bleekere

[2022-10-21 07:19] #2300 closed, assigned to npcole, bleekere

[2022-10-21 09:12] #2292 closed, assigned to peterstadler, sabineseifert

[2022-10-21 09:13] #2248 closed, assigned to sabineseifert

[2022-10-21 10:01] martinascholger commented on #2327
Release team thinks this is done and can be closed. @sydb please feel free to reopen if this is not the case.

[2022-10-21 10:01] #2327 closed, assigned to sydb

[2022-10-21 20:49] martindholmes commented on #2251
I think this is done by @martinascholger, @sydb and myself as of today; there is a remaining issue relating to the location of CSS files which actually seems to be a bug in the Stylesheets rather than the Oxygen plugin.

[2022-10-22 04:39] #2254 closed, assigned to sydb, bleekere

[2022-10-23 15:07] martinascholger commented on #1713
Released with version 4.0.0

[2022-10-24 16:18] bansp commented on #2227
This is firstly to register my thanks to @sydb for the wonderful lot of work he has put into his review of the PR. I prefer to do this _here_, rather than within the now lengthy and I'm not sure how persistent PR itself. Extremely helpful, and I think I'm learning even some small things, like whether I really want to use a solidus, or is the use of it just admitting my laziness...
There's also a p

[2022-10-24 18:12] JanelleJenstad opened #2366 "Example URL in att.global is broken"
In this example at [https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.global.html](https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.global.html):
` <listBibl xml:base="http://www.lib.ucdavis.edu/BWRP/Works/">`

the URL for `@xml:base` is a broken link. The `@ref` targets are also therefore broken.

Let's find a new example.

[2022-10-24 18:28] sydb commented on #2366
Agreed.
But note that it is not interesting that `http://www.lib.ucdavis.edu/BWRP/Works/` is “broken”, as it is only a base. The problem is that `https://library.ucdavis.edu/BWRP/Works/LandLVowOf.sgm`, `https://library.ucdavis.edu/BWRP/Works/NortMIrene.sgm`, and `https://library.ucdavis.edu/BWRP/Works/TaylJEssay.sgm` are broken.

I kinda like this example for its content (i.e., women writers :-),

[2022-10-25 00:28] bansp commented on #2358
I wonder if it would be in any way outrageous to style a `term[ident]` as bold, and `term[ref]` as italicized. That would keep the semantics and handle the rendering at the same time.

[2022-10-25 07:11] #2227 closed, assigned to bansp, JanelleJenstad

[2022-10-25 07:15] martinascholger commented on #1866
Implemented with pull request https://github.com/TEIC/TEI/pull/2359

[2022-10-25 07:15] #1866 closed

[2022-10-25 12:15] lb42 commented on #2358
It would be better imho to use the @type on term to inficate its status.

[2022-10-26 05:36] raducoravu commented on #2251
@martindholmes the changes look good to me.

[2022-10-26 13:27] bansp commented on #2358
More versatile, definitely.
I've seen `<term rend="noindex">` in the FS chapter; not sure what that does, precisely (a strange value for `@rend`, isn't it?) One way or another, that seems to refer to another valid dimension: indexing of the terms.
I'm quite excited by this in connection with standards work (I think it would add another advantage to using ODD, and TEI serialization in general, for

[2022-10-26 15:54] gerritbruening opened #2367 ""typographic" (`lb`) vs. "topographic" (`line`)"
The wording of the elements' definitions of `lb` and `line` slightly differ:

Assuming that this is not intended, but historical, I would like to suggest the following:

1. Check whether "topographic" is appropriate in the given context.
2. If it is, use "topographic" in both definitions, since "typographic" refers to printed material only.

[2022-10-27 16:07] sydb commented on #2368
Stylesheets group discovers that they are _all_ the same, and assigns to @sydb to change those `<title ref="#XSD2">XML Schema Part 2: Datatypes Second Edition</title>` to `<ref target="#XSD2">XML Schemas: Part 2: Datatypes</ref>`, and notes this is really a TEI repo issue.

[2022-10-30 23:28] ebeshero commented on #2357
@HelenaSabel I'm assigning this one to both of us depending on which one is busier. (I do have more open tickets, but would be happy to help out with this on a call if atop group wants this sooner rather than later!)

[2022-10-30 23:36] ebeshero commented on #2358
@sabineseifert and @martinascholger This seems like a ticket that might want to be addressed in a small group to formulate some ideas--feel free to reassign, but I hope you two can give this a good start!

[2022-10-30 23:44] ebeshero commented on #2366
@sydb @JanelleJenstad  BWRP is an archive I've relied on heavily in the past, so I'm aware it's moving house. This page seems to indicate the new home, but I'm not 100% sure: https://digital.lib.ucdavis.edu/projects/bwrp/
I'm assigning this one to myself to follow up since I would very much like to be able to locate these texts (and want to keep the example(s) from BWRP in the Guidelines if we can

[2022-10-31 13:05] hcayless commented on #2367
"Typographic" is clearly incorrect. "Topographic" must be metaphorical, and maybe there's a specialist use of the term to describe writing on a surface. But it's a metaphor that's never explained that I can see. I'd favor getting rid of it, or replacing it with something clearer.

[2022-10-31 17:58] lb42 commented on #2367
"Typographic" is only incorrect if you are talking about non print materials, surely. The point there is to distinguish a typographic line from e.g. a metrical line. As for "topographic" I don't see why you think it's metaphorical or unclear. The Guidelines say "Within a zone the transcription may be organized topographically in terms of lines of writing, using the line element, or in terms of fur

[2022-11-01 17:53] martindholmes commented on #2367
I agree with @lb42; this distinction seems intentional, apt, and accurate.

[2022-11-01 18:02] martindholmes opened #2369 "Need to clarify the relationship between `classSpec/@generate` and `classRef/@expand`"
The `<classSpec>` element has an attribute `@generate` which is defined as:

The `<classRef>` element has an attribute `@expand` which is defined as:

Presumably there is some relationship between them, but the documentation is not clear on this. Is it an error to have a `classRef/@expand` which specifies "sequenceOptionalRepeatable" when the `<classSpec>` to which it occurs has only `@generate="s

[2022-11-01 18:04] hcayless commented on #2367
1) Yes, but `<lb/>` is a perfectly usable element in encoding non-print materials, so calling it "typographic" doesn't add anything. And might make people think it isn't appropriate for non-typographic texts.
2) "Topographical" features of a text implies the text is like a map (there's our metaphor) and the markup is like (e.g.) contour lines. And that's a reasonable analogy, but I'd prefer we eit

[2022-11-02 15:41] hcayless opened #2370 "Datatypes using 'token' permit whitespace even when they probably shouldn't"
Exhibit A: [teidata.word](https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-teidata.word.html), which has a restriction disallowing all control characters and separators and a note saying it can't contain whitespace.

Exhibit B: the following **valid** (according to Jing) TEI file (note the value of the type attribute on the `<ab>`:
[code]
RelaxNG `token`s are expected to have their space norma

[2022-11-09 17:08] martindholmes commented on #2369
@lb42 What do you remember about this? What was the imagined use-case for `@generate`?

[2022-11-09 19:30] lb42 commented on #2369
The motivation for classSpec/@generate is partly, even mainly, the avoidance of magic. Given the need to have classSpec generate multiple patterns/entitiy declarations, it seemed necessary to document and hence potentially t leqst limit what those multiple things should be. You cant, of course, put a class as such into a content model, so we needed to make clear how a classRef should be mapped: he

[2022-11-09 20:59] sydb commented on #2369
Unless, of course, you want to say that once a class is defined, it can be referenced however the referrer wants. As it is, the definer of the class gets to limit how it might be referred to. But as we all seem to agree, that is a very rarely used feature.

[2022-11-16 17:19] martindholmes opened #2371 "Multiple `<attDef>`s with the same `@ident` in the same `<attList>` should be invalid"
In the ATOP work, we came across an in-vivo ODD file which has this content:

[code]

The repetition of the `@type` attDef is clearly an error, but it's not invalid against tei_odds or tei_all. I propose introducing a Schematron rule to prevent this. In cases where multiple definitions are not identical, then a significant burden would be placed on a) maintainers of the ODD specification to specif

[2022-11-16 18:06] lb42 commented on #2371
I am not sure I agree with this, though it's an obvious optimisation that any implementer might choose to make, and I have no quarrel with your doing so in ATOP. But for the record, the reason it's like that is that I at least thought you might well want to take several bites at the definition of an attribute in an ODD chaining context. For example, you might define a base set of @type  values in

[2022-11-16 18:48] sydb commented on #2371
@lb42 —
Your argument seems quite reasonable to support a `…/elementSpec[@ident eq 'duck']/attList/attDef[@ident eq 'quack'][@mode eq 'change']` in both the ODDs for customization A and for customization B, which might well be chained in one direction or the other. But (I think) @martindholmes is arguing against having 2 cases of that XPath _in the same `<schemaSpec>`_.

[2022-11-16 19:02] sydb commented on #2371
I should add that I am not 100% convinced @martindholmes is right (that having 2 occurrences of that same XPath within the same `<schemaSpec>` is far more trouble than it is worth), only 90%.

That is because the only reason I can come up with on-the-spot for allowing this would be so that users could group all of their `<gloss>`es, all of their `<desc>s`, and all of their `<valList>`s (or whateve

[2022-11-16 23:24] martindholmes commented on #2371
What I'm actually suggesting is much more constrained than the discussion @sydb has opened up. I think it should be invalid to have multiple `<attDefs>` with the same `@ident` _within the same `<attList>`_. I think this is only likely to happen as a result of error (as in this case), and we could simply prevent it with Schematron. If it's not deemed erroneous, then the logic by which these things

[2022-11-19 13:29] lb42 opened #2372 "Watermarks reference"
At https://tei-c.org/release/doc/tei-p5-doc/ja/html/MS.html#msph1sup and elsewhere there is an example which makes reference to an example watermark "Moschin, Anchor N 1680". This is almost certainly meant to be a reference to  a tome catalogued in the Bodleian as  follows:

Mošin, Vladimir A. Anchor Watermarks. Amsterdam: Paper Publications Society (Labarre Foundation), 1973. Print. Monumenta Cha

[2022-11-20 17:06] ebeshero commented on #2372
I'm self-assigning to update this quickly today. :-)

[2022-11-21 19:03] ebeshero commented on #2372
Completed with https://github.com/TEIC/TEI/commit/0e38e3bc43d34a5f5650209aacc1b67fc09caaed .

[2022-11-21 19:03] #2372 closed, assigned to ebeshero

[2022-11-21 19:20] ebeshero commented on #2366
@JanelleJenstad @sydb I dug around to see what happened to the big BWRP (British Women of the Romantic Period) collection at UC Davis. Apparently it was taken offline in 2016 during a library database overhaul, but it's promised to come back online  at the Romantic Circles site. I suspect it'll take them a while, but this is an old venerable project, and I think for the purposes of our example of

[2022-11-21 19:22] ebeshero commented on #2366
No, rethinking this. That collection has been offline for six years now. We should change it--I don't think it's likely to come online anytime soon.

[2022-11-21 20:39] ebeshero commented on #2366
I updated this with an example from a big TEI project, *The Collected Letters of Robert Southey*, and made sure the base and relative URIs actually work. Completed with https://github.com/TEIC/TEI/commit/365639e0559dff7ccf1d0f42f34c5b16175d81ae

[2022-11-21 20:39] #2366 closed, assigned to ebeshero

[2022-11-24 15:19] GVogeler opened #2373 "reconsider model.listLike"
We have many lists in the TEI and most of them are collectd in `model.listLike` (https://tei-c.org/release/doc/tei-p5-doc/de/html/ref-model.listLike.html), however `listBibl` and `castList` are excuded.  I would argue that they all share linguistic features of a list, i.e. collecting a set of structurally similar items (`item`, `bibl`, `person`, `witness` etc.) under a common concept (`head`, `des

[2022-11-24 15:24] GVogeler opened #2374 "make model.listLike available in front"
as a kind of follow-up to #1939: while `text` and `back` include model.listlike as direct child to the node, it is excluded in `front`. Having this consistent would, for instance, allow a list like table of content to be modelled at div- or p-level element (and by this avoiding the current work around of nesting it into a div).

[2022-11-30 22:47] sydb commented on #2371
So, @martindholmes, you are suggesting we not allow 2 (or more) `<attDef>` siblings to have the same `@ident`, regardless of `@mode`, yes? This makes sense to me,[1] at least for the cases where the `<attList>` is a grouping, not an alternation (i.e., when there is not `org="choice"`). I have to think about the `<attList org="choice">` case more.

Since `<attList>`s can nest, even without worrying