[2018-06-28 23:23] martindholmes commented on #1775
+1 from me too. `<sponsor>` and `<funder>` are already in att.canonical, so surely `<distributor>` and `<authority>` should be too.

[2018-06-30 04:10] sydb opened #1779 "XPointer scheme ambiguity"
The signatures of the [`left()`](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/SA.html#SATSin), [`right()`](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/SA.html#SATSR), [`string-index()`](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/SA.html#SATSSI), [`range()`](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/SA.html#SATSRN), [`string-range()`](http://www.tei-c.org/release/d

[2018-06-30 13:44] ebeshero commented on #1770
Is the sentence about schema validation of this even necessary here?

[2018-06-30 14:16] hcayless commented on #1779
There's no ambiguity because XPointers can occur only affixed to URLs (even if it's just `#`), meaning their context is always a resource and they have to start at the top of that resource. So you can't have a relative XPointer and therefore any XPath must be absolute, starting with a `/`.

[2018-06-30 14:16] #1779 closed

[2018-07-01 15:49] sydb commented on #1779
OK, makes some sense. (We’re presuming XPointers cannot be used in sequence, which I believe to be the case, but I have not looked it up.) But if that’s the case, why don’t the _Guidelines_ say that?

[2018-07-03 14:05] ebeshero opened #1780 "Inviting translation of descs, glosses, remarks: workflow"
TEI Stylesheets group proposes that we consider a workflow for inviting translations that involves creating a special e-mail account, something like `tei-translations@tei-c.org`. This would appear on the page where the translation occurs on potentially out-of-date translations. Members of council would need to be monitoring this if we set it up, and we would need to organize a workflow to review i

[2018-07-03 15:48] joeytakeda commented on #1771
If this is uncontentious, then I would be happy to implement this. What needs to happen, I think, is:
* In most cases (all affected elements other than `<list>` and `<table>`) `<desc>` (or, more appropriately, `model.descLike`) would be an optional element after `model.headLike`.
* For `<list>` and `<table>`, `<desc>` should be added after the sequence of `model.headLike` and `model.global`. It do

[2018-07-04 04:59] jamescummings commented on #1771
The use of `<desc>` has semantically loosened since it was first used purely for documentary elements (e.g. elementSpec). This is why the desc of `<desc>` is "contains a brief description of the object documented by its parent element, typically a documentation element or an entity." And why its cross reference from the element reference page in the Guidelines is to chapter 22 http://www.tei-c.org

[2018-07-05 19:44] lb42 opened #1781 "Mysterious schematron constraint in simplePrint"
I just fell over the following schematron constraint in the simplePrint ODD
[code]
The message, though polite, is uninformative. In particular it does not explain clearly why the following perfectly reasonable encoding
[code]
is not acceptable, while the following is
[code]
What did the originators of this constraint intend to achieve by it?

[2018-07-05 20:05] PFSchaffner commented on #1781
Interpreting the prose, rather than the constraint, I imagine an attempt to disallow "`end of par<pb/></p><p>`" and "`</p><p><pb/>beginning of para`" while enforcing this: "`end of para</p><pb/><p>beginning of para`" and allowing this: "`end of <pb/> paragraph</p><p>beginning of paragraph`" and this: "`end of paragraph</p><p>beginning <pb/> of paragraph`"  No? I.e., the opposite of what Martin jus

[2018-07-05 20:08] lb42 commented on #1781
I disclaim any responsibility for adding this constraint, whatever git blame says. And while Paul's interpretation makes good sense, it isn't supported by the actual code, any more than Martin's is!

[2018-07-05 20:09] martindholmes commented on #1781
The reason I jumped to my conclusion is that we're just working on a project which involves splitting a large text automatically into sections which will be separate files, and for that reason we've been writing constraints that force pbs to be inside divs rather than between them. But let's go back to the original simple repo to find out the history of it...

[2018-07-05 20:14] sydb commented on #1781
I think @PFSchaffner probably has the right rationale, but I cannot claim any knowledge; ’tis just a guess. That said, the following test does a better job (written as a Schematron schema to make testing easy):
[code]
I tested this on the following teeny TEI file, and indeed it does what I think the original meant to do, but (as demonstrated by paras 16–20), does not do all that it perhaps could t

[2018-07-05 20:15] martindholmes commented on #1781
The constraint was added by Sebastian in May 2015, and edited by James in October the same year.

[2018-07-05 20:22] lb42 commented on #1781
Does Syd's revision correctly handle the case I quoted above?

[2018-07-06 16:40] sydb opened #1782 "descriptions and glosses w/o language or version date"
@martindholmes  and I just noticed that there are 21 `<desc>` elements that do not have `@xml:lang`. Each is a child of `<moduleSpec>`, and many if not all seem to have sibling `<desc>`s in other languages, and none have `@versionDate`.

I bet our schema does not require `@xml:lang` and `@versionDate` when a `<gloss>`, `<desc>`, or `<remarks>` is a child of `<constraintSpec>` or `<moduleSpec>`. So

[2018-07-06 17:58] martindholmes opened #1783 "New tei-c site breaks the build process?"
The TEIP5-Documentation-dev build failed this morning in what I think was its first build run since the new TEI website was unveiled. The problem comes here in the Makefile:

[code]

where we curl the home page of the TEI site and try to transform it. The problem is that the new site home page is not XHTML5 but HTML5, and it's not processable with xmllint.

Possible solutions:

- Fix the original

[2018-07-06 18:10] lb42 commented on #1783
Piping it through HTML tidy is probably the quickest fix. Or just don't do this weird step at all.

[2018-07-06 18:19] martindholmes commented on #1783
I think we need the file in order to get menus and the like for the TEI site version of the Guidelines. It's always been a bit fragile, but when the site pages were all generated by XSLT from XML sources, we could be sure the result was processable.

But Tidy is a problematic solution because it's a binary, and only newer version support HTML5. My brand-new Ubuntu 18.04 has a version from 2016 in

[2018-07-06 18:47] lb42 commented on #1783
In that case surely we could ask the web master to make available a version of the information in the format we need? (we should generate one now in any case). Scraping it from the web isn't the answer.
i

[2018-07-06 18:56] martindholmes commented on #1783
The reason we scrape it is that the website changes, and one reason for switching to the new version is that it makes it easier to change (and therefore we can expect it to change more). So I think we're stuck with scraping. But if it's impossible to get WordPress to produce decent XHTML5, we may have to do some text manipulation to get just the bits of text we want. I've just assigned Kevin to th

[2018-07-06 18:57] martindholmes commented on #1783
This suggests that WordPress SHOULD do the right thing:

https://make.wordpress.org/core/handbook/best-practices/coding-standards/html/

[2018-07-07 17:02] kshawkin commented on #1783
I suspect that https://make.wordpress.org/core/handbook/best-practices/coding-standards/html/ has been written in parts by various people, leading to inconsistent use of "HTML" and "XHTML" and not actually specifying the version of (X)HTML against which any WordPress code should validate.  Since the way of the web is currently HTML5, which is not well-formed XML, I don't think we can expect that W

[2018-07-07 23:12] martindholmes commented on #1783
The WordPress page explicitly states that all elements should be properly closed, which is XHTML rules rather than HTML rules. But the actual HTML on tei-c is invalid, so clearly WordPress isn't following its own guidelines.

If we go with HTML Tidy as the solution, then I think my Jenkins server will have to be retired in favour of Peter's, and I'll have to rebuild it from scratch. That was on my

[2018-07-08 10:36] lb42 commented on #1783
The more I hear about this can of worms, the more I think that Martin's first proposed solution above (fix the home page) is the only sensible one. Which is not to say that he shouldn't upgrade his server as well :-)

[2018-07-08 13:00] martinascholger commented on #1783
Agreed - XHTML5 would be a good solution. I still wonder at which point we need the file, since there are no menus in the Guidelines. I thought the Guidelines are independent ...

I validated the source code (www.tei-c.org) and there are some problems with the elements nested in the `<footer>`. A `<p>` encloses the whole content; `<span>` encloses `<div>`s and `<h2>` elements. Could we get that fi

[2018-07-08 13:14] kshawkin commented on #1783
The navigation menu was included in the Guidelines snapshot through version 2.9.1 ( http://www.tei-c.org/Vault/P5/2.9.1/doc/tei-p5-doc/en/html/ ) but has not appeared since then.  I'm not sure whether that was an intentional decision, a work-around, or an oversight.

As for the invalid code in `<footer id="footer">`, this is all generated by WordPress when inserting footer widgets.  Similarly, the

[2018-07-08 13:21] ebeshero commented on #1783
Someone coded the WordPress widgets, and they’d probably be interested in helping to find a solution to our problem, as well as to ensure compliance with their own policies. I’m sure WordPress doesn’t want to be producing invalid and deprecated code, and we should probably get them involved in helping to solve this problem.

Elisa
--
Elisa Beshero-Bondar, PhD
Director, Center for the Digital Text

[2018-07-08 14:07] yoannspace commented on #1783
About the `<link rel='https://api.w.org/' href='http://www.tei-c.org/wp-json/' />`, we have also seen this issue for another project and decided to simply delete it. No need to go through the core source code of WordPress for this. Just create a simple plugin (1 php file will be sufficient) and add a couple of remove_action():
[code]
According to WordPress, it was still valid... https://core.trac.

[2018-07-08 14:37] yoannspace commented on #1783
Sorry, I understood it the other way: it now is valid according to both specs, W3C and WHATWG since it is in the microformats.org page.

But anyway, the REST output is still available at the given URI, but the meta element will simply be omitted in the header to pass validation. To delete the REST output altogether, you'd probably need more code which I haven't looked for yet.

[2018-07-08 18:45] martinascholger commented on #1778
It sounds reasonable to me to make `<trailer>` a member of `att.placement` and `att.written`. Or is there a reason why it shouldn't be?

[2018-07-08 18:47] lb42 commented on #1778
Head and trailer should have the same attributes, certainly.

[2018-07-08 18:47] martinascholger commented on #1773
Good examples using specific attributes. How about choosing two or three and add a note which type of publication is described (manuscript, article in a volume/journal, etc.)?

[2018-07-08 19:57] peterstadler commented on #1783
I think the issue is a little bit different:
Not the build itself fails, but the _build log parsing_ turns it into a failed build. See the [log output](http://jenkins.tei-c.org/view/TEI%20dev/job/TEIP5-Documentation-dev/2757/console):
[code]

That could be remedied by adding an exception to our tei-log-parse-rules, stating
[code]
I just tried that on my Jenkins, see https://jenkins-paderborn.tei-c

[2018-07-09 01:21] martindholmes commented on #1783
If the removal of the site menu from the Guidelines as they appear on the TEI-C site was intentional, then there's no need to do any of this part of the build; we only need it if we want to include the site menu, as we used to do.

[2018-07-09 01:39] kshawkin commented on #1783
Ah, here's where we took out the navigation menu: https://github.com/TEIC/TEI/issues/1760

[2018-07-09 13:23] hcayless commented on #1783
Just looking at this. The xmllint failure is not due to it's inability to parse HTML, but HTML5, and it's failing because HTML5 has new elements and libxml2 *still* doesn't know about them.

We could simply ignore the error, which would mean assuming some risk—if we're ignoring errors, a real error might sneak through. I've tested this and it seems to work ok on the current website.

Next step is

[2018-07-09 15:23] hcayless commented on #1783
Think it's working now. Running `make teiwebsiteguidelines` builds a version with the menus. That's not to say we shouldn't look further at it, but I think at least it's not a release blocker now.

[2018-07-09 15:38] hcayless commented on #1783
Yes. I think the only way to get at it is to download http://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/teiwebsiteguidelines.zip and unzip it, but the files in there have menus.

[2018-07-09 15:42] jamescummings commented on #1706
teidata.percentage is also mentioned in a specList at http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ST.html#DTYPES

I will:
- remove the teidata.percentage.xml file
- remove the mention in ST

Should I remove the examples (in dataRef and dataFacet)? Or would one of you like to modify those to be more sensible examples?

[2018-07-09 15:46] martindholmes commented on #1783
I'll close this then -- problem solved.

[2018-07-09 15:46] #1783 closed

[2018-07-09 15:48] jamescummings commented on #1783
Just being suspicious that I don't see these at

http://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/index.html

[2018-07-09 15:49] hcayless commented on #1706
I suggest keeping the examples but changing the `@ident` to something like "data.integerExample". They're fine as demos of the sorts of things you can do.

[2018-07-09 15:51] martindholmes commented on #1783
@jamescummings The version of the Glines built for tei-c is slightly different from the generic one. As Hugh says, you have to download the zipped package intended for tei-c to see the full site version.

[2018-07-09 15:52] jamescummings commented on #1783
@martindholmes: I trust you. :-)

[2018-07-09 15:53] martinascholger commented on #1783
It works :-)

[2018-07-09 16:02] martinascholger commented on #1775
There seems to be no objection. Status Go?

[2018-07-09 16:05] ebeshero commented on #1775
Just reading it now--In addition to Peter, it'll be helpful to me and others working on coordinating prosopography with bibliography. Definitely plus 1 from me.

[2018-07-09 16:55] jamescummings commented on #1687
Hi @duncdrum: adding the streams attribute. Could you modify your example in the previous comment so that it is valid? (text by itself is not allowed as a child of `<div>`). I thought about adding `<ab>` elements around these but then was not sure that I'd be misunderstanding.

[2018-07-09 18:30] hcayless commented on #1736
There's been no followup on this, so closing

[2018-07-09 18:30] #1736 closed

[2018-07-09 20:10] duncdrum commented on #1687
@jamescummings 🎉
You PR has `maxOccurs="2"` it should be `maxOccurs="unbounded"`as in the OP. The example below already has 3 streams, which is a common thing for xylographs. Thinking of other possible applications for `@streams`, limiting `maxOccurs` doesn't seem a promising approach imv.

[code]

[2018-07-12 11:06] jamescummings commented on #1687
Hi @duncdrum,

A single layout element gives the details for a single run of layout structure. So if you had a book with 3 columns for 20 pages, then 2 columns for 50 pages, then a single column for 150 pages you'd use 3 layout elements (optionally with a locus element to say where the ranges start and stop)  The numbers in column attribute are the number of columns, either a single number '5' to

[2018-07-12 13:13] GVogeler opened #1784 "`bibl` as loose model is not loose enough"
The specification of `bibl` in the current specification is considered an element for any loosely-structured bibliographic description. For this reason it takes several msDesc and biblFull subelements as possible content. It excludes elements like `incipit` or `decoNote`. As incipits can replace titles and the physical features of a bibliographic entity are more than just dimensions I would sugges

[2018-07-12 18:13] hcayless opened #1785 "Content model of rdgGrp"
See discussion on the TEI List [`<app>` of multiple lemmata](https://listserv.brown.edu/archives/cgi-bin/wa?A2=ind1807&L=TEI-L&P=17782). The content model of `<rdgGrp>` does not permit `<lem>` followed by `<rdgGrp>`, which seems like a plausible thing to want to do.

[2018-07-12 19:31] sydb opened #1786 "improve module descriptions"
## xml:lang=en

TD = “Documentation of TEI modules”; should be something like “Documentation of XML markup languages, including TEI” or some such, no?

CE = “Certainty and uncertainty”; should be more like the title, “Certainty, Precision, and Responsibility”, I think

SA = “Linking, segmentation and alignment”, but should have the Oxford comma, no?

## xml:lang=zh-TW

SA = is obviously wrong, as

[2018-07-12 22:48] traceyeh opened #1787 "Feature Request: `<projectDesc>` content model needs to be richer"
According to the `<projectDesc>` definition, project description
"describes in detail the aim or purpose for which an electronic file was
encoded, together with any other relevant information concerning the
process by which it was assembled or collected." However, this element
only permits `<p>` and `<ab>` as children, thus not allowing specific
elements for encoding "any other relevant informatio

[2018-07-12 23:10] duncdrum commented on #1687
@jamescummings ah this makes more sense, anything that helps me avoid multiple-value attribute is much appreciated.

[2018-07-13 00:09] kshawkin opened #1788 "location of model.ptrLike elements within biblStruct"
According to https://github.com/TEIC/TEI/issues/385 , Council once decided that `idno` should not be used as a child of `biblStruct` but should instead only be used as a child of `analytic`, `monogr`, or `series`.

However, I've just discovered an instance where `ref` is given as a child of `biblStruct`: see the Coombs, Renear, and DeRose example at http://www.tei-c.org/release/doc/tei-p5-doc/en/h

[2018-07-13 00:31] kshawkin commented on #1788
I should add that it's worth considering whether to deprecate `model.ptrLike` as a child of `biblStruct`, as was done for `idno` ( https://github.com/TEIC/TEI/issues/385 ).

[2018-07-13 13:07] martinascholger opened #1789 "Clarify description of @points in att.coordinated"
This issue came up in the course of @martindholmes `<path>` proposal (#1764) when having a closer look at the `@points` attribute in `att.coordinated`.
`@points` is defined as "identifies a two dimensional area within the bounding box specified by the other attributes by means of a series of pairs of numbers, each of which gives the x,y coordinates of a point on a line enclosing the area."
Since t

[2018-07-13 13:37] sydb commented on #1787
I **love** this overall suggestion, but not the actual suggested content model.
[code]
For starters, we should not cripple `<projectDesc>` the way `<titleStmt>` is by requiring an alternation of either structured information (`<title>`, `<respStmt>`, etc.) or prose (`<p>` or `<ab>`). Rather, one should be allowed to put the project name, director, and lead programmer into structured slots, and sti

[2018-07-13 17:48] martindholmes commented on #1787
@sydb I mostly agree, although I'm not sure whether what we call a project is a title or a name. If we can get the best of all worlds (all the required resp stuff, a usable field for title/name, address, email, and prose description too) then that would be a win. We also have to keep backwards compatibility. Do we need model.projectDescPart?

[2018-07-15 15:13] jamescummings commented on #1687
Since everything looks fine at
http://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/ref-layout.html I'll close this for now.

[2018-07-15 15:13] #1687 closed

[2018-07-15 18:28] jamescummings commented on #327
Apologies for the delay. I've made mine first attempt at an object element for physical objects. This is mostly based on msDesc but also the other named entity objects like person/place/event. I've done this in the jamescummings-object branch.

In particular this would introduce 3 new elements: objectName, listObject, and object. These would function with almost identical relational semantics to t

[2018-07-15 20:15] sydb commented on #1750
Wow, @ebeshero, your analysis is quite impressive. (Although I don’t know which of the three examples of `<div>` in DSDIV3X you mean; and I think your (1) is really describing `@sample`.) But it boils down to “that’s the way the Guidelines have always allowed it”. And although that’s true, it is a problematic methodology when applied to `<said>` or `<div>` (but not to `<l>`, which cannot self-nest

[2018-07-15 21:42] #1737 closed

[2018-07-16 09:35] schassan commented on #327
Dear James, thank you very much for this!

Only that I wonder if it would be better to stick closer to the content model of `<msDesc>` for the following reasons:

1. How one should describe the owner or whereabouts of an object? Each object will have these attributes and it should be possible to describe them, even for virtual objects or those who appear only in literature such as the often cited

[2018-07-16 13:05] jamescummings commented on #1775
+1 from me.

[2018-07-16 13:13] emylonas commented on #1775
makes sense and simplifies <publisher> et al.

[Elli Mylonas
 Director, Center for Digital Scholarship
 University Library
 Brown University
 library.brown.edu/cds]

On Mon, Jul 16, 2018 at 9:05 AM, James Cummings <notifications@github.com>
wrote:

[2018-07-17 00:36] ebeshero commented on #1630
closing with this commit: https://github.com/TEIC/TEI/commit/95811217d19e4dbddb7f17ef556fb7db6ffc0d27

[2018-07-17 00:36] #1630 closed

[2018-07-17 01:55] ebeshero commented on #1707
@jamescummings @sydb @emylonas Checking in: where are we on this ticket, and what can we do on it ahead of the upcoming release?

[2018-07-17 02:08] ebeshero commented on #1707
Actually, this is also asking what's happening with #1461 and #1707 -- I'm going to work on #1707 for the moment to see if that will help.

[2018-07-17 02:20] ebeshero commented on #1707
Rephrasing my last: This is also effectively checking in on #1461 and #1720 , both connected to this ticket. I'm working on #1720 now, in case it will help us here.

[2018-07-17 02:36] ebeshero commented on #1720
How about this for a more broadly applicable and representative description of att.lexicographic?
provides a set of attributes for specifying standard and normalized values, grammatical functions, alternate or equivalent forms, and information about composite parts.

[2018-07-17 02:51] joeytakeda commented on #1769
Where are we on this ticket? I am still of the opinion that there isn't a good existing attribute that unambiguously denotes the specific place to which a `<move>` refers and that `@whereRef` would remedy that. I am happy to make a proposal in ODD if that would help clarify some use-cases for the `@whereRef` attribute.

[2018-07-17 03:03] ebeshero commented on #1769
@joeytakeda I'm reviewing tickets now and thinking about this one. You've provided some helpful examples and explanation. I need to make sure Council considers and discusses it--and we haven't had a good opportunity for that yet: this is the sort of ticket that we need to talk about in a face-to-face session. I think we'll have a good opportunity to do that at the next face-to-face meeting in Sept

[2018-07-17 03:06] ebeshero commented on #1769
@joeytakeda For what it's worth, you've persuaded me that the addition of `@whereRef` to pair with `@where` would be helpful, and that we have precedent for it with `@ed` and `@edRef`. I'm going to assign someone else on Council to review the ticket and see if others agree.

[2018-07-17 03:15] ebeshero commented on #1769
@martinascholger I'm in favor of adding `@whereRef` as @joeytakeda suggests following the discussion on this ticket so far, and I understand his use-case: I can represent it to Council. @joeytakeda, if you want to provide some example code and/or and ODD as you suggest, this is probably a good time for that.

[2018-07-17 03:43] ebeshero commented on #1788
I'm assigning this to @jamescummings to see if he agrees with @sydb and @kshawkin . The description of `biblStruct`does seem to preclude anything that isn't a "bibliographic sub-element"...

[2018-07-17 03:45] ebeshero commented on #1780
Assigning to @martinascholger , since we need to consider creating a special account and means to review submitted translations.

[2018-07-17 03:57] ebeshero commented on #1772
@lb42 , you said it's hard to see how books and places can be said to "participate" in a text. Then again, when people are represented in a text as "participants" in `<particDesc>` we don't always mean that they are participants (as in speakers or human agents). [Our description of `<particDesc>`](
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-particDesc.html) says that it "describes the

[2018-07-17 03:58] ebeshero commented on #1772
@peterstadler : any thoughts on this?

[2018-07-17 04:00] ebeshero commented on #1781
I'm assigning @sydb and @jamescummings to review this together, though James will have to dredge up some distant memories on this. :-)

[2018-07-17 04:22] ebeshero commented on #1784
@GVogeler Are you thinking that we should extend
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-model.biblPart.html to include
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-model.msItemPart.html  ? Or does this go too far?

[2018-07-17 04:38] ebeshero commented on #1785
@hcayless just a quick note of your last comment in the listserv thread, which suggests possible reasons why we haven't implemented `<lem>` in `<rdgGrp>`: https://listserv.brown.edu/archives/cgi-bin/wa?A2=ind1807&L=TEI-L&D=0&P=23802

[2018-07-17 04:50] ebeshero commented on #1787
A `model.projectDescPart` seems like a great idea from here, with the pieces @sydb proposes: I was just thinking that the way I'm handling project description in my own headers is suboptimal. Not all projects have a separate "lead programmer" from the "director," or even use these terms, so I think we'll want some freedom in the designation of roles--something like a `<listRole>`?

[2018-07-17 04:54] ebeshero commented on #1787
I'm assigning this to me and @emylonas to think of some approaches to a new `model.projectDescPart`

[2018-07-17 05:46] GVogeler commented on #1784
@ebeshero yes, this seems sensible to me.

[2018-07-17 06:07] ebeshero commented on #1650
resolved with https://github.com/TEIC/TEI/commit/6c931789491bf6d3fb09f3ab5247e1f1d0be07be

[2018-07-17 06:19] ebeshero commented on #1650
Reopening because evidently I did this wrong...

[2018-07-17 06:52] #1650 closed

[2018-07-17 07:08] ebeshero commented on #1650
...and all is well now.

[2018-07-17 07:56] StefanDumont commented on #1765
Thanks @martinascholger and @jamescummings! I think we can close this issue now, since the pull request in #1777 was merged into the dev branch.

[2018-07-17 07:56] #1765 closed

[2018-07-17 08:02] martinascholger commented on #1765
Thanks @StefanDumont for the pull request

[2018-07-17 10:29] martinascholger commented on #1767
resolved with e852dc2

[2018-07-17 10:29] #1767 closed

[2018-07-17 11:55] martinascholger commented on #1775
implemented with 1c8efa6

[2018-07-17 11:55] #1775 closed

[2018-07-17 14:02] #1751 closed

[2018-07-17 15:03] jamescummings commented on #1707
I think the elementSpecs produced by @naoki-kokaze at https://github.com/TEIC/TEI/issues/1707#issuecomment-346844499 have consensus (much of the discussion after that is interesting but not really about this ticket). Barring a few tweaks here and there (and their relation to the other tickets), I'm still of the opinion that this is in an almost implementable state in its 24 November 2017 iteration

[2018-07-17 15:22] ebeshero commented on #1707
+1 from me, but hoping we can work out the next steps: we approved the new element `<unit>`, but do we need to implement it first, and then set up the elementSpecs worked out here, right? I wonder if we want to do this work in the face-to-face together, or ahead of it... (Okay, or right now, but there's just one day to freeze before our next release.)

[2018-07-17 15:29] ebeshero commented on #1707
@laurentromary I bet we can do that much, anyway... Stay tuned...

[2018-07-17 15:35] ebeshero commented on #1461
I'm going to attempt to implement this one now, since it's timely and we need it for #1707 .

[2018-07-17 15:37] jamescummings commented on #327
Hi @schassan,

Thanks for the swift response.  In answer to your questions:

1. I didn't want to impose the strict constraint of msIdentifier, especially not making it required as in msDesc because that would be very limiting for some people depending on the objects they want to describe.

I believe you can have that structure with just using model.nameLike. Either you could have all the elements

[2018-07-17 15:41] martindholmes commented on #1787
@ebeshero If we have `<respStmt>`, surely there's no need to invent a new mechanism like `<listRole>`?

[2018-07-17 15:44] ebeshero commented on #1787
@martindholmes Good point--It was prompted, though, by @sydb suggesting specific elements for "lead programmer" and "project director" etc. respStmt works in a general sort of way, but what if we want to encode a list of people with various kinds of responsibility and some contact information for the project? There may be a simpler way of formalizing this without inventing new elements--hope we ca

[2018-07-17 15:44] jamescummings commented on #1788
1. I agree that both these examples should be changed to have the ref under analytic.
2. I'm wary of deprecating model.ptrLike as a child of biblStruct just in case it has been used en masse by anyone. Have you encountered people doing this at all?

[2018-07-17 15:47] ebeshero commented on #1787
Actually now that I look at @sydb 's comments more carefully, I think he's probably worked out a good way of doing this already. I was distracted by the phrase "structured slots" in the comment above.

[2018-07-17 15:49] martindholmes commented on #1787
If you use `<resp>` with a controlled vocabulary (we use Library of Congress codes), then you have very fine-grained options for `<respStmt>`.

[2018-07-17 15:57] jamescummings commented on #1784
I'm not adverse to that. A more flexible `<bibl>` element is always desirable for me.

Of course it isn't possible just to have model.biblPart include model.msItemPart since they both some some of the same elements we'd end up with ambiguous content models, I think? We might have to refactor things into intermediate classes. It would seem a bit weird to have both msIdentifier and msItem together t

[2018-07-17 16:00] lb42 commented on #1787
RespStmt is explicitly for "intellectual responsibility" though? Wouldnt be appropriate e.g. for a funding agency, or a standards body, or a sponsor, all of whom might plausibly be included ina project description. I hope that if you do wind up with some kind of structured projectDesc it will (a) not be too culture specific (b) not preclude doing things ones own way.

[2018-07-17 16:06] lb42 commented on #1784
I otoh am decidely averse to the idea of recklessly adding everything in msItemPart into msBiblPart. . For example, model.msItemPart includes msItem, so msItems can self-nest. Which bibls most definitely cannot. (Cue long boring argument about biblipraphic standards)  By all means make a principled selection of members of the former which could also be in the latter, though

[2018-07-17 16:11] jamescummings commented on #1781
My first reaction was "I did **what**?! I never edited this schematron constraint!"

The editing that @martindholmes is referring to is merely whitespace reformatting from having format-and-indented it in oXygen.
See https://github.com/TEIC/TEI-Simple/commit/fb1024baedccd33538c1fad1b1c2e5168c00f04f#diff-2a9ef9d0770916a205c05e03d0fb5116L972 for the precise change.

I've no idea what this might have

[2018-07-17 16:19] scstanley7 commented on #1784
Besides `<incipit>` and `<decoNote>`, do we have a sense of what other elements would need to be? model.respLike is already a member of model.biblPart and it sounds like we want to leave out model.biblLike to avoid nested `<bibl>`s.

Is there any reason we shouldn't do model.msQuoteLike and a freestanding `<decoNote>` or does that leave out something crucial to resolving the issue raised in the ti

[2018-07-17 16:38] jamescummings commented on #1743
@martindholmes: Good question.

[2018-07-17 16:43] jamescummings commented on #1655
Here is a revised proposal for the simple rewording of descs without any schema changes. I think this are uncontroversial so will go ahead an implement them, but shout now if you see anything you don't like.

**Revised Proposal:**

Seal current description:

Proposed rewording:

sealDesc current description:

Proposed rewording:

[2018-07-17 17:15] martinascholger commented on #1734
@laurentromary and @ttasovac : do you already have examples for this?

[2018-07-17 17:43] ebeshero commented on #1461
@martinascholger @jamescummings I've drafted the new element spec and update for the Guidelines, but should I commit this in a branch until the current Jenkins issue is resolved?

[2018-07-17 17:45] ebeshero commented on #1461
This is exactly what I'm going to do, actually, since we'd better take a look at my description of `<unit>` to see if it makes sense and jives with what we discussed here. Will post as pull request on my branch.

[2018-07-17 17:52] ebeshero commented on #1461
Here's my pull request: https://github.com/TEIC/TEI/pull/1790 Please take a look and let's see what we can modify. We could use glosses and more examples in other languages, but maybe this is a reasonable start and a release candidate?

[2018-07-17 18:37] GVogeler commented on #1784
I can imagine quoteLike (consider a text on a biblical quotation) and filiation (consider a text identified as the copy/translation of another text) as well.

[2018-07-17 18:52] GVogeler commented on #1784
@scstanley7 @lb42 considering references of review articles which use the bibliography of the reviewed item as a core identification element I don't see why the `bibl/bibl`-nesting allowed by already by model.biblPart should create a semantical special risk.

[2018-07-17 18:53] GVogeler commented on #1784
@scstanley7 @lb42 considering references of review articles which use the bibliography of the reviewed item as a core identification element I don't see why the `bibl/bibl`-nesting allowed by already by model.biblPart should create a semantical special risk.

[2018-07-17 19:04] GVogeler commented on #1784
I don't want to put brakes into the implementation of already any small extension to `bibl.Part` but I would at least like to point out that any `msDesc` could be considered a strict version of a loosely-structured bibliographic description as long as you accept that a frbr:item can be described by `bibl`. This would lead for instance to include model.phyDescPart into model.biblPart. Just for futu

[2018-07-17 21:23] martindholmes commented on #1787
@lb42 I think that's why we want a variety of elements, such as `<sponsor>`, `<funder>`, etc. in addition to `<respStmt>`. My objection to @ebeshero was that I don't think we need to invent new elements for this. Everything you need for `<titleStmt>` you might conceivably need for `<projectDesc>`, and vice versa.

[2018-07-18 04:03] laurentromary commented on #1788
Since it breaks backward compatibility we should deprecate the construct enough in advance rather than changing the content model on the fly. This would prevent discontent.

[2018-07-18 08:29] laurentromary commented on #1720
That sounds good for me.

[2018-07-18 09:15] chr-emil opened #1791 "Dictionary: an entry element in a sense element"
In many multiword expressions (collocations) are written and explained under a sense node of the definition tree in the entry of one of the central words of the multi word expression.  The location under a sense node is ok.  However, the multi word expression itself has to be encapsulated in a cit element. The definition of the expression will be encapsulated in a sense element at the same level.

[2018-07-18 10:11] laurentromary commented on #1791
In theory, this would be a perfect use case for `re`, but we have just had a meeting of the TEI Lex group where we would actually support a wider application of entry (e.g. making it recursive) andes, allow it to occur within `sense`. I am thus 100% supporting this ticket, with the hope that it can be an opportunity to do even a little more for `<entry>`.
This would boil down to making `<sense>` m

[2018-07-18 13:37] ttasovac commented on #1791
This is really a very lucky coincidence. As Laurent mentioned, the TEILex0 team (partly DARIAH WG Lexical Resources, partly ELEXIS: European Lexicographic Infrastructure) has spent a great deal of time discussing this issue. We've identified multiword-expressions, collocations (but sometimes also idioms and other type of phraseology) that would greatly benefit from being grouped as entries.

@laur

[2018-07-18 13:43] martinascholger commented on #1702
I made `<lbl>` a member of model.entryPart.top .  This didn't work for `<pc>`, since I got an ambiguous content model. So I added elementRef pc to the content model of `<hom>` and `<entry>`.

[2018-07-18 14:41] chr-emil commented on #1791
Just to mention it: In a dictionary one may write separate entries for multiword headwords and then create a link from the actual sense to this separate entry.  This is the solution we have used in the editing system for the Norwegian Dictionary (http://no2014.uib.no).  This is the typical database/linked data solution. However, in an TEI-realization of the dictionary the solution with nested/recu

[2018-07-18 14:43] martinascholger commented on #1702
Closing this with 6bc78db and 1f6bd01

[2018-07-18 14:43] #1702 closed

[2018-07-18 17:07] ebeshero commented on #1461
With thanks to @martinascholger and @jamescummings , I've prepared the element spec and Guidelines information for `<unit>` as we discussed here, and all is working with our test builds now with this commit: https://github.com/TEIC/TEI/commit/62d400aa1ca83b65e48c51bac9f6bab6cc76efbd . It should be available with the next release.

[2018-07-18 17:07] #1461 closed

[2018-07-18 17:09] laurentromary commented on #1461
Hurray! Many thanks to the group.

[2018-07-18 17:42] ebeshero commented on #1707
We've now prepared the new element `<unit>` as discussed in #1461 so that will be available with the next release. Notes:
* As agreed by Council, the new element `<unit>` takes the `@unit` attribute (instead of using `@norm` as originally proposed). The `@unit`attribute serves the same purpose we've discussed here for `@norm` and it's coming from `att.measurement` so as Council agreed for that tic

[2018-07-18 18:02] ebeshero commented on #1707
We're also going to need to do some intensive writing for the Guidelines to introduce `<unitDef>` and `<unitDecl>`, and I think we should adapt @naoki-kokaze 's use-case from the 19th-century log-book of the Japanese steam ship company. There's lots to write here and a serious multi-cultural perspective to be described--important material for the Guidelines, but we may not have time to get all thi

[2018-07-18 19:05] duncdrum commented on #1707
@ebeshero right, since this is @naoki-kokaze 's baby I d say he gets to call dips on what examples should go into the guidelines.
@jamescummings  @naoki-kokaze catties 🍺 are collectible at the annual conference in Tokyo

[2018-07-18 20:14] ebeshero commented on #1707
@naoki-kokaze @duncdrum @jamescummings @sydb @emylonas I've reset the milestone for this to the release *after* this one, because we have some writing and testing to do yet (it's too soon for the release of next week).

However, I've also started a `measurements` branch here on the TEI GitHub repo, where I've set up the specs files for `<unitDecl>` and `<unitDef>` and added the `@factor` to the ne

[2018-07-18 20:47] sydb commented on #1707
I have not looked at the issue carefully, but I doubt that it makes sense to put any of these elements into att.lexicographic. (That doesn’t mean they don’t need `@norm`, but even if they do, they probably don’t need all the others.)

[2018-07-18 20:57] sydb commented on #1769
I _think_ I am also in favor of adding `@whereRef` is @joeytakeda suggests, but
 a) I could probably be talked out of it, and
 b) I find it amusing that my take on the values of `@where` and `@whereRef` are the opposite of his:

[JT](https://github.com/TEIC/TEI/issues/1769#issuecomment-385522180)> Having a dedicated attribute for a pointer allows projects to encode their texts more explicitly, rat

[2018-07-18 21:21] ebeshero commented on #1640
I wanted to keep the example fairly simple and straightforward so I "boiled down" the one @jamescummings pointed us to to feature in the classDecl section. I think this (https://github.com/TEIC/TEI/commit/d36eb446ab601962ec5382bd251c5df1d9faab63 ) should be enough to resolve the ticket.

[2018-07-18 21:21] #1640 closed

[2018-07-18 21:46] schassan commented on #1785
I become aware of this very problem only now (mainly because I never really used `app` at all), but couldn't one claim that a `lem` has a very different ontological status from a `rdg`? The `lem` can be backed up by an existing witness but it doesn't necessarily have to. Thus I would dare say, a `lem` is no subclass of a `rdg`, moreover no reading at all. And thus `lem` probably shouldn't be allow

[2018-07-18 21:48] #1749 closed

[2018-07-18 22:10] joeytakeda commented on #1769
An example of this (taken from Webster's _Monuments of Honour_ (which is in draft on MoEML): http://mapoflondon.uvic.ca/MONU1.htm and encoded as an exemplum):
[code]

The prose above (which is arguably distinct from the dramatic action of the performance itself) describes that there was a movement sometime between the last speech and the following speech from the Lord's Barge to Paul's Chain and t

[2018-07-18 22:22] ebeshero commented on #1769
@joeytakeda  I see your point about how nice it would be if `@where` meant the same thing on these elements, but the use of `<move>` on dramas gives `@where` a special directional quality. I have a couple of questions/suggestions about your example:

1) Would it help people understand what's going on here if you also marked the Lord's Barge and Paul's Chaine, so that it's a little more quickly cle

[2018-07-18 22:31] schassan commented on #327
Hi @jamescummings,

1. I don't think the content model of `msIdentifier` is very strict as it only needs to contain one of all the elements allowed in it. Agreed, some combinations are more frequent than others, but an `idno` or just a `msName` would do. Which is indeed the very same as you argued for.
2. If I think of the use and role of `msIdentifier` I never think of it as a manuscript or TBO a

[2018-07-19 01:31] martindholmes commented on #1763
I don't actually know how content is to be changed on the new site, and I don't have a login for the WordPress instance, so I'm going to reassign this to Luis or Kevin.

[2018-07-19 01:37] sydb commented on #1769
1. I don’t know what @joeytakeda thinks, but **I** think it would be more understandable if all the names of places were so marked.
1. I don’t think it makes a lot of sense to exemplify a practice (simultaneous use of both `@where` and `@whereRef`) that is at least questionable, if not a bad idea.
1. Why is the `<move>` a child of the division “The ſpeech of Troynouant”, rather than preceding it?

[2018-07-19 01:39] #1782 closed

[2018-07-19 01:45] kshawkin commented on #1763
I've changed "will be" to "was" the new WordPress-based website.  If anyone can think of other edits that were made silently like this in OpenCMS during the migration process without letting me know (so I could replicate in WordPress) and that wasn't already pointed out to me near the point of launch (such as recent Council minutes), please contact me so I can recreate them in the new site.

[2018-07-19 05:07] joeytakeda commented on #1769
Thanks for the suggestions, @ebeshero and @sydb. Suggestions taken and put below is an ODD customization for `@whereRef`:

[code]

[2018-07-19 06:31] TomazErjavec commented on #1791
I can see problems (as well as advantages) of having entry recursive. So, I have to ask: what is wrong with dictScrap for containing such multiword expressions? It seems to be able to contain most of the stuff entry does.

[2018-07-19 06:34] ttasovac commented on #1791
`<dictScrap>` is too easy-going about things, you can use dictionary elements in whichever order you want —  whereas `<entry>` remains highly structured, allowing for a much tighter lexical representation.

[2018-07-19 06:37] chr-emil commented on #1791
The ticket #1702 mentioned by @ebeshero is related but different. It addresses a problem one encounters frequently when encoding retrodigitized dictionaries - how to deal with all the characters (and spaces) used in the original as separators and decor and at the same time encode the logical structure of an entry. This would require either mixed content model (elements and cdata intermixed) or som

[2018-07-19 06:49] laurentromary commented on #1791
To further answer @TomazErjavec 's remark: I think one of the issues behind @chr-emil 's request is to be able to have the same object encoded in the same way wherever it appears: i.e. as an autonomous entry or a sub-entry somewhere (in his case within a `<sense>`). So having something like `<entry type="multiWordExpression">` all over the place rather than `<entry type="multiWordExpression">`, or

[2018-07-19 06:49] chr-emil commented on #1791
I agree with @ttasovac.  It is nothing unstructured in such a <entry> under a <sense>.  <dictScrap> mentioned by @TomazErjavec is in itself fine for many purposes for example when  one cite a dictionary entry inside another, but is not the correct solution here.

[2018-07-19 08:48] lb42 commented on #1791
But an entry does have somewhat different semantics from a subentry or a nested entry surely? If asked "how many entries are there?" It's plausible to exclude those which are nested within a main entry, surely? Why did the dictionary writer organise the material in this way? So I am not convinced it really is "the same object".

[2018-07-19 09:12] laurentromary commented on #1791
Having a different semantics depends on the actual editorial stance associated to the dictionary. In many cases, the fact that en entry appears as a sub- (or super-) entry is accidental, i.e. results from practicalities. The point is that there are use cases where we need a more homogenous representation framework and we do not ask for the deprecation of `<re>` or `<dictScrap>` here, just provide

[2018-07-19 15:16] naoki-kokaze commented on #1707
@ebeshero Thank you for the arrangement towards the next release.
I agree with @sydb ‘s opinion about att.lexicographic, because the reason why I put the element <unitDef> into att.lexicographic was that I thought we would need @norm.

[2018-07-19 22:59] ebeshero commented on #1679
@scstanley7 Quick question about this commit: https://github.com/TEIC/TEI/commit/3bb055ae14425f6969421e5e40f5a75c53c00e50 I might be misreading the git diff view, but it looks like att.ascribed was removed from several elements and replaced with att.ascribed.directed?  Shouldn't both attribute classes apply, since presumably they could take `@who` and `@toWhom`?

[2018-07-19 23:02] scstanley7 commented on #1679
Hey Elisa! It was Syd's suggestion that since all of the elements in att.directed were members of att.ascribed that att.directed should be a subclass of att.ascribed. So we created att.ascribed.directed, which is itself a member of att.ascribed. All elements will still get both `@who` and `@toWhom`.

[2018-07-19 23:16] sydb commented on #1679
No, @ebeshero, a member of the new att.ascribed.directed gets both `@who` and `@toWhom`. (Members of att.ascribed get just `@who`. But we (@scstanley7 and I) should not have closed this ticket until Mr. Jenkins was happy, which he isn’t, so it’s a good thing (IMHO) that you reopened it.

[2018-07-19 23:27] ebeshero commented on #1679
@sydb and @scstanley7 The whole subclasses thing with attributes always confuses me--sorry! I just tested that out with an element from `att.global` using the one and only attribute in `global.facs` (`@facs`) and yes, the whole thing is fine. Skimming the specs and appendices in the Guidelines, we don't use subclasses very often and when we do (global!), the whole class seems to typically subscrib

[2018-07-19 23:31] scstanley7 commented on #1679
Thanks for double checking it, Elisa! Deleting `@who` altogether would have definitely been bad, so it's better to be sure on that front. And I think we fixed the issue? I didn't realize that the bibliography had language-specific `<listBibl>`s so I accidentally put it in the French one. We'll see if Jenkins is happy with the fix...

[2018-07-19 23:34] scstanley7 commented on #1679
oh, and @ebeshero, there is a `<specGrp>` reference to att.ascribed.directed.xml in ST. Is there somewhere else it should be included?

[2018-07-19 23:38] ebeshero commented on #1679
@scstanley7 That was a just a guess from the Jenkins error: 'ERROR: Guidelines.epub/OPS/ref-att.ascribed.directed.html(1,8753): 'toWhom-eg-1': fragment identifier is not defined in 'OPS/BIB.html'' , and I bet you already fixed it as you described above.

[2018-07-20 00:56] sydb commented on #1735
Despite @jamescummings’ comment above (which mirrors what little the minutes from Köln), I don’t know exactly what constraints are GO and whether or not they should be deprecated first. So for this upcoming release I have instituted the following constraints in tei_customization (if we like them there, we can move them to P5 with or without deprecation):
1. Schematron rule added [Jan 22](https://g

[2018-07-20 03:15] laurentromary commented on #1707
Just for the record, I think we do need such a generic mechanisms as `@norm` for coded segments (to differentiate from full natural language segments) and I am not completely at ease to have too many ad hoc ones to cover more or less the same usage pattern. Time pressure has probably prevented a debate on this (and I am so glad we have `<unit>`!), but we should re-open the discussion on this attri

[2018-07-20 03:40] ebeshero commented on #1707
@laurentromary When we reviewed this together in Council it made sense in the measurement context to work with `att.measuremement`, and use `@unit` for the purpose of a normalized value for the `<unit>` element. As I began work on this ticket, I wondered if `<unitDef>` might be a different case, if it’s here we might want the lexicographic toolbox?

[2018-07-20 13:22] ebeshero commented on #1645
Revisiting this ticket, I think there's no reason we shouldn't resolve this and apply it toward the next release--evidently it just hasn't come up for discussion and I'm sorry for not following up sooner. I would like to make sure Council is okay with the simple proposed change first.

[2018-07-20 14:51] ebeshero commented on #1621
I'm finally working on this ticket, and I started by surveying all the Schematron constraints in our specs, including the 9 that have `@role="nonfatal"` attached.  Except in the case of the series of rules to do with dating attribute co-occurrence (`@to`, `@notBefore`, `@when`, etc) these are deprecation warnings. @martindholmes rightly points out that those dating co-occurrence constraint message

[2018-07-20 15:33] sydb opened #1794 "fallout from @toWhom"
@scstanley7 and I were working on #1679, and in doing so came across several issues that should be addressed. I am collecting them here just for convenience.

1. The 2nd of the two "DSHD-eg-30" examples in CO has a completely superfluous `<namespace>` and `@xml:id`s.
1. The 1st of the three "COHQQ-eg-23" examples in CO points to a list of empty items!
1. Pointing from `@who` (and `@toWhom`) to a `

[2018-07-20 15:36] sydb commented on #1794
(1), above, fixed at 70363c7.

[2018-07-20 15:58] sydb commented on #1679
@scstanley7 (with some kibitzing by yours truly) has implement, and Mr. Jenkins is thrilled.

[2018-07-20 15:58] #1679 closed

[2018-07-20 16:17] ebeshero commented on #1621
With this commit in a branch, https://github.com/TEIC/TEI/commit/533d896a98e54972b437f6baa1208c6a37f97aad  , I've written something more explicit about Schematron, as well as a couple of other small suggestions for clarification in Ch. 23--I'd like to review this with Council as soon as we can.

[2018-07-20 16:17] sydb commented on #1768
With thanks to @peterstadler for testing, looks to me like this is done and working now. There are only two references to “macro.schemaPattern” left in the _Guidelines_, both in the `<remarks>` in the tagdoc for `<content>`: one in the French and one in the Japanese.

[2018-07-20 16:17] #1768 closed

[2018-07-20 16:31] ebeshero opened #1795 "Language of Schematron messages where @role="nonfatal" and @role="warning""
In reviewing our Schematron `<constraintSpec>`s for ticket #1621, I took special note of the 9 that are marked with `@role="nonfatal"` and the one and only one marked `@role="warning"`. The one marked as "warning" sounds appropriately like a warning, but the others marked as "nonfatal" mostly sound as if they're outright validation errors. Here's an example:

[code]

If we do intend to convey that

[2018-07-20 16:40] ebeshero commented on #1794
I'm self-assigning this because I'd like to try encoding an aside from one of the plays we're working on, using `@toWhom`. Re (2) above, note that the problem is in the *third* of the three "COHQQ-eg-23" examples.

[2018-07-23 08:45] martinascholger commented on #1453
I  close this after pull request #1764 has been successfully merged.

[2018-07-23 16:18] jamescummings commented on #327
All good points. This would require another change then that objectName would have to be allowed inside msIdentifier. The other option is to invent a more general objectIdentifier or something. In general just adding objectName to msIdentifier seems easier. (Though there are those that will bristle against the use of msDesc-specific things for objects and vice-versa.)

5. You are right... though w

[2018-07-23 16:51] lddubeau opened #1796 "http://packages.tei-c.org/deb/ is not accessible"
It's been a long long time since I've paid attention to the Debian packages for TEI but I recently discovered that my URLs needed updating. Checked [the wiki](https://wiki.tei-c.org/index.php/TEIDebian) but if I click on the link to get a list of packages (http://packages.tei-c.org/deb/), I get "Forbidden" as a response. So something is off. I checked the mailing list to make sure I did not miss s

[2018-07-23 16:53] martindholmes opened #1797 "More examples of `<path>` needed"
In issue #1453, I completed the basic work, but @martinascholger and @lb42 suggested some good example page-images worth including, and I didn't get around to doing that before the merge was done for the latest release. This ticket is for me to follow up after the release and do a better job of the examples.

[2018-07-23 17:46] jamescummings commented on #327
Ok, I've implemented the above.  You can link directly (in oXygen or other editors) to
https://raw.githubusercontent.com/TEIC/TEI/jamescummings-object/P5/Exemplars/tei_object.rng
as a schema (turning on schematron constraints as well).
Or in oXygen paste in something like:
[code]

This has the objectName, listObject, and object elements.
It has changed msIdentifier to allow objectName (alongside m

[2018-07-23 18:48] sarcanon commented on #1531
I feel like something drastic needs to happen to get this ticket moved along. *Googles _self-immolation_...*

[2018-07-23 18:53] lb42 commented on #1531
I don't see that any of the doubts raised at the start of this thread have been addressed in subsequent discussion. So probably self immolation is your best course.:grinning:

[2018-07-23 19:24] ebeshero commented on #1531
Well, short of such violent metaphorical drastic measures, we could put a Guidelines 3.5.0 milestone marker on this. Apparently we *were* intending to implement this after all...

[2018-07-23 20:11] jamescummings commented on #1531
I'm still of the opinion that this is a mis-use of `<rs>`. I still think @lb42 has it right in October 2016 https://github.com/TEIC/TEI/issues/1531#issuecomment-257180878

Can someone provide me an example of something which is truly a general purpose name or string referencing a name (like 'he', 'she', etc.) that needs quotes inside it? (i.e. that shouldn't be just marked with `<name>`?)

[2018-07-23 20:35] hcayless commented on #1531
I guess the larger issue is that `<q>` is meant to mark "quoted" text, and that can happen at any level. Not thinking so much about `<rs>` here, but any name: what about Constantino "Big" Paul Castellano, e.g.? I know there are other ways to do it, but it seems weird that I can't use the particular element designed to mark quoted text.

[2018-07-23 20:36] ebeshero commented on #1531
How about this for an example, making a point of nesting the `<q>`:
[code]

[2018-07-23 20:53] ebeshero commented on #1531
Of course you could use `<soCalled>` in the previous one, so here's another:
[code]

[2018-07-23 21:18] jamescummings commented on #1531
@hcayless Again, that isn't an rs, that is a proper name. So use name or persName.

@ebeshero Again, that isn't an rs that is a sentence that contains an rs. I'd say `<rs rend="quoted">he who must not be named</rs>'  In the second example it is `<rs>the one</rs>`.

I just feel all of these are abuse of rs, I might be in the minority but just trying to be honest.

I should state that I'm not advers

[2018-07-23 21:30] ebeshero commented on #1531
@jamescummings Perhaps you don't yet know to whom "the one" refers and aren't in a position to give it a `@ref` attribute on first encoding. We don't always start projects with full-blown personographies.

[2018-07-23 21:31] jamescummings commented on #1531
@ebeshero Sure... then you don't give it a ref... But that doesn't mean you should be wrapping whole phrases and sentences in rs. IMHO.

[2018-07-23 21:31] ebeshero commented on #1531
@jamescummings My point is that it *does* sometimes make a difference to capture a full "referencing string" and abbreviating it to "the one" strikes me as manifestly improper because it's semantically incomplete.

[2018-07-23 21:33] jamescummings commented on #1531
How is 'the one' semantically incomplete but 'the fighter' not?

[2018-07-23 21:33] ebeshero commented on #1531
@jamescummings Imagine capturing every referencing string used for a particular person, even when you *do* have them filed in a personography and can use `@ref`. Perhaps the project is to capture and extract a list of all phrases used to refer to a particular person (and not to other persons). I'd want to pan outward a little bit and having `<rs>` capture a phrase with a quote inside it doesn't se

[2018-07-23 21:34] ebeshero commented on #1531
@jamescummings "the fighter" in a project full of warriors might well be semantically incomplete without the fuller context supplied by the thing he'd say.

[2018-07-23 21:35] ebeshero commented on #1531
@jamescummings It's simply a matter of precision.

[2018-07-23 21:35] jamescummings commented on #1531
The example is:

[code]
Do you think the findspot example that started this a valid use?

[2018-07-23 21:36] ebeshero commented on #1531
@jamescummings Sure, there's nothing invalid about this use. And this example is not relevant to the discussion of whether `<q>` or `<quote>` should be used inside `<rs>`.

[2018-07-23 21:37] jamescummings commented on #1531
But it is the example which the original poster cited as the reason for this ticket?!!

[code]
Is just pure abuse to me.

[2018-07-23 21:39] hcayless commented on #1531
@jamescummings Can't. Their content models don't permit it. `<q>`'s note even says that it may be thought of as syntactic sugar for `<hi rend="quote">` in some circumstances, but it can't be used in the same places as `<hi>`.

[2018-07-23 21:40] jamescummings commented on #1531
No, the example I posted (the fighter) is one from the Guidelines.. what we currently recommend.

[2018-07-23 21:41] ebeshero commented on #1531
@jamescummings Yep, and I see how you're using it to suggest a sort of minimum valid length for an `<rs>`, but I don't think it holds water...I *do* think we can do a better job to articulate a limit of applicability for `<rs>`, but I wouldn't be in favor of limiting it to no more than two words in the string.

[2018-07-23 21:42] jamescummings commented on #1531
@hcayless And that is indeed a good argument for it.  As I said, I'm not adverse to the idea... just haven't had an example given that does it for me personally.  If allowing in rs (which is meant to stand in for a name or string referring to a name) then it also needs to be allowed in name, persName, placeName, etc.

[2018-07-23 21:42] ebeshero commented on #1531
Very much agreed on that point. But I rather like my examples, and I think @jamescummings might well reconsider them... ;-)

[2018-07-23 21:43] jamescummings commented on #1531
@ebeshero It is nothing to do with its length, but its semantics. An rs IMHO is a word or phrase standing in for a name. People keep posting examples which don't do that.

[2018-07-23 21:44] ebeshero commented on #1531
How is this example not standing in for a name?
[code]

[2018-07-23 21:45] ebeshero commented on #1531
Again, I'm going to say, in the example above, "the one" isn't enough to distinguish the individual precisely. We need the rest to make it clear who is being referred to.

[2018-07-23 21:45] jamescummings commented on #1531
@ebeshero If I reconsider, in your 'the one who goes by "he who must not be named"' example, to me, still, the bit that is standing in for the name is 'he who must not be named' I guess. So I'd still mark that be up as an rs, but not the whole phrase.  Otherwise you'd have to mark up "The one who goes by James Cummings" as a persName rather than just James Cummings.  (If you see what I mean?)

[2018-07-23 21:47] ebeshero commented on #1531
Sorry--dang tick marks! ;-)

[2018-07-23 21:48] jamescummings commented on #1796
Hi @lddubeau,

Yes, that is known.  I believe @peterstadler was looking at getting that changed.

[2018-07-23 21:48] ebeshero commented on #1531
My problem with that example is that it's probably better to use <soCalled>...</soCalled> there, which *is* permitted. So I turned my attention to quotable aphorisms, on the formula of, "the one who quipped 'X cool statement'.

[2018-07-23 21:51] jamescummings commented on #1531
That is closer, but again, in that instance the whole restrictive relative clause shouldn't be marked up as rs. The whole thing is not standing in place for a name, IMHO.

[2018-07-23 21:51] ebeshero commented on #1531
A reminder of the content model of `<rs>`:
[code]

It's not an issue for an `<rs>` to be a phrase-level element.

[2018-07-23 21:53] ebeshero commented on #1531
@jamescummings I'm pretty serious about this: if it were my project (and sometimes it is), I'd want full-blown distinguishing phrases and dependent clauses when they are dedicated to identifying a particular named entity. I'd not be content with delimiting `<rs>` to the shortest possible definable markup. There are good reasons for wanting this, including the attribution of spoken expressions to a

[2018-07-23 21:59] jamescummings commented on #1531
For spoken expressions, don't we already have 'said'?  We clearly have differing understandings of what 'rs' is for... And I'm certainly not against it (and *Name) having 'q' in its content model. I just keep seeing things as examples that I really think 'rs' was intended for. Why would you be using rs instead of any of the other possibilities?

[2018-07-23 21:59] hcayless commented on #1531
@jamescummings That was my point. If it should be allowed in `<name>` then it should presumably be allowed in the other name-like elements. I suspect the problem is that `<q>` is trying to do too much.

[2018-07-23 22:03] ebeshero commented on #1531
Think about this in terms of supporting serious research questions, which is the spirit of the original post in this ticket. The phrase-level aspect of `<rs>` has made it flexible for people to apply to long or short passages. To be sure, it can be all to easily applied wrongly where people ought to be using things like `<seg>`, but as long as a string of words can be said to refer to named someth

[2018-07-24 00:31] sydb commented on #1531
While I have not read every snippet of today’s detailed conversation, I can say reasonably confidently that (IMHO):
1. @jamescummings is correct, the original post is an abuse of `<rs>`
1. @ebeshero is correct, there are cases where `<q>` inside `<rs>` (or `<name>`, I suppose) is quite reasonable. I think the buck stops here example is a good one.

But @lb42 has really hit the nail on the head — d

[2018-07-24 00:50] sydb commented on #1531
Hmnmm… I just tried it. I created a copy of the current 'dev' branch that had no changes except that I added model.qLike to macro.phraseSeq. I did not notice any new icky errors go buy during the build. I then built a tiny little XML file that had a `<q>` inside an `<rs>` and used the tei_all.dtd. I expected to get ambiguous content model errors, but neither oXygen nor xmllint complained at all.

[2018-07-24 02:38] sydb commented on #1795
The Schematron spec (ISO 19757-3) does not define the values of `@role`. To be honest, I do not know where the value "nonfatal" comes from. (Which is a bit embarrassing, as I think I wrote that rule.) The values that oXygen uses are: "information" (or "info"), "warning" (or "warn"), "error", and "fatal". A value other than these (e.g., "nonfatal") is treated as "error".

Although we are in no way

[2018-07-24 02:56] ebeshero commented on #1795
@sydb I use oXygen and write Schematron (and ODDs) there, and I haven't felt compelled to use an `@role` attribute on my rules and patterns, so I don't understand the context of your comment about Syncrosoft. But I take it that we didn't intend anything specific by role="nonfatal". Does that mean that we don't intend for these to be gentle advisory warnings but rather to signal full-blown validati

[2018-07-24 03:23] sydb commented on #1795
@ebeshero: I was simply pointing out that oXygen provides a controlled vocabulary for `@role` that we may wish to take advantage of. There are plenty of others in the world, of course (e.g., the one used by [syslog](https://en.wikipedia.org/wiki/Syslog#Severity_level) or [kiwi](http://www.kiwisyslog.com/help/syslog/index.html?protocol_levels.htm)), or we could make up our own (which I think would

[2018-07-24 08:33] peterstadler commented on #1796
Yes, sorry, that should be a temporary outage since we were releasing TEI P5 3.4.0 yesterday and in this process we were updating the deb packages, as well. Yet, we failed to recreate the Debian repo due to some missing binaries on the server. We are working on it …

[2018-07-24 09:53] lb42 commented on #1531
You won't be surprised to hear that I share James's reservations about this change.The OP's use case is invalid, and the only arguments advanced in favour of making the change seem purely suppositious and theoretical.  A subgroup of council can change its mind, surely?

[2018-07-24 19:33] joeytakeda opened #1798 "<egXML> not allowed in <egXML>?"
Sorry for spamming all the TEI channels with stuff about `<egXML>`! I'm trying to compile an ODD file into a set of documentation for publication on a project; we want our documentation to have the same look and feel as the rest of the site and thus run through our own TEI-->HTML transformation. So, the pipeline for my odd (myodd.odd) is:

[code]

(I'm using the stylesheets from the Master branch

[2018-07-25 10:29] Martin-de-la-Iglesia commented on #1515
Furthermore, pointing with `@facs` to <zone> dilutes the semantics of both. The target of `@facs` must be an image, while `<zone>` is an abstract area for which no corresponding image needs to exist.

[2018-07-25 20:29] martindholmes commented on #1515
I don't think the target of `@facs` needs to be an image; it can perfectly well be a part of an image, defined using `<zone>`, surely?

[2018-07-26 07:39] Martin-de-la-Iglesia commented on #1515
That's not the point: `<zone>` can define (a part of) an image, but it could be something entirely different, e.g. an imaginary area on a piece of paper. In the Guidelines example discussed above, the two inner figures are linked to PNG files, but the outer figure isn't. This leads me to believe that the outer `<zone>` is neither an image nor part of an image and therefore not a semantically legit

[2018-07-26 11:55] sydb commented on #1621
@ebeshero: The example is clearly overall correct, so I changed it to `valid="true"`.

However, that example **may** have been indicated as invalid because it is missing the child elements for `<datatype>`, which are required. If that is the case, I should have used `valid="feasible"` or (better IMHO) made it complete, e.g.:
[code]
(P.S. Apologies for checking-in to your branch; just seemed like a

[2018-07-26 13:18] emylonas commented on #1720
This suggestion is clearer and more specific that tne original +1

[2018-07-27 10:57] kev1807 opened #1799 "How to solve "IllegalStateException - cannot validate without schema""
Hi there once again,

I am sure, this is quite the beginner question, however it stops me from working ...
I have created my own TEI.ODD and created a new project with OxygenXML, connected to my exist-db

As I understand, I need to validate the schema, isn't that what the O(ne D(ocument) D(oes it all) file is for?
I'm pretty sure it is here :
`<?xml-model href="/db/apps/Wager/resources/odd/tei_boo

[2018-07-27 12:22] hcayless commented on #1799
You're missing a step. And it's a step that's possibly not as well-documented as it should be, because it crosses out of TEI's domain into the domain of XML validation. An ODD is meant to be converted to some flavor of XML schema before you can validate a TEI document against it. Your choices are XML Schema, Relax NG (the usual favorite), or DTD (don't use DTDs!).

You can use http://oxgarage.tei-

[2018-07-27 12:22] #1799 closed

[2018-07-27 12:29] martinascholger commented on #1720
Sounds good to me too. I think I prefer the conjunction.

[2018-07-27 13:38] kev1807 commented on #1799
aaah yes thanks!
I probably read that and forgot about it as soon as I opened Oxygen.
However, the jpgs still cannot be opened in Author Mode nor are they exported when I transform the file to whatever file-format I wish ...

I think it's weird, they can be opened in preview mode

![grafik](https://user-images.githubusercontent.com/15955790/43323752-cca3fd68-91b2-11e8-8fc3-7dcaf6beb860.png)

![gra

[2018-07-30 19:37] joeytakeda commented on #1798
In order to give a more concise example, I've attached a minimal ODD (with only egXML) and the invalid, compiled ODD (compiled using https://raw.githubusercontent.com/TEIC/Stylesheets/master/odds/odd2odd.xsl):
[egXMLTest.zip](https://github.com/TEIC/TEI/files/2242627/egXMLTest.zip)

[2018-07-31 04:00] martindholmes commented on #1798
I would avoid nesting egXMLs at all costs. It's already hard to process their contents into something pretty; if they nest, you're going to spend the rest of your life writing the rendering code.

Believe me, you don't need to do this. Life is too short. The restriction on nesting is there to save you from falling down a very deep hole, I think.

[2018-07-31 16:04] joeytakeda commented on #1798
Just to clarify this slightly: some of my introductory text above is a bit of red herring. My apologies for not being very clear. The issue here is that the egXML `<elementSpec>` produces an invalid compiled ODD because of the nested `<egXML>`s in the source.

[2018-08-01 07:13] chr-emil opened #1800 "more on dictionary: The element <usg> inside <def>"
I am currently working on defining a TEI format for three modern Norwegian dictionaries (two at www.ordbok.uib.no). The dictionaries are edited in a relational database system, are published both on the web and as printed books.

For each definition text and also for each usage example (mostly created by the editors as is usual for this kind of dictionaries) the editor may add information about th

[2018-08-01 08:28] iljackb commented on #1800
Hi,

<usg> should generally be as a child of <sense> not <def>, however of
course legacy dictionaries are not always so conveniently organized which
sounds like might be your case.

Could you give an example of what you want to be able to do and show
exactly why it is you want to put <usg> in <def>?

Best,
Jack

On Wed, Aug 1, 2018 at 9:13 AM, chr-emil <notifications@github.com> wrote:

[2018-08-01 09:13] chr-emil commented on #1800
@iljackb comments "the <usg>  should generally be encoded as a child of <sense> not <def>" is a normative lexicographic statement. The dictionaries in question are not legacy dictionaries. I agree that may be better to have one <usg>  for a list of semicolon separated definitions. However, if a lexicographer decide to open for a usage marker for each of a list of defintions (or examples), TEI is n

[2018-08-01 09:48] iljackb commented on #1800
Ok (you never stated your name)

So first of all, if it is not a legacy dictionary then in terms of
organizing and classifying lexical data it absolutely does not make sense
to include what seems to be a combination of domain information (*zool.,
bot.)* <usg type="dom"> and diachronic/time usage status (*outdated**)* <usg
type="time"> inside the definition of an entry instead of at the higher
leve

[2018-08-18 15:34] emchateau commented on #1788
I’m heavilly using idno as child of biblStruct and find it very convenient to give references for the record separately from the analytic or the monogr elements.
For exemple I’ve got a bibliographic list of all printed books for a given title in my corpus. Each BiblStruct is derived from a catalog record wich have in id and is available as linked open data. So I refer to this record through an idn

[2018-08-18 18:57] emchateau commented on #1788
Yes, it’s a matter of semantic because it is not describing the same thing ! I think, that’s really important, especially in the perspective of the semantic web.

The `idno` child of a `monogr` is describing the `monogr` element. Currently my `idno` is describing the bibliographical description, that’s why it is child of the `biblStruct`. All the more, the fact that `idno` doesn’t allow other attr

[2018-08-18 23:17] kshawkin commented on #1788
See below ...

I was referring to the discussion above on this issue, which Syd summarized as item (b) in his list of things to implement: [deprecating](http://teic.github.io/TCW/tcw27.html) use of all model.ptrLike elements as a child of `<biblStruct>`, instead only allowing them as children of `<analytic>`, `<monogr>`, or `<series>`.

But now I realize that you are discussing use of `<idno>` in

[2018-08-19 19:44] ebeshero opened #1801 "empty <rdg/> "should" rather than "may" be used"
Per [this discussion on the TEI Listserv](https://listserv.brown.edu/archives/cgi-bin/wa?A2=ind1808&L=TEI-L&D=0&P=12380) , we should change the phrasing of the [Guidelines 12.4](http://www.tei-c.org/release/doc/tei-p5-doc/de/html/TC.html#index-body.1_div.12_div.4) :
from:
"An omission in one witness may be encoded using an empty rdg"

to:

"An omission in one witness should be encoded using an emp

[2018-08-19 22:14] jamescummings commented on #1801
I've got an issue #1175  to review modal verbs throughout. I got part way through just before last release. Happy to add this one to the list. (Though not yet convinced ... there are those who may not wish to encode absences in this way. I'll think about it abdominal report back.)

[2018-08-19 22:53] ebeshero commented on #1801
@jamescummings Good point...our conversation on the list is related to an update to collateX and certainly connected to recent developments on automated collation. They want to make sure they're following what TEI would recommend as best practice here, fwiw.

[2018-08-20 12:36] lb42 commented on #1801
I share james reservations, I think. Didn't we just decide that the preferred way of indicating an empty content model was to use an explicit EMPTY element rather than simply offer an empty CONTENT element? Its not exactly the same thing, of course, but close enough to be confusing.

[2018-08-20 13:07] hcayless commented on #1801
I think I'm probably responsible for the "may", and I think I was wrong. The examples in that section need a revisit too. Also, we're not talking about changing content models here. If your practice was to indicate a witness omission with rdg/note, then that's still ok. I would argue strongly that do so isn't a best practice, but tightening up our recommendation isn't going to invalidate it.

[2018-08-20 13:50] jamescummings commented on #1801
@hcayless My worry is still mainly that all of the discussion about it seems to be thinking that people are hand-creating born-digital editions rather than doing retrospective conversion or legacy data migration where they may not be able to generate an empty `<rdg/>` for each witness for each `<app>`. It is the entire reason that silly location-referenced method exists. ;-) But there may be many

[2018-08-20 14:00] hcayless commented on #1801
Ah, ok. I think that concern is orthogonal to the question of how you'd encode an omission. The editor is still entirely free to note or not note variation at any point, in markup or not. There is a wide range of practice in this area that has more to do with textual criticism than markup. I don't think an editor can or should ever be required to mark all variation in a digital edition. Possibly w

[2018-08-20 14:43] emchateau commented on #1788
Thanks a lot for your reply. It‘s my mistake because I’ve confond te two issue. I’m really concerned by the suppression of idno from biblStruct and I don’t understand why it have been done. Thanks also for @subtype, didn’t knew about it, it solve the issue for links.

[2018-08-20 15:59] jamescummings commented on #1801
Sure, if you are asking _me_ how I'd encode an omission, then we are in complete agreement.
If you give me a stack of 10,000 critical editions from google books images and want me to generate TEI files for them, then I'd probably have different answer. I think that can be solved entirely by explaining the instances where one _should_ do this and where one may choose (with proper understanding) to

[2018-08-21 13:01] rvdb commented on #1607
I've just realized my PR (https://github.com/TEIC/TEI/pull/1742) is still pending, awaiting resolution of this issue. Did @sydb 's commit (https://github.com/TEIC/TEI/commit/6c508bd50487e4501aa8aee68e0cdf39f7561977) solve this issue sufficiently (I think it does, by successfully allowing elements from other namespaces inside `<constraint>` in ODD files), or are there any problems left?

[2018-08-21 13:26] sydb commented on #1607
Sorry! Just merged. I did not work through the logic completely, but on first glance seems perfectly fine. @rvdb may want to tweak some more per my comment on the pull request.

Does this mean we can close this ticket?

[2018-08-21 15:50] duncdrum opened #1802 "p5/repodate.xml gitignorable?"
Apologies if this is mentioned somewhere in the docs, but if so i couldn't find it. I m using the teidev-docker image to run the jenkins tests. It seams that running `make clean` is creating a `repodate.xml`.

Since `local.mk` is on the gitignore i was just wondering if i shouldn't do the same with `repodate.xml`, or should this be submitted with a PR?

[2018-08-23 16:55] laurentromary opened #1803 "make listRef member of att.typed"
I am using `<listRef>` to group together references from various articles in legal texts to other ones (typically, at the beginning of an article, there is a list of relevant references that one may consider as background or applications of the current one). These texts are of various types (reference convention, guidelines, case law etc.) and I would like to group the corresponding references acc

[2018-08-28 09:10] duncdrum opened #1804 "problems with content model and example of unicodeName"
this together with the relevant section in the Guidelines suggest that this element contents ought to contain a closed list of values. Yet, the content model of unicodeName is:
[code]

The upshot is that currently
[code]
validates fine. Despite the fact that `Stardate` is not a unicode property name.

Similarly, the example from the specs, does not reference a valid character property name:
[code]

[2018-08-28 09:51] duncdrum opened #1805 "Suggestion for new uniHan element"
[The UAX #38 unicode han database (unihan)](https://www.unicode.org/reports/tr38/)

is an important resources for folks encoding ideographic (as the Unicode standards uses the term) texts. Eg. It expresses, among other things, sorting rules, variant relations, dictionary references, and most importantly for the TEI imv, it contains normalized references to different national standards.

Currently

[2018-08-28 15:26] martindholmes commented on #1804
If I understand this correctly, the validation process would have to check the Unicode version number, retrieve and validate the content based on the allowed set of Unicode properties from that specific version.

I think there are significant implications for the scale of the processing and schema components here. In addition, there's potentially an issue with forward compatibility. As it stands n

[2018-08-28 16:04] martindholmes commented on #1805
Wouldn't the example be:

[code]

Would you imagine using it under both `<char>` and `<glyph>`, or only one of them?

[2018-08-28 16:13] duncdrum commented on #1805
Good catch, fixed the listing, yes I'd say both `glyph` and `char` keeping things the way they work now.

[2018-08-28 16:50] duncdrum commented on #1804
Yup, working on it, i d say 90% there.

True, but back when `3.4` your ` as-yet-unreleased versions of Unicode` properties should go into `localName` not `unicodeName` they are not registered properties yet. If a new release of unicode introduces a new property, which does happen more frequently, you would be able to update your odd pointing to the new version if you so desire, either in your `3.4

[2018-08-28 17:14] jamescummings commented on #1803
Hi laurent,

The two tests for whether something should get att.typed when someone requests it, if memory serves, are:
1) Is it repeatable? i.e. can you have more than one listRef in a row?
2) Is it sensible to classify them in some way?

I believe the answer to both of these is yes. In principle, I have no objection to adding att.typed to the list of classes of which listRef claims membership.

*

[2018-08-28 17:28] martindholmes commented on #1803
I'm in favour of generalizing the use of listRef as suggested, but I think there will be implications for the Stylesheets, which are expecting to find it only in tagdocs contexts.

[2018-08-28 17:48] jamescummings commented on #1803
I'm not adverse to widening the definition. (But I'm also not that adverse to adding ptr/ref inside listBibl. But other tickets have shown I seem to have a minority view on how to use bibliographic things. ;-)

I think widening the definition will certainly take more work. Is your feeling that it is the right element to use based on its name? If it was called listOfElementRefs would you think it a

[2018-08-29 11:34] duncdrum opened #1806 "[question] altIdent swallows primary ident on ODD compilation"
While playing with closed lists in odd, something made my head scratch.

Given the following list of options in odd:

[code]

will become the following in the compiled rng:
[code]
so `@ident` on the first item is dropped.
I would have expected

[code]

Is this due to my own ignorance and WAI, or a bug?

[2018-08-29 11:36] lb42 commented on #1806
More likely due to underspecification of how altIdent should be processed.

[2018-08-29 11:51] duncdrum commented on #1806
@lb42 mind pointing me towards where the processing instructions are, I haven't fully come to terms with what happens where across here and stylesheets.

[2018-08-29 12:26] lb42 commented on #1806
You probably need to sign up for the council's stylesheet awareness club!

[2018-08-29 19:39] duncdrum commented on #1806
actually stumbled across a line that states this is on purpose, so ignorance after all.

[2018-08-29 19:39] #1806 closed

[2018-08-29 19:51] joeytakeda opened #1807 "How to make <defaultVal> deletable?"
I'm trying to do two things here: 1) Make an attribute required and 2) delete the default value for that attribute from an `<elementSpec>`. Is there any way to do this? I'm doing this for `<egXML>`:

[code]

If I give a value of `<defaultVal/>` like so, it appropriately thinks that I am trying to give it an empty `defaultVal`, which I don't want to do (and it gets mad at me, since it makes no sens

[2018-08-29 23:52] martindholmes commented on #1607
The presence of xsl:key in tei_jtei.odd is still causing the P5-dev build to fail. More work needed here I think.

[2018-08-30 21:03] sydb commented on #1788
Right, @emchateau is clearly talking about `<idno>` child of `<biblStruct>`, and thus should re-open (or otherwise re-raise) #385.

## on @emchateau’s question

That ticket was opened in 2012 and resolved in 2014, so I would not hold my breath for it to change, especially given that the use case you’re talking about probably calls for `<ptr>`, not `<idno>`.

Note, BTW, @emchateau, that `<ptr>` als

[2018-08-31 10:42] duncdrum commented on #1802
while i m at it there are another 13 files not cleaned up by the current make target, but overwritten on each new run (i hope):
-   6 `*.jar` files in `P5/Exemplars/oNVDL/bin`,
-   6 more files of the same name in `P5/oNVDL/bin`, and
-   `P5/exemplars/isofs.xsl`

should they get cleaned up as well?

[2018-08-31 12:08] duncdrum commented on #1802
looking at the same file, gitignore seems to be the wtg.

[2018-08-31 12:11] peterstadler commented on #1802
we should have a proper lib folder (where needed software components are stored which are not kept in the repo itself) and a proper build folder (which can be nuked in toto). The current structure is a mess.

just saying …

[2018-08-31 14:45] sydb commented on #1607
Guess my thoughts, above, about doing the same in p5odds never made it in; done at #84e541c .

[2018-08-31 15:27] martindholmes commented on #1802
I've recently been setting up my project builds so that all sorts of external jars (vnu.jar, epubcheck.jar, saxon) are only downloaded a) if they're not there, or b) if there's a more recent version released on github. I have working ant code for that, so if we'd like to make all the bulky jars only download themselves where needed, that would be a starting point.

[2018-08-31 21:39] kshawkin commented on #1788
That's right, I believe the consensus is to do just the following:

1. Adjust the Coombs, Renear, and DeRose example to move the `<ref>` under `<analytic>`.
2. Add Emmanuel's first example to P5 except change `<idno type="catBnf">http://catalogue.bnf.fr/ark:/12148/cb30160624f/</idno>` to `<ptr type="catBnf" target="http://catalogue.bnf.fr/ark:/12148/cb30160624f/"/>`.

No schema changes needed.

[2018-09-01 07:41] duncdrum commented on #1802
sounds like a good start, that doesn't rhyme with raven

[2018-09-04 04:28] martindholmes commented on #1720
+1 for conjunction. Don't want to give the impression that you have to choose between mutually exclusive things.

[2018-09-04 04:39] martindholmes commented on #1795
As Syd knows, I have one project which purposely violates the rule against mixing other dating attributes with `@when`. It predated the rule, but I still believe the rule is misguided and shouldn't be there. :-) Nevertheless, I don't think there should be any role for a TEI constraint which does not invalidate a file unless and until there is a formal definition of what such a thing could mean in

[2018-09-04 04:39] laurentromary opened #1809 "create a model.sensePart class and change content model of <sense> accordingly"
The content models of `<entry>` and `<sense>` are doomed to being aligned because they both use model.entryPart.top. This is a real issue when ne wants to customize one or the other elements and more generally, it does not make real 'sense' to have `<sense>` in the same group as `<entry>`, `<hom>` and `<re>`. A simple correction for this would be to create a model.sensePart class, and ensure a smo

[2018-09-04 13:30] sydb commented on #1769
Looks good. Issues (probably to discuss in Tokyo):
* Why not make `@where` and `@whereRef` mutually exclusive? (Precedence does not support exclusivity: `@lemma` and `@lemmaRef` are not; and “Usually either `@script` or `@scriptRef`, and similarly, either `@scribe` or `@scribeRef`, will be supplied.”)
* The example above asserts that the `<listPlace>` is in the TEI Header, but there isn’t really a

[2018-09-04 20:28] martindholmes commented on #1769
@sydb I see no reason to go for exclusivity; I can see a lot of scenarios in which (for instance) a project migrating away from `@where` in favour of more precision might need to maintain both; or `@where` might be used for a generic textual description that's traditional, while `@whereRef` provides a greater degree of precision.

On your second point: where is the `<ldb>` I seem to have been wait

[2018-09-04 21:55] joeytakeda commented on #1769
I agree with @martindholmes point about exclusivity; I think for some projects, it might make sense for them to be exclusive, but I don't think it's necessary *make* them mutually exclusive. So, I think the language @sydb used above ("Usually either") is that right way to go.

I've put `<listPlace>` in `<sourceDesc>`, but that's purely because there's no better place to put it in the header :-). I

[2018-09-06 12:03] laurentromary opened #1810 "Make <xr> member of att.typed"
While discussing which kinds of value we would want for xr/@type (and possibly @subtype), we see that `<xr>` is not a member of att.typed. In our shared community attempt to make the guidelines more coherent, could we have a quick implementation of this? Thanks!

[2018-09-06 13:43] iljackb commented on #1810
I think there are uses for @subtype, specifically in distinguishing types of meronymies (semantic relations).

 Meronymy (part-whole relations) can be distinguished in numerous subtypes for example [Eagles ontology vocabulary which distinguishes 6 types of meronymy](http://www.ilc.cnr.it/EAGLES96/rep2/node7.html).

- component / integral object : there is a clear structural and functional relation

[2018-09-07 02:29] jamescummings commented on #327
For up to date schema with objectName, listObject, and object elements at https://raw.githubusercontent.com/TEIC/TEI/jamescummings-object/P5/Exemplars/tei_object.rng

[2018-09-07 02:45] sydb commented on #1606
@lb42: We (a Council subgroup looking at this ticket) are not quite sure what you are saying, here. We **think** it is that `@restriction` should not be allowed in combination with `@key`. That leads to two questions:
* Why not? Is there a reason to prevent an ODD from saying “this datatype is just like teidata.duck, except restricted as indicated”? Or are you saying it doesn’t work in current ODD

[2018-09-07 03:36] scstanley7 commented on #1431
We are a go to update the prose on this (JC will, despite objections), and add more examples (including ones already provided).

[2018-09-07 04:08] sydb commented on #1531
Per Council meeting, ticket closed. Those interested may open a new ticket for providing better examples in GLs.

[2018-09-07 04:08] #1531 closed

[2018-09-07 04:11] peterstadler commented on #327
Per discussion at Tokyo f2f action on @jamescummings to merge the current changes into dev and send an email to TEI-L asking for review and addition of "widely understood objects" and texts that reference them.

[2018-09-07 06:32] raffazizzi commented on #1596
Tokyo F2F: council agrees that reducing complexity in ODD processing is a priority over language expressiveness. Therefore we decided to keep <sequence/> and <alternate/> unable to denote sequences of length 0 and sets of cardinality 0.

[2018-09-07 06:32] #1596 closed

[2018-09-07 06:34] #1607 closed

[2018-09-07 07:03] jamescummings commented on #1626
I don't understand why

[code]

doesn't work for @bansp ?

[2018-09-07 07:29] #1626 closed

[2018-09-07 07:35] peterstadler commented on #1617
Council decides during f2f at Tokyo *not* to implement the requested changes for the reasons given.

a) not to "wreck the fragile semantics of the TEI distinction between name and referent."
b) `<pubPlace>` is repeatable (without any list* wrapper)

[2018-09-07 07:35] #1617 closed

[2018-09-07 08:30] peterstadler commented on #1641
closing the issue due to missing clarification.
As generally,  feel free to reopen …

[2018-09-07 08:37] ebeshero commented on #1645
The current phrasing as of the July 2018 release is this, and Council (at Face-to-Face meeting) now thinks this phrasing resolves the issue. Closing.

[code]

[2018-09-07 08:37] #1645 closed

[2018-09-07 08:54] scstanley7 commented on #1658
F2F Tokyo: We are going to add `<q>` to the content model of span to address the issue originally raised in the ticket.

[2018-09-07 09:07] sydb commented on #1663
Per Council F2F, closing as no one has taken advantage of this place to discuss ODD aspirations for a year.

[2018-09-07 09:07] #1663 closed

[2018-09-07 09:08] ebeshero commented on #1695
Example: the Attorney General (rolename that is not limited to a particular individual).

[2018-09-07 09:15] emylonas commented on #1695
Possible example:

"THE S.[olicitor] G.[eneral] is traditionally called the “tenth justice,” though it’s obvious the Court has only nine justices."
citation:
Caplan, Lincoln, "The Political Solicitor General. The 'Tenth Justice' and the polarization of the Supreme Court" Harvard Magazine. September-October, 2018.  [https://harvardmagazine.com/2018/09/the-political-solicitor-general](https://harvar

[2018-09-07 09:27] ebeshero commented on #1720
Now "go" for implementation after Tokyo F2F.

[2018-09-07 09:29] sydb commented on #1746
Snif! The jTEI editors do not want to implement this.

[2018-09-07 09:29] #1746 closed

[2018-09-07 09:31] ebeshero commented on #1755
Council F2F: Add model.qLike to incipit's content model.

[2018-09-07 10:10] peterstadler commented on #1757
please take the other steps as well:

* remove write_changelog script in the root directory
* adjust the step 5 of TCW 22
* remove the respective Makefile target

[2018-09-07 10:15] lb42 commented on #1606
The documentation should make clearer that @restriction is only allowed in combination with @name, i.e. it's not permitted in combination with either @ref or @key. There is already a comment to that effect about the use of &lt;dataFacet> which could usefully be amplified to clarify that the datatype specified by @name or @ref can be further modified either by @restriction or by a child  &lt;dataFa

[2018-09-07 18:59] cmsmcq commented on #1596
Thank you for considering this change.  I accept the result, although I am disappointed that the council did not see things my way and believe the given rationale to be self-contradictory.

The absence of notations for the empty sequence and the empty set makes the processing of content models more complex, not less complex; some of the bugs I have reported elsewhere in the behavior of the current

[2018-09-07 21:57] #1720 closed

[2018-09-08 07:08] #1593 closed

[2018-09-08 07:36] #1757 closed

[2018-09-08 07:53] raffazizzi commented on #1715
Made changes as suggested by @sydb and Köln subgroup. Please read over again.

## add
**Description**: this declaration is added to the current definitions.
**Note**: the object should be created (processing any children in add mode); raise an error if an object with the same identifier already exists
**Suggested changes (description)**: this declaration *is part of* the current definitions.
**Sug

[2018-09-09 21:28] ebeshero commented on #1707
@naoki-kokaze and all: For the Open Council meeting this morning at the Tokyo TEI 2018 conference, we've prepared some slides to introduce TEI Council, and to summarize our work so far on this issue: Take a look here: <http://bit.ly/teiCouncil>  Naoki, the part about summarizing the ticket work so far is really designed to follow up on anything you'd like to say to introduce the need for better en

[2018-09-09 21:40] martindholmes commented on #1707
Hi @ebeshero . Lovely slides! The only thing that struck me was "Say you've found something wrong with the TEI", which suggests that all tickets are bug reports; some of course (including @naoki-kokaze 's ticket) are feature requests / enhancements.

[2018-09-09 21:44] ebeshero commented on #1707
Thanks @martindholmes ! Yeah, that's an artifact from the old slideset we presented in Vienna...I just changed it with the word "change"! :-)

[2018-09-09 22:31] martindholmes commented on #1540
Just coming back to this ticket to see where we're at. The tei_minimal template options are all still there in Oxygen, and if you choose the basic "Minimal [TEIP5]", you still get a TEI file pointing at the minimal schema on tei-c.org. @jamescummings, did you have a clear idea  of what we need to do?

Note that the other "Minimal" options (Math,SVG etc.) give you files pointing at tei_math.rng or

[2018-09-09 22:55] martindholmes commented on #1807
@joeytakeda Does this solve your problem? If so, could you close the ticket? (For the record, I think anything more complicated such as allowing `@mode` on `<defaultVal>` would lead to an inordinate amount of work that nobody will really want to do. :-))

[2018-09-09 23:05] martindholmes commented on #1805
@duncdrum could you provide a sort of "worked example" of how you would use this in a real-life situation, explained at a level the likes of me would understand?

Also, my first reading of UAX #38 leads me to believe that you could look up a character in the Unihan db based on its Unicode codepoint. I guess that what this means is that the same Unicode codepoint may have multiple UniHan entries, a

[2018-09-09 23:42] sydb commented on #1807
And to be fair, if an attribute sepcification is required by the schema, then it does not matter a hoot what the schema thinks will be the default value is. That said, and add to it that @martindholmes is correct above (just need `@usage="req"`, I just tried it and it did not work for me. Well experiment more later.

[2018-09-09 23:52] naoki-kokaze commented on #1707
Thank you, Elisa!
I have prepared some slides to share the gist of my proposal.
https://docs.google.com/presentation/d/1koR84Q0AsHHdYd_kfQNSyqS34kWq7DajvT8p_iqvis8

But there is an omission about att.lexicographic, so let's review that point later!

[2018-09-10 00:40] sydb commented on #1807
And this fails to make `@usage` required for me:
[code]
using the CLI roma that y’all want to stop supporting.

[2018-09-10 01:00] joeytakeda commented on #1807
What @sydb is doing was exactly what I did originally, and then realized that no one was actually explicitly encoding `@valid` since there was a default value on it. The usage is required, as far as I can tell, but (correct me if I'm wrong) since there's a default value, the usage requirement is always already met.

I'm happy to do what @martindholmes suggests above (as I noted at the end of the O

[2018-09-10 02:10] ebeshero opened #1811 "tei.data.xpath requires warning notification"
Four attributes in the TEI currently have a datatype of tei.data.xpath, and we're about to introduce another in connection with #1707. However, coding XPath risks data injection attacks and we really need to warn about it--a paragraph in the remarks on the datatype describing the issue.

[2018-09-10 02:38] martinascholger commented on #1778
Open Council Session Tokyo: Go

[2018-09-10 02:54] jamescummings commented on #1805
Is the list of unihan properties fixed or are they likely to change (and if so, how frequently)?

[2018-09-10 02:55] martindholmes commented on #1805
Council open meeting suggests watching panel presentations tomorrow, and then put the ticket on the agenda for next Council meeting.

[2018-09-10 04:41] martindholmes commented on #1693
@FrederikeNeuber I didn't get any response to my last question from anyone. As far as I can see, the only issue preventing you from using the encoding specified above (listBibl/bibl in sourceDesc) is the absence of `<respStmt>` and `<resp>` in the jTEI schema. If you concur, let me know, and I'll raise a ticket for adding those elements (which I think would be perfectly justified -- a jTEI article

[2018-09-10 05:35] martindholmes commented on #1657
Added P5/Utilities/listDeprecations.xsl in commit 12736aad8 to generate a P5 document containing a table of all the current deprecations in p5subset.xml. The next stage is to incorporate that process into the GL build process, and then to integrate that table as (e.g.) REF-DEPRECATIONS.html, and then decide what Appendix letter it should have.

[2018-09-10 06:27] FrederikeNeuber commented on #1693
Hi and sorry for the late reply, I got lost in other work.

In the meantime, not least because of the discussion in this issue, we moved from biblStruct to bibl. Transferring the information about the reviewed resource to sourceDesc would be in my opinion a good option. Also using type-attributes for listBibl is a good idea and necessary for us, since we include also a reference to our reviewing g

[2018-09-10 06:29] sydb commented on #1807
If I understand you correctly, @joeytakeda , then no, it’s not that the usage requirement is met by the default value, but rather that the default value is rendered useless by the usage requirement.

But back to your original point, I cannot come up with a reason (off the top of my head) why `<defaultVal>` should not be a member of att.combinable, except that it does mean that someone has to updat

[2018-09-10 06:46] martindholmes commented on #1657
I've done a few more things in subsequent commits that get us closer to making this work. I think the last thing is to figure out how the appendix generation bits (divGens) trigger processes, and hook in a new process for the new appendix.

[2018-09-10 06:53] bansp commented on #1776
I wish I had seen this request earlier. Do I assume correctly that the core of this request is that `@orig` and `@norm` be available to more than just lexicographic items? That could also follow if the two were separated into, say, att.normalize. This potential new class could then be used by att.linguistic and in this way, the two attributes would make their way into `<w>` and `<pc>' (because the

[2018-09-10 06:54] martindholmes opened #1812 "Add `<respStmt>` and `<resp>` to jTEI"
Following issue #1693, this is a follow-up ticket to request the addition of these elements for use in the teiHeader rather than in the body  (hence no processing required). We could constrain their use to the header through Schematron.

[2018-09-10 06:54] martindholmes commented on #1693
Closing: moving the discussion to issue #1812.

[2018-09-10 06:54] #1693 closed

[2018-09-10 07:11] martindholmes commented on #1657
Made a commit to the Stylesheets in common/common_tagdocs.xsl which I think should enable processing of `divGen[@type='deprecationcat']`.

[2018-09-10 09:51] lb42 commented on #1540
I say nuke it forthwith.  Produce a decent tei_odd template instead. As james noted above, anyone who is actually using tei_minimal.rng can get the same effect in any number of ways.

[2018-09-10 10:07] lb42 commented on #1807
1. @mode is meant to apply to all the child elements of the element bearing it. But @mode=change doesn't allow you to *remove* any of the children -- just replace them with better versions. Hence your problem
2.  Since your goal is to change two properties of an attribute  (at least), it would make better sense (as @martindholmes proposes above) to supply a new complete specification for that attr

[2018-09-10 10:14] lb42 commented on #1776
I just note that this reverses a sensible decision reluctantly taken long ago during the war on attributes. In particular it seems very likely that the value of @orig might need to contain markup constructs such as `<g>` or `<hi>` which you could not supply.

[2018-09-10 12:31] PietroLiuzzo opened #1813 "examples in ODD example page do not use ODD pure"
This page
http://www.tei-c.org/guidelines/customization/getting-started-with-p5-odds/

has examples which are not ODD pure (from conversation with  @raffazizzi today in Tokyo.

[2018-09-10 12:34] martindholmes commented on #1807
We haven't specified clearly enough what we intend by `@mode="change"`. I fear that what we've ended up intending is what has ended up being practical, not what is intuitively expected by users.

Part of me thinks this doesn't matter because THERE SHOULDN'T BE DEFAULT VALUES ANYWAY. Why don't we just get rid of them and this specific problem goes away.

[2018-09-10 12:35] martindholmes commented on #1776
Both James and I sadly noted exactly the same thing. :-)

[2018-09-10 12:43] schassan commented on #327
@jamescummings, in your proposed schema you use `msIdentifier` within `object`, which might be confusing users. Why not add an element `objectIdentifier` (or objIdentifier) with a content model similar to `msIdentifier` in order to get rid of the "ms" in the name which disturbed those who wanted to describe something else than manuscripts anyway?

[2018-09-10 14:59] rvdb commented on #1812
I've added both elements in https://github.com/TEIC/TEI/pull/1814. Note, this doesn't make `<respStmt>` available in `<titleStmt>`, since that has a simplified content model in jTEI (only allowing `<title>` and `<author>`). Should it be included there, too?

[2018-09-10 16:53] joeytakeda commented on #1807
I absolutely agree with Martin’s second point: defaultVals are annoying and cause problems such as this (I was actually just thinking about all the defaultVals I’d delete if defaultVal was made a member of att.combinable).

And I understand where @lb42 is coming from, but, as I said in the OP, I know that just rewriting the specification is easier because it works, but is a lot of work for somethi

[2018-09-10 18:34] bansp commented on #1776
Let me take a stab at that, with apologies to Martin for repeating some statements from a discussion earlier today.
* Firstly, it is very true that, _in general_, it might happen that `<g>` and `<hi>` may be needed to render the original form. However, that is not the case at hand and will not be an issue in around 99% cases under discussion _here_, where we are safely catered for by the Unicode.

[2018-09-10 19:07] lb42 commented on #1776
If you want to add an attribute that says "I contain a normalised form using a special notation all of my own" feel free. But don't muddy the waters by claiming to use TEI attributes, which do their best to conform to W3C standards.

[2018-09-10 19:57] sydb commented on #1807
I agree with @joeytakeda (and @martindholmes, I think), that having `@mode` on `<defaultVal>` makes more sense than replacing the entire specification. (That said, @joeytakeda, replacing the specification works right now, so for the moment that’s obviously what you should do. :-)

As I’ve said elsewhere (and is not really the topic of this ticket), I would prefer not to get rid of `<defaultVal>`,

[2018-09-10 20:30] joeytakeda commented on #1807
Yes, that make completes sense. So, I suppose to make the formal request:
1) Add defaultVal to att.combinable
2) Add handling in the stylesheets for 1)

If 1 is approved, I can make a ticket for 2.

[2018-09-10 21:35] martindholmes commented on #1812
The original request was only for sourceDesc/bibl, so there's no reason (yet) to  add it to titleStmt. I also wonder if we should constrain it so that it can only appear in sourceDesc, so that it doesn't end up being used in (e.g.) bibls in the bibliography, where we'd have to decide how to process it. What do you think?

[2018-09-10 22:11] martindholmes commented on #1807
I'm not saying `<defaultVal>` should not exist; I'm saying we should never use it in the Guidelines specs themselves, since the net effect is that people "use" attributes they've never even heard of. I would prefer removing all our `<defaultVal>`s to facing the Stylesheets issue for something we don't want anyway.

[2018-09-10 22:27] sydb commented on #1807
(Ummm... we should probably move this discussion to the appropriate ticket, no?)

And (at least at the moment) I respectfully disagree. I think `<defaultVal>` should not exist in its current form — it should mean something else.

But I’m not sure I understand what you mean by "facing the Stylesheets issue for something we don’t want anyway”. We need to allow users to delete `<defaultVal>` even if

[2018-09-10 22:34] martindholmes commented on #1807
If we don't use it in the Specs, then nobody should need to delete it. If they don't want it, they don't add it to their ODDs. The number of people who will add it to an ODD, then override that and delete it in a derived ODD will be vanishingly small.

[2018-09-10 22:44] sydb commented on #1807
But ODD is a system for writing and customizing schema languages, not just TEI. If MEI uses `<defaultVal>`, and MEI customizer may want to remove it. Also, customization chaining may mean I want to customize the SILLYWALK customizaiton of TEI, but it uses `<defaultVal>`, and I don’t want it.

Yes, vanishingly small, but for consistency’s sake, I still think it should be there. So I would probably

[2018-09-10 23:41] martindholmes commented on #1807
Fair enough. Let's start digging through the Stylesheets, then!

[2018-09-10 23:43] joeytakeda commented on #1807
Can I close this ticket and open a new one in the stylesheet repo?

[2018-09-10 23:47] martindholmes commented on #1657
This is basically done:

https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/DEPRECATIONS.html

But the results are not (yet) pretty. It's Appendix G -- that seemed the most logical place to put it -- and it's tabular. But @jamescummings @martinascholger @hcayless please have a look and make some suggestions as to what it should look like (pointin

[2018-09-11 00:15] sydb commented on #1657
@martindholmes — your description of what you did doesn’t entirely match @jamescummings “envisioning”. Where do things that are deprecated manually (as opposed to with `@validUtil`) get put?

[2018-09-11 00:16] sydb commented on #1807
Might be a little premature; may want a few others from Council to weigh in, no?

[2018-09-11 00:37] martindholmes commented on #1812
Added a constraint in commit #c70f41ce6. If nothing breaks, I think we can close the ticket.

[2018-09-11 00:44] martindholmes commented on #1657
Sorry @sydb, I didn't properly understand what was being asked for. I thought it was just a list of deprecations. I don't really know what a manual (as opposed to `@validUntil`) deprecation is; I guess I wasn't around for those discussions. Should I back out my changes to the two repos?

[2018-09-11 00:45] martindholmes commented on #1657
@sydb there is now a deprecation XML file in the repo, though, so it would be easy to add textual explanations of anything you like in there, above the `<divGen>`.

[2018-09-11 00:53] joeytakeda commented on #1807
(PS: I am happy to help with work on the stylesheets/submit a PR if that
helps with anything.)

On Mon, Sep 10, 2018 at 5:16 PM Syd Bauman <notifications@github.com> wrote:

[2018-09-11 01:06] sydb commented on #1657
For an example, see P5/Source/Specs/content.xml (search for “deprecated”).

I’ll take a look at the DEPRECATION file soon.

[2018-09-11 01:12] sydb commented on #1657
Well, when I build the _Guidelines_, the DEPPRECATION.html file looks like that `<divGen>` was not processed.

But if & when it is working, seems to me it might do fine depending on formatting, separation, etc.

[2018-09-11 01:13] martindholmes commented on #1657
Would it be sufficient to harvest the constraintSpecs whose idents end in "-deprecated" and echo out their error messages? That would be easy.

[2018-09-11 01:17] martindholmes commented on #1657
@sydb Did you update your stylesheets before doing the build? This is one of those cases where the Stylesheets and the TEI repos both required changes.

[2018-09-11 02:00] sydb commented on #1657
Right! Probably not. On it …
(I see that it works in the [latest build](https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/DEPRECATIONS.html).)

[2018-09-11 02:03] martindholmes opened #1815 "Deprecations should include explanations of alternative encoding strategies"
In the East Asian/Japanese SIG this morning, a researcher who had been using `<oVar>` was dismayed to discover that it was removed from the TEI in 2013. The discussions around the reasons for the removal, and suggestions for what to do instead of using it, were not really accessible. Since we're working now on deprecations (issue #1657), should we formalize an approach to helping people migrate aw

[2018-09-11 02:41] sydb commented on #1657
OK. Got it working. Looks good.
A first crack at dividing DEPRECATIONS into two sections (manual & auto): 364b150

[2018-09-11 04:34] martindholmes commented on #1812
Tested, all good, closing ticket.

[2018-09-11 04:34] #1812 closed

[2018-09-11 04:41] martindholmes commented on #960
Adding Martina to this ticket because it really doesn't belong with me; I can't lead any particular translation effort, and I'm not on Council either.

[2018-09-11 04:43] martindholmes commented on #1743
@peterstadler's excellent poster from TEI Tokyo would be a great starting point. Peter, how about uploading that to the TEI Wiki?

[2018-09-11 06:09] peterstadler commented on #1743
yes will do – is there already a wiki page? shall I add one? where (under which category)?

[2018-09-11 08:35] gerritbruening opened #1816 "n="added gathering" in XML examples"
See https://github.com/search?q=org%3ATEIC+%22added+gathering%22&type=Code.

@jamescummings thinks that this is only a typo for `n="added_gathering"` (with an underscore to make it one attribute value).
But do you really think that `added gathering` is a good value for `@n`?

[2018-09-11 08:41] jamescummings commented on #1816
Definitely a typo. Underscore or camel case addedGathering if keeping that term.

Whether it is a gathering or not one can't really tell from that markup.

[2018-09-11 08:57] gerritbruening commented on #1816
Maybe "quire" would be the more common term. But given that a quire was added here, what I had taken for granted: Again, would you store this information in `@n`?

[2018-09-11 09:04] jamescummings commented on #1816
I think gathering and quire are both used depending on school of description (and print vs mss) so that bothers me less. I mean we have gb as gathering beginning in the tei as well which is at least consistency. But the free text in the n attribute is definitely a bug. Must do a check for all `@n` attributes and check!

[2018-09-11 09:17] gerritbruening commented on #1816
I also don't like these blanks either, but [here](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.global.html) I read:

Anyway, is "added gathering" a "number (or other label)"? Maybe I just don't understand what "label" is for in this context. Please forgive my stubbornness.

[2018-09-11 11:09] jamescummings commented on #1816
Yes. I think that is also not good. I would have `@n` be an unordered series of whitespace tokens (like `@rend`)

[2018-09-11 11:47] hcayless commented on #1816
I don't see any problem here. `@n`'s datatype is [teidata.text](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-teidata.text.html), which permits punctuation and whitespace. `@rend`'s datatype is 1-∞ of [teidata.word](http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-teidata.word.html). These are different for perfectly sensible reasons.

[2018-09-11 12:14] sydb commented on #1816
And, for that matter, "added gathering" is a perfectly reasonable value for 1-∞ of teidata.word. (@jamescummings wants teidata.word to be teidata.token, but it was not intended that way.)

[2018-09-11 19:48] lb42 commented on #1776
@norm and @orig don't exist on any non lexicographic elements do they?

[2018-09-11 20:18] lb42 commented on #1807
Thinking about this again, I remain unconvinced. Changing the default value for an attribute from one value to another is a plausible change, which is supported by the current ODD language. But removing the existence of any default value at all seems to me to be a change of a different order, which should properly be done by redefining the attribute. Making the `<defaultVal>` element combinable is

[2018-09-11 21:02] sydb commented on #1776
Nope; just att.lexicographic.

[2018-09-11 21:47] martindholmes commented on #1807
My main concern is that the Guidelines stop using it. The fact that it's used in DTD-land is part of my problem; ever since DTDs and their defaultVals we've had this problem of people "using" attributes without knowing about it. It's mad. It mixes schemas with document instances in a way which is pernicious. Schemas should validate, not contribute to, documents, especially in a world where multipl

[2018-09-11 21:51] sydb commented on #1807
To the detriment of all, some would say.

(Not me — although I think the drawbacks of default values outweigh the advantages, I do see the advantages.)

If you’re argument, @lb42, is “the `@mode` of `<defaultVal>` would only have `"add"` and `"delete"`, therefore it would not be like other `@mode`s and we should reject it”, then note that the `@mode` of `<memberOf>` only has `"add"` and `"delete"`

[2018-09-11 21:53] martindholmes commented on #1657
@sydb the latest incarnation shows correctly-linked items for most cases:

https://teijenkins.hcmc.uvic.ca/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/DEPRECATIONS.html

but a couple which didn't end up linked; I need to investigate that. And it looks like constraint-based "manual" deprecations are also being pulled into the main table, so perhaps we only need one

[2018-09-11 22:26] joeytakeda commented on #1807
I think @sydb's point still stands: ODD is a schema writing system, so unless the TEI decides to deprecate and stop supporting `<defaultVal>` completely (which I'm not at all suggesting), then I think there ought to be a way to get rid of them from your own schema if you don't want them.

I'm a bit confused about this. What criteria are in place that determines whether or not something is allowed

[2018-09-11 22:28] sydb commented on #1657
Well, it’s not clear to me that there will _always_ be a constraint specification (or `@validUntil`) if there is a deprecation. Is it not the case it might be expressed only in prose? Idunno. (E.g., if we were to remove the expectation that a `<title>` child of `<monogr>` has an `@level` of `"m"` or no `@level` at all — why we would ever remove that, and why there is no `<constraintSpec>` for it a

[2018-09-11 22:46] lb42 commented on #1807
I entirely agree that there should be a way of removing defaultValk if you dont want it. I think that if you do thatr, though, you are changing something pretty fundamental about the attribute, so it's not unreasonable to require you to redefine it. But I can see I am in a minority in this opinion so I'll pipe down.

[2018-09-12 01:42] jamescummings commented on #1816
Sure, I'd feel better if that was the case but accept it is. I have a distinct memory of council several years ago deciding at some point that while we wouldn't change the datatype we would stop _exemplifying_ using spaces in `@n`. Perhaps I am mistaken. A quick (a probably inaccurate) ballpark search of use of `@n` with spaces in it (not including things like our guidelines specGrp's) in the Guid

[2018-09-12 02:44] martindholmes commented on #1657
There's now only a single table, and links are working there. Now I think all that remains is cosmetic work. @jamescummings @martinascholger @sydb could you take a look at the results:

https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/DEPRECATIONS.html

and suggest what things should look like and what needs fixing.

[2018-09-13 05:30] martindholmes commented on #1657
To clarify what @sydb and I are doing to make this work: all items which are deprecated will have `@validUntil`, and they will also be required to have `descendant::tei:desc[@type='deprecationInfo']`, which will hold the human-readable explanation of the deprecation, along with hints for working around it if you need to. These descs need to be added, but requiring them is a good thing anyway.

[2018-09-13 05:39] dariok commented on #1815
It may be a good idea to have a special page, most likely as an appendix to the GL, that contains an abstract of the discussion why to deprecate and what to use instead. A Schematron rule should contain a link to this page so that it is immediately clear where to finde more information. For easy changes, providing a Schematron Quick Fix may be a useful service.
The link to the appendix of the GL m

[2018-09-13 06:30] martindholmes commented on #1657
@sydb I'm not deathly afraid. It's just not practical to have two branches in two separate repos dependent on each other, with parallel pull requests, and Jenkins can't build such a mess of stuff without multiple new Jenkins jobs. The two repos should never have been separated.

[2018-09-13 06:30] jamescummings commented on #1657
On the prose before the table is

The right thing to say?
Maybe:

Or something?

(i.e. it isn't necessarily _this_ revision that has deprecated it.)

Also, why not include a count of deprecated things (similar to other appendices like elements)?

[2018-09-13 06:45] martindholmes commented on #1657
@jamescummings you can edit DEPRECATIONS.xml to make the change. I'm not sure what the value of a count is, but if you want to add it, it would be another of the processing-instruction things we've added before.

[2018-09-13 07:27] naoki-kokaze commented on #1707
@ebeshero Thank you for the minuting the discussions at the Open Session on 10th Sep! I'd like to offer the example markup based on the discussions.
I would like all of you to check it and to have any comments or feedbacks.

[code]

[2018-09-13 08:51] martindholmes commented on #1707
@naoki-kokaze This looks great. Recalling our previous discussion, in this particular example, you might omit `@fromUnit` because the context `<unitDef>` element provides that information, but we may decide that's just confusing.

Also, if the `@formula` is XPath, the expressions would be "* 32" and "* 36" (with the operator for multiplication). But we need to describe exactly how to implement thi

[2018-09-13 08:54] sydb commented on #1657
I think the change @jamescummings recommends is fine, but I hold that the current wording asserts the list is the list of things that **are** deprecated in this revision, not that they were _first_ deprecated in this revision.

And as for a count, I have nothing against it, but seems like a waste of time to me. Most of the time there are fewer than 1/2 dozen dozen deprecations. (We happen to have

[2018-09-14 00:57] sydb opened #1819 "entry element needs subtype attribute"
Per discussion at last TEI 2018 conference session, `<entry>` should have `@subtype`.

[2018-09-14 08:09] lb42 commented on #1657
While warmly applauding the decision to provide some explanation for deprecations and guidance on what to do if you're affected by one, I wonder whether this is an over-engineered solution. So I propose to engineer it further: shirley there should be a constraintSpec on the attribute @validUntil to enforce the requirements syd sets out above? Also, as regards the data.* deprecations, this is a fai

[2018-09-15 00:09] sydb commented on #1657
Yes, there should be constraints, and there already are in some sense — but I have not checked them in yet as they break the build until the conditions are satisfied. I’m planning to check both in in roughly 24 hours.

As for the data->teidata, the old ones already get the red warning boxes, but I think @lb42 is right, a posting to TEI-L is in order, too. I’ll plan to post a 2-week warning on or a

[2018-09-17 06:11] sydb commented on #1819
Done at 41585d0.

[2018-09-17 12:14] sydb commented on #1657
Checked in at c0e061a

[2018-09-17 17:34] wenamun opened #1821 "allow tei:date/@ref"
**Context**:
We are creating a gazetteer for ancient calendar dates (“GODOT - Graph of Dated Objects and Texts”, very preliminary website: [https://godot.date](https://godot.date)) which will mint disambiguating URIs for instances of ancient calendar systems (like e.g. geographic gazetteers do for place names). These URIs hold full canonical calendar information like day and month, but also year &

[2018-09-21 11:36] duncdrum commented on #1804
So as a question of procedure, the low hanging fruit are the examples and guidelines prose that use a unicode property name that simply doesn't exist.
The commit linked above fixes these, without any functional changes. I can prepare a first PR, with just these changes, provided it gets a timely merge into develop. Whatever the ultimate cause of action regarding validation and constraints is, this

[2018-09-21 12:06] duncdrum commented on #1805
@jamescummings the list is not fixed. The unihan database works like the unicode character database so that individual character codepoints can have any number of 4-90 properties with defined values (i don't think there are any booleans in this one)

New properties can and will be added if e.g. a national body embarks on a new character encoding design (currently underway for the PRC) or new stand

[2018-09-21 13:08] gabrielbodard commented on #1821
This certainly seems sensible to me, from an EpiDoc perspective. The proposed use of `date/@ref` is clearly distinct from the other `att.datable` attributes cited (it wouldn't point to a calendar, dating system or period, but rather to a full definition and identity of the date itself), and it would not be redundant with the dating attributes (especially from `att.datable.custom`) which might enco

[2018-09-21 16:00] martindholmes commented on #1805
In the new uniHan spec, it looks like the content model is defined with RNG. I'm guessing you did this because pureODD is not yet processed correctly. But I see from the discussion above that it should be encoding property-value pairs, not just properties -- did I get that wrong?

[2018-09-22 22:17] martindholmes commented on #1657
Done and working.

[2018-09-22 22:17] #1657 closed

[2018-09-27 02:07] ebeshero commented on #1621
As per F2F Tokyo Minutes from ticket triage: I am merging my branch into the "dev" branch, but leaving ticket open since it's on the meeting agenda.

[2018-09-27 02:19] ebeshero commented on #1621
Branch is gone and pruned away. Commits here are merged into dev.

[2018-09-27 04:27] martindholmes commented on #1795
@ebeshero Assuming nothing on #1621 is connected with the broken Jenkins build. :-)

[2018-09-27 10:36] ebeshero commented on #1795
@martindholmes Yikes...Looks like there's something breaking Jenkins there...I'll investigate!

[2018-09-27 10:38] ebeshero commented on #1621
Uh oh, when I merged to dev, something broke Jenkins. Investigating...

[2018-09-28 17:11] #1811 closed

[2018-10-01 15:14] mccaskey opened #1823 "teiCorpus: make guidelines and data model consistent"
All the guidelines, all the examples, and the note in the spec for the element say that a `<teiCorpus>` element contains (“must contain” in the note) `<TEI>` elements. But the data model allows `<teiCorpus>` to contain no `<TEI>` elements and a `<text>` element instead.

[2018-10-01 15:19] emylonas commented on #1813
This isn't part of the guidelines. Syd managed to find it on tei-c.org
 at: tei-c.org/opencms_tomcat/lv1/local/tomcat_6.0.14_teicms/webapps/ROOT/export/Guidelines/Customization/odds.xml

We are not sure how it is generated. It was created by Sebastian, and has been edited by Kevin Hawkins, Chris Ruotolo, Julia Flanders and Martin. Last edit was Kevin in 2013.

Assigning to Syd for RNG work (in ord

[2018-10-01 16:43] martindholmes commented on #1815
@sydb has already completed this bit.

[2018-10-01 16:43] #1815 closed

[2018-10-02 10:09] Martin-de-la-Iglesia commented on #1439
SIG Text & Graphics have identified another problem though: multiple `<graphic>` elements, i.e. a structure like `<surface><graphic/><graphic/></surface>`, are ambiguous. It can mean either 2 representations of the same surface, or a composite surface consisting of 2 parts. The current Guidelines example

is not helpful in this regard, because the semantics ("these are 2 images of the same surface

[2018-10-02 10:29] Martin-de-la-Iglesia commented on #1508
TEI and IIIF interoperability is a huge and important topic, but it shouldn't be the sole focus of this discussion here. As @martindholmes 's paper "Encoding GeoJSON Geometries in TEI" at the Tokyo TEI conference has shown, there is an actual demand for encoding coordinates externally. Any solution proposed here should be generic, i.e. able to handle GeoJSON, IIIF or any other format.

[2018-10-02 10:39] Martin-de-la-Iglesia commented on #1515
SIG Text & Graphics think that it's also problematic in @sydb 's example to use sibling elements, as this might give the impression of a succession of multiple distinct images instead of a single composite image.
Our suggestion is to discuss all of these issues more in-depth in the Guidelines prose.

[2018-10-02 10:52] Martin-de-la-Iglesia commented on #1453
SIG Text & Graphics have identified two things in the prose of `<path>` that could benefit from clarification:

1. It should be made clearer that "line" isn't meant in the geometrical sense here, i.e. not necessarily a straight line.
2. It should be made clearer that, in contrast to `zone/@points`, the order of the coordinate pairs in `path/@points` matters, because there are several possible line

[2018-10-02 11:31] jamescummings commented on #1823
I think the Guidelines are correct (and should be made more clear) and I think the addition of model.resourceLike to the content model as a whole here is wrong. If one is going to use teiCorpus to then have some alternating teiHeader and text elements in it, it is far better to wrap those in a TEI element and hardly any problem.

I believe this is in error when we were making changes to membership

[2018-10-02 11:37] jamescummings commented on #1813
If you give me the corrections for the page (@sydb) I'm happy to add them to the website version. It has now been sucked into wordpress.

[2018-10-02 11:42] jamescummings commented on #1439
@Martin-de-la-Iglesia Wouldn't a more straightforward solution be to have graphic claim membership in the att.typed class? This would give it type and subtype attributes. We have a standard formula for att.typed that if it is a) repeatable, and b) classifiable then it should probably get it if someone asks for it.

That a surface has high-res or low-res images doesn't necessarily mean that they ar

[2018-10-02 12:02] lb42 commented on #1813
Sadly, this page has rather more problems than that. The discussion of the xInclude example is incomprehensible, I suspect due to formatting issues.

[2018-10-02 12:12] lb42 commented on #1813
Sadly, this page has rather more problems than that. The discussion of the xInclude example is incomprehensible, I suspect due to formatting issues.

[2018-10-02 12:16] lb42 commented on #1813
There are two earlier versions of this document in the Github repo: Documents/oddmanual/oddmanual.xml and Documents/oddmanual/index.xml : they are not identical. In an ideal world, there would be a single ODD xml document which could be readily brought up to date. In this sublunary world however I suspect there have been updates and corrections made in some non-TEI format subsequently in a documen

[2018-10-02 12:17] Martin-de-la-Iglesia commented on #1439
I don't oppose adding `<graphic>` to att.typed, but isn't it rather the relation amongst the `<graphic>` elements and/or between `<graphic>` and `<surface>` that needs to be specified, rather than the individual `<graphic>`s?

I also still think that `@exclude` would be appropriate in this case, but I must say all of those att.global.linking attributes are somewhat vague and elusive to me.

[2018-10-02 12:17] vbigot-juloux opened #1824 "Guidelines: customized ODD examples based on teiCorpus?"
Since cuneiform (but not only) can be very specific, I think it would be helpful to add a few examples regarding customized ODD based on `<teiCorpus>`. This concern is based on my question on [stackoverflow](https://stackoverflow.com/questions/50161914/oxygenxml-add-an-ad-hoc-attribute-to-teicorpus-framework) and the kind answer of [Piotr on TEI-L](https://listserv.brown.edu/archives/cgi-bin/wa?A2

[2018-10-02 15:33] Martin-de-la-Iglesia commented on #1439
How curious. It seems counterintuitive to me that

[code]
should necessarily mean something different than
[code]

[2018-10-02 15:41] lb42 commented on #1439
Well, I can only repeat: that's what the intention was. A nested `<graphic>` is always a representation of the 2d space defined by its parent (the same consideration applies to `<zone>`). Maybe we should have made it an attribute instead!

[2018-10-02 15:52] vbigot-juloux commented on #1439
Based on your explanation, will it be correct then for a Cuneiform broken tablet to write:

[code]

[2018-10-02 15:56] lb42 commented on #1439
Yes. And you can indicate *whereabouts* on each tablet the various glyphs are too.

[2018-10-03 00:51] sydb commented on #1823
I think I agree w/ @jamescummings, here. I think adding model.resourceLike+ to the before-TEI portion of the content model (which was done in 2.4.0) made sense, but
 a) The content model should have been changed to `teiHeader, model.resourceLike*, ( TEI | teiCorpus )+` — that is, the `<TEI>` (or nested `<teiCorpus>`) bit should always be required, not optional as we have now, and maybe
 b) a Schem

[2018-10-03 00:53] sydb commented on #1813
Well, I’m happy to do some updating, but if you’re already on the case, @lb42, you would probably do a better job than I, anyway.
If I am to do this, which document do you think I should start with, or do I have to combine all three?

[2018-10-03 00:57] sydb commented on #1821
I am +1 on @gabrielbodard’s position, in favor of putting both `<date>` and `<time>` in att.canonical. (I don’t really see any use case for `<time>`, but since I think of these two elements as the same thing …)

[2018-10-03 14:20] ebeshero opened #1825 "Revision of TCW-20 re branching in TEIC GitHub Repo"
We should revise the following portion of TCW 20, to better assist Council members in how to work in branches on TEIC GitHub repositories:

We should revise this to provide an explicit method that works best for our TEIC GitHub repository, so we have our own custom preferred process for branch work. We should clarify:
a) When it's best to open a branch in the first place (and not be working in the

[2018-10-03 14:22] ebeshero commented on #1825
PS: I'm self-assigning this ticket, but I think we probably want a few of us assigned to monitor/help with testing some approaches to see what's best. Who wants to help? :-)

[2018-10-03 14:47] martindholmes commented on #1825
Since we rarely investigate the precise history of commits in our repos (to my knowledge, anyway), I don't think there's any advantage in using rebase; I'd suggest using merge, with a strong recommendation to merge dev into your temporary branch frequently so that it doesn't get too far out of sync.

[2018-10-03 21:54] hcayless commented on #1825
As far as rebasing goes, I think it's fine to do it (I do it all the time), BUT, you should only use rebase when you're the only one who has a copy of that branch. If you've pushed it, and more particularly, if anyone else has a copy of it, then you should ONLY use merge. The reason being that rebase results in new commits with new hashes, and so you'd wind up with your local branch having a very

[2018-10-04 04:29] PietroLiuzzo commented on #1821
I also like solution 1, but I would really like to have this also for `<origDate>`!

[2018-10-04 15:28] ebeshero commented on #1825
Thanks, @hcayless : rebasing on a solitary branch does seem an easy way to update it. I'm specifically worried, though, about how best to update one's branch (with and/or without other branch contributors), having run amok of this in mysterious ways recently. I work in branches on other project repos all the time, and merging to update hasn't caused me problems there, but I've had some weird exper

[2018-10-04 15:57] duncdrum commented on #1825
When reviewing PRs, rebasing tends to greatly simplify live for the reviewer. I would not take the warning about changing history to mean "don't do it".

Shouldn't travis be the new jenkins mentioned in the GL?

One thing to simplify contributions is having a dependable main branch (i.e. dev should be free of test breaking commits). Consequently direct work in dev should be the exception, instead

[2018-10-04 17:50] martindholmes commented on #1825
@duncdrum I think of dev as the branch which will break things, while master is the branch that shouldn't break. Since it's quite difficult to run the complete suite of tests locally, it's often difficult for anyone to know exactly what will break until they commit and see the Jenkins builds, and in fact there are differences between the setups of Jenkins servers which occasionally throw up issues

[2018-10-04 18:49] lb42 commented on #1813
I've now had a slightly closer look, and have located what appears to be the most recently revised (2013) XML source of the document. To avoid losing it again, I've checked it into the Documents repo in a new folder called "ODDintro"; to avoid confusion I also renamed the old one "oldODDmanual". I'm happy to work on a revision, bringing it up to date, and removing stuff we no longer believe (or wh

[2018-10-04 18:54] duncdrum commented on #1825
True, luckily thats is fairly easy, and can be managed going forward by reviewers cleaning up merged branches when merging. Some housekeeping seems about 15 years overdue…

![screenshot 2018-10-04 at 20 26 53](https://user-images.githubusercontent.com/6205362/46494941-67224380-c814-11e8-8455-77e1b8f2b219.png)

Having failing HEAD in dev means that all contributors have to debug the state of HEAD f

[2018-10-04 19:10] duncdrum opened #1826 "migrate to travis.com"
travis.org's interface with github has been deprecated as of 0ct. 01. Travis.com is where all the fun is nowadays, i.e. users can see more easily see the state of the CI when working on branches or opening PRs.

https://docs.travis-ci.com/user/open-source-on-travis-ci-com/

[2018-10-04 23:07] martindholmes commented on #1826
Since accounts are required on travis.com, I'd like us to create some solid documentation on how the TEIC projects on GitHub are going to be managed on travis.com, who's responsible for managing settings etc., how much we should trust travis over our own Jenkins, and how much of our build requirements can actually be handled on travis.com. I'd be happy to relinquish the requirement to run a Jenkin

[2018-10-05 08:13] peterstadler commented on #1825
Thanks @duncdrum for you input. I think that's the way it should be.

(BTW, there is a team @TEIC/tei-technical-council )

[2018-10-07 18:53] peterstadler commented on #1453
reopening because of @Martin-de-la-Iglesia  last comment.

[2018-10-07 19:02] martindholmes commented on #1453
Thanks Peter -- I'll take care of thing one. Thanks @Martin-de-la-Iglesia for taking a close look!

[2018-10-07 19:16] martindholmes commented on #1453
I've created a new branch mdh_issue_1453_followup and made some modifications.

[2018-10-07 21:52] peterstadler commented on #1453
Thanks @martindholmes for that super fast reaction!
I think #1827 addresses both of @Martin-de-la-Iglesia's points?! Waiting for his response before merging, though …

[2018-10-08 09:42] Martin-de-la-Iglesia commented on #1453
Yes, thanks for creating #1827

[2018-10-08 11:40] peterstadler commented on #1453
#1827 merged, closing

[2018-10-08 11:40] #1453 closed

[2018-10-08 17:17] #1802 closed

[2018-10-08 20:57] #1479 closed

[2018-10-12 15:15] raffazizzi commented on #1710
@martinascholger @jamescummings and I had a meeting about this issue today and are leaning in favor of moving some classes from `tei` to another module. These would be classes that have members and references from one module only. Classes with members and references from multiple modules must stay in `tei`.

We would like to get comments from council before going ahead with this. Also we need furt

[2018-10-12 16:44] martindholmes opened #1828 "TEI build process should not strip comments from templates"
Our templates are generated from these files:

P5/Exemplars/*.template

Each one of those files ends up in the distribution as  one of

xml/tei/custom/templates/*.xml

and from there, in the Oxygen plugin as:

..tei/templates/TEI P5/.xml
..tei/templates/TEI JTEI/.xml

and so on. In the process of being converted to those XML files, all comments are discarded. They should not be; they provide usefu

[2018-10-12 16:47] martindholmes commented on #1828
With @sydb did what we think is a fix for this in commit ae63ddc2a.

[2018-10-12 17:03] martindholmes commented on #1710
Since this is an odd-breaking move, I'm basically against it for existing classes. I'm fully in favour of creating new classes only in the module they're required in, if they are specific to that volume, but I think the minor benefits of moving existing classes are outweighed by the potentially large fallout in breaking existing ODDs. In particular, the tendency will be to move little-used classes

[2018-10-12 17:28] raffazizzi commented on #1710
@martindholmes can you provide examples of how this would break existing ODDs? Explicitly deleting does not require specifying the module so where the class is should be irrelevant.

I just tested these two assertions and got the same result (`att.partials` got deleted with both ODDs).
[code]
vs.
[code]

[2018-10-12 18:02] martindholmes commented on #1710
@raffazizzi I guess I'm considering how the stylesheets should work rather than how they do work. :-) I was assuming that specifying a module for a class which is not the module in which it appears would generate an error -- and in fact I believe it should -- but if it doesn't (even if using @sydb's TEI for TEI Customizations), then I withdraw my objection. We would have to be aware that any chang

[2018-10-12 18:12] lb42 commented on #1710
On 12/10/18 19:02, Martin Holmes wrote:

I can think of no instance where the @module attribute is of any
significance in ODD processing. You might need it if there were ever two
objects of the same name in different modules, but  we don't allow that
to happen any more.

Where this proposal *might* lead to backwards compatibility problems is
when people have used <moduleRef> (correctly) to pull in

[2018-10-13 17:56] lb42 commented on #1710
@raffazizzi : yes,  you always get all of its classes by default when you supply a `<moduleRef>` but that wasn't my point. I was just saying that one should be careful about moving classSpecs out of the tei module to another.  To answer the query about the history you raised above: it's probably all my fault: I felt that having all the classes declared in one module (tei) was a helpful simplificat

[2018-10-17 17:42] joewiz opened #1829 "PM for list in tei_simplePrint.odd only lets item through"
When using tei_simplePrint.odd's processing model, the model for `<list>` contains a `content` parameter whose value is the list's child `<item>` elements. See:

https://github.com/TEIC/TEI/blob/dev/P5/Exemplars/tei_simplePrint.odd#L4478-L4485

Unfortunately, this prevents elements that are permitted inside `<list>`, such as `<pb>` and `<milestone>`, from being processed. Effectively, anything tha

[2018-10-21 08:35] martinascholger opened #2007 "Expand translation spreadsheet and generate glossary"
This request was triggered by a meeting with Susanna Allés in Tokyo when we where talking about translations of the Specs into Spanish. A central topic of this meeting was about best practice and where to start with the translations.

1) Limited set of elements
For the TEI2German translatathon in Vienna, @peterstadler generated a Google Spreadsheet with a limited set of elements based on an inters

[2018-10-22 12:38] tuurma commented on #1829
@joewiz please go ahead. I agree entirely with your proposal.

[2018-10-22 13:06] tuurma commented on #1824
Thanks @vbigot-juloux, could you please clarify if you'd like to see 1. examples of already existing ODD files which customise TEI for the purpose of specific project or 2. tutorials how to create an ODD customisation?

If you don't mind I will assign this as your first issue for clarification, welcome on the Council :-)

[2018-10-22 14:13] ebeshero commented on #1707
Council meeting suggestion from @sydb : We need to make really clear that the `@formula` takes a value in `@from` and returns a new value in `@to`.

[2018-10-22 14:31] ebeshero commented on #1707
Council discussion: @sydb : We need to make really clear that the @formula takes a value in @fromUnit and converts it to @toUnit (and not the other way around). (And be really clear to disambiguate @from and @to (which are dates) from @fromUnit and @toUnit.) We should present this is as a template for a function, rather than the function itself. Also make clear that values for unit conversion shou

[2018-10-22 14:37] sydb commented on #1707
From Council teleconference of a few minutes ago.

* Whereas we all agree with @martindholmes that there needs to be a mechanism to show where the number of the unit being converted is plugged into to the formula (i.e., like a function template);
* Whereas the `<unitDef>` element defines units for use with `<unit>` (and possibly `<measure>` or other things that are in att.measurement);
* Whereas w

[2018-10-22 15:55] martindholmes opened #1830 "<derivation> should allow <bibl> in its content model"
`<derivation>` can be used to specify that a text is a translation from another text:

`<derivation type="translation">`

but there's no easy way to specify what it's a translation of. I think the content model of `<derivation>` should allow `<bibl>` so that information about the original text can be supplied.

[2018-10-22 15:56] vbigot-juloux commented on #1824
Both. What I suggest is:
1. A list of questions that an Assyriologist can ask to him/herself: i.e. “How can I do for...?”
2. Afterward, the list of answers: for each, either a link to a section of a current ODD section (+ TEI guidelines section) or a short tutorial on how to create an ODD customisation for this specific need.

I propose two subsections (maybe more but at least these two subsection

[2018-10-22 16:46] martindholmes commented on #1707
@sydb `@quantity` (meaning the number of fromUnits to be converted) is found on `<unit>`, not on `<formula>` (where the formula resides), I think it might be a bit confusing to use `@quantity` in the formula itself; I think "$quantity" might be better.

[2018-10-22 17:06] lb42 commented on #1830
The spec for derivation says that info about the sources from which a text is derived should be supplied in the sourceDesc. Which makes more sense to me

[2018-10-23 07:55] peterstadler commented on #1707
I just created a job on our Jenkins server for the `measurement` branch: https://jenkins-paderborn.tei-c.org/job/TEIP5-branch-measurement/
Currently it's building, but when it's finished you can review the changes (made in the `measurement` branch) to the Guidelines directly at https://jenkins-paderborn.tei-c.org/job/TEIP5-branch-measurement/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/e

[2018-10-23 09:30] pitrackster opened #1831 "Any API to get element / attribute definition ? In JSON ?"
Hi there !

For a project we need to dynamically get elements and attributes definition in french and english.
For this purpose I am looking for an API that I could request to get those information (probably one request per language).

Does this kind of API exists ? If yes where ?

I could achieve what I need using (here for the list element and french data) :
http://www.tei-c.org/release/doc/tei-

[2018-10-23 10:10] peterstadler commented on #1831
Yes, exactly, those are stable and canonical URLs. Even more stable when you point at the Vault, like `http://www.tei-c.org/Vault/P5/2.9.0/doc/tei-p5-doc/en/html/ref-damageSpan.html`; the current version being `http://www.tei-c.org/Vault/P5/current/doc/tei-p5-doc/en/html/ref-damageSpan.html`.

NB: The translations are fluid, i.e. there might exist only partial translations of descriptions, glosses

[2018-10-23 10:16] StefanDumont commented on #1831
Just a hint, @pitrackster : Perhaps https://github.com/hou2zi0/tei-doc-link might be of interest to you?

[2018-10-23 11:30] pitrackster commented on #1831
Thanks both of you for your answers !
I think I'll go with the Vault URLs since I have to do the work inside a PHP script. As it is stable it is quite perfect for my needs.

I see, but we can deal with it... and maybe get involved to translate what is missing ;-)

Thanks again for your answers !

[2018-10-23 12:49] peterstadler commented on #1831
Would be great to see pull requests related to translations :-)

Thanks for getting involved!

[2018-10-23 12:49] #1831 closed

[2018-10-23 13:08] peterstadler commented on #1772
A bit late to the party, but here are my 2c:

My impression is that the TEI Guidelines (for historic and provenance reasons?) try to distinguish between list*s related to setting (socio-linguistic), sources (cataloguing and codicology) and participants (drama?). The more common use case nowadays seems to be more of an uncategorized *ography, i.e. encoders (including me) are simply looking for a wa

[2018-10-23 15:31] martindholmes commented on #1707
My Jinks has one too. Its build has been broken since I set it up, though.

[2018-10-23 15:41] martindholmes commented on #1772
I'd much prefer to have a `<linkedDataBlock>` or `<ldb>` element as we've been discussing for years. All the list* stuff should be allowed in there, rather than making ad-hoc additions to particDesc, which does have a purpose of its own.

[2018-10-23 15:43] martindholmes commented on #1826
Thanks Peter. I do see a lot of value in automatic tests of all branches.

[2018-10-26 21:30] jamescummings commented on #327
Ok at long last I've merged this into dev as requested. (Actually, I just stashed my changes, destroyed the branch and then put directly into dev, but whatever.) Remembering that this is for physical (not conceptual) objects, and to provide descriptions on them based on an msDesc approach.

I have put in placeholder guidelines prose (first draft, unedited, better examples needed, not proofread, et

[2018-10-26 23:36] martindholmes commented on #327
Thanks for all this work! It looks great.

I did smile a bit to see:

`<objectName> (name of an object) contains the name of an object.`

I wonder if there are any synonyms that might relieve the repetition a bit?

[2018-10-26 23:38] martindholmes commented on #327
Nit-picky thing:

If it does not categorize the object, then you can't categorize it "further" by using the attributes. How about:

[2018-10-26 23:48] martindholmes commented on #327
Another nit-pick: comma splice:

Should be:

(Or a period if you don't like semi-colons.)

[2018-10-27 00:10] jamescummings commented on #327
@martindholmes all great points. The text there was written swiftly today and needs major revisions. If you have suggestions of additional things this section should cover do let me know.  I'll try to implement your suggested changes soon.  Thanks!

[2018-10-27 00:19] martindholmes commented on #327
Nit-picking is easier than drafting. :-)

Reading the text reminded me of the slight oddity in the fact that object is the more abstract thing and msDesc the more specific, but the element names tend to include ms. In my P6 fork, all these msThings will be renamed objThings so the hierarchy makes sense, and the module will be objDescription. :-)

[2018-10-27 00:32] jamescummings commented on #327
Yes. I replaced msIdentifier with idGrp because that seemed useful more generally. But yes things like msContents I didn't because where would you stop? The idea is to get something in and then have FRs to change it.  I changed some descs that were solely MS driven because they also exclude early printed books which msDesc is used for. A bug fix might be to do that for all msDesc descendents.  But

[2018-10-27 12:10] lb42 commented on #327
if "idGrp" is meant to be a group of identifiers: (cf listGrp, personGrp, etc) oughtn't it to be "idnoGrp" ?

[2018-10-27 12:49] jamescummings commented on #327
Hi @lb42,

My thought was that this, as a set of identifiers and locators about a particular object or resource, might be applicable elsewhere. Hence not wanting it to be specific to 'object'. As to whether it could be a Grp or not, I had read:

an idGrp as exemplified groups several objects which act as a single entity, identifying the object in question. So I thought Grp would be ok for that, bu

[2018-10-27 13:12] jamescummings commented on #327
I believe I've done the proofreading changes suggested by @martindholmes at 916cdba37cf1779f602e026edbf248a66df8a4fa and dab427fd0670794ae81952d12193220d121ff4ed. The  text clearly needs to be expanded more, with some additional examples.

[2018-10-27 13:35] jamescummings commented on #327
@lb42 you have a point that it isn't a group of things which are equivalent; it is a collection of things which in aggregate tell you more information about this single object (its location or identifying classmarks, identifiers, etc.) Is that a block? A Stmt? a Desc? Or should it just be something by itself? It wouldn't be right, for example, to repurpose 'location' by adding idno/altIdentifier/e

[2018-10-28 18:07] martindholmes commented on #327
@lb42 's point that we don't group `<idno>`s elsewhere so there's no need to group them here seems convincing to me; unless `<msDesc>` also gets the `<idGrp>` element, it looks like a bit of an anomaly.

[2018-10-29 00:04] jamescummings commented on #327
@martindholmes Ok, it isn't a group, but we *do* need a wrapper. This is meant to be a general version of msIdentifier as a container for a potentially weird and disparate set of elements all providing identifying and/or locating information about the object in question. Having them floating all at the top of the msDesc-like object would be even more of an anomaly. The question, in my mind, isn't

[2018-10-29 09:46] martinascholger commented on #327
Thanks for that, @jamescummings!

I think it would be good to emphasize that this is to encode physical objects, e.g. in the Specs for `objectName`:

(name of an object) contains a proper noun or noun phrase used to refer to a physical object.

and in section 13.2.4 Object Names:

the names of physical objects may be marked up simply with the name element.

For the idGrp: if I understand this corr

[2018-10-29 10:07] djbpitt opened #1832 "Clarifying the definition of <msFrag> in Guidelines"
The definition given for `<msFrag>` at http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-msFrag.html reads:

The scope of reference for “now held ...” is easy to misread. It refers to “fragment”, that is, the fragment is now held separately or bound into a convolute, but within my work team some taggers initially misread it as meaning that the scattered manuscript is now held as a single uni

[2018-10-29 15:57] martindholmes commented on #327
@jamescummings @martinascholger I was just about to ask why not call it `<objIdentifier>`, so I must have missed a discussion that rejected that for some reason. What was the reason?

[2018-10-29 16:54] lb42 commented on #327
Am I right in thinking that the contents of this whatever-its-called may be an unholy mixture of names or identifiers for it (the object) (e.g. "Excalibur", "The Red Book of Hergest",) and of names or identifiers which mifght be combined with others such to make such an identifier but don't individually name the object at all? (eg. "Durham Cathedral", "Tomb of the Venemous Bede") ? I do hope not.

[2018-10-29 22:58] jamescummings commented on #327
@martinascholger Thanks for the comments. Does suggesting 'physical object' in any way detract from it being used for fictional objects (Excalibur)? I guess that is a fictional physical object, so maybe not.

@martindholmes the point with objIdentifier (or whatever we call it) is for it to be a general version of msIdentifier. The idea of generality here isn't that it might apply to any object, bu

[2018-10-29 23:37] martindholmes commented on #327
@jamescummings Sounds like it should be called `<infoSet>` or something like that. It's just a grab-bag of any old info elements, eh?

[2018-10-30 08:48] schassan commented on #327
@jamescummings, why should the content model of idGrp (or objIdentifier or whatever) contain `msName` at all? If you/we plan to keep the msDescription module alive and not plan to deprecate it over time, manuscripts will still be described using the msDescription module whereas other objects will be described using the new one. In that case I would consider them to be mutually exclusive, at least

[2018-10-30 13:41] jamescummings commented on #327
@martindholmes Hrmmmm.... I think something better than that must be possible. ;-)

@schassan That is a point. I thought in a parallel way to include objectName into msIdentifier and msName into objectIdentifier (or whatever) as a way to make it easy to deal with edge-cases.

There is also the possibility of someone who is generally categorising objects, but one and only one of them happens to be

[2018-10-31 19:26] joeytakeda opened #1833 "New element for grouping notes: `<noteGrp>`"
Stemming from a discussion on the TEI-L (https://listserv.brown.edu/archives/cgi-bin/wa?A2=TEI-L;c694031.1810), I would like to propose a new element for grouping together notes: `<noteGrp>`. [Thanks to Peter Boot for making the original suggestion for this element and for the others on that chain for their helpful recommendations and suggestions!]

The `<noteGrp>` element would be similar to the

[2018-10-31 22:57] joeytakeda commented on #1833
To add to my earlier point re: `@to` and `@from`, it seems that this is basically happening already in #1666 . If, following this comment https://github.com/TEIC/TEI/issues/1666#issuecomment-383152033, the individually defined `@to` and `@from` on app are changed to att.referring, then I certainly think that `<note>` and `<noteGrp>` could also be added to att.referring.

[2018-11-01 16:47] martindholmes opened #1834 "Guidelines page links broken"
On this page:

https://teijenkins.hcmc.uvic.ca/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/REF-ELEMENTS.html

the list of alphabetical links is broken; the link href is only a hash with no id, and the call to JavaScript hideallExcept() appears to do nothing:

[code]

Ditto for attribute classes and possibly other appendix pages. Should be a straightforward fix.

[2018-11-01 17:17] holfordm commented on #1832
Additionally, if there is consensus on this in the community, it would be useful to offer clearer guidance at this point in the Guidelines about when `<msFrag>` should be used, and when `<msPart>`

[2018-11-01 17:21] holfordm opened #1835 "clarify that msDesc can be used for all text bearing objects including (early) printed books"
this is in response to discussion on the mailing list:
https://listserv.brown.edu/archives/cgi-bin/wa?A1=ind1810&L=TEI-L#11
The discussion / decisions mentioned in the final message in this thread (https://listserv.brown.edu/archives/cgi-bin/wa?A2=ind1810&L=TEI-L&D=0&P=72748) are not, I think, currenlty captured in the guidelines

[2018-11-01 17:48] lb42 commented on #1833
Per previous discussion about *List vs *Grp, I think you want noteList here (or possible listNote) : noteGrp would imply that all the children functioned together to form a single note in some way.

[2018-11-01 18:52] martindholmes commented on #1833
@lb42 I believe Joey's original requirement includes the grouping together of notes which are in intended to be versions of the same note, but at increasing levels of detail or specificity. So noteGrp would be right for that.

If a list element is created, it must be called listNote, not *noteList. I think we established that principle some years ago. But I think it's clear we need noteGrp; the ca

[2018-11-01 19:36] lb42 commented on #1833
Ah, OK. Apologies for not reading more attentively! That would indeed be an appropriate use for the GRP suffix. Maybe *should* add listNote too, so we can demonstrate what the difference is!

[2018-11-01 19:42] jakub-simek opened #1836 "Content model of <institution>, <repository> and <collection>"
Would it please be possible to change the content model of the elements `<institution>`, `<repository>` and `<collection>` which are used as children of `<msIdentifier`> and `<altIdentifier>` in manuscript descriptions?

At the moment, the content model of macro.xtext allows for character data only. In manuscript descriptions it may however be desirable to provide a more structured content for the

[2018-11-01 20:28] ebeshero commented on #1832
@holfordm The distinction between `msPart` and `msFrag` is a little clearer in 10.10 of the Guidelines (http://www.tei-c.org/release/doc/tei-p5-doc/en/html/MS.html#mspt)  than on its element Spec page. In 10.10 we have:

That seems to be a good basis for distinction from Ch. 10's description of `<msFrag>`:

It seems we're distinguishing the two based on whether they're cataloged and compiled toget

[2018-11-01 20:33] ebeshero commented on #1832
@holfordm Is there something more you'd like to see revised in the Guidelines Ch. 10 on this? Or am I right in thinking we really need some more precise description on the element spec pages:
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-msFrag.html

and
http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-msPart.html
?

[2018-11-01 20:36] ebeshero commented on #1835
@holfordm Thanks for this! We may want to address this together with https://github.com/TEIC/TEI/issues/1832

[2018-11-02 06:13] PietroLiuzzo commented on #1832
I think this is related also to  #1747 and I agree that the use could be clarified.
However I think here the issue is much deeper then just in the element names and guidance on how to use them. The vague concept of Fragment in manuscripts cataloguing simply fails to be helpful in all vague contexts where it can be used, whereas we have much more precise definitions of Units of Production and Units

[2018-11-02 08:39] djbpitt commented on #1832
@PietroLiuzzo OP here. Thank you, Pietro, for the helpful pointer to the terminology explored in greater detail in _La Syntaxe du Codex_. Your response alerts us to the opportunity to distinguish how the Guidelines explain the intended semantics of `<msPart>` and `<msFrag>` as TEI elements, on the one hand, and how manuscript scholars should understand the concept of “fragment” or “part”, on the o

[2018-11-02 10:07] jakub-simek commented on #1836
Here is a full example for `<msIdentifier>`, where `<institution>`, `<repository>` and `<collection>` have a more structured content, as I think it would be desirable. At the moment, such content is not allowed.

[code]

[2018-11-02 12:29] jamescummings commented on #1833
To play devil's advocate so we do our due diligence, could someone explain why a group of notes acting as a single structure shouldn't just be nested inside a parent note? I recognise noteGrp might be better, but thought we should be clear on why existing structures don't work.

[2018-11-02 13:38] ebeshero commented on #1832
@PietroLiuzzo @djbpitt Pietro, you are reminding me of something that seems wrong of off in our Guidelines explanations of “part” and “fragment”. The Guidelines make an unspoken assumption that at the time of encoding, all parts of a composite are either bound together or cataloged by an institution that assigns them a location identifier, or known to be dispersed, with all fragments assigned mult

[2018-11-02 15:54] PFSchaffner commented on #1833
James, the only reason I can think of would be the assumed semantics of nested notes, i.e. most nested notes consist of a note (which comments or addresses the main text in some way), which itself contains notes (which comment or address the text of the first-level note in some way). At least, that is the common scenario in which I've used them -- notes to notes. OTOH, notes are att.typed, so you

[2018-11-02 16:49] martindholmes commented on #1833
I'm tending to join the nested-notes camp too, now that I think about it. @joeytakeda , any reason not to use nested typed notes?

[2018-11-02 18:12] joeytakeda commented on #1833
To re-iterate and clarify the problem here: we have multiple notes that are associated with a single span of text; they are taken not necessarily as a single note (i.e. you don't necessarily need noteGrp/note[3] for noteGrp/note[1] to make sense), but, for the project's purposes, they do comprise the full set of editorial annotations for a particular span of text. So, I think `<noteGrp>` actually

[2018-11-02 20:50] sydb commented on #1833
In addition, we need to think through how this proposal interacts with the `<listAnnotation>` proposal from the LingSIG. (See #374 and #1745.) The good news is that the Council sub-group charged with the next steps for that proposal (writ large), which had been thwarted for months by illnesses and deaths in the family, has finally started to make some progress.

Note, though @joeytakeda, that `<pe

[2018-11-03 14:16] ebeshero commented on #1745
I was reviewing this  issue within context with #1833 and accidentally manage to close it—sorry! It is reopened now. I do agree with @sydb that the use case @joeytakeda is providing on that ticket relate to the examples being reviewed here as stand-off annotation.

[2018-11-03 14:37] ebeshero commented on #1833
@sydb (aside) : One of our students found her way to personGrp as a solution for coding personified references to nations, like “`<personGrp>France</personGrp>` will join us” (context is a project on George Washington’s letters).
Was this “Grp” element from an earlier moment before we started applying the Grp suffix for bundles of elements?

As I am finally catching up on this thread, I like the v

[2018-11-05 03:44] joeytakeda commented on #1833
Thanks, @sydb, for the clarification re: `<personGrp>`. My mistake! But I do think `<noteGrp>` is similar to other *Grp elements like `<spanGrp>`, `<rdgGrp>` and `<interGrp>`. And I agree with you and @ebeshero that this should be done in concert with the standoff annotation stuff.

[2018-11-05 07:15] PietroLiuzzo commented on #1832
perhaps one could remove _of a scattered manuscript_ from the msFrag definition and make it clearer by making it shorter instead of longer?

As far as I know both eCodices and our project use msPart to refer to a Unit of Production. This is distinguished on the basis of observation. It is never obvious what a Unit of Production is, the observation should identify converging discontinuities which a

[2018-11-05 14:47] ebeshero opened #1837 "improve explanation of @defaultExceptions on schemaSpec"
We need a more specific explanation of how to work with the @defaultExceptions attribute to deal with (one or more) namespaces outside the TEI. Also, people working with xenodata to customize elements and attributes in other namespaces may need better documentation in general.

See listserv discussion on https://listserv.brown.edu/archives/cgi-bin/wa?A2=ind1811&L=TEI-L&P=6414

[2018-11-05 22:06] martindholmes commented on #1837
Perhaps we should consider making the attribute required on `<schemaSpec>` and providing the most common values by default.

[2018-11-06 00:36] sydb commented on #1837
I would prefer get rid of `@defaultExceptions` on `<schemSpec>`. Even its original creators, I believe, will concede that it is a problematic hack to get us around a thorny problem until we can figure out something better or we somehow shed the shackles to ID/IDREF checking.

[2018-11-06 00:54] martindholmes commented on #1837
I don't think we're ever going to get free of idref checking; it's the default in Oxygen, and lots of people (including me) want it turned on anyway. We could build the defaultExceptions mechanism into ODD processing, but that's taking something public but ugly and making it just magic, so I'm not sure that's the right solution.

Incidentally, I've never really understood the use of the term "anyN

[2018-11-06 01:20] sydb commented on #1837
Well yes, you (and I) and lots of others want it turned on. But we want it on **not** to actually do ID/IDREF checking. After all, none of us actually have any IDREFs in our documents: we have IDs (specified on `@xml:id`s) and URIs that point to them. We like to have ID/IDREF checking turned on _not_ because we want ID/IDREF checking, but because we (understandably) want oXygen to provide us with

[2018-11-06 08:13] lb42 commented on #1837
I disagree strongly enough with Syd to say so! Id/idref checking is an important and useful thing. We teach people to put these wretched sharp signs in for a purpose. Documenting this defaultExceptions attribute properly is not hard, certainly easier than documrnting eg the similarly obscure prefix attribute"

[2018-11-06 13:08] ebeshero commented on #1837
Sorry, but I think this discussion of ID/IDRef is straying from the initial context of the ticket. The call to improve documentation of `@defaultExceptions` was about providing better guidance for ODDs that define elements and attributes in multiple namespaces. The request in the TEI list was for examples and better explanation.

[2018-11-07 06:47] peterstadler commented on #1834
Well, it does work on the main Jenkins: https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/REF-ELEMENTS.html

I guess it's an issue with the [Content Security Policy settings](https://github.com/TEIC/Jenkins#content-security-policy-csp) on your Jenkins?

[2018-11-07 20:48] martindholmes commented on #1834
Could be, but the main issue is that it doesn't fail gracefully; those `@href` attributes should point to the relevant sections so that if JS does fail or is turned off, the links do something.

[2018-11-08 14:53] holfordm commented on #1832
Possible wording:
`msFrag` element spec: "msFrag contains information about a codicological unit described in relation to its _original_ codicological context, typically as part of a virtual reconstruction of a manuscript of which fragments are now held in several different repositories"
`msPart` element spec: "msPart contains information about a codicological unit described in relation to its _cu

[2018-11-08 16:42] hcayless commented on #1832
I will timidly raise my hand to point out that msFrag is used by people like papyrologists, who don't *have* codices, but do have fragments that they want to describe (and that may have distinct curation histories, inventory numbers, etc.). MsDesc was created for codex-like things, but other people with other types of document use it, and in fact msFrag originated in part because there were object

[2018-11-08 19:40] holfordm commented on #1836
This request makes sense to me - these are often organizations or other names and should be able to contain name-related elements. It would be possible (and more efficient) to use the `@key` or `@ref` attributes on `institution`, `repository` and `collection` to point to a separate authority record that contained the variant names and `idno` values, but perhaps not every project will want to use a

[2018-11-08 19:49] holfordm commented on #1784
In medieval/manuscript studies there are a very large number of existing bibliographical tools that contain incipits (often many) and often explicits, as a way of exactly identifying the text cited (which may or may not have a title or titles). Stegmueller's Repertories of Biblical texts and Sentence commentaries, the Bibliotheca Hagiographica Latina, etc,  are just a few examples. I think `incipi

[2018-11-08 19:56] PietroLiuzzo commented on #1832
I like the proposal of @holfordm ! but I think it might also be too close to the type of example I provided above. using codicological units with the meaning that Gumbert in 2004 proposed for this concept (if that is what is intended) eventually really cuts out the papyrologist and possibly also those whose manuscripts are autographs because Gumbert's definition of Codicological unit is very much

[2018-11-08 20:03] PietroLiuzzo commented on #1836
wouldn't this be a modification one does in the local schema?

[2018-11-08 21:56] jakub-simek commented on #1836
I am aware of the possibility to change the content model in a customized ODD. Documents adhering to such a schema would not be TEI conformant, however. In this case, I think that the extension of the content model in TEI itself would improve the manuscript description module, that's why I have proposed it here.
I agree with @sydb that it would be important to hear the reasons why macro.xtext was

[2018-11-10 01:40] sydb commented on #1837
@lb42 : But we don’t have any IDREFs to check; we use URIs, not IDREFs. We put the wretched sharp signs in precisely because they are **not** IDREFs, but URIs.
@ebeshero : Except that we wouldn’t have to worry about how poorly documented `@defaultExceptions` is if we didn’t have it.

Remember that the only reason this solution is acceptable to OP (Elena Pierazzo) is that the element she was adding

[2018-11-11 20:13] martindholmes commented on #1837
I think when something is confusing or needs explaining to @lb42, then it's unacceptably complicated and users shouldn't have to deal with it. Call this the Burnard Threshold. We should do away with `@defaultExceptions` and find a way for this to be handled seamlessly in the background.

[2018-11-11 20:45] lb42 commented on #1837
@martindholmes but that would conflict with the Rahtz Dogma which I take the liberty of re-expressing as  "no magic, no sleight of hand, no dark secrets"

[2018-11-11 21:13] martindholmes commented on #1837
I think `@defaultExceptions` already fails the Rahtz Dogma test by virtue of being magic (it's not clear to most of us what it means, what it does, and why we need it). Something that fails both the Rahtz Dogma and the Burnard Threshold is unambiguously egregious.

[2018-11-12 06:15] ebeshero commented on #1837
I had not realized how murky and weird this was, since the OP’s context was sensible enough. Should we rename this ticket, the Unwriting of @defaultExceptions? Or, There Will Be No @defaultExceptions?

[2018-11-16 19:05] sydb commented on #1769
@martindholmes :

1) I'm not convinced that “a project might want both while it switches from A to B” is really a good reason to allow both in the schema. The schema is about interchange, not about intermediate states.

2) That said, I'm not convinced that exclusivity is important, either. While I think in general it is probably bad practice to have two attributes to express the same thing, I can

[2018-11-16 19:20] lb42 commented on #1813
I have now corrected the examples used by this document, but not yet had time to revise the text.

[2018-11-16 22:32] hcayless commented on #1821
Council has discussed this, and we think `@ref` on `<date>` is a good idea. We are inclined not to extend it further at this point, but that could certainly be an additional feature request after this is implemented.

[2018-11-16 23:57] sydb commented on #1821
I hope, @hcayless , that this means putting both `<time>` and `<date>` into att.canonical, no?

[2018-11-18 15:52] martindholmes commented on #1828
I believe this is now fixed. Testing in the bleeding-edge Oxygen plugin, I see helpful comments in a new file created from the templates.

[2018-11-18 15:52] #1828 closed

[2018-11-18 16:07] martindholmes commented on #1807
Two questions for Council to answer:

1. Should there be ANY `<defaultVal>`s in the TEI Guidelines specifications? (I say no, because most ordinary users don't know about them, don't understand their perniciousness, and don't realize they're "using" attributes they've never heard of. Nuke them. This does NOT mean removing the defaultVal mechanism from ODD; let anyone use it who wants to.)

2. Shou

[2018-11-18 16:08] martindholmes commented on #1805
Ping @duncdrum : In the new uniHan spec, it looks like the content model is defined with RNG. I'm guessing you did this because pureODD is not yet processed correctly. But I see from the discussion above that it should be encoding property-value pairs, not just properties -- did I get that wrong?

[2018-11-18 16:16] martindholmes commented on #1804
@duncdrum I think the best approach initially is to create a list of instances in the Guidelines where `<unicodeName>` is used to tag something which is not a Unicode Name. Those are straight bugs, and should be fixed. If you have an automated process for discovering those, that would be really handy to have, and we might run it as part of the TEI test suites.

Secondly, I'd like to see an example

[2018-11-18 16:54] lb42 commented on #1807
I have not changed my opinion on this and simply reiterating points previously raised does not encourage me to do so. But for the record: (1)  by all means remove existing usages of defaultVal in the schema if they are so annoying. (2) do not change its existing class membership. And (3) do not monkey with its existing semantics.

[2018-11-18 17:17] martindholmes commented on #1797
Working on an example based on the Sterne page now; I think that should be enough. I'm waiting for permission to use part of an image from Cambridge U as the example.

[2018-11-18 17:18] martindholmes commented on #960
Quick update: a team is working on the Japanese translations using a spreadsheet, and I will be doing the integration of the results back into the specifications over the next few months.

[2018-11-18 20:01] GVogeler opened #1838 "allow <g> in <zone>/<line>"
In a TEI-L discussion in 2014 there was agreement that the a glyph `<g>` can be part of a sourceDoc-transcription and @lb42 even volunteered to add this to the model ( http://tei-l.970651.n3.nabble.com/zone-g-tp4025940p4025942.html ). I cannot see that this has happend yet (http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-g.html). Maybe it has just slipped attention?

[2018-11-18 20:08] lb42 commented on #1838
I didn't do it because I was waiting for you to submit it as a bug report! But now you have.

[2018-11-18 20:37] lb42 commented on #1838
I think the right way to fix this would be to change the content model of zone and line so that they refer to macro.xtext rather than to text i.e. change `<textnode>` to `<macroRef key="macro.xtext"/>`.  Other ways are not hard to identify. Possibly there are other places currently using `<textNode>` which would benefit from the same change.

[2018-11-18 22:55] sydb commented on #470
Not sure I ever saw this ticket before, and I have not read the whole thing yet. I think I agree that it can just be closed. But I’d like to vehemently correct a misinterpretation of the current situation. `@unit` of att.measurement was **never** intended to be restricted to only SI units. It was, and is, and should be, intended to a) suggest that SI units are good ones to use, and b) provide a st

[2018-11-18 22:57] sydb commented on #1838
Yes, `<textNode>` should probably be `<macroRef key="macro.xtext"/>`.

[2018-11-19 10:37] duncdrum commented on #1805
@martindholmes sorry for missing your question earlier. You are correct, rng wa because of pureODD processing problems, and it should be key-value pairs.

[2018-11-19 10:46] duncdrum commented on #1804
@martindholmes re bugs, i can create a PR to remove the bugs, but while at it I would strongly suggest to also adopt unicode's naming convention for snake_case in all instances if `<unicodeName>`, as a better convention over configuration solution.

The test sort of depends on how open council is to utilize the unicode character database's schema for validation. Always using the latest release is

[2018-11-19 17:00] martindholmes commented on #1797
New branch mdh_issue_1797 with a more complicated example now created. Pull request coming.

[2018-11-19 17:06] martindholmes commented on #1804
@duncdrum I would really like to get the bugs fixed initially, since that's uncontroversial; the other stuff will require some detailed discussion by Council, and will certainly take a while.

[2018-11-21 12:15] gabrielbodard commented on #1821
Thanks for confirming this. I would encourage @PietroLiuzzo to go ahead and propose the addition of `@ref` or `att.canonical` to `<origDate>` separately, if he has a concrete use-case for it, but I agree with Council's decision that this is a separate feature request from this one. The use of `@ref` on `<date>` as proposed by the Godot projects is for pointing to canonical representations of datin

[2018-11-21 13:56] sydb commented on #1821
Well, yes and no, @gabrielbodard , that’s sort of what [Status:Go] means: That the assignees (@hcayless and @emylonas in this case) are free to go ahead and implement. However, it’s not entirely clear to me what they will actually implement (just `@ref` on `<date>`, or both `<time>` and `<date>` in att.canonical).

But worse, no, you are not guaranteed that because it’s [Status:Go] that it will ac

[2018-11-21 14:00] hcayless commented on #1821
I was planning to do it soon. I'm dithering over whether to do `<time>` as well. I could see it being used in similar ways, but it wasn't asked for, and I think that should usually be the reason why we do stuff.

[2018-11-21 16:15] gabrielbodard commented on #1821
@sydb: in brief… because I'm editing EpiDoc here, not my personal schema, the "just use a custom attribute if TEI Council decide to change their mind at the last minute" approach really won't wash. (EpiDoc has a firm dictum that they will always be a valid subset of TEI.) I have made the change in the dev version of EpiDoc, but that's not an official release yet. In the event that we do make our n

[2018-11-23 09:18] PietroLiuzzo commented on #1821
thanks @gabrielbodard I think then that the problem is (with my understanding of) where to use the GODOT URIs. I was agreeing with @wenamun suggestion that it would actually be useful to have these in `<origDate>` as well. Given it takes any form of date, we might use that to provide a non converted date of origin of a manuscript as it appears in a colophon and then use the Godot URI there. I will

[2018-11-25 19:10] emylonas commented on #1821
well, <time> hasn't had any real use cases yet.

On Fri, Nov 23, 2018 at 4:18 AM Pietro Liuzzo <notifications@github.com>
wrote:

[2018-11-26 14:42] gabrielbodard commented on #1821
I'm probably (partly) with @PietroLiuzzo here, I think… Although I only have a use-case for `@ref` on `<date>` (alongside the GODOT project), I'm not sure I agree with @hcayless and @emylonas that the lack of a use-case for `<time>` means that we shouldn't consider that at all. Surely consistency and rationality should also be a "reason why we do stuff"? Wouldn't it make sense to align `<date>` an

[2018-11-27 04:15] joeytakeda opened #1840 "Small typo on http://www.tei-c.org/guidelines/"
On the list items "Licensing and Citation" as well as "Teach Yourself TEI," the items seem to be missing the world "Guidelines":

Image attached.

![tei-typo](https://user-images.githubusercontent.com/17664763/49058229-f49c6700-f1b7-11e8-8c19-3633c5eb935e.png)

[2018-11-27 16:23] martindholmes commented on #1840
What page is this on?

[2018-11-27 17:14] joeytakeda commented on #1840
It’s at the bottom of http://www.tei-c.org/guidelines/

[2018-11-27 17:37] martinascholger commented on #1840
The word "Guidelines" is missing several times on this page. I wonder if this happened during the website migration and if other pages are affected too.

[2018-11-27 17:39] martindholmes commented on #1840
I've let the webmaster know, and pointed him at this ticket.

[2018-11-27 17:53] martindholmes commented on #1840
Looks like everything's fixed.

[2018-11-29 22:33] martindholmes opened #1841 "Request for `<desc>` in `<listBibl>`"
Although `<listBibl>` allows `<head>`, that's not really appropriate for a more detailed description of the contents. I think it would be useful to add model.descLike to the content model, following model.headLike, to allow for more detailed encoded description of what a collection contains.

[2018-11-29 22:36] joeytakeda commented on #1841
I have made a similar request in #1771 . Perhaps these can be fused?

[2018-11-29 23:15] martindholmes commented on #1841
I agree. I'd forgotten about the other ticket, but you're right that they're not the same thing because of the model.listLike issue. But why is listBibl not a member of model.listLike? That makes no sense to me.

[2018-11-29 23:41] sydb commented on #1841
1) I think adding `model.descLike*` to the content model of `<listBibl>` after model.headLike makes sense.

2) Why on earth is model.milestoneLike in the content of `<listBibl>`? Surely it should either not be there (if transcribed stuff is not allowed in a `<listBibl>`) or should be model.global instead, no?

3) @martindholmes asks above “why is `<listBibl>` not a member of model.listLike?”. Seem

[2018-11-30 00:42] martindholmes commented on #1841
@sydb On Q2, my guess is that there are people in the world who transcribe actual bibliographies from books, or books containing actual bibliographies. If you were doing that, you would certainly need to be able to put milestones in.

On Q3, I would say that most of these lists are similar in that (outside of the scenario above) they tend to be linked-data-block type authority lists, with similar

[2018-12-01 16:45] #1662 closed

[2018-12-06 14:47] gabrielbodard commented on #1821
Much as I would like to push the case for aligning `<time>` purely on logical grounds, I now have a concrete use-case for including a GODOT URI in `@ref` on `<time>` (an inscription in my corpus that dates an event to "the first hour" of the day prior to the inscribing). @hcayless, is it okay to reopen this request to push for the inclusion of `att.canonical` in the model for `<time>` as well as `

[2018-12-07 18:47] dariok opened #1842 "`setting` should contain `placeName`"
Currently, `setting` may contain `orgName` and `persName` as well as the general `name` – but not `placeName`. All examples in the GL use `name` for the place.
I think it would be more consistent if `placeName` were allowed here.

[2018-12-07 19:08] dariok opened #1843 "`dateline` should be a member of `model.pLike.front`"
Currently, `model.pLike.front` contains `byline` but not `dateline`. `dateline` is in `model.divBottom` (via `model.divWrapper`).
This means that the dateline has to appear after all other content of that model – which may not reflect its true position on the page.

[2018-12-07 19:44] sydb commented on #1843
But model.pLike.front isn’t used by anything but `<front>` and `<back>`, is it? So if you were encoding front matter (or back matter) that was not divided up somehow (thus no `<div>`s), would there be a situation in which `<dateline>` was really more appropriate than `<docDate>`? If so, I see no reason not to include `<dateline>` in model.pLike.front.

That said, your argument that “the `<dateline

[2018-12-07 21:06] dariok commented on #1843
I found this while I was batch transforming about 3,000 files from P4 with various styles of encoding.
The files contain protocols and sometimes letters; usually, there is a `front` which contains some information about the text, in this order:
- 1 title-like string that goes into `docTitle/titlePart`
- 1+ an idno-like string with the archival identifier, file number and/or an internal reference n

[2018-12-07 21:10] sydb commented on #1841
@martindholmes :

On Q2, then you would vote for my 2nd option, using model.global instead of model.milestoneLike, yes?

On Q3, I guess I would not mind if the class were called model.linkedDataStuff or model.authorityLists. But model.listLike really means “goes where a `<list>` can go”.

[2018-12-07 21:19] sydb commented on #1842
1. I agree. (But remember that `<placeName>` is not the same as `<locale>`, which already goes in `<setting>`.)
1. The devil is in the details: we need to worry about whether the content model of `<setting>` should be changed to use model.nameLike instead of model.nameLike.agent, OR if `<placeName>` should be added to model.settingPart.

[2018-12-07 21:34] martindholmes commented on #1841
@sydb you're right; model.global makes more sense.

On Q3, I've always found the naming of such things utterly confusing. "list-like" literally means "like a list", not "appearing in places a list would appear", and in any case, the latter is just weird; you shouldn't describe a context by means of the things that might appear in it, because the whole point of describing a context is in order to b

[2018-12-07 21:37] sydb commented on #1834
Note: assigned to myself to help usher this through (here or Stylesheets or both), not necessarily to do the fix myself, as I may not be able to as I don’t speak Javascript.

[2018-12-11 09:54] peterstadler commented on #1823
I admittedly never(?) used `teiCorpus` but always thought of it as a pure wrapper for `TEI` or `teiCorpus` elements – and this is how I understand the remark: "Must contain one TEI header for the corpus, and a series of TEI, one for each text."

Yet, in [2.4.0](http://www.tei-c.org/Vault/P5/2.4.0/doc/tei-p5-doc/readme-2.4.0.html) it was decided to "allow a `<teiCorpus>` to have `<facsimile>` and `

[2018-12-11 22:20] martinascholger commented on #1838
I just want to mention that `<g>` is already allowed in `<line>`, with `<classRef key="model.gLike">`. This has to be considered when changing `<textNode/>` to `<macroRef key="macro.xtext" />`.

See current content model of `<line>`:

[code]

[2018-12-13 15:18] jamescummings commented on #327
Hi all,

To summarise the work done so far:

- Creation of [objectName](https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/ref-objectName.html)
- Creation of [object](https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/ref-object.html)
- Creation of [listObject](https://jenkins.tei-c.org/job/TEIP

[2018-12-15 10:57] laurentromary opened #1844 "Remove @type from att.interpLike and use att.typed"
I come across the definition of att.interpLike which is one of the few remaining place where we have an ad hoc definition of `@type`, which could be nicely replaced by adding all members of att.interpLike (`<interp>`, `<interpGrp>`, `<span>` and `<spanGrp>`) to att.typed. This is all the more easy that I don't have the feelings that the four values suggested for `@type` in att.interpLike (image, c

[2018-12-15 13:50] sydb commented on #1844
Part of #386.

[2018-12-17 13:10] peterstadler commented on #1797
Pull request merged, closing the ticket.
Thanks @martindholmes !

[2018-12-17 13:10] #1797 closed

[2018-12-19 18:59] hcayless opened #1845 "Remove witDetail from model.noteLike"
Its participation in model.noteLike means `<witDetail>` shows up everywhere, like a fungus. It's really only useful in association with `<app>`. It makes most sense to put a `<witDetail>` next to its corresponding `<lem>` or `<rdg>`, though the GLs have examples with it following the `<app>`. Semantically, I agree that it's a sort of note, but that doesn't mean it should be able to occur everywher

[2018-12-19 19:43] s8stchro opened #1846 "correction in an example for <secl>"
For the element `<secl>` the following example is provided:

[code]

As far as I can tell, the content of `<wit>` is not correct. It should have been only "Pescani".

[2018-12-29 15:46] sydb commented on #1845
I agree wholeheartedly! Two concerns about actually doing this, though:
1) Deciding where it should be allowed (since there is even an example with it outside the `<app>`) may be a bit thorny. Is it reasonable to collect them all in a `<div type="witness_info">` inside `<back>`, e.g.?
2) Backwards incompatible change for which it is difficult (but not impossible) to give nice deprecation warnings

[2018-12-29 16:46] hcayless commented on #1845
Yeah, I think we should steer people toward putting it in `<app>`, but we could start by putting it in model.global.edit and adding it explicitly to `<app>`‘s content model. I’d be surprised if anyone’s collecting them in random weird spots.

[2018-12-29 18:54] hcayless commented on #1845
Yeah, I think we should steer people toward putting it in `<app>`, but we could start by putting it in model.global.edit and adding it explicitly to `<app>`‘s content model. I’d be surprised if anyone’s collecting them in random weird spots.

[2019-01-03 15:54] jamescummings commented on #1572
I agree with @hcayless that we should remove it until such time as a replacement is created. To do this do we just remove the ODD, or are there unforeseen side-effects? Is there a copy of it in the oxygen framework?

[2019-01-03 15:57] vbigot-juloux commented on #1773
@jamescummings: Chuck only looked to `biblStruct` element page and not the examples listed. Then, maybe an additional question should be: is the “Show all” link is enough visible? Maybe a note needs to be added before the example like “For further examples, click on ‘Show all’ link” or something like that.

There are indeed already a lot of good examples using core elements e.g. `analytic` `series

[2019-01-03 16:46] sydb commented on #1572
No, @jamescummings , there is not a copy in the oXygen framework precisely because it does not have an associated template file (I think). Either way, I agree; this can just be green to go IMHO.
LingSIG can provide a better one if and when they want ...

[2019-01-03 17:12] jamescummings commented on #1572
@laurentromary  Sounds great! Adding back in a new ODD should be just as simple, if it appears before we've got around to removing it, that is good as well. (We're planning a release before your meeting, so it may disappear for that release and back in the next with your upgraded documentation and examples.)

[2019-01-03 17:14] laurentromary commented on #1572
No problem with this. I acknowledge the current one is not very helpful.

[2019-01-06 16:09] sydb opened #1847 "move free-standing minOccurs= and maxOccurs on elements to class?"
An egregious sub-part of #386:

The attributes `@minOccurs` and `@maxOccurs` exist in only two places: `<datatype>` and att.repeatable. Is there any reason not to just put `<datatype>` into att.repeatable? The only difference is a small difference in the description, which I daresay makes the descriptions of these attrs on `<datatype>` ambiguous, anyway. (Not harmfully so, but “specification” _cou

[2019-01-06 18:37] martindholmes commented on #1847
I would put it into the class, then override to make the definitions more precise.

[2019-01-07 15:52] sydb commented on #1805
@duncdrum & @martindholmes :
To what RELAX NG schema are you two referring? I.e., where is the proposed UniHan spec? It may be just that I am extra tired this morning, but I don’t remember where it is, and don’t see any links here (or in #1804) other than to the UC’s schema.

[2019-01-07 16:00] martinascholger commented on #1805
@sydb: see [[https://github.com/duncdrum/TEI/commit/51e8d1afbefc7f97988f8312dec64ce649e04791](https://github.com/duncdrum/TEI/commit/51e8d1afbefc7f97988f8312dec64ce649e04791)]

[2019-01-09 21:17] frederik-elwert opened #1848 "Allow titlePage and other block-level elements in rdg"
Here’s the original rationale:

I am currently working on a digital edition based on two Arabic
manuscripts. I am using the multi-witness approach with `app`/`rdg` to
record differences between the manuscripts.

Except for minor, phrase-level variants, there are two parts with larger
differences: The title pages and the colophons.

Since `rdg` may now contain `div`, I can express the different col

[2019-01-10 09:13] martinascholger commented on #1655
@jamescummings : I have noticed that the proposed rewording has been done. Can we close the issue?

[2019-01-16 14:48] hcayless commented on #1846
I don't agree that editorial comments can't occur in `<wit>`, but in the light of subsequent experience, I think it should probably be changed to a `<note>` instead. I will do so.

[2019-01-16 14:50] hcayless commented on #1848
I don't see any reason not to do this.

[2019-01-16 14:54] hcayless commented on #1845
@peterstadler: mind if I steal this from you? I was irritated all over again by seeing `<witDetail>` show up in James's new `<object>` stuff. WHERE IT ABSOLUTELY SHOULD NEVER OCCUR.

[2019-01-16 15:24] hcayless commented on #1801
I have rewritten the sentence so as not to imply that all witness omissions need to be encoded:

[code]
I think @jamescummings comment is right, and that further elaboration is needed on the relationship between editorial practice/theory and encoding practice. But I think that's a somewhat larger issue, and will end up being a paragraph or so of prose added to the TC chapter. I'm going to close th

[2019-01-16 15:24] #1801 closed

[2019-01-16 15:27] hcayless opened #1849 "Add more discussion of editorial practice to TC chapter"
#1801 highlights the need for some nuanced discussion of how editorial theory and practice applies to TEI encoding of text critical information. For example, does the editor mean to provide a positive (all witnesses recorded) or negative (only variant witnesses recorded) apparatus? Are all variants recorded, or only those the editor thinks significant? I'd like to write some introductory prose tha