[2019-11-26 15:57] lb42 commented on #1947
Nothing to stop you making such a change in your ODD, but it should be noted that the view of Council at the time was that providing more than these values would give a spurious air of precision to this attribute, which was intended only to provide a broad brush characterisation. It was suggested that more fine grained characterisations should be expressed using the &lt;certainty> and &lt;precisio

[2019-11-28 20:00] joeytakeda opened #1948 "Typo in `<when>`/`@absolute'`"
In the definition for `@absolute`, the `<timeline>` element is erroneously referenced as `<timeLine>`: https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-when.html#tei_att.absolute

[2019-11-28 21:45] martindholmes commented on #1948
Fixed in commit #be21c2126. Closing.

[2019-11-28 21:45] #1948 closed

[2019-12-03 16:15] trevordavidlawrence opened #1949 "Small issue in section v.4 of TEI Guidelines"
In section v.4 "Complicating the Issue" of the TEI guidelines, the third paragraph reads:

This is at the very least slightly misleading. The XPath expression `/anthology/poem//line[1]` will not select the first `line` element of each `poem` element, rather it will select the descendant `line` elements of each `poem` element _that are the first `line` within their parents_.

This is demonstrated c

[2019-12-03 16:25] ebeshero commented on #1949
@trevordavidlawrence Thanks for this post. A simple fix to our XPath that would select *only* the very first line would be to wrap it in parentheses, so that the expression "walks the whole tree" first, and then selects the very first `<line>` element in the sequence of all results:  `(/anthology/poem//line)[1]`.

[2019-12-03 16:36] ebeshero commented on #1949
Here's the location in the Guidelines that we need to amend to correct the XPath: https://tei-c.org/release/doc/tei-p5-doc/en/html/SG.html#SG152

[2019-12-03 16:39] ebeshero commented on #1949
Now that I look at the section more closely, we should probably *keep* the XPath expression as is and amend the language about what it retrieves. This is simply retrieving the first `<line>` inside each `<stanza>`. We could add something more if it seems necessary to address how to retrieve the very first line in the poem, but that might be out of scope for this example.

[2019-12-03 16:48] ebeshero commented on #1949
No...of course, as @trevordavidlawrence points out, the language is really problematic, especially as connected to the example given. We'll need to correct the XPath *and* the language. @lujessica and I will give this a try soon and come back to this ticket to ask if our correction is an improvement!

[2019-12-03 17:03] lb42 commented on #1949
As the onlie begetter of this problem, I am delighted to see that it's taken so long to get noticed, and that no-one has quite got it right yet... There's a clue to the authorial intent in the phrase "irrespective of whether it is in a stanza." The expression will match the first line within its parent, *whatever its parent may be*. See what happens if for example you add some `<line>`s at the end

[2019-12-03 17:11] ebeshero commented on #1949
@lb42 The example here doesn't give us any `<line>` elements outside of a stanza, so that problem struck me as I was looking at it just now. If we want the matching of lines outside of stanzas to be a test case, we'd want an example that features such a thing. I don't think it's really necessary though, to make the point about the solidus and, really, the descendant axis. I'm not sure how deep to

[2019-12-03 17:12] lb42 commented on #1949
Them's not weeds!

[2019-12-03 17:16] ebeshero commented on #1949
Well, what if we add a little markup to the example? This is just a super-simple XML and not TEI, and the point is to show us something about XPath. Maybe something simple like `<flower>` to wrap around the word "rose" where it appears in the `<heading>` and the first `<line>`? And we make this example retrieve the first `<flower>` in the `<poem>` regardless of whether it's in a `<line>` or not?

[2019-12-03 17:17] lb42 commented on #1949
I'd suggest changing the explanation to say that the XPath (unchanged) will identify the first line of each stanza, as Trevor has indicated. I would however add a proviso that this xpath will also select the first line of a poem, if a poem has no stanzas, or if it has stanzas within blorts within wibbles. It's a part of explaining what // means, after all.  I would NOT recommend introducing comple

[2019-12-03 17:19] ebeshero commented on #1949
Yeah--it seems the point is really about how the descendant axis works, and how selecting the first of a phenomenon might catch it at different levels of the tree. Our current example isn't really helpful for showing that.

[2019-12-05 22:48] martindholmes opened #1950 "Problem with tei_customization Schematron"
The XSLT which generates the tei_customization.odd file has a problem starting here:

https://github.com/TEIC/TEI/blob/be21c2126a1dfb9548e872d88eeae62211b0774c/P5/Utilities/TEI-to-tei_customization.xslt#L852

If you use the schema in Oxygen to validate a file, you'll get an error as soon as Oxygen tries to compile the Schematron from the RNG file to XSLT in the background. The error is:

[code]

I

[2019-12-06 16:57] martindholmes commented on #1950
@sydb and I working on this today discovered three constraints defined in the context of attDefs in this schema. We checked the Schematron specification, and there is definitely nothing wrong with this:

However, the TEI Stylesheets don't handle this in the expected way; they hoist the constraint to the next level (in the case of this `@except` attribute, the parent `<moduleRef>` definition). So t

[2019-12-06 17:10] #1950 closed

[2019-12-07 16:01] #1789 closed

[2019-12-13 10:15] duncdrum commented on #1942
can't happen quickly enough

[2019-12-14 02:33] ebeshero commented on #1949
Okay, I'm reviewing this material in light of the full context and I think I see how we can fix it. @lujessica and I will be working on this together tomorrow. In passing I note that this links to some good but somewhat dated training resources on XPath. Any objections to my adding @djbpitt's XPath tutorial? http://dh.obdurodon.org/introduction-xpath.xhtml

[2019-12-14 15:54] ebeshero commented on #1949
@lujessica and I are thinking while we're in here editing this, we might as well update the graphic (showing the tree structure) to make it match the example better, and to better show the XML hierarchy.

[2019-12-14 16:47] lujessica commented on #1949
Our next move will be to revise the graphic, replacing `title` with `heading`, realigning `heading` with `stanza`, and removing numerical expressions from `line`.

[2019-12-14 17:56] ebeshero commented on #1673
Having walked @lujessica through installing the plugin we note that we really need to write new documentation (w/ new screen captures) b/c the method for adding and installing plugins has changed since @jamescummings 's blog post. Here's a new ticket on the Documentation repo for us to work on this: https://github.com/TEIC/Documentation/issues/5

[2019-12-14 22:04] ebeshero commented on #1673
@hcayless @martinascholger With this commit to the Documentation repo, https://github.com/TEIC/Documentation/commit/26ec92ded0b8f83aca38df2cb8019f7cdd58efd0  I have pushed a new oxygen-tei-plugin tutorial with new screen captures tooled to oXygen 21.1. I didn't create this in TCW, but in a new directory that I called `exDoc/` (which is one of the options we discussed on this ticket that made sense

[2019-12-16 22:21] sydb opened #1951 "Wrong article?"
By my count there are 13 elements that start with the letter ‘f’ but are not pronouncable as words, namely `<f>`, `<fDecl>`, `<fDescr>`, `<fLib>`, `<fs>`, `<fsConstraints>`, `<fsdDecl>`, `<fsDecl>`, `<fsDescr>`, `<fsdLink>`, `<fvLib>`, and `<fw>`.

When being mentioned in prose encoded with `<gi>` and immediately preceded by an indefinite article, I count 17 that are preceded by “an” and 4 by “a”.

[2019-12-17 01:05] sydb opened #1952 "FSD purposes non-sentence"
In [FD](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/FS.html#FD) there is a list of the three purposes an FSD serves. The second one is quite problematic:

The first “sentence” is not even a sentence, I don’t think; and the second sentence is poorly worded.

My first thought at rewording is the minimalist approach: “It provides a mechanism by which the encoder can define constraints not on

[2019-12-17 09:32] lb42 commented on #1952
On the less is  more principle, I much prefer your first revision/ correction

[2019-12-17 12:12] martinascholger commented on #1946
@sydb do you have an example that we can use?

[2019-12-17 15:34] sydb commented on #1946
OK. Here is the one we (the WWP) were discussing that had me notice the lack of examples. Thanks to Jacob Murel for bringing this table to my attention.

Here is an image of part of page 21 of _The ladies diary: or, the woman's almanack, for the year of our lord 1710_ which is a table describing the lunar eclipse of 1710-02-02.

![Ladies_Diary_1710_p21_detail_small](https://user-images.githubuserc

[2019-12-20 00:45] MegJBrown commented on #1952
Can someone explain the 'less is more' principle relative to this sentence? The first revision proposed involves less intervention, but it also seems less clear to me. I think Syd's second version is easier to parse, because its more explicit that the constraints can be used to determine whether something is valid.

 I'm coming to it cold, though, and largely out of context. If there's solid conse

[2019-12-20 03:24] ebeshero commented on #1881
I'm assigning a couple more people to this, since I think we can work on it for the upcoming release. (Feel free to unassign yourself if you'd rather not take this ticket.) This a good ticket for using [`grep` to search the directory holding all the Guidelines files all at once](https://www.cyberciti.biz/faq/grep-subdirectory-for-files-on-linux-bsd-osx-unix-oses/) and see if we can find the langua

[2019-12-20 17:04] ebeshero commented on #1949
@lujessica I think the new diagram is much improved and definitely is a better match to our example, now that it's using the same element names and more clearly representing the XML hierarchy. Thanks for working on it! From my local build of the Guidelines the new diagram + corrected prose looks like this on the built HTML page--it's a little fuzzy but I think the old one was, too:

<img width="14

[2019-12-20 21:50] lb42 commented on #1952
Well, if you prefer the second version, here's an even clearer revision: change

"the encoder can define not only what it means to be a well-formed feature structure, but also provide constraints which may be used to determine whether a particular feature structure is <term>valid</term>... "
to
"!the encoder can define what it means to be a well-formed feature structure and can also provide constr

[2019-12-22 17:01] ebeshero commented on #1952
I think the first revision @sydb offers is pretty difficult to read, and the emphasis plus highlighting on **over a** `<hi>valid</hi>` is not making things better. I think the second formulation is smoother reading and says the same thing with less of an obstacle course for the reader.

[2019-12-22 17:05] ebeshero commented on #1952
I just now saw @lb42 ‘s alternative revision, but I think I still prefer @sydb ‘s second revision for flow. Really this ticket is not about overhauling the FSD chapter, but simply correcting an unclear passage, and I think we’ve got a good revision in Syd’s post.

[2019-12-22 17:15] ebeshero commented on #1952
Okay, @lb42’s rephrasing boils down to removing a “not only ... but also” construction, which simplifies a bit, but loses something too.

If we stay with the “not only...but also” construction, I’d modify @sydb’s phrasing in his option 2 slightly for parallelism, like so, to move “not only” before the word “define”.

“can not only define what it means to be a well-formed feature structure, but als

[2019-12-25 17:12] sydb opened #1953 "improve example"
The example demonstrating the use of `@type` to differentiate `<listPerson>`s is, well, lame:
[code]

The following is a suggested replacement. I like it, because it is a bit better fleshed out. However, it is arguably a bit too long. Let me know what you think, and feel free to tweak or suggest a different one entirely.

[code]

[2019-12-25 19:22] sydb opened #1954 "the example of the ordered attribute of the listChange element"
In section "#PH-changes" (11.7 “11.7 Identifying Changes and Revisions”)

a. There is a case of disagreement in number (“A nested `<gi>`listChange`</gi>` elements is also useful”), and
b. The example immediately following (which includes the ID "ST1") shows an `@ordered` on the outer `<listChange>` (which is not a problem) and none on the inner `<listChange>`. Since the default is "true", this is

[2019-12-25 19:29] sydb commented on #1954
Fixed (I hope) in 4c9f45d03.

[2019-12-25 19:29] #1954 closed

[2019-12-27 01:50] ebeshero commented on #1953
Well, I like this example for its showing fictional and real "person" types, which is something I'm aware a number of TEI projects track. And I like it for the silly reason of its representing my currently local sports team, the Pittsburgh Steelers. ;-)

[2019-12-27 01:58] ebeshero commented on #1949
Yay! I set myself a little holiday puzzle to write some XSLT to make an honest SVG of this diagram, and here's how it looks in my local build:
 <img width="1417" alt="Screenshot 2019-12-26 20 47 40" src="https://user-images.githubusercontent.com/4014518/71496647-564b5c80-2822-11ea-86ce-d91b426d86d5.png">

[2019-12-27 02:35] ebeshero commented on #1949
I'm now closing this ticket with https://github.com/TEIC/TEI/commit/93ed1d60109f59d6ad156ca5ec2022c8583d05fc as we've now thoroughly revised both the explanation and the associated graphic.

[2019-12-27 03:40] ebeshero commented on #1825
I've added new detailed documentation to TCW-20 on working in branches including the advice here about rebasing, and how Council members should work with pull requests. @martinascholger @peterstadler @hcayless @martindholmes would you like to take a look and see if we should change anything here? If it looks good, we can close this ticket.

[2019-12-27 03:41] ebeshero commented on #1825
The commit is to the Documentation repo here:  https://github.com/TEIC/Documentation/commit/c7f577aac75733ca275f7c90097a49bcd99dedb3

[2019-12-27 03:58] ebeshero commented on #1825
Here's the latest revision, and I'll really step aside and leave it for you all to read now: https://github.com/TEIC/Documentation/commit/a7171ad9cd731ad0f6214446ac6352c180d7ddc9

[2019-12-27 04:04] ebeshero commented on #1825
For comparison, here's the minimal discussion of branching we had before: https://github.com/TEIC/Documentation/blob/5099423f75e7ce4bb825d5a7f18ee92a0a20510d/TCW/tcw20.xml#L266

[2019-12-27 14:31] lb42 commented on #1949
The graphic is nice, but I still think it would have been better to include a stanza free poem in the example. Pedagogically better because more realistic -- many poems don't have stanzad

[2019-12-27 14:32] lb42 commented on #1949
... stanzas -- as well as motivating the  issue in the text discussed initially on this ticket

[2019-12-27 16:18] ebeshero commented on #1949
If @lb42 will kindly review the initial posts on this ticket, it is evident that the issue is not poetic representation at all but a faulty explanation of XPath. Along the way we found faults with the graphic representing the example and I took time to render it with matching element names and as an SVG made with XSLT that is readily adaptable to any example. Because we need a simple XML example f

[2019-12-27 16:44] ebeshero commented on #1949
By the way, the XSLT is optimized for the current example but if we go with a stanza-less poem with many lines, it will exceed the viewport I set for the SVG. I was thinking of determining that by variables anyway so the XSLT is more universally applicable and renders something on one screen regardless of the size and hierarchy depth of the source documents. So if people really want to continue wi

[2019-12-28 00:26] #1835 closed

[2019-12-28 18:35] sydb commented on #1949
I’m not exactly on-topic here, @ebeshero, but I’m wondering if you could post your XSLT program, or better yet check it into P5/Utilities/.

[2019-12-28 19:39] ebeshero commented on #1949
@sydb My XSLT is in P5/Images now, though I should check in a fresher version of it that seems to resize for a screen with changing source inputs. It was/is most definitely a fun “rabbit hole” for the holiday. I noticed one or two other XSLT files in Images that seemed to be connected to graphics in the Guidelines in some way so I thought that might be the right directory for it to keep it in cont

[2019-12-28 22:03] sydb commented on #1937
Ooh … good question @Arithmeticus and @tuurma. The good news is that it is reasonably easy to _express_ this constraint in ODD. (The pain-in-the-neck part is that, AFAIK, there is no easy way to refer to an entire attribute class, you need to list them all. Not hard to do — I just extracted all attribute class and attribute name combinations from P5 and deleted those from classes that were not on

[2019-12-28 22:24] lb42 commented on #1949
@ebeshero I was merely saying that if I were to write this example again, I'd (a) choose an example in which one poem had stanzas and one didn't (b) show an XPath which would select the first line of each  poem whether or not it occurred inside a stanza (c) Discuss. That was  my original intention as well  but somewhere along the line the text got mangled, whence the perceptive bug report.

[2019-12-29 01:03] sydb commented on #1942
Given that this **git** thing is a _version control system_, I say we can just delete them quite quickly. If it turns out we need one back, we can get it back.

[2019-12-29 01:40] ebeshero commented on #1949
Reopening this for a moment while I replace the SVG with a .png image here after all, at least until we have worked out how to include SVG in the epub3 build of the Guidelines.

[2019-12-29 02:40] ebeshero commented on #1949
Closing this again, as all is well with our builds now, but I'll open a new ticket about handling SVG in the Guidelines and the troubles with epub3.

[2019-12-29 02:40] #1949 closed

[2019-12-29 04:35] martindholmes commented on #1942
Fair enough. You do have to know they existed in order to retrieve them, though. We sometimes move things to directories called Defunct or Obsolete instead.

[2019-12-29 19:06] ebeshero commented on #1428
Following the resolution of #1479, we've modified these elements so they're only valid inside `<msDesc>`. We do still seek some good examples of usage for `<secFol>`, `<signatures>`, and `<catchwords>` in the Guidelines, so I'm just reminding Council and those mentioned in this ticket about that.

[2019-12-29 19:13] ebeshero commented on #1508
@martinascholger @raffazizzi @martindholmes I'm assigning a few more to this ticket to help ensure we return to it.

[2019-12-29 19:23] #1907 closed

[2019-12-29 19:24] ebeshero commented on #1907
I've revised the phrasing as requested with https://github.com/TEIC/TEI/commit/7558ea860f572960000cb5725ac536ba5af68ec6

[2019-12-29 19:33] ebeshero commented on #1825
@martinascholger @peterstadler @hcayless If these revisions look okay to you, perhaps we can close this ticket?

[2019-12-29 20:08] ebeshero commented on #1708
Working on this ticket at last, I'm noting that we want a new *section* in SG on validation, presumably a top level section. What we currently have is [an internal section called "Validating a Document's Structure"](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/SG.html#SG14) followed by several others at the same level all about Relax NG. It would make sense to make "Validating a Document's

[2019-12-29 20:38] adunning commented on #1428
I could certainly provide some examples – is this the best place for them?

[2019-12-29 22:18] ebeshero commented on #1428
Thanks, @adunning ! This GitHub issue is a good place since it's easy for Council to review and discuss them here. Alternatively, if you're comfortable with opening a pull request to try to add the examples directly to the MS chapter (as here: https://www.tei-c.org/release/doc/tei-p5-doc/en/html/MS.html#msmisc ) you could do that, too.

[2019-12-30 00:35] martindholmes commented on #1508
Link to my presentation from TEI 2018:

https://github.com/martindholmes/BreezeMap/blob/master/presentations/geo_json_tei/geo_json_tei.odp?raw=true

The last half of it shows examples of encoding all the different GeoJSON shapes in zones, using existing methods. However, the more I think about it, the more I would prefer something like this:
[code]

[2019-12-30 03:36] ebeshero commented on #1708
With this set of commits, mostly https://github.com/TEIC/TEI/commit/c1131e950220310955f8e557c19952f55a291609, I've made some small but significant updates to our discussion of validation in SG (the Gentle Intro to XML) so that we're now making more of ODD validation. I've also made some minor spot revisions for consistency of phrasing and stye in SG. I think we might be ready to close this ancient

[2019-12-30 04:00] ebeshero commented on #1910
@tillgrallert Sorry for the long delayed direct reply here, but you'll see from my brief comment above that TEI Council discussed your proposal, together with review of Naoki's recent publication by Council. What we're recommending is along the lines of @duncdrum 's suggestion, that you define a canonical list of places (as in a `<listPlace>`, see https://www.tei-c.org/release/doc/tei-p5-doc/en/ht

[2019-12-30 15:46] martindholmes commented on #1708
I've never really understood why this elaborately-worked explanation uses non-TEI elements. It must be completely confusing to people who start by reading this to discover that there's no such element as a `<poem>` in TEI, and that `<line>` is something else entirely from the thing introduced here. Note 16 is almost a cry of despair: "This example is probably not a good practice for most XML proje

[2019-12-30 16:38] ebeshero commented on #1708
@martindholmes I’ve wondered about that, too, but it is a Gentle Introduction to XML in general as opposed to TEI in particular. I (and others) teach students this way, to come up with their own elements and attributes to describe a document based on a topic or question that matters to them, so as I was working on this I was getting the spirit of that free form approach—with all of its problems. W

[2019-12-30 20:29] ebeshero commented on #1708
There is already a little kind of oblique perspective expressed in the "Gentle Introduction" about the difference between making up one's own encoding for a small project vs. working with a large community. I am wondering if we should really write up a paragraph that directly addresses those differences, and I don't think it would take much.

It also wouldn't be difficult to change the poetry exam

[2019-12-31 01:46] martindholmes commented on #1708
I think that would be good. Every time I refer someone to this chapter I find myself having to explain that the word "Gentle" in the title doesn't mean what they think it means. Part of this is due to the style, which although entertaining for native speakers, is a little arch and arcane if English isn't your first language. I've seen non-natives struggle with formulations such as `Markup codes su

[2019-12-31 02:29] ebeshero commented on #1708
@martindholmes I was wincing over the `<blort>` and `<blortette>` sentence too for similar reasons, and then I somehow stumbled into an Italian translation of this so-called "Gentle" intro that preserved the element names and wondered how people in another language heard those things. @lujessica and I immediately removed the snotty-sounding "solidus" that apparently means "forward-slash" as one of

[2019-12-31 03:17] hcayless commented on #1708
@martindholmes It’s a viewpoint that’s popular with me at least. Agree 100% with @ebeshero that the style isn’t very translatable. I think the rhetoric of it no longer really works either. It’s all “What is this new XML thing?” But the question a modern reader will want answered is “Why are you still using XML? I heard it sucked.”

[2019-12-31 03:36] ebeshero commented on #1708
@hcayless Perhaps there's some reframing we can do without totally rewriting the contents. To me, being compelled by these tickets to finally sit down and read the "Gentle Introduction" closely was a sort of trip back in time, and I have to admit some of the enthusiasm over "hey, look what you can do with making up your own markup" is still kind of appealing. Maybe we can say something about longe

[2019-12-31 03:38] ebeshero commented on #1708
No, probably open a new ticket. I wanted to address the old ticket that started us down this path in time for the next release. But a complete overhaul may be something we start up after the winter release.

[2019-12-31 08:48] luengen opened #1955 "FR: TEI Features for CMC"
The TEI lacks models for encoding features of Computer-Mediated Communication (CMC). Since 2013, an international community of CMC researchers within the [TEI SIG CMC](https://tei-c.org/Activities/SIG/CMC/) have developed several TEI customisations for the encoding of CMC data of different genres (chat and whatsapp logfiles, threads in discussion forums usenet and on wikipedia talk pages, sequence

[2019-12-31 12:28] lb42 commented on #1708
FWIW, my opinion us that you should stop tinkering around with this ancient monument, hacking off bits here and fitting new pipes there, and instead write a completely new and probably much shorter introduction which provides (a) the basics of how to encode documents in TEI XML (b) the specifics of how the Guidelines as a whole use XML and related technologies. These are two different, but complem

[2019-12-31 13:11] lb42 opened #1956 "Broken/misdirecting links"
Broken links on the page I get for  https://tei-c.org/guidelines/customization/
- https://tei-c.org/tools/roma/
- https://tei-c.org/guidelines/customization/use_roma.xml
- link to TEI Simple is missing
- something wrong in the formatting of the table following text "The following customizations use features which are not available in the DTD and XSD schema formats."
- http://wiki.tei-c.org/index.p

[2019-12-31 15:00] sydb commented on #1708
Have to admit to not reading entire thread in detail, but several thoughts jump to mind:

 * @ebeshero is probably right about re-organizing the RELAX NG stuff as subsections of the validation stuff.
 * Not only is there nothing wrong with “solidus”, which is, after all, the Unicode name for what Americans call “slash” and frequently confuse with backslash, it is probably better _international_ st

[2019-12-31 16:14] tillgrallert commented on #1910
@ebeshero et al. thank you very much for considering my feature request. I apologise for not having replied earlier. This was due to a prolonged parental leave-of-absence. I will look into @duncdrum 's suggestion and provide the examples you asked for by the end of this week.

All the best and a happy new year!

[2019-12-31 16:27] PFSchaffner commented on #1708
The only problem with 'solidus' is that Unicode has hopelessly confused the traditional typographic distinction between the virgule (the keyboard character, relatively upright, a punctuation mark) and the solidus (more tilted, used to make fractions or separate shillings). The former is U+002F, but Unicode calls it a SOLIDUS (aka 'slash, virgule') rather than a 'virgule'; and the latter is U+2044

[2019-12-31 17:19] PFSchaffner commented on #1708
Then there's the books that don't use a solidus to separate shillings and pence, but an s-like character (3ʃ6 rather than 3⁄6 or, with a virgule, 3/6).  Close examination is like the Daleks' Reality Bomb: look at anything too closely and it dissolves into disorder.

[2019-12-31 17:26] lb42 commented on #1708
Wikipedia (sv slash punctuation) is ever enlightening. If suggests that the usual BRE usage is stroke ... Which I would never have considered. And I note that slash is a 1960s neologism.

[2019-12-31 17:27] ebeshero commented on #1708
@sydb @lb42 @PFSchaffner The first problem we had with "solidus" was that we simply had not encountered it anywhere other than this "Gentle" intorduction. We only understood its meaning from context in the sentence, and there seemed no earthly reason not to call it a forward slash. Anyway, here's English Stack Exchange on the question:
https://english.stackexchange.com/questions/10993/what-is-the-

[2019-12-31 17:33] ebeshero commented on #1708
Having been reading the "Gentle Introduction" more closely than usual these past several days, I am not of @lb42 's opinion that it shouldn't be revised and updated. I think most of its substance and examples are fine if only because the syntax we are working with is stable. I think we can rewrite it to update the language and perspective, just as we do any other document in our Guidelines, and I

[2019-12-31 17:51] ebeshero commented on #1708
Worth considering is that humanities scholars coming to XML probably do so  as I did, in some context *connected* to and influenced by this Gentle Introduction, whether we read it as our first instructional material or not. The witticisms are not really an issue any more than the word "ensnare" which doesn't bother me at all (and "catch"  is more ambiguous anyway). Where the language is abstruse a

[2019-12-31 18:00] PFSchaffner commented on #1708
Concerned as I always am to be UK-aware, "stroke" was for me long a puzzle of British English, as in addresses given as '14-stroke-16 Highland Crescent" -- did that mean 14/16 or 14-16? Or something in between, as in the early modern oblique hyphen? It did not occur to me that 'stroke' was a shortening of 'oblique stroke' though I sensed it must be something like that. ... IN teaching I try to avo

[2019-12-31 18:22] martindholmes commented on #1708
@lb42 The EFL reader is not in my dreams; it's (I hope and believe) now the majority of Guidelines readers. "Solidus" is a lovely word and the technically-correct term, but "slash" is more familiar (and is a loan word in other languages such as Japanese https://jisho.org/search/surasshu) and therefore more accessible; I think if "solidus" is retained, it should be glossed parenthetically with "for

[2019-12-31 19:49] sydb commented on #1708
If we’re going to go parenthetical, I would prefer the reverse: use “slash” and gloss it with “(‘/’, U+002F SOLIDUS)”.

[2020-01-07 16:21] EsGeh commented on #1744
There seems some overlap with problems we ran into when trying to compile Relax NG to (equivalent) ODD. Therefore I'd like to share my thoughts:
Relax NG has a similar structure to a context-free grammar. Here different content can be specified for a single (XML-) element for every occurrence on the right hand side of rules.

[code]
(here different content models are specified for `ab` in differen

[2020-01-07 17:22] hcayless commented on #1744
@EsGeh It's not that ODD isn't a context-free grammar (it is), it's that its rules for what can go on the left and right sides of productions are more like DTD rules than RNG rules. One of the explicit design requirements of ODD was that it should be able to generate schemas in multiple flavors, and therefore it does not follow the full expressive capabilities of RNG. The point of this ticket is t

[2020-01-11 15:40] MegJBrown commented on #1952
Ok, just tried fixing the language in FD about FSD. This was my first independent git fix, so hopefully I did this right. All three bullet points in this used the same structure, bullet point 2 (under discussion here) just tried to vary it up by flipping around a few elements. I hope simplifying it has increased clarity.

[2020-01-11 15:40] #1952 closed

[2020-01-13 20:08] hcayless opened #1957 "FR: Declarative Citation Structure"
The TEI element [`<cRefPattern>`](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-cRefPattern.html) defines a mechanism for resolving "canonical" references into machine-actionable URIs. While it permits automated resolution of these references, it does not provide for the automated *construction* of references. So while TEI documents can declare how citations should be treated, they can'

[2020-01-13 20:41] martindholmes commented on #1957
This looks really interesting, and is nicely worked out. I'm not absolutely clear on how I'd use it, though; would it be used by an external processor that is pulling out a particular fragment of the document and needs to construct a citation for it?

[2020-01-13 21:04] PonteIneptique commented on #1957
This would be particulary helpful to build application that serves texts and chunks of text on demand, particularly in situation such as DTS API ( www.w3id.org/dts ) which was one of our usecase.

Another usecase was to provide a way for tool provider in general to parse texts easily in declared chunks. For Capitains.org, we are looking forward to leave cRefPattern behind for something that, in be

[2020-01-13 22:00] lb42 commented on #1957
I may be missing the point here, but why wouldn't you use cRefPattern to express the structure of your document? What does this proposed feature add to what cRefPattern already provides, other than different syntax?

[2020-01-13 22:30] hcayless commented on #1957
cRefPattern looks like maybe it should let you do this, but in fact it can’t. You can kind of, sort of, maybe sometimes do it by parsing the regexes in `@matchPattern`, but I don’t think that’s reliable, and certainly not easy.

[2020-01-15 21:23] ebeshero commented on #1842
@sydb Are you good for adding this before the release? Or want one of us to take this on?

[2020-01-16 02:47] ebeshero commented on #1769
@joeytakeda I'm working on implementing Council's decision here, to create a new attribute class for `@where` and giving it the unbounded data.pointer value. I'm working on this in a branch, and am going to try adapting your example for St. Paul's churchyard on this ticket...More when I've figured it out and pushed in the branch. :-)

[2020-01-16 04:53] ebeshero commented on #1769
These changes in https://github.com/TEIC/TEI/commit/2b75afa9d2af07a357fff320d06ce2acfd158d82 are passing local build tests. But there's some new prose explanation of @where in its new class of att.locatable that we should take a look at. I'll do a pull request and ask for help reviewing this.

[2020-01-16 05:58] ebeshero commented on #1769
Well, they *shouldn't* have passed local build tests because I forgot to add specGrp includes, etc., which I didn't notice until I made a pull request...Working on it.

[2020-01-16 06:54] ebeshero commented on #1769
Okay! We're passing the Travis build test now and I think we're ready for Council to review this and see what we need to do before the upcoming release.

[2020-01-16 12:01] peterstadler commented on #1825
@ebeshero Thanks for the write-up!
I'd only like to see [Hugh's warning about rebasing](https://github.com/TEIC/TEI/issues/1825#issuecomment-426816853) added to the text and then it occurred to me that we do not have sort of a merge policy. Do we prefer simple merge commits or squash the commits first? My personal rule of thumb is that when the commits in the branch are predominantly 'trial and er

[2020-01-16 12:22] #1842 closed

[2020-01-16 12:35] sydb commented on #1842
Fixed (pending Mr. Jenkins’ approval) at 04d4b37. The concern, of course, is whether or not any ambiguous content models or detest change problems have been introduced. I checked briefly for the former, and I am pretty confident there are none.

Thanks for the reminder, @ebeshero !

[2020-01-16 14:43] hcayless commented on #1825
FYI: I've added a rule banning force pushes to the dev branch (this is the sort of thing you might be invited to do if you rebased in dev and would potentially make life hard for others). This seems sensible to me, but I can remove it if people object. We already had one in place for master.

[2020-01-16 14:48] emylonas commented on #1476
This is a tedious task. Also not a high priority task. Although no longer on Council, I'm willing to hang on to it.
The best way to attack this problem is
1. to go through all the examples and identify the low hanging fruit.

[2020-01-16 14:59] raffazizzi commented on #1800
@chr-emil have you had a change to look at this again? Thanks!

[2020-01-16 15:22] lb42 commented on #1476
As I started this, I am happy to contribute some effort Eli!

[2020-01-16 15:50] PFSchaffner commented on #1800
In our TEI-derived (i.e. modified TEI) schema for our admittedly very legacy Middle English Dictionary, <usg> is certainly allowed within <def>, and is widely used; it is hard to think of an alternative.

[2020-01-16 16:50] martindholmes commented on #1825
@peterstadler With everyone now (we hope) able to do local testing, we shouldn't see lots of trial-and-error commits. But if you're doing something long and complicated and can't do it in small steps, I guess there's a need to commit stuff that might be broken.

[2020-01-16 17:31] ebeshero commented on #1825
@martindholmes Having just pushed a short series of commits to introduce a new attribute class last night (slightly tricky work), I noticed some things that my local test environment (pulling from Jenkins a la @peterstadler ) did not alert me to. Pushing my branch activated Travis, which alerted me to a major thing I'd missed.

I'm aware from just doing this last night that the local build tests a

[2020-01-16 19:51] martindholmes opened #1959 "New attribute `@defaultLang` for `<tagUsage>`"
This FR arises out of these discussions on TEI-L:

https://listserv.brown.edu/cgi-bin/wa?A1=ind2001&L=TEI-L#1
https://listserv.brown.edu/cgi-bin/wa?A1=ind2001&L=TEI-L#11

The basic idea is that it's very common, particularly in the case of dictionaries, to have a scenario in which all instances of a particular element are in one language, and all instances of another in another language, in a part

[2020-01-16 19:52] martindholmes commented on #1825
@ebeshero What exactly did the local tests miss?

[2020-01-16 20:06] ebeshero commented on #1825
@martindholmes I had forgotten to add an include pointing to the new attribute class, and the local build tests didn’t notice anything amiss about that. They also didn’t pick up anything wrong with the new inconsistencies I had introduced with `@where`, but I saw them in the Travis test after I pushed. That is, Travis’s errors helped me to realize I needed to do what you see in line 928 of this co

[2020-01-17 02:54] ebeshero commented on #1825
@martindholmes Here's another thing that my local testing doesn't catch (and it's happened to me repeatedly this year): When I add new examples that use xml:ids, and I lazily duplicate the same ids in a related example elsewhere in the Guidelines. My local tests don't give me any errors about this, but the Travis build catches it.

[2020-01-17 04:23] sydb commented on #1769
Council discussed this today, and charged me with the task of ascertaining whether all teidata.word values are also teidata.pointer values. They are not.

First, teidata.word permits the character ‘%’ (U+0025, PERCENT SIGN) in an unrestricted way. In a URI (and thus teidata.pointer), ‘%’ must be followed by two hexadecimal digits.

Also teidata.word allows colon anywhere. In a URI, while any numbe

[2020-01-17 05:37] ebeshero commented on #1769
@sydb Well, these are mostly plausible values that we could imagine people using (esp. höger:ner), but they may be unusual enough to be rare? so I suppose we had better say exactly what situations could break backwards compatibility if we proceed with this ticket.

What should we do now?

[2020-01-17 07:33] sydb commented on #1769
Note: definition of URI per [RFC 3986](https://tools.ietf.org/html/rfc3986#section-1.1.1).

[2020-01-17 11:23] #1760 closed

[2020-01-17 11:30] lb42 commented on #1959
You could also consider adding an attribute or some substructure to `<langUsage>` which seems like an equally appropriate place to look for this information. An xPath-valued attribute might be useful for the case where say `<div type="foo">` has a different default language from `<div type="bar">`

[2020-01-17 12:15] duncdrum commented on #1959
I m not a fan of either solution and would prefer not to have this feature, but if a defaultLang element is coming it should go to langUsage imv.

[2020-01-17 12:39] hcayless commented on #1959
My feeling about this is that it's fine as documentation, but that if I were implementing a solution that did anything, I would want the `@xml:lang` specified on every element. In stuff I do its quite common to want to (e.g.) switch the font, or font size, based on what language you're dealing with, and I don't want to have to reckon with two ways the language I'm currently dealing with might have

[2020-01-17 13:13] #1936 closed

[2020-01-17 13:22] peterstadler commented on #1938
Just fixed those two links in the WordPress

[2020-01-17 13:22] #1938 closed

[2020-01-17 13:30] ebeshero commented on #1825
@hcayless Question about force-pushing: What if we want to amend the most recent commit message? (I write this having just written one I want to amend...)

[2020-01-17 13:43] hcayless commented on #1825
I assume you mean amend after pushing? If someone else has pulled after you pushed, and then committed on top of that, then they have a mess to sort out before they can push their commits. My recommendation would be don’t ever do it, but that’s probably a decision Council should make as policy. Amending before pushing is fine of course, and you can force push to other branches than dev and master.

[2020-01-17 14:24] ebeshero commented on #1825
@hcayless Indeed yes--and it's a pretty common reason to want to do a force-push. I agree, it's a mess on the `dev` branch, but fine if it's just in your own branch. I'd want to say something specifically about that.

Another thought: have we addressed somewhere in TCW-20 about how to write a good commit message that identifies the ticket it's associated with?

[2020-01-17 14:37] tuurma commented on #1825
@ebeshero commit message style: the minimum would be to add issue number prefixed by fix, close, address etc, e.g. like Peter did for 44429faa08bce9a27102dcaf207ea76298dde048

some people like semantic commit messages similar to https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-commit-message-guidelines Personally I think it can be an overkill but basic structure like `(scope) short_

[2020-01-17 15:05] dariok commented on #1959
@duncdrum Could you elaborate on why you'd prefer not to have such a feature? That might point out cases @martindholmes and I have not thought about in the discussion on TEI-L.

---

@hcayless The problem with setting the default in the schema comes when you have projects with numerous languages and it does have a few problems from a tech point of view.

A quick summary of the points I elaborated

[2020-01-17 15:31] PonteIneptique commented on #1957
Regarding technical difficulties and parsing, lets take one example:

[code]

Is easy to use to translate `1 1:5` to an xpath `//div[@type='book'][@n='1']/div[@type='chap'][@n='1']/div[@type='verse'][@n='5']` as it is a matter to replace potentially `$` by language specific regexp group identifiers. However, building the XPath from this information to list available citation is a bit more complexe

[2020-01-17 17:01] sydb commented on #1957
My instinct is similar to @martindholmes’. But I want to add my concern of security. If I am writing an XQuery or XSLT program to process a generic TEI document that uses `<citeStructure>` or `<citeData>`, I suspect there will be a strong incentive to evaluate an XPath that is constructed from the values of `@match` and `@use`. But I can’t do that safely without scrubbing the XPath first, a task w

[2020-01-17 17:25] martindholmes commented on #1959
@lb42 @duncdrum @hcayless As far as possible, I would like documentation to be programmatically actionable, and both the simple proposal (`@defaultLang` on `<tagUsage>`) and the more sophisticated on Lou proposed (`@xpath` or something similar on `<langUsage>`) are processable, although the second is harder for an encoder to write and slightly harder to process. I would myself use this in a pre-pr

[2020-01-17 17:58] hcayless commented on #1957
@sydb What's your safety concern? I wasn't aware that XPath had side effects. Wouldn't the same concern hold for evaluating `@replacementPattern`?

[2020-01-17 18:50] duncdrum commented on #1959
@martindholmes @dariok idgi. You want a pre-processsed file to be valid TEI, with the explicit goal that an interchange version would also be proper xml on top.

This is backwards in my mind. A pre-processed file can be whatever, and you can add `@xml:lang` programmatically to every element `x` without the proposed element.

A valid TEI file should always be an interchangeable file, if we stick to

[2020-01-17 19:07] martindholmes commented on #1959
@duncdrum In virtually all of our projects, we have encoder-level versions of files, where we make full use of all the efficiencies and conveniences available to us (centralized -ographies, prefix definitions, etc.), and versions generated from these which are intended for interchange, in which all the weirder features that require custom processing like these are normalized -- external resources

[2020-01-17 19:45] duncdrum commented on #1959
I have no doubt about your practices. But the proposed attribute will allow for bad practices to be valid TEI which I consider bad design. Why not lobby for `xml:defaultLang` as opposed to `tei:defaultLang`

If lang would be a TEI namespaced Attribute i would fully support your idea. But an interchange format is not the place to address the shortcomings of xml namespaced attributes.

However, the

[2020-01-17 20:47] martindholmes commented on #1959
@duncdrum The (presumably not serious) suggestion that we lobby for `xml:defaultLang` suggests that you might not be understanding exactly what we're proposing; there would be no way to do this with only an attribute, because there's no way of specifying which elements it would apply to. What we suggest (in it simple form) is something like this:

[code]

This is the sort of thing `<tagUsage>` is

[2020-01-17 21:16] sydb commented on #1959
I think of this as little more than a syntactic sugar idea to make encoded files smaller and more manageable. Seems perfectly reasonable. (Although @martindholmes’ assertion that he would convert this new mechanism to `@xml:lang` before interchange seems to me to be an argument against, rather than in favor — TEI is about interchange. If you just need this for the convenience of your encoders, not

[2020-01-17 21:32] sydb commented on #1957
Haven’t thought about `@replacementPattern`, but XPath injection attacks are discussed in the literature, as it were.[1] In our case, think of the nasty anti-humanitarian who wants to take down [TAPAS](http://tapasproject.org/) after this has taken effect. He or she submits a file that has as the value of `@match` (or whatever attribute is going to be evaluated) that has, instead of something like

[2020-01-17 22:42] hcayless commented on #1957
@sydb My response is that it isn’t the responsibility of a document in a system to sanitize inputs into that system. It’s the system’s (and the implementer’s) responsibility to do that. Probably something we should note in the documentation of the element if it’s accepted, but I don’t see how it’s a reason not to accept it. Bear in mind that we use URIs all over the place, and _any_ URI might poin

[2020-01-18 12:43] chiarcos commented on #1860
As an afterthought: Where it is not possible/necessary to provide RDF statements in inline XML, the standard solution (i.e., the only solution that is both TEI-compliant and W3C- [or otherwise] standardized) would be to use a standoff annotation with Web Annotation (JSON-LD) over a TEI/XML document. This works nicely as long as the underlying TEI/XML doesn't change anymore (such that URIs, resp. X

[2020-01-19 19:19] joeytakeda commented on #1769
Thanks for this @ebeshero and apologies for the delayed reply! Very happy to see progress on this ticket :-).

However, I'd like to ask why council thought moving to `@move` to a teidata.pointer was more desirable than the introduction of a new `@moveRef` attribute as proposed above? Isn't that backwards compatibility breaking in ways beyond whether or not words look like pointers? That is, even i

[2020-01-20 14:39] ebeshero commented on #1769
@joeytakeda When Council discusses this at the face-to-face meeting in Washington DC last year, we noted something that wasn’t part of the ticket you posted: `@where` is currently defined differently on the `<event>` element than it is on the `<move>` element.  On `<event>`, `@where` already is defined as taking `teidata.pointer` as its value. So rather than introduce a new attribute, our decision

[2020-01-20 14:49] joeytakeda commented on #1769
Thanks, @ebeshero, for the explanation!  This all sounds exactly right to me, especially if this move changes from a sudden change to a deprecation with a warning of some sort.

[2020-01-20 15:38] sydb commented on #1769
Just want to say that I completely agree with @ebeshero’s summary, but with some shades of difference.

1. I am quite a bit more uncomfortable with this break in backwards compatibility than most others seem to be.
1. I think if we **really** wanted users to define the possible values of `@where`, we would do better making it teidata.enumerated than teidata.pointer. But that would not reconcile `m

[2020-01-20 16:19] martindholmes commented on #1769
One approach to kindly deprecation would be to detect all of the current suggested values and give a Schematron warning for them. Anyone using `<stage>/@where` is likely to start from the suggested values, and then add their own, so I bet this would catch most cases.

[2020-01-20 16:43] sydb commented on #1769
Indeed. I think we could also bank on any URI that does not have a ‘#’ and does not have a prefix matched by a `<prefixDef>` as not really being a URI. But how to word these messages and what to make red in the _Guidelines_, etc., will require some thought & work.

[2020-01-20 18:36] duncdrum commented on #1959
@martindholmes
I have followed the discussion on the list, and your op gives a good summary:

I m against this for basically two reasons, which i was a bit to terse to express so here it goes in full:

#### Wrong Place

I m not kidding, the point of mentioning the xml-working-group is because I do believe that this would be the place to make the change you are seeking not here. I don't see why a s

[2020-01-20 20:10] martindholmes commented on #1959
@duncdrum I think you're mostly responding to the XPath variant of this proposal rather than the `<tagUsage>` variant. I would be happy with the simpler version myself. You're right that it's easy to do this at a project level with customization, but whenever a customization looks like it might be generally useful across many projects, it's surely worth discussing it as a possible TEI feature.

As

[2020-01-20 21:07] duncdrum commented on #1959
Indeed, my general objection is based on TEI as a data interchange format, aka xpath. `<tagUsage>` seems primarily concerned with rendering. I can imagine wanting to apply localization features in a browser to all elements as if they had a certain language set. Use vertical page layout, but the two are different concerns. Rendering all defs with Latin menus, is different from saying the contents o

[2020-01-20 21:48] sydb commented on #1959
Although I am far from sure this is a great idea, I find your arguments against, @duncdrum, unconvincing.

1. **wrong place**: Well, you are right that it would be lovely if W3C created a mechanism for default languages. But a) we do not have any control over W3C, we have a lot of control over TEI; b) it is not uncommon for good ideas to appear out in the world and then eventually make their way i

[2020-01-20 22:25] duncdrum commented on #1959
@sydb `//*[@xml:lang='la'] will get me all latin in a mix of docbook, DITA, SVG, and TEI documents. My point is exactly that after the proposed change it won't. `<prefixDef>`, `<line>` etc are tei-scoped (and namespaced for real this time), `@xml:lang` is not.

[2020-01-20 22:51] sydb commented on #1959
On first para: While true, doesn’t help convince me at all. Remember that `@xml:lang` is neither required for, nor required to be the only mechanism for, language identification.

On second para: Frikin’ good point. (And good reason why people should specify a version.)

[2020-01-20 22:59] duncdrum commented on #1959
Wanna bet a pint/large cup of tea at our next f2f, that all the widely used schemas you mentioned do specify `@xml:lang` to designate languages although no one required them to do so. My bet is they do.

[2020-01-20 23:49] martindholmes commented on #1959
@duncdrum

No it won't. It will get you all the elements which have `@xml:lang='la'` declared on them, but those elements may have descendants with other `@xml:lang` values. In a lot of documents, it would get you a mixed mess of languages.You want:

`//*[@xml:lang='la' or (not(@xml:lang) and ancestor::*[@xml:lang][1]/@xml:lang='la')]`

or something like that.

[2020-01-21 03:27] sydb commented on #1959
(@martindholmes is correct, a more complicated XPath like his is needed, but that does not change the validity of @duncdrum’s point.)

@duncdrum: Of course I won’t take the bet, and of course you are correct. It is not that I missed that point, it’s that I don’t care. :-) I am positing that it is not reasonable to put the needs of those who want to use one simple XPath to extract content of a part

[2020-01-21 05:04] martindholmes commented on #1959
I wonder what @laurentromary would think of this. It's really most useful for people encoding multilingual dictionaries. Laurent?

[2020-01-21 05:10] laurentromary commented on #1959
Thanks for the nudge @martindholmes . I was just following from a distance. In the TEI Lex 0 scenario we are working on a scenario of a network of dictionaries which we want to be able to process (query) uniformly. We thus try to avoid any kind of magic in the representation. For instance, we enforce that each entry has an `@xml:lang` attribute so that this information is not inherited by accident

[2020-01-21 18:57] martindholmes commented on #1959
Thanks @laurentromary. I guess you're one more vote against the idea, then! Perhaps it's better as a project-level customization.

[2020-01-22 05:06] muranamihdk opened #1960 "Modification to static files isn't applied to the ones other than the English ver."
popupFootnotes.js was modified with 4c75657, but it has been only applied to the English version of the TEI Guidelines. It isn't applied to the Guidelines for seven other languages. Specifically, https://www.tei-c.org/release/doc/tei-p5-doc/[de|es|it|fr|ja|ko|zh-TW]/html/popupFootnotes.js are not modified yet. This causes not only JS error of footnotes but also disabling expansion icons in the tab

[2020-01-22 06:05] laurentromary commented on #1959
At project level when editing an initial lexical resource, that could make sense if you want to reduce the work load of editors checking that `@xml:lang` is correctly set where it should. But then an edition specific customization could also do that for you.

[2020-01-22 13:41] peterstadler commented on #1960
the fix in the repo will only be applied to the online version at https://www.tei-c.org/release during the next release. Someone altered the en/html/popupFootnotes.js file on the server manually and I now updated the respective files in the other directories.

[2020-01-22 13:41] #1960 closed

[2020-01-22 14:22] muranamihdk commented on #1960
Thanks for your prompt attention!

[2020-01-23 00:38] sydb opened #1961 "inconsistent indication of elided content in examples"
It is normal editorial practice (at least IMHO) in the _Guidelines_ to indicate elided element content in examples with ``, and elided textual (or mixed?) content with “ ... ”. Sometimes, of course, there is commentary to be made, e.g. “title of resource”. But  in either case we seem to be inconsistent. I only looked at `<teix:teiHeader>` (in the dev branch), and found that there are 49 of them:
*

[2020-01-23 18:35] lb42 commented on #1476
Some egXMLs have no value for @source; some have a value #UNDEF; some have a value #NONE. I suppose the purpose of the last is to distinguish known unknowns (i.e. we tried, but we know that there is no source for this because we made it up), but why do we have the first two? Is it to distinguish cases where  we have tried to find a source and failed from ones where we have not yet bothered to look

[2020-01-23 18:57] sydb commented on #1476
You are absolutely correct (except that #UNDEF is actually just #UND). No `@source` is simply an error; #UND is undetermined — we have put some effort into finding a source, but have (as of yet) been unsuccessful; #NONE is for examples that were simply dreamt up by somebody; in addition there are perhaps half a dozen cases of #SELF, meaning the example is copied from the _Guidelines_ themselves.

[2020-01-23 19:17] lb42 commented on #1476
Sorry I didn't mean to sound unappreciative of the work already done, but I am just unpersuaded that the distinction between #UND and not(@source) is actually useful. All the examples are "dreamt up by somebody"; in some cases we can identify the source, in others either we can't and we know we can't  (so #NONE) or we haven't yet made that determination (so either UND or silence). As there are nea

[2020-01-23 19:27] sydb commented on #1476
Well, if you want to go have a look at those 500 #UND cases, have at it! (And I will not be at all surprised at all if you can figure out a few that @emylonas or I could not).

And yes, they’re all dreamt up by someone. But some examples are lifted by the TEI lock, stock, and encoding from an existing project; some are modified by the TEI from an existing project; for some the TEI creates an encod

[2020-01-23 19:29] sydb commented on #1476
And which of the 4 #SELF is not actually a self-quotation?

[2020-01-23 19:43] lb42 commented on #1476
The question I am raising is what's the difference between source="" and source="UND" and my claim is that there isn't any.

In my view,  examples taken from an existing project, whether modified or not,  should cite the project (don't know if there are any such). Examples which represent the way some existing work is or might be encoded should cite the existing work. Examples for which there is n

[2020-01-23 19:56] sydb commented on #1476
I presume you mean the difference between `not(@source)` and source="#UND", right? My claim is that the latter means someone (probably @emylonas, but perhaps me and possibly someone else) has tried to find a source and failed.

Agreed, although I think typically we’ve been citing the project’s version of the work, not the whole project. And one caveat: if the project is the TEI-C and the work is t

[2020-01-23 20:35] emylonas commented on #1476
Agree with Syd. Anything added from now on should have a source that is either cited or `#NONE`, which means it's completely made up. We could come up with a citation for that, too, such as `#FABRICATED`.  The `not(@source)` examples are ones that have not been checked. They may have sources or may not. `#UND` means that there is possibly a source, but we don't know it. So no source is not the sam

[2020-01-23 21:09] lb42 commented on #1476
I would use source=NONE for all invented examples. What advantage/rationale is there in distinguishing "fabricated" from "none"? Clearly if there's no source the example must have been fabricated!

[2020-01-23 21:11] lb42 commented on #1476
@sydb my mistake -- on closer inspection, all four cases of source=SELF are indeed quotations from the Guidelines source. (A pedant might argue that *all* the examples are quotations from the Guidelines but, as you know, I am not a pedant)

[2020-01-27 14:31] hcayless opened #1962 "Make Licensing explicit in repo"
We have a licensing statement at https://tei-c.org/guidelines/licensing-and-citation/, but there isn't an explicit license at the root of the TEIC/TEI repo, and I think there should be one. There is a license in https://github.com/TEIC/TEI/tree/dev/P5/Legal, but the commit message makes me think it only applies to TEI Tite (which should be made explicit). Plus, it's a different license from the GL

[2020-01-27 18:20] duncdrum commented on #1805
note to self unit-test for count of properties which should only ever increase

[2020-01-28 22:00] sydb opened #1963 "WD should refer folks to the Script Encoding Initiative"
The prose in WD says

We should refer folks to the [Script Encoding Initiative](http://linguistics.berkeley.edu/sei/) instead or in addition, I think.

[2020-01-28 23:01] sydb opened #1964 "example will scare people"
As much as **I** really liked it, the `<egXML>` for the `@type` of `<desc>` should probably be changed _before_ the next release.

[2020-01-29 10:13] lb42 commented on #1964
It should be burned with fire. I must have missed the memo about deprecating teiCorpus though I dont think I am alone in that. If ever there was a P6 change, this is it.

[2020-01-29 12:55] sydb commented on #1964
Well that’s part of the point. `<teiCorpus>` is **not** being deprecated. So to have an example that suggests it is …

[2020-01-29 13:53] ebeshero commented on #1964
@sydb What can we think of immediately that really is deprecated? (I have the file open right now and thought I might just do an edit...) The problem with an example with deprecation information in it is that it will always become dated if it's a real example from the TEI that gets really deprecated and goes away...

[2020-01-29 13:55] ebeshero commented on #1964
To be fair, you *do* have a validUntil date of 2027-10-20! That's a whole seven years away!

[2020-01-29 13:57] laurentromary commented on #1964
Than let's put 3030 as a year. That will be optimal :-)

[2020-01-29 14:16] ebeshero commented on #1964
@sydb Here's a relativelly recent deprecation notice (advising people to use `<empty>` in `<content>`.--Should we just use this? https://www.tei-c.org/release/doc/tei-p5-doc/en/html/DEPRECATIONS.html

[2020-01-29 14:19] ebeshero commented on #1769
Okay @sydb and @martindholmes , I'd like to try the Schematron warning solution...I know we're entering the refrigeration zone tomorrow, but I think we should try to resolve this ticket for this release--I'll try something later today.

[2020-01-29 15:12] sydb commented on #1964
I don’t like that one, @ebeshero, because not everyone writes ODDs or can wrap their heads around the idea that the `<content>` element is declaring the allowable content of its the element being declared by its parent `<elementSpec>`.

So we should look back a bit further (which was trivial in Subversion and can’t be that difficult in Git), or perhaps just make up a fanciful one?

[code]

Hmmm …

[2020-01-29 15:16] lb42 commented on #1964
The point about examples is that, as far as possible, they should either represent real existing data, or make clear that they do not. The problem with the current example is that it does not do either, and just extending the deprecation date while an amusing joke for the inner circle of cognoscenti will just confuse anyone else. Syd's jokey Brexit example would be OK (I have no objection to humou

[2020-01-29 15:35] lb42 commented on #1964
Current examples you could consider:
quotation/@form
shift/@new
teiHeader/@type

[2020-01-29 15:38] sydb opened #1965 "paragraph in TS just lies"
Per the anonymous Council reviewer of the `<standOff>` changes in TS:

Note that this statement has been around since at least P2.

The entire (current) paragraph is reproduced here just to make it easier to find and discuss:
[code]

[2020-01-29 15:55] sydb commented on #1964
The problem with `quotation/@form` and `teiHeader/@type` is they do not actually have a `<desc type="deprecationInfo">`. (That’s because those deprecations happened before we invented "deprecationInfo".) And I don’t see a current deprecation of `shift/@new`.

We could certainly use one of them as the basis for an example, but that runs the risk of running afoul of @lb42’s useful distinction that e

[2020-01-29 16:09] lb42 commented on #1965
I would suggest simply deleting the sentence beginning "Deviation..."

[2020-01-29 16:54] sydb opened #1966 "Inconsistency in character representation"
We are inconsistent about how we refer to non-printed characters. I have not delved deep enough yet to know if the difference is appropriate or inappropriate.

We refer to non-printed characters using entity reference notation a dozen times,[1] and using Unicode notation 21 times.[2]

-----
### [1]
[code]
### [2]
[code]

[2020-01-29 17:13] PFSchaffner commented on #1966
1. I suppose technically the entity invokes the character, the U+ notation references the code point, which might be significant in some contexts, e.g. one in which you are specifying how to represent a character (entity) and one in which you are discussing the fine distinction between different code points (U+).
2. Assuming that once one has applied the test in (1), inconsistency remains...Does s

[2020-01-29 22:42] sydb opened #2368 "ref= attribute of <title> element being ignored"
The _Guidelines_ both support and in a few cases use an `@ref` on `<title>` to point to a bibliographic citation. But the Stylesheets just ignore it.

[2020-01-30 02:00] sydb commented on #1964
Well, not surprisingly (since `deprecationInfo` is so new) I only found two. The aforementioned `<empty/>` one and this:
[code]

[2020-01-30 02:02] ebeshero commented on #1964
@sydb That's an improvement--quite clear and neither divisive nor baffling! Maybe it will do for this example?

[2020-01-30 02:07] sydb commented on #1964
I don’t really like it much, but I like it a **lot** better than what we have now. :-) And you’re right, it’s clear and not scary. So unless someone comes up with something better soon, I think we go for it. Thanks @lb42 and @ebeshero !
@raffazizzi has not assigned this ticket to anyone yet, but if no one has done this by this Sat 01 Feb, I will assign it to myself and just do it.

[2020-01-30 02:10] ebeshero commented on #1964
@sydb It's easier than the ticket I'm staring at, so I might just do this one instead this evening. . .

[2020-01-30 02:31] ebeshero commented on #1769
All--I am now not at all sure of what we should on this ticket before this next release. I see two options:
1)  We proceed with the new code in [my pull request](https://github.com/TEIC/TEI/pull/1958), and add to it some gentle Schematron warnings, mapping from previous values as @martindholmes suggested, and perhaps also checking for some standard sorts of things we expect in xsd:anyURI. The more

[2020-01-30 02:48] ebeshero commented on #1769
Modifying my previous post to include a third option.

[2020-01-30 05:02] ebeshero commented on #1769
Schematron rules I've been testing to make sure a value complies with xsd:anyURI: These three rules seem to work on some simple test code when I make simple XML examples with `@where` attributes that contain `:`, `%`, and/or `#` in various combinations that break the rules of xsd:anyURI:

[code]

[2020-01-30 07:24] ebeshero commented on #1769
Revised / simplified the Schematron so it works on multiple attribute values of `@where` separated by white space.

[2020-01-30 17:02] ebeshero commented on #1964
I'm working on this one right now...

[2020-01-30 18:39] ebeshero commented on #1964
@sydb I've updated the example--if it looks okay, let's close this.

[2020-01-30 20:09] raffazizzi commented on #1813
@lb42 Here's a reminder to please have a look at this again.

[2020-01-30 20:21] raffazizzi commented on #1713
NB, unlike `valItem` where `@ident` is required, I've made it optional in order not to break all existing occurernces of `<remarks>`

[2020-01-30 20:24] raffazizzi commented on #1584
@Conal-Tuohy it is now served as `text/xml`. Does this solve the issue?
CURL output:
[code]

[2020-01-30 20:35] #1758 closed

[2020-01-30 23:12] #1964 closed

[2020-01-30 23:37] Conal-Tuohy commented on #1584
To be honest I have forgotten the actual problem I was having, so I can't be absolutely sure if this would fix it. But "text/xml" certainly _should_ be OK.

[2020-01-30 23:37] #1584 closed

[2020-01-30 23:47] lb42 commented on #1813
Thanks for the reminder Raff and apologies for letting this drop off my desk.  I'll work on it as soon as possible but it's unlikely to be ready for the next release. There are a lot of examples and their formatting is all messed up, quite apart from the content.

[2020-01-31 17:18] lb42 commented on #1813
Looking at this again, I think it's not a very useful document as it stands. The Guidelines chapters TD and USE have been extensively revised and expanded since it was written and now contain much more reliable guidance than this in its present state.

In particular, there are three sections in this document which should (IMHO) be removed -- one describing how GIs can be renamed ; one describing h

[2020-01-31 18:18] sydb commented on #1963
Suggested wording (from Deb Anderson herself):

@raffazizzi: what about this needs discussion, do you think? (Seems pretty open-and-shut to me, but I may be biased or missing something.)

[2020-01-31 19:29] martindholmes opened #1967 "<linkGrp> needs <head> and <desc>"
The only components allowed in `<linkGrp>` right now are `<ptr>` and `<link>`, so there is no easy way to provide a heading or a description for a `<linkGrp>`, explaining what's being linked and why. You can do this of course by wrapping the `<linkGrp>` in a `<div>`, but with the new `<standOff>` element that's not possible, because `<div>` is not allowed in `<standoff>`. I think it makes sense to

[2020-01-31 19:47] lb42 commented on #1963
"for assistance" and "for help" seems a bit repetitious. I would suggest something such as:

"If the character is determined to be missing from the Unicode Standard, a formal proposal to include it can be submitted (see <ptr target="http://unicode.org/pending/proposals.html"/>). Agencies such as the UC Berkeley Script Encoding Initiative (http://linguistics.berkeley.edu/sei/) may be able to help i

[2020-02-01 22:29] MegJBrown commented on #1965
Deleting the sentence beginning 'Deviation' as Lou suggests makes sense to me. How much discussion is needed?

[2020-02-01 23:46] sydb commented on #1769
@ebeshero: My point was that if we find a `@where` whose value starts with a string that matches a prefix defined in a `<prefixDef>`, it is a pretty safe bet that it was intentional, and that said value is a URI, we don’t have to give a “you should use a URI” warning. Same goes if the value has a ‘#’ — it is probably really a URI, and we need not issue a warning. But if the value
a) does not start

[2020-02-01 23:47] sydb commented on #1769
If I understand it correctly, I think I lean towards @ebeshero’s option (3).

[2020-02-01 23:51] sydb commented on #1769
@ebeshero: The Schematron heuristics you posted seem to favor detailed assistance to the user over simplicity. Why not just `<sch:assert test="every $value in $values castable as xsd:anyURI">One or more of the whitespace-separated values of @where is not a URI</>`? Surely most modern users know how to use URIs.

[2020-02-01 23:59] sydb commented on #1965
I think @lb42’s suggestion is just fine. Might prefer “Any deviation from these assumptions should be made explicit either in the encoding itself or in the TEI header.” or some such.

But, @MegJBrown, another year or two of discussion is probably in order. :-)

Seriously, with something small and straightforward like this, I would just post your plan here, and then give it a couple of days so anyo

[2020-02-02 00:16] ebeshero commented on #1965
Agreed, especially since there's actual misinformation to remove here. It would be a good ticket to resolve for the upcoming release.

[2020-02-02 00:17] ebeshero commented on #1965
If you don't get to it before the release, just remove the tidy milestone I just added...

[2020-02-02 00:36] ebeshero commented on #1769
@sydb Are you saying I have gone and done too much to fend off possible values that wouldn’t conform to XSD:anyURI? This is meant really for anyone who is following the old way and didn’t realize their data format might be incompatible...

[2020-02-02 00:37] ebeshero commented on #1769
...and as you yourself pointed out, URIs are a little surprising in what they don’t permit.

[2020-02-02 00:57] sydb commented on #1769
True, but what I find really worrisome are not the values that are invalid as URIs (e.g., `"down%left"`, which both your Schematron and the simple `castable as xs:anyURI` will catch), but rather the values that remain valid, but no longer mean what the user thinks they mean. (E.g., `"down-left"`, which would no longer mean “look up the value `down-left` in the ODD file and there padawan you will l

[2020-02-02 01:23] ebeshero commented on #1769
@sydb It doesn't *entirely* make sense to me, because the definition of teidata.enumerated simply *is* teidata.word, with an added note:
"Attributes using this datatype must contain a single ‘word’ which contains only letters, digits, punctuation characters, or symbols: thus it cannot include whitespace.Typically, the list of documented possibilities will be provided (or exemplified) by a value li

[2020-02-02 01:30] ebeshero commented on #1769
@sydb Okay--the not-so-crazy idea is that teidata.enumerated isn't really all that much different from teidata.pointer, and we now have either my elaborate Schematron test or your simple one to watch for problematic values. Do we actually need a deprecation at all, or just a gentle Schematron prod? We're not removing the attribute, just altering it a very little.

[2020-02-02 01:36] ebeshero commented on #1769
@sydb Still thinking about this, there's a fuzziness to teidata.pointer (xsd:anyURI). It could be defined anywhere, including in the same file (as with most who point with just a simple `#value`). We're not really saying where this has to be defined, but also didn't stipulate with teidata.enumerated that it *had* to be defined only in the ODD file either. There are lots of ways of defining and poi

[2020-02-02 11:29] lb42 commented on #1769
FWIW, my recollection is that the purpose of introducing teidata.enumerated was precisely to say that the possible values for  this attribute should be defined by a valList, i.e. that they were not just any teidata.word, but should be taken from an explicit enumeration of such values. At no point was it intended that this should be (yet another) variant on teidata.pointer, else why have both? As S

[2020-02-02 15:35] ebeshero commented on #1769
@lb42 We are in an awkward space just now with this ticket due to this troubling shift in semantics, but the shift is motivated by attempting to define an attribute consistently.  Now we have a special use of `@where` on `<move>` as teidata.enumerated. But it is defined differently on `<event>` as teidata.pointer. Council made a decision on this to move the attribute to a new class and give it the

[2020-02-02 15:59] lb42 commented on #1769
@ebeshero I think I am (sort of) aware of how council got into this mess, but it's still a mess.  I now think the right solution is to adopt joey's original suggestion of introducing @whereRef, for the reasons given early on in this thread, chiefly for consistency with lots of other cases. And I apologise for mistakenly saying that  teidata.pointer  values formed a subset of teidata.word values, w

[2020-02-02 16:46] ebeshero commented on #1769
@lb42 But Council decided this and I don’t think we were wrong. I don’t at all agree with this assessment of what we are doing:  That is, we are not “changing the dataype of an existing attribute to suit a not entirely canonical usage of it”.  I don’t understand this to be what we are doing at all. We are simply redefining the conditions for canonical values of `@where` in the interests of consist

[2020-02-02 18:48] ebeshero commented on #1769
Okay, this probably indicates what we need to do with the documentation of the change. We want to encourage people to alter the use of this attribute so it is now to be a data pointer, for real, and not just conformant to the format of one. So it sounds like we should implement option 3, with deprecation notice and guidance on the significance of this change, and refrain from redefining `@where` i

[2020-02-02 22:34] lb42 commented on #1769
@ebeshero I beg to differ. @where is currently defined (on `<move>`) as teidata.enumerated because its intended use is to indicate an area of the stage. It is also defined (on `<event>`) as teidata.pointer because its intended usage there is more general. It is worrying perhaps that attributes with the same name should have different datatypes, but that's an argument for introducing a different na

[2020-02-02 22:36] ebeshero commented on #1769
@lb42 We would still have the problem that move/@where and event/@where are defined differently. That's a problem and a limitation in the current model.

[2020-02-02 22:40] lb42 commented on #1769
@ebeshero possibly, but the argument could go the other way: why are we not changing `event/@where` ? since `event` is a relatively new introduction  it risks breaking fewer documents

[2020-02-02 22:50] lb42 opened #1968 "dubious example for <said>"
The second example for `<said>` looks like this
[code]
Why is the clause "there was a gentleman waiting in the lobby" not marked as indirect speech?
How does it differ from "only Mrs. Casaubon was at home" in the next sentence?

[2020-02-02 22:54] martindholmes commented on #1769
I'm with @lb42 here; I think the correct analogy is with att.edition, where (IIRC) there was originally `@ed`, which was teidata.enumerated, then `@edRef` was introduced alongside it. Joey lists some other examples of the same thing. This is a common pattern in TEI, and I don't see why it wouldn't be used this time to avoid breaking backwards compatibility for anyone.

[2020-02-02 22:56] martindholmes commented on #1968
I think that's a corrigible error. Two examples in the same short text is a really good thing, especially since one has "that" and one doesn't.

[2020-02-02 23:02] ebeshero commented on #1769
Okay, all of you, this is completely baffling coming just before a release. But let's see if we can figure out what to do right now.

Do we want `@where` to be the *same* attribute on both `<event>` and `<move>`? Or do we want it to behave as it currently does, with two different datatypes on each attribute? How high a priority *is* it for Council to try to streamline these definitions and define

[2020-02-02 23:05] ebeshero commented on #1769
Even so, we could take *some* action right now that doesn't break anything, yes, but introducing `@whereRef` raises another question. What are we doing about `event/@where`, if anything at all? Do we even *want* a new attribute class? Or are reverting some old way where `@where` just has to have two different datatypes because that's a higher priority for us?

[2020-02-02 23:07] lb42 commented on #1769
Or shall I put in a ticket which says that `event/@where` is a mistake (because @where is already taken and has a different datatype) and should be renamed?

[2020-02-02 23:08] martindholmes commented on #1769
I think the `@where` on `<event>` is a red herring; it's intended to be a pointer to a `<place>` element. So even if you created att.locatable, you'd have to subclass it anyway. I think Joey's original suggestion of `@whereRef` alongside `@where`, by analogy with all the other similar pairs that already exist, is the right thing to do.

[2020-02-03 14:17] martinascholger commented on #1944
Done, thanks @joeytakeda

[2020-02-03 14:17] #1944 closed

[2020-02-03 16:34] sydb opened #1969 "inconsistent spelling of header"
@martinascholger says we are inconsistent in our use of “TEI Header” vs “TEI header”. A little bit of research says she’s right. Looking at 1b6e0b1, I find
[code]
in the content. (I.e., looking only at text() nodes.) If we remove the apostrophes and esses, that reduces to:
[code]
Document [TCW 20](http://teic.github.io/TCW/tcw20.html) does not mention how to spell this. But it does refer the reade

[2020-02-03 16:38] martinascholger commented on #1969
Here ist the style guide: http://teic.github.io/TCW/tcw24.html
and it says TEI header

[2020-02-03 17:05] sydb commented on #1969
Excellent, thanks!
Can you fix the pointer in TCW 20, and I’ll fix the other spellings?

[2020-02-03 17:19] martinascholger commented on #1968
Any objections?

[2020-02-03 17:36] martinascholger commented on #1969
fixed in TCW20: https://github.com/TEIC/Documentation/commit/c3511ed0ae62b024903763dc9af1eb4d523683ba

[2020-02-03 19:00] sydb commented on #1968
None here.

[2020-02-03 20:52] sydb commented on #1969
Mostly fixed in 55e9569. German speakers: I did not know what to do with

in model.teiHeaderPart.

[2020-02-03 23:13] martinascholger commented on #1969
In German it is "TEI-Header"

[2020-02-04 12:27] sydb commented on #1769
At the moment (a moment of weakness or clarity, I’m not sure which), I am inclined to:

1. create new att.locatable class (as @ebeshero has already)
1. give it _two_ attributes: `@where` (teidata.enumerated) and `@whereRef` (teidata.pointer)
1. make both `<move>` and `<event>` members of new class
1. do some sort of deprecation warning users that the values of `event/@where` should be enumerated —

[2020-02-04 17:45] ebeshero commented on #1769
Okay, having talked with @sydb , @martinascholger , and @raffazizzi about this during the Stylesheets meeting today, I think we have a good plan here, but we shouldn't act on it for this release because we had better have another discussion about it with the full Council. I've changed the release milestone for the moment (unless we decide at next Tuesday's Council meeting to try to implement at le

[2020-02-04 17:47] ebeshero commented on #1769
So the question is, is it best to take zero action on this until we've discussed with full Council? @martinascholger , let's put that on the agenda for next week's meeting.

[2020-02-06 02:48] sydb commented on #1847
`@minOccurs` and `@maxOccurs` now inherited by `<datatype>` from att.repeatable, and overridden for more precise wording of descriptions.

[2020-02-06 02:48] #1847 closed

[2020-02-06 11:34] lb42 commented on #1588
Working my way through this slowly, at last. First question though:

"Adding a new attribute to a class however can be a  clean modification only if the new attribute is labelled as belonging to some namespace  other than the TEI."

Attributes defined by the TEI are not in any namespace, of course, and the null namespace is up for colonisation by anyone (e.g. xml:). The reason for the quoted prohi

[2020-02-06 12:27] lb42 commented on #1588
Secondly (maybe a new ticket is needed) : I propose removing the section of renaming of TEI element names. It's unclear how this is supposed to work -- should they be in a new namespace or not? -- and I don't believe  we currently support this in any tools. It's in the same category as @equiv -- something we provide in tagdocs but don't fully specify how to use.

[2020-02-06 14:49] sydb commented on #1588
I presume (w/o re-reading entire ticket or thinking this through very carefully) that what was intended was “Adding a new attribute can be a clean modification only if the new attribute belongs to some namespace other than a TEI namespace or the null namespace.” or some such.

And why would such a rule be any less enforceable than any of the other rules about conformance?

[2020-02-06 15:01] sydb commented on #1786
What to do with this ticket? It is ¾ completed, and I am not qualified to address the last quarter.
Recommendation:

1. Remove Guidelines 3.7.0 label, or switch to 3.8.0
2. Council chair (@martinascholger) reaches out to a speaker of Taiwanese (suggestions: @acmuller, @mbingenheimer, or Christian Wittern)
3. Either it gets fixed or nuked for 3.8.0

[2020-02-06 17:39] lb42 commented on #1588
clean/unclean terminology retained, introduced TEI-All, removed all reference to renaming at 7f79765.

[2020-02-06 18:18] sydb commented on #1969
So the German description of model.teiHeaderPart should read “umfasst Elemente, die innerhalb von TEI-Header benutzt werden dürfen und mehrmals auftreten können.” then, eh? I will check that in now. Please let me know (or fix directly) if I have that wrong.

[2020-02-06 18:59] duncdrum commented on #1969
innerhalb ~~von~~ des TEI-Header

[2020-02-07 02:40] sydb commented on #1963
@lb42: I agree, the “for assistance … for help” is repetitious. That said, I prefer the tone of Deb’s wording: more, well, forceful. Since the Script Encoding Initiative exists for pretty much the sole purpose of helping folks get characters into Unicode, seems no need for the equivocating. So I’m inclined to go with

[2020-02-07 03:53] sydb commented on #1862
1. removed `<valList>` from model.contentPart
1. put `<valList>` directly into content model of `<content>` and `<alternate>` — but such that it cannot be in sequence with other stuff
1. (Did **not** put `<valList>` directly into content model of `<sequence>`.)

Tested locally, seemed fine. Thus closing in anticipation that Mr. Jenkins is happy.

[2020-02-07 03:53] #1862 closed

[2020-02-07 12:49] jamescummings commented on #1588
Re: Renaming TEI Elements.

I don't understand what you mean by us not supporting the renaming of elements (and attributes). Both Old Roma and Roma Beta do so. I certainly used it with for the tei_corset ODD for the data capture phase of the Stationers' Register Online project. c.f. https://github.com/jamescummings/conluvies/blob/master/tei_corset/tei_corset.odd#L731-L737 where I use altIdent to r

[2020-02-07 14:27] lb42 commented on #1588
Thanks James. I was thinking more of the systematic renaming of elements e,g, to some language other than English which we used to do in P3, but your use case is entirely persuasive. I will ponder further, and have re-opened this ticket accordingly. Would you be willing to see your ODD, or a simplified version of it, added to the list of exemplars?

[2020-02-07 14:40] sydb commented on #1588
@jamescummings beat me to it, but I agree: we rename several elements using the `<altIdent>` mechanism.

And FWIW, I prefer (by far) the old P3 meanings of “clean” and “unclean”. I don’t see that it is useful to have another word that means basically “proper subset”.

[2020-02-07 14:44] lb42 commented on #1588
Happy(ish) to make changes to current wording @sydb, but what exactly are you proposing?

[2020-02-07 14:59] lb42 commented on #1588
When processing teicorset, roma produces rather misleading HTML doc output (e.g. renamed elements in the examples are renamed, but deleted attributes are retained). But the schema seems ok (modulo use of namespaces)

[2020-02-07 15:04] axelberndt opened #1970 "interleave"
Hi, I know this has been discussed several times and in several contexts but it seems like the core problem was never really tackled. How can I get the functionality of RNG's `<interleave>` in TEI ODD? My specific case is as follows. In the content definition of an element I have some `<elementRef>`s and/or `<classRef>`s. Each element is allowed at a certain cardinality and in any order.

I tried

[2020-02-07 15:07] sydb commented on #1588
I’m not actually proposing a quick change to current wording, but rather a reasoned discussion over next few months about how “clean” and “unclean” should be defined and used.

[Here](https://bauman.zapto.org/~syd/temp/TEItmp/ad.odd), BTW, is a sample ODD that defines the markup language my daughter used for her thesis research data collection. Not even close to TEI conformant, and many major elem

[2020-02-07 15:10] sydb commented on #1970
This is Stylesheets issue [#241](https://github.com/TEIC/Stylesheets/issues/241).

You should post there saying “please make this a higher priority, I need it!”. (Or better yet, provide a fix! :-)

[2020-02-07 15:10] #1970 closed

[2020-02-07 15:16] martinascholger commented on #1968
closing with af0a44e

[2020-02-07 15:16] #1968 closed

[2020-02-07 15:19] axelberndt commented on #1970
Well, issue #241 is only about @preserveOrder. What about `<interleave>`?

[2020-02-07 15:56] lb42 commented on #1588
Thanks syd: i note that your ODD, unlike James', produces a schema which claims to be in the TEI namespace, though it clearly isn't. Using ODD to generate non-TEI schemas is just fine with me, the more the merrier. But telling fibs probably is not something to be encouraged :-)

[2020-02-07 16:05] martinascholger commented on #1969
@sydb I'll change this now

[2020-02-07 16:09] sydb commented on #1969
Unless there is an objection from another German speaker (@martinascholger, @peterstadler, @ martinmueller39, and @smjwsk jump to mind) I will plan to delete “von” in a few hours.

[2020-02-07 16:11] martinascholger commented on #1969
"innerhalb des TEI-Headers"

[2020-02-07 16:46] martinascholger commented on #1969
closing with 2c2d3ac

[2020-02-07 16:46] #1969 closed

[2020-02-07 16:54] lb42 commented on #1588
Restored the section on renaming, with some minor rewriting. I suggest that this ticket can be closed for now.

[2020-02-07 16:54] #1588 closed

[2020-02-07 17:16] sydb commented on #1969
Danke!

[2020-02-07 19:33] #1804 closed

[2020-02-07 23:48] sydb commented on #1588
@lb42: I presume you mean that it _shouldn’t_ be in the TEI namespace, because clearly it _is_.

But for the most part, I disagree. No fibs told here, at least not in the data portions, and only a few in the metadata portions. The metadata is, of course, completely un-TEI-like, and I agree the container (`<ijbMeta>`) should probably be in a different namespace. But many of the elements are just re

[2020-02-08 00:04] gimsieke commented on #1969
As a native speaker of German, I agree that genitive is “des Headers”. This is [what Duden says](https://www.duden.de/rechtschreibung/Header), too. Interstingly, Duden also says that the plural of the Germanized word “Header” is “die Headers”. I don’t think this English-style plural is how the German speakers who use “Header” would form the plural. It ought to be “die Header”, as in “der Koffer, d

[2020-02-08 14:40] #1965 closed

[2020-02-08 18:58] martinascholger commented on #1965
see commit bdcc320

[2020-02-09 16:12] martinascholger commented on #1673
@ebeshero I read through the documentation and think this is very clear - thanks for that! Last year I tested different oxygen versions. In 19.1. and 21.1. (I think I also tested it in 20.1) the first step (options > preferences) is not necessary; It also works when I install it from the help menu. Do you want to mention this in the documentation?

[2020-02-09 17:29] martinascholger commented on #1805
The content of the two `<desc>` elements (one has a type="deprectationInfo") in the deprecated specifications (`charProp`, `value`, `charName`, `glyph`) are issued consecutively without a space, starting with a lower case letter. See  https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/ref-charProp.html How did we handle this so far?

[2020-02-09 17:42] ebeshero commented on #1673
@martinascholger I was meaning to do that. I'm more immediately concerned though about where to put it so that we're sharing it. We might have talked about this at the last meeting (and I need to look it up), but I think we decided I should move it to the oXygen-TEI repo? And make this part of the ReadME there? I'd salso hope that we can send visitors to that with some announcements over the list,

[2020-02-10 02:27] sydb commented on #1805
I do not think this circumstance has ever occurred before. But it is a release blocker, as far as I’m concerned.
My first thought is that some part of the processing is looking for `tei:desc` when it should be looking for `tei:desc[not(@type eq 'deprecationInfo')]`.
I’m pretty busy on #1625 right now, but hope to look at this tomorrow.

[2020-02-10 02:46] sydb commented on #1967
I am strongly in favor of allowing model.headLike and model.descLike as (initial) children of `<linkGrp>`, `<altGrp>`, `<joinGrp>`, `<spanGrp>`, and `<interpGrp>`. (And I think @martindholmes’s other work-arounds are hacks that should be avoided.)

[2020-02-10 02:55] sydb commented on #1625
OK. I [said](#issuecomment-345405302) I was not going to do this in the RNG output, only the ISO Schematron output. However, on trying to reproduce the problem I found it does not seem to be a problem in the ISO Schematron output at all, only in the RNG output. I decided I would feel guilty closing the ticket without even looking to see if it could be fixed in the RNG reasonably easily.

So I have

[2020-02-10 03:12] ebeshero commented on #1708
@martinascholger Hoping this one is wrapped up and ready to go for the release...Shall we close it?

[2020-02-10 03:14] ebeshero commented on #1881
I think we'll have to defer this ticket to the next release. I'm resetting the milestone.

[2020-02-10 03:34] ebeshero commented on #1703
Oops--reset this back to the 3.7 release milestone on re-reading the tickets. I think this is ready to close, right @raffazizzi and @martinascholger ?

[2020-02-10 03:39] ebeshero commented on #1654
I'm not sure where we are with this ticket, as @raffazizzi just assigned me to it. I *think* this was actually resolved back in 2017, and perhaps I should just close it? @martinascholger and @raffazizzi , can you take a look?

[2020-02-10 03:41] ebeshero commented on #1654
Also, does it really take this release milestone, or wouldn't the change have been made back in a release of 2017?

[2020-02-10 04:21] ebeshero commented on #1825
Looks that memo about how to write good commit messages has been prominently added, so I think this ticket is ready to close, right @martinascholger ?

[2020-02-10 04:24] ebeshero commented on #1673
I have added the comment as @martinascholger advised with this commit: https://github.com/TEIC/Documentation/commit/71a49d2c7e6b1efd1ea579d276e1db9fdc0fc323, but I will also redo the document as a markdown Readme on the oXygen-TEI repo.

[2020-02-10 05:21] ebeshero commented on #1673
WIth [this commit to the oXygen-tei repo](https://github.com/TEIC/oxygen-tei/commit/be79a682c16146bb29ec89623dc6fc546c05af73), I've prepared [a markdown file with up-to-date steps on how to add the oXygen TEI plugin](https://github.com/TEIC/oxygen-tei/blob/master/oxygen-tei-plugin.md), and I've updated [the main README file](https://github.com/TEIC/oxygen-tei/blob/master/README.md) to point to it.

[2020-02-10 05:21] #1673 closed

[2020-02-10 11:14] lb42 commented on #1673
Good stuff, tho the last para is not up to your normally pellucid standard : I had to read "you could point to the plugin to oxygen-tei-stable or oxygen-tei-bleeding jobs" several times. And there will be readers for whom the threatened presence of dragons is merely bewildering.  Just saying!

[2020-02-10 13:19] ebeshero commented on #1673
Thanks @lb42 ! That last bit was copied over from the README pointing to the old tutorial. I shall send the dragons flying... :-)

[2020-02-10 13:33] ebeshero commented on #1673
I hope this is an improvement on that last paragraph: https://github.com/TEIC/oxygen-tei/commit/07e09d5616b4adf68b8d593a975d527943f3e156

[2020-02-10 13:58] martinascholger commented on #1654
@ebeshero maybe the reason why it is still open is that we wanted to add some documentation to TCW 20 on "where to put a specific note for an example"?

[2020-02-10 15:05] ebeshero commented on #1654
@martinascholger Thanks for that insight...I'll see if I can patch in something, following the discussion on the ticket later today so it's really wrapped up for this release...

[2020-02-10 21:57] lb42 opened #1971 "example has redundant equiv elements"
A couple of examples in USE have empty `<equiv/>` elements. I cannot for the life of me imagine what these are meant to mean, nor why they are present, since there is no discussion of them in the text. I deleted them from my local copy, but have not checked in the change yet since I assume there is a freeze going on.

[2020-02-11 02:02] ebeshero commented on #1971
Thanks @lb42 ! Indeed, there is a freeze just now, so thanks for waiting a bit.

[2020-02-11 02:48] ebeshero commented on #1654
Added guidance to TCW20 on how to refer to exempla and to avoid positional language in referring to exempla, following advice in this ticket with https://github.com/TEIC/Documentation/commit/88a67088d61b6e475dc7b4f6ccc6d22b925954bd

[2020-02-11 14:35] #1654 closed

[2020-02-11 14:38] sydb commented on #1825
Council agrees to close, but wonders if we shouldn’t also add information about branching.

[2020-02-11 14:38] #1825 closed

[2020-02-11 14:39] sydb commented on #1708
While there is still work to be done on the wonderful _Gentle Introduction_, Council feels this ticket can be closed.

[2020-02-11 14:39] #1708 closed

[2020-02-11 19:17] martinascholger commented on #1830
This has been merged, so I'm closing this.

[2020-02-11 19:17] #1830 closed

[2020-02-11 21:52] ebeshero commented on #1625
Okay...I'm going to attempt to test this right now as we're prepping for the release just to make sure all is well...

[2020-02-11 22:13] ebeshero commented on #1625
@sydb @martinascholger Okay, I've tested this on an ODD file and can verify that Syd's fix works as advertised (that is, when I have a constraintSpec with one sch:pattern that contains multiple sch:rule elements inside, that I see in the output Relax NG just one sch:pattern and multiple rules inside. Also those rules are working for me. I'm testing on one of my students' projects that had an ODD w

[2020-02-11 22:29] ebeshero commented on #1625
Wait a second...reopening to make sure I've tested using the bleeding edge of the plugin...

[2020-02-11 22:42] ebeshero commented on #1625
Okay: @sydb Let me know if this is what we should expect:
I made sure I tested with the bleeding-edge plugin and all was well, so long as I use my own `<sch:pattern>` inside `<constraint>` in the ODD. Here's the code I'm using for the test (from a student project to prepare a TEI script of the anime *Akira*):

[code]
This produces  the following code in the Relax NG schema output compiled with the

[2020-02-11 22:52] ebeshero commented on #1625
I had one more constraintSpec to test in the Akira ODD that's maybe a little more conventional, as it didn't rely on a `<sch:let>` definition of a variable. That one had no `<sch:pattern>` and just looked like this in the ODD. I think it matches the issue raised in this ticket b/c it has a couple of rules inside:

[code]

And it comes out like this in the bleeding-edge compilation of RNG:

[code]

[2020-02-11 22:56] ebeshero commented on #1625
@sydb So, tldr: the only issue I see is that if you need to define a variable with `<sch:let>` in a `<constraint>`, you need to use `<sch:pattern>` as a child of `<constraint>` for the ODD to properly associate it with the rules that use the variable. Is that an issue? Or are we okay? (I apparently already knew to use `<sch:pattern>` in helping my students with this ODD, so I'm imagining this is n

[2020-02-11 22:58] sydb commented on #1625
Well, it might be expected, but it isn’t good or right.

The main test we want is does your ODD file produce proper Schematron in the RELAX NG if you make no changes? Mainly testing for “did something else get messed up by this fix?” E.g., if that `<sch:let>` was working before and is getting dropped now _with no changes to your ODD_, then that’s a problem.

The secondary test (less important, bec

[2020-02-11 23:01] ebeshero commented on #1625
@sydb I can verify that yes, indeed, my ODD is testing those very conditions (two  constraints containing two rules each respectively), and I see just two patterns in the RNG as compiled.

In my special case with a `<sch:let>` that needed to be referenced by two rules, I had a `<sch:pattern>` already wrapping around it, so I suspect it didn't work before and I figured out how to get it to work. Be

[2020-02-11 23:07] ebeshero commented on #1625
@sydb Right: here's what happens: ODD code has a `<sch:let>` defined as a sibling of two rules. There is also another `<sch:let>` as a child of an `<sch:rule>`. The output RNG missed the "higher" `<sch:let>` that's the sibling of the rules, and only processes the `<sch:let>` child of a rule. Does that make sense?

ODD Source:
[code]

RNG output loses the "upper" `<sch:let>` but *does* properly put

[2020-02-11 23:12] ebeshero commented on #1625
@sydb So what's good is that my student ODD had all of the test cases you envisioned in it, plus one more slightly annoying one... :-)

[2020-02-11 23:15] sydb commented on #1625
I have scanned your recent posts, and if I got it right, yes, your ODD tested what was important, and it seems to be working now. There is the other problem that an `<sch:let>` that is not inside an `<sch:pattern>` is sometimes lost, but that is not what I was fixing in this ticket. (It is one of the reasons I tell people not to use the Schematron in the RELAX NG, but rather the Schematron created

[2020-02-11 23:17] ebeshero commented on #1625
So, it seems like we're okay, and we can close this ticket, right?

[2020-02-11 23:21] ebeshero commented on #1625
(We can always open a new ticket for weirdos like me who use `<sch:let>` in strange ways...) ;-)

[2020-02-11 23:34] ebeshero commented on #1625
(Closing b/c I'm being a release tech now, and we do know that this particular fix is working as @sydb expects and we need to get ready for the release.)

[2020-02-11 23:34] #1625 closed

[2020-02-12 14:12] bansp opened #1973 "add class att.normalized for att.lexicographic and att.linguistic to include"
This ticket accompanies pull request #1972 and it is not so much a feature request as a request for implementing a feature already [accepted by the Council](https://github.com/TEIC/TEI/issues/1776#issuecomment-490110136) (see ticket #1776).

To wit, the Council has agreed to add &lt;w> to att.lexicograpic, in order to enable the `@norm` and `@orig` attributes for that element.

The present suggest

[2020-02-12 16:28] bansp commented on #1666
I would like to retire this ticket. When I posted it, I was not aware that the Council does not wish to overload attributes (possibly, the Council wasn't aware of that either, back then :-)).
I don't think closing this is going to affect the proposal made by @joeytakeda , because as far as I can see, he uses the "proper" (or simply: established) datatype for `@to` and `@from`, namely tei.pointer.

[2020-02-12 16:28] #1666 closed

[2020-02-12 18:03] sydb commented on #1625
@ebeshero: I want to take issue with [your closing](#issuecomment-584915819) this. Not that you should not have closed it — absolutely no reason you should not have closed it. But it has _nothing_ to do with your being a release tech for the upcoming release. Release techs (IMHO) have no more or less authority nor any more or less incentive to close issues.

[2020-02-12 18:47] ebeshero commented on #1625
Fair enough @sydb . And sorry. I do have problems with justifying closure, but was also concerned to move this along.

[2020-02-13 10:37] peterstadler commented on #374
A wrapper `<standOff>`  element has been created in 565fc72caec15d3569e496b5e71fb05ca772b158 and will be available in the upcoming release 3.7.0.

There is probably more to be fleshed out concerning the content of `<standOff>` but this qualifies dedicated tickets, so closing this one here.

[2020-02-13 10:37] #374 closed

[2020-02-13 13:32] hcayless commented on #1769
In Council on 2020-02-11 we discussed the possibility of solving this by creating a new datatype that would essentially be an alternation of teidata.enumerated or teidata.pointer. This seemed initially to me to be a hack, but, as I expressed then, the stakes are *really* low here, so I didn't care.

Upon further reflection though, it seems to me that this is actually a useful thing: a datatype tha

[2020-02-13 19:29] ebeshero opened #1975 "Guidelines release process: issue with tei-install.sh"
The makecurrent() function of tei-install.sh makes a symlink for "current" that is a full path. It should be a relative path. This could perhaps be done with something like:

[code]
Thank you, @sydb, for helping us figure this out!

[2020-02-13 19:43] #1975 closed

[2020-02-14 01:29] bansp opened #1976 "(request-slash-question) how can I accommodate groups of <seg> and <w>+<pc> under standOff?"
(I promise to change the title and re-edit whatever I can -- or just kill this issue -- once it becomes clear whether this is a feature request or just a question that doesn't belong here)

I would like to try using &lt;standOff> for linguistic purposes. The core application of standoff annotation in corpus modelling is not to disrupt the original (base) text, but rather to build an annotation hie

[2020-02-14 02:59] sydb commented on #1976
@bansp: can you post a short sample encoding of something you’d like to do, invalid though it may be?

[2020-02-14 03:22] bansp commented on #1976
Hi @sydb , sure, after I'm back from vacation. But I was kind of hoping to be explicit enough even without a literal example -- have I failed again? ;-/
Crucially, I realise that I can use one &lt;seg> to nest a sequence of &lt;seg>s, but, under the modelling requirements, I would consider that a kludge (the outer &lt;seg> need not be a segment, and no such modelling claim is made). I also realise

[2020-02-14 05:43] laurentromary commented on #1976
Looking back at the minutes from the decisional meeting we had in Graz: https://tei-c.org/activities/council/meetings/tei-technical-council-f2f-graz-2019-09-14-16/ the implementation, is not complete yet and there should be `<listAnnotation>` as decided there (plus `<annotation>` to be finalized, but one can be done without the other). I would suggest not to try to have yet another naming discussi

[2020-02-14 11:51] bansp commented on #1976
Ah, I should have dug up those minutes and checked, thank you, @laurentromary !
I guess the best course of action would be to close this one and open another one for `<listAnnotation>` and friends, then.
Closing. It's going to take a while before I open the other one, though.

[2020-02-14 11:51] #1976 closed

[2020-02-14 12:04] laurentromary opened #1977 "Finalize the content model of standOff"
We are not completely finished with  `<standOff>`: following the decisions taken at the September 2019 meeting in Graz (see minutes: https://tei-c.org/activities/council/meetings/tei-technical-council-f2f-graz-2019-09-14-16/) we need to have at least `<listAnnotation>` (typed, recursive, child of standOff, with `<annotationBlock>` and `<annotation>` as children) and `<annotation>` (typed, child of

[2020-02-14 12:56] ebeshero commented on #1977
See conversation at https://github.com/TEIC/TEI/issues/1976#event-3038465938

[2020-02-14 14:39] hcayless opened #1978 "Documentation"
3 years or so ago, because the TCWs were published on the TEI website, and updating that was horrible, and further, because they needed work that was out-of-cycle with TEI releases, I moved them out of the TEI/Documents/TCW directory into its own repo and set up a GitHub Pages. Subsequent to that, stuff about Pure Odd from TEI/Documents was added to the GP site. As I noted in an email to Council:

[2020-02-14 16:03] sydb commented on #1977
You are (of course) completely correct, @laurentromary. `<listAnnotation>` along with `<extraTextual>` (or whatever it ends up being called) are slated for next release.

[2020-02-14 17:12] duncdrum commented on #1805
first off 🎉

note to self about `<glyph>` deprecation. @sydb raised the question of adding `<char>` to `att.typed` my question however remains if that is still necessary since <g/>` already is a member.  Basically if editors want to highlight the distinction between character and glyph variants, they should do so in the main text, thus being able to make do with a single definition which in one co

[2020-02-16 21:46] sydb commented on #1971
There was a time, @lb42, when _every_ `<*Spec>` in the _Guidelines_ had an empty `<equiv>`, wasn’t there? I bet these examples are from that era.

You should feel free to check in your improvements (to dev), BTW.

[2020-02-17 14:00] ebeshero commented on #1978
A question related to this discussion is about the content of some TCWs, and whether it might belong in a more prominent place when it affects more than just the community of Council members and people involved in editing Guidelines. For example, ["How to Update your ODD"](https://teic.github.io/TCW/purifyDoc.html) should probably be in a better location--perhaps the Guidelines(?)--to speak to the

[2020-02-26 16:58] sydb opened #1979 "content of `<transpose>` should be purer"
Strikes me that the content model of `<transpose>` should be
[code]
rather than the current model, obviously a direct cognate to RELAX NG:
[code]
Planning to assign to Nicholas Cole as soon as we get his GitHub account straightened out.

[2020-02-29 14:57] npcole commented on #1979
Address with commit c2a526d02

[2020-02-29 19:46] sydb commented on #1979
Closing, as @npcole has successfully implemented this in the _Guidelines_. However, in so doing he found it is not processed correctly. Thus see [Stylesheets issue 425](https://github.com/TEIC/Stylesheets/issues/425).

[2020-02-29 19:46] #1979 closed

[2020-03-01 18:41] TomazErjavec opened #1980 "Wrong org definition reference to the guidelines"
In the element defintions text for org (https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-org.html) the reference to the guidelines is to "[13.2.2 Organizational Names]". This is wrong, as there orgName is defined, not org. Rather, it should be to "[13.3.3 Organizational Data]" i.e. https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ND.html#ND-org.

[2020-03-02 21:51] bansp commented on #1776
I have submitted ticket #1973 that essentially does what I described in [a comment above](https://github.com/TEIC/TEI/issues/1776#issuecomment-420015612): introduces a separate attribute class to hold the two attributes in check, with a warning against abuse that the Council decided to add (see Elisa's comment immediately above). The ticket is accompanied by bits of documentation and it would be g

[2020-03-02 22:23] duncdrum commented on #1776
If there is interest I d be happy to contribute a CJK example that avoids the use of `<g>` inside an attribute value.

[2020-03-02 23:05] bansp commented on #1776
I think that such an example would definitely have general value also outside of this narrowly scoped discussion.

[2020-03-08 15:40] sydb opened #1981 "att.declaring and att.declarable need constraints and better explanation"
Some of these issues are trivial; some may require tickets of their own.

1. Typo in 15.3, “Associating Contextual Information with a Text” (`#CCAH`) — disagreement in number: “The TEI scheme allow for the following …”.
1. I think the following bullet point should have articles, i.e. “There may be multiple occurrences of certain elements in either **the** corpus or **a** text header”.
1. Similarly

[2020-03-08 18:53] sydb commented on #1980
Waiting for Mr. Jenkins to approve before closing.

[2020-03-10 14:42] hcayless commented on #1978
Decisions to be taken:

- Where should the documentation live?
- How do we want to format it? Still TEI? Markdown? Wiki?
- Where and how do we want to publish it?
- What other document should we pull in?

[2020-03-10 14:45] martindholmes commented on #1978
For 2 and 3, would TEI + CETEICEAN work? It would be nice to eat our own dogfood.

[2020-03-10 14:51] hcayless commented on #1978
@martindholmes That's already how it works :-)

[2020-03-10 15:03] sydb commented on #1921
I agree completely w/ @jamescummings except that I would add `<back>` to the list of elements of which `<schemaSpec>` can be a child. (I know, e.g., that @martindholmes usually writes his ODD files with all the prose in `<body>` and the `<schemaSpec>` in `<back>`, and I think there is a lot to be said for that approach.)

[2020-03-10 15:06] sydb commented on #1869
And, just decided at today’s F2F, the new attribute should be **required** on `<schemaSpec>`.

[2020-03-10 15:16] lb42 commented on #1978
And a good thing too. I would be depressed to see TEI documentation being authored in Markdown.

[2020-03-10 21:53] sydb commented on #1977
Correction: `<listAnnotation>` is what is slated for the next release, and I fully hope we can get `<annotation>` in, too. It would be optimistic to think `<extraTextual>` will be ready that soon, but it is not at all out of the question.

[2020-03-10 22:05] sydb commented on #1977
Speaking of `<listAnnotation>`, what should the content model be? Council is leaning towards a content model that boils down to either
[code]
or, equivalently to the end user,
[code]

[2020-03-11 05:30] laurentromary commented on #1977
I tend to prefer the second version (only class-based). I would also see listAnnotation as member of att.typed (e.g. to implement the notion of "tier", i.e. an annotation layer (cf. ELAN, etc.)) and att.notated (to elicit that a specific annotation framework or vocabulary is being used, e.g. a tags in POS annotation).

[2020-03-11 13:20] sydb commented on #1977
Yes, `<listAnnotation>` (as I envision it) is a member of att.typed and att.notated, as well as a few others to which we can add model.annotationLike. (Unless there are objections :-)
[code]

[2020-03-11 18:02] jamescummings opened #1982 "Example marked as 'feasibly' valid should just be valid."
The example at
https://github.com/TEIC/TEI/blob/dev/P5/Source/Guidelines/en/DS-DefaultTextStructure.xml#L445-L455
showing the use of `<div>` is marked as valid="feasible" whereas the one which follows has no such attribute. The effect of this is that in the HTML rendering of the guidelines the example is rendered in yellow whereas the one which follows is shown in green. If one of these is valid t

[2020-03-11 19:40] #1982 closed

[2020-03-14 16:03] #1980 closed

[2020-03-17 09:54] sydb commented on #1977
So, here is something I missed when I wrote my previous comment. (And thank goodness for automated validation during the build process!)

`<listAnnotation>` cannot be a member of both model.listLike and model.annotationLike because both are themselves members of model.standOffPart. Thus if an element were a member of both model classes, non-deterministic content models would result.

My proposed f

[2020-03-17 09:56] laurentromary commented on #1977
No clear and spontaneous objection to this!

[2020-03-23 04:44] martindholmes commented on #1941
I've pushed an experimental fix for the Deprecation appendix to confirm that simplifying the structure solves the problem. If it does, I'll propagate the fix to the rest of the affected appendices.

[2020-03-23 13:43] martindholmes commented on #1941
OK, this seems to have revealed what the actual problem is. With the Deprecations page format switched to a simple structure, it works correctly, but now all the other + expanders fail to work for some reason. @pdurusau can you confirm that you see the same thing?

This looks like the sort of silliness that might arise out of using JQuery instead of proper JavaScript...

[2020-03-25 13:44] sydb commented on #1957
I agree completely, @hcayless, that it is the implementer’s responsibility. But as one of those implementers, I’d just as soon have fewer places to worry about. And yes, if we do this, we definitely need a health warning. (Perhaps the warning in [teidata.xpath](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-teidata.xpath.html) is sufficient, but perhaps not.)
But no, it is not the same l

[2020-03-25 14:58] martindholmes commented on #1957
@sydb Let's look at this from the point of view of a malicious hacker. What exactly would I have to do to take advantage of this?

I presume it would go something like this:

1. Notice that TAPAS has an XSLT or XQuery module that's evaluating XPath in an attribute like this without sanitizing it (because how could you)?
2. Notice that anyone can upload TEI documents into TAPAS and get them present

[2020-03-25 16:16] hcayless commented on #1957
Two things here: the first is that attacks of the sort I imagine @sydb fears are already perfectly possible. Anything that uses teidata.xpath is potentially vulnerable. This proposal does not make those attacks especially more likely in itself–it's especially no more a vulnerability than [model/@predicate](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-model.html), e.g.

Second, if you'r

[2020-03-27 14:29] martindholmes commented on #1941
I've reverted that previous change, since it breaks things. I think using JavaScript for this sort of thing is pointless nowadays, so I'm going to raise a different ticket suggesting that we migrate to using HTML5 summary/details structures instead.

[2020-03-27 14:29] #1941 closed

[2020-03-27 14:34] martindholmes opened #1984 "Guidelines TOC page should use HTML5 summary/details elements instead of JS"
This arises out of issue #1941.

The way the little expando-icon things (the plus icons beside headings that expand to show sub-items) are handled in the Guidelines TOC page relies on JQuery. Need I say more.

HTML5 has a perfectly functional element-based solution to this that doesn't involve JavaScript at all, using the `<summary>` and `<details>` elements (https://developer.mozilla.org/en-US/do

[2020-03-27 14:40] martindholmes opened #1985 "Need to get rid of urchin tracker in Guidelines site"
The Guidelines home page contains this:

`<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>`

which has been failing for ages because it's http instead of https, so any browser that is even bothering to try to load it (ad blockers block it anyway) will refuse:

[code]

Since it hasn't been working for ages, we obviously don't need it, so let's get rid of it.

[2020-03-27 15:10] martindholmes commented on #1540
I've replaced the old tei_minimal.odd file with @jamescummings's proposed new one; I'll deal with the inevitable fallout from that, and then we'll try to address the appearance of the word "minimal" in other exemplars.

[2020-03-27 15:42] martindholmes commented on #1540
With @sydb, we intend to do the following later today if there's time:

In the oxygen-tei plugin repo, rename the "templates/Minimal with XXX" files to "TEI with XXX", to get rid of the misleading word "Minimal" in those templates. They're not minimal in that (for example) the Math one includes figures. If anyone objects, let us know.

[2020-03-27 21:15] martindholmes commented on #1540
With @sydb figured out that the old templates were hanging around in the plugin because the clean task was not deleting them. Fixed in commit #fa5bf1b. If all is well with bleeding-edge plugin, this ticket can be closed.

[2020-03-31 15:28] martindholmes commented on #1540
I think we're done here. There is one more "Minimal with XInclude" still in the exemplars, but I presume that's because people wanted to keep that one.

[2020-03-31 15:28] #1540 closed

[2020-03-31 15:30] martindholmes commented on #470
Closing this; I don't think there's anything to be acted on here.

[2020-03-31 15:30] #470 closed

[2020-03-31 15:45] martindholmes commented on #377
I believe this ticket to be moribund. Council never decided to deprecate biblScope as a child of imprint, and therefore what is currently produced by Zotero is perfectly valid, and I see no reason to upset the Zotero/TEI community by suddenly changing the results of their export process to create something different from what they're used to getting. If Council does decide to deprecate biblScope a

[2020-03-31 15:45] #377 closed

[2020-03-31 15:47] martindholmes commented on #367
@sydb Ping on this dormant ticket! If we're not going ahead with it, should we just close it?

[2020-04-06 14:38] schassan opened #1986 "add altIdentifier to att.datable"
`<altIdentifier>` carries information about other identifications, especially valuable if these are former shelfmarks. Now, these former shelfmarks may have been in use for a certain, known time. Thus it would be good to have a possibility to store this information in TEI.

I would like to propose to add `<altIdentifier>` to att.datable.

`<idno>` as the most probable and common child of `<altIden

[2020-04-06 15:57] sydb commented on #1986
Sounds quite reasonable to me. But would this mean that `<msIdentifier>` need also be a member of att.datable?

[2020-04-06 17:44] jamescummings commented on #1986
While it makes sense on altIdentifier to be able to say from - to or notBefore/After. What does that mean on a mandatory element like msIdentifier?

Not against it, just want to make sure we're clear on the semantics if extending this FR.

[2020-04-09 13:59] schassan commented on #1986
I wouldn't have asked for it as <msIdentifier> most of all carries the information about the status-quo.

And, apart from that I consider two scenarios:
- The object has been in the same place from the beginning and not changed its name or way of identification. Then any information about dating would be the same as given in <origDate>.
- The object actually has changed its place, owner, identific

[2020-04-09 14:22] martindholmes commented on #1986
@schassan @sydb Since time moves on, and whatever is msIdentifier at the time of creating the file will not eventually be the msIdentifier, I think it makes sense to allow for:

[code]

[2020-04-09 14:29] schassan commented on #1911
If you were about to assign a new attribute to <material> why not use @usage for this? Isn't that what is meant: The parchment is used as cover?! (OK, could be @usedAs as well?!)

@usage is defined already in two very different contexts with different kinds of values right now. If you consider something like this for @role, I think @usage would be semantically clearer.

What would example values o

[2020-04-12 15:26] chiarcos commented on #1745
As this discussion is motivated via Web Annotation and it seems the discussion will converge to yet another TEI insular solution: What is the objective for not following W3C recommendations regarding embedding Web Annotation in markup languages? See https://www.w3.org/TR/annotation-html/.
Two of the three approaches it describes can readily be applied to TEI, i.e., using RDFa (natural solution for

[2020-04-15 14:08] raffazizzi opened #1987 "Remove unnecessary comments from ODD customization exemplars"
For example https://github.com/TEIC/TEI/blob/dev/P5/Exemplars/tei_all.odd has `` attributes next to the main modules in the TEI. However, one can still choose to get rid of those and using Roma (beta), those pesky comments linger around (see https://github.com/TEIC/romajs/issues/95).

Why don't we get rid of them and perhaps similar ones in other exemplar customization ODDs? Don't think they're ve

[2020-04-15 14:43] martindholmes commented on #1987
Those modules are required AFAIK if you're intending to generate a customization that's TEI-compliant. It took me a little while to remember those four, and I remember starting my own customizations from tei_all and taking note of those comments, so I have actually found them useful.

[2020-04-15 14:55] lb42 commented on #1987
Strictly speaking, it's not the modules which are required for conformance but certain elements (e.g. teiHeader, fileDesc)  they provide.  How about providing more details for these comments (e.g. "This module is required because it provides elements teiHeader and fileDesc and several others required for TEI Conformance") . As they stand I agree they are a bit mystifying.

[2020-04-15 14:57] martindholmes commented on #1987
@lb42 good point. I do like the idea of improving the comments rather than deleting them. So many people start their projects with tei_all, and when they eventually get around to trimming their schema, if they do it through an ODD file (which I hope many do), this kind of documentation will be useful.

[2020-04-15 14:59] sydb commented on #1987
When I put them in, those modules were actually required, because it was before we had `@include` and `@except`, let alone `<elementRef>`. Nowadays, as @lb42 points out, they are not actually required, only certain elements are. But I do think they are (mildly) useful, so I like Lou’s idea of expanding them.
Perhaps “includes required elements <teiHeader>, <fileDesc>, …” or some such.

[2020-04-15 15:00] jamescummings commented on #1987
'required' means a lot of different things to other people. It just seems weird to me to have a moduleRef like:

[code]
interspersed amongst other modules. Indeed, does the comment apply to the header or linking? (Obviously, we know which.... but that highlights it is not clear.)

I would be more useful to have a single comment at the beginning of the schemaSpec saying something like:
[code]

[2020-04-15 23:47] bansp commented on #1973
The pull request has been significantly cleaned up, to aid in the review process (or at least to not obstruct it so much). Thanks, @sydb for the review assignments there, it's comforting to see that it hasn't escaped attention :-)

[2020-04-16 18:03] bansp commented on #1955
This should be extremely interesting for the CLARIN community, given the overall interest in CMC nowadays. Is there a chance for a customization of CMC TEI to be served from Roma as one of the presets, perhaps?

[2020-04-17 16:26] martindholmes opened #1988 "Schematron constraint for ab is too crude"
Line 52 of ab.xml has this Schematron constraint:

[code]

However, the content models for `<lg>` and `<l>` both allow a child `<figure>`, and `<figure>` quite reasonably allows child `<ab>` and child `<p>`. So I think the constraint might be modified to allow for this:

[code]

There is a similar but already slightly-qualified constraint in p.xml that would also have to be modified.

[2020-04-18 10:06] lb42 commented on #1988
But should `<l>` be allowed to contain `<figure>` ? I am finding it hard to imagine a real life case where this would make sense

[2020-04-18 11:06] jamescummings commented on #1988
@lb42 I was going to say "what about a poem constructed from images?" But then predict you'd say "Those are graphics not figures."  And I'd  say "Oh, yeah." So thought I'd shortcut the conversation in case anyone else was going to suggest that. ;-)

[2020-04-18 11:20] lb42 commented on #1988
@jamescummings you know me too well.

[2020-04-18 11:45] PFSchaffner commented on #1988
Rebus poetry is of course common. Many rebus images contain text (some consist entirely of text). Question is whether that text can or should be captured in the desc element within graphic, or whether as transcriptional they should be captured in some text-bearing element within figure. ... I'm sure there are also some odd-ball outlier pieces of verse that incorporate an unspeakable illustration o

[2020-04-18 12:27] lb42 commented on #1988
Yes, but as previously noted, I would suggest that if something is a poem, it should be encoded as such using `<l>` elements, and if parts of a line are represented graphically, rather than textually, the element <graphic> is available. See attached example of a well known case.
![heydiddle](https://user-images.githubusercontent.com/660724/79637546-59bf7680-8178-11ea-96b6-f3c636be36b0.png)

[2020-04-18 12:53] PFSchaffner commented on #1988
Yeah, I know: I was positing the case in which the graphic elements themselves contain text too.

[2020-04-18 13:16] PFSchaffner commented on #1988
![rebus](https://user-images.githubusercontent.com/9382928/79638780-43ec8a00-8155-11ea-9e91-77e095e2be9d.jpg)

[2020-04-18 13:32] ebeshero commented on #1988
Hmm. @PFSchaffner ‘s example presents graphically a nice case of when we’d want a `<figure>` in the line, doesn’t it?

[2020-04-18 13:32] PFSchaffner commented on #1988
Contrived, I admit, but yes, that was the point.

[2020-04-18 13:33] ebeshero commented on #1988
Call it “born digital poetry” then! :-)

[2020-04-18 13:41] ebeshero commented on #1988
I don’t know, @jamescummings and @lb42. Looking at our examples in the Guidelines for `<graphic>`, we seem pretty committed to wrapping it in a `<figure>` anyway for holding associated metadata. I think we are just fine with `<figure>` and we definitely should not disallow it. But should we be permitting `<graphic>` by itself? I am not so sure of that.

https://tei-c.org/release/doc/tei-p5-doc/en/

[2020-04-18 13:46] ebeshero commented on #1988
What I am noticing in the examples is the contraption of `<figdesc>` with `<graphic>` inside `<figure>`, which conveniently associates text and image. What other ways do we have to make such associations?

[2020-04-18 15:25] martindholmes commented on #1988
@lb42 Here's an example of a `<figure>` in the middle of an `<lg>`:

https://hcmc.uvic.ca/~vicpoems/page_images/goodwords/11/goodwords_11_465_areverieandasong.jpg

This is very common, and if a line were to wrap in a particular way, it's easy to imagine a case where it could appear within `<l>` as well. I don't have examples to hand of this, because of course our encoders can't (yet) encode any of

[2020-04-18 15:28] martindholmes commented on #1988
@ebeshero We typically use `<figDesc>` for an encoder's/editor's description of the figure, and other descendant elements for any caption that appears. Incidentally, a caption may contain a quote of one or more poetic lines, so you'll end up with `<lg>` or `<l>` as a descendant of the poem it's all embedded in. In this sense, `<figure>` is a bit like `<floatingText>`.

[2020-04-18 15:56] lb42 commented on #1988
@beshero There are plenty of ways of associating metadata with a graphic (I suggested using a nested desc in my example): figDesc provides information about a figure, which isn't the same thing as a graphic.  I think of `<figure>` as being a block level component of a page which  may for example float about without affecting the sense (this wouldn't work for the rebus examples by the way.)

@marti

[2020-04-18 15:58] martindholmes commented on #1988
@lb42 figure is already allowed in both contexts, though. This ticket is about the Schematron that undermines that existing functionality.

[2020-04-18 16:02] lb42 commented on #1988
Indeed it is. I am arguing that you should not construe this prohibition as "undermining" in the case of a figure appearing within a `<l>` but rather as a useful suggestion that you probably ought not to be encoding it that way.

[2020-04-18 16:59] martindholmes commented on #1988
@lb42 That really doesn't make sense to me. The content model of `<l>` allows `<figure>` inside it. The Schematron rule that complains about legal descendant elements inside `<figure>` is not there in order to warn people that putting `<figure>` inside `<l>` is wrong; it's just a poorly-tuned rule that happens to trigger when it shouldn't. If `<l>` should not contain `<figure>`, that's a completel

[2020-04-18 17:02] ebeshero commented on #1988
@martindholmes @lb42 I am pleased that `<figure>` is permitted within `<l>`. We should not be confusing presentation with semantics (it doesn't matter to me at all that `<figure>` gets transformed by some people as block-level element). If you have a special case such as the ones we've envisioned here, `<figure>` gives us more capacity to convey metadata as well as text descriptors associated with

[2020-04-18 20:11] martindholmes commented on #1988
@ebeshero "...descendant of figure or note". I guess we should also look for other contexts which act in a similar floatingText-like manner.

[2020-04-18 21:12] bansp commented on #1988
I begin with a side question that must have popped up in Council discussions and an agreed reply has probably been given in one of the working papers (but I just don't know it): wouldn't it be good practice to always explicitly specify the context in Schematron rules that are part of the Guidelines? The context is surely implied by either the individual Source/*.xml fragments or by traversing the

[2020-04-18 22:05] martindholmes commented on #1988
@bansp I've never been particularly comfortable with the practice of placing constraints inside `<elementSpecs>` and having their context derived from those `<elementSpecs>` partly because it works only at the element level; you would expect to be able to do the same thing in an `<attDef>` but you can't because it doesn't work. So wherever Schematron rules appear in the `<schemaSpec>` (for conveni

[2020-04-18 22:29] gimsieke commented on #1988
This conversation is too much focused on figures. Consider `note` as an element that is also allowed within `l` and `lg` and that may contain `ab` or `p`. The Schematron rule certainly shouldn’t fire for `l/note/ab`, should it? There are a couple of elements that establish a new _scope_ below which `p` and `ab` are perfectly acceptable. In this regard I concur with @martindholmes, but regarding th

[2020-04-18 23:29] martindholmes commented on #1988
@gimsieke I think most of us would agree that TEI should support context-specific content models, and you're right of course to point out that the issue is something to do with the transition from one scope to another; that was what I was trying to get at with my analogy with `<floatingText>`. Elements such as `<note>`, `<floatingText>` and `<figure>` constitute little embedded worlds in which all

[2020-04-21 17:56] bansp commented on #1977
Request for confirmation: is the branch https://github.com/TEIC/TEI/tree/sydb-standOff the official Council workplace for standoff? I'd like to set up tracking on my side, so I'm just double-checking. Cheers!

[2020-04-21 20:42] rvdb commented on #1540
Just an afterthought: I see the minimal ODD exemplar file at https://github.com/TEIC/TEI/blob/dev/P5/Exemplars/tei_minimal.odd has been updated.

Is it the intention that Roma will be using that updated version, too, in the future? Right now, it's still offering:

- the `TEI Absolutely Bare` template
- the old version of `TEI Minimal`, when choosing the "Build up" option

Hence, I'm wondering if t

[2020-04-21 20:46] raffazizzi commented on #1540
@rvdb Roma takes the Exemplars from the latest release, so I would expect these new files to become available in both Romas after next release (sometime in summer, unless we are forced to make a smaller release sooner).

[2020-04-21 20:57] rvdb commented on #1540
@raffazizzi Ok, thanks for clarifying. So I can safely start using the current `TEI Minimal` for didactic purposes already.

Still, am I missing anything, or are [tei_bare](https://github.com/TEIC/TEI/blob/dev/P5/Exemplars/tei_bare.odd) and [tei_minimal](https://github.com/TEIC/TEI/blob/dev/P5/Exemplars/tei_minimal.odd) now nearly equivalent?

[2020-04-21 21:45] martindholmes commented on #1540
It does look like tei_bare and tei_minimal have converged to a large degree, although they're structured somewhat differently and explain themselves in slightly different terms. Perhaps they should be merged.

[2020-04-22 17:04] lb42 commented on #1971
Closing as the vacuous equivs have vanished like the morning dew

[2020-04-22 17:04] #1971 closed

[2020-04-22 17:11] lb42 commented on #1813
The XML source code is now modified as suggested above though the old version has been preserved too. The problem is that the version on the TEI website has not been changed. I don't know how to do that. Probably the link http://www.tei-c.org/guidelines/customization/getting-started-with-p5-odds/ should be suppressed or redirected somehow. So this ticket needs to be reassigned to someone who does.

[2020-04-22 17:13] lb42 commented on #1082
Neither of the links in Kevin's comment above is currently working.

[2020-04-24 20:18] martinascholger commented on #1547
@hcayless, @martindholmes -- is this still an open issue?

[2020-04-24 20:23] martindholmes commented on #1547
I think  there's still work to be done, but perhaps we should split this out into one ticket for moving to saxon 10 and xslt3, and another for figuring out what to do about epubcheck.

[2020-04-24 20:35] martinascholger commented on #1559
@martindholmes, @sydb - is this still a question in which repo this should be tested?

[2020-04-24 21:12] martindholmes commented on #1559
I'm now more convinced of the value of Test2 and the irremediable mess that is Test, and I already have an FO test in Test2, which both generates the FO and builds it to PDF. I don't think it matters what happens in Test. Feel free to close this ticket unless someone objects.

[2020-04-26 13:16] mattlev2 opened #1989 "idno: different desc for English and other languages"
Hi,

It seems there is a problem with the description of the idno element.

The English description reads:
`` <desc versionDate="2010-04-30" xml:lang="en">supplies any form of identifier used to identify some object,
  such as a bibliographic item, a person, a title, an organization,
  etc. in a standardized way.</desc>``

The French, Spanish or Italian translations are slightly different:
- ``<de

[2020-04-26 14:08] ebeshero commented on #1989
Thanks for noticing this discrepancy, @mattlev2 ! I have a further question about a phrasing in the English version that seems to be handled differently in the French, Spanish, and Italian. The English version indicates “any form of identifier” (so not necessarily a number as indicated in the French and Spanish), and it ends with the phrase, “in a standardized way.” The Italian version uses the ph

[2020-04-26 14:33] mattlev2 commented on #1989
I think you're right.

|  English version | **any identifier**    | to identify  | **bibliographic items, persons, organizations or title**  | + **standard way**      |
|------------------|-----------------------|--------------|-----------------------------------------------------------|-------------------------|
| Spanish version  | **number**             | to identify  | **bibliographic item**

[2020-04-26 16:20] lb42 commented on #1989
If you look at the source file (on github at https://github.com/TEIC/TEI/tree/dev/P5/Source/Specs/idno.xml) you will see that each descriptive element (`<desc>` or `<gloss>` for example) has a date stamp, indicating when it was last updated. In the case of idno, the English description was last updated in 2010, which is much more recent than the others.  Hence, we can infer that the change in scop

[2020-04-26 16:36] lb42 commented on #1978
My first reaction to  Hugh's question 1 is "where it currently is", i.e. in the Github repo TEI/Documents . However, this folder currently is a bit of a mess, in that it contains both current documents and superannuated drafts or proposals subsequently re-used elsewhere or rejected. In the good old days we had a document register in which all documents had an unchanging ID, and there was an index

[2020-04-28 15:55] rvdb commented on #1917
@martindholmes Do you see Pure ODD at all? The button is working in my Firefox browser, but only switches between compact and XML RelaxNG syntax, no trace of Pure ODD...

[2020-04-28 16:06] martindholmes commented on #1917
@rvdb The content model above shows Pure ODD, doesn't it? But it only shows it for the content element, not for the attribute-related stuff.

[2020-04-28 16:17] rvdb commented on #1917
@martindholmes Ah, that's progress (for the button). Yet, I think the current display is a missed opportunity for being didactic about Pure ODD and customizing TEI. While all information is displayed in the other rows, I would rather like to see a unified "ODD declaration" row, that just gives the Pure ODD content of the definition element. At least, the real definition parts (`<classes>`, `<conte

[2020-04-28 16:22] martindholmes commented on #1917
@rvdb The problem would be deciding how much and what to include in that row. The simplest approach would just be to link to the spec file, but we don't include the spec files in the release. Perhaps we should?

[2020-04-28 16:47] rvdb commented on #1917
@martindholmes Both would just be perfect :-):
- providing at least access to the bare spec files would be essential, IMO. Right now, it requires deep digging to get to the actual source of the TEI specification. If that would be available from the HTML spec pages, it would help a lot for increasing the understanding of TEI internals.
- if the essential elements from the spec files could be identi

[2020-04-29 18:19] jamescummings opened #1990 "'May Contain' and 'Contained By' on html element reference pages should be sortable."
The content of the lists provided by 'May Contain' or 'Contained By' on the element reference pages should be sortable. Currently it is grouped by module (then alphabetically inside that). What I think would help user interaction with the element reference pages is that this should come up as it does now but have a button akin to the one in the Schema Declaration section which says 'XML syntax'. B

[2020-04-29 18:41] martindholmes commented on #1990
JS could actually do the sorting -- might be simpler to add this as a little JS extension.

[2020-04-29 18:50] jamescummings commented on #1990
@martindholmes I realise that is possible. Since we're already passing through XSLT, it would seem better to me to keep the sorting there. i.e. at worst if everything breaks you just get two lists or something. (Well, maybe not, I assume CSS would still hide the 'other' one.) I know we already use bits of javascript here and there, I'm only suggesting keeping the heavy (well not too heavy) lifting

[2020-04-29 19:58] martindholmes commented on #1990
There is always Control + f, though. Are you perhaps over-thinking this?

[2020-04-29 21:32] jamescummings commented on #1990
@martindholmes I could be... but control-f type the name of the element which may or may not be there, which I may or may not remember is camelCased.... vs click one button and look.

But well, it is just a suggestion.

[2020-04-29 22:37] sydb commented on #1990
My 2¢

It is a really good idea to have the list of elements sortable by module (as we have now), alphabetically, and by class. I can even imagine the alphabetical list having two forms, one with all those that start with A on line line, B on the next; and another that is a long list of one element per line that includes the element gloss & description (in the proper language). That said, given ho

[2020-04-30 04:13] martindholmes commented on #1984
Here's another good reason for getting rid of JQuery:

https://github.com/advisories/GHSA-gxr4-xjj5-5px2

[2020-04-30 16:43] martinascholger commented on #1609
@hcayless, @sydb is there need for discussion, or can I mark this green?

[2020-04-30 16:57] martinascholger commented on #1734
pinging @laurentromary and @ttasovac

[2020-04-30 17:09] martinascholger commented on #1743
I think this is an issue for the infrastructure group. Did you already start with the documentationen (google doc, wiki?)

[2020-04-30 17:09] hcayless commented on #1609
I think it’s not the highest priority, but no reason it shouldn’t be green.

[2020-05-01 00:27] jamescummings commented on #1928
I've been thinking about this and I think the ideal solution would be one which allowed both easy referencing of standard parts of xml hierarchies, attributes, etc. And also arbitrary string offsets or similar for things that are not xml in nature.

But that's ideal. Compromise is likely.

[2020-05-01 16:41] hcayless opened #1991 "Requirements for New Sanity Checker"
Roma used to have a feature that would allow you to check the "sanity" of a constructed schema. This is a desirable thing and we want to figure out how to re-implement it rather than attempt to resurrect the ancient and long-broken PHP implementation that used to do this. This ticket is intended to capture requirements for a new sanity checker.

The tool should at a minimum check that included fea

[2020-05-01 18:21] jamescummings commented on #1991
In addition to object isolation as @hcayless mentions above, the new system might:
- warn if not well formed and valid ODD
- warn of any unused classes
- warn of any teidata.enumerated attributes for which valLists have not been supplied (the TEI recommends projects provide these)
- warn if any specGrpRef point to things which don't exist
-  warn if schemaSpec start attribute contains an element t

[2020-05-01 20:01] ebeshero commented on #1991
Noting from our F2F discussion that this will likely involve some Schematron and XSLT work, and we might want to organize a group of us working on this optimally before the next Roma release, though this work is separate from Roma itself.

[2020-05-01 20:10] sydb commented on #1991
I overall like James’ list, with a few concerns.

There is no point in checking well-formedness, Roma, the tool we are discussing, OxGarage, the Stylesheets … **nothing** will work if it is not well-formed, and _anything_ you do will tell you if it is not.
Checking validity … sure, against what?

How in BLEEP are we supposed to check whether a rule is applicable or not? (We can test if it is _outd

[2020-05-01 20:27] hcayless commented on #1991
A further note on James's list:

Will be difficult absent some intrinsic attribute of "requiredness" on TEI elements. That is, it would require that we add some property to the formal definition of the TEI or that the sanity checker know things about TEI that TEI does not know about itself.

This starts to get into notions of "clean" (or not) customizations which are problematic.

[2020-05-01 20:48] sydb commented on #1991
Well, yes in theory, but in practice you can just list the absolute requirements. (That is what tei_customization does.) They are `<TEI>`, `<teiHeader>`, `<fileDesc>`, `<titleStmt>`, `<title>`, `<publicationStmt>`, and `<sourceDesc>`. That list is not likely to change much in any rapid way at all.

That leaves out conditional requirements, of course. E.g. that if you have a `<text>` in your schema

[2020-05-01 21:03] ebeshero commented on #1991
This is reminding me of a case-in-point: One of my former students was writing an ODD customization and inadvertently left out the textstructure module so had no TEI root element. It took us a while to realize how she'd done that. I think this sanity checker should be useful to anyone writing ODDs (whether using the Roma or not).

[2020-05-01 21:04] sydb commented on #1991
Agreed, @ebeshero , but to be fair, tei_customization would have caught that.

[2020-05-01 21:05] ebeshero commented on #1991
@sydb This was years ago...not sure if tei_customization was around at that point, but anyway she wasn't using it.

[2020-05-01 21:06] sydb commented on #1606
@lb42 : In the 1st sentence above you say that `@restriction` is not allowed in combination with either `@ref` or `@key`. But in the second you say that “…the datatype specified by `@name` or `@ref` can be further modified … by `@restriction`…”. Which is it for `@ref`, then?

[2020-05-01 21:06] ebeshero commented on #1991
More to the point, do we expect people generating an ODD with Roma not to have access to tei_customization?

[2020-05-01 21:32] sydb commented on #1991
Sorry, @ebeshero , my head got spun by the double negated expectation. But we expect everyone in the entire world to have access to [tei_customization](https://www.tei-c.org/Vault/P5/4.0.0/xml/tei/custom/schema/relaxng/tei_customization.rnc), at least in RelaxNG.

[2020-05-01 21:39] ebeshero commented on #1991
@sydb Of course, and so it seems as if it is already integral to this sanity checker, right? As in, no need to double up on what it's already doing...

[2020-05-01 22:41] sydb commented on #1991
@ebeshero you be taking words out of my mouth!
Seriously, I would not be surprised if there were a few constraints in tei_customization that we did not want, but something similar to it is probably right on target.

[2020-05-02 03:04] sydb commented on #1609
This has mostly been done. Only tei_its.odd and tei_svg.odd have any elements from the RelaxNG namespace, and seems to me they need them.
The only remaining question is should we delete the "rng:" namespace declaration on the root element? It serves no purpose as the ODD sits there, but would be mildly useful to someone who needed to add some RelaxNG, saving them a step.
The following files have t

[2020-05-02 04:00] sydb commented on #1859
However, the brilliant idea above (to just change content of `<altIdent>` from `<textNode>` to `<dataRef key="teidata.xmlName"/>`) has a **huge** problem that I have to admit, I did not notice months ago.

The `<altIdent>` element is used in the _Guidelines_ (and perhaps occasionally in someone’s ODD, whether for customization or for making up one’s own markup language) to hold the human-readable

[2020-05-02 05:43] laurentromary commented on #1991
I guess you  keep in mind that the sanity checker should not be too aggressive with specifications aiming at defining non TEI vocabularies, or even worse those reusing only some specific TEI crystals in other vocabularies. Thus, checking the presence of specific TEI  header element definitions should only occur when these elements are actually used.

[2020-05-02 08:26] jamescummings commented on #1632
c.f. #1928 may be a duplicate of this. While both are low priority we certainly need the ability to mark arbitrary string-lengths inside egXML, but most often this would be known XML parts. A combination of standoff xpointer and standoff byte-offset might be the ideal approach. See that ticket.

[2020-05-02 09:06] lb42 commented on #1609
Remove redundant declarations.

[2020-05-02 13:17] sydb commented on #1582
Council VF2F agrees ticket is GO for testing what happens if model.phrase.xml is allowed: i.e., do Stylesheets strip element, strip tags, or allow whole thing through? If output is good, ticket is GO to add model.phrase.xml to content of `<sch:assert>` and `<sch:report>`; if not, we probably need a Stylesheets ticket.

[2020-05-02 13:33] hcayless commented on #1675
...URLs beginning with '#' might also be XPointers, so restricting them to NCNames is problematic. See https://www.tei-c.org/release/doc/tei-p5-doc/en/html/SA.html#SATSin

[2020-05-02 13:48] npcole commented on #1604
As @sydb said above, after further discussion remain in agreement about:

"""So I think we, at least, are all in agreement.

As per @lb42 , @source on <schemaSpec> should continue to be allowed to have multiple (space-separated) values
1. The semantics of those values should be well documented.
2. The tei: prefix should be defined by a <prefixDef> in P5.
3. I think we should close this ticket and

[2020-05-02 13:51] npcole commented on #1604
If after testing, it turns out that multiple sources do not work as expected above, we will re-define to disallow.  If it does work, we will leave it.

[2020-05-02 14:03] ebeshero commented on #1606
Council F2F agrees with the recommendation to not permit `@restriction` with `@key`.

[2020-05-02 14:14] martinascholger commented on #1632
F2F Council (with guest @jamescummings) decided that he will come up with a proposal.

[2020-05-02 14:20] ebeshero commented on #1918
Council agrees that @peterstadler and @sydb need to research the class membership issues here, if model.qlike makes sense.

[2020-05-02 14:22] ebeshero commented on #1658
@peterstadler and @sydb need to resolve #1918 and then come back to this.

[2020-05-02 14:31] sydb commented on #1675
Right, @hcayless. The question is whether it is sufficient to check for “NCName or NCName followed by open paren followed by stuff that is not checked followed by a final close paren”? Because if we have to actually parse XPointers …

And (as @martindholmes points out) it is awesomely difficult to find out if a pointer to a generic external document is resolvable or not.

This is beginning to stri

[2020-05-02 14:57] ebeshero commented on #1661
Council F2F agrees after extensive discussion that we should permit one or more `<surplus>` or `del>` together with `<add>` in `<subst>`.

[2020-05-02 14:58] jamescummings commented on #1675
We should be able to tell the difference between an xpointer and an idref ... so check that first?

[2020-05-02 15:28] ebeshero commented on #1675
Council thinks @sydb should make an exemplar ODD that shows how to include pointer checking--to check various features of pointers and discusses them instead of trying to be a complete pointer-checking system.

[2020-05-02 15:31] hcayless commented on #1675
One note: checking for pointer resolvability might mean you don't need to check for lexical validity. If a pointer correctly indicates an element with an xml:id, then it must be a hash + an NCName.

[2020-05-02 15:35] ebeshero commented on #1698
Council at F2F recommends creating a new appendix to list all the namespaces used in the TEI Guidelines with brief description of each. (Don't disrupt current sequence of the appendices.) Also, update discussion of namespaces in Chs. 1 (ST) , 22 (TD), and 23(USE).

[2020-05-02 15:36] ebeshero commented on #1698
Which appendix: Don't interrupt A - F. Place it before deprecation, etc.

[2020-05-02 15:51] raffazizzi commented on #1710
I will run the script again and make fixes as needed, then post the list again and next create a PR with the moved classes for review.

[2020-05-02 15:51] sydb commented on #1710
Green for @raffazizzi to generate an updated a list of those classes that should be moved (from tei to specific module), and run said list by Council. Depending on how many there are, how they feel, etc., @martinascholger and @raffazizzi will then move the classes manually or write a routine to do so (and check it in to the Utilities/) directory in a separate branch.

[2020-05-02 15:51] ebeshero commented on #1710
Also, Council F2F recommends doing a special release for this when it's ready.

[2020-05-02 16:02] ebeshero commented on #1721
Council recommends discussing this with the internationalization group to work on drafting a recommendation.

[2020-05-02 16:05] ebeshero commented on #1722
We think this might not be an issue any more, but @sydb will check more closely.

[2020-05-02 16:11] hcayless commented on #1724
`schemaRef/@key` has no examples in the Guidelines, and I'm not sure what it would mean...All examples use `@url`

[2020-05-02 16:15] ebeshero commented on #1724
Council is puzzled by this ticket.
If it's identified, it needs to be a name. But what kind of name?

[2020-05-02 16:22] ebeshero commented on #1729
Council F2F thinks there should be brief descriptions of each of these attribute values.

[2020-05-02 16:28] ebeshero commented on #1776
Council greenlights the recommendation to apply cautionary language, working with/reviewing @bansp's pull request.

[2020-05-02 16:34] sydb commented on #1781
At Council VF2F we agreed to simply remove the entire constraint — both @jamescummings and @tuurma believe it is no longer useful at all (if it ever was).

[2020-05-02 16:38] jamescummings commented on #1991
I agree with @laurentromary where above I've said check this or that TEI-specific thing, that should only happen in files in the TEI namespace.

[2020-05-02 16:47] jamescummings opened #1992 "Some titleStmt children should be members of att.datable."
Inside titleStmt adding some of the members to att.datable would enable recording where sponsor, principal, or even author changed over time. The elements which should claim membership include: author, editor, meeting, funder, principal, sponsor.

Any of these might change over time and so need from-to kind of dates, etc.

[2020-05-02 16:58] ebeshero commented on #1787
Council F2F decides we're not proceeding with modifying `<projectDesc>`, but we'll work on refining the `<titleStmt>` to make it more expressive. See #1992.

[2020-05-02 16:58] #1787 closed

[2020-05-02 17:05] npcole commented on #1929
Just as an aside.  One can have a paragraph inside another paragraph in many printing conventions -- such as a nested block quote inside a paragraph.

[2020-05-02 17:07] jamescummings commented on #1929
@npcole Some might argue that this is a block quote rather than a paragraph. It might be the conflation of presentational rendering on the page and intellectual understanding of that block's semantics. But people disagree about this.

[2020-05-02 18:26] PFSchaffner commented on #1929
Given (1) that the vagueness of `<q>` covers block inserts of all kinds; and (2) that we usually avoid creating a new way of doing something for which a valid way already exists; and (3) `<p><q><p>` is perfectly valid (and much used) -- there is no need for `<p><p>`.  (?)

[2020-05-02 18:30] PFSchaffner commented on #1929
As for `<p>` vs. `<ab>` I suppose I've roughly followed the rule that `<p>` is a semantic unit with typographic implications, `<ab>` a typographic unit with semantic implications, and that one should privilege `<p>`  when typography and layout align, unless `<ab>` is more convenient!

[2020-05-02 18:58] sydb opened #1993 "discrepancy of P5 version number vs definition of version attribute of TEI"
The version number of the _TEI Guidelines_ is (at least nowadays) stored in ./p5.xml at /TEI/teiHeader/fileDesc/editionStmt/edition/ref[2]. The value therein is copied from ./VERSION.

The current contents of that file (in the dev branch) is “4.1.0a”. Makes sense. The current release is 4.0.0, and we are anticipating the release of 4.1.0 in August or thereabouts by referring to the development bra

[2020-05-02 19:24] raffazizzi commented on #1805
@duncdrum the council is meeting (virtually) for our face-to-face and we'd like to ask you about your plan for the next phases (I believe it's phase 3 onward though you did some of 5 for the last release as well, right?)

[2020-05-02 19:32] lb42 commented on #1993
A fourth and perhaps less disruptive solution would be to leave the version unsuffixed, and use @status to indicate whether this is an alpha/beta/whatever version. This would just entail making TEI a member of the att.docStatus class.

[2020-05-02 19:43] duncdrum commented on #1993
wouldn't it be nice if `@version` and the TEI actually had a valid [semantic version number](https://semver.org), i.e. not `4.0.0a`. So +1 on @lb42 suggestion to use `@status` for anything other than `major.mino.patch`

[2020-05-02 19:45] lb42 commented on #1929
Another simple rule of thumb is that if a block of text is prose, then I tag it as `<p>`; if it is verse as `<l>`; and when I am not sure because it could be either,  I tag it as `<ab>` .

[2020-05-02 19:47] sydb commented on #1870
Council VF2F subgroup thinks (1) and (2) are both quite reasonable and should be GO for @ebeshero to go ahead with.

(3), however, is a bit complex. First off, we want to ensure that OP @dlschwartz understands that there is no **need** to put any elements of any sort inside `<biblScope>`. Second, we’re a bit worried that at some points (both in the discussion and probably in examples in the _Guide

[2020-05-02 19:57] sydb commented on #1879
Council VF2F subgroup thinks the time is neigh for a discussion of this with full Council. While we have our reservations about yet another element to contain `<note>`s, it does make sense, and the use case is somewhat different than that of `<listAnnotation>` (in that `<listAnnotation>` is not intended for use in running prose, whereas `<listNote>` is, and thus will need to allow things like mode

[2020-05-02 19:58] lb42 commented on #1870
It think the use of `<title>` inside `<biblScope>` is unlikely but not implausible. It would suggest that (referring to OP's second example above) vol 1 of series Y has some particular title (other than X) which you wish to record. It might just be "volume one", for example.
The more general point to note is that `<biblScope>` is one of many TEI elements permitting a whole shedload of elements, or

[2020-05-02 20:06] sydb commented on #1891
Council VF2F subgroup thinks `<pc>` makes sense inside `<cit>` (for the reasons OP gives), but are very dubious about allowing `<seg>`, `<cl>`, `<w>`, etc., to appear directly inside `<cit>`.
Some of us also worry that the examples here (and some in the _Guidelines_) do not align with the definition of `<cit>`, in that there are no citations within, just the quotations.

[2020-05-02 20:12] sydb commented on #1910
Council VF2F subgroup suggests we close this soon, unless @tillgrallert pops up to say the suggested solution does not work (and why not).

[2020-05-02 20:18] PFSchaffner commented on #1929
I'm thinking as usual of Bibles (and similar texts with more-or-less arbitrary chunks of text). It is conventional to tag the 'verses' as `<ab>`, unless it is a 'paragraphing' Bible that attempts to format the Biblical prose into modern paragraphs independent of the verses, in which case those paragraphs go in to `<p>` and the verses get relegated to milestones ('cause otherwise you'd have to put

[2020-05-02 20:19] PFSchaffner commented on #1929
(It is very annoying, however, to talk about Bibles because of the ambiguity of the word 'verse')

[2020-05-02 20:21] sydb commented on #1914
Council VF2F subgroup thinks that the desired result (adding model.graphicLike to the content of `<cit>`) is fine.

[2020-05-02 20:21] lb42 commented on #1929
Indeed, treatment of biblical verses was the primary use case for ab when it was first mooted.

[2020-05-02 20:30] sydb commented on #1917
Council VF2F subgroup thinks we can close this particular issue. That said, @martindholmes is probably right, we should not be using JQuery anymore. And someone (@martindholmes?) may well want to open another ticket suggesting that the “Content model” portion of the tagdoc page have information about attributes, too.

[2020-05-02 20:41] sydb commented on #1919
Council VF2F subgroup thinks that removing `<altIdent>` from the content of those three non-TD elements is probably a good idea. Not high priority, as it only affects those using the TD module. However, we are not sure that the model changes @jamescummings suggests is the right way to do this. (Nor that it is the wrong way.) For example, it might be better to make a new class for “things that can

[2020-05-02 20:42] hcayless commented on #1943
@sarcanon, Council is reviewing issues as part of our (not) Face-to-face meeting. We'd really like to see the example you are (or were) looking at here. Could you post a picture or something? Thanks!

[2020-05-02 20:50] sydb commented on #1993
I like that, @lb42 (and @duncdrum).

[2020-05-02 21:00] sydb commented on #1925
Council VF2F subgroup thinks this is overall a good idea.
Probably `@predicate` should be put in a class since it is also on `<model>` and `<modelGrp>`.

[2020-05-02 21:08] sydb commented on #1929
Council VF2F subgroup thinks that if @ebeshero can describe `<p>` a bit better, she should go for it. Otherwise is there any concrete recommendation for a change to the _Guidelines_ herein? We also like @martindholmes (1), the [pornography definition](https://en.wikipedia.org/wiki/I_know_it_when_I_see_it), as it were.

[2020-05-02 21:12] sydb commented on #1933
Council VF2F group agrees with @ebeshero’s thought that this needs more discussion, and thinks the I18N SIG is probably the right place for that discussion.

[2020-05-02 21:14] hcayless commented on #1966
The definition of [mapping](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-mapping.html) seems to me like the `U+xx` notation would be incorrect as content, and I see at least one of those.

[2020-05-02 21:17] raffazizzi commented on #1937
VF2F subgroup suggests closing this ticket because @sydb 's solution suggested above should work at least until [Stylesheets bug 144](https://github.com/TEIC/Stylesheets/issues/144) is fixed. Unless you have objections @Arithmeticus ?

[2020-05-02 21:22] raffazizzi commented on #1945
VF2F subgroup thinks should not be addressed until #1877 is addressed because that might solve the problem.

[2020-05-02 21:27] sydb commented on #1947
Council VF2F subgroup thinks @lb42’s point seems on target, and thus suggests this ticket be closed unless OP (@michalkozak or other PROVIDEDHer) objects.

[2020-05-02 21:29] sydb commented on #1953
Council VF2F subgroup thinks this should be GREEN for @peterstadler to swap in @sydb’s suggested example.

[2020-05-02 21:34] sydb commented on #1956
Council VF2F subgroup notes that

1. 1–5 all seem to have been fixed
1. Except maybe the formatting of the table (4). Looks OK, if not pretty, to us.
1. The “get involved” page still refers to SourceForge, and should definitely be fixed.

We suggest this not only be set to GREEN for @martinascholger to fix the reference to SourceForge, but also be set to a medium priority.

[2020-05-02 21:37] raffazizzi commented on #1961
VF2F thinks this should be green and that it's a good ticket for new council members to try out editing the guidelines.

[2020-05-02 21:38] jamescummings commented on #1921
If it is allowed in `<back>` then it should also be allowed in `<front>`.

In both cases I'd have been likely to put it in a `<div>` with the assumption that one day I might have other sections in my `<back>`. ;-)

[2020-05-02 21:39] sydb commented on #1963
Council VF2F subgroup thinks this should be GREEN for @sydb to word as per Feb 06 comment.

[2020-05-02 21:45] sydb commented on #1967
Council VF2F subgroup thinks whole Council needs to discuss this. Should there really be prosey stuff like a heading in a `<linkGrp>`, or should a group of links that need a heading or prose description be wrapped in a `<div>` to provide that stuff?

[2020-05-02 21:49] tillgrallert commented on #1910
Dear all,
I have to apologise once again and thank you for your patience. I would strongly support the introduction of a `@where` attribute that allows to point to canonical lists of places.

With the new `<unitDecl>` and without a potential `@where` attribute, I would encode my original example as follows:

[code]

This would require as many `<unitDef>`s for the volume of *shunbul* as there are l

[2020-05-02 23:01] duncdrum commented on #1966
There are subtle differences in entity notation and Unicode notation, when it comes to xml processing via path (expand) or xslt/xquery (retain). I'd say leave it up to implementers to pick the right one for their use case.  `<mapping>` is on its way out, iirc.

[2020-05-03 00:55] sydb commented on #1991
Actually, no, @laurentromary. I did not imagine performing a sanity check on anything other than a TEI customization file. Thus I think it should be quite aggressive. If you are writing your own language in ODD, you would need your own sanity checking, no?

[2020-05-03 02:31] sydb commented on #1984
And in case anyone needed more convincing, GitHub thinks TEI [is vulnerable](https://github.com/TEIC/TEI/network/alerts).

[2020-05-03 02:34] #1781 closed

[2020-05-03 02:48] sydb commented on #1993
@lb42:
Hmmm… don’t think so. if `<TEI>` were a member of att.docStatus, then wouldn’t `<TEI version="4.1.0" status="alpha">` mean that the TEI document was itself in the alpha stage of production, rather than the TEI document is expected to conform to the alpha version of P5 v. 4.1.0?

@duncdrum:
I’m a bit confused.
1. While semantic version numbering is well defined and has some extension capabil

[2020-05-03 04:19] laurentromary commented on #1991
If you guaranty that the sanity checker would not fire in a place where I would use an non-TEI-intended-ODD then I don't care. Probably a roadmap with a test implementation would allow us to see if we open cans of worms anywhere.

[2020-05-03 12:27] duncdrum commented on #1993
If ‘@status‘ doesn’t do the trick. I’m in favor of changing the naming scheme to semantic version, regardless. So ‘@version‘ can be used more easily on other things in local costumizations, without adjusting the regex pattern.

As for Unicode versions, I m pretty sure those will always be valid sem-ver as well.

[2020-05-03 13:49] ebeshero commented on #1877
VF2F: Council favors `<ellipsis>` for the name, approves the content model here. This is similar to `<mod>` and `<subst>` and `<gap>`. We need to research in what model this goes in. Documentation should make clear that this ellipsis is not the same as aposiopesis (where ellipsis points are used to indicate trailing off and not that something has been deliberately omitted).

[2020-05-03 13:58] ebeshero commented on #1955
VF2F2020: Council decides those assigned to this ticket will meet to review the proposal carefully, see how it best fits into the Guidelines—perhaps as a new chapter—and return to the working group with a proposal.

[2020-05-03 14:07] sydb commented on #1967
Full Council VF2F thinks model.descLike as 1st optional (and repeatable) child of  `<linkGrp>`, `<altGrp>`, `<joinGrp>`, `<spanGrp>`, and `<interpGrp>` is a good idea, although we will need to change formal description of `<desc>` somewhat. (Already need to do that anyway.)
We do not think model.headLike is a good idea. (On the principle, essentially, that it is “too prosey”.)

[2020-05-03 14:09] ebeshero opened #1994 "Description of desc needs to be expanded"
In Council VF2F's discussion of #1967, we noted a need a expand the application of `<desc>` beyond ODD documentation.

[2020-05-03 14:10] ebeshero commented on #1967
See related ticket on `<desc>`: https://github.com/TEIC/TEI/issues/1994

[2020-05-03 14:41] bansp commented on #1973
Added the changes requested by the Council via @tuurma . Thanks for accepting the request!
Jenkins shows exactly the same errors as for the [dev branch](https://jenkins-paderborn.tei-c.org/view/TEI%20dev/), so I'm assuming it's as good as can be atm.

[2020-05-03 15:27] sydb commented on #1993
I believe I am correctly representing the entire Council’s point of view to say that
1. The value of `@version` (from att.versioned) should match the syntax provided by sem-ver. (See below.)
1. For now we plan to use “alpha” and “beta” as our pre-release indicators (which always follow a hyphen. Thus values like “4.1.0-alpha”.)
1. We _may_ use the “+build” mechanism at some point, but not immediat

[2020-05-03 16:13] sydb commented on #1977
I don’t think “official” is quite correct, but I suspect it is what you want to track.

[2020-05-03 16:39] raffazizzi commented on #1710
# ATTRIBUTE CLASSES

## tei

* att.ascribed (Members are in: tei header spoken corpus)
* att.ascribed.directed (Members are in: core drama spoken)
* att.canonical (Members are in: tei header core textstructure drama msdescription namesdates)
* att.ranging (Members are in: tei core certainty)
* att.dimensions (Members are in: tei core msdescription transcr namesdates)
* att.written (Members are in:

[2020-05-03 17:09] raffazizzi commented on #1710
# Proposed changes
## Attribute classes
| Class | Current module | Target module | Reason |
| ------- | --------------------- | ------------------ | ------------ |
| att.damaged | tei | transcr | all members are in transcr |
| att.breaking | tei | core | all members are in core |
| att.cReferencing | tei | core | all members are in core |
| att.duration.w3c | tei | spoken | all members are in spok

[2020-05-03 20:18] wujastyk commented on #1877
As a working editor of early manuscripts (not a big reader of theory),
"ellipsis" and "elision" are two quite different things to me.  If a scribe
himself marked a missing passage I would tag it as "ellipsis".  If the
scribe silently missed a word from the exemplar, I would mark it as
"elision".  The latter case involves some editorial judgment on my part,
i.e., knowing what I would expect at that

[2020-05-03 20:27] ebeshero commented on #1877
@wujastyk Indeed, that's what Council wanted to be very explicit about. That is, we decided on `<ellipsis>` because we want to convey that this element is for purposeful indication in the source document that a passage has been omitted.

[2020-05-03 21:23] duncdrum commented on #1805
@raffazizzi yes my plan is to have the changes (including phase5) ready for the next release. If all goes according to plan, they should be top of my TODO pile in about 2 weeks give or take.

[2020-05-04 05:52] michalkozak commented on #1947
Yes, we've created our own ODD. Therefore, I close the issue.

[2020-05-04 05:52] #1947 closed

[2020-05-04 09:54] duncdrum commented on #1993
There seems to be an error in the adjusted regex pattern, if I understand the intention correctly that `@version` should be able to contain valid sem-ver strings.
![Screenshot 2020-05-04 at 11 50 44](https://user-images.githubusercontent.com/6205362/80954585-f2532900-8dfd-11ea-92a3-4f82b15f767a.png)

[2020-05-04 10:01] duncdrum opened #1995 "FR GH milestones with dates for upcoming releases"
As a contributor, it would be handy to see when releases are planned. So maybe we can add dates to the GitHub milestones, so folks can plan around the release schedule more easily

[2020-05-04 10:38] bansp commented on #1995
+1 to that. The cyclic bursts of Council activity are always a welcome sign, but I have noticed that they usually tend to happen while my hands are tied with running commitments. And even if it weren't so, I'm a bit afraid that these bursts mean that it's too late already to reshuffle your plans and prioritize something TEI-related, because the time to submit is already up and the Council is in th

[2020-05-04 12:42] peterstadler commented on #1995
Thanks for the heads up. I just added the dates to both the next TEI and Stylesheets milestones. And for the record: we decided on these dates just on Friday.

I think we also need to update our [TCW22](http://teic.github.io/TCW/tcw22.html) to include procedures for adding and closing milestones. Will do …

[2020-05-04 13:38] peterstadler commented on #1860
We discussed that issue briefly during our virtual f2f this weekend. If I understand correctly, the current issue is about expressing "RDF triples *inline* in TEI" where the straightforward solution would be to add RDFa attributes to (nearly?) all TEI elements. While this might not be a proper solution to be incorporated into the TEI standard, would it still be helpful to have that as an example c

[2020-05-04 13:50] #1973 closed

[2020-05-04 14:38] #1995 closed

[2020-05-04 15:12] peterstadler commented on #1993
Had to rewrite it a little more to avoid validation errors (in oXygen) for `p5odds-examples.rng`:
[code]

[2020-05-04 15:56] peterstadler commented on #1993
I did work on this in branch `issue-1993` but it's still failing. If you wanna have a look … any feedback is appreciated :)

[2020-05-04 18:10] dlschwartz commented on #1870
I am open to the idea that I have peculiar needs for my born digital project and that I might just need to customize and document that customization to meet those needs.

Regarding the use of multiple `<seriesStmt>`'s, however, I believe there is applicability outside of my born digital project. Here's an example from my field. The Corpus Scriptorum Christianorum Orientalium (CSCO) is a series. It

[2020-05-04 20:34] duncdrum commented on #1993
@peterstadler from the looks of it you haven t updated the `4.0.0a` version string, which is not a valid sem ver number. So Travis failing seems correct to me.

[2020-05-04 20:41] sydb commented on #1993
I had not planned to do this until late tonight or tomorrow; will look at regexes then, but would not be surprised at failures until.

[2020-05-05 00:23] wujastyk commented on #1877
👍

[2020-05-05 01:08] sydb commented on #1993
Oh dear.
First thing I’m working on is the regular expression itself. For the regular expression posted above, I just started with the regex pointed at by the sem-ver spec, and removed the bits we don't need. (We don't need many of the parenthetical groupings, because we are not going to be doing replacement; and we don't want non-captured groups, because W3C doesn't support that.)

But (as @peter

[2020-05-05 02:48] ebeshero commented on #1993
@sydb @peterstadler @duncdrum  In a vain(?) effort to try to simplify the hideousness of these regular expressions, I tried my hand at it with Syd's handy test file. This isn't perfect, but it's a little shorter anyway:

[code]
Should we be trying to simplify this versioning system anyway?

[2020-05-05 06:38] peterstadler commented on #1993
Despite the regex issue, I feel a little bit uneasy (now that I looked at it more closely) about changing `teidata.version` because it might break all sorts of users' encodings (e.g. `<TEI version="2014">` will be marked invalid).
We also have `teidata.versionNumber` (which by the way looks like a sloppy regex (as well) because it allows for e.g. "1.2.3.4" or "01.02" or even "0") which makes me th

[2020-05-05 07:33] duncdrum commented on #1993
I m less hesitant about backwards compatibility than @peterstadler. Things will break only if ppl specify a new `@version` in their TEI file after upgrading. Which seems fair, we want to encourage sem-ver. My guess is that many projects, already use sem-ver anyways.

I m more hesitant about creating out own regex though. If we continue down that road, we should add the regex tests to the tei tests

[2020-05-05 11:29] chiarcos commented on #1860
Let's call that the maximum solution, and it is clearly not the best way
for incorporation into the TEI standard.*

Very much so, *if*
*- *this is presented as a TEI-endorsed approach (i.e., under
"Customizations provided by the TEI Consortium"), *and*
*- *candidate elements for a native TEI encoding of RDF triples (all
discussed in this thread) are complemented with a link to the TEI+RDFa
customi

[2020-05-05 11:47] sydb commented on #1993
You have a long way to go to convince me on this, @peterstadler. Besides @duncdrum’s valid (pardon the pun) argument, the fact that `@version` allowed "2014" is a corrigible error, and one that we should be embarrassed about.

I think there is a very strong argument to be made that the value of `@version` should be required to be the correct version number. (And, for that matter, that it be a requ

[2020-05-05 13:17] ebeshero commented on #1800
Council agrees this is good to implement with @PFSchaffner 's examples.

[2020-05-05 13:23] peterstadler commented on #1993
I'll withdraw from my argument and join @sydb and @duncdrum :)
Somehow I got confused by all the various `@version` attributes but we're only discussing `@version` on `<TEI>` and `<teiCorpus>` (and the deprecated `<unicodeName>`).

[2020-05-05 13:43] ebeshero commented on #1856
Council asks @martinascholger to share her example where this would have been appropriate for her project encoding.

[2020-05-05 13:56] ebeshero commented on #1857
Council notes that egXML should contain anything, so why wouldn't this be allowed? @sydb  notes that there may be a Stylesheets processing issue to investigate.

[2020-05-05 14:02] hcayless commented on #1857
Here's the problem:
[code]

[2020-05-05 14:09] sydb commented on #1857
So it turns out this does need discussion because the problem is in the Stylesheets magic that generates patterns to avoid the dreaded conflicting ID/IDREF problem. That said, it is such an edge case that it is quite low priority.

[2020-05-05 14:17] ebeshero commented on #1858
Council notes that this could be addressed with #1918 but @sydb and @peterstadler  should investigate that together. @sydb could open a new ticket about whether the content of `<byline>` be changed to `macro.phraseSeq`.

[2020-05-05 14:25] ebeshero commented on #1861
Council notes: `<listFigure>` would contain canonical identifiers. Think about @sydb 's suggestion that `<figure>` and/or `<graphic>` should have `@ref` or if `@copyOf` is indeed more appropriate. We're thinking that `@copyOf` is available globally so it's probably better.

[2020-05-05 14:39] ebeshero commented on #1769
Council  thinks HC's suggestion would work, and he should emend the pull request accordingly. There may be a significant potential problem, @sydb notes, with processing ambiguity when it is not clear whether this is a token or a URI (keeping in mind that a URI can simply take the form of a text string). This should be something clarified in the ODD schema valList.

[2020-05-05 21:57] hcayless commented on #1769
Ok. I have emended the PR. For the record, I know @sydb disagrees with this way of resolving the ambiguity, but I really think it's going to be fine. A downstream processor, confronted with a `teidata.authority` value can attempt to resolve it, if it wants, or not, if it doesn't.

[2020-05-05 23:38] sydb commented on #1769
Majority of Council VF2F (extension) meeting has agreed definitively with #1974 (although prefer @hcayless’ new name teidata.authority). This ticket is now green for that (modified) implementation.

I dissent, joined (I believe) in part or in whole by @npcole.

This approach makes perfect sense for any given project. The project decides to use `@where` on `<move>`, and then decides on a set of val

[2020-05-06 01:43] Arithmeticus commented on #1937
Hi everyone,

I have no doubt that the workarounds suggested by @sydb work, but my main
argument is that if a system X allows rng:*, and that schema accommodates
http://relaxng.org/ns/compatibility/annotations/1.0, then shouldn't X also
accommodate it? My .odd file is defined by my local instance of
tei_odds.rng, which itself allows (and has loads of) RELAX-NG
a:documentation elements. A small add

[2020-05-06 03:07] sydb commented on #1937
Well, to be honest I don’t see any harm in allowing `<a:*>` (or perhaps `<tei:desc>` or some such) into the content of `<content>`.

That said, I do see a mild problem with the solution you’re using (although I agree any such solution is better if well documented with `<a:*>` than without!), namely that it is not a feature of ODD processing, let alone a supported feature. So while it may well cont

[2020-05-06 03:44] Arithmeticus commented on #1937
Sounds good. I recognized when I approached the task this way it wasn't
ideal (it was perhaps the third in a series of approaches I took), but as I
got into it the more I enjoyed it, since I find RELAX-NG's syntax and
design more intuitive than ODD's.

On Tue, May 5, 2020 at 11:07 PM Syd Bauman <notifications@github.com> wrote:

--
Joel Kalvesmaki
kalvesmaki.com

[2020-05-06 10:23] peterstadler commented on #1993
Just created the PR #1996 because after some more testing (and reverted changes) I think it's good to go.

Thanks @sydb for the test files and indeed the results are strange. Yet, I believe this to be some Schematron issue because the following RelaxNG schema does validate your test file as intended:
[code]
(NB: I couldn't paste in your regexes because they were flagged as invalid so your tests wi

[2020-05-06 19:32] bansp commented on #1776
That is now done and merged. I do hope that @iljackb will find the result satisfactory!

[2020-05-07 14:08] iljackb commented on #1776
Yes I do indeed find it satisfactory!

Thanks to everyone, especially Piotr @banskp for seeing this through!

On Wed, May 6, 2020 at 9:32 PM Piotr Banski <notifications@github.com>
wrote:

[2020-05-07 14:22] martinascholger commented on #1776
So, I'm closing this. Thanks @bansp!

[2020-05-08 16:28] tillgrallert commented on #1910
Dear all,

I would like to add that such a proposed `@where` attribute would also be needed on `<measureGrp>` and `<measure>` referencing the units specified in a `<unitDef>` in order to establish the correct conversion:

[code]

[2020-05-10 01:36] sydb commented on #1781
Commit 2edf8c4ca661694448e2760265bce5a7d892ed80 fixed this. Ticket remaining open as build is broken due to #1993. Thus this is needlessly blocked, but since that ticket should be resolved soon, no particular work has to be done here and now.

[2020-05-12 13:30] ebeshero commented on #1869
Council discussion of 12 May 2020 rethinks this, considering #1604 as a related ticket. We now want to keep `@source`, and change the description to indicate that `@source` should behave differently on `schemaSpec` and related elements, and add a Schematron rule. And then we can close both of them.

[2020-05-12 13:31] sydb commented on #1869
Council VF2F add-on meeting thinks that changing a name is too severe a violation of backwards compatability. Thus the current decision is to retain `@source` in att.global.source, but to
1. Re-word the tagdoc prose to make the distinction more obvious, and
1. To add a constraint such that when used for ODD, only one ptr is permitted in value.

[2020-05-12 13:58] ebeshero commented on #1870
Thanks @dlschwartz ! Council discussed this again today in light of your examples; these are super helpful. I'm going to work on an example for the Guidelines uses more than the standard limited things we've been using in examples of biblScope. Also, we're all pretty clear now that we need the capacity for multiple `<seriesStmt>`s in the TEI header.

[2020-05-12 14:02] ebeshero opened #1998 "permit multiple seriesStmts in the TEI header"
Connected to #1870, Council recognizes that it would be helpful to permit multiple `<seriesStmt>`s in the TEI header, for cases where an item belongs to multiple series. We invite discussion here in case people have use cases, examples, or concerns.

[2020-05-12 14:25] ebeshero commented on #1879
@tuurma Council is wondering if we need `<listNote>` any longer given what we've developed for `<listAnnotation>`?

[2020-05-12 14:37] ebeshero commented on #1880
Council decides we can't really do this because it's too complicated given `<note>`'s membership in model.global. We're closing this after investigating together.

[2020-05-12 14:38] #1880 closed

[2020-05-12 15:00] martindholmes commented on #1998
In our LEMDO project, we are planning for a situation in which the same edited play is published in multiple anthologies managed by different teams -- one default LEMDO anthology and at least one other specialist anthology, such as a Shakespeare-focused collection -- and also as a print publication. It would be really useful to have multiple `<seriesStmt>` elements for this.

[2020-05-18 13:37] sydb opened #1999 "why is <graphic> not a member of att.typed?"
The example we have of `<graphic>` in the tagdoc is a bit, well, lame:
[code]
Seems to me one might want to differentiate high from low resolution images **without** examining the URL, as it may not contain that information, or not in an easily parsable way. (Heck, that’s what **I** want to do, which is what led me to discover there is no `@type` on `<graphic>`.) The `<graphic>` element certainly

[2020-05-19 13:11] sydb commented on #1891
Per Council meeting, green for `<pc>` (not for whole of model.segLike).

[2020-05-19 13:14] MegJBrown commented on #1908
Council is greenlighting James's suggestion to change datatype to be teidata.enumerated.

[2020-05-19 14:05] ebeshero commented on #1910
Most of Council agrees with implementing `@where` on `<conversion>`, and we want an attribute class for `@where` to be used as it is on `<event>`. But putting multiple values on `@where` seems problematic for keeping this definition consistent with its use on `<event>`. We are considering an attribute class, `att.locatable` and will open a new ticket about this.

[2020-05-19 14:07] sydb commented on #1910
If `<conversion>` were to have a `@where` attribute that allowed only one value, @tillgrallert’s example above would be encoded with something like the following:
[code]

[2020-05-19 14:15] sydb commented on #1911
Council agrees to adding `<material>` to att.typed, but also thinks the original request is really for a `@role` or `@function`. We are leaning towards adding `@function`, but need to do further work on how this `@function` will align with the uses of `@function` on `<metamark>` and att.segLike.

[2020-05-19 14:38] hcayless commented on #1914
We will implement this by adding model.graphicLike with an example of its usage.

[2020-05-19 15:16] martinascholger commented on #1999
Interestingly, I asked myself exactly the same question when I was looking at a project today. So I'm in favour of making `<graphic>` a member of att.typed.

[2020-05-19 15:36] raffazizzi commented on #1991
I think there are two levels of checking here:
1. Is the internal organization of an ODD consistent? E.g. plucking a few from @jamescummings 's list above:
* warn if not well formed and valid ODD
* warn of any unused classes
* warn if any specGrpRef point to things which don't exist
* warn if schemaSpec start attribute contains an element that is not available in the ODD
* warn if explicit content

[2020-05-19 15:56] ebeshero commented on #1999
I'd agree, too. Of course IIIF URLs do make it clear with values like pct:10 or pct:50 in the URL how to render an image at a given resolution. But not everyone immediately understands this from the URL, and not every image call will be expressed in IIIF, so I think it's smart to allow for att.typed to help supply more information about resolution or anything else important for a project (whether

[2020-05-19 16:04] sydb commented on #1998
Main concern is whether or not `<seriesStmt>` should become a member of att.declarable, too, then. (In the use case we have imagined — this TEI document is a member of multiple different series — it is not necessary or even helpful to have `@default`. But many (if not most) other repeatable elements in the header are members of att.declarable so that different bits of the TEI document or corpus ca

[2020-05-21 12:51] martinascholger commented on #1956
Fixed the links on "customization" page and changed reference on "get involved" page to GitHub.

[2020-05-21 12:51] #1956 closed

[2020-05-22 14:36] peterstadler commented on #1918
@syd and I took a look at this issue today and did some experiments:

1. replace `<q>`'s class membership of `model.qLike` with `model.hiLike`:
Result: quite nice, i.e. it 'solves' most of the above issues but it introduces a regression in disallowing `<q>` from appearing in the model.inter contexts.

2. add class membership of `model.hiLike` to `<q>` (in addition to `model.qLike`)
Result: a lot o

[2020-05-25 15:22] lb42 commented on #1916
What is meant by "the full content model" here? the content model you would get if you used TEI all instead? But in that case, what's the point of defining this ODD at all?

[2020-05-25 15:27] sydb commented on #1916
Better yet, it would mean getting rid of such a useless “customization” altogether. (And to be clear, I don’t really mean getting rid of the Corpus template that @raducoravu mentions above, but rather the ridiculous customization upon which it is based.) I call these customizations that TEI-C makes publicly available, and IMHO should mostly not, “template” customizations. See [this article](https:

[2020-05-25 15:31] martindholmes commented on #1916
I think there's value in providing a decent starting-point for people working on specific types of text. There are two advantages: first, those who cannot and will never customize anything are at least not consigned to working with tei_all; and second, those who can and will customize have a decent example/starting point that they can work from.

[2020-05-25 16:32] bleierr opened #2000 "Permit <row> and <cell> within <rdg> and <lem>"
Currently in the TEI guidelines it is allowed to use <app> within <table>, but  one can't use <row> or <cell> within <lem> or <rdg>.
The following is not possible:
            <table>
                    <app>
                        <lem>
                            <row>
                                <cell></cell>
                                <cell></cell>
                            </row>

[2020-05-25 16:34] lb42 commented on #1916
Those who "never will customize" may also perhaps learn why this is a suboptimal strategy by being forced to confront the limitations of the existing exemplars!

[2020-05-25 16:37] bansp commented on #1916
It would be interesting to know how many linguistic corpora have been based on this customization. I've always started with TEI Bare myself, but I fully agree with Martin that 'thematic' customizations are useful, and further, they can indeed constitute selling points for some communities.

In the general spirit of how/where this thread is moving, I would say that, especially given the recent and

[2020-05-25 17:18] martindholmes commented on #1916
I don't think we should label anything that's part of the TEI release or the Oxygen plugin as "under construction". The first thing to do is I think to re-label this as Linguistic Corpus, and then anyone qualified can work on making it better. The second question for me is whether any kind of parallel "Non-linguistic corpus" schema should be available, or whether we just assume people will then ch

[2020-05-25 17:45] sydb commented on #1916
@martindholmes:

Agreed. But this (P5/Exemplars/tei_corpus.odd and oxygen-tei/frameworks/tei/templates/TEI P5/Corpus.*) is not even **remotely close** to a decent starting point. It is better characterized as _indecent_.

@lb42: A good idea, in theory, but what in fact happens is people use the template ODDs in Exemplars/ as end-point schemas. Which is worse, I think.

@bansp:

Agreed. If you _can

[2020-05-26 11:38] bansp commented on #1916
Good point about "under construction" in a production deliverable.

[2020-05-26 14:52] peterstadler commented on #1918
Next meeting, next (crazy) idea:
* remove `model.qLike` completely and move its members to `model.hiLike`. Except for `<floatingText>` which semantically never fitted there.

[2020-05-26 14:53] sydb commented on #1918
Possible names for model.qLike if `<q>` has been removed from it:
- model.attributed — because the text in these elements is attributed to someone (perhaps a character)
- model.nonNarratorial — because the text in these elements is asserted as being attributed to someone other than the narrator.

[2020-05-27 13:14] peterstadler commented on #1993
It seems I've been too quick with the PR #1996

To me it was clear that we'd follow the SemVer specification and that we'd want to update `teidata.version` accordingly. I can see at least two benefits:
* in following the SemVer scheme,  the TEI gains a predictable and interoperable version number
* the TEI acknowledges that standard and facilitates its use in TEI documents

Of course, we'd need to

[2020-05-27 17:02] dariok opened #2001 "listPrefixDev and prefixDef – problems with wording of prose and usage"
Reading @lb42 ’s question about `prefixDef` on TEI-L, I remembered a lengthy discussion about this and found that “prefixDef” actually is somewhat of a misnomer which, in this discussion, lead to quite a bit of confusion. The other party in the discussion, from the term “prefixDef” took that it was meant to designate a namespace prefix.

Of course, we are not talking about a _prefix_ but about a l

[2020-05-27 17:48] martindholmes commented on #2001
Hi Dario,

Mea culpa there, since I was largely responsible for these elements. But
the RFC for URI schemes explicitly uses the term "prefix" when talking
about private URI schemes:

<https://tools.ietf.org/html/rfc7595>

We could rename the elements pusDef and listPusDef, but those are pretty
nasty-sounding names. :-)

Cheers,
Martin

On 2020-05-27 10:03 a.m., Dario Kampkaspar wrote:

--
--------

[2020-05-27 17:52] jamescummings commented on #2001
It doesn't seem like renaming elements is needed (certainly not those names!) but it could maybe be clarified slightly in the prose.

[2020-05-27 18:03] martindholmes commented on #2001
On the issue of a central registry, the RFC specifies that you should use your domain name, reversed, as the prefix; so we would have:

ca.uvic.mapoflondon.prs

as the prefix for "person" in the Map of London project. That completely undermines the value of specifying a short prefix to simplify mapping within your project, so I think it's pointless. The idea is that we specify our prefixDefs insid

[2020-05-27 18:17] lb42 commented on #2001
If your project is organized as a TEI corpus, with a teiCorpus element wrapping all its constituent components, the logical place for listPrefixDef (and much else besides) is the outermost  teiHeader, aka "the corpus header". I realise that not everyone is comfortable with  this hierarchic structure, but that's how the TEI was originally designed, and for those who *are* comfortable with the notio

[2020-05-27 18:48] martindholmes commented on #2001
@lb42 I'm talking about projects with many thousands of TEI files; it's not really practical to put the entirety of such a project inside a single teiCorpus element.

When I think a little more about the other issue, I wonder if it's really meaningful to say that these are private URI schemes in the true sense of the word; they make use of the prefixing syntax to create things which are valid URIs

[2020-05-27 19:04] lb42 commented on #2001
@martindholmes, I agree with the  second point, but less with the first one.

[2020-05-27 19:07] martindholmes commented on #2001
@lb42 Would you suggest maintaining a single teiCorpus file with 8,000 XIncludes, which has to be expanded and processed as a whole in order to resolve the prefixDefs? That seems pretty inconvenient.

[2020-05-27 19:18] lb42 commented on #2001
It depends what you want to do in your processing, doesn't it? If you want to make sure that the xml:id values are unique across the whole corpus, you will need to process the whole thing. If you want to produce a display version of some subset of it, you won't. Expanding prefixDefs is probably more important for the second than the first task. So I would imagine a kind of environment in which you

[2020-05-27 19:21] martindholmes commented on #2001
@lb42 You wouldn't require such a thing; you would only use it if you need it.

[2020-05-27 20:40] wlpotter opened #2002 "FR: Allow @period to have Datatype of "1–∞ occurrences of teidata.pointer separated by whitespace""
Currently, the TEI guidelines constrain the `@period` attribute to only a single value of type teidata.pointer. This proposal requests that the `@period` attribute be changed to allow "1–∞ occurrences of [teidata.pointer](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-teidata.pointer.html) separated by whitespace". There are many cases where a datable event occurs across the boundaries o

[2020-05-27 20:51] martindholmes commented on #2002
+1 from me.

[2020-05-28 00:38] sydb commented on #2002
Seems like a reasonable request. But seems to me the _Guidelines_ should not just say “you can use more than one”, but also have to say what more than one _means_. Only three possibilities jump to mind, but there may be others:

1. The event being discussed (in this case, the date of origin of a manuscript) occurred during one of the listed periods, we’re not saying which (quite likely because we

[2020-05-31 20:28] joeytakeda opened #2003 "FR: <surfaceGrp> should contain model.graphicLike"
For a project, we want to be able to describe sections of a large PDF document (but not individual pages); however, since `<surfaceGrp>` does not have `model.graphicLike` in its content model, we cannot truthfully point to that representation—we can only point to individual pages as individual files using individual `<surface>` elements.

Adding `model.graphicLike` to `<surfaceGrp>` seems like a b