[2020-05-31 21:40] tiagofassoni opened #2004 "Guidelines PDF doesn't render correctly tutorial code"
In page xxx of Guidelines.pdf, there is an example RELAX NG schema. It is rendered incorrectly in PDF. I tried viewing with MacOS' Preview.app and Firefox' built-in PDF reader.

I believe it's some fault in the system that generates the PDF, as the code is correct. Any ideas on where might be the error in the build system? (so I can try to debug and make a pull request).

<img width="486" alt="ima

[2020-06-02 07:22] luengen commented on #1955
Dear Elisa, dear colleagues, many thanks for this. Please note that we are available for more exchange and discussion, also for instance in a zoom meeting, if desired.
Best - Harald (with Michael Beißwenger, for the TEI SIG CMC)

[2020-06-05 14:20] ebeshero commented on #1918
Thinking about the proposed renaming, I don’t like  the name model.nonNarratorial for this remodeled class because it takes an idea from a kind of storytelling (some narrative theory? whose?) and presupposes that texts, regardless of genre, have a single narrator. I don’t think narration by one or another speaking voice is an accurate description of the elements bundled in model.qLike. We’re talki

[2020-06-05 14:47] ebeshero commented on #1918
What about `model.attributable` instead of `model.attributed`? Maybe that is a little more flexible and inclusive—would it work for all the elements involved? A passage, thought, or spoken expression could be attributable to anyone, including the author or narrator of the current document.

Hope this is helpful—and thanks for working on this @peterstadler and @sydb !

[2020-06-08 17:29] jamescummings commented on #2002
The period attribute "supplies a pointer to some location defining a named period of time within which the datable item is understood to have occurred."

I don't think more than that is necessarily needed (without trodding on some well-known dating wasp nests) in defining multiple pointers, @sydb. Just that it should be interpreted as pointing to multiple periods of time in which the datable item

[2020-06-12 16:21] rvdb opened #2006 "Guidelines wrongly document @wit as attribute for <rdgGrp>"
I think I've spotted some mistakes in the prose of Chapter 12 "Critical Apparatus", concerning the attribute classes of `<rdgGrp>`. The guidelines still document that `@wit` is allowed on `<rdgGrp>`. Yet, this is contradicted by the [specification](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-rdgGrp.html) of `<rdgGrp>`. The discussion in issue https://github.com/TEIC/TEI/issues/1004 se

[2020-06-24 12:02] wobweger opened #2009 "build instructions"
dear all,

I'm new at this, so please pardon me.
I tried to locate and follow build [instructions](https://tei-c.org/guidelines/p5/using-the-tei-github-repository/).

stylesheet tests seem to work. at least `Stylesheets/Test/test_xml.odt` has current date and looks okay.

checking log (a lot) show warnings `XML resolver not found`.
is that an indication of a bigger problem?

[20200624.log](https:/

[2020-06-24 13:38] sydb commented on #2009
Have a meeting in -8 mins, so can’t dive into details now. But 1st question: are you trying to build the Stylesheets, the _Guidelines_, or both, and why?
Generally speaking if you want to build a local copy of the _Guidelines_, it is a lot easier to do with a container. (We use Docker.) Instructions are ... um, I will look around for them.
In the meantime, I am not much of a CentOS user, but can v

[2020-06-24 13:59] sydb commented on #2009
We have two kinds of Docker images for building the _Guidelines_. The first was originally intended to set up a CI server as well, but can be used without, for which there is [some documentation](https://github.com/TEIC/Jenkins#usage-of-the-docker-image-without-the-jenkins-server).
The second is, I think, intended to be used for building the development version (as opposed to released version) of

[2020-06-24 14:02] sydb commented on #2009
Oh, and no, I don’t think the “XML resolver not found” messages are a problem at all.

[2020-06-24 14:12] wobweger commented on #2009
thx, for you response.
I'll go through answers in detail, when my brain is back to operation, so tomorrow morning.

I guess, I don't want to build guidelines locally.
Having TEI ready to use locally, I want.
Getting a good looking document (LaTex, pdf) out of encoded xml is useful.
(just started to walk learning curve :wink:)

[2020-06-24 14:20] sydb commented on #2009
Then I think you probably already have what you need (a copy of the Stylesheets repo).

To use, try something like
[code]
That will produce a file /path/to/your/INPUT.tei.latex. Whether it is good looking or not is another story. There are converts to docx, epub, html, and pdf, among others. These do pretty much exactly the same conversion as you get in oXygen or [OxGarage](https://oxgarage.tei-c.

[2020-06-25 05:12] wobweger commented on #2009
@sydb thx for your fast response :smile:

+ teitolatex
+ teitohtml
+ teitohtml5

all work fine, properly installed, so shell command
`teitohtml asj18930310.xml `
produce an good looking result.

[input](https://schnitzler-tagebuch.acdh.oeaw.ac.at/resolver/resolve-doc.xql?doc-name=entry__1893-03-10.xml&collection=editions)
[online](https://schnitzler-tagebuch.acdh.oeaw.ac.at/pages/show.html?documen

[2020-06-25 14:32] sydb commented on #2009
Error confirmed.
Taking a look now. I can not even find the problem, let alone figure out what to do about it.

- symlink `teitodocx` calls `transformtei`
- it calls ant using docx/build-to.xml
- it calls `<builddocx>`, which is defined in common/teianttasks.xml
- on line 177 it tries to process profiles/default/docx/to.xsl with Saxon
- to.xsl imports docx/to/teitodocx.xsl
- docx/to/teitodocx.xsl

[2020-06-25 14:56] sydb commented on #2009
Another approach we might take: what is different about @wobweger’s input file here such that it throws this error, whereas other people have (I presume) been using teitodocx for years without a problem.
I’m running teitodocx on a selection of ~30 TEI files chosen at whim, just to see what happens.
Roughly 1 of 3 “Failed to process”, including at least one case of a similar error in a different pl

[2020-06-25 15:25] peterstadler commented on #2009
There are [some known issues with the docx transformation](https://github.com/TEIC/Stylesheets/issues?q=is%3Aissue+is%3Aopen+label%3A%22conversion%3A+docx%22), especially when dealing with documents from GoogleDocx.

[2020-06-25 15:34] wobweger commented on #2009
credit goes to @martinantonmueller :smile:

[2020-06-26 17:48] sydb commented on #2009
@wobweger: just curious, credit for what goes to @martinantonmueller? (TEI file says Index collation and corrections.)

Also, what was the problem you were having with LaTeX output? (I ran the output through a program to render the LaTeX as HTML. It found an extraneous ampersand (‘&’) on line 338; after I removed that, same program gave no errors, but also ran forever and gave no results. :-(

Any

[2020-06-26 18:43] martinantonmueller commented on #2009
I don‘t know what I am doing here, either!

[2020-06-29 07:16] wobweger commented on #2009
finding good test data is and has been always a challenge, I as a coder was and will be always happy once I've got one.
but never mind.

back to latex then, current version on centOS8 gives me a headache
`texlive.x86_64                    7:20180414-14.el8 `
properly my skills are a little rusty

so far I had to install

[code]

and add several packages

+ wrapfig
+ relsize
+ ucs
+ framed
+ ulem

[2020-06-29 07:23] sydb commented on #2009
Sorry, @wobweger, I do not know anything about installing LaTeX. But that URL (the [LaTeX Forum](https://latex.org/forum/)) loaded fine for me, so I would encourage you to try again.

[2020-06-29 17:53] lb42 commented on #2009
did you install the texlive-xetex package?

[2020-06-29 20:08] amclark42 opened #2010 "Proposal: new element <persPronouns>"
I propose a new element to contain personal pronouns. In my own ODD customization, I've called this element `<persPronouns>`, and closely modeled it after `<sex>`.

## Why do this?

In email signatures and biographies, people will often include their preferred personal pronouns along with their name or handle. For example: `J. Doe (she/they)`. This pattern is a means for transgender and gender var

[2020-06-29 20:23] martindholmes commented on #2010
Since pronouns are language-specific, I don't know whether we should provide suggested values in English; I think it would make more sense to provide examples of implementations for English and non-English projects/person elements.

[2020-06-29 20:28] amclark42 commented on #2010
@martindholmes That makes sense to me!

[2020-06-29 20:58] ebeshero commented on #2010
I like the idea of this for personography listings, and I like your concept for the `@evidence` attribute on the `<sex>` and `<persPronouns>` . But I would caution against using spaces in suggested singular values, as in `evidence="trusted third party"` because we’re used to spaces signaling a sequence of values, and we need a way to indicate multiple sources of evidence, just as we need multiple

[2020-06-29 22:10] amclark42 commented on #2010
@ebeshero Good point! I just pulled up the conversation, and @sydb did indeed suggest "trusted-third-party", rather than a version with spaces.

Since there's no need to implement a semi-open list of space-separated tokens, `@value`'s contents can be implemented on the project level, depending on how the attribute will be processed.

Possibilities:

- `value="she her hers"`
- `value="she they"`
-

[2020-06-29 22:23] ebeshero commented on #2010
@amclark42 The hyphenated value certainly helps for `@evidence`, yes.

As for the `@value` for the pronouns, I wonder if its necessary to include all the cases of the pronoun? I know that's what people do in their email signatures and conference badges, but I wonder if simply the nominative case of the pronoun might be sufficient?

This way you could have:

`value="she they"`

We could go further

[2020-06-29 22:28] jamescummings commented on #2010
One of the questions that will be asked is why should this not just be done with the existing elements like trait or state? (I'm not arguing against this element but use trait/state is what we've said for other proposals for new elements inside person/place.) If we can flesh out its justification in advance it will certainly not hurt.

[2020-06-30 06:29] wobweger commented on #2009
yes `texlive-xetex.x86_64                7:20180414-14.el8`

[2020-06-30 18:33] amclark42 commented on #2010
@ebeshero Yes, you're absolutely right. The nominative case alone would work well, and presents fewer challenges for suggested values in translation.

@jamescummings This is an interesting question. Personal pronouns are not a trait, as they can change over time. `<state>` is potentially appropriate, as it is datable, allowed in both `<person>` and `<signed>`, and it has `@evidence`. It appears th

[2020-07-01 16:05] duncdrum opened #2011 "<pubPlace> vs <place>"
so `<bibl>` seems to be the place for bibliographic references of not just books (movies, opera performances, and a few others in what i m currently working on). So far so good, however, I took `<pubPlace>` to be syntactic sugar for `<place type="publication">` yet that doesn't seem to be the case.

This project wishes to record information about first performances and other type of places that us

[2020-07-01 16:32] peterstadler commented on #2011
`<pubPlace>` is more analogous to `<placeName type="publication">` (concerning its content model). Would that be an option to replace your proposed  `<place ref="#SP0436"/>` with `<placeName ref="#SP0436"/>`?

[2020-07-01 22:51] duncdrum commented on #2011
Hmm while better then `pubPlace` I still find this counterintuitive, the bibliography references a `place`, not its name. Similarly `author` references a `person` not their name.  So the following guidelines example is just three persName elements?

[code]

Should I now include an `author` element alongside all the other `persName` variants in my prosopography section? What about publishers with m

[2020-07-01 23:06] martindholmes commented on #2011
@duncdrum I'm interested to see this:

"the bibliography references a place, not its name"

which caused me to think again about how bibliography items work. I've always thought of a bibl as containing a sequence of  referring strings, and the tags as identifying the roles of those strings; so:

`<pubPlace>London</pubPlace>`

is as Peter suggested a special case (descendant class, really, in my ol

[2020-07-02 10:44] duncdrum commented on #2011
@martindholmes indeed I'm in the process of generating the central authority lists for the standoff element, not encoding a transcribed bibliography. Both of course would use `listBibl`.

So from the discussion so far, i d say that the content model is needlessly ambiguous. I could live with `bibl` being a descendant class of `rs` but then the content model of e.g. `<author>` should reflect that b

[2020-07-02 14:27] martindholmes commented on #2011
@duncdrum On this:

`<person type="author">`

I don't think I agree that an author is a type of person. I think authorship is a role played by a person with respect to a piece of work.

[2020-07-02 15:39] duncdrum commented on #2011
@martindholmes i was hasty with the demo, its adjusted now. switch `@type` for `@role`. In either case, i don't see being an author as a type of name.

[2020-07-02 20:01] sydb commented on #1989
Assigning to @raffazizzi for the italian, @vbigot-juloux for the French, and (as soon as he has access to the repo) @alex-bia for the Spanish.

(BTW, I think @lb42 is completely correct, this is just the natural state after updates have been made but translations have not; however, since OP and @ebeshero have already put work in on this, I think we may as well capitalize on it. :-)

[2020-07-02 20:09] sydb commented on #1990
This is now [Stylesheets#446](https://github.com/TEIC/Stylesheets/issues/446).

[2020-07-02 20:09] #1990 closed

[2020-07-03 19:05] martinascholger commented on #1860
@peterstadler and I discussed the issue in a meeting on July, 1. Based on the discussion, Peter started with a first draft for an example customization.

[2020-07-06 14:31] laurentromary opened #2012 "revamp att.interpLike"
This class is one reason for still having a couple of elements (interp interpGrp span spanGrp) just having `@type` and not being members of `att.typed`. Could we make a quick fix:

- delete `@type` from att.interpLike
- make `<interp>`, `<interpGrp>`, `<span>` and `<spanGrp>` members of att.typed

[2020-07-06 15:56] bansp commented on #2012
Oh, +1 to that, great catch!

[2020-07-07 08:41] chiarcos commented on #1860
Am .07.2020, 21:06 Uhr, schrieb Martina Scholger
<notifications@github.com>:

Great news! Let me know how to help.

[2020-07-10 14:36] martindholmes opened #2013 "Add more elements to att.docStatus"
Following this discussion on TEI-L:

http://tei-l.970651.n3.nabble.com/Encoding-status-of-items-rather-than-documents-td4032773.html

this ticket suggests that there is a need to be able to specify the status (draft, proofed, published etc.) not just of documents but of a variety of different elements which don't constitute documents in themselves. These are elements appearing in resource lists su

[2020-07-12 06:42] laurentromary commented on #2013
Thanks a lot Martin for pushing this.
I am using the @status myself at various places and list a few sample of usages and values here:
TEI: general validation status of the document
listPlace: to indicate the applicability of a certain legal document to a certain place
•	E.g.: status="original" – the places like they were originally set at the beginning of the procedures
•	E.g.: status=”extended”,

[2020-07-14 11:03] sydb commented on #1916
I expect this table to be edited in-place, here in this comment. (This probably is not the best place for this information, but I’ve already done it, so …)

name | category |  comments  | `@n` | title | author | # nodes | # elements (TEI/all)
-----|----------|------------|------|-------|--------|---------|---------------------
isofs.odd             | demo | just starting point of `<fs>`, `<fLib>`,

[2020-07-16 18:42] raffazizzi commented on #1427
@brettttt and @gerritbruening we just sent a [PR](https://github.com/TEIC/TEI/pull/2014) addressing this issue, we welcome your feedback from you and others!

[2020-07-22 12:22] MegJBrown commented on #2002
I agree with James: the need for multiple pointers doesn't require us to predetermine the relationship of all pointers to each other, or what is being described beyond "occurred within" which (to paraphrase) is in the current definition. The periods in question might be overlapping, from different disciplines ("Hand Press" and "Early Modern" overlap, but not entirely), or serve different purposes

[2020-07-22 13:00] MegJBrown commented on #1951
Fixed the 4 instances of a <gi>fs in FS-FeatureStructure to an <gi>fs

[2020-07-22 15:18] ebeshero commented on #2012
This looks remarkably unproblematic...Can anyone think of problems we might encounter in changing this? @sydb ? @hcayless ?

[2020-07-22 16:33] sydb commented on #2012
This one was (deliberately) not addressed by #386, as it is not free-standing. But @emylonas and I noted in our work on that ticket that there are 3 classes that should be looked at:

1. att.entryLike
1. att.interpLike (this one)
3. att.textCritical

We did not, at the time, actually look at them, IIRC.

At least in this case, making the change would require either that

- the `@type` of att.inter

[2020-07-22 16:46] martindholmes commented on #2009
@wobweger I'm not quite clear on what the problem is here. Could you post the TEI file you're trying to convert, and explain exactly what you see when you run teitolatex on it? Also, do you have the texlive-full package installed? Grepping my texlive packages, I have these:

texlive-base/bionic,bionic,now 2017.20180305-1 all [installed,automatic]
texlive-bibtex-extra/bionic,bionic,now 2017.2018030

[2020-07-22 16:51] ebeshero commented on #2009
Hi @martindholmes ! I was triaging tickets and thought you just might have some ideas about this one! :-) Thanks for jumping in.  @wobweger, I take it you are still having difficulties, right?

[2020-07-22 17:00] sydb opened #2015 "indefinite articles"
## Indefinite articles preceding `<gi>` or `<att>`

In #1951 I looked at only the indefinite articles in front of element names that started with the letter ‘f’ when (I thought) it was pronounced “eff” (i.e., not names like “faith” or “front”, but rather like “fvLib” or “fsDecl”).

Here I have modified that cute little XSLT program to look at all of them. I then went through the list by hand, and

[2020-07-22 17:13] ebeshero commented on #2013
Indeed, I have an immediate application for this from the Digital Mitford project's prosopography lists, as these are often very much in progress and some are just "stubs" in need of development. Reviewing the emails on the TEI list, the use of @resp is often what we go with to tell who's been through an entry and get a sense of its status. I like being able to formalize the status of an entry (as

[2020-07-22 17:21] martindholmes commented on #2013
I don't really know whether documents actually exist as distinct entities any more, in most TEI collections. Files certainly exist, but what we think of as a "document" is so interlinked and interdependent with other resources that it's almost a meaningless concept. On balance, I think `@status` in `att.status` would make more sense, with its membership constituting anything that is arguably a dis

[2020-07-22 18:40] laurentromary commented on #2012
I also like proposal 3. above. This is simple and easy to maintain in the long run.

[2020-07-23 04:39] wobweger commented on #2009
no progress to report so far, still lost in LaTeX administration

2 suspicious facts may need resolving:

+ package babel doesn't know english
+ eledmac / reledmac or so doesn't build
  got the impression this package is important

what's installed :arrow_down: , in addition some TeX packages were added manually

[code]

[2020-07-23 04:53] martindholmes commented on #2009
@wobweger I don't understand what babel and reledmac have to do with the TEI Stylesheets. Is this a TEI Stylesheets issue, or is it just a question about how to get LaTeX working on your computer?

[2020-07-23 05:10] wobweger commented on #2009
I'm actually clue less, might be simple a LaTeX installation problem, but it comes from official centOS repositories, so I assume they are supposed to work.

[2020-07-23 15:47] martindholmes commented on #2009
@wobweger I don't actually see how this has anything to do with the TEI. I think you need to get some CentOS support. Unless there's an actual question about our stylesheets, I think this ticket should be closed. @peterstadler what do you think?

[2020-07-27 16:23] jamescummings opened #2016 "<place> should be allowed to contain <address> as a child."
It seem strange to be that `<place>` is not allowed to contain `<address>` as a child. One can indeed embed it in `<location>` and similar elements, but wanting to have an address directly inside a `<place>` element seems reasonable for more abbreviated places.

[2020-07-28 08:11] AnasGhrab opened #2017 "author - birth - death in teiHeader"
Hi,

I'm doing a critical edition of a text. How to put the birth and the death dates of the author in the teiHeader ?

Thank !

--
Anas

[2020-07-28 08:35] laurentromary commented on #2017
This reminds me of an old debate regarding putting more stuff in authors' descriptions, cf. https://github.com/TEIC/TEI/issues/542. Shall we reopen the debate?

[2020-07-28 10:18] martinascholger commented on #1734
The original request has been implemented - I'm closing this ticket. Feel free to reopen if you have an example for att.notated, @laurentromary and @ttasovac

[2020-07-28 10:18] #1734 closed

[2020-07-28 12:27] raffazizzi commented on #1813
@martinascholger since @lb42 has updated the files (located here: https://github.com/TEIC/TEI/tree/dev/Documents/ODDintro) we need to update the page on wordpress (https://tei-c.org/guidelines/customization/getting-started-with-p5-odds/).
I haven't edited the wordpress site before, so is this something that you or @hcayless can do? I'd be happy to shadow so I can also make these changes next time.

[2020-07-28 12:29] raffazizzi commented on #1805
@duncdrum we're now working on the next release and I've acted to late to send you a timely reminder :(
Either way, let us know if you have any updates!

[2020-07-28 12:42] duncdrum commented on #1805
@raffazizzi yes this will not be done for the next release, other things have bumped up the priority pile, sorry I ll get back to it as soon as things have settled down again, so it is not abandoned.

[2020-07-28 12:55] raffazizzi commented on #1800
I can see two ways of implementing this (allowing `<usg>` within `<def>`) and would like the council's opinion before moving ahead.

1. Brute force: `<usg>` within `<def>` allowed directly
[code]

2. Add `model.lexicalRefinement`, the class with `<usg>` to the content of `<def>`. Which strikes me as more elegant, but would also allow `colloc gramGrp lbl pos subc`.
[code]

[2020-07-28 13:08] raffazizzi commented on #1744
@jamescummings while you're not officially assigned, I think we're still hoping for a proposal from you. Let us know if that's still part of your plans

[2020-07-28 13:17] raffazizzi commented on #1715
I wonder if it's time to return to this. I think I was pushing for these adjustments as I worked on Roma, but I think they are still important. What do you think of the latest definitions? @sydb do the changed definitions above match your expectations of what the mode values mean?

[2020-07-28 13:20] raffazizzi commented on #1710
As asked by the subgroup, I have created [an update list](https://github.com/TEIC/TEI/issues/1710#issuecomment-623139443) and summarized the proposed changes ([previous comment](https://github.com/TEIC/TEI/issues/1710#issuecomment-623145662))

@martinascholger since you're also assigned perhaps you can do a quick review? If it looks ok I can make this into a Pull Request

[2020-07-28 13:23] raffazizzi commented on #1542
@jamescummings and @emylonas would you be able to work on an encoding of this page: https://medieval.bodleian.ox.ac.uk/images/ms/cah/cah0142.gif to help us out creating an example?

[2020-07-28 14:50] martinascholger commented on #1710
@raffazizzi looks good. I wonder if it might be a problem to move `att.duration.w3c`, `att.duration.iso`, and `teidata.temporal.iso` because of their members'/references' membership.

[2020-07-28 14:57] raffazizzi commented on #1710
Thanks @martinascholger !

`att.duration` is already in `spoken` even though it has members in `core`. So `att.duration.w3c`, `att.duration.iso` are already only usable when `spoken` is included, but they are defined on `tei`.

`teidata.temporal.iso` seems to only be used by `att.datable.iso`, which is defined in `namesdates`, so I think it makes sense to move `teidata.temporal.iso` from `tei` to

[2020-07-28 15:13] martinascholger commented on #1710
Makes sense. Let me know if I can help with the PR.

[2020-07-28 17:34] martindholmes commented on #2017
I think this ought to be an email to the TEI-L list rather  than a GitHub issue. @AnasGhrab Could  you join TEI-L (https://listserv.brown.edu/cgi-bin/wa?A0=TEI-L) and send it there?

[2020-07-28 18:13] #2017 closed

[2020-07-29 12:34] martinascholger commented on #1813
I have access to the website. "Getting started ..." is a wordpress page and I am happy to update the page, but I wonder if we should move the files to a new folder (e.g. ODD) in the documentation repo. Here, the text is rendered using CETEIcean (see working papers: http://teic.github.io/TCW/tcw20.html) and we wouldn't have to maintain the XML and the wordpress file. The disadvantage is that header

[2020-07-30 10:33] holfordm commented on #1427
Is the phrase "primary source materials" helpful? For most people a modern edition of a medieval charter would still be a primary source but that is not what the chapter is about. The new summary of the chapter in `div xml:id="PHOV"` is very helpful, and I wonder the first sentence (lines 14-15) could say something like 'this chapter provides guidelines for the encoding of materials where issues s

[2020-07-31 08:57] peterstadler commented on #2009
Installing all the dependencies for all the various TEI transformations is not a simple task and I agree that the build instructions might be out of date. Yet, we provide a ready made [Docker image](https://hub.docker.com/r/teic/jenkins) which should provide you with all the necessary stuff to run all these transformations "out of the box" (especially see section "[Usage of the Docker image withou

[2020-07-31 09:37] martinascholger commented on #1908
implemented with b5f948c

[2020-07-31 09:37] #1908 closed

[2020-07-31 10:31] peterstadler commented on #1860
Just for the record: The current draft of the customisation ODD is added in the branch `issue-1860` at https://github.com/TEIC/TEI/commit/151136c0a4f557c3136ad232a7c5c4ef37bb772d.
It simply adds all RDFa attributes to a new class `att.global.analytic.rdfa` and hooks this class into `att.global.analytic`.

[2020-07-31 10:40] wobweger commented on #2009
@peterstadler , thx,
sure, so TEI provide an unexpected opportunity to get familiar with dockers, which I managed to avoid up to now.
Getting LaTeX; 3 I think;  running on my favored OS is going to improve my connectome significantly, :smile: , I hope.

[2020-07-31 11:04] peterstadler commented on #2009
Yes, it seems you're not far from your goal and there's just that little LaTeX issue … (famous last words ;)
… so Docker might be overkill if you're not yet familiar with it.

@wobweger do you think we might close that issue if there's nothing TEI related left?

[2020-07-31 11:08] wobweger commented on #2009
fine by me
many thinks for reading and engaging to all, :smile:

[2020-07-31 11:09] #2009 closed

[2020-07-31 13:51] peterstadler commented on #1823
I think most of the work has been done, except the proposed exclusion of `<text>` as a direct child of `<teiCorpus>` (see [comment above](#issuecomment-531465879)).
To finish off this ticket I'd argue for *not* altering the content model nor adding a schematron constraint but rather update the  description of `<teiCorpus>` to state: "contains the whole of a TEI encoded corpus, comprising a single

[2020-07-31 14:12] peterstadler commented on #1957
I wonder whether such "processing instructions" rather belong into the ODD than into each TEI file? As I see that the TEI Publisher also supports the DTS API maybe @tuurma has some thoughts on this?

[2020-07-31 14:22] hcayless commented on #1957
@peterstadler What use would they be in the ODD? And why would I want to try in my ODD to model every possible structural variant rather than do it in the document where I can be specific about what that document does?

[2020-07-31 14:39] peterstadler commented on #1957
Well, I assumed this was mostly about making a *collection* of documents available not about a single item. And I assumed that some effort would be made to (structurally) harmonise those documents within that collection for data interchange (by creating an ODD based schema). Hence my conclusion that the majority of rules would be repeated in every document.
But you're right, one would want a mecha

[2020-07-31 14:39] martinascholger commented on #1844
implemented and tested, a83fbc3

[2020-07-31 14:39] #1844 closed

[2020-07-31 16:07] PonteIneptique commented on #1957
I would just add that files can be lost, updated, etc. Having such information directly in the file, without the need for parsing an ODD, is definitely a bonus. In context like DTS and generally APIs, it also allows for passing information to the client (with the security reserve mentioned before in the thread) with a single http request.
For example, Perseus corpora with Capitains have such mecha

[2020-08-02 13:12] jamescummings opened #2019 "ptr element should allow desc child"
In dealing with a large list of `<ptr/>` elements I have occasionally wanted to be able to provide a `<desc>` child to a pointer giving a description of the pointer. This would enable having descriptive text available for that pointer regardless of whether the target(s) are able to be found.

[code]

[2020-08-02 13:33] lb42 commented on #2019
If you used ref instead of ptr you wouldn't need to do this.

[2020-08-02 13:56] jamescummings commented on #2019
@lb42 our examples of ref would lead one to believe that the text inside is akin to text inside an html:a, forming link text. Yes, I could just use ref with solely a desc inside, but that somehow seems more incorrect to me. As if the reason one would choose ref is to be able to provide the text which is itself the reference. I'm using ptr specifically because I don't have that. I recognise that th

[2020-08-02 14:31] lb42 commented on #2019
Sfaicr the only reason for having both ptr and ref was to have a point in ng element which would be reliably empty. Your proposal screws that up for no very good reason. It seems like splitting hairs to distinguish the stuff you might put in a desc from the stuff you might want displayed as the reference itself.

[2020-08-02 20:27] #1606 closed

[2020-08-04 02:11] #1891 closed

[2020-08-04 02:11] #1914 closed

[2020-08-05 16:47] ebeshero commented on #1998
I think I can implement this one for our next release. A question for @martinascholger and @sydb : `<seriesStmt>` (zero or one) is permitted in `<biblFull>` and `<fileDesc>`. I think this ticket is *only* to address the `<seriesStmt>` contained by `<fileDesc>` , correct?

[2020-08-05 16:48] ebeshero commented on #1998
Or, shall we permit multiple `<seriesStmt>` elements in `<biblFull>` as well?

[2020-08-05 17:40] martindholmes opened #2020 "`<pron>` should be a member of att.typed"
This discussion on TEI-L:

http://tei-l.970651.n3.nabble.com/lt-pron-gt-and-phonemic-phonetic-td4032814.html

makes the case for `<pron>` as a member of att.typed, on the basis that it's repeatable and can be categorized in many ways (broad/narrow or phonemic/phonetic transcription, for example). No other appropriate way of encoding such distinctions has been suggested in the discussion, and other

[2020-08-05 18:29] lb42 commented on #2020
Seems like a no rainier to me.

[2020-08-05 18:37] martindholmes commented on #2020
@lb42 Typo or subtle joke I'm too dim to get?

[2020-08-05 18:40] lb42 commented on #2020
Sorry. Predictive text fail : I meant no brainer. No monagesque reference intended.

[2020-08-05 23:58] martindholmes commented on #1998
I think biblFull should mirror teiHeader, shouldn't it?

[2020-08-06 01:47] ebeshero commented on #1998
@martindholmes Yes, I tend to agree, especially since the examples we've been discussing might easily be encoded as biblFull in the teiHeader. I'm also thinking @sydb 's idea above to give seriesStmt membership in [att.declarable](https://tei-c.org/release/doc/tei-p5-doc/en/html//ref-att.declarable.html) might make sense while I'm addressing the ticket. Reading about declarable and declaring attri

[2020-08-06 18:45] martindholmes commented on #1998
Agreed on att.declarable.

[2020-08-07 05:05] laurentromary commented on #2020
I agree with  @lb42 , it could not be any sunnier. Let's have `<pron>` be typed.

[2020-08-07 11:51] hcayless commented on #1854
I've had a go at reformatting the deprecations appendix as a [list](https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/DEPRECATIONS.html). If there are screams of rage and disappointment, this change can be rolled back. If not, I will close the issue.

I agree with @lb42 about the redundancy of the subheading, which is a side effect of the div st

[2020-08-07 14:51] jamescummings commented on #1854
@hcayless Maybe make items bulleted?

[2020-08-07 16:35] martindholmes commented on #1854
FYI you can format a table as a list using pure CSS. We do that with large tables such as this:

https://mapoflondon.uvic.ca/mdtPrimarySourceLibraryProclamation.htm

If you make your browser window big, it's a table; if small, it's a list.

[2020-08-07 17:37] hcayless commented on #1854
@jamescummings how about [now](https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/DEPRECATIONS.html)? I'm not sure the bullets add much, tbh, but it's fine.

[2020-08-07 17:49] hcayless commented on #1852
I appear to have completed this and neglected to close it.

[2020-08-07 17:49] #1852 closed

[2020-08-07 17:50] #1917 closed

[2020-08-07 17:56] martindholmes commented on #1854
I find this less readable than the table, to be honest. At least with the table you know where to find each piece of info (deprecation date or whatever) in its column.

[2020-08-07 18:21] hcayless commented on #1431
I have added an example and explanation of using `<bibl>` with `@corresp` to capture short-form citations with bibliographic details.

[2020-08-07 18:21] #1431 closed

[2020-08-07 18:43] hcayless commented on #1985
This seems actually to be a Stylesheets issue. I've dealt with it [there](https://github.com/TEIC/Stylesheets/commit/fec23117724718edf72bbc48ad44cd9d1b161dec).

[2020-08-07 18:43] #1985 closed

[2020-08-07 18:49] hcayless commented on #1984
So the vulnerabilities are taken care of, but this prompts a much larger question: When do we redo the design of the Guidelines, in which all sorts of little horrors lurk. I've tried to get this discussion going before, but Council had no enthusiasm for it :-).

[2020-08-07 18:57] martindholmes commented on #1984
@hcayless I think any redesign of the Guidelines will be able to take advantage of so many recent enhancements to CSS and HTML that things will become much simpler. We would start by getting rid of all JavaScript, and then only at the end adding back enhancements such as turning footnote links into popups; each of those little features can be added dynamically on load, and be in its own little mod

[2020-08-08 19:52] hcayless commented on #1984
I'm going to close this one and open a GLs redesign issue.

[2020-08-08 19:52] #1984 closed

[2020-08-08 20:01] hcayless opened #2023 "Guidelines Redesign"
As @martindholmes remarks in #1984, there are a variety of things in the Guidelines which could usefully be updated to use modern HTML features (and possibly less JavaScript). This ticket is an umbrella for pulling together those issues.

Things I can think of:
 1. Consider using details/summary for showing/hiding TOC information
 2. Back off the super-aggressive use of tables for formatting
 3. T

[2020-08-08 20:17] #1610 closed

[2020-08-08 21:51] martindholmes commented on #2023
Given the complex nature of the spec file rendering, I think it would be a good idea to look at the use of CSS grid to get a more responsive design there.

[2020-08-08 22:24] ebeshero commented on #2023
Or possibly just CSS flexboxes? I’ve found these a little easier to implement than grid in the wild.

[2020-08-08 23:06] martindholmes commented on #2023
Flexbox is easier, I think, but Grid is way more powerful if you can get your head around it. :-)

[2020-08-10 00:01] ebeshero commented on #1998
I think I've resolved this ticket: Take a look at my Pull Request and let me know if you see anything amiss.

[2020-08-10 01:49] sydb commented on #1609
Re-examination shows that (as mentioned above) only tei_its.odd and tei_svg.odd still actually _use_ the RNG namespace. tei_jtei.odd still _mentions_ it.
About to remove the declarations from the others.

[2020-08-10 01:49] sydb commented on #1609
Should be closed as soon as Mr. Jenkins approves.

[2020-08-10 03:37] #1609 closed

[2020-08-10 07:48] peterstadler commented on #2023
My colleague @sonovice created some nice frontend for  the spec pages of an ODD based schema at https://axelberndt.github.io/MPM/docs. This might provide some ideas …

[2020-08-10 14:04] martinascholger commented on #1854
What about a table with two columns, date and description?

Date | Description
-- | --
2022-02-15 | The use of value inside charProp to specify a character or glyph property value is being replaced by either unicodeProp, localProp, or unihanProp.

Or, a list with the date at the beginning.

- **2022-02-15**: The use of value inside charProp to specify a character or glyph property value is being r

[2020-08-10 15:38] sydb opened #2025 "data. →teidata. leftovers"
A quick grep search says there are still ~37 occurrences of “data.” that should almost certainly be “teidata.” in the P5/Source/Guidelines/en/ and P5/Source/Specs/. (The regexp I used was `[^i]data\.[A-Za-z_]`.)

[2020-08-10 16:08] sydb commented on #2025
Of the ~37 occurrences I had found, most were problems and have been fixed at 3e53959. The following cases were not problematic either because they were false positives (not references to datatypes, but rather the same string occurring in a URL, e.g.) or are commented out:
P5/Source/Guidelines/en/BIB-Bibliography.xml, 1 OK
P5/Source/Guidelines/en/ST-Infrastructure.xml, 1 OK (1 fixed)
P5/Source/Spe

[2020-08-10 17:24] martinascholger commented on #1998
Implemented by @ebeshero , I'm closing this.

[2020-08-10 17:24] #1998 closed

[2020-08-11 14:40] ebeshero commented on #1848
There is a release-blocking problem: this may not have the right effect on schema generation for oddbyexample on Stylesheets  https://github.com/TEIC/Stylesheets/issues/454 . It's not about this ticket, but about the implementation of `@except` in the Specs.

[2020-08-15 21:21] peterstadler commented on #2025
Thank you @sydb – do you consider this fixed then? Can we close the issue?

[2020-08-15 21:32] peterstadler commented on #2020
Since so many Ex Council members voted in favor of this I took the liberty to push this to dev without further triage by current Council.

[2020-08-15 21:32] #2020 closed

[2020-08-15 21:40] peterstadler commented on #1427
This is merged, right? So can this be closed @raffazizzi ?

[2020-08-15 21:52] #2025 closed

[2020-08-16 18:08] peterstadler commented on #1661
@cmm2209 if you could provide an illustration for your example that would make a great addition to the Guidelines.

[2020-08-16 18:14] peterstadler commented on #1858
implemented by moving `<q>` to `model.hiLike` in #2008

[2020-08-16 18:14] #1858 closed

[2020-08-16 18:15] peterstadler commented on #1658
implemented by moving `<q>` to `model.hiLike` in #2008

[2020-08-16 18:15] #1658 closed

[2020-08-16 18:19] peterstadler commented on #1918
changed class membership of `<q>`   in #2008

[2020-08-16 18:19] #1918 closed

[2020-08-16 18:29] ebeshero commented on #1661
I'm just reopening this ticket so it's more visible for developing an example.

[2020-08-16 18:29] peterstadler commented on #1661
… and I purposely left it closed 😬

[2020-08-16 18:31] ebeshero commented on #1661
Well, we can reopen if we get an example posted later. I guess we should close it ahead of the Guidelines release right now. Sorry.

[2020-08-16 18:31] #1661 closed

[2020-08-16 19:03] martinascholger commented on #1769
This issue has been addressed with the introduction of the new datatype teidata.authority in PR https://github.com/TEIC/TEI/pull/1974

[2020-08-16 19:13] sydb commented on #1769
Except that it hasn’t, has it?. Seems to me the new (awful) datatype exists, but the `@where` attribute of `<move>` is still teidata.pointer.

[2020-08-16 19:15] sydb commented on #1848
Reopening to (temporarily) fix in some other way than with `<classRef except="blah"/>`, until such time as [the bug](https://github.com/TEIC/Stylesheets/issues/454) processing it is resolved.

[2020-08-16 19:19] martinascholger commented on #1769
The `@where` attribute of `<move>` is teidata.authority

[2020-08-16 19:21] sydb commented on #1769
In what branch? I did a git pull just before re-opening this, and it was not.
But now it is.
Bad timing, I guess. Thanks @martinascholger !

[2020-08-16 19:21] #1769 closed

[2020-08-17 11:29] martinascholger commented on #1813
updated wordpress page (https://tei-c.org/guidelines/customization/getting-started-with-p5-odds/) with https://github.com/TEIC/TEI/tree/dev/Documents/ODDintro from @lb42.

[2020-08-17 11:29] #1813 closed

[2020-08-17 11:32] martinascholger commented on #1082
I've updated the ODD documentation in wordpress (https://tei-c.org/guidelines/customization/getting-started-with-p5-odds/) according to @lb42's document, see #1813

[2020-08-17 11:32] #1082 closed

[2020-08-17 11:50] martinascholger commented on #1849
@hcayless can we close this?

[2020-08-17 12:05] hcayless commented on #1849
Yes

[2020-08-17 12:05] #1849 closed

[2020-08-17 12:07] hcayless commented on #1854
We may tweak this further, but it's not as messy as it was, so closing.

[2020-08-17 12:07] #1854 closed

[2020-08-17 12:36] hcayless commented on #1848
We should close this because the original issue is resolved. I've added a note in TEIC/Stylesheets#454 to come back and deal with the content models.

[2020-08-17 12:36] #1848 closed

[2020-08-17 14:06] raffazizzi commented on #1427
Closing the issue as it's been addressed by PR #2014.

[2020-08-17 14:06] #1427 closed

[2020-08-17 19:46] cmm2209 commented on #1661
Thanks for working on this tweak, and sorry for the delayed response!  The real-world cases I’m working with are all in medieval Latin, which I presume wouldn’t be so helpful as an English one.  Here’s a possible example that I created:
Madness has in our age
<subst>
<surplus>beca</surplus>
<add>become</add>
</subst>
some sort of lost truth.

[2020-08-17 19:53] sydb commented on #1661
@cmm2209: Medieval Latin is fine, but this is even better. Do you have a source citation for it, or is it made up?

[2020-08-17 19:55] sydb commented on #1661
(Because if it is just made up, shouldn’t it be
[code]
instead?)

[2020-08-17 20:57] lb42 commented on #1661
A Real example, even in medieval Latin, would be better though. It could be glossed in the surrounding text.

Reluctantly using Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Syd Bauman <notifications@github.com>
Sent: Monday, August 17, 2020 9:55:53 PM
To: TEIC/TEI <TEI@noreply.github.com>
Cc: Lou Burnard <lou.burnard@retired.ox.ac.uk>; Comment <comment@noreply.

[2020-08-18 00:20] cmm2209 commented on #1661
Real example it is!  The author I'm working with favors long sentences, so this is one of the more manageable cases:
Enim armonicum causant, sed eum non percipimus. dicunt propter quod in auribus nostris a principio natiuitatis est complantatus, ut in eris apparet malleatoribus strepitum suum uix percipientibus
<subst>
<surplus>consuebus</surplus>
<add>consuetudine</add>
</subst>.
A rough translat

[2020-08-19 16:50] martindholmes opened #2026 "Build process linkchecker needs replacing"
The linkchecker tool we were using in Jenkins to check external links in the Guidelines is obsolete, and is no longer in the repos for Ubuntu 20.04. It also has issues with TLS connections and certificate verification. That job is surely still important, so we should find another alternative. There is w3c-linkchecker:

https://dev.w3.org/perl/modules/W3C/LinkChecker/docs/checklink

which can be in

[2020-08-22 13:44] jamescummings commented on #1713
Re-opening to question why `<exemplum>` did not get `@ident` and the other required attributes to make it identifiable in the same way as `<remarks>` has been? This would enable to the replacement of just _one_ example from an elementSpec in a project ODD customisation.  If it was decided that this should not be done it would be good to have a record of why.

[2020-08-22 16:18] jamescummings opened #2027 "<eg> element should have more explanation and at least one example in the chapter it comes from"
The `<eg>` element should have more explanation in the prose of the Guidelines at at least a _single_ example in the chapter/module (tagdocs) that instantiates it. There are **no** examples of it in the prose only in the element reference pages in various languages for `<eg>` and `<exemplum>`.  c.f. https://www.tei-c.org/release/doc/tei-p5-doc/en/html/examples-eg.html

Since its definition is so v

[2020-08-22 17:17] martindholmes commented on #1713
I think it got lost in the shuffle; remarks were more important because of potential issues with internationalization, and I think exemplum may just have been forgotten.

[2020-08-22 17:54] sydb commented on #1713
I cannot speak to `<exemplum>`, probably @martindholmes is right. But as to `<remarks>`, seems to me `@ident` should be required. After all, you can’t delete it if you can’t refer to it. (And yes, this means that all existing `<remarks>` (in Source/ and Exemplars/) will need to get an `@ident` assigned.)

Of course, I do not know that the Stylesheets currently know what to do with `<remarks ident=

[2020-08-22 18:43] jamescummings commented on #1713
@sydb I'm less sure about whether `@ident` should be required generally. It might be that the TEI-C makes it required **in the guidelines files** but optional elsewhere. (i.e. through a schema constraint for the ODD for editing the TEI Guidelines)  Forcing all projects to have an `@ident` on their own `<remarks>` seems overkill to me. (Though of course how many of them use it....)

That is less of

[2020-08-22 20:48] sydb commented on #1713
@jamescummings: I lean towards requiring them all, but agree that **in the _Guidelines_** are where it is important, and could certainly live with optional elsewhere.

And yes, getting `<exemplum>` into att.combinable and getting it its own `@ident` are the more important bits.

[2020-08-27 15:46] martindholmes opened #2028 "`@calendar` should allow multiple values"
`@calendar` is currently configured as a single pointer, but actual source texts often combine multiple calendars in a single expression, so it would be helpful if multiple pointers could be used. This discussion on TEI-L:

http://tei-l.970651.n3.nabble.com/Multiple-values-for-calendar-in-the-same-lt-date-gt-element-td4032839.html

covers the issue in detail. Points for and against are made in the

[2020-08-27 15:54] tillgrallert commented on #2028
This is just to say that I support the feature request based on the arguments made on TEI-L.

[2020-08-27 17:18] cthomasdta commented on #2028
I support it, too, as I have explained in detail in the thread referenced by Martin above.

[2020-08-28 09:07] lb42 commented on #2028
I OTOH think this change is both unnecessary and potentially confusing. But I am used to being outvoted!

[2020-08-28 10:05] PonteIneptique commented on #2028
I am not much in the community but I actually agree with @lb42 : I feel like this change will create some readability issue (The date being at the same time Gregorian and Julian). I am still confused about why a nested tag would be that awful. It would not require to identify two dates, just identify the variation inside the first date.

To take another example in what I feel would be a similar is

[2020-08-28 10:14] lb42 opened #2029 "Permit <licence> within <docImprint>"
In transcribing early print title pages and similar, it is useful to distinguish licensing phrases such as "cum privilegio"  and later variants thereon. Had it been available at the time this was defined, the existing `<licence>` element would have been proposed as part of the content model of `<docImprint>` for this purpose.  This feature request suggests this might now be done. Without it, the r

[2020-08-28 10:23] tillgrallert commented on #2028
@PonteIneptique 's comparison and example is misleading in my opinion. First, the encoding of two words in a single `<w>` seems like tag abuse and, second, "his" and "my" do not refer to the same lemma. On the other hand, the original examples provided by @cthomasdta did indeed refer to a **single** date expressed by using two calendars in the form of "Tuesday 7/19 May". So wrapping it in a single

[2020-08-28 10:52] PonteIneptique commented on #2028
I understand the idea that my example might be misleading, I might have not been good at defending it. But to me, here, I would actually argue that there is one "moment" but two dates, the same way you see two different words/two different lemma. Hence proposing:

[code]

 to clearly differentiate both.

[2020-08-28 12:25] PFSchaffner commented on #2028
I'm sure this is a source of embarrassment to him, but as usual I am inclined to agree with Lou on this one, including (in his last email to TEI-L on the subject), the need to rope in `@rend` .

[2020-08-28 12:30] PFSchaffner commented on #2029
We struggled a good deal with licenses in EEBO. Most of those that stood apart in any way were tagged as a div (type="license" or type="imprimatur" depending on whether it was a secular or ecclesiastical license). Most of those that occurred simply as a phrase (cum privilegio) or even a complete sentence, in colophons or elsewhere, were largely not tagged as all, unless signed, when they ended up

[2020-08-28 13:14] cthomasdta commented on #2028
You would still have to add another `@when` which would, redundantly, contain exactly the same `"0000-00-00"` date as the other `@when`.

I agree with your tagging, but like I said in my posts, for time-economic reasons I would prefer

1.
```<date calendar="#A-B" when="0000-00-00">Tuesday 7/19 May</date>```

or 2.
```<date calendar="#A #B" when="0000-00-00">Tuesday 7/19 May</date>```

Option 2. is

[2020-08-28 14:59] martindholmes commented on #2028
Thank you Thibault for this interesting parallel. I think it's
particularly interesting because it throws up the level of complexity
that nested dates might bring.

"Dienstag, 1./12. May"

has a 1 which is Julian and a 12 which is Gregorian, followed by a May
which is both. So if you were really concerned to tag this properly, you
would have to do something like (using linebreaks for clarity, omit

[2020-08-28 15:08] sydb commented on #2028
My instinct is that I am strongly against. @lb42 gave convincing arguments against on the list 2020-08-27T04:48Z, which I will not repeat here and now.

I will add, though, an approach to thinking about a problem like this that I find useful. If I were consulting for a project that had complex dates like this, I would ask the scholars working on the encoding system “what do you plan to **do** with

[2020-08-28 15:16] martindholmes commented on #2028
Hi Syd,

There are many circumstances in which dating systems used by writers are
wrong, mad, meaningless or impossible to convert to Gregorian. These
dates in some ways are the most interesting.

For instance, putative proleptic Julian dates in the BC range are
usually only semi-historical or traditional; regnal dates may depend on
disputed reign-initial dates; Julian dates (in England) may be ex

[2020-09-04 16:48] martindholmes commented on #1988
Ping! Any progress on this? I have a project with half-encoded files waiting on a decision.

[2020-09-05 01:56] sydb commented on #1987
On first thought I very much like the idea of improving the comments. But no matter how good they are, _as comments_ they still present @raffazizzi (well, Romaβ) with a problem: if someone starts with the customization exemplar and removes a “required” module, the comment remains and can cause confusion.

I am thus favoring a chunk of prose (along the lines of @jamescummings’ suggestion, above) as

[2020-09-05 02:02] sydb commented on #1963
Ignore 9d8c573, which was just a screw-up on my part. 02eb639 addresses this issue. Ticket should be closed if Mr. Jenkins is happy with it.

[2020-09-05 02:33] #1937 closed

[2020-09-05 13:00] #1963 closed

[2020-09-05 15:41] sydb commented on #1911
I have added `<material>` to att.typed (in c7dbad9), and removed “Go” label, as (IIRC) that was that part that we all agreed was good to go.
Leaving label “needs discussion” for discussion about the actual attribute that should be used for this purpose. I think @schassan is on the right track. That is, something like `@usage`, `@usedAs`, `@of`, `@ofThe` should be seriously considered along with `@

[2020-09-05 19:21] martindholmes commented on #1921
I hadn't seen this issue till the pull request, I don't think, but if I had I would have said this requires deprecation, or at least a message to TEI-L asking whether it will invalidate a bunch of existing schemas. Since schemaSpec has no semantic import from the point of view of document encoding itself, its location is basically irrelevant, so although it seems unlikely that anyone will have put

[2020-09-07 02:40] sydb opened #2033 "various concerns with 13.3.7 Dates and Times"
The ID of the section in question is `NDDATE`. I had reason to scan it, and found several items that strike me as potentially problematic.

- [x] The second paragraph starts with “The current module **namesdates** provides a mechanism …”, with “namesdates” encoded as an `<ident>`. Even so, I think there should be some punctuation offsetting it. Either commas, parens, or em dashes.
- [x]  The final

[2020-09-07 02:41] sydb commented on #1885
First, what _are_ our current recommendations for encoding ambiguous dates?

Anyway, I have taken a quick stab here at making a list of things we need to do in order to update to ISO 8601-1:2019 and ISO 8601-2:2019 (which I personally think is a very good idea). Basically, most of the work needs to be done in 13.3.7.3 _More Expressive Normalizations_ (`NDDATEISO`)

- [ ] Expand the list of capabil

[2020-09-07 21:28] sydb commented on #2033
- [x] Another ND problem: search for “between "Tony" and "Antony"”. I claim those quote marks should be `<mentioned>`.

[2020-09-08 12:52] sydb commented on #2033
- [ ] What? The entire structure of this chapter is messed up. (All date & time sections are subsections of 13.3, “Biographical and Prosopographical Data”, when they should be their own section.) Probably a mis-placed `</div>` or some such.

[2020-09-09 09:56] lb42 commented on #2033
No. The entire structure of the chapter is not messed up. 13.2 is all about names. 13.3 is all about named entities. This is a pretty fundamental distinction which the chapter structure is trying to reinforce.
Your other corrections are fine though. The "Independent" example is clearly a typo. There's no source for the Lammastide example because I made it up. The awkward phrasing of "The current m

[2020-09-10 13:51] sydb commented on #2028
I have spoken to @martindholmes offline about this, and he has almost convinced me it is a good idea. So instead of being strongly against, I am now waffling.

I find the arguments he gave above relatively unconvincing. But he further pointed out that some documents (and he actually gave an example) may have dates in _dozens_ of regnal dating systems in various combinations. Thus the suggested `"#

[2020-09-11 22:03] somelinguist opened #2034 "Nested vColl elements"
The chapter on Feature Structures in the Guidelines says that `vColl` can be nested inside of another `vColl`:

https://github.com/TEIC/TEI/blob/c7dbad9586594427b6068fd8c7f5ae0648db21a7/P5/Source/Guidelines/en/FS-FeatureStructures.xml#L654-L660

However, the model definition for `vColl` only allows for `fs` or elements from `model.featureVal.single`, which doesn't allowing for nesting `vColl` dire

[2020-09-14 22:02] martinmueller39 opened #2035 "naming and description of TEI Simple Print and TEI Lite"
I recently looked at the TEI Customization page and was taken aback by the description of both TEI simplePrint and TEI Lite. The latter is described as "including basic elements for simple documents".  The former is described as an "entry-level customization, focused primarily on the needs of those encoding Western European early modern printed material." Both description are wrong and deeply misl

[2020-09-15 17:34] tuurma commented on #2035
It would be very easy to add processing models to TEI Lite, basically a case of copy and paste. Rather more effort would be to review and extend TEI Lite prose though substantial parts on the TEI Processing Model could be salvaged from https://tei-c.org/release/doc/tei-p5-exemplars/html/tei_simplePrint.doc.html#processingmodel

 I'm not sure if we know of anyone actually relying on the TEI simpleP

[2020-09-15 18:16] martinmueller39 commented on #2035
Qua schema, simplePrint is redundant. I’ll repeat saying that the TEI word would be better off with an updated TEI-Lite—perhaps renamed Vanilla because it really would be a better name and no less silly.

The EarlyPrint project uses simplePrint, but calls it http://schemata.earlyprint.org/schemata/tei_earlyprint.rng.  It adds the @orig and @norm attributes recently added. Actually we use @reg at t

[2020-09-15 18:25] lb42 commented on #2035
As far as I recall, simplePrint was precisely intended to be teiLite plus the processing model, with a few other odds and ends changed. The argument then, as now, is that TEI Lite has historical value and should not be changed. By all means, re-run the simplePrint design process, i.e. make a new lightweight schema with whatever components you think would be useful this time round, and call it what

[2020-09-15 18:43] lb42 commented on #2034
Definitely if the prose and the schema disagree, one or other needs changing.
My reading of the text you quote above is that a nested vColl does not behave in a very useful way, ("such collections pay no attention to the contents of the nested  <gi>vColl</gi> elements") and it might be better not to permit it, but rather to require use of `<vRange>.` But maybe there is some reason for permitting i

[2020-09-15 20:07] tuurma commented on #2035
Lou, would adding processing models be changing (for the worse) that historical value or just a development for the better?

[2020-09-15 20:15] lb42 commented on #2035
Magdalena, I don't think you understand my point. Lite is a document that has not been revised in many many years. Last time Council looked at it, it agreed that so much would need revising to bring it up to date (and this was before the existence of the PM) that it would be better to leave well alone and preserve it as a historical monument. I think that was a wise decision. You can't just "add p

[2020-09-15 20:17] lb42 commented on #2035
p.s. Lite was not named after a beer.

[2020-09-15 20:35] tuurma commented on #2035
Ah, I see. I have indeed forgotten about this reason for not touching Lite.

So, would it be fair to summarise Martin's proposal as (forgive me Martin for (over)simplifying things but this being the issue tracker we should discuss actionable items, I fear):

1. finding a sexy name for entry-level, 80-20 TEI customization, e.g. Vanilla TEI
2. effectively repack TEI simplePrint (plus or minus few mo

[2020-09-15 20:41] martinmueller39 commented on #2035
No, you didn’t simplify thing, Magdalena. You hit the nail on the head.

[2020-09-15 20:59] tuurma commented on #2035
Basically 1 and 2 do not require Council's blessing (or even direct involvement, though I'm sure we are interested) and it might be easier to discuss 3 and 4 having the work on Vanilla completed.

[2020-09-15 21:55] martinmueller39 commented on #2035
One more point about the name: it should not belittle, but state what you can do.  Some snazzy version of TEI-Most-of-what-you-will-ever-need, which would have been a fine, if rather long’ name for what TEI-Lite did.

From: Magdalena Turska <notifications@github.com>
Reply-To: TEIC/TEI <reply@reply.github.com>
Date: Tuesday, September 15, 2020 at 2:36 PM
To: TEIC/TEI <TEI@noreply.github.com>
Cc: M

[2020-09-16 12:53] lb42 commented on #2035
Some specific suggestions for a name might be more helpful, so here are a few:

-- simple
-- starter
-- basic
-- common
-- minimal
-- entryLevel

All prefixed by TEI_ presumably.

Another thing which would be helpful would be some specific proposals for change in the current simplePrint  text/schema

[2020-09-18 15:48] sydb opened #2036 "versionDate attribute needs more constraint"
@hcayless’ recent fix (commit 97195e21f3ad5200929cc6cc3bdbc2ffd70fb6f6) makes it clear that we should constraint the values of `@versionDate` further than just att.temporal.w3.
My instinct is that the value should have to be an xs:date or an xs:dateTime with a year from 2008 (the year P5 was released) to, say, 2108 or 2208; or perhaps “before the day after tomorrow” (to account for time zones).

[2020-09-18 17:07] hcayless opened #2037 "Element/@ident without English glosses or descs"
This seems like a bit of a bug. Take the valItem "cancelled" from `@reason` on `<gap>`:

[code]
This has various glosses in different languages, which are translating the `@ident` on the valItem. There is no English gloss. What this means is that the method we use for checking translation staleness cannot work. If we changed the `@ident` here, there would be no way of knowing the glosses needed to

[2020-09-18 17:13] hcayless commented on #2037
Actually, this happens with `@ident`s for elements as well.

[2020-09-18 17:13] lb42 commented on #2037
These bare glosses are indeed confusing. They can't be used as @idents themselves (if they could, they'd be @altIdents) so all they are really doing is providing a language specific bit of explanation for the @ident value. Why then are they not part of a  (language-specific) `<desc>` ?

[2020-09-18 17:24] hcayless commented on #2037
I did wonder about that, but doesn't resolve the question of how you'd know what it's translating so you can check its staleness. Does it?

[2020-09-18 17:25] lb42 commented on #2037
No: it's a separate issue.

[2020-09-18 19:19] hcayless commented on #2037
Some stats:

`<elementSpec>` without an English gloss, but with glosses
[code]
`<valItem>` without an English gloss, but with glosses
[code]

[2020-10-04 09:07] ralessi commented on #2006
If I may pop in this discussion, I would like to mention another one on the same subject [here](https://gitlab.com/ralessi/ekdosis/-/issues/2#note_423110970).  For the record, `ekdosis` is a new [LuaLaTeX package](https://ctan.org/pkg/ekdosis) dedicated to critical editions.  In addition to PDF, `ekdosis` can output a TEI xml compliant file.

[2020-10-04 16:50] hcayless commented on #2006
@ralessi, I'm glad to know about ekdosis!

I was initially nervous that I'd done this by accident :-), but as @rvdb notes, it seems to have been done about 8 years ago. One the face of it, I think the dropping of `@wit` from rdgGrp was not really thoroughly considered. But the question is whether to fix the schema or the prose? In the example you give in your link, I'd personally much prefer neste

[2020-10-04 17:55] ralessi commented on #2006
Yes, I too much prefer nested apps to rdgGrps.  This is why `\app{}` commands are allowed to nest in the first release of `ekdosis` whereas no such command as `\rdgGrp{}` has been provided.  Having said that, as demonstrated by [the PDF output](https://gitlab.com/ralessi/ekdosis/-/issues/2#note_423110970) that is on Gitlab, rdgGrps may allow for more elegantly written entries in some situations.

[2020-10-05 13:10] hcayless commented on #2006
I feel like if `@wit` on rdgGrp had been available though, we might have recommended this instead for LDLT:
[code]
To explain this a little: the MSS presumably all have ANTEAGELLIUM, and the question is how you read that, with two options presented (_vel_ means _or_). The apparatus should look something like:

ante A. Gellium] _A_ antea gellium _vel_ ante agellium _BCDE_

So I don't like the repet

[2020-10-05 15:07] ralessi commented on #2006
I totally agree with this way of looking at this.  Yes, I think that if `@wit` had been available on `<rdgGrp>`, then _if used_, it should have been forbidden as attribute of any child `<lem>`/`<rdg>` elements.  And vice versa: to put this in Latin, _vel_ in the apparatus criticus all right, but _aut_ in the schema: viz. `@wit` either in `<rdgGrp>` or in child elements, but not in both places ;)

[2020-10-06 00:51] hcayless commented on #2006
Yes, insofar as we'd need a bit more documentation for the adjusted usage in the Guidelines prose, and obviously, we'd need to add `att.witnessed` to rdgGrp and add a Schematron rule to prevent `@wit` appearing on both rdgGrp and child lem/wit.

[2020-10-06 08:18] ralessi commented on #2006
I go on with this idea, this time from the point of view of the author of `ekdosis`, bound by the need to produce both an apparatus in print and a valid TEI output from the same items of information.  What if we had `<lem>` and at least one `<rdg>` within `<rdgGrp>`, instead of only `<rdg>`s elements?  To return to your example, what if A had given "ante A. Gellium" and B "ante A. Gelium"?

In an

[2020-10-06 08:38] ralessi commented on #2006
**[Follow-up]**

Not to mention other inconsistencies?  I wouldn't say for sure, but for instance, readings from previous editions in print are better referred to as sources, with the `@source` attribute.  But since `@source` is global, unlike `@wit`, it is allowed both in `<rdgGrp>` and in child elements.

(I'm just writing this as my thought goes along.  It may be nonsense.)

**[EDIT]**
Speaking

[2020-10-06 13:25] hcayless commented on #2006
To be honest, I'm mostly not a fan of rdgGrp at all. I'd be tempted to use it in the example above, and it's useful in the case of variorum editions (where you're recording the apparatus of multiple prior editions). One might be tempted to think you'd want to group types of reading (orthographic variants, lexical variants, etc.) but usually, variants in an apparatus aren't organized like that, but

[2020-10-06 16:49] ralessi commented on #2006
On my side, I must confess that I never used rdgGrp at all in my work!  This may be the reason why I am puzzled when it comes to find a proper way of using it...  I get your points and agree with you, especially about organizing variants in the editor's priority order.  Agreed on both points.

What I don't get (I humbly plead guilty to this):  if we admit that `<lem>/<rdg>` elements must have at l

[2020-10-06 17:11] ebeshero commented on #2006
@ralessi @hcayless I'm on a variorum project working with ms and print sources that's using `<rdgGrp>`, so I figured I should chime in here. For what it's worth, reviewing our project code, I know we wouldn't want to have an attribute on `<rdgGrp>` to point to witnesses because we're doing that on the `<rdg>` elements inside. For us the `<rdgGrp>` element is a helpful container, a way for us to bu

[2020-10-06 17:27] ralessi commented on #2006
@ebeshero Precisely.  If I may add one more reason to do as you do, I think that mentioning say ABC as witnesses in `<rdgGrp>` for witnesses that exhibit similar but not identical readings, then encoded in sequence within the group is somewhat confusing. (At least to me.)

[2020-10-06 18:11] ebeshero commented on #2006
@ralessi Yes, exactly. We're bundling witnesses together into rdgGrps based on their sharing a set of normalized tokens, but that doesn't mean the presentation within each source is always exactly identical.

[2020-10-07 13:59] hcayless commented on #2006
I think this has wandered off course a little. I see 2 ways of proceeding:

1. Remove the language indicating that `@wit` can appear on rdgGrp.
2. Put `@wit` back on rdgGrp, but add a rule that if it appears there, its child readings can't have `@wit` and add some more prose around how to use it.

`#2` would let me solve an edge case, but I can think of other ways to do it, so I think I'm in favor

[2020-10-07 16:34] ralessi commented on #2006
I, too, am in favor of `#1` which has the added benefit of being the conservative solution.  After all and furthermore, this issue is about a possible inconsistency between the prose and the schema, not about some missing feature.  About `@source` being needed in variorum editions: it certainly is and I missed this point.

I would like to express my grateful thanks to @ebeshero and @hcayless for t

[2020-10-09 16:47] martindholmes opened #2038 "tei-install.sh does not release the Oxygen plugin if only the Stylesheets are released"
@sydb and I were checking out the release process ahead of next week's planned Stylesheets hotfix release, and we noticed a slight problem:

The P5/Utilities/tei-install.sh script only releases the Oxygen plugin if P5 is being released. Lines 39 and 40 of the script do the work of releasing the plugin, and they are only run if P5 is being released. A simple fix would be to duplicate those lines in

[2020-10-10 14:32] sydb commented on #2038
@martindholmes (and everyone else) —

This is not as simple as we thought yesterday. The complication is that the release of the oXygen stuff is inextricably tied to the release of P5 (i.e., use of --package=TEIP5) because the oXygen stuff comes from the directory that uses the $version of the P5 release, not the $version of the Stylesheets release.

Thus I am leaning (back) towards saying the usu

[2020-10-10 17:22] martindholmes commented on #2038
@sydb One option would be to "release" P5 again anyway; nothing would change, I don't think, but the Oxygen plugin would get updated. But I do agree that we need to be able to release stable versions of the Oxygen plugin too, distinct from both P5 and the Stylesheets, so these three things should be done in separate routines in the file.

[2020-10-15 06:20] dmj opened #2040 "elementRef cannot reference a namespaced elementSpec"
The ```elementSpec``` allows for the definition of a namespaced element via the @ns attribute. The ```elementRef``` on the other hand does not. This means that one could define a namespaced element but not reference it unambiguously.

[2020-10-16 15:22] martindholmes commented on #2038
Looks like we were wrong about this; the plugin release takes place as part of step 22 in TCW22, and tei-install.sh has little to do with it. The step in that file to copy the updateSite.oxygen file over should indeed only happen when releasing P5, because its only purpose is to make that file available in the new release folder of P5.

[2020-10-16 15:23] #2038 closed, assigned to sydb, martindholmes

[2020-10-23 11:47] martinascholger commented on #1993
I asked on TEI-L at 2020-07-16 and on 2020-10-12 if removing the version attribute on `<TEI>` and `<teiCorpus>` would affect someone's work. There were few reactions, but all of them said that we should go ahead.

[2020-10-23 13:33] duncdrum commented on #1993
Literally remove `@version` from `<TEI>` ?? I must misunderstand, but that would definitely impact all my projects. Cant see why that would be a good idea either.

[2020-10-23 15:14] sydb commented on #1993
Yes, literally remove `@version` from `<TEI>` (and `<teiCorpus>`). It would be a good idea to avoid the problem this ticket is about, to rid ourselves of an embarrassing corrigible error, and to reduce the chance of confusion when an instance has mis-matching indications of the version against which it is supposed to be valid.

Keep in mind there are already two other mechanisms (xml-model process

[2020-10-23 15:47] martindholmes commented on #1993
@duncdrum Just out of interest, what do you use `@version` for?

[2020-10-23 16:27] duncdrum commented on #1993
To specify the version of the Guidelines, that a document is using. Usually before and after a contributions is particularly important.

[2020-10-23 19:47] martinascholger commented on #1919
@sydb - can we close the issue?

[2020-10-24 00:07] sydb commented on #1919
Well, no one (including Mr. Jenkins) has complained, so I guess so.

[2020-10-24 15:02] martinascholger commented on #1632
ping @jamescummings

[2020-10-24 15:21] ebeshero commented on #1929
2020-10-24 Council Face to Face discussion:  We should consider that putting `<ab>` in core would resolve some issues: `<ab>` should be able to be encoded like `<p>`. `<p>` is an artefact of Western culture, and perhaps we should now be treating it as a subset of the larger category of things that are `<ab>`.  Thus, `<ab>` could really be primary, with `<p>` as a special instance.

[2020-10-24 15:40] sydb commented on #1921
Council VF2F decides that (sigh) we will deprecate this for a short period of ½ or 1 year. To do so I plan to block #2031 and create a new branch for the deprecation itself.

Because we have no automated method for a deprecation like this, it will just be a Schematron check (as opposed to a `@validUntil`). That means that:

1. The deprecation will not appear in the appendix.
1. The build process m

[2020-10-24 15:49] tuurma commented on #1931
VF2F Council meeting agrees that it's helpful to have a copiable, direct link to the example that users can easily copy with an informative title. While such links to allow for meaningful citation must point to a specific Guidelines version, twinning them with an alert if a user is viewing an older version of the Guidelines would be helpful.

[2020-10-24 16:22] ebeshero commented on #1933
Council VF2F 2020-10-24:  Council tends to want to try to output all the examples in all languages (tagdocs and Guidelines) first of all to see how this appears, if it is overwhelming or just fine. That this would be a good Stylesheets Group activity.
Alternative suggestions for changing the logic of which exempla appear involve possibly introducing an `<exemplumGroup>` for grouping examples that

[2020-10-24 16:26] sydb commented on #1934
Council VF2F agrees @tuurma is GO to add `<certainty>` to att.typed, and create an `"open"` value list of the OP’s suggested values (in a branch, of course).

That said, we think @michalkozak’s particular case might be better encoded with `@ana`, anyway.

[2020-10-24 16:34] ebeshero commented on #1939
Council VF2F 2020-10-24: Council greenlights this to find a way to implement making `<front>` and `<back>` identical. Submit a pull request with a way to do this. There may be a few options for implementation, so we're adding a Needs discussion label and Go.

[2020-10-24 16:39] ebeshero commented on #1945
Council VF2F 2020-10-24: This is blocked  until #1877 is resolved.

[2020-10-24 16:45] ebeshero commented on #1946
Council V2F agrees that @npcole should proceed with implementing this new example in the Guidelines.

[2020-10-24 16:51] martinascholger commented on #1957
ping @peterstadler, @ebeshero, and @martinascholger to review @hcayless' pull request https://github.com/TEIC/TEI/pull/1983

[2020-10-24 16:56] peterstadler commented on #1953
Council agrees @sydb's example should replace the current one *after* he has resolved the various references (and filled the empty placeNames and titles) in the example.

[2020-10-24 17:08] ebeshero commented on #1962
Council VF2F: We should add the license files to the top level of the GitHub repo. AND remove (or make more explicit) what the current license at  https://github.com/TEIC/TEI/tree/dev/P5/Legal is about.

[2020-10-24 18:38] sydb commented on #1953
Sigh. Personally I think those empty `<placeName>` and `<title>` elements are the way to go. In any case, here is the resolved version. I leave it to @peterstadler whether to leave “NYPD”, “New York Police Department”, or the current `<choice>` encoding both.
[code]

[2020-10-25 11:56] martinascholger commented on #2007
The i18n WG started with a multilingual glossary and is working on a practicable workflow/tool as a replacement for the Google Spreadsheet.

[2020-10-25 11:56] #2007 closed

[2020-10-25 14:50] sydb commented on #1986
Council thinks this is a GO for `<altIdentifier>`, but we will hold off on `<msIdentifier>` on the theory that if the main identifier of a manuscript changes from A to B, then the new `<msIdentifier>` is B, and A becomes an `<altIdentifier>`.

[2020-10-25 14:51] martinascholger commented on #1966
VF2F agreed that @npcole will work on prose for explaining when U+hex will be interpreted as a character point, and any other text will be interpreted literally.

[2020-10-25 15:00] laurentromary commented on #2007
One possibility could be to do this in TEI with the appropriate TBX (ISO 30042, developed in ISO/TC 37/SC 3) extension.

[2020-10-25 15:05] ebeshero commented on #1988
VF2F: Council greenlights @ebeshero and @lujessica to proceed and modify the Schematron rule as indicated.

[2020-10-25 15:11] ebeshero commented on #1981
VF2F: Council greenlights a first stage of edits to clean up the prose, and then revisit to discuss what more may need to be done.

[2020-10-25 15:13] martinascholger commented on #1981
Council at VF2F suggests to clean up the typos and unclear explanations first. @raffazizzi, @ju -- please open separate issues if necessary.

[2020-10-25 15:20] sydb commented on #1921
Item 3 in my previous post is idiotic. Of course the list of elements where `<schemaSpec>` should **not** be may change, but the list of elements where it is going to be allowed will most likely remain constant.

[2020-10-25 15:30] martinascholger commented on #1987
VF2V agrees with @sydb's proposal to turn comments into a proper documentation.

[2020-10-25 15:53] ebeshero commented on #1994
Council VF2F: We need at least one example of `<desc>` in the specs outside of tagDocs module. In addition, we should reference this section https://tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#COHQU from the specs description. We should also shorten the description of `<desc>`: "contains a brief description of its parent element."

[2020-10-25 15:58] martinascholger commented on #1999
VF2F agrees to greenlight and improve the example.

[2020-10-25 16:01] tuurma commented on #2000
Noting that we already allow using app to express structural differences between witnesses (e.g. using p within an app/rdg) so doing the same for tables is a natural consequence as F2F Council decided today. What follows, similar provisions should be made for lists.

## Scenario 1

Witness 1 presents content in 3 columns, while other only in 2, eg.

 wit 1:

| Name | Surname | Credit |
| --- | ---

[2020-10-25 16:02] martinascholger commented on #2000
@bleierr could you please provide us with a real world example for integrating in the GLs?

[2020-10-25 16:09] ebeshero commented on #2001
Council VF2F: Work on clarifying the existing language and review again.

[2020-10-25 16:11] martinascholger commented on #2002
VF2F agrees to change teidata.pointer to 1–∞ occurrences.

[2020-10-25 16:19] ebeshero commented on #2003
Council VF2F: We discussed this, and noted that `<facsimile>` was designed exactly for this use to present a large document in graphical terms, and it contains `model.graphicLike`. The `<facsimile>` element can hold a set of images to describe multi-surface portions of a document graphically. We don’t want to introduce confusion with apparently permitting graphical representation of page surfaces

[2020-10-25 16:19] #2003 closed

[2020-10-25 16:21] martinascholger commented on #2006
Council at VF2F agrees with @hcayless and @ralessi to fix the prose rather than reintroduce `@wit` on `<rdgGrp>`.

[2020-10-25 17:16] ebeshero commented on #2003
(Updated my last post to add more explantation from Council discussion.)

[2020-10-25 17:39] martinascholger commented on #2010
Council at VF2F agrees that this is a great proposal. We think that an open list of space separated values (for the `@value` attribute) is probably the right solution. @sydb and @MegJBrown will work on the issue and discuss certain parts with Council as required.

[2020-10-25 19:06] MegJBrown commented on #2028
Example of use case: in 1588, Spain and England used different calendar systems. When creating propaganda around the Spanish Armada, William Cecil (pretending to be an embedded Catholic spy), used the Spanish calendar in addressing his letter to the French Ambassador. The dating of this letter is important in the timing of Armada news, while indicating the system is important to its political clai

[2020-10-25 19:13] raffazizzi commented on #2029
Wouldn't `<imprimatur>` do what you need, @lb42? "contains a formal statement authorizing the publication of a work, sometimes required to appear on a title page or its verso."

[2020-10-25 19:35] raffazizzi commented on #2034
@laurentromary or @lb42 do you know how the ISO standard deals with this issue? Clearly we need to change either the guidelines or the schema. A VF2F subgroup is leaning towards keeping the schema as is (i.e. `vColl` does not directly nest) and adjust the prose, but we should make this as conformant to the ISO spec as possible.

[2020-10-25 22:51] sydb commented on #1942
Done, in 5 separate commits:

1. phase 1, 8a72c39: remove the 8 or so obvious files, the 1st list in the OP
2. phase 2a, 808cc03: remove schemas.xml
3. phase 2b, c0d87c7: remove transcr2.xsl
4. phase 2c, 0c30fdb: remove extns*
5. phase 2d, 8556607: remove parts of Makefile that used the extns* files (I had done this for part of phase 2c, but failed to add Makefile, so it did not get committed. Sig

[2020-10-25 22:51] #1942 closed

[2020-10-25 23:44] sydb commented on #2037
[Note: TEI Council is considering adding `<gloss xml:lang="en">` even when the value of the gloss matches the `@ident` of its parent element.]

Of course, if we follow this route blindly, the 444 `<valItem>`s and ~442 `<attDef>`s that do not have any glosses now get just 1, a useless English gloss. Do we want to have constructs like
[code]
just to be consistent, or would we be happy leaving a *Spe

[2020-10-25 23:54] hcayless commented on #2037
@sydb Are things that way because with no gloss, there’s nothing showing up as translatable though?

[2020-10-26 01:15] sydb commented on #2037
@hcayless — Sorry, I don’t understand the question.

[2020-10-26 06:36] laurentromary commented on #2034
The ISO standard also says: "A `<vColl>` element may also collect together one or more other `<vColl>` elements, if, for example, one of the members of a set is itself a set, or if two lists are concatenated together. Note that such collections pay no attention to the contents of the nested `<vColl>` elements: if it is desired to produce the union of two sets, the
<vMerge> element discussed below

[2020-10-26 12:46] hcayless commented on #2037
My understanding of the way the translation workflow goes is that a CSV export is generated looking at untranslated content of gloss/desc/etc. or content where the English version has a later date than the translation. If there's no English version, does the original `@ident` itself with no glosses in other languages signal the  need for a translation? I don't know the answer, but my question is w

[2020-10-26 12:55] lb42 commented on #2037
It would make no sense to supply a translation for an *ident* ... You might perhaps supply an altIdentifier or a gloss, but idents are in teispeak like attribute names and gis. They just look like they are in English sort of.

[2020-10-26 12:58] sydb commented on #2037
@hcayless: Well, that’s an easy one to answer, because the answer is “I have no clue”. :-(

[2020-10-26 13:02] lb42 commented on #2034
As far as I am aware the iso spec doesn't change anything in the tei spec. So if as arguably in this case the tei spec is suboptimal the iso spec will be too. It reads as if the prose was adjusted to specify that lazy evaluation of nested vcolls is obligatory and so tho it looks like recursion it actually isn't. Which will confuse everyone. Imho it would be better to allow vColl to contain some so

[2020-10-26 13:05] lb42 commented on #2037
Note also that some projects supply additional ident values which look like they come from other languages

[2020-10-26 13:35] raffazizzi commented on #2034
I think this is ambiguous: "A `<vColl>` element may also **collect together** one or more other `<vColl>` elements" because collecting (to me at least) implies that they're in the same basket, but it doesn't prescribe how the contents of that basket is organized, or if they are contained by other things. A fruit basket collects apples even if some of them are wrapped in a plastic bag.

"`<vColl>`

[2020-10-26 14:13] ebeshero commented on #2012
Council VF2F agrees we should proceed with option 3, namely that:
`att.interpLike` becomes a member of `att.typed` (thus getting both `@type` and `@subtype`), and the definition of `@type` gets overridden once, in the definition of `att.interpLike`.

[2020-10-26 14:15] MegJBrown commented on #2011
VF2F subgroup discussed this and thinks `<pubPlace>` would serve the purpose needed; if the concern is that a performance isn't publication, we recommend `<placeName>`, which is also allowed in`<bibl>`.

[2020-10-26 14:15] #2011 closed

[2020-10-26 14:31] martindholmes commented on #2037
I think we should just add English glosses and be done with it; make them mandatory with Schematron.

[2020-10-26 14:43] raffazizzi commented on #2013
VF2F is considering a global `@status` attribute, but that will require adjusting other classes:
* `att.transcriptional`
* `att.docStatus`

Assignees will provide an overview of what would need to be changed, which will likely include deprecations, to facilitate further discussion.

[2020-10-26 14:48] raffazizzi commented on #2019
VF2F subgroup thinks <location> serves to signal <address> as a specific location just like a geo-coordinate reference, and does not think we should allow <place> to contain <address> as a direct child.

See the guidelines: 13.3.4 “Places” defines place as having a name and a location.  "Country, region, and settlement are all specializations of the generic placeName element and are therefore allo

[2020-10-26 14:49] raffazizzi commented on #2019
CLOSED THE WRONG TICKET! Re-opening

[2020-10-26 14:50] raffazizzi commented on #2016
Council VF2F thinks `<location>` serves to signal `<address>` as a specific location just like a geo-coordinate reference, and does not think we should allow `<place>` to contain `<address>` as a direct child.

See the guidelines: 13.3.4 “Places” defines place as having a name and a location.  "Country, region, and settlement are all specializations of the generic placeName element and are therefo

[2020-10-26 14:50] #2016 closed

[2020-10-26 14:50] ebeshero opened #2042 "Revisit language about place and location in Ch. 13"
Prompted by #2016 , we should revisit the language about place and location in Guidelines 13.3.4.

[2020-10-26 15:11] martinascholger commented on #2027
VF2F agrees with @jamescummings -- green

[2020-10-26 15:11] sydb commented on #2019
Council agrees with @lb42 (and me) that `<ptr>` exists for the purpose of having a definitionally empty pointer element; `<ref>` can be used for @jamescummings use case (the idea being that `<desc>` is what indicates “this is a description of the pointer” as opposed to link text).

Thus we do not think it appropriate to allow `<desc>` as a child of `<ptr>`.

[2020-10-26 15:11] #2019 closed

[2020-10-26 15:16] martinascholger commented on #2028
Council at VF2F likes the idea of multiple values on `@calendar`.

[2020-10-26 15:22] martinascholger commented on #2034
Council at VF2F agrees that the schema should be adjusted to allow `<vColl>` to nest.

[2020-10-26 15:41] ebeshero commented on #2036
Council VF2F: @sydb and @MegJBrown should come up with a good plan for combining a datatype + Schematron check and we'll discuss further.

[2020-10-26 15:57] ebeshero commented on #2037
Council VF2F: @sydb should proceed with requiring English glosses.

[2020-10-26 16:00] martinascholger commented on #2037
We should not forget to change the style guides for writing Guidelines.

[2020-10-26 16:01] ebeshero commented on #2040
Council VF2F: Council agrees that @raffazizzi should investigate further.

[2020-10-26 16:10] sydb commented on #1911
After discussions (in both May and Oct), Council decides on adding a free-standing `@function` to `<material>`.

[2020-10-26 16:15] #1717 closed

[2020-10-26 16:18] raffazizzi commented on #1691
@ebeshero would you like to revisit this and narrow it down to a proposal? Or should we consider closing it?

[2020-10-26 16:20] raffazizzi commented on #1743
Since the inception of the infrastructure group there have been a lot of improvements, but VF2F thinks documentation is still needed.
Action on the infrastructure group to discuss what form the documentation should take.

[2020-10-26 16:22] sydb commented on #1780
Per Council VF2F, since we now have a group dedicated to this topic, we no longer need this particular ticket.

[2020-10-26 16:22] #1780 closed

[2020-10-26 16:37] martinascholger commented on #1931
VF2F Council meeting agrees that this is a good idea. We will close the issue here and open a Stylesheets issue to 1) create a permalink and b) alert the user when looking at old versions.

[2020-10-26 16:37] #1931 closed

[2020-10-26 16:38] sydb commented on #1932
@pdurusau is referring to PR #1940, I believe.

[2020-10-26 16:42] #1932 closed

[2020-10-26 16:50] peterstadler opened #2043 "remove directory "genetic""
the current [security warning about some outdated jQuery dependency](https://github.com/TEIC/TEI/pull/2039) makes us (TEI Council during its F2F) think that we should get rid of that directory completely. Its purpose was to facilitate the work of the "Genetic Encoding" working group and is not needed anymore.

[2020-10-26 16:52] sydb commented on #1977
We believe this was done in 4.1.0, and thus are closing.

[2020-10-26 16:52] #1977 closed

[2020-10-26 20:06] sydb commented on #1921
BTW, PR #2041 addresses this issue, and is currently awaiting review.

[2020-10-26 22:07] sydb opened #2044 "simplePrint ill-formed"
[code]

[2020-10-26 22:53] sydb commented on #1987
Only 13 exemplars have the word “required” in a comment:
[code]
Of those, tei_customization is generated, the comment in tei_simplePrint is not one of the ones @raffazizzi is complaining about, and the ones in tei_tite may or may not be problematic (but are different in nature, anyway). Thus I am not planning to tackle those exmplars. And the ones in tei_minimal are much more explanatory, and it i

[2020-10-27 02:45] sydb commented on #1987
For tei_all and tei_allPlus I updated the prose somewhat (primarily to replace the comments), sorted the `<moduleRef>`s into definition order, and added `@n` attributes to each, in addition to nuking the offending comments.

For tei_allPlus I also removed the extraneous definitions for `<egXML>` and `%macro.anyThing;`.

For all the others I may have tweaked the prose a bit, but for the most part j

[2020-10-27 02:45] #1987 closed

[2020-10-27 02:46] sydb opened #2045 "calendar= should not be in att.datable"
The `@calendar` attribute is currently a member of att.datable, but should not be.

This is because `@calendar` is, by definition, about “the date represented by the content of this element”. But among the members of att.datable we find several elements whose content is not a date (e.g., `<orgName>` or `<unitDef>`), and **lots** of elements whose content need not include a date (e.g., `<acquisitio

[2020-10-27 07:50] peterstadler commented on #1943
Council reviewed the issue again during its virtual F2F in October 2020 and decided to close it for the time being since no examples (or other input) have been provided.
Please feel free to reopen anytime when you find the time to elaborate on this request.

[2020-10-27 07:50] #1943 closed

[2020-10-27 11:49] PietroLiuzzo opened #2046 "reports in jTEI"
As discussed with @rvdb I would like to propose in a PR to follow some changes to error messages in the [jTEI ODD](https://github.com/TEIC/TEI/blob/dev/P5/Exemplars/tei_jtei.odd) like, e.g.

[code]

This is so that, even when disjunct from the documentation (e.g. while editing in Oxygen) they are a bit more explicit in telling to the user how to sort out the issue.
In this case, the report will te

[2020-10-27 12:27] rvdb commented on #2046
Hi @PietroLiuzzo ,

Good point! Even better: apparently, there's an attribute for that: `@see`, which can occur on `<sch:report>` and  `<sch:assert>`.

So, this could be done as:

    <sch:rule context="tei:quote">
      <sch:assert test="id(substring-after(@source, '#'))/(self::tei:ref[@type eq 'bibl']|self::tei:bibl[ancestor::tei:body])" see="https://tei-c.org/release/doc/tei-p5-exemplars/html/t

[2020-10-27 12:31] #1953 closed

[2020-10-27 12:36] peterstadler commented on #1953
The example I added in 99c2c71 is exactly @sydb's with only minor changes:
* prefixed the `@xml:id`s with 'person_' to avoid possible conflicts with other identifiers in the Guidelines.
* removed the two `@sex` attributes to avoid confusion – why only two? Is it always necessary? How do you know? …
* encoded the second instance of 'NYPD' with the same `choice` construct as the first one

[2020-10-27 13:11] sydb commented on #1953
Only the two `@sex` attributes because the name “Jaime Ross” is the only one which is used to identify a male in one list and a female in the other.

[2020-10-27 13:13] sydb commented on #1953
(That’s not necesarily a great reason, but it was my reason. :-)
If you care to put `@sex` on all entries, every other entry except for #person_FJR is male.

[2020-10-27 14:50] peterstadler opened #2047 "tei_all.dtd broken"
@sydb's [recent reordering of moduleRefs](https://github.com/TEIC/TEI/commit/48e6110f7dc5e301896298ab9f1e26e4fdca6e37) broke  tei_all.dtd  because now in the resulting version `%att.lexicographic.normalized.attributes`  is referenced before it is declared.

Jenkins just issues the warning ```tei_all.dtd:1318: parser warning : PEReference: %att.lexicographic.normalized.attributes; not found``` but

[2020-10-27 14:53] peterstadler commented on #1953
Thanks for follow up but I think I will leave it as is, now.

[2020-10-27 15:16] sydb commented on #2047
Seems to me your options are listed exactly in reverse order of preference. (That is, the last one is the best, the first the worst :-)

I don’t like the “undo all changes” option, but the minimal fix, if it works, is probably a really good idea because we would also need to add documentation to explain _why_ the modules are referenced out of order, which we should have.

A side question is why di

[2020-10-27 15:23] peterstadler commented on #1925
Regarding creating a new class for the attribute `@predicate`, the hardest thing (as always) is the name. I considered the following and would like some feedback:
* `att.conditional` or `att.conditionalExpression`: my favorite so far, has no(?) terminological overlap with current TEI attributes and classes
* `att.matching`: closer to xsl template matches (what `@predicate` is used for here), but h

[2020-10-27 15:29] peterstadler commented on #2047
I think it only surfaces when you run `make exemplars`; and the warning is rather hidden since the build is not stopped and flagged as broken.

[2020-10-27 15:39] peterstadler commented on #2047
Just tested the 'minimal fix' locally and pushing up the `analysis` module does help :)

[code]

[2020-10-27 15:58] sydb commented on #2047
Thanks for testing.
(But I **did** run make exemplars.)-:
I will try to write up some prose to explain the new order tonight.

[2020-10-27 19:08] sydb commented on #2047
Minimal fix pushed; hope Mr. Jenkins likes this one. If he does, I am inclined to close this issue and open a new one that ponders why att.lexicographic.normalized is declared in analysis rather than dictionaries.

[2020-10-28 16:55] berndmoos opened #2048 "@who for <span>"
In our work with the TEI versions of spoken language transcripts (following https://www.iso.org/standard/37338.html), we've come across a need to give `<span>` a `@who` attribute. The reason is that `@from` and `@to` alone do not always fully specify the reference of a `<span>` annotation. For example, we have cases like so:

[code]

And we want `<span from="1" to="3" who="A">Greeting</span>` in o

[2020-10-28 17:56] iljackb commented on #2048
I second this proposal. I personally use it (with an ODD schema) when attributing the contents of `<span>` annotations to a particular annotator or language consultant.

[2020-10-28 17:59] lb42 commented on #2048
@iljackb : why don't you use @resp which is available already and is intended specifically for this purpose?

[2020-10-28 18:10] iljackb commented on #2048
Hmm.. @lb42 looking at my data, I do actually use `@resp` not @who! (It's been a few months since I've worked on my corpus, sorry for the confusion!!). `@who` is used at a higher level in the actual text or spoken language data to attribute the speaker in an utterance or dialogue

[2020-10-29 00:31] sydb commented on #1919
What?
No, we can’t close this issue, the commit mentioned above (e13a62f) was made to special-purpose branch, not to dev.
I will issue a pull request as soon as I’ve merged current dev into it and tested it locally.

[2020-10-29 00:40] sydb commented on #1919
OK, passed my local tests and awaiting on Mr. Travis. Please see PR #2032, and close this once that has been approved and merged in.

[2020-10-29 04:05] sydb opened #2049 "on altIdent"
(Note: This issue wraps in the problem initially posted in #1859, the problem later discovered in #1859, and one of the last comments of #1919, namely that “there are some TD elements that probably should not have `<altIdent>`, either; `<modelGrp>`, e.g.”.)

# Problems

The problems with `<altIdent>` are:
* It is still allowed in some places where perhaps it should not be.
* Its content model is s

[2020-10-29 04:05] sydb commented on #1859
Plese see #2049 instead.

[2020-10-29 04:05] #1859 closed

[2020-10-29 04:59] laurentromary commented on #2048
@berndmoos Would it not be a possibility to point to the corresponding utterances selectively?
`<span target="#u1 #u3">Greeting</span>`

[2020-10-29 06:29] berndmoos commented on #2048
@laurentromary: Yes, and we do that for cases where the target is as simple as my example was simplified. The cases we would prefer an alternative solution is where `@start` is some token in one utterance and `@end` some token in another utterance (sometimes much) further on. We would have to put all the intervening token IDs into the target, and there can be very many of them, like so:

`<span ta

[2020-10-29 14:04] sydb opened #2050 "fix Schematron role= values in tei_customization"
(In some ways this issue continues the work done in #1795.)

@hcayless pointed out that the value "nonfatal" has crept into tei_customization in places where it should be "warning" or "information".

[2020-10-29 14:07] sydb opened #2051 "label for Exemplars?"
In creating #2050 I had expected their to be a label for “exemplars” (or some such). I could almost swear we created such a category this past summer.

I am not sure whether it should be "TEI: Exemplars" or just "Exemplars", but I, for one, am pretty convinced it should exist. Soon.

Assigning to @ebeshero and @martinascholger, as they were part of the “re-organize labels” task force this summer,

[2020-10-29 14:14] sydb opened #2052 "improve warning messages from tei_customization"
@hcayless points out that at least 2 of the warning messages from tei_customization are of the “this is wrong” flavor which (while true) is not very helpful. “This is wrong, here’s how you do it better”-style messages would live up to the exemplar’s stated purpose much better.

The messages he flagged are the one about deafult attribute value for a required attribute, and the one about the value o

[2020-10-29 14:49] #2050 closed, assigned to sydb

[2020-10-29 14:54] sydb commented on #2052
Note, BTW, that the message about default attribute value for a required attribute is not part of tei_customization, but rather is part of the definition of `<attDef>`. The "noDefault4Required" part, to be precise.

I have changed the message from
[code]
to
[code]
(in 7c74658) but perhaps someone else can make it even better.

[2020-10-29 17:32] sydb commented on #2052
As for the message on the value of `@source`, I have changed it to
[code]
in fba5a4c. Again, if someone wants to make improvements …

[2020-10-29 20:23] sydb commented on #2045
Personally, I feel this (`@calendar` in att.datable) is a corrigible error, and thus need not be deprecated. I have learned, however, that this is a controversial opinion that others do not share. Thus I am planning to put this removal through a 1-year deprecation period unless I hear support for the idea that such an egregious error can just be corrected without deprecation.

I hope I do hear “de

[2020-10-29 21:13] martindholmes commented on #2045
@sydb What about the syntactic-sugar date elements like `<birth>`, `<death>` and `<floruit>`?

[2020-10-29 22:08] sydb commented on #2045
Those three (at least) are definitively **not** syntactic-sugar for `<date>`:

Examples from the _Guidelines_:
[code]
[code]

Although to be fair, there are no examples of `<floruit>` that have other than date (or date range) content. Furthermore, there are some examples of these three that do imply the date is the important thing. E.g.:
[code]

That said, I do not currently have strong feelings t

[2020-10-29 22:37] hcayless commented on #2045
For the record, I think that this is absolutely a corrigible error and should not be subject to deprecation.

[2020-10-29 23:38] lb42 commented on #2045
Deprecation is entirely unnecessary. It makes no sense for @calendar to be datable, unless you think decisions about which calendar is being used in a given situation might change over time,

[2020-10-30 17:39] ralessi commented on #2006
Thank you, much interesting discussion!

[2020-10-30 23:52] sydb commented on #2012
Sigh. All well and good that we decided on option 3. However, a known [bug](https://github.com/TEIC/Stylesheets/issues/370) in the Stylesheets prevents us from doing that.

For now I have made att.interpLike a member of att.typed, but the local over-riding definition of `@type` in each of the four `<elementSpec>`s for the memberes of att.interpLike (namely, `<interp>`, `<interpGrp>`, `<span>`, and

[2020-10-30 23:58] sydb commented on #2012
P.S. As per a suggestion from @martindholmes, I tried using XInclude instead. I.e., putting the `<attDef>` for `@type` in the interp.xml file with an `@xml:id` of "type_should_be_from_att.interpLike", and having
[code]
in interpGrp.xml, span.xml, and spanGrp.xml. The XInclude processor I use (xmllint version “using libxml version 20903”, compiled with (among other things) “XPath XPointer XInclude”

[2020-10-31 01:02] martindholmes commented on #2012
@sydb I was about to suggest that you could just put an xml:id on the valList and do the XInclude with that, but then the penny dropped. :-) That's another reason I use PIs instead of XInclude.

[2020-10-31 22:50] duncdrum commented on #2045
I don’t think that the current behaviors sanity or corrigibility should be the determining factor when it comes to the question about deprecation.

If existing valid code will become invalid and require work, because of changes in this commit, those changes require a deprecation period.

If dated calendars are silly and no one uses it, then no one will mourn. But deprecation seems the way to go to

[2020-11-01 00:03] sydb commented on #2045
While it may not change your opinion, @duncdrum, I think you may be missing the point on two fronts.

First, the very definition of “corrigible error” (here in TEI-land) includes that no deprecation period is required.

But more importantly, although use of `@calendar` on, say, `<orgName>` may have been inadvertently permitted by the schema, it was not part of the abstract model. So correcting it

[2020-11-01 00:08] sydb commented on #2052
Fixed my silly oversight, builds are succeeding. Thus closing this issue, although everyone should still feel free to improve the wording. (Just remember to change the Test/expected-results/detest.log file as needed. :-)

[2020-11-01 00:08] #2052 closed, assigned to hcayless, sydb

[2020-11-01 00:21] martindholmes commented on #2045
@sydb The example above doesn't mean what you suggest: `@calendar` refers to the text content of the element, not the value of dating attributes. Whether it would be wrong to say `<orgName from="1532" to="1555" calendar="#whatever">` is wrong would depend on the text content of `<orgName>`; it has no connection with the `@from` and `@to` attributes. If I want to use a non-Gregorian calendar in dat

[2020-11-01 00:23] sydb commented on #2045
Yes, @martindholmes, I _know_ it doesn’t mean that. My point is if the mythical scholar in my example _does_ think that, I would like to disavow her of that misunderstanding sooner rather than later.

[2020-11-01 09:42] duncdrum commented on #2045
@sydb correct, it doesn’t

[2020-11-02 09:07] martinascholger commented on #2051
I've added the new label "TEI: Exemplars"

[2020-11-02 09:07] #2051 closed, assigned to ebeshero, martinascholger

[2020-11-02 09:24] martinascholger opened #2054 "encoding of ruby glosses"
This issue functions as a central hub for the work on the encoding of ruby glosses in TEI proposed by the East Asian / Japanese SIG. This includes the original proposal ([https://docs.google.com/document/d/1rRgBRYpxUlsnMEHbOPW-92u_AIMNwq9axGtpI1UGgz8/edit#](https://docs.google.com/document/d/1rRgBRYpxUlsnMEHbOPW-92u_AIMNwq9axGtpI1UGgz8/edit#)), the draft of the ODD, and the work on different examp

[2020-11-02 10:21] duncdrum commented on #2054
No suprises i guess that i m heavily in favor of this. Some thoughts for discussion, to be fleshed out later:

For the Guidelines examples, i would suggest to not only focus on the highly detailed requirements outlined in the gdocs, but to also consider helper methods for when rubys appear:
-  in a highly predictable and regular manner (on every word or even on every character)
    In the first ca

[2020-11-02 13:22] sydb opened #2055 "description of attRef not helpful"
Is an `<attRef>` element used to refer to an attribute when building a schema (i.e., as a descendant of `<scemaSpec>` or `<specGrp>`), or is it used to provide the place to insert documentation about an attribute (e.g., as a child of `<specList>`)? The answer is the former, of course, but my point is that one cannot find out just looking at the tagdoc, which strikes me as less than desirable.

Thi

[2020-11-02 15:10] sydb commented on #2054
First, here is a  [first crack at an ODD file](https://github.com/TEIC/TEI/files/5475933/ruby_schema.zip) for ruby annotations. That ZIP archive contains the generated RELAX NG, Schematron, and HTML, too.
Second, here is the
[XML file (with “.txt” extension to appease GitHub)](https://github.com/TEIC/TEI/files/5475941/ruby01.xml.txt) we were playing around with on our recent conference call. This

[2020-11-02 15:28] martindholmes commented on #2054
I think we need one section in the Guidelines in core (CO) to cover the most straightforward cases, then a much more detailed explanation covering the more unusual cases raised by @duncdrum as well as standoff approaches in Characters, Glyphs and Writing Modes (WD); finally, I think there should be a mention in Linking, Segmentation and Alignment (SA) mentioning the standoff approach and pointing

[2020-11-02 15:30] martindholmes commented on #2054
@duncdrum Could you post images of the more unusual cases you mention?

[2020-11-02 15:30] sydb commented on #2054
I think similarly to @martindholmes, but was imagining that the stand-off approach would be fully described in SA, with CO and WD directing the reader there if interested.

[2020-11-03 18:31] duncdrum commented on #2054
@martindholmes actually my concern was with long text in which non of the unusual cases occur, but yet i ll post images.

here is @sydb xml so its easier to track here:
[code]

[2020-11-07 01:41] sydb opened #2056 "extraneous build vars"
Per my work with @martindholmes earlier today on [the language processing](https://wiki.tei-c.org/index.php?title=Mapping_language_processing), this ticket is to investigate whether the parameters $LANGUAGE and $DOCUMENTATIONLANGUAGE in the files P5/Makefile and the P5/Test/Makefile can be removed, and to remove them if they are in fact extraneous.

As far as we could tell, those parameters are de

[2020-11-07 02:01] sydb commented on #2056
### Summary ###

I have ascertained that the two parameters in question make no difference in the outputs of the build process except the one message, as expected.

### Process ###

- created two directories each with the TEI repo, dev branch; call them nomod/ and del_L/.
- deleted the declarations of the two variables in question from each of the two Makefiles in only the del_L/ directory (leavin

[2020-11-11 02:16] sydb commented on #2049
Instructions for Council subgroup (@sydb, @ebeshero, @npcole, and special guest @martindholmes):

Fill in “1” (favorite), “2” (second favorite), “3” (third favorite) in your three favorite methods for encoding what we currently encode as `<altIdent type="FPI">` in the column under your initials.

Instructions for anyone else who would like to express an opinion:

Edit the table adding a column for

[2020-11-11 02:29] sydb commented on #2049
Instructions for Council subgroup (@sydb, @ebeshero, @npcole, and special guests @jamescummings and @martindholmes):

In the column under your initials fill in a checkmark (‘✓’, U+2713) for those elements for which you think `<altIdent>` should be allowed as a child; fill in a ballot X (‘✗’, U+2717) for those elements for which you think `<altIdent>` should **not** be allowed as a child; fill in a

[2020-11-11 21:26] sydb commented on #2056
If Messrs. Jenkins & Travis approve, this should be closed.

[2020-11-12 16:55] martindholmes commented on #2049
I'm sure this was covered in the Council discussion, but I wasn't there so I'm going to ask: Aren't we confusing a human-readable title with a Formal Public Identifier here? "Names and Dates" is a heading or a title; an FPI should presumably be some sort of unique identifier such as a URI, shouldn't it? We would expect "Names and Dates" to be translated into another language when the schema is not

[2020-11-12 19:29] sydb commented on #2049
No, I don’t think we are confusing the title (e.g. “The TEI Header”, which is found at `./ancestor::div[not(ancestor::div)]/head` in p5.xml, where `.` is the `<moduleSpec>` in question) with the FPI (e.g. “-//TEI P5//ELEMENTS Common Metadata//EN”, of which only the “Common Metadata” bit is stored as encoded information in p5.xml, at `./altIdent[@type eq 'FPI']`). While an FPI provides a mechanism

[2020-11-12 19:31] sydb commented on #2049
Worth mentioning there is an FPI → URI methodology:
[code]

[2020-11-12 20:27] sydb commented on #2049
Yeah, I had the columns in the **Addendum** above reversed. Fixed now.

[2020-11-13 01:42] sydb commented on #1911
@MegJBrown and I added `@function` to `<material>`, including a sample values include list, examples of other such lists in the `<remarks>`, and adding it to some of the examples of `<material>` in the _Guidelines_.

Pending approval of Messrs. Jenkins and Travis, this ticket can be closed.

[2020-11-16 19:45] dmj opened #2058 "attDef/@ns still has the wrong default value"
The discussion in #606 ended in the decision to remove the default value from attDef/@ns. But the guidelines still define a defaultVal for this attribute:

https://github.com/TEIC/TEI/blob/9e6d7fb88717edf3befe52f83aceb315ec8298a7/P5/Source/Specs/attDef.xml#L142

[2020-11-16 21:24] dmj opened #2060 "Prose in "Element and Attribute Descriptions" (TDphraseEA) refers to non-existent <ptr> in example"
https://github.com/TEIC/TEI/blob/9e6d7fb88717edf3befe52f83aceb315ec8298a7/P5/Source/Guidelines/en/TD-DocumentationElements.xml#L156

The prose below the example starts with "When formatting the <gi>ptr</gi> element in this example..." but the example does not contain a &lt;ptr> element.

[2020-11-17 07:28] dmj commented on #2040
I think we could break this down further down to two related issues:

## No. 1

elementSpec/@‍ident has the datatype teidata.name which is equivalent to a prefixed or unprefixed XML name (xs:Name). The attribute value may contain a colon.

elementRef/@‍key has the datatype teidata.xmlName which is equivalent to an unprefixed XML name (xs:NCName). The attribute value must not contain a colon.

You

[2020-11-19 17:16] lb42 commented on #1921
You could make exactly the same argument about many other elements. For example, the *Spec elements are members of model.inter, and can thus appear in all sorts of unlikely places, as well as some quite sensible ones.  If you really care, then surely the right solution is to define a new class for these ODD-specific components and add references to that to the more generic ones? Or just live with

[2020-11-19 17:28] lb42 commented on #2029
Thanks for the suggestion: imprimatur should do very nicely. I suppose the reason I didn't think of it is that I wanted to nest the information within the `<docImprint>`  rather than as a sibling of it (imprimatur is a member of model.titlePagePart only)

[2020-11-19 17:28] #2029 closed, assigned to lujessica

[2020-11-19 17:33] lb42 commented on #2034
Adjusting the schema to match the prose is not such a good idea when (as here) the prose is muddled. It seems to me to be saying that  you can have apples inside a bag, or a bag of apples inside a bag, but that the apples are to be treated differently in the two cases.

[2020-11-19 20:47] dmj opened #2061 "specDesc does not only point to element or class specification elements"
The definition of specDesc reads:

But the specDescs in the guidelines chapter 1.4 Macros point to macroSpec elements.

The definition thus should read:

indicates that a description of the specified **element, class, or macro** should be included at this point within a document. ... @key supplies the identifier of the documentary **element, class, or macro** for which a description is to be obtai

[2020-11-19 20:50] dmj opened #2062 "specDesc/@key should be required"
The specDesc element ndicates that a description of the specified element or class should be included at this point within a document. Its @key attribute supplies the identifier of the documentary element or class for which a description is to be obtained.

The attribute is defined to be optional but should be required.

[2020-11-20 07:06] dmj commented on #2061
Addendum: Running the following XQuery on p5.xml shows that specDesc refers to other specification elements as well:

[code]

[code]

[2020-11-20 07:07] dmj commented on #2040
Another take on this issue: elementSpec/@‍ident serves a double purpose. It a) gives the name of the element specification and b) gives the name of the specified element.

For a), @‍ns plays no role and the solution No. 1 is required and sufficiant. Changing the datatype of elementRef/@‍key to xs:Name is also in line with e.g. specDesc/@‍key.

For b), both @‍ident and @‍ns play a role

[2020-11-20 15:47] #2056 closed, assigned to sydb

[2020-11-20 15:52] #2047 closed, assigned to sydb

[2020-11-20 16:32] martindholmes commented on #2045
With @sydb. Here's a list of elements that have it:

| element        | Needs `@calendar`? |
| ------------- |:-------------:|
 | acquisition | no  |
 | affiliation | no  |
 | age | no  |
 | application | no  |
 | binding | no  |
 | birth | no  |
 | bloc | no  |
 | change | no  |
 | climate | no  |
 | conversion | no  |
 | country | no  |
 | creation | no  |
 | custEvent | no  |
 | date | yes  |

[2020-11-20 18:15] duncdrum commented on #2045
`He is now <age calendar='sui'>2 years</age> old` makes a lot of sense to me, for age descriptions in context where baby's are `1` at birth (as opposed to `0` as is the norm in english).
there are probably similar arguments to be made for `<state>` and `<trait>` although i can't come up with any while
*still reeling from the*  `1` 🎂 🥳

[2020-11-20 18:34] martindholmes commented on #2045
@duncdrum You're pointing at a file called "sui" containing only a `<calendar>` element. That can't be right, surely?

But the broader point you're raising is whether durations should be datable, as opposed to dates/datetimes/date ranges/datetime ranges. I don't know for sure, but I don't think so. Are these special years defined differently from regular years, or are they just the same years we'r

[2020-11-20 18:44] duncdrum commented on #2045
@martindholmes they are years, it’s just that a person that is 20 years old in Canada was born in 2000, while a Chinese person was born in 2001. So in translation or other documents that go back and forth, we have to wonder all the time, how old the speaker really is.

And no I missed the `#` the sui calendar being explained via `clendarDesc` in the header.

[2020-11-20 18:50] martindholmes commented on #2045
@duncdrum But the age element says nothing about when someone was born; that's irrelevant. For it to be relevant, there would have to be mention of a date on which that person was two years old, and it's that date that may need a calendar. But in that case, you should surely use custom dating attributes, wouldn't you? `@calendar` is only for cases in which a true datetime is in the original text o

[2020-11-20 18:50] sydb commented on #2045
But (he asked curiously of @duncdrum) is that differnce really a _calendar_ difference, or a _cultural_ difference?

I can, however, imagine `<age calendar="#DCU_Martian">65</age>` in the personographic entry for J’onn J’onzz.

Nonetheless, I am against providing `@calendar` on `<age>` barring an actual use case.

[2020-11-20 19:06] duncdrum commented on #2045
When either transcribing interviews or government documents, there are often  date and and age fields or statements. The above example is very much an actual use case, I as an editor need to supply this info or otherwise the two twenty year olds interviewed by me on the same date refer to different years in their accounts.

[2020-11-20 19:17] sydb commented on #2045
If I understand you correctly, @duncdrum (and I well may not), that is an argument for being able to normalize the value in `<age>`, but not an argument for doing so with `@calendar` in particular. The difference does not seem to be one of calendar, but one of counting. (More similar to the age-old argument of whether arrays should be indexed starting from 0 or 1 — ask a **C** programmer and an XS

[2020-11-20 19:51] martindholmes commented on #2045
@sydb for this:

`<age calendar="#DCU_Martian">65</age>`

you would surely use a unitDef and a unit element to specify that these years are not earth-years. A quantity of time is not a date, I don't think; it's a measurement. A calendar is a way of specifying points on a timeline, and the timeline may be divided into units of various kinds, and you may or may not specify those dates using some of

[2020-11-20 23:48] duncdrum commented on #2045
It’s getting quite late here, I did a quick search for my use of `@calendar` And have found instance of quite a few of the elements in Martin’s list. Now it’s possible that I have used this wrongly, but it’s also possible that you guys are missing the point.

I ll post some excerpts from one of my projects in the next few days so we can get this sorted.

@sydb it can  if eg your event is on Februa

[2020-11-21 00:40] martindholmes commented on #2045
@duncdrum I still think you're confusing measurement with dating, but let's take a clear example for discussion. A Martian calendar is presumably delimited in Martian days (24 h 37 m 22.663 s in earth-time). If you're tagging a text written by a Martian, and they use the word "day", meaning a Martian day, in a sentence:

On that day, he was arrested.

How should we tag that word "day"? We can't ta

[2020-11-24 15:30] duncdrum commented on #2045
### Part 1: Why I think that there is a problem.

As promised, here it goes. Let's ignore for a moment the xml `xs:date` pecularieties concerning BCE dates.
And let's also forgo the detailed calendrical math stuff. The point is that documents contain dates we wish to deal with in tei.

So let's look at the OPs example:
[code]

And use a similar Chinese example from the same period from one of my p

[2020-11-24 15:45] martindholmes commented on #2045
Just to clarify: your dates have been converted to proleptic Gregorian already, right? Hence the use of `@when`.

[2020-11-24 16:15] duncdrum commented on #2045
Yes `@when` normalized relative to xml version. `@when-custom` the reason we need `@calendar` in the first place.

[2020-11-24 19:27] martindholmes commented on #2045
@duncdrum If this is the date:
黃龍一年十日
Why not just wrap it in a date element?

[2020-11-24 23:11] duncdrum commented on #2045
@martindholmes because I don’t have to, it’s an adaptation of @sydb example from the guidelines.

`birth` does not demand `date`, so it taking `@calendar` makes sense, unless a whole bunch of rules get changed.

I switched `birth` for `death` because historical accuracy.

[2020-11-24 23:41] martindholmes commented on #2045
@duncdrum But when you use `@calendar` on `<death>`, you're implying that it applies also to the other content in there, aren't you? You're saying that it applies also to the city and the country. I think that's just sloppy markup, to be honest.

[2020-11-25 02:24] sydb commented on #2045
No, `@dating-method` is how you indicate the `<calendar>` that applies to `@when-custom`.

[2020-11-25 03:44] martindholmes commented on #2045
Let's try to clarify again:

`@when` means (proleptic) Gregorian. No problem.
`@when-custom` tells us what the date is according to the `<calendar>` pointed to by `@datingMethod`.
`@calendar` tells us the `<calendar>` which applies to the following textual content:

黃龍一年十日
長安
西漢

Part of this content is a date, but some of it is the name of a city and some is the name of a country. Unless cities a

[2020-11-25 11:20] duncdrum commented on #2045
The point is that this sloppy markup comes from the Guidelines, i have simply replaced a person from one cultural context, with that from another.

[code]

`@when-custom`applies as much to `長安 西漢 `as does `@when` to `Sulmona Italie` in the example above.

I d say the guidelines are unclear on that point, especially on the combination of `@period` and `@calendar`. However, we need to recognize the

[2020-11-25 15:05] sydb commented on #2045
I would argue you don’t have to use `<date>` unless you want to use `@calendar`, and then you do (or should) have to.

But you’re point about the "Ovi01" examples in the _Guidelines_ being sloppy markup is well taken. (And convinces me that if `<birth>` and `<death>` are to be removed from att.datable, it certainly needs to be deprecated.)

The basic question is whether or not having `<birth>` and

[2020-11-25 15:06] sydb commented on #2045
I would argue you don’t have to use `<date>` unless you want to use `@calendar`, and then you do (or should) have to.

But you’re point about the "Ovi01" examples in the _Guidelines_ being sloppy markup is well taken. But I still do not see why, just because a simple case can be handled sloppily, it is a good idea to spread that sloppiness around, as it were.

That is, having `<birth>` and `<death

[2020-11-25 16:04] duncdrum commented on #2045
Ok sounds like we're moving to
### Part 2: what to do about it
-  Opt 1: nothing. It is what it is because changes will be a break-in 🎶
-  Opt 2: something, because Council clearly sees a problem.

From what i can gather there are three sets of questions:
-  one about the wisdom of `att.datable` in its current form:
    -  do we want to keep `att.datable` attributes on anything other then `<date>`

[2020-11-25 16:29] martindholmes commented on #2045
@duncdrum Your two concise forms are doing two completely different things, of course.

The fact that your encoding is based on an example in the Guidelines isn't necessarily an argument in its favour, because this ticket is about changing the Guidelines because they don't seem quite right.

In all your examples, it appears (to me at least) that the distinction between `@datingMethod` and `@calend

[2020-11-25 16:37] duncdrum commented on #2045
@martindholmes the thing is simply changing `@calendar` in isolation of other date related classes as the ticket here suggests, won't achieve the desired tightening of the Guidelines.

My point is that as long as

[code]

is valid and good practice, Both

[code]
and
[code]

are desirable applications of how these attributes function according to the Guidelines, in fact i have used such constructio

[2020-11-25 17:03] martindholmes commented on #2045
@duncdrum So it looks like the example encodings (other than these very simple examples) are in fact a red herring; you're not arguing that they're good encoding that should be encouraged, you're arguing something different.

One issue here is that `<birth>`, `<floruit>` and `<death>` are metadata elements; they only occur within person, personGrp and persona. The normal use of `@calendar` is to p

[2020-11-25 17:33] duncdrum commented on #2045
The point i m failing to communicate is that if transcribe a Taiwanese document today (e.g.: publication date of an article in `<bibl>`), the date will be in `#ROC`:
[code]
Same if transcribe historical records (contracts, throne edicts, 16th century imprimaturs) the dates will be `#chinTrad`. Hence the presence of `@calendar` in `att.datable`. It being there is far from a corrigible error. `<deat

[2020-11-25 17:40] martindholmes commented on #2045
I don't think anyone is arguing that this should be wrong:

`<birth when-custom="109-11-25" datingMethod="#ROC"/>`

Unless I misunderstand @sydb. But I do think this is strange:

`<birth calendar="#ROC">109-11-25</birth>`

because of my assumption that `@calendar` is intended for transcribed text, not metadata.

[2020-11-25 17:40] duncdrum commented on #2045
think of a birth-certificate.

`@calendar` is about

irrespective of transcription or meta-data. neither of which hinges on membership with `att.datable`

`109-11-25` when processed by NER will correctly be tagged as `<DATE>` so will `黃龍一年十日` it's not like ppl don't open novels by saying on such and such a day ...

[2020-11-25 17:52] duncdrum commented on #2045
### part 3 to sum up
there are problems with `att.datable` and there are problems with the triplet of `@calendar` `@datingMethod` and `@period`.  Neither of which is resolved by removing `@calendar` from `att.datable` that's the red herring solution imv.

I do not see the class membership as an error in the first place. Certainly as something requiring deprecation.

What council wants to do about

[2020-11-25 17:53] martindholmes commented on #2045
But a birth certificate is a document that would be transcribed in the text or sourceDoc element; it's not a piece of metadata appearing in the header or in the linked data container. So it wouldn't have `<person>` in it, and therefore it wouldn't have `<birth>` in it.

[2020-11-25 17:58] duncdrum commented on #2045
Looking at @sydb list of elements, these can and do occur outside of the header in the text section, the Guidelines even show pseudo-prose for the contents of`<birth>`. If it's ok to use `<orgName>` inside `<body>` and it is in `att.datable` then `@calendar` needs to be in `att.datable`. If `<birth>` appears in the header with prose contents, and it can have `@when` it also needs `@calendar`.

[2020-11-25 18:04] martindholmes commented on #2045
`<birth>` etc. can only occur as in person, personGrp and persona. Those are metadata elements. persName, orgName and so on are not metadata elements, and they may occur anywhere in transcribed text as well as in header elements. Any element needing `@calendar` would get it by means of another class after it's removed from att.datable (if that's what ends up happening). The only question is where

[2020-11-25 21:17] duncdrum commented on #2045
@martindholmes i can totally be convinced that this is a good idea, as part of more wide ranging changes about dates that increase consistency, adjust validation scenarios, and modify the guidelines prose and examples.

Since this discussion started with status green, no deprecation necessary, I went by what’s in this ticket. I’m so far against the removal, but it’s not my call. But I think I stat

[2020-11-27 18:27] #1911 closed

[2020-11-27 18:37] sydb commented on #2062
I agree, and think this is a corrigible error.

P.S. There are no instances of `<specDesc>` in the Guidelines sources that do not have `@key`, and (unlike, say `<dataRef>`) there is no other mechanism for indicating which  specification’s description is to be grabbed.

[2020-11-27 19:33] sydb commented on #2061
I used two different mechanism to determine the list, and I get the exact same result as @dmj, and think the wording should indeed be updated.

But I think the wording in this tagdoc is even worse than @dmj points out: nowhere does it say that the `@key` refers to a specification (or “documentary” — do we like that word?) element by its `@ident`.

My suggested wordings:

And, add a `<remarks>` (of

[2020-11-27 20:13] sydb commented on #2062
P.S. I think this issue should be “Status GO”, except for the question of whether deprecation is required or not, which needs discussion. I do not think deprecation is required at all.

[2020-11-27 20:24] sydb commented on #2058
I do not think this needs deprecation or discussion, myself. I think @dmj is right, that `<defaultVal>` should simply be removed. (Some might argue in favor of `<defaultVal/>`, but I would argue against.)

[2020-11-27 22:53] sydb commented on #2045
Herein I will use `@when` as a stand-in for the attributes in att.datable.w3c and att.datable.iso, and “date” to mean “date, time, duration” or other temporal expression usefully normalized.

I think one way to look at this is that `@when` says “this thing happened at or represents a specific date, and here is the normalization of that date”. They do _not_ say “there might be a date buried somewhe

[2020-11-27 23:04] martindholmes commented on #2045
@sydb I agree 100%. I think a date element should be used to clarify that the `@calendar` applies only to a string of text that is explicitly a date. I'm completely unconvinced by the idea that calendars apply in some weird way to other things such as locations; and even if there's an argument that they do, they don't apply in the same way as they do to a date, so the explanation of that relations

[2020-11-28 01:23] duncdrum commented on #2045
Nope, but omitting an answer why a) mandating the following doesn’t follow from restricting  `@calendar` to appear on `<date>`

[code]
 And b) how to preserve the editors freedom to go easy on attributes, and have something like this available

[code]

Stardates, reign dates, lunar dates etc. are normalized via the `calendarDesc`, they're just not closely following the proleptic Gregorian `xs:date

[2020-11-28 15:38] npcole opened #2063 "Create script for listing assigned tickets by Council Member"
Just to help with management, and suggested by @sydb , create a small script to list tickets assigned to each council member.

[2020-11-28 15:52] npcole opened #2064 "Tickets should be Triaged for Difficulty and Labelled."
For discussion by Council: it might be helpful to create the following labels:

Difficulty:Low
Difficulty:Medium
Difficulty:High

To help with the triage process.

This should probably belong in a 'Meta' category -- which does not exist in this repo for some reason, but which does exist in Stylesheets.

[2020-11-28 17:38] sydb commented on #2064
[Note: I don’t really think this is a good idea, but I do think it is too cute not to post. If it were April Fools …]

Or, thinking instead along the lines of how skilled one should probably be to attack said ticket, and considering that many consider the Stylesheets essentially magic, we could use the levels of magic-user from Dungeons & Dragons (this list from [AD&D](https://dungeonsdragons.fand

[2020-11-28 17:53] martindholmes commented on #2064
I propose instead the Sebastian scale, from 0.1 Sebastians (anyone could do it) up to 1.0 Sebastians (no-one will ever be able to figure it out).

[2020-11-28 18:54] sydb commented on #2064
I like it! I like the idea of incorporating an honor to our late comrade and nod to his brilliance.

But I would prefer to call it the SPQR scale.

[2020-11-28 21:43] sydb commented on #2037
So I am proceeding with making `<gloss xml:lang="en">` a required child of the following elements iff there is already a `<gloss>` child at all. I am doing this _in the **p5odds** schema_. Thus this change does not effect the ODD language as defined **by** the _Guidelines_, but rather only the ODD language as we use it **in** the _Guidelines_.

###### Specification elements that will get this trea

[2020-11-30 02:13] sydb commented on #2033
OK, minor issues fixed. As for the structure, just making sure we’re talking about the same thing, here, @lb42 …

Here is the structure of the chapter:
[code]
With “Dates and Times” a subsection of “Biographical and Prosopographical Data”. With obvious exceptions (“September 11th”) I do not see dates or times as named entities myself. Certainly not in the same way as a person, place, or organizati

[2020-11-30 10:57] lb42 commented on #2033
The statement "The entire structure of this chapter is messed up" is a little hyperbolic tjough I agree that section NDDATE doesn't have any very obvious good home. It used to be much smaller, before all this guff about nonGregorian normalization was added, and could get away with being a subsection of NDPERS, but I take your point that now it has been so substantially enriched it should be a sect

[2020-11-30 11:16] duncdrum commented on #2033
i take it `guff` is short for `good stuff`? but yes +1 for making it its own section, historical calendars are hard enough as it is.

[2020-11-30 14:09] sydb commented on #2033
OK. Going to close this ticket, then, and open a new one with suggestion that NDDATE become a direct child of ND. (Personally I think placing it as a new 13.2 is probably the way to go.)

[2020-11-30 14:09] #2033 closed, assigned to sydb, npcole

[2020-11-30 14:15] sydb opened #2066 "promote “Dates and Times”"
Per discussion on a [related ticket](https://github.com/TEIC/TEI/issues/2033), the subsection “Dates and Times” should be promoted to a section of the chapter “Names, Dates, People, and Places” (rather than a subsection of “Biographical and Prosopographical Data”). That is, NDDATE should be a child of ND, not of NDPERS.

[2020-11-30 16:20] martindholmes commented on #2054
Doing some initial testing of @sydb's schema, I'm wondering if the ruby element should be allowed inside the w element. It seems to me that encoding linguistic segments in conjunction with ruby should be possible.

[2020-11-30 16:43] martindholmes commented on #2054
Posting a text document taking a very simple example and working out some implications. This uses a very useful single example from the Ruby team's proposal, which has the same three characters glossed in two different ways, with differing segmentation; the gloss on the left is a whole-word gloss of the whole kanji word, while the glosses on the right apply to only the first and second characters

[2020-12-01 11:05] peterstadler commented on #2043
@TEIC/tei-technical-council anyone against labeling this as "green" and "go"?!

[2020-12-01 13:33] sydb commented on #2043
I’m not only not against, I’m in favor of doing so, and of actually deleting the directory. (Keeping in mind that this is a revision control system, and we can go back and get that information if we need it makes this a pretty easy call for me. Could be useful, though, to leave here on the ticket the git command necessary to get it back.)

[2020-12-01 17:44] michalkozak opened #2067 "`@assertedValue` of `<certainty>` should also accept pointers"
According to the schema of `<certainty>` element, its `@assertedValue` attribute do not accept whitespaces, although it used to

Its type is defined as `teidata.word`

If someone would like to annotate an expression as uncertain and provide an asserted value which, in their opinion, should replace the uncertain piece of text, they have two options:
- create a separate certainty for each word
- cre

[2020-12-02 10:06] duncdrum commented on #2045
btw @martindholmes it just occurred to me that we are using `transcribed` to mean different things, i think you restrict it to what appears inside `<tei:body>` where as i also call something `transcribed` if it appears in the `head` (metadata) but it sticks to the appearance on the original document.

So in this context, i would use
[code]

to transcribe a document which has a Seal or stamp on whi

[2020-12-02 12:37] martindholmes commented on #2045
That's exactly right.

[2020-12-02 19:24] duncdrum commented on #2045
Hah at least we got that sorted! I ll drop the term, but will gladly continue the practice, which doesn’t strike me as that wild an approach 👺

PS: to be clear there would always also be a proper transcription in the body.

[2020-12-02 19:29] martindholmes commented on #2045
This is basically why we believe that `@calendar` is fundamentally different from the other dating attributes and belongs in its own class; it's saying something about original transcribed text. The only way I'd use it in a metadata element would be if that element contained a quotation from the source, and the quotation contained a date.

[2020-12-02 20:22] duncdrum commented on #2045
Yes I see now where you want to go. Can you also see why I think that nowhere in its spec, nor in other date and calendar prose does it say that?

If editors want to use element contents in the header to mirror the data format in the document, i say let them.  Also what about `@period` same thing or different, if different how so?

[2020-12-02 21:27] martindholmes commented on #2045
You're right that we don't specify that anywhere in particular, which is why I've been careful to say that it's my understanding of the situation rather than being necessarily the truth. And I really don't know how `@period` fits into this, frankly; it seems distinct from `@calendar`, and is perfectly suitable for use in both text and metadata.

[2020-12-04 00:48] MegJBrown commented on #2036
See pull request #2068

[2020-12-04 13:29] dmj commented on #2064
I understand the sentiment but would like to point out the a "Sebastian" or "SPQR" scale would be a complete inside reference, only understood by a particular generation and/or subgroup of the TEI community. I see a danger that establishing such a reference raises the barrier of future contributions.

Framing the discussion of effort estimates in terms of honor and comradery excludes individuals w

[2020-12-04 14:02] sydb commented on #2064
You (@dmj) basically raise two issues — that the name is an in-joke that would cause problems, and that a single scale may lack the heuristics to properly indicate the degree of difficulty. Good points both, I think.

My first reaction on the first issue is basically “well, yes, if it’s not documented”. Certainly newly minted words, especially in-jokes, can be barriers; but they can also be useful

[2020-12-04 16:06] martindholmes commented on #2064
@dmj I'm sorry you never knew Sebastian. But I think a lighthearted way of acknowledging our debt to one of our greatest contributors does no harm, as long as it's clearly explained.

[2020-12-04 16:58] martindholmes opened #2070 "Make file points at non-existent files"
With @sydb: The P5 build tries to retrieve the VERSION files from all previous versions of TEI (in the dist-doc.stamp target, which ends up invoking a Stylesheets file Stylesheets/profiles/readme/html/to.xsl), pointing to paths such as:

https://www.tei-c.org/Vault/P5/4.1.0/VERSION

for every single version of P5. However, those files are now in a different location:

https://www.tei-c.org/Vault/P

[2020-12-06 14:09] npcole commented on #2064
I'm sorry I never knew him too.  I think I would have liked him a lot.

[2020-12-07 03:12] sydb commented on #2067
I think OP (@michalkozak) has raised an important shortcoming: that there is no way to indicate an alternate proposed transcription in `@assertedValue` of `<certainty>`, even though the prose specifically licenses this. I think this is an important problem that needs attention.

But moreover, he raises two other important issues (perhaps without realizing it). First, that there is no mechanism, ev

[2020-12-07 15:40] sydb opened #2071 "description of "URI" in idno/@type"
The description of the "URI" value of the `@type` attribute of `<idno>` leaves a lot to be desired, like grammar (missing an article before “indication”), specificity (that indication is called a scheme), and accuracy (it is _not_ a filepath).

[2020-12-08 15:31] ebeshero opened #2072 "change the content model of exemplum"
This is a continuation from #1933 : Now that we have experimented with outputting all exempla from tagdocs (agnostic of language) at https://bauman.zapto.org/~syd/temp/4TEICouncil/html_GLs_all_eg_en/  , we want to try to group examples that are duplicates of each other but described in different languages. We're opening this ticket to work on changing the content model of `<exemplum>` to permit th

[2020-12-08 15:35] ebeshero opened #2073 "Group identical exempla"
When we have completed #2072, we need to proceed with grouping exempla that are identical, but described in different languages. These tickets follow from work we began in #1933.

[2020-12-08 17:28] martinascholger opened #2074 "att.citing: gloss contains a description"
The Spanish `<gloss>` elements for the suggested values 'volume' and 'page' of the `@unit` attribute in att.citing.xml contain a description instead of a gloss. We need to add a gloss and to check the descriptions (`<desc>` elements).

[2020-12-08 20:46] #2043 closed, assigned to peterstadler

[2020-12-08 20:55] peterstadler commented on #2043
for the record (and since @sydb asked): If you want to the deleted directory back, you'll need to checkout the parent of  the above commit 0f543a9 like

[code]

[2020-12-09 14:09] sydb commented on #2043
Thank you, @peterstadler !

[2020-12-11 02:27] MegJBrown commented on #2010
Questions for council:

1. Can we cite a ticket in the bibliography (_this ticket_, specifically)?
2. Does anyone know of a good source for transcribed examples that might feature indicated personal pronouns?
3. Does anyone want to check my elementary French?

[2020-12-11 14:00] michalkozak commented on #2067
I think @sydb was very tired when was writing:

In P5 we have `att.scoping`, i.e. `@target` and `@match` attributes. Therefore when we want to indicate that certainty with `locus="name"` refers to an element name we only used `@target`, and when we would like to point an attribute we additionally use `@match`. The same rules are for `locus="value"`. For the remaining values of `@locus` (`start`, `

[2020-12-11 14:52] sydb commented on #2067
Ha! Indeed. I would use the excuse that I was drunk, but I don’t drink!
Anyway, I have a pretty full day today, hope to take a more careful look tomorrow.

[2020-12-12 19:08] sydb opened #2076 "improvements to SG-oth: order of sub-sections, XML declaration, encoding"
The section “Other Components of an XML Document” (`"SG-oth"`, currently v.7) could use some updating.

1. What got me looking at this section was @martindholmes’s observation that it would be better if the 2nd example in the “Processing Instructions” (`SG-pi`) subsection showed an encoding of “UTF-8” rather than “iso-8859-1”. This is because lots of people will glance at or copy the example witho

[2020-12-12 19:11] sydb commented on #2076
This chapter of the _Guidelines_, arguably the most popular and influential, is primarily the work of @lb42. Thus assigning to him, as I think he has earned right of first refusal for updates to this chapter.

[2020-12-12 19:13] sydb opened #2077 "not completley correct encoding declarations"
In a recent conversation with @martindholmes I bemoaned the fact that Emacs/nxml, an absolutely amazing XML editing environment that performs continuous validation against RELAX NG compact syntax, inserts an XML declaration that uses "utf-8" instead of "UTF-8". (The XML Spec says "UTF-8" SHOULD be used for UTF-8, and does not mention "utf-8". Furthermore it instructs that “XML processors SHOULD ma

[2020-12-12 21:17] sydb commented on #2010
@martindholmes points out with respect to question (1), above, that GitHub might be a pretty ephemeral resource.

But this does raise the big issue of how many layers through the onion should `egXML/@source` point? We took the SUEtheTrex example from the OP’s post on the ticket. She made it up (by transcribing the Twitter source she points to) for that ticket. Part of me says we should just use `#

[2020-12-12 22:06] ebeshero commented on #2010
@sydb Wait a minute. Why wouldn’t we want to cite this fictive dinosaur entity’s real social media existence, since it gave rise to the example? Does a text need to be transcribed in order to be cited? In this case, the Twitter source gave rise to metadata encoding, and I’d argue that gives the Twitter bio the legitimacy of a source.

Would this be a first for the TEI Bib to cite a social media fe

[2020-12-13 00:31] sydb commented on #2010
@ebeshero :
I _think_ you are asking why not cite the bio itself. I am certainly not objecting to that. I am only wondering aloud if that is appropriate given that the more proximate thingy cited was @amclark42’s encoding thereof.

[2020-12-13 00:32] sydb commented on #2010
(And realizing that the coward’s way out is to cite neither. Which, because the encoding was made up for being an example on this ticket, isn’t _wrong_.)

[2020-12-13 01:06] ebeshero commented on #2010
@sydb Yes, that is what I suggest, to cite the bio that gave rise to the example.

[2020-12-13 01:06] amclark42 commented on #2010
@sydb I confess that I saw that commit go through when it happened, and I was looking forward to having my name in the TEI Bibliography. I’m also honored that y’all consider my work alongside your own: encoding that goes uncredited, but in the service of furthering the TEI’s mission. I won’t be happy to lose credit, but I will understand.

I have to point out, however, that y’all may need to start

[2020-12-13 01:55] #2058 closed, assigned to nobody

[2020-12-13 16:07] sydb opened #2078 "problems with match= (part of att.scoping)"
The `@match` attribute is defined as part of att.scoping.
1. The remarks are written as if it were defined in `<certainty>`.
2. It is defined as an XPath _expression_, but it should really only be a _pattern_ (v. 2) or _selection pattern_ (v. 3). (See below.)
3. Its definition refers to XPath v. 2.0. I’m thinking it should refer to [XSLT 3.0](https://www.w3.org/TR/xslt-30/#patterns) **selection pa

[2020-12-14 00:22] sydb commented on #2067
Yessir, `<certainty>` is a member of att.scoping, not of att.pointing, which I (obviously) somehow had in my head.

Note, @michalkozak, that the difference between use of `@target` alone and with `@match` is not so simplistic — one can use `@match` when referring to an element, too. (E.g., `<certainty target="#chap2" match="./p[position() = (3,4,5)]/soCalled" assertedValue="emph"/>`.)

In any case

[2020-12-14 10:41] lb42 commented on #2076
Since the section on the xml declaration says it is not a PI, it really shouldn't be in the section that discusses PIs. I now have a revised version. Do you want me to create a branch and pull request or can I just check it in as in the good ole days?

[2020-12-14 15:12] sydb commented on #2076
Agreed (not best served by being in PI section). When you ask “do you want a PR vs just check in”, the answer probably depends on which “you” you are asking. _I_ think just checking in a prose change like that is fine. But @peterstadler, @martindholmes, and probably several others seem to want _everything_ in a PR these days.

[2020-12-14 19:08] lb42 commented on #2076
OK, I checked it in. Leaving issue open for you to check you like the rewording.

[2020-12-20 15:48] sydb commented on #1786
Last translation added (with thanks to @mbingenheimer) at 61c0cf6.
Change passes my 'make validate' on my local system.

[2020-12-20 15:48] #1786 closed

[2020-12-21 01:23] sydb opened #2080 "unused files?"
The file P5/p5sch.xsl does not appear to be used at all. I have searched both the entire TEI and Stylesheets repos. The only place the string “p5sch.xsl” is found is in the P5/Makefile, which copies it into release/tei-p5-source/share/xml/tei/odd/.

It has not been changed since @sebastianrahtz checked it in almost 16 years ago. I am not at all sure what it does.

Unless someone can propose a reas

[2020-12-21 01:39] sydb commented on #2080
Roughly the same goes for P5/Query/datatypes.xml and P5/Test/xml.xsd.w3c. The former is not mentioned at all; the latter is mentioned once in a change log file. The entry says that @sebastianrahtz added it (a “clean copy of xml.xsd from W3C”) back on Sun 27 Nov 05.

[2020-12-21 02:41] sydb commented on #2080
Add P5/fasc-head.xml to the list; only mentioned, in a Changelog, as being moved.

[2020-12-21 03:23] sydb commented on #2077
Commits listed are to sydb-2077 branch.

## Automatically corrected encoding declaration

Command used for commit 8523431:
[code]

Command used for commit 55ab140:
[code]

Command used for commit d9c71e8:
[code]

## Not Changed Automatically
In the following lists, the XML declaration read `<?xml version="1.0"?>` unless otherwise noted. Those that were changed were comitted in 06c4170.

### Change

[2020-12-21 12:10] lb42 commented on #2080
Well, p5sch.xsl appears to be generating an additional schematron constraint for a (nonexistent) @src attribute on `<choice>` I suspect it may be a "proof of concept" example showing how to generate such constraints in xslt.
By the looks of it, the "fasc-head.xml" file was used to generate SGML versions of P5 chapters  ("fascicules"): no point keeping it since it references files (e.g. "external-e

[2020-12-21 18:01] sydb commented on #2080
To be re-opened if Mr. Jenkins objects.

[2020-12-21 18:01] #2080 closed, assigned to sydb

[2020-12-22 02:20] sydb commented on #2080
Thanks, @lb42 !

[2021-01-03 10:42] arojascastro opened #2082 "Translation mistake in <bindingDesc> definition"
Hello,

I would like to report a possible translation mistake found here: https://tei-c.org/release/doc/tei-p5-doc/es/html/ref-bindingDesc.html

The translation into Spanish of the definition seems erroneous to me: "(descripción obligatoria)" is a literal translation of *binding* which may have two possible translations: 1. "obligatoria" or 2. "encuadernación".

I believe the right translation sho

[2021-01-03 14:11] sydb commented on #2082
Thanks. Ticket accepted and will be assigned to Helena Bermúdez Sabel as soon as I figure out her GitHub user name :-)

[2021-01-03 14:21] sydb commented on #2074
Will be assigned to Helena Bermúdez Sabel as soon as I figure out her GitHub user name :-)

[2021-01-03 14:41] HelenaSabel commented on #2074
Here I am :)

[2021-01-04 13:55] jamescummings commented on #2072
Great idea.  2 output thoughts:

1. Should there be a language identifier supplied in order to indicate what language the example is in (for all languages)
2. Should there be a way to toggle or express interest in seeing examples in all languages vs the current language? (And if sophisticated this could be sticky via a cookie so a user selects once and then all tagdocs pages display all examples u

[2021-01-05 09:25] dmj commented on #2040
Then again: The Stylesheets use @‍ns when calculating a uniqe referencable name [1] and they don't use @‍ns when resolving a reference [2].

[1] https://github.com/TEIC/Stylesheets/blob/b39537d296e3273d99ed49498d763dadc56b674d/odds/teiodds.xsl#L2023
[2] https://github.com/TEIC/Stylesheets/blob/dev/odds/odd2odd.xsl#L1413

[2021-01-08 17:32] sydb commented on #2054
Is there any reason that a single `<ruby>` should be permitted to have multiple `<rb>` children? If so, does the number of `<rb>` children have to match the number of `<rt>` children?

[2021-01-08 17:58] martindholmes commented on #2054
@sydb I think (and our schema should now mandate) that a single `<ruby>` should allow only a single `<rb>`, followed by one or more `<rt>`s. Anything else is potentially very confusing.

[2021-01-08 23:56] sydb commented on #2054
OK. Here is the second [crack at an ODD file for ruby annotations](https://github.com/TEIC/TEI/files/5789805/ruby_schema.zip). That ZIP archive contains the generated RELAX NG, Schematron, and HTML, too.

This schema permits `<ruby>` inside `<w>` (alright, to be precise it permits `<r:ruby>`, but I am eliding the namespace prefix here), adds a `@target` to `<rt>`, and requires that _either_ `@targ

[2021-01-15 17:00] martindholmes commented on #2054
@sydb and I discussing the nature of the prose think that a good way to introduce the whole issue (thinking of readers not necessarily familiar with the concept) would be to follow the W3C's lead in starting with the example of the organization's initialism (TEI) with Ruby showing its expansion.

[2021-01-15 17:14] sydb commented on #2054
Ah, @martindholmes pointed out a good idea, we should test the schema I posted last week. So we did, and found an error (`rt/@target` was required, when it should be optional). Fixed in [this version](https://github.com/TEIC/TEI/files/5822122/issue_2054.zip), which also
a) constrains content of `<ruby>` to `rb, rt+`, and
b) has the file @martindholmes posted above as ruby.xml, with proper xml-mode

[2021-01-15 17:53] martindholmes commented on #2054
We're now working in this temporary repo:
https://github.com/martindholmes/rubyForTEI

[2021-01-17 20:06] sydb opened #2083 "typos, encoding corrections, and word-smithing SATS"
Re: section 16.2.4, TEI XPointer Schemes

- [x] The parameters (like POINTER and XPATH) are inconsistently encoded as either `<rs>` or nothing. (I think they should all be `<rs type="param">` myself.)
- [x] There quite a few cases of a `<code>` whose content matches the name of a TEI element, and thus almost certainly should be `<gi>`. I count 7:
[code]
- [x] The sample tag that is currently `<cod

[2021-01-17 20:06] sydb opened #2084 "moderately problematic issues in SATS"
Re: section 16.2.4, TEI XPointer Schemes

- [x] Portions of the various discussions are written as if these XPointer schemes were functions, i.e. as if they _returned_ or _captured_ a value. They don’t, they just point at things. (Yes, a program processing one of these will likely return to its caller whatever is pointed at, but it is still just a pointer.)
- [x] Shouldn’t the example (SATSXP-ex)

[2021-01-17 20:06] sydb opened #2085 "re-defining Node in SATS?"
Re: section 16.2.4, TEI XPointer Schemes

- [x] The definition of “Node” says that only “Text Nodes, Element Nodes, and Attribute nodes” are of interest. Besides the inconsistent capitalization (which might match the spec, idunno), why are we not potentially interested in other nodes? In particular, I often find it useful to address a (subset of) a particular comment node: `/comment()[ matches( .,

[2021-01-17 20:07] sydb opened #2086 "uber-ticket for SATS"
This is just an index page, as it were, for 3 tickets I am opening today for addressing problems in section 16.2.4, TEI XPointer Schemes. They are:

- #2083 which is intended for minor tweaks and typos. I do not think much, if any, discussion will be required, and anyone who knows how to edit the _Guidelines_ should be able to handle these.
- #2084, which is intended for either changes in how some

[2021-01-18 13:28] sydb commented on #1863
(1) and (3) re-created in _Roma_ repo; (2) is no longer a problem.

[2021-01-18 13:28] #1863 closed

[2021-01-18 13:32] tuurma commented on #2062
I don't think deprecation is required, anyone who does use this would have the @key already.

[2021-01-18 13:36] #2074 closed, assigned to HelenaSabel

[2021-01-18 13:38] HelenaSabel commented on #2074
Closed with commit 050441a97

[2021-01-18 13:47] HelenaSabel commented on #2082
Closed with commit df6897c0f

[2021-01-18 13:57] tuurma commented on #2082
@HelenaSabel
I think there's a typo, superfluous *r* in encua**r**dernación

[2021-01-18 14:11] HelenaSabel commented on #2082
Thank you, @tuurma!

Closed with 08c385a85

[2021-01-18 14:12] #2082 closed, assigned to HelenaSabel

[2021-01-18 14:40] sydb commented on #1722
No warnings noticed in latest TEI-dev build on Jenkins. (Given that TEI_to_odd4odds is now TEI-to-tei_customization …)

[2021-01-18 14:40] #1722 closed

[2021-01-19 10:09] martinascholger opened #2087 "revision of example in <byline>"
This issue was spotted by @martindholmes (
[https://lists.tei-c.org/pipermail/tei-council/2020-November/026587.html](https://lists.tei-c.org/pipermail/tei-council/2020-November/026587.html)) when reviewing the "copia" examples. The last example of the `<byline>` specs in French needs revision.

The comma should be outside the `<docAuthor>`, and there should be a space after docteur.

[code]

[2021-01-19 10:15] lb42 commented on #2087
Could also argue for including "le docteur" as part of the docAuthor

[2021-01-19 22:37] martindholmes commented on #2054
@sydb Our scheme doesn't yet answer @duncdrum's requirements above for `@hand` on r:rt. Do you agree with adding r:rt to att.written? I'm not sure what's implied by the more general request for "all the usual manuscribal attributes and elements". As far as I can see, it already has what it needs in terms of the global attributes and child content.

[2021-01-20 00:47] sydb commented on #2054
Oooh, good point. I suspect he meant att.transcriptional, which gets you `@status`, `@cause`, `@seq`, `@evidence`, `@instant`, and `@hand`. Does that set seem reasonable for `<rt>`? For `<rb>` and `<ruby>`? (The content models of `<rb>` and `<rt>` already allow for the various elements for manuscript transcription like `<redo>`.)

[2021-01-20 15:45] martindholmes commented on #2054
I'm really not sure. Since rb is part of the main transcription flow, I would think that if something applies to it, then you could wrap the entire ruby element, or if something applies to part of it, you would use a nested element. rt is different because it's outside the regular flow, and (presumably) is sometimes added by a different hand; as a new added unit, it would probably need all these a

[2021-01-20 16:41] duncdrum commented on #2054
`rt`s can be from different hands, and need the whole `att.transcriptional`, obviously in a rubicated manuscript `rb` needs  to be a member of that too, as multiple hands can be responsible for each.

As for `ruby` It looks like a convenient shortcut in cases where base and target have been produced together (also very common). But I m not hellbent on its membership. Where would you put the attrib

[2021-01-20 17:09] martindholmes commented on #2054
@duncdrum I'm not sure I understand why rb needs this stuff. It's part of the regular text flow, so you can wrap the entire ruby element in a hi element or a del element or any of those things if you want to apply some of these attributes to the whole of the rb; if you only want to apply them to part of the rb, then you simply tag that part inside the rb. rt is obviously different because it's not

[2021-01-20 18:01] duncdrum commented on #2054
@martindholmes i was responding to the question for each. `rt` needs it, I m still unclear what the suggested encoding is for handwritten text, e.g. where to put  `@Hand` in cases where

- Both base and target are written by the same hand, but there are multiple hands per document
- Base and targets are written by differing hands.

Depending on that we can come up on guidelines prose and examples

[2021-01-20 18:14] martindholmes commented on #2054
@duncdrum In either case, you could do:

`<rt><seg hand="#Fred">abc</seg></rt>`
`<rb><seg hand="#Fred">abc</seg></rb>`

That would only be necessary for rb on the assumption that the rb string is written by a different hand from the preceding or following text; otherwise, a higher-level element outside the `<ruby>` element would carry the `@hand`, no?

I think it would probably be convenient to al

[2021-01-20 19:10] duncdrum commented on #2054
Not at all. The imperial letter, like the one I showed in my presentation have min 1 scribe taking dictation, and signs from the emperor. Those are all base characters. Upon receiving the letter in e.g. Japan, there will Ruby annotations for the Japanese emperor by officials, and marks by the Japanese emperor signaling receipt, plus any further comments all potentially with rb/rt by other official

[2021-01-20 19:43] martindholmes commented on #2054
So it's very common in these texts to have a piece of text added in a fresh hand which consists only of a single rb, which is then glossed in a separate hand? I think I'd do this with:

[code]

Why would that not work?

[2021-01-21 11:37] knagasaki commented on #2054
I think it is enough for the situation which @duncdrum described.
Otherwise, the following markup might be an alternative.

[code]
I hope @duncdrum would give some examples if both would not be appropriate.

[2021-01-21 11:43] duncdrum commented on #2054
@martindholmes  that works great for such an addition to the main text and is what I would want to do in such a case. However, we keep discussing rubrication of of a single term, based on the gdocs example. What I'm trying to get at, is us thinking about how this will work in practice for a whole document. E.g. the main text shouldn't be wrapped in `<add>`. So let me escalate the snippet a bit.

[

[2021-01-21 11:49] duncdrum commented on #2054
On a separate note: Can `<rt>` have `xml:lang` in the current proposal? It should, since the rubys can be different from the base text.

[2021-01-21 11:56] knagasaki commented on #2054
I completely agree that `<rt>` element belongs to att.global! The proposal doesn't disagree to it, but may indicate it explicitly like below:
[code]

[2021-01-21 12:14] knagasaki commented on #2054
I think that if another scribe writes a text, it should be encoded by any appropriate element rather than `<rb>` and @hand value should be inherited from the parent element. If #Fred added a word, it should be encoded by `<add>`. If signed, by `<signed>`...

[2021-01-21 12:19] duncdrum commented on #2054
@knagasaki yes i just noticed that there will always be a parent element that can take `@hand` and adjusted my examples. So we don't need `att.transcribed` membership for `ruby` or `rb`.

i still like to move the discussion into the direction of considering more than annotations of single terms. As we need to avoid ambiguity and at least have an idea of what we want encoders to do, so we can write

[2021-01-21 12:34] kzhr commented on #2054
Lubrication is not a targeted case for ``<ruby>``. I am not sure why it is related here.

As for the case where more than two ruby texts are given for a single body text, encoders should aware whether they encode parallel ruby texts, or a nested ruby text. It's just not about simplicity: it's about structure.
As a rule, the secondary ruby texts are added as additions to the primary ruby text. In a

[2021-01-21 12:39] duncdrum commented on #2054
@kzhr Yes nested rubys together with non-standoff markup are the only way to go when there are multiple complex ruby streams.
[code]
Yet there are many instances of rubys in which there simply isn't a second stream at all. Think of bopomofo in school textbooks. The question is do we want to force encoders to adopt a character (or word) by character markup in such cases, when a more concise standof

[2021-01-21 16:34] martindholmes commented on #2054
Thank you everyone for this input. Yes, all elements get global attributes including `@xml:lang` by default, but it would be good to give an example of this. Can I put out a general call for interesting examples with good-quality images? We need images we can use in the Guidelines, so we need to have permission to use them from any copyright holder.

The billiards example is brilliant because it e

[2021-01-22 12:23] kzhr commented on #2054
I am not sure whether standoff approach is concise for bopomofo texts. If encoders would like to do standoff markup (I'm not sure what is the benefit, though), they have an option of the pair of ``<seg>`` and ``<note>``. By using ruby environments, one will be benefited from clearer structure annotation. Excuse me if I missed the point.

[2021-01-22 12:39] kzhr commented on #2054
As for billiards example, a finer and free image can be obtained from this URL: http://school.nijl.ac.jp/kindai/NIJL/NIJL-01116.html#37 (The right half, the 5th line)
![GetImage cgi](https://user-images.githubusercontent.com/964511/105491782-370b5100-5cfa-11eb-84b5-0877d7df6d12.jpg)

[2021-01-22 12:52] duncdrum commented on #2054
`<note>` and `<seg>` are general purpose elements which can be used for encoding other textual features alongside rubys, users would be better off incorporating html5 elements as foreign namespace elements compared to these.

If there is a specific element available, as a global standard TEI needs to consider its application in all kinds of CJK documents modern and historical, as well as different

[2021-01-22 15:20] martindholmes commented on #2054
Thank you @kzhr!

[2021-01-22 15:42] duncdrum commented on #2054
As for standoff there is of course the option to use `&ZeroWidthSpace;` `U+200B` which  `is intended for invisible word separation` instead of `<anchor/>` or any other xml elements to align segmentation of `<rb>` and `<rt>` i would at least like to mention that possibility in the guidelines section.

The advantages are better legibility as no visible word boundaries as in the CJK source, combined

[2021-01-22 16:16] martindholmes commented on #2054
@duncdrum I think that would be nightmarish -- imagine trying to maintain a file which delimited content with zero-width spaces. I really don't think we should ever recommend something like that in the Guidelines when there are so many better alternatives.

[2021-01-22 18:06] duncdrum commented on #2054
@martindholmes i don't see the nightmare. It is the unicode character reserved for exactly the purpose of introducing delimiters for writing systems that don't use typographic word delimiters. Unicode aware software applications, such as xml processors, should play nice with it, and it can simplify things greatly, if the contents of `tei:body/text()` aren't a single undelimited string of length 20

[2021-01-22 18:10] martindholmes commented on #2054
@duncdrum I know what it's for, and it's great for what it's for, but I don't think it's a good option for creating stand-off markup. You can only point to it with XPointers, and if you're using XPointers to point to characters, you might as well point to the characters that are actually the target of the ruby text.

[2021-01-22 18:16] duncdrum commented on #2054
the idea isn't to point to the character, just as you're not pointing to the various `<anchor/>` in the examples in the OP. You construct arrays or maps to return the annotation for a given position in the sequence.
Granted its a matter of taste, but i don't see the immediate disadvantage of `<rt>` with 3x `&ZeroWidthSpace;` over 3x `<anchor/>`. Both are stopgaps that depending on task will have t

[2021-01-22 18:22] martindholmes commented on #2054
This particular method of "pointing" isn't one I'd recommend anyway; I think if you're using anchors you should use them properly, with ids and pointers. But of course there's nothing to stop anyone from inventing their own correspondence method based on contiguity for their own project.

[2021-01-22 18:45] kzhr commented on #2054
It would complicate the situation if we include something that are not similar in structure. I haven't understood the structural similarity between lubrication and ruby. As stated in our proposal document, ruby is not for all interlinear gloss examples. Rather, it specialises in their special cases.

I see the need for parallel encoding only with the bopomofo texts with Romanisation. Still, aren't

[2021-01-22 19:13] martindholmes commented on #2054
@kzhr The billiard-hall example is the perfect case for one `<rb>` and two `<rt>`s. As far as stand-off is concerned, any of the many normal TEI standoff approaches can be used, as well as custom approaches such as the one @duncdrum describes using the zero-width space; but I agree with you that in most cases standoff will not be needed, and I think that in the chapter prose, we should provide a s

[2021-01-22 22:25] duncdrum commented on #2054
Please take a look at the images that i just posted into martin's repo and tell me where I m trying to include things which are not similar in structure. All of these are `ruby`, in at least html5, css, and probably more standards. I m in full agreement that `ruby` are not just interlinear glosses which is why `<note> + <seg>` is a red herring solution, and we need another element. But yes East-As

[2021-01-23 03:07] knagasaki commented on #2054
Could you give me a link to or an URL of the image which you posted into Marti's repo?

[2021-01-23 03:29] martindholmes commented on #2054
@knagasaki These are Duncan's images:
https://github.com/martindholmes/rubyForTEI/tree/main/Images
I don't know which ones in particular are relevant to this point.

[2021-01-23 21:15] JanelleJenstad commented on #2061
@ebeshero and I are looking at this and may try to make a branch for this ticket, and start by addressing the simple wording in a pull request. As @sydb suggests, there may be some larger issues here that we might address at the F2F next weekend.

[2021-01-23 22:37] JanelleJenstad commented on #2061
@ebeshero and I recommend that we consider merging this branch into dev for the next release and defer dealing with @sydb's deeper dive until after the release. We request discussion at F2F. We'll leave the branch for future work, keeping in mind that it will need to be updated.

[2021-01-23 22:43] sydb commented on #2061
Seems reasonable to me (to do only the original request now, defer my added suggestions until later). It looks to me like only ½ the original request has been done in [the PR](#2088) so far.  It addresses the description of `<specDesc>`, but not of the description of `@key` of `<specDesc>`.

[2021-01-23 22:44] JanelleJenstad commented on #2061
@sydb: We'll revisit this on Thursday. We've just had a 3.5-hour training session!

[2021-01-23 22:58] ebeshero commented on #2061
@sydb For some reason I decided this would be just the right place to get @JanelleJenstad started with her first ticket...:-) Seemed like a good way to introduce working in a branch. If you'd like to contribute by addressing the description of `@key` before this Thursday, that would be splendid, but if not, we'll see about that when we meet a day before the F2F. :-)

[2021-01-23 23:05] lb42 commented on #2061
It would be a good idea always to use the same term for those things which are variously called "components" or "specification elements" or "*Spec" elements. Providing a list of them every time they are referenced seems somewhat verbose.

[2021-01-25 04:58] wyoichiro1125 opened #2089 "Inconsistent prohibition of the use of <p> directly under <div1>"
When using \<div1\>, \<div2\>, and \<p\> tags at the same time, there seems to be inconsistency where one \<p\> is allowed and another \<p\> is not, even though they exist in the same hierarchy.

[code]

Both of these \<p\>s should be directly under \<div1\>, but only the former \<p\>para1 \</p\> is allowed to be used, while the latter \<p\>para2 \</p\> is not. As long as the former \<p\> is allow

[2021-01-25 08:13] gimsieke commented on #2089
This is a widespread (not only in the TEI, but also in DocBook, JATS, and many other vocabularies) content model in which no paragraphs or other block-like items are allowed after a section has ended.
It is called “[tessellation](https://wiki.tei-c.org/index.php/TEI-Council-FAQ#What_does_it_mean_to_say_that_elements_tessellate.3F)” or “end-to-end segmentation”.
The historical background for this,

[2021-01-25 12:28] kzhr commented on #2054
Well, we intentionally excluded the most of manuscript examples, seeing that it is totally capable of existing `<note>` and `<seg>` (you can use `<anchor>` anyway) combination, because ruby is a special case where glossed text constitutes the text itself in parallel with the main line. For ease of encoding such glosses, we here propose the special elements. Putting all interlinear glosses are with

[2021-01-25 14:56] duncdrum commented on #2054
@martindholmes @knagasaki check the commit messages, they describe the images and their context. martindholmes/rubyForTEI@ef301bd7324fa8879264f2fb0571d74c9b051eca is the manuscript example.

@kzhr

I thought we had already settled that `att.transcriptional` is necessary on `<rt>`? Using `<ruby>` to encode ruby only in print, but not in manuscripts makes no sense.

agreed, i m still not sure why yo

[2021-01-25 15:10] knagasaki commented on #2054
The interlinear texts in the example pages can be encoded by &lt;ruby&gt; and &lt;note type="送り"&gt; and &lt;metamark function="kaeriten"&gt;. We use &lt;seg type="ruby"&gt; and rt, rb instead of &lt;ruby&gt; so far. It's usual case in Japanese manuscript. The first two lines can be done like below:
[code]

In some cases we add `@targetEnd` to &lt;note type="送り"&gt; with an anchor tag having the t

[2021-01-25 15:34] martindholmes commented on #2054
@duncdrum @knagasaki @kzhr I think we all need to agree very clearly on the scope and intention of the ruby elements before we can write a useful prose section for the Guidelines on their use. I think we're all in agreement on the schema requirements now, but I sense that @duncdrum and @kzhr have slightly different views on where the use of these elements is appropriate and where it is not.
As @kn

[2021-01-25 17:37] hcayless commented on #2085
I didn't want to address comments because it seemed more trouble than it was worth, but I suppose if you want them, we can include them.

You wouldn't want to address an attribute node in most cases because they don't have locations in the same way elements do. `left(<some attribute>)` doesn't have any obvious meaning, because attributes lack intrinsic order. So it's fine to point at an attribute

[2021-01-25 21:20] hcayless commented on #2042
I re-wrote the introductory bit about locations.

[2021-01-25 22:01] hcayless commented on #2013
`@status` is used by
1. [att.docStatus](https://tei-c.org/Vault/P5/4.1.0/doc/tei-p5-doc/en/html/ref-att.docStatus.html)
2. [att.transcriptional](https://tei-c.org/Vault/P5/4.1.0/doc/tei-p5-doc/en/html/ref-att.transcriptional.html)
3. [availability](https://tei-c.org/Vault/P5/4.1.0/doc/tei-p5-doc/en/html/ref-availability.html)
4. [correction](https://tei-c.org/Vault/P5/4.1.0/doc/tei-p5-doc/en/html/

[2021-01-25 22:23] martindholmes commented on #2013
@hcayless Couldn't you just override `@status` where it currently appears in att.transcriptional, availability and correction? Its gloss/desc can be overridden just as well as its possible values. I'm not quite sure what the implications of doing that are; we usually think of an attribute override as a way to further constrain or fine-tune its valList, rather than redefine the attribute.

[2021-01-25 23:50] hcayless commented on #2013
@martindholmes I don't really like the idea of using the override mechanism to completely redefine an attribute. But maybe in conjunction with deprecation it would be ok...

[2021-01-26 01:09] kzhr commented on #2054
@duncdrum

Agreed.

[2021-01-26 08:58] duncdrum commented on #2054
@knagasaki yes commentarial insertions are certainly another case worthy to take a closer look at. From their structure I would actually say they more naturally resemble interlinear glosses in western codexes (as they don't have the kind of interaction with the base text flow the billiard hall example so nicely show). I'd be happy to take a look at means of encoding them with / without `@type` onc

[2021-01-26 15:32] martindholmes commented on #2054
I'm now completely confused about whether ruby is to be identified by its physical/typographical characteristics (which was my basic initial assumption) or by its semantic intent (which seems to be the basis for distinguishing it from interlinear glosses). If our definition of ruby has nothing to do with typography and everything to do with semantic intent, then before we can go any further we mus

[2021-01-26 15:45] knagasaki commented on #2054
I think (and the original proposal indicated) that ruby is a type of interlinear glosses, which represents pronunciation of the targeted text and can be regarded as a parallel text.

[2021-01-26 17:51] knagasaki commented on #2054
I think the examples which are described in the original proposal are enough for basic usage. While consideration of complex examples is fun and important for some users, I would like to brush up the proposed ones to put into the Guidelines, if possible. I would be glad if you would list what should we do for it.

[2021-01-26 17:54] knagasaki commented on #2054
I completely agree.

[2021-01-26 18:43] martindholmes commented on #2054
@knagasaki Thanks for the clarification. I'm checking in with Council to get their input, but my hope is that we can add the elements and a basic introduction into the next release of the Guidelines. My plan is to draft the chapter prose over the next few days, in the rubyForTei repository, and present it on Saturday.

[2021-01-27 11:44] knagasaki commented on #2054
Thank you very much for your intention. I will support it as far as I can.

[2021-01-27 21:06] martindholmes commented on #2054
There is a rough draft of the introductory section here:
https://hcmc.uvic.ca/~mholmes/rubyForTEI/ruby.html
Please let me know what you think. I know there are many more interesting variants and edge cases and annotation types to address, but this is intended to be enough to introduce the concept and some straightforward encoding examples that will handle 75% of cases.

[2021-01-28 16:56] knagasaki commented on #2054
Thank you very much for the appropriate prose. The example of "TEI" is so funny.
Only thing that I would like to revise is that the ruby text "キュウ" is better to be "キウ". "キュウ" is exact writing today. But the example is based on an older writing system and the markup is almost literal.  And "ビリアード" is "ビリヤード" as well.

[2021-01-28 17:19] martindholmes commented on #2054
Thanks indeed! I'll fix that. Sorry for my poor transcription.

[2021-01-28 17:33] martindholmes commented on #2054
Fixed. I've also added some prose on the default place assumption (above for horizontal, right for vertical text).

[2021-01-29 01:39] ebeshero commented on #2061
@sydb @JanelleJenstad I believe I've addressed the immediate call for remarks on the `@key` for `<specDesc>` in this commit: https://github.com/TEIC/TEI/pull/2088/commits/dc7fb701684c0ee82e610c8374c10e7c212c96bf

[2021-01-29 04:25] ebeshero commented on #1881
I grepped through the Guidelines  to look for "preceding" and "following" illustrations, figures, tables, and examples. (I am presuming that references to preceding or following sections are okay.) The following list organizes examples by chapter that contains preceding/following language, but I may not have captured every instance of the problematic language:

* en/AI-AnalyticMechanisms.xml:word

[2021-01-29 04:31] ebeshero commented on #1881
To simplify this, I think we just need to take a look through each of the chapters represented in my long list. So here's just a list of the chapters which seem to contain the problematic language, either "preceding" or "following" referring to illustrations, figures, tables, and examples. (Ha, of course it's 21 out of the 23 chapters in the Guidelines.)

- [ ] AI-AnalyticMechanisms
- [ ] WD-NonSt

[2021-01-29 18:31] #2044 closed, assigned to tuurma

[2021-01-29 19:12] sydb opened #2090 "per-document defaults (of attribute values)"
This is a general proposal for a mechanism required to solve a particular problem. In our recent work on ruby annotations, at least one reviewer has requested a mechanism for establishing on a per-document basis where the ruby annotations are written with respect to the base text. (Typically something like “left” or “right” for vertically written texts, or “above” or “below” for horizontally writt

[2021-01-29 20:17] ebeshero commented on #2061
VF2F @raffazizzi is adding an Italian translation, and then we'll merge this in and close the ticket.

[2021-01-29 20:48] ebeshero opened #2093 "Check consistency of tagdocs desc elements"
We should check the consistency of the `<desc>` elements in the tagdocs, probably to ensure that they all begin consistently with a present tense verb. Opened in response to discussion on PR: https://github.com/TEIC/TEI/pull/2041

[2021-01-29 20:51] JanelleJenstad commented on #2093
Also think about inclusion/exclusion of terminal punctuation.
Update TCW24 to capture wording decision.

[2021-01-29 21:19] duncdrum commented on #2090
Yes please, `teidata.xpath` seems the better choice. As for validation how would that work with mandatory attributes? Sounds like a whole lot of rules would need to get rewritten, to check for presence of the attribute on the mandate elements, unless there is a default attribute definition in the header.
While still an awesome idea, this could get messy.

[2021-01-29 21:33] lujessica commented on #1951
@MegJBrown what was the need for reopening this ticket? do we need to revisit these following your update/fix on 22 July 2020?

[2021-01-29 21:40] MegJBrown commented on #1951
My update on 22 July didn't fix all the problematic articles. Syd created a check sheet, and I reopened the ticket to acknowledge that I had not whacked all the moles.

[2021-01-29 21:45] lujessica commented on #1951
got it. might it be that @sydb's checklist ( #2015 ) was inspired by this ticket, but that this ticket is specific to these 4 instances that you took care of? maybe i'm reading SB's writing incorrectly on #2015 , but i don't think this issue is included there/is necessary to keeping the other ticket open and in progress.

[2021-01-29 21:50] MegJBrown commented on #1951
Ah, I had thought this ticket was a blanket _all_ problematic articles, we can close this if you think that's appropriate

[2021-01-29 21:50] #1951 closed

[2021-01-29 22:54] sydb commented on #1823
Council subgroup thinks, although we have addressed the OP complaint, we should (at least for now) go with @peterstadler’s suggestion to _not_ exclude `<text>` (nor `<sourceDoc>`) from the content of `<teiCorpus>`, but _should_ provide a health warning about it. Something like

“For historical reasons, `<text>` and `<sourceDoc>` are permitted as valid children of `<teiCorpus>` but this use is disc

[2021-01-30 09:18] #1868 closed

[2021-01-30 09:22] npcole opened #2095 "Update the prose for <witness>"
In reviewing #1868 and merging the fix, we realized that the prose for `<witness>` needs updating. It is currently manuscript-focused, and does not really reflect the element now.

[2021-01-30 09:22] #1934 closed

[2021-01-30 09:58] npcole commented on #1823
@sydb we should say why something is discouraged, rather than just leaving a mysterious statement.

[2021-01-30 10:20] tuurma commented on #1823
F2F subgroup discussed this and suggests removing the note in teiCorpus spec and replacing it with a "positive encouragement" to use teiCorpus in a way that's aligned with its original concept, perhaps along these lines:

[2021-01-30 10:22] tuurma commented on #1823
Btw: both Guidelines and teiCorpus reference page specifically state

which is no longer true with changes to the teiCorpus data model in past years

[2021-01-30 10:54] peterstadler commented on #2036
European subgroup was looking at this issue and the proposed PR and while we like the implementation (very elegant :) we wonder how to prevent confusion about this new datatype `teidata.temporal.working`.
Maybe we should move the class `att.translatable` (from the tei module) to the tagdocs module to make it more explicit that this class "provides attributes used to indicate the status of a transl

[2021-01-30 11:27] tuurma commented on #2066
f2f agrees and suggests to put it as a new section 13.4 *Dates*, before existing Module for *Names and Dates*, so the TOC structure would be as follows

* Attribute Classes Defined by This Module
* Names
* Biographical and Prosopographical Data
* Dates
* Module for Names and Dates

[2021-01-30 11:45] peterstadler commented on #2078
@sydb is your point 2 ("defined as an XPath expression") also applicable to `teidata.xpath`? Is that also about _patterns_ not _expressions_?

[2021-01-30 12:52] ebeshero commented on #2078
@peterstadler @sydb If I remember correctly, we worked with `teidata.xpath` on the `unitDecl`, unit and measure tickets, and I believe there we want to keep the XPath options a little more open to being expressions or patterns.

[2021-01-30 15:37] ebeshero commented on #1881
VF2F: We decided we'll defer this until closer to the next F2F and/or 4.3.0 release milestone.

[2021-01-30 16:36] sydb commented on #2077
The main bulk of work on this ticket has now been merged into the _Guidelines_. While at some point we may want to look at the “not changed” list above (especially the “contains non-ASCII chars” ones), there is no reason to feel pressure to do so quickly, so closing this ticket.

[2021-01-30 16:36] #2077 closed, assigned to sydb

[2021-01-30 16:42] sydb commented on #2037
PR has been merged

[2021-01-30 16:42] #2037 closed, assigned to sydb, martinascholger

[2021-01-30 16:45] sydb commented on #1919
Associated PR merged.

[2021-01-30 16:45] #1919 closed

[2021-01-30 16:58] #1833 closed

[2021-01-30 17:01] #1484 closed

[2021-01-30 17:07] ebeshero commented on #1823
VF2F suggestion: alter the ref page description just to:
[code]

[2021-01-30 17:12] raffazizzi commented on #1981
@sydb's point 4.iii

I think it means what it says: every element must have an identifier. The bullet point that follows the one @sydb refers to indicates very specifically that a default should be indicated "for each different type of declarable element which occurs more than once within the same parent element". So, if the first bullet point meant elements of the same type it would have been as

[2021-01-30 17:32] raffazizzi commented on #1981
VF2F agrees with adjusting the language so that not **every**  declarable element must have `@xml:id`. See new wording in branch.

[2021-01-30 17:35] ebeshero opened #2097 "Move att.translatable to from tei to tagdocs module"
In response to https://github.com/TEIC/TEI/issues/2036, VF2F agrees with @peterstadler  that we should move `att.translatable` to the tagdocs module, to help effectively guide people to better understanding of how to use `@versionDate` appropriately. We're opening this ticket b/c this requires some testing.

[2021-01-30 17:46] ebeshero commented on #2078
VF2F: I will try to implement the small changes recommended here in time for upcoming release.

[2021-01-30 18:00] JanelleJenstad opened #2098 "Change title of 11.3.1"
Current title, "Altered, Corrected, and Erroneou,s" does not accurately describe the subsections. Council needs to consider what the subsections actually describe and then write a new title. @JanelleJenstad will make a recommendation for discussion.

[2021-01-30 18:02] JanelleJenstad commented on #2098
**Current subsections of 11.3.1 Altered, Corrected, and Erroneous Texts**
  11.3.1.1 Core Elements for Transcriptional Work
  11.3.1.2 Abbreviation and Expansion
  11.3.1.3 Correction and Conjecture
  11.3.1.4 Additions and Deletions
  11.3.1.5 Substitutions
  11.3.1.6 Cancellation of Deletions and Other Markings
  11.3.1.7 Text Omitted from or Supplied in the Transcription

[2021-01-30 19:12] ebeshero commented on #1881
Question to investigate (looking at PDF versions of the Guidelines): Is this exempt for examples? (Are examples actually moved around in PDF versions of the Guidelines?)

[2021-01-30 19:58] ebeshero commented on #2078
With this pull request: https://github.com/TEIC/TEI/pull/2099 , I think I've addressed all the requested changes in this ticket.

[2021-01-30 23:56] sydb commented on #2078
@peterstadler:
No, at the very least `@value` of `<param>` and `@formula` of att.formula (which @ebeshero alluded to) require full XPath expressions.
But if you are poking at the idea that teidata.xpath should be divided into teidata.xpath and teidata.selectionPattern (or whatever), seems reasonable to me.

[2021-01-31 03:07] #2062 closed, assigned to sydb

[2021-01-31 16:03] sydb opened #2100 "outdated internal (unencoded) reference"
The 2nd sentence of the 1st paragraph of [17.4 Linguistic Annotation](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/AI.html#AILA) says

[code]

The reader is left wondering where and what is **Part III**. (Versions P2–P4 of the _Guidelines_ were divided into parts, the 3rd of which was on base tag sets.)

[2021-01-31 20:32] lb42 commented on #2100
Good catch! This sentence isn't really doing much useful work is it? All it says is that "structural" properties should be represented by "structural" elements, which are described elsewhere than this chapter.

[2021-01-31 23:56] sydb commented on #2100
Indeed. One possibility would be to replace the entire 2nd part of the sentence:

Another might be to ditch the sentence entirely.

Or, we could list all the chapters:

(I think I have that list right, but have not spent a lot of time on it.)

[2021-02-01 15:20] martindholmes commented on #2054
This is a copy of the original posting by @martinascholger on the rubyForTEI repo; I'm reposting here because we need more Council members to respond. Please signal your preferences:

Poll on possible locations for the main text

| section in the GLs | full section* | reference** | comment
|---|---|---|---|
| Core: before or after [notes](https://tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#CO

[2021-02-02 02:41] sydb commented on #1729
@MegJBrown and I used “indicates illegibility due to an unusual, awkward, or incompetent execution of a glyph or glyphs” as the description of `"eccentric_ductus"`. (We got the idea from the [DHARMA Encoding Guide for Diplomatic Editions](https://halshs.archives-ouvertes.fr/halshs-02888186/document), and gave them credit in a comment. Could we use `@source` on `<desc>`?)

[2021-02-02 13:23] arojascastro opened #2101 "Suggestion of improvement in the Spanish definition of element <subst>"
Hola amigos,

I just found this casually when browsing the Guidelines to prepare some teaching materials in Spanish:

https://www.tei-c.org/release/doc/tei-p5-doc/es/html/ref-subst.html

The word "riguarda" is Italian - ops!

Could you correct it perhaps? I suggest:

¡Gracias!

[2021-02-02 14:19] lb42 commented on #1823
The proposed wording above needs some stylistic/linguistic attention. What is "practical encoding", for example? do the Guidelines ever recommend impractical encoding? And why say "aggregate" when "combine" will do the job? But chiefly it's not "for historical reasons" that teiCorpus currently permits the madness of  direct text or sourceDoc children; it's because the content model has been carele

[2021-02-02 15:09] sydb commented on #1823
Heh-heh. While I agree with you, @lb42, that the phrase “practical encoding” should probably be changed, seems to me the _Guidelines_ often recommend impractical encoding 😀

And yes, “combine” is probably better than “aggregate”.

But while I agree completely that `<text>` and `<sourceDoc>` snuck into the content of `<teiCorpus>` due to careless class and content model manipulation, I think explic

[2021-02-02 15:53] hcayless commented on #1823
So, I've been digging into this, and I'm not sure anymore what the fuss is about. Sebastian proposed, back in 2013, that there were circumstances where you might want a `<facsimile>` at the corpus level rather than at the document level. His use case was a map of a graveyard, while the corpus contained `<TEI>` elements for each recorded grave inscription. `<sourceDoc>` and `<fsDecl>` were added by

[2021-02-02 16:25] martinascholger commented on #1729
In general I would say yes. But I think the question is also how to process the `@source` attribute on `<desc>` (e.g. in the HTML version of the GLs). Currently, examples and bibliographies have a link to the source displayed in a tooltip. We would have to consider that for `<desc>` as well, right?

[2021-02-02 16:57] lb42 commented on #1823
The fuss is, as Syd says, because while there was quite a consensus in favour of allowing a teiCorpus to contain facsimile, and arguably sourceDoc, the addition of `<text>` to model.resourceLike has had the side effect of allowing it t
also to contain a `<text>`. This is problematic because it means there are now two places for me to put header information for this `<text>` (either somewhere in th

[2021-02-02 21:29] hcayless commented on #1823
What I'm imagining is a `<text>` that is a property of the TEI Corpus, but not a member document. To take Sebastian's original use case, I could imagine writing an essay about the history of the project, the graveyard in question, etc.. I will happily grant you that the obvious way to include such a thing at the time he made the request would have been as its own TEI document, but since that's no

[2021-02-03 00:05] lb42 commented on #1823
I am glad you're granting the point that the obvious way to include a free standing textual document in a teiCorpus is as a `<TEI>` element, not as a `<text>` ! The fact that somewhat careless modification has now made it possible to do it another way isn't an argument for that being a good way to do it though. Your distinction between something which is "a property of the TEI corpus" and somethin

[2021-02-03 15:59] martindholmes commented on #2054
Thanks for the feedback on the location for the Ruby prose. The consensus is clear -- it should be in core -- and the comments suggest that the most appropriate approach will be to integrated it with the content relating to glosses, which is currently in 3.3.4, "Terms, Glosses, Equivalents, and Descriptions". That sub-subsection is already quite long, so what I propose to attempt is this:

Take 3.

[2021-02-03 18:54] hcayless commented on #1823
I assume you're talking about `<projectDesc>`? That would be fine, as far as it goes, but what if I wanted to include a proper article, or something even longer? What if it needed chapters? Let me try to be precise, and see if it gets us anywhere:

If I have an element `/teiCorpus/teiHeader`, that `teiHeader` is presumably **about** the corpus, not so much about any one of its members. A `teiCorpu

[2021-02-03 20:39] lb42 commented on #1823
As things are currently presented in the GL, there is no difference in semantics between a teiCorpus containing two TEI elements and a TEI element containing two TEI elements. There is no explanation of why you might (or might not)  decide to use a TEI rather than a teiCorpus as the outermost element of your aggregate. There is no discussion of the different intentions we may assume for  `<text>`

[2021-02-04 08:43] HelenaSabel commented on #2101
Gracias, Antonio!

Corrected in 8ccbd4f08

[2021-02-04 08:43] #2101 closed, assigned to HelenaSabel

[2021-02-05 16:15] hcayless commented on #1823
@lb42 It's not unreasonable, but I might make the argument that (e.g.) a contextualizing essay is not a member of the corpus, but an adjunct to it. To return again to the corpus of grave inscriptions, if I was doing that project, I might feel weird about including things that weren't grave inscriptions as members of the corpus. With text as a child of teiCorpus, I have the option of distinguishing

[2021-02-05 16:38] lb42 commented on #1823
Nothing to stop you having a teiCorpus containing one nested teiCorpus (contains only grave inscriptions) alongside another one (contains contextual documents).

To make clearer why I think teiCorpus/text is a bad idea, maybe I should rephrase it as "text without any sibling teiHeader". That's what I really don't like.

[2021-02-05 21:16] hcayless commented on #1823
It's clear that you don't like it :-). But that ship has sailed. Really, it sailed when sourceDoc was allowed into teiCorpus. I see sourceDoc and text as moral equivalents--they both represent the body of an edition. Arguably facsimile does too, for that matter.

I see our choices here as
1. Try to put the toothpaste back in the tube, and deprecate/remove text and sourceDoc from teiCorpus.
2. Writ

[2021-02-06 23:45] lb42 commented on #1823
The requirement to have a teiHeader along with a text element is a pretty fundamental one. You say that the ship has sailed, but it seems to be going into dangerous and uncharted waters.

[2021-02-07 19:06] sydb opened #2103 "encoding of “Guidelines” in Guidelines"
There are over 320 text nodes in the _Guidelines_ that contain the word “Guidelines” (case sensitive). Likely most all of them are references to the _Guidelines_ themselves. A dozen or so of these occurrences are inside `<title>`. Probably either
1. Those dozen should be stripped of their `<title>` status, OR
2. The other ~308 should be encoded in `<title>`.

But I suspect that in either case some