[2021-02-07 22:22] sydb commented on #1823
My (pretty strong) order of preference is 1, 2, 3. And I would be quite happy to ostracize `<sourceDoc>` (and maybe even `<facsimile>`) out of the realm of not having a sibling `<teiHeader>`, too.
That is, although I can see the lure of @hcayless’s musing that there might be an occasional use for a text resource that is not described by its own `<teiHeader>`, it is the Sirens’ lure.
(I disagree wi

[2021-02-07 23:49] hcayless commented on #1823
I’m a little puzzled as to why you all think these are unmoored text elements. Surely their sibling teiHeader applies to them as usual—it’s just doing other stuff too, no?

[2021-02-08 05:43] 747 commented on #1805
Hi, [the latest version of UAX#38 (Unihan)](https://www.unicode.org/reports/tr38/#Modifications), released with Unicode 13.0, has rather big changes in property fields.

The newly added field names currently seem unavailable in TEI, and would be very much appreciated if included in the next version. Removed ones don't have to be deleted, as it affects backward compatibility.

[2021-02-08 12:29] lb42 commented on #1823
In the use case originally proposed, we have a bunch of transcribed inscriptions, and a map. At the corpus level, it's clear that (say) generic statements about transcription policy belong in the teiCorpus/teiHeader, while individual titles, or even  responsibility statements or revision descriptions should be supplied at the teiCorpus/TEI/teiHeader level. Sebastian's argument was that the map (be

[2021-02-09 00:34] MegJBrown commented on #2066
Promoted "Dates and Times" to "Dates" as 13.4

[2021-02-09 00:34] #2066 closed, assigned to MegJBrown

[2021-02-09 16:56] martindholmes commented on #2084
One more item: based on my own misunderstanding and others', discussed today on TEI-L, I believe the XPath section should explicitly state that the context of an xpath pointer is the document, not the node hosting the pointer.

[2021-02-09 18:14] Arithmeticus commented on #2084
I'd like to add to the awesome list drawn up by @sydb

The entire section lacks discussion of what implementations are assumed for an XPATH. I would have expected at least a mention of conformance expected for different implementations / processors. (If I want to write a parser for TEI Pointers in XSLT, how will I know if my algorithm meets conformance, esp. if I rely upon <xsl:evaluate>?)

Why no

[2021-02-09 19:27] #2078 closed, assigned to ebeshero

[2021-02-09 19:41] #2061 closed, assigned to JanelleJenstad

[2021-02-09 20:45] hcayless commented on #2084
@Arithmeticus some of these issues are simply due to the age of the section, and should be updated, though I should note that the Guidelines tend to steer clear of discussions of implementation, for a variety of good reasons.

The relative XPath issue is an interesting one, but we are somewhat restricted by the definition of datatype of the attributes involved ([teidata.pointer](https://tei-c.org/

[2021-02-09 22:28] hcayless commented on #2085
I've rewritten the language about it not being sensible to reference attribute nodes in schemes other than `xpath()` in a32d80f7bc51374ede677716427ad01114001a68.

[2021-02-10 01:51] sydb commented on #2036
Commit 9d8122417 moves att.translatable from ST to TD (directly on dev branch). If Mr. Jenkins approves, this ticket can be closed.

[2021-02-10 01:51] sydb commented on #2097
Commit 9d8122417 moves att.translatable from ST to TD (directly on dev branch). If Mr. Jenkins approves, this ticket can be closed.

[2021-02-10 02:55] sydb commented on #1729
Well, for now the attribution to DHARMA is recorded for posterity in a comment in the `<desc>`. Closing **this** ticket. We are free to open another one if we really want to use the `@source` of `<desc>` for this.

[2021-02-10 02:55] #1729 closed

[2021-02-10 13:20] sydb commented on #2036
No, there are quite a few problems with moving att.translatable from ST to TD. But since @ebeshero has opened another ticket for that, I will discuss the problems there and close this ticket, as the original request (more constraint on `@versionDate`) is fine.

[2021-02-10 13:20] #2036 closed, assigned to sydb, MegJBrown

[2021-02-10 13:48] sydb commented on #2097
Problems are legion. The first is that lots of files in Test/ actually have a `@versionDate` on an element that is not a descendant of a *Spec element:

- Test/testplace-kml.xml: The corresponding ODD does **not** include tagdocs, so I removed the `@versionDate`
- Test/testall.xml: The corresponding ODD does include tagdocs, so this is an appropriate test of using `@versionDate` in a silly place
-

[2021-02-10 13:52] sydb commented on #2097
Note: I am crossing my fingers that 9fb629737 will build. (This msg because I failed to put “#2097” in the commit msg. :-)

[2021-02-10 14:30] #1986 closed

[2021-02-10 14:37] #1992 closed

[2021-02-10 14:45] sydb commented on #2097
Mr. Jenkins approves. (As did my local build.)

[2021-02-10 14:45] #2097 closed, assigned to sydb, peterstadler

[2021-02-10 14:50] sydb commented on #1925
Umm … of your choices I tihnk I like att.conditionalExpression the best, but what is wrong with either att.predicate or att.XPathPredicate?

[2021-02-10 14:51] sydb commented on #1925
(Although att.filtering is good, too; I do not like att.conditional or att.matching nearly as much.)

If there is a use for `@filter` on `<model>`, though, that is a game-changer and att.filtering wins.

[2021-02-10 15:05] peterstadler commented on #1925
maybe @tuurma might have an opinion on this? Do you see some benefit for `@filter` on `<model>`?

[2021-02-10 15:33] #2006 closed

[2021-02-10 17:05] tuurma commented on #1925
No, thanks, `@predicate` is all we need for models and `@filter` there would be utterly confusing. As for the name, att.conditional is fine with me, att.predicate would be fine too. I would vote against att.XPathPredicate, it's long and overly prescriptive.

[2021-02-10 19:26] peterstadler commented on #1925
Thanks @sydb and @tuurma – will proceed with `att.predicate` and file a PR

[2021-02-10 21:10] peterstadler commented on #1823
I have sympathies for @hcayless's [option 1](#issuecomment-774293124) "Try to put the toothpaste back in the tube, and deprecate/remove text and sourceDoc from teiCorpus", as well. While I see the point in the graveyard example (for allowing `<facsimile>` as a direct child of `<teiCorpus>`) I'd be even more rigid (now) and say that every resource should be accompanied by its own teiHeader. Allowin

[2021-02-11 15:22] peterstadler opened #2106 "broken links to non-English bibliography entries from examples-* pages"
While refactoring our Linkchecker Jenkins job I came across various internal references to missing entries in the bibliography from some examples-* pages. Turns out the references are to non-english entries in the bibliography, e.g. the first example on  https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/examples-condition.html which links to the

[2021-02-11 16:14] hcayless commented on #1823
Just expressing a small worry here that delaying discussion of this means increased difficulty for us further down the road. If text as a direct child of teiCorpus is both legal and has reasonable use cases, then people are likely to do it and then become annoyed at having it taken away. If we think we're going to deprecate these things, it should happen sooner rather than later.

For my part, I c

[2021-02-11 16:18] martindholmes commented on #2106
The JavaScript there is misleading; in fact in the source it's a regular link:

`<a href="BIB.html#fr-ex-BnF-Reliures">bibliography</a>`

which is converted into a popup call on load, if JS is enabled. The problem is either:

 - The examples pages themselves should not include examples from other languages than the current one; or
 - The bibliography should include all language items, whatever the

[2021-02-11 18:52] martindholmes opened #2107 "Ruby: Add new example with `@hand`"
@knagasaki provides the following example which should go into the prose, or possibly become one of the examples for the `<rt>` spec page:

![スクリーンショット 2021-02-12 025408](https://user-images.githubusercontent.com/2412617/107684074-2f82fc00-6c57-11eb-92b4-93550afbdb12.png)

This should be added after the upcoming release.

[2021-02-11 19:54] #2054 closed, assigned to sydb, martindholmes, martinascholger

[2021-02-11 20:15] martindholmes opened #2108 "Ruby: Guidelines need to discuss encoding of emphasis marks alongside ruby"
Following the discussions here:

https://github.com/martindholmes/rubyForTEI/issues/10
https://github.com/martindholmes/rubyForTEI/issues/6

the issue of emphasis marks and their relationship to ruby needs to be covered in the Guidelines, with some example approaches to encoding. One option for encoders would be to use CSS properties such as text-emphasis in the `<rb>` element; in other cases, it

[2021-02-11 20:19] martindholmes opened #2109 "Ruby: Guidelines perhaps need to take a position on use for non-East Asian languages"
During the discussions on ruby, the question of whether examples like this:

https://dutchanglosaxonist.files.wordpress.com/2017/10/dotglosses1.jpg?w=730

could/should be encoded using ruby elements. We've so far avoided taking a strong position on this, but it does deserve attention.

[2021-02-11 20:24] martindholmes opened #2110 "Ruby: Multiple ruby streams in the same orientation"
It is not uncommon for two distinct ruby streams to appear in the same place relative to the main text--two annotations on the right, for example, as @duncdrum suggests for this:

https://github.com/martindholmes/rubyForTEI/blob/main/Images/Bopomofo.gif

We should specify a recommended encoding strategy for this, either through the use of extra values for `@place` (right-right, right-right-right),

[2021-02-11 23:27] martindholmes opened #2111 "Ruby Schematron rules result in warnings"
The Schematron rules @sydb created for the `<rt>` element take as their context the `@target`, `@from` and `@to` attributes they apply to. This is perfectly fine and should not present a problem, but if you generate an RNG schema using the TEI Stylesheets, and then extract the Schematron from that schema using the standard Schematron stf framework (ExtractSchFromRNG-2.xsl), you get this:

[code]

[2021-02-12 14:24] knagasaki commented on #2108
I'm talking about it here: https://github.com/TEI-EAJ/Guidelines_for_Chinese/issues/1

[2021-02-12 18:22] martinascholger commented on #1866
@martindholmes I found some more references in various examples: http://www.isocat.org/datcat/DC-1345, http://www.isocat.org/datcat/DC-1230, http://www.isocat.org/datcat/DC-1256, and the namespace http://www.isocat.org/ns/dcr. Do you have any advice what I should do with these references?

[2021-02-12 18:32] martindholmes commented on #1866
@martinascholger The only thing I can suggest would be:

1. Search archive.org for a page for the concept -- so DC-1345 goes here:
https://web.archive.org/web/20160304120102/http://www.isocat.org/rest/dc/1345
2. Search datcatinfo (https://datcatinfo.termweb.se/termweb/app) for the same term. The page you find won't have a useful URL, but it does provide a PID that looks like a URL: http://datcatin

[2021-02-12 18:38] martinascholger commented on #1866
Thanks, I'll do! And yes, what I found was and URL that we cannot use for the example: https://datcatinfo.termweb.se/termweb/app;jsessionid=C8459D2C714F00504EEB02AB1808D608?service=direct/1/SearchView/termList.link&sp=Sl2qs6

[2021-02-12 18:57] bansp commented on #1866
How about this for 'part of speech': http://hdl.handle.net/11459/CCR_C-5524_d8864ad4-1bdf-ee56-594e-784312129ea7
This comes from the CLARIN Concept Registry, which filled in for ISOCat.

[2021-02-12 19:00] martindholmes commented on #1866
That works, but the question is how long the CLARIN Concept Registry will last; it may run out of funding and disappear just like the ISOCat registry did. :-(

[2021-02-12 19:34] martinascholger commented on #1866
As a central hostet Clarin Service, I think it is a reliable ressource. But would that mean that we should consider to change not only the links in the examples?

[2021-02-12 20:01] martindholmes commented on #1866
Are there other isocat links not in the examples?

[2021-02-12 21:08] martinascholger commented on #1866
http://www.isocat.org/ (-> http://www.datcatinfo.net) and http://www.isocat.org/12620/ (https://www.iso.org/standard/37243.html) is linked in the chapters DI and FS and in the specs `att.datcat` and `<gram>`

[2021-02-12 21:17] #1884 closed

[2021-02-12 21:28] #1962 closed

[2021-02-12 21:31] #2042 closed, assigned to hcayless

[2021-02-12 21:57] bansp commented on #1866
That is true (modulo what Martina rightly observes), but, since the ISOCat URLs were (meant to be, haha) permanent, they act as URIs, so the fact that the links are dead (well, zombified in the Wayback Machine) does not remove their uniquely identifying function, it merely removes the convenience of being able to retrieve the end point when following them. Brutally speaking, as long as &lt;pos>, &

[2021-02-12 22:15] martindholmes opened #2112 "Obsolete email address in every Guidelines page"
The Guidelines HTML pages contain this:

[code]

I doubt that email even works any more, but even if it does, surely there's a better one we could choose?

[2021-02-13 03:36] martindholmes commented on #2112
The decision on what email to use should be made here, but it turns out the current one is hard-coded in Stylesheets/odds/guidelines.xsl, so I'll raise a bug there.

[2021-02-13 03:58] knagasaki commented on #2110
Thanks for the good example, @duncdrum . and for the good suggestion, @martindholmes

In the case of the nested ruby, it can be marked up like below:

[code]

It seems to be easily understood the relationship of place of both `rt`.

In the case of non-nested, 'right-right' for `@place` is so helpful like below:

[code]

[code]

[2021-02-13 04:29] knagasaki commented on #2109
In my understanding, if the encoder want to treat the example as two parallel texts, it should be encoded as two texts by `<s>` or some kind of elements for a chunk of text with any kind of alignment function such as `@xml:id`/`@target`. Because if it will be encoded with `ruby`, it will be a little difficult to treat both as two continuous texts. However, an encoder wants to strongly focus on rel

[2021-02-13 04:42] knagasaki commented on #2108
Moreover, during talk with @duncdrum , I feel it is necessary that encoders can easily get any kind of pointers to community-specific mark up guidelines such as EpiDoc.

[2021-02-13 05:49] martindholmes commented on #2109
@knagasaki I agree. Parallel texts are not the same thing as ruby, although perhaps they overlap to some degree.

[2021-02-13 10:30] HelenaSabel commented on #2109
@knagasaki makes a great point: in a case in which every word is glossed, there are alignment methods to tackle this that seem more efficient than `ruby`.

A Western example that came to my mind when reading the ruby section was this one: [facsimile](https://upload.wikimedia.org/wikipedia/commons/4/4a/Codiceemil.jpg). In here, the main text is in Latin, and certain Latin words were considered obsc

[2021-02-13 13:47] ebeshero commented on #2109
@HelenaSabel presents a good test case for the question of whether ruby glosses could be applied outside of East Asian contexts. It is worth noting that the [Wikipedia article on ruby glosses](https://en.m.wikipedia.org/wiki/Ruby_character) does not restrict their use to pronunciation, though that certainly appears to be their primary use. The article points out that ruby can be used for semantic

[2021-02-13 13:55] ebeshero commented on #2109
Here is the passage from the Wikipedia article commenting on the Japanese use of ruby for semantic help:

“ Also, ruby may be used to show the meaning, rather than pronunciation, of a possibly-unfamiliar (usually foreign) or slang word. This is generally used with spoken dialogue and applies only to Japanese publications. “

[2021-02-13 15:57] duncdrum commented on #2109
This question cannot be answered without deciding for a wide or narrow definition of ruby.

Cultural appropriation cuts both ways here. In the narrow definition All  East Asian documents are interpreted using Japanese textual practices outside their historic or linguistic context. See our discussion about interlineares glosses, despite documentary evidence of both commentarial and rubyesque annota

[2021-02-13 16:51] lb42 commented on #2109
... and when you've decided that, how about Hebrew cantillation marks? can i use tei:ruby for them?

[2021-02-13 17:14] knagasaki commented on #2109
As `<ruby>` is a style of annotation, TEI should distinguish it from other types of annotation.  `<ruby>` is a part of interlinear gloss, not same as it. As interlinear gloss can be encoded by `<note>`. TEI doesn't need to use `<ruby>` for all interlinear gloss even in East Asian documents. In my understanding, ruby is used for how to read a word or a phrase, not for every interlinear gloss in gen

[2021-02-13 17:15] knagasaki commented on #2109
How Hebrew cantillation marks are encoded in TEI so far?

[2021-02-13 17:59] martindholmes commented on #2109
I think the cultural appropriation issue might be a bit of a red herring;

(https://www.w3.org/TR/2001/REC-ruby-20010531/Overview.html.utf-8#what)

(https://en.wikipedia.org/wiki/Ruby_character#History)

So although it's surely been a feature of East Asian texts for much longer than it's been in Western texts, I think it belongs to all of us; it's just that it has a special significance for East A

[2021-02-13 18:07] duncdrum commented on #2109
@knagasaki in each of these cases, we shouldn’t ignore the fact that rendering vertically layed out East Asian documents in html or pdf, will use `ruby` in another namespace to achieve the desired effect.

If the TEI source of this is `ruby` in only some cases, but not in others, the guidelines need to be very explicit about when that should be the case. I m afraid we can’t avoid being explicit ab

[2021-02-13 20:37] raffazizzi commented on #1542
New request/nudge for @jamescummings  and @emylonas  :)

[2021-02-13 20:41] raffazizzi commented on #1744
Bump/nudge for @jamescummings

[2021-02-14 17:49] knagasaki commented on #2109
Thank you for giving you opinion. Due to our talk, the implication of ruby and East Asian matters gradually become apparent on this repo. But I'm very sorry for my poor English.

I don't think the function of layout of ruby in html will be used only in East Asian vertical documents, because it can be used as just a layout function. It will be used also in horizontal documents in various languages

[2021-02-14 18:36] martindholmes commented on #2109
We should remember that in TEI encoding of primary source texts we are _always_, and _only_, describing what our source document looks like. We are not providing information or hints for later rendering processes. That's what the `<model>` element is for (https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-model.html). These ruby elements are designed to provide a convenient and easily-processabl

[2021-02-15 03:09] #1957 closed

[2021-02-15 07:04] Dominique-M opened #2113 "Spelling under 3.8.2.2 in Guidelines"
Above the first Arabic lemmatisation example:
supplied by an term elements → a term element, I presume.

[2021-02-15 13:49] hcayless commented on #2113
This appears to have already been fixed, by @MegJBrown  and will appear in the next release of the Guidelines.

[2021-02-15 13:49] #2113 closed, assigned to nobody

[2021-02-15 14:19] hcayless commented on #2106
I think the ideal would be a single bibliography that was able to handle works in multiple languages (so if there are both English and French versions of a book, e.g.), they would both be listed under the same heading. I haven't looked at all at what might be involved in making that work...

[2021-02-15 14:25] hcayless commented on #2112
Unless I hear any objections, I propose to just kill it.

[2021-02-15 14:27] peterstadler commented on #2112
I have no problems with killing it, I just think it should be delayed until after the release.

[2021-02-15 14:35] hcayless commented on #2112
I don't feel particularly strongly about it (other than it's an error), but I also see it as the code equivalent of a typo, so I'm not sure why we should be bothered about when it happens.

[2021-02-15 16:38] hcayless commented on #1563
I've had some success in writing XQuery to find unresolved references in p5.xml. It strikes me that the converse should also be checked: find items in the bibliography that are no longer referred to. Those shouldn't _necessarily_ be removed, but they might be candidates for removal.

Fwiw, here's my (rather rudimentary) XQuery:
[code]

Something like this could be run as a test on p5.xml to turn u

[2021-02-15 16:59] hcayless commented on #1563
Here's an XQuery that finds `<bibl>` and `<biblStruct>` elements in the Bibliography (not in the Reading List portion) that are no longer linked to and should be candidates for updating or purging:
[code]

[2021-02-15 17:29] npcole commented on #2112
With release manager hat on: can we kill it now? There is no value in printing an address nobody is monitoring in the guidelines.

[2021-02-15 19:29] JanelleJenstad commented on #2103
Practices for citing one's own digital project are inconsistent and still evolving (indeed, I'm still undecided how to talk about MoEML!), which means we have an opportunity to help shape the practices. As Syd points out, "these Guidelines" should be "these guidelines" if we mean the genre of guidelines. If we are referring to _TEI P5: Guidelines for Electronic Text Encoding and Interchange_, we p

[2021-02-15 23:04] martinascholger commented on #1989
Updates on Italian, French, Spanish, and Japanese. Closing issue.

[2021-02-15 23:04] #1989 closed

[2021-02-16 15:40] martindholmes opened #2114 "`@lang` attributes missing in HTML output"
This may need a solution in the Stylesheets repo, but I'm raising it here for the moment.

If you visit a Guidelines page in another language, like the Japanese page here:

https://tei-c.org/release/doc/tei-p5-doc/ja/html/ref-activity.html

the root html element has lang="en". The element gloss, which is in Japanese, has no `@lang` attribute. Captions such as "module" and "attributes" have lang="j

[2021-02-16 16:18] speters33w commented on #1533
Are there any standard tags for slant rhymes at this point?

[2021-02-16 22:12] sydb commented on #2114
Problem verified.
Seems like a (reasonably bad, hopefully not too hard) Stylesheets issue to me.

[2021-02-16 22:32] sydb commented on #1563
See https://github.com/TEIC/TEI/issues/1476#issuecomment-249831158, related (mostly inasmuch as it provides evidence that yes, such a check is a good idea).

[2021-02-17 12:05] #2010 closed

[2021-02-18 09:31] HelenaSabel commented on #2087
Typo corrected with 86dc263.
The contents of the named entity in relation to “le docteur” were not explicitly addressed.

[2021-02-18 09:31] #2087 closed, assigned to HelenaSabel

[2021-02-19 11:34] #1925 closed

[2021-02-19 16:03] sydb commented on #2015
I hit a bunch more of these today. We now have only two of the originals left, because they are not obvious, because it is not clear how the name should be pronounced:

- [ ] gi lbl preceded by “a” in DITPXR — is “lbl” pronounced “label” (or similar) or spelled out “ell-bee-ell”?
- [ ] gi rng:ref preceded by “a” in TDSG5 — pronounced “ref” or “relax-enn-gee-ref” or “arr-enn-gee-colon-ref” or …?

I

[2021-02-19 16:38] MegJBrown commented on #2015
I would pronounce lbl as "label", but I rarely discuss relaxNG in public,
so that one's all up to you.

On Fri, Feb 19, 2021 at 11:04 AM Syd Bauman <notifications@github.com>
wrote:

--
Dr. Meaghan Brown

[2021-02-19 16:44] sydb commented on #2015
I found that we always use “an” for all the other `<rng:*>` cases, so changed it to “an”. So we are down to 1.

[2021-02-19 16:48] #2015 closed

[2021-02-20 05:36] #2012 closed

[2021-02-22 05:44] 747 commented on #1805
`att.gaijiProp` currently contains an attribute `version`, that is given a description "specifies the version number of the Unicode Standard in which this property name is defined." However, the fact that all `<unicodeProp>`, `<unihanProp>`, and `<localProp>` share that attribute could make it counterintuitive. Not to mention that Unihan has its own versioning scheme, any regional or specialized c

[2021-02-22 21:08] corbane commented on #2114
I joined this post to avoid duplicates.
A reader or voice / braille translator is unable to work with the documentation pages. There is little semantics and little accessibility to your documentation pages.

The main reason is the lack of indication of the language of an HTML element.
On all pages other than English, there is no `lang` attribute indicating the switch from English to another langua

[2021-02-22 21:16] martindholmes commented on #2114
@corbane You're absolutely right. One problem is that for the vast majority of pages, the content of the page is English even if the
"language version" of the Guidelines is not; this is because the prose of the Guidelines is untranslated. The only components that are regularly translated are portions of the specifications pages as well as captions and examples.

[2021-02-25 18:05] martindholmes opened #2115 "constraintSpec in attDef causes borked output in spec page"
Going back to at least 4.1.0:

https://tei-c.org/Vault/P5/4.1.0/doc/tei-p5-doc/en/html/ref-moduleRef.html

the RNG content model of moduleRef has been messed up, in all outputs. This appears to be due to the fact that a constraintSpec was located inside an attDef, something that we know has been a problem in the past. I think this is a Stylesheets issue, but pending more investigation I'm raising

[2021-02-25 18:06] martindholmes commented on #2115
Moved the constraintSpec in commit 992e522b8.

[2021-02-25 18:09] martindholmes commented on #2115
We have the same problem in variantEncoding, citeStructure, and rt.

[2021-02-26 18:07] martindholmes commented on #2115
Closing this issue, since it wasn't really a TEI issue, and we've now fixed it in the Stylesheets; I've reverted the workaround change I made in moduleRef.

[2021-02-26 18:07] #2115 closed, assigned to martindholmes

[2021-03-04 20:29] martindholmes opened #2116 "TCW 22 needs updating to cover Oxygen plugin release"
The release of the Oxygen plugin is part-automated (build and SourceForge release) and part-manual (GitHub tag/release and pushing the updateSite.oxygen file to the TEI server). We need to document that process thoroughly so the release tech can do it along with the rest of the release process. This may also require having a docker container that has Java 8 so that the plugin can build successfull

[2021-03-05 22:17] sydb opened #2117 "upgrade Saxon"
@martindholmes points out we should upgrade our Saxon 9 to Saxon 10.

[2021-03-05 22:19] sydb commented on #2117
See also [Stylesheets #490](https://github.com/TEIC/TEI/issues/2117).

[2021-03-10 03:51] sydb opened #2119 "teidata.interval problems"
The `@interval` attribute is defined in the class teidata.interval and used twice: once for `<when>` and once for `<timeline>`.

1. The attribute is defined in a class and used only twice, but in both cases it is locally overridden. The overriding definitions in the two elements do not match one another, but I am not sure why not. And I’m thinking that if they have to be different, shouldn’t at le

[2021-03-12 16:12] sydb commented on #2049
### Plan, `#2`: where should `<altIdent>` be allowed?

Instructions for Council and other interested parties:

Edit the table adding a column for yourself, and let us know where you think `<altIdent>` should and should not be allowed using the following system. (Note: it is _much_ easier to edit the table if you use an editor with a monospace or fixed-width font.)

In the column under your initial

[2021-03-12 18:38] sydb commented on #2002
Looks to me as if the examples given by both @jamescummings and @MegJBrown to support the idea that the _Guidelines_ should not assign semantics to multiple values are using the semantics of `#2`. Is there an argument for `#1` or `#3`?

BTW, `#1` can be thought of as Boolean OR, and `#2` as Boolean AND; `#3` is a range, and (as mentioned earlier) would make most sense if `@calendar` were limited t

[2021-03-12 22:16] sydb commented on #2002
Looks to me as if the examples given by both @jamescummings and @MegJBrown to support the idea that the _Guidelines_ should not assign semantics to multiple values are using the semantics of `#2`. Is there an argument for `#1` or `#3`?

BTW, `#1` can be thought of as Boolean OR, and `#2` as Boolean AND; `#3` is a range, and (as mentioned earlier) would make most sense if `@calendar` were limited t

[2021-03-13 19:39] sydb commented on #1921
Progress report — PR #2041 was merged back on 18 Feb, and is in the released version (4.2.1). Thus the next step is to undo the warning messages from that PR, and change the schema itself (per #2031) on or about 2021-10-23 (i.e., after the next release, but before the one after that).

[2021-03-15 08:33] duncdrum commented on #1805
@747 This attribute has been included unchanged from the previous way of dealing with gaiji to introduce `minimal changes`. I take your point about it with respect to `localProp` but the discussion of `@version` is in separate tickets, and only indirectly related to this issue.

[2021-03-18 15:04] jamescummings commented on #367
I don't think we should close this ticket but instead revitalise it.  Ensuring as much as possible consistency of potential encoding across person/place/org and I would also add event, is a desirable goal. This has been done piecemeal with issues like https://github.com/TEIC/TEI/issues/1756 but we should step back, re-assess what the differences are between them and see how they could be better ra

[2021-03-19 13:48] sydb commented on #2114
@martindholmes is right, but that is no excuse (IMHO) for the various chunks of stuff in other languages not to have a proper `@lang`.

[2021-03-19 15:40] martindholmes opened #2125 "The build process should download epubcheck instead of storing it in the repo"
@sydb, @npcole and I noticed that we have a hard-coded version of epubcheck along with all its dependencies in both the TEI and Stylesheets repos. It has many dependencies, which then get mixed up with the jars we need for other purposes. Releases of epubcheck are bundled as downloads on GitHub with all their dependencies (about 12MB). It would be more effective to pick a version (presumably a rec

[2021-03-24 12:37] sydb commented on #1881
Add to list: “as in the first example above” in locus.xml. (The example does not come out above in the HTML output.)-:
I may address this myself very soon, as there are several other problems with those remarks. But we need to be on the lookout for these, too.

[2021-03-24 12:44] sydb opened #2126 "tidy up remarks of <locus>"
- [x] Refers to “example above”, which is below in HTML output
- [x] It may be time to remove “Use of the `@target` attribute to indicate an image is strongly deprecated.”
- [x] “`<zone>` element,” should be just “`<zone>`,”
- [x] The end-`<biblScope>` at the very end is missing its slash
- [x] And why is it a `<biblScope>`, not a `<locus>`?

[2021-03-24 13:12] #2126 closed, assigned to sydb

[2021-03-24 13:56] sydb commented on #2126
Note: I have also fixed the code sample in the remarks of `<biblScope>` and `<citedRange>`, which all had the same obvious copy-and-paste error. I did **not** update the `@versionDate` attributes, as this is just a typo that was changed in both languages in `<biblScope>` and there was only one language in `<citedRange>`.

[2021-03-26 22:26] JanelleJenstad opened #2128 "Bug in overridden vallists"
Have a look at the element spec for tag (https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-tag.html). There should be a custom vallist, but it's not displaying. We think there's an error in the spec file. Bug occurred between 3.6 (which has the values) and 4.0.0 (which doesn't have the values). vallist should have mode=add

[2021-03-26 22:36] JanelleJenstad commented on #2128
There are 21 element specs with the same problem.

[2021-03-26 22:36] martindholmes commented on #2128
Other possible victim elements from a quick XPath:
castItem, constitution, derivation, desc, dimensions, domain, factuality, fw, gram, graph, interaction, iType, move, node, oRef, preparedness, purpose, tag, tech, usg, xr

[2021-03-27 01:09] ebeshero commented on #2128
@JanelleJenstad @martindholmes @sydb This seems weirdly relevant to our discussion of https://github.com/TEIC/Stylesheets/issues/272 yesterday, over behavior of mode attributes related to vallists.

[2021-03-27 01:13] martindholmes commented on #2128
@ebeshero Yes, I think @sydb may have assumed that mode=add was not needed, but I think it is. Whether it should be or not is a different question. I think this might warrant an interim release, assuming it affects schemas as well as the web guidelines.

[2021-03-27 14:52] sydb commented on #2128
Yes, schemas affected. Yes, I think an interim release would be appropriate. I will try to investigate further later this weekend.

[2021-03-27 16:57] martindholmes commented on #2128
This does raise an interesting question about the `@mode` issue, though. We have two competing assumptions:

 - `@mode` is inherited
 - if there is no `@mode`, then "add" is assumed

In this case, it appears that the first is in effect, so `@mode="change"` is assumed on the `<valList>`, and since there is no original valList, nothing happens. That's the generous assumption, though; most likely the

[2021-03-28 12:32] martindholmes commented on #2128
Working on this in branch issue-2128-valLists.

[2021-03-28 12:53] martindholmes commented on #2128
PR #2129 is live -- please review and merge.

[2021-03-28 12:54] sydb commented on #2128
I disagree — having what I think it is _supposed_ to be, and what I vaguely recall Sebastian implying, is that it is inherited; if there is nothing to inherit, it is `"add"`. This should be trivially easy to do in XSLT 2+:
[code]
but was probably quite a pain to do in XSLT 1. Thus I strongly suspect there is just a bug(s) in the Stylesheets.
Furthermore, though, while we’re talking `@mode`, I am c

[2021-03-28 13:01] martindholmes commented on #2128
@sydb Adding `@mode="add"`, which is what I've done in the PR, simply brings these elements into line with 25 others which use the same mechanism when overriding `@type`. There is certainly a much larger discussion to be had about whether this should be necessary or not, but that should be had in the Stylesheets, and any action on that is likely to take a while; meanwhile, I think we need a quick

[2021-03-28 13:03] lb42 commented on #2128
Where does the idea that the default value for @mode is (in old money) #INHERITED come from? Sfaicr, it is always ADD.

[2021-03-28 13:04] lb42 commented on #2128
p.s, yes please fix this asap -- it also affects anyone trying to document their own ODD properly

[2021-03-28 13:09] martindholmes commented on #2128
@lb42 No idea where the inheritance idea comes from, other than I seem to recall it being mentioned in a discussion the Stylesheets Working Group was having when looking at https://github.com/TEIC/Stylesheets/issues/272. Maybe I'm misremembering. That would be excellent -- if that's not a thing, then it's much easier to describe what should happen in cascading `@mode` contexts.

[2021-03-28 13:31] sydb commented on #2128
I have just tested and get the same results using the more semantically correct (IMHO) `"change"`, rather than `"add"`. Since that is what at least some of those `<valList>`s used to have before someone (namely me) messed up and deleted the `@mode` attrs while fixing #386, I am inclined to use `"change"`, not `"add"`.
I have a checkout of @martindholmes’s issue-2128-valLists branch with that chang

[2021-03-28 13:34] martindholmes commented on #2128
I think if there was no valList in the class (which there isn't), and you provide one in the elementSpec, then it should be "add".

[2021-03-28 13:55] sydb commented on #2128
Hmmm … Makes some sense. But why should you, the ODD writer, need to figure out whether or not there was a `<valList>` in the class you are overriding? (And if the class changes from there is no `<valList>` to there is one, then ODDs that have `"change"` still work, but ODDs that have `"add"` should explode, no?)

[2021-03-28 13:56] sydb commented on #2128
IIRC, `"change"` is not supposed to throw an error when there is nothing to change, it just acts as `"add"`. But at the moment (worrying about taxes) I am not sure.

[2021-03-28 13:59] lb42 commented on #2128
Detection and reporting of error conditions is not one of the odd processing tool chains strengths

[2021-03-28 14:27] martindholmes commented on #2128
I think "add" is strictly correct in this context, but if a valList were to be added to the type attribute in the class (which it never will be), the processing should raise an error or a warning suggesting changing it to "change". I still think the PR as it stands is the correct fix.

[2021-03-28 15:03] sydb commented on #2128
I sought guidance from the _Guidelines_, but am still uncertain, I’m afraid. The last bit of [TDbuild](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/TD.html#TDbuild) says that if you (the processor) are working on some declaration with `mode=change` and there is already an existing declaration for the same thing:

Which begs the question (already being toyed with in this discussion) about w

[2021-03-28 16:16] martindholmes commented on #2128
If there were an ancestor valList, surely the required value to replace it would be "replace". I don't see how "change" makes any sense, unless you have some child valItems that you're going to keep and some new ones you're going to add. This is unlikely to happen with `@type`.

[2021-03-28 16:18] martindholmes commented on #2128
In any case, I think this is an issue for another ticket. The immediate urgency is to fix the missing things, and it makes more sense to fix them using the same attribute value that's been used to create the same output for all their colleague elements in the same situation which are not broken.

[2021-03-28 19:56] sydb commented on #2128
What makes you think `"add"` has been used for their colleague elements in the same situation? As I alluded to, above, I think the value `"change"` is what had been used, at least in some cases. (Could be wrong, and do not have the time to research it right now. Maybe tonight …)

My instinct is the harm in using the wrong one is pretty minimal, so I do not wan to delay this for long over the `"cha

[2021-03-28 20:58] martindholmes commented on #2128
`//elementSpec[classes/memberOf[@key='att.typed']][attList/attDef[@ident = 'type'][valList[@mode='add']]]`

[2021-03-28 21:51] sydb commented on #2128
But that only tells us about overrides of att.typed (by far the most common, of course).

[2021-03-28 22:02] sydb commented on #2128
Interestingly, if I checkout 8995b48c953faa5cdb49ae6ae9ebd8d0c38d840f (the commit before the change that I think caused the problem), build p5subset.xml, and run that XPath on it (for each hitting spitting out `concat('in ', ancestor::*[@ident]/@ident, ' my mode is ', @mode, ' inside a mode=',ancestor::*[@mode][1]/@mode )`), the result is:

Which is only 5 of the 22. Hmmm …

[2021-03-28 22:03] martindholmes commented on #2128
Yes, I was only looking for att.typed overrides because virtually every commit linked to issue #386 was on att.typed items.

[2021-03-28 22:07] martindholmes commented on #2128
I worry a little that a lengthy discussion of the history will give Council members the impression that there's a debate to be had about whether or how this should be fixed in the short term. There isn't. This is bad and it should be fixed as soon as possible. People's ODDs and schemas are broken, and the Guidelines are currently missing lots of key info. Please let's fix this quickly, and then go

[2021-03-29 19:54] martinascholger commented on #2128
@martindholmes I'm just trying to catch up on what I missed over the weekend. In which cases are ODDs and schemas broken? Do you have an example? I tried to reproduce one, but I did not succeed.

[2021-03-29 20:34] martindholmes commented on #2128
@martinascholger If you go here:

https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-tag.html

you'll see that the valList for `@type` is missing. It's also missing from the schema:

https://tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng

(Lines 19752ff). There are a bunch of other elements also missing their valLists. Up to 3.6.0, these elements had their own locally-defined type a

[2021-03-29 21:16] martinascholger commented on #2128
Yes, but that does not automatically mean that the ODDs and schemas are broken, but that they do not validate the values correctly, or? I just wonder why we did not notice it for a while. There is no question that we need to fix this.

[2021-03-29 21:41] martindholmes commented on #2128
They're broken in the sense that where previously people would have got suggested values popping up in Oxygen, suddenly those values would disappear; and if any of these valLists were closed, encoders would suddenly have been able to add bad values that would have been caught by validation before, but would now be allowed. I didn't mean the schemas were technically invalid or anything like that; j

[2021-03-29 21:46] JanelleJenstad commented on #2128
@martindholmes sums it up nicely. After we noticed the problem on Friday, Martin and I were speculating last week about why people hadn't noticed. I only noticed because I was writing documentation for one of our own projects and wanted to double-check what values are allowed on `tag/@type`. Martin had the values in his head, as would most people who write a lot of documentation or know the guidel

[2021-03-29 21:59] martinascholger commented on #2128
Thanks @JanelleJenstad and @martindholmes !

[2021-03-29 23:48] #1967 closed

[2021-04-06 14:19] martindholmes opened #2131 "Attribute on the Attributes list page links to element with the same name"
If you go here:

https://tei-c.org/release/doc/tei-p5-doc/en/html/REF-ATTS.html

and click on the `@certainty` attribute, you'll be taken to the page for the certainty element:

https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-certainty.html

Presumably this may also happen for other attributes that share a name with an element, such as `@when`.

[2021-04-06 14:20] #2131 closed, assigned to nobody

[2021-04-08 18:17] JanelleJenstad commented on #2128
@npcole offered to do the point release.

[2021-04-08 18:52] #1902 closed

[2021-04-08 18:55] JanelleJenstad commented on #2045
FWIW, MoEML has good documentation on how we use <code>@calendar</code> at https://mapoflondon.uvic.ca/encoding_dates.htm#encoding_dates_julian.

[2021-04-08 19:26] ebeshero commented on #2055
Council thinks we need a better example to show the use of `<attRef>` in context. And a better explanation, possibly a remark.

[2021-04-08 19:33] sydb commented on #2063
@npcole, my recollection is that you already did this, but I don’t remember where you put the script. If you did, can you remind us where it is and close the ticket?

[2021-04-11 15:09] sydb commented on #2111
@HelenaSabel have just played around with this for a long time, and for the life of us have been unable to generate that warning message _outside_ the testing framework, in the normal way the TEI build process or a TEI user would use the Schematron (or so we think).

Thus we are leaning towards option number 2. (We would be happier if we could point to precisely where this message is coming from.

[2021-04-11 20:22] sydb commented on #2111
More evidence that this is a Schematron processing bug in STF. If I run

The output has
[code]
as that template. (Notice that the `<xsl:apply-templates select="*" mode="M…"/>` that causes the problem above is not present.) This means to me that the STF is using an older or otherwise incorrect version of the Schematron→XSLT stylesheet.

[2021-04-11 23:43] sydb commented on #2049
## summary of step (2) results so far

### uncontroversial
That is, subgroup agreed in 1st round of voting.

#### per step (1)
`<moduleSpec>` loses (by deprecation) its `<altIdent>` child, to be replaced with `<idno>` in our ODDs

#### do _not_ already have `<altIdent>`, and stay that way
_`<prefixDef>`_, `<remarks>`, and _`<transcriptionDesc>`_

#### already do have `<altIdent>`, and stay that wa

[2021-04-12 02:01] sydb commented on #2049
So, there are 2 elements left to discuss for step (2), `<language>` and `<paramSpec>`.

### on `<language>`

(With apologies to William Safire.)

Left to my own devices, I am **very** much against adding `<altIdent>` to the content model of `<language>`. That said, it is quite possible that @martindholmes, @hcayless, @raffazizzi, or @HelenaSabel have arguments in favor that will convince me.

My f

[2021-04-12 02:24] martindholmes commented on #2049
On `<language>`, @sydb says:

I presume that should be "allowed inside `<language>`.

Other than that, I think I find your argument convincing. My reason for voting for <altIdent> here was that I'm constantly aware that languages (especially endangered or extinct languages) are frequently described, identified and referred to in many different ways by different communities, but of course this real

[2021-04-12 05:08] 747 opened #2132 "Additional version/date attributes for gaiji description"
Due to the gradual and time-consuming procedure of Han character standardization into Unicode, an unencoded Han gaiji will likely have multiple identities as well as go through property changes during and after the standardization process. In order to maximize the stability of text body using the gaiji module, the character/glyph description needs the capacity to record the update history for trac

[2021-04-12 19:27] sydb commented on #2049
Yes, @martindholmes, the MarkDown source of that snippet says
[code]
so it seems very odd that you are not seeing the backticks. (Even your copied quote from my post has the tags in it without the backticks.)

Anyway, `<language>` now has 5 ✗ and 3 ✓. Anyone (calling @hcayless, @raffazizzi, and @HelenaSabel) want to argue strongly in favor of putting `<altIdent>` inside `<language>`?

[2021-04-12 19:36] martindholmes commented on #2049
@sydb I wasn't talking about the backticks; I was talking about the element name "altIdent", which I think is a typo for "language", You wanted to say (I think) that you can use idno inside language, so you don't need altIdent. Instead you implied that you can use idno inside altIdent, which isn't true.

[2021-04-12 20:13] hcayless commented on #2049
My motivation was identical to Martin's, as was my mistake in not realizing that `<altIdent>` only works in tandem with the `@ident` in `att.identified`. Not going to argue in favor :-).

As for `<paramSpec>`, I'm afraid I don't have the bandwidth to explain the Processing Model to myself again, but wouldn't its use be analogous to that of other tagdoc elements? Namely, to provide an alternate nam

[2021-04-13 02:46] sydb commented on #2049
Right! Thank you, @martindholmes. I have just fixed that, which means that future readers of this exchange will be **quite** confused. :-)

[2021-04-13 02:50] sydb commented on #2049
OK, @hcayless, that makes it 6:2 against putting `<altIdent>` into `<language>`. So I think that settles it, I won’t be doing that on this ticket. If someone wants to create another special-purpose ticket for that, so be it.

As for `<paramSpec>` I think your analysis is correct, it provides an alternate name to use in the ODD to refer to the parameter. But I cannot (off the top of my head, which

[2021-04-20 00:03] #2002 closed

[2021-04-20 19:46] martinascholger commented on #1824
@vbigot-juloux I'm closing this for now. Please feel free to re-open.

[2021-04-20 19:46] #1824 closed

[2021-04-24 16:24] JanelleJenstad commented on #2128
Thanks everyone! I'm closing this ticket now.

[2021-04-24 16:24] #2128 closed, assigned to sydb, martindholmes, JanelleJenstad

[2021-04-24 16:30] JanelleJenstad commented on #2103
My strong recommendation is that we wrap _Guidelines_ in the <code>title</code> element when we are referring to _TEI P5: Guidelines for Electronic Text Encoding and Interchange_. Our _Guidelines_ are presented as a book in chapters. The book has an edition and issue number. People cite it in their own bibliographies as a book. We should cite our own book in the same way that we want users to cite

[2021-04-24 16:38] lb42 commented on #2103
Personally, I'd rather see the retention of  "these guidelines" in the many cases where it's not referring to the published work but to its content
e.g. "some versions of these guidelines", "forbidden by these guidelines"
and so on.

[2021-04-24 16:41] JanelleJenstad commented on #2103
@lb42: Yes, that makes sense. The rule needs to be cognate with how we treat books. So if one would say "this book," or "as this book argues," then one would not capitalize guidelines or wrap it in <code>title</code>. I'll have to go through the 308 cases and decide on a case-by-case basis.

[2021-04-24 22:39] martindholmes commented on #2103
@lb42 "forbidden by these guidelines" is a very odd phrase, don't you think? If they're guidelines, what business do they have forbidding anything? But a quick search shows the only occurrence is in the phrase "...such practice is not forbidden by these Guidelines, but no recommendations are made...".

[2021-04-25 21:01] joeytakeda opened #2133 "Typo in 3.6.2: "tel" isn't a namespace"
In 3.6.2, the prose states:

Source:

https://github.com/TEIC/TEI/blob/a1c3b9aea03755878f8dfaf4f3eb282e59f89c2f/P5/Source/Guidelines/en/CO-CoreElements.xml#L1992-L1996

I don't think "namespace" is right here, since "tel" is a URI scheme (https://tools.ietf.org/html/rfc3966). So maybe something like:

[code]

[2021-04-25 21:12] martindholmes commented on #2133
@joeytakeda I don't think it's a URI scheme; it's the tel: protocol:

https://davidwalsh.name/phone-link-protocol

So that's what the change should be, IMHO; `s/namespace/protocol/`.

[2021-04-25 21:22] lb42 commented on #2133
"in the tel: protocol"??? sounds like gibberish to me

[2021-04-25 22:56] joeytakeda commented on #2133
I think Walsh has it wrong there; as far as I can tell, schemes = prefix; protocol = method:

https://en.wikipedia.org/wiki/Uniform_Resource_Identifier#Syntax
https://stackoverflow.com/questions/48953298/whats-the-difference-between-a-scheme-and-a-protocol-in-a-url

Plus IANA lists it as a "scheme": https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml

[2021-04-26 00:03] martindholmes commented on #2133
I stand corrected. :-)

[2021-04-26 04:04] 747 commented on #2132
From: https://github.com/TEIC/TEI/issues/1805#issuecomment-783100905

[2021-04-27 00:49] sydb opened #2134 "calendar example mismatch?"
We (@MegJBrown and I) notice some possible inconsistencies in section [13.4.4 Using Non-Gregorian Calendars](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ND.html#NDDATECUSTOM) while working on #2028. To wit:

The initial example sets up a calendar definition for `Julian_England`. We think the definition (“The Julian calendar, as used in late 16th-century England.”), is either lame or does

[2021-04-27 01:11] martindholmes commented on #2134
There were multiple variants of the Julian calendar in use over the centuries in England; IIRC, our intention was to specify that these dates were in the form one would expect to find most frequently in the last 16th century. Any of these dates could be expressed in any variant of that calendar. I'm sure the id/ref mismatch is just a typo.

[2021-04-27 12:02] lb42 commented on #2134
It's quite clearly a typo . However, while you're fixing that, it might be worth doing something about this sentence:

"However, just as we use, for instance, when, notBefore, notAfter etc. to provide more precise expressions of dates and times in a constrained and computable form, it is often necessary to express a date or a date-range from a non-Gregorian calendar in a more precise manner"

I ta

[2021-04-27 14:41] martindholmes commented on #2134
@lb42 Not `@calendar`, `@datingMethod`. That's more important than the convoluted style, for which I expect I'm responsible. :-)

[2021-04-27 15:08] lb42 commented on #2134
Yes, quite.

[2021-04-27 18:06] sydb opened #2136 "Use PureODD inside attribute lists"
[See TEIC/Stylesheets#144, of which this is a logical extension.]

When ODD was originally invented, we intended the capability to group `<attDef>` elements inside an attribute list as either a group which were all being defined as available to the user (`<attList org="group">`), or as a set being defined of which the user could only choose one (`<attList org="choice">`).

(BTW, this has been impl

[2021-04-28 08:22] stuartyeates opened #2137 "bookmark links in examples pages have no mouse-over text"
On pages such as https://tei-c.org/release/doc/tei-p5-doc/en/html/examples-p.html the bookmark link has no alt text and the unicode character used is obscure and non-obvious on the platforms that I have access to.

Also the name of the link is bookmarklink and the character is an anchor, but there are two perfectly good bookmark unicode characters: "BOOKMARK TABS" and "BOOKMARK"

[2021-04-28 11:53] ebeshero commented on #2137
@stuartyeates Thanks for this. The symbol we've been using is an anchor, which has some visual association with the element on which it's placed:`<a class="bookmarklink">` (the HTML anchor element). We should discuss which is best: the ship's anchor ( ⚓ ) or the bookmark (🔖 ) or the bookmark tabs (📑).  As for alt text, that may be a little more difficult--a good discussion for our Stylesheets grou

[2021-04-28 11:59] lb42 commented on #2137
Also, the "bibliography" pop-up links still don't work for non-English examples

[2021-04-28 14:36] martindholmes commented on #2137
@lb42 Good point on the bibliography links; I didn't know that. It should be relatively easy to fix. The links in the English version of the Guidelines always point to the English bibliography page, but there are examples in the specs pages which are only reffed in the French bibliography. This is an example:

https://www.tei-c.org/release/doc/tei-p5-doc/en/html/examples-title.html#index-egXML-d39

[2021-04-29 14:51] martindholmes opened #2138 "Bookmark links from non-English examples don't link to bibliography"
This is harvested from issue #2317, which is actually on a different topic. @lb42 pointed out this problem. The links in the English version of the Guidelines always point to the English bibliography page, but there are examples in the specs pages which are only reffed in the French bibliography. This is an example:

https://www.tei-c.org/release/doc/tei-p5-doc/en/html/examples-title.html#index-eg

[2021-04-29 14:51] martindholmes commented on #2137
Moved the non-English bibliography links issue to a new issue #2138.

[2021-04-30 10:00] stuartyeates opened #2139 "Another example for langKnown"
As suggested on the mailing list, here is a proposed new example for langKnown https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-langKnown.html  The example is from https://raw.githubusercontent.com/iljackb/Mixtepec_Mixtec/master/MIX-People.xml  Note that I have removed all the personally-identifying information from the example. I've forgotten everything I ever knew about bibls, so that bit's

[2021-04-30 13:11] sydb commented on #2138
Am I correct that the (or at least a) solution is to change the code that generates the “bibliography” link to recognize that there is no English bibliography entry and thus not create the link?

[2021-04-30 13:32] lb42 commented on #2138
Except that there  is a bibliography entry to be linked to. Just not in the English bib!

[2021-04-30 13:54] sydb commented on #2138
Hmmm … so what is the algorithm for ascertaining the link?

[code]
?

[2021-04-30 14:44] martindholmes commented on #2138
Or possibly harvest all bibl entries that are pointed to from egXMLs anywhere, and pull them into each language's bibliography file. Or we simply have a single, centralized bibliography file that all the languages use.

I think I favour the latter, for simplicity. People do love massive bibliographies (or at least, they love making them and including them in every article they write). Since all eg

[2021-04-30 15:01] sydb commented on #2138
Oh. I do like that one-BIBL-to-rule-them-all idea. But it does not change the _algorithm_ for what to point to, just the execution, right? (I.e., instead of looking in the `Guidelines/$LANG/BIB-Bibliography.xml` file, we would be looking for the `bibl[lang($LANG)]` entry.)

[2021-04-30 15:17] martindholmes commented on #2138
I think the algorithm is just straightforward if they're all in the same file: we don't have to care about the language, because it's irrelevant. All versions of the GLines would have the same complete bibliography.

[2021-04-30 15:29] martindholmes commented on #2138
@sydb and I looked into this, and it seems that there is only one centralized bibliography, but when a specific language version of the Guidelines is being built, all entries from other languages are filtered out. This is a mistake, because all egXMLs are included from all languages on the all-examples pages, so we shouldn't be filtering out that stuff from the Guidelines. The first thing to do is

[2021-05-05 05:29] ebeshero opened #2140 "Example needed to model attList for delimiting alternative groupings of attributes"
Repeated postings to the TEI list, including most recently https://listserv.brown.edu/cgi-bin/wa?A2=ind2105&L=TEI-L&P=869 indicate that our community seeks guidance in modeling how to constrain values of one attribute based on those of another, usually to set `@subtype` values based on `@type`. Usually I (and others) recommend Schematron constraints in ODD, but a better solution (allowing content

[2021-05-05 14:13] sydb commented on #2140
Just want to say this is brilliant. Working on tweaking @ebeshero’s demo a bit now.

[2021-05-05 14:24] martindholmes commented on #2140
+1 from me too. I didn't even know this would work!

[2021-05-05 15:03] sydb commented on #2140
I had misremembered TEIC/Stylesheets#144 such that I thought this would **not** work.

[2021-05-05 15:13] sydb commented on #2140
I have discovered that

1. This still works if you use the correct datatype (teidata.enumerated)
2. This did _not_ work for me when the element being defined was over-riding `@type` and `@subtype` from att.typed. So that needs to be worked on.
3. The HTML documentation output is outright screwy. I have not yet figured out what is going on there.

I have an (updated version of @ebeshero’s) ODD to d

[2021-05-05 16:19] ebeshero commented on #2140
Yay! You are too kind, @sydb. I was kind of embarrassed that I didn't know how to do this, and it took Christiane Fritze's post to the TEI list to get me poking it at, as well as a chat with @djbpitt to review how we actually do this in Relax NG. The rest I sort of figured out by poking at the `@org` attribute on attList and wondering how it worked.

Yes, I did notice the HTML output looks bad: It

[2021-05-06 03:55] JanelleJenstad commented on #2103
Working on this issue in branch /JanelleJenstad_Issue2013.

[2021-05-07 16:50] jamescummings commented on #1744
After quite some time I've been having a think about this and mulling over how to fully document in the ODD the intentions of variations in contextually-variant content models. I'm using content-model here to refer not only to child elements and classes (e.g. `<content>`) but also available attributes and values (e.g. `attList`). The thoughts I had were:

1) If there was a `@context` attribute as

[2021-05-07 18:09] jamescummings commented on #1851
I've been starting to think again about how to create an `<objectContents>` to replace msContents/msItem. msContents is basically the 'table of contents' of the manuscript being described. So it lists the works inside it bibliographically.

1) **Replacing msItem:** I have been trying to see if there is a way to do without the need for specialised `<objectItem>` element or something like that. `<ms

[2021-05-07 21:08] hcayless commented on #1516
@bansp Council is reviewing tickets, and this looks like it's still on hold. Are you still planning to work this up into a proposal, or should we close it?

[2021-05-07 21:12] #1559 closed

[2021-05-07 21:16] hcayless commented on #1547
Looking at this again. I will try out the latest version of EPubCheck (https://github.com/w3c/epubcheck) and see where that leaves us

[2021-05-07 21:21] ebeshero commented on #1564
@sydb has removed the faulty link for now. Council SVF2F thinks he needs to bring this up to the WWP to make this and other examples available for the Guidelines and teaching purposes, and report back if we can then update this link to a publicly accessible resource.

[2021-05-07 21:24] JanelleJenstad commented on #1691
@JanelleJenstad would like to join forces with @ebeshero to develop a proposal.

[2021-05-07 21:35] ebeshero commented on #1691
We should consider adding a standoff example to this as well.

[2021-05-07 21:39] JanelleJenstad commented on #1721
Council SVF2F subgroup recommends planning to discuss this ticket on an upcoming Thursday Council mtg, for which everyone has read the ticket in advance and comes prepared to discuss.

[2021-05-07 21:43] JanelleJenstad commented on #1724
@sydb: Please explain this ticket a little better.

[2021-05-07 21:43] ebeshero commented on #1724
During Council VF2F subgroup @sydb notes that the string of text is the same but the datatype differs. That's the problem.

[2021-05-07 21:48] ebeshero commented on #2133
Council SVF2F thinks @joeytakeda 's initial suggestion is absolutely correct.

[2021-05-07 21:51] JanelleJenstad commented on #2133
Thanks for noticing this problem, @joeytakeda!

[2021-05-07 21:51] #2133 closed, assigned to sydb

[2021-05-07 21:54] JanelleJenstad commented on #2112
Looks like this one is done. We are closing it.

[2021-05-07 21:54] ebeshero commented on #2112
Council VF2F notes that we've resolved this issue, so we're closing it.

[2021-05-07 21:54] #2112 closed, assigned to hcayless

[2021-05-08 11:45] sydb commented on #2049
### more on `<paramSpec>`

Realizing that one of the ‘?’ votes was mine, I changed it to ✗, leaving us with a vote tally of 3 ✗, 2 ?, and 3 ✓. So IMHO it is sorta up to MH or HC to come up with a compelling reason as to _why_ `<altIdent>` should be left as a child of `<paramSpec>`.

[2021-05-08 12:17] sydb commented on #2132
Makes perfect sense to me that multiple version numbers would need to be recorded. But will it ever be necessary to specify anything other than
1. No version # at all (not very interesting)
2. A single version number (already supported)
3. A range of version numbers (what `@fromVer` and `@toVer` would do)

If not, I am wondering (aloud) if just defining `att.gaijiProp/@version` as 1–2 occurrences

[2021-05-08 13:15] jamescummings commented on #2049
re: `<paramSpec>`

@sydb / @hcayless : I think that your understanding of `<paramSpec>` is correct; it would be an alternative ident for the parameter name. Of all the other strange places that we're getting rid of `<altIdent>` from, this is the one where it makes _most_ sense to remain. But I don't have a particular use-case for it. Having aliasing of parameters might be useful where `<paramSpec>

[2021-05-08 13:17] lb42 commented on #2049
In general it seems perfectly plausible to have alternative forms of a parameter name. Look at the spec for any Unix command.

[2021-05-08 14:23] JanelleJenstad commented on #1851
Discussed at SVF2F of full council. Next step is to work up some examples, specifically where one would want an intellectual table of contents. Also examples of objects containing objects.

[2021-05-08 14:25] JanelleJenstad commented on #1851
This is "go" for developing examples to help decide on whether we need new elements. Do not merge pull requests yet.

[2021-05-08 14:30] martindholmes commented on #2049
Also @sydb you did say before "if no consensus can be reached I will (begrudgingly) leave `<altIdent>` in the content model of `<paramSpec>`".

[2021-05-08 14:41] ebeshero commented on #1744
Noting this ticket is relevant: https://github.com/TEIC/TEI/issues/2140

[2021-05-08 15:07] jamescummings opened #2141 "https://tei-c.org/vault/ should redirect to https://tei-c.org/Vault/ or https://vault.tei-c.org/"
https://tei-c.org/vault/ currently 404s, it should redirect to
https://tei-c.org/Vault/
or
https://vault.tei-c.org/

[2021-05-08 16:07] peterstadler commented on #1515
The description of `@facs`  has already been changed to "points to all or part of an image which corresponds with the content of the element" and will get further refinement to read " points to all or part of an image or surface which corresponds to the current element".

So, the following encoding should be ok:

[code]
(with the appropriate definitions of the `<zone>`s somewhere else)

Next to fi

[2021-05-08 16:12] sydb opened #2142 "inconsistent wording of descriptions of attr classes with only 1 attr"
When describing (in `classSpec/desc`) a class that has only 1 attribute we are inconsistent as to whether we say the class “provides an attribute” or “provides attributes”.

| class name | desc |
| -----------|------|
|att.global.analytic|provides additional global attributes for…|
|att.fragmentable|provides an attribute for…|
|att.namespaceable|provides an attribute indicating…|
|att.notated|prov

[2021-05-08 16:30] jamescummings commented on #1879
I think `<listNote>` is useful also *outside* the area of standoff. I think it would be good to have anyway (and have it claim membership in model.listLike)

[2021-05-08 16:30] martinascholger commented on #1715
@sydb, @ebeshero please comment on @raffazizzi's updates.

[2021-05-08 16:54] JanelleJenstad commented on #1724
Notes from Council for @sydb: The onus is on Syd to make the ticket clearer. Colons or no colons? Will they disturb the processing? Then we'll discuss again.

[2021-05-08 16:57] sydb commented on #1735
SVF2F makes green, GO, without deprecation.

[2021-05-08 17:00] peterstadler commented on #1735
Council suggests to copy the current constraints (regarding `<content>` from the [comment above](https://github.com/TEIC/TEI/issues/1735#issuecomment-406457215)) from  "tei_customization"  to the TEI specs.

[2021-05-08 18:07] jamescummings commented on #2142
I've been thinking about this and on a theoretical level I think that class descriptions should always be plural. This holds for model classes as well where appropriate. The reasons something is in a class is basically because it makes sense to semantically group it with related things or it will be used in lots of places alongside those things and specifying it by class is easier than specifying

[2021-05-08 19:09] sydb commented on #2142
I’m convinced, @jamescummings. (That said, someone else could convince me otherwise, I suppose. But my hobgoblin mind probably cannot be convinced that the inconsistency is a good idea.)

[2021-05-09 00:02] sydb commented on #2049
Yes, @lb42, it is completely plausible. And yes, @martindholmes, I did say that. But (with the possible exception of you) we have just reached consensus in that all of Council (including HC and EB, and also JC) have agreed to dropping it. We (including MT) believe, BTW, that there is no software in the world that would have any idea what to do with `paramSpec/altIdent`.

The Unix-command switch du

[2021-05-09 00:09] 747 commented on #2132
@sydb Thank you, this is a point related to what I wrote above that "Whether the version-based and date-based attributes can coexist is subject to discussion." Actually, in reference to what we might need in our project's environment, adding to `<*Prop>` elements the version range and `<mapping>` the date range would probably suffice. At least I have not been able to think of a situation yet that

[2021-05-09 00:15] ebeshero commented on #2049
@martindholmes @sydb Here is what persuaded me toward consensus on removing `<altIdent>` from `<paramSpec>`: I asked if there might be another way to indicate an alternative to a parameter. The answer seems to be yes, and on closer inspection of the content model we have, I think `<equiv>` would satisfy if needed.

[2021-05-09 03:07] sydb commented on #2049
Or just having a 2nd `<paramSpec>`, identical save the `@ident`.

[2021-05-09 03:44] stuartyeates opened #2144 "wrong attribution for example"
The first example for @key in https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.canonical.html is attributed to 'No source, made up for these Guidelines.'  but the id number and name are suspiciously similar to http://nzetc.victoria.ac.nz/tm/scholarly/name-427308.html so I'm pretty sure the example comes from there.

@Conal-Tuohy may have some memory of how this came about; I certainly don'

[2021-05-09 07:55] duncdrum commented on #2132
Just jotting done some quick notes.

To keep in line with version ranges in other standards I would propose to use `minVer` and `maxVer` as attribute names. Less confusion with from/to and potentially applicable elsewhere.

When I wrote the updates, my assumption was that all references to unihan or Unicode properties would be tied to a single unambiguous version. (Usually the latest at the time o

[2021-05-09 09:43] lb42 commented on #2144
Wherever it comes from, I find the usage of an identifier with a space in  it here rather upsetting. Yes, it is permitted by the datatype. But the second example already shows (and motivates) that usage. So the first one should be different, surely. Or at least include some discussion of why in general putting spaces in key values might be better avoided. To say nothing of the fact that this actua

[2021-05-09 10:25] stuartyeates commented on #2144
I'm not in any way attached to this example; finding a new one with known attribution is a convenient solution to the attribution problem.

[2021-05-09 13:29] hcayless commented on #1721
Council thinks the answer to this is that for TEI, the vast majority of attribute values are by definition out of scope for `@xml:lang`. TEI almost universally avoids natural language attribute values. But we should make sure the definition of `@xml:lang` is in sync with the prose, so we will do that.

[2021-05-09 22:21] sydb commented on #1515
Noting that `@facs` is plural (i.e., value is 1–∞ pointers), I have instead used:

for the description of the `@facs` attribute and

for the description of the class, on the (perhaps incorrect) theory that we are not very worried about number in the description of the whole class, but should be precise in the description of the attribute itself.

Changed in 4a9867b87.

[2021-05-09 23:38] sydb commented on #1724
Just to be clear, it is not _just_ the “colon or not” issue, although that is the biggest part. It is also that if we say “the `@key` of &lt;A> should match the `@ident` of a &lt;B>”, then (it seems to me) the datatypes of `A/@key` and `B/@ident` should be the same.

Not that it is likely that any of these change, but if one of them did, we could be wreaking havoc. And, for that matter, besides ju

[2021-05-10 13:33] bansp commented on #1516
Hi @hcayless . I don't think I am going to have the time to work on this in the nearest future, but the above discussion suggests to me that the issue is pretty relevant, so maybe, apart from the two options you mentioned (me attacking this and closing the ticket), there is also an option for the Council to look at the suggestions above and implement the changes suggested there?

[2021-05-10 13:45] lb42 commented on #1724
I suppose another wrinkle here is whether or not @key on these (formal specification) elements should have the same datatype as the generic @key provided by att.canonical : I'd say definitely not (it should remain teidata.text). But then maybe this @key should be renamed something else.

[2021-05-10 13:50] lb42 commented on #1515
Shouldn't zone be constrained to appear only within a surface? It is, as noted above, an abstract concept, not part of a physical image. So I  support Peter's proposal above.

[2021-05-10 16:36] tuurma commented on #1515
I think we can close this ticket now, with @sydb's clarification on `@facs` and a feasible encoding proposal to meet Martin's requirements

[2021-05-10 16:55] sydb commented on #1724
I agree that `att.canonical/@key` should remain teidata.text. (Although that said, any project using it should probably re-define it to be much more constrained, IMHO.) Renaming the `@key` used in formal specs is an idea that (I am embarrassed to admit) had not occurred to me. May be overkill (and should be on a different ticket if we really think it worth pursuing). But since they are not members

[2021-05-11 09:37] Martin-de-la-Iglesia commented on #1515
Feasible it may be, but I dislike this new proposal for two reasons:
1. "(with the appropriate definitions of the `<zone>`s somewhere else)"? How is that supposed to work? Where in the TEI document would you put the `<zone>`s, @sydb ? Surely they need to be integrated into the document structure somehow? In my own proposal above, the `<zone>`s would be exactly where they belong in the document str

[2021-05-11 10:16] tuurma commented on #1515
@Martin-de-la-Iglesia zone, as the reference says, *defines any two-dimensional area within a surface element*. Of course there are couple other combinations, but all these are supposed to be in some way stand-off from the transcription, typically in `facsimile` section or, since recently, in `standoff`.

I don't see why it would be required to inline information about zone coordinates in the tran

[2021-05-11 10:29] lb42 commented on #1515
:white_check_mark:

[2021-05-11 10:29] Martin-de-la-Iglesia commented on #1515
Interesting. I never used `<zone>` like that before. I've always used the "embedded transcription" method ([https://tei-c.org/release/doc/tei-p5-doc/en/html/PH.html#PHZLAB](https://tei-c.org/release/doc/tei-p5-doc/en/html/PH.html#PHZLAB)). I don't see this embedded transcription method working well with the proposed encoding solution.

Regarding your IIIF proposal: what I've been arguing for in th

[2021-05-11 13:03] ebeshero commented on #1515
@Martin-de-la-Iglesia Council responded to the issue you raised about `@facs` here: (https://github.com/TEIC/TEI/issues/1515#issuecomment-408006301 )
to make sure that this attribute does point to something other than an image.

Since `@facs` no longer is semantically constrained and now is permitted to reference more than images, this is a valid solution.

The `<zone>` element is part of the tran

[2021-05-11 13:32] Martin-de-la-Iglesia commented on #1515
@ebeshero Why shouldn't `<zone>` be permitted inside `<figure>`, when it is perfectly fine to have `<zone>`s both inside and around `<line>`s, as in the Guidelines example https://tei-c.org/release/doc/tei-p5-doc/en/html/PH.html#index-egXML-d53e96486 ?

As for IIIF, you can't simply "translate" `<zone>` coordinates to IIIF coordinates: IIIF only allows pixels, i.e. the numbers refer to digital obj

[2021-05-11 13:39] ebeshero commented on #1515
@Martin-de-la-Iglesia A `<line>` is defined to be topographic. A `<figure>` is not so.

[2021-05-11 13:41] ebeshero commented on #1515
@Martin-de-la-Iglesia In my own work with TEI and IIIF recently I found it was easy to connect the two and work with them together. I think it is a good idea to try. That is all I meant to convey here.

[2021-05-11 14:01] lb42 commented on #1515
Figure is available inside surface only via its membership of model.global. I tend to agree that it really shouldn't be there. It's a typographic construct like a paragraph which has no place inside a sourceDoc.

Reluctantly using Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Elisa Beshero-Bondar ***@***.***>
Sent: Tuesday, May 11, 2021 2:39:43 PM
To: TEIC/TEI

[2021-05-11 14:07] Martin-de-la-Iglesia commented on #1515
I see. Perhaps I misunderstood what `<figure>` means in TEI all along. I used to think of both `<figure>` and `<line>` as areas on a surface, only with different content. Sometimes I forget that the Guidelines are mostly written from a Literary Criticism perspective, which allows for 'abstract' figures - a perspective that is alien to me, as an art historian. 😅
I guess I should have stuck to somet

[2021-05-11 14:34] hcayless commented on #1586
The language that @cmsmcq was concerned with in this issue has been removed, so I'm going to close this ticket. That said, the discussion was valuable, and I remain worried about the ways we talk about "cleanliness" in chapter 23 and about some of the implications of the discussion there.

[2021-05-14 09:32] stuartyeates opened #2145 "ref/@type should be ref/@target in example"
https://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#index-egXML-d53e45300  has:

    <ref type="url">http://xml.coverpages.org/coombs.html</ref>

My reading is that this should be:

    <ref target="http://xml.coverpages.org/coombs.html">http://xml.coverpages.org/coombs.html</ref>

There's a very similar one in https://www.tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#index-egXML-d53e4

[2021-05-14 12:41] hcayless commented on #2145
Or maybe just `<ptr target="http://xml.coverpages.org/coombs.html"/>`?

I suppose `<ref>SOME URI</ref>` is fine. I guess I might use it if I _didn't_ want whatever processor I'm using to produce a link in the output...

[2021-05-14 12:54] lb42 commented on #2145
That scenario isn't as unlikely as you might suppose. I have just reviewed a grant proposal in which most of the embedded links were non actionable (because the document had been through some lame PDF conversion). The ones in which the links were *also* visible (but non actionable) in the text were rather useful, since I could cut and paste them into a browser...

[2021-05-17 12:11] hcayless opened #2146 "@copyOf should take a position on attributes"
The documentation for [`@copyOf`](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.global.linking.html#tei_att.copyOf) leaves it as an exercise for the reader whether or not attributes on the target element should be copied, noting only that

Logically, it would seem to me that if one element is a copy of another, it should have the attributes of the target as well as the content. `@xm

[2021-05-17 13:20] sydb opened #2147 "tei_customization should allow <schemaSpec> in <back>"
Several projects put their `<schemaSpec>` elements int he `<back>`, reserving `<body>` for the prose. There is no (intelligent) reason tei_customization should not allow this.

[2021-05-17 13:36] hcayless opened #2148 "Surface should explain its coordinate system"
[`<surface>`](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-surface.html) does not provide a mechanism for specifying meaning of the numbers in `@ulx`, etc. The [Guidelines](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/PH.html#PHFAX) imply that coordinate system dimensions may be understood to map to units like pixels or millimeters, but lack a way to make this mapping explicit.

[2021-05-17 13:47] bansp commented on #2146
Option 3. could be beautiful. A little foray into a unification-based world.
Though I think it would then be good to mention that in the case of duplication, the local version (on the pointing element) wins.

[2021-05-17 14:01] jamescummings commented on #2148
What if it had a `@unitRef` pointing to a `<unitDef>`?

This wouldn't help with the direct mapping but would with the explanation of the units being used.

[2021-05-17 14:28] martindholmes commented on #2146
Agreed on #3, which is more like an inherit + override system. But it does mean we're treating attributes differently from content, which is always ignored.

[2021-05-17 14:33] martindholmes commented on #2148
I've always assumed that the coordinates are there to _establish_ a matrix, which is independent of the units in which the media file might be delimited ("the surface element defines an abstract coordinate space which may be used to address parts of the image"). So if your image is 200 x 200 px, and you use a 100 by 100 matrix in your `@ulx` etc., then each unit in the surface matrix would corresp

[2021-05-17 15:42] lb42 commented on #2148
As defined, these numbers are explicitly NOT metricated, as Martin says. They represent a coordinate space, independent of its actual size.  Introducing a unit would really confuse the issue.

[2021-05-17 16:21] hcayless commented on #2148
Right. What I'd like is to have a way to specify the actual size--that's a separate issue from the definition of the coordinate system (which is correctly abstract).

[2021-05-17 16:45] jamescummings commented on #2148
Is the correct place for this on zones then?

[2021-05-17 17:45] lb42 commented on #2148
Not on zones either. If you are saying something about the actual size of something in the real world you really don't want to start from here... Try @rend,  last door at the end of the corridor

[2021-05-17 18:11] hcayless commented on #2148
@jamescummings I don't think so, because if you can define dimensions for a surface then, doing it for zones would be redundant.

@lb42 I don't think `@rend` would be very useful. I suppose you could do it with `@style`... Hacky though. I kind of like the idea of permitting `<dimensions>` in surface.

[2021-05-17 18:14] lb42 commented on #2148
@hcayless dimensions would be ok. But what if you wanted to define two different surfaces with differing granularity for the same object?

[2021-05-17 18:25] hcayless commented on #2148
@lb42 would anything stop you from doing that? I'm not sure why you'd want surfaces with different granularity, but you certainly might have surfaces with differing dimensions. Or are you asking whether two surfaces representing the same (e.g.) page could have different coordinate systems? I suppose there'd be no harm, though I don't see an obvious use case for it. You can already do that, of cour

[2021-05-17 18:30] lb42 commented on #2148
I might want one very coarse grained view say 4 X 4 and one very fine day 200 X 100. The dimensions of the objects mapped to those two should be the same, assuming there's only one object.

[2021-05-17 18:40] hcayless commented on #2146
I'm sort of neutral, except for really disliking option 4. The only use case I have for `@copyOf` is recording transpositions in variant readings (e.g. editor X put line 3 after line 10). In that case I don't duplicate the line, but mark the one in the variant reading as a copy. My preference would be for attributes on the target to carry over to the copy (except `@xml:id`).

[2021-05-17 18:45] martindholmes commented on #2148
The actual dimensions would appear on the media element, wouldn't they? In the simple case, on the `<graphic>`. I'm not seeing why this is actually needed. @hcayless could you outline a real use-case?

[2021-05-17 19:20] hcayless commented on #2148
Well, the dimensions of the image would (if supplied at all). These are presumably in pixels. What if I want to know how many millimeters the surface is on each side? I guess you're arguing that since a graphic is assumed to be co-extensive with its parent surface or zone, you could infer the container's dimensions from the graphic. And I suppose that would work, though it seems hacky to me--and d

[2021-05-17 19:53] martindholmes commented on #2148
@hcayless I'm a bit confused as to whether you're trying to describe the original object itself or its digital surrogate. My assumption has always been that the digital surrogate is the subject of the `<surface>` element (i.e. the image representing the object); the object itself would be described in an `<object>` element, presumably in `<physDesc>`.

[2021-05-17 20:01] hcayless commented on #2148
Assume the papyrus in the image below, with a surface defined as the area outlined in red on the image (i.e. the papyrus itself):

![Screen Shot 2021-05-17 at 3 09 39 PM](https://user-images.githubusercontent.com/23493/118544659-9ebf2f00-b723-11eb-80f9-3315edd4c2ef.jpg)

I want to do:
[code]
I know the dimensions of the papyrus, and I can measure its pixel extent in the image. If I can correlate t

[2021-05-17 20:25] martindholmes commented on #2148
I have no objection to a dimensions unit being available, but I do think this is a sort of mixing of concerns. The surface element is (to me) an abstract concept wrapping a digital surrogate; it doesn't actually have any dimensions. The digital surrogate does, but of course they're digital. The physical object is a completely separate thing.

But my view of all this may be too simplistic, of cours

[2021-05-17 21:54] sydb opened #2149 "allow <schemaSpec> in <front> and <back>"
In ticket #1921 we are removing `<schemaSpec>` from a variety of silly places (like `<figure>`, `<license>`, and `<scriptNote>`), and we now explicitly recommend “It should be a child of front, body, back, encodingDesc, div, div1, …, or div7.”.
HOWEVER, `<schemaSpec>` is not allowed as a child of `<front>` or `<back>`.
This, I think is a corrigible schema error that should just be fixed.
Alternati

[2021-05-17 22:21] lb42 commented on #2149
I dont think it should be anywhere except inside encodingDesc, or elsewhere in the header. It's metadata.

[2021-05-17 23:33] MegJBrown commented on #2028
Closing issue because Elisa did everything necessary

[2021-05-17 23:33] #2028 closed, assigned to ebeshero, MegJBrown

[2021-05-18 00:09] sydb commented on #2100
@MegJBrown and I discussed this and came up with a replacement sentence (pretty close to the 2nd one I suggested above).
Change checked in (df6680e4a), but leaving this ticket open for a week or two to allow others to disagree with our wording.

[2021-05-18 00:10] MegJBrown commented on #2100
Syd means it was pretty close to his second sentence, with links.

[2021-05-18 00:24] stuartyeates opened #2150 "'standardized' in definition of listNym"
Since at least P5 1.0.0 the definition of listNym has been:

    <listNym> (list of canonical names) contains a list of nyms, that is, standardized names for any thing.

But nowhere in the discussion of nym or listNym is there any mention of standards or standardization, only canonicalness.  Additionally this gives the (I believe mistaken) suggestion that all of the nyms in a nymList must be names

[2021-05-18 00:41] sydb commented on #2149
Well, there certainly is an example of `<schemaSpec>` as a child of `<encodingDesc>` in the Guidelines. But only one. In all other cases in our two repos it is a child of `<body>`, `<div>`, `<p>`, or (of course) `<x:egXML>`:
-  81 tei:body
-  77 x:egXML
-  27 tei:div
-  07 tei:p
-  02 x:div
-  01 x:body
-  01 x:encodingDesc

(These results are slightly skewed, because each chapter other than HD is

[2021-05-18 01:20] sydb commented on #2150
I think you have a point.

[2021-05-18 15:00] lb42 commented on #2149
Ah, sorry, my mistake:  my comment was meant to apply only to schemaRef elements. Clearly a `<schemaSpec>` has to be legal in the `<body>` of an ODD somewhere: and I don't really mind where. Though like you, I don't think it should be allowed inside `<p>` -- the use cases you cite are all pretty ancient. Hope you enjoyed your dessert.

[2021-05-18 15:07] lb42 commented on #2150
"normalized" would work too, maybe better, since "canonised/canonical" has undesirable religious/litcrit overtones. And maybe adding a `remarks` clarifying that no particular normalization method is proposed by the Guidelines, though a project would be well advised to make their principles explicit.

[2021-05-18 20:03] stuartyeates commented on #2150
Switching from "canonised/canonical" to "normalized" would probably require switching the discussion of the tag in the chapter too.

"Standard/ized" is used a _lot_ in the chapter to refer to date standardization.

[2021-05-18 23:25] sydb commented on #2149
Yes, dessert was delicious, thank you. And yes, `<schemaRef>` should continue on as just a child of `<encodingDesc>`.
And I think you are right: we should keep `<schemaSpec>` out of small `<p>`-sized things.

[2021-05-19 00:22] stuartyeates commented on #2145
Shouldn't the primary measure of examples in the standard be "what markup are we trying to encourage, exemplify and model" not "what markup are do we allow in weird corner cases (which we will refrain from mentioning are weird corner cases)" ?

[2021-05-19 02:20] hcayless commented on #2145
Indeed. I think best practice with a bare URL is probably to use `<ptr target=“...”>`.

[2021-05-19 07:42] lb42 commented on #2150
Yes. But there ARE standards for date representation ... Several in fact.

[2021-05-19 09:29] lb42 commented on #2146
If the content of the pointing element is to be ignored/suppressed, surely its attributes (if any) should be as well? In which case there's no problem in saying that all attributes of the targetted element are copied, along with its content.

[2021-05-19 09:33] lb42 commented on #2145
The `<ptr>` vs `<ref>` (to say nothing of the empty `<ref>`) issue is not germane to the OP's original point though, which concerns the use of @type : I think we'd all agree that supplying @target if there a real URL is available would be much the preferred practice. The use of @type might however be appropriate if there were other kinds of pointer to encode.

[2021-05-19 11:37] bansp commented on #2150
I am not sure if Lou's perceived overtones for "canonical" are shared by everyone -- I think, as a speaker of "near native technical English", I might have an issue with "canonised", but not "canonical", which -- for many, I think -- functions across the board as referring to established/institutionalized practice, without digging deeper into the semantics/etymology of "canon".

Using "canonical"

[2021-05-19 11:46] lb42 commented on #2150
My perceptions are rarely shared by everyone, though I hope often by many! But I agree that the gloss and the description should be consistent, whatever word is used and that "standardized" is freight with unwarranted expectations. In my view there is no need for a gloss, since "listNym" just means "a list of nyms" whatever "nyms" may be: it is not the place where "nyms" should be defined or expla

[2021-05-19 12:06] bansp commented on #2150
I share that hope, and value your perceptions. :-)

And thanks for that, I recall having aesthetical issues regarding the (I thought) obligatory use of glosses, when editing my ODDs or ODD proposals. I'll bear that in mind.

[2021-05-19 12:12] ebeshero commented on #2149
@sydb It’s pretty clear this ticket follows up on #1921 where we already had some discussion about allowing `<schemaSpec>` in `<front>` and `<back>`, the upshot of which is already written up in a Schematron deprecation warning (explicitly saying that it’s only going to be allowed in certain elements, including `<front>` and `<back>`). I think we have to follow through on what we promised here, or

[2021-05-19 12:34] hcayless commented on #2145
Of course it's germane if the solution is to use ptr with target! And yes, there is a tangential and large discussion to be had on when to use one or the other, but I don't want to have that on this ticket, for which there is a simple fix.

[2021-05-19 13:01] PFSchaffner commented on #2150
Ah the joys of nuance. FWIW, I would place these words roughly in this order of generality: regularized, normalized, standardized, canonical. That is, 'regularized' is the loosest and simply means 'consistent, in accordance with some rule,' however arbitrary; 'normalized' goes a step further and implies that that rule carries the weight of custom or authority; 'standardized' drops the moral author

[2021-05-19 13:54] bansp commented on #2150
It seems then that I should ignore my non-native understanding of "canonical" and vote for "normalized" throughout (if the gloss stays).

[2021-05-19 14:12] PFSchaffner commented on #2150
I suspect also that there is probably some conflict at work between 'humanist' English and 'techie' English.

[2021-05-19 14:35] martindholmes commented on #2146
@lb42 Except for `@copy-of`, presumably.

[2021-05-19 14:39] lb42 commented on #2146
What? if there is a @copyOf on the targetted element, I think it's turtles all the way down!

[2021-05-19 14:49] martindholmes commented on #2146
There are implications for processing, though. If an `@copy-of` points to an element with another `@copy-of`, then two processing passes will probably be needed, or some recursion.

[2021-05-19 14:58] lb42 commented on #2146
Yes. So better make sure your @copyOf processing is robust (it could for example refuse to handle a subsequent @copyOf) . But not a good reason to special case this (rather remote) possibility.

[2021-05-19 16:06] martindholmes commented on #2146
As far as I can see, the Stylesheets have no processing at all for `@copy-of`. Presumably something along these lines would be what we want:

[code]

with the tricky bit being the pointer resolution. That would handle any recursion, I think.

[2021-05-19 21:21] stuartyeates commented on #2150
Unicode, which both XML and TEI P5 are built on, uses 'canonical'  and 'normalized' in specific ways. Depending on how aligned we want to be with them, we may wish to be influenced by this. See https://unicode.org/reports/tr15/

[2021-05-20 12:10] sydb commented on #1921
The more I mess around with this, the more I think to myself that `<schemaSpec>` should just be a member of model.resourceLike, and nothing else. Sigh.

[2021-05-20 12:28] ebeshero commented on #1921
I tend to agree since that would make things a lot easier, but seems like that wouldn’t permit use in body (let alone front or back).

[2021-05-20 12:36] #2149 closed, assigned to sydb

[2021-05-20 14:44] sydb commented on #1921
Right. All TEI customizers, including ourselves, would have to change _all_ ODD files so that `<schemaSpec>` was a direct child of `<TEI>`, and prose that goes with it was in a sibling `<text>`. But that just makes more _sense_, doesn’t it?

[2021-05-20 14:44] martindholmes commented on #1921
I also agree, as you know. There is the issue of where it would end up being output in the HTML. I'm not sure whether odd processing does different things depending on where your schemaSpec is; we should check that.

[2021-05-20 14:47] sydb commented on #1921
To be fair, I am not actually recommending we _do_ that. At least not until the dust has settled on limiting the crazy places `<schemaSpec>` can go (i.e., this ticket).
As for processing, current processing of `<schemaSpec>` to RNG and Schematron would not be affected at all, I don’t think. Might have crazy impact on the HTML documentation output, though.

[2021-05-20 14:47] martindholmes commented on #1921
I think we'd need a long period of deprecation if your intention were to prevent the use of schemaSpec elsewhere. But I think it would be a good first step to make it a member of model.resourceLike and change all our examples to encourage placing it as a direct child of TEI. As such, does order matter? If so, what order should it be in relative to the other resourceLikes?

[2021-05-20 14:48] laurentromary commented on #1921
Keeping the possibility of having it in a div would allow one to keep this editorial facility. I would also not be eager to go through all my ODDs and change everything. Life is short.

[2021-05-20 14:55] martindholmes commented on #1921
@laurentromary Definitely. This does need a long period of deprecation and lots of warning. It will affect the majority of projects, I think. I was assuming the initial move would be non-backwards-breaking.

[2021-05-20 15:03] lb42 commented on #1921
This is, sorry Syd, a really daft idea. The whole point of "ODD" is that the definition of a schema and of its documentation form a single unit. Requiring schemaspec to be hived off as some other kind of resource gives entirely the wrong message.  A schemaSpec is a special kind of div -- incomplete in itself, part of a larger entity -- in my view: hence it should be permissible within body, back,

[2021-05-20 15:57] martindholmes commented on #1921
@lb42 I think the issue is that schemaSpec doesn't seem like it's really part of a text, so it feels strange for it to live in the front, or the body, or the back, of anything. Prose documentation is clearly a sort of born-digital text, but the schema definition is something distinct. I'm not sure whether I agree with that or not; in processing, the two get blended in all sorts of ways, so you cou

[2021-05-20 17:59] jamescummings opened #2152 "Multiple nested objects"
@martinascholger recently asked me if it was the intention for `<object>` only to allow one `<object>` child. This was clearly not the intention and I really thought I had tested it. But testing it now I only seem to have a single nested `<object>` child rather than a number of sibilings.

I believe the line at fault is this:
https://github.com/TEIC/TEI/blob/7d590a8a11918a34174fd03e12589b84683f5b3

[2021-05-20 18:01] bansp commented on #1921
This ticket is an interesting read. From a petty issue of decorum to massive backwards incompatibility caused by a difficulty in tightening the encoding to be meticulous enough. It feels like a luxury of systems where there is nothing to be done but tinker with something that ain't really broken. Is the TEI such a system already? ;-)

I've just looked at some language-resource-related standards, w

[2021-05-20 18:01] martindholmes commented on #2152
@jamescummings I think you're correct. The default value of `@maxOccurs` is 1, so that's what's in force at the moment. Clearly a corrigible error, and also has no implications for backwards-compatibility.

[2021-05-20 18:08] martindholmes commented on #1921
I would like to have schemaSpec available as a direct child of front, body and back, but it's hardly a major inconvenience to have to put it in a div. I agree that there's little to gain from breaking backwards compatibility on such a huge scale just for a sense of tidiness.

[2021-05-20 18:44] lb42 commented on #1921
That which is permitted within div (e.g. p) is also permitted with a front, body, or back devoid of divs. No need to require  a div.

[2021-05-20 18:49] ebeshero commented on #1921
I believe you misunderstood me, @bansp . I did not mean that it would be easier for Council, as it would certainly not be easier to break that much backwards compatibility. It would be easier in the sense of being a simpler model for schemaSpec from the start of things (if it had been designed that way from the beginning). We don't really have the "luxury" that you describe, no.

[2021-05-20 18:49] lb42 commented on #1921
"Prose documentation is clearly a sort of born-digital text, but the schema definition is something distinct." Err, no.  Please re-read any foundational text in literate programming.

[2021-05-20 18:50] martindholmes commented on #1921
@lb42 You're right, I just tried it. But I'm sure this wasn't always the case; I can remember having to use a div to put my schemaSpec into the back element many times.

[2021-05-20 18:55] martindholmes commented on #1921
@lb42 Literate programming is a collection of good ideas which strongly influenced the way ODD was conceived, but those ideas aren't laws of nature, and the Guidelines themselves (along with most documentation people create from ODD files) has clear segmentation between the specs and the prose.

[2021-05-21 01:23] sydb commented on #1921
@martindholmes : What version of P5 are you using? The change to permit `<schemaSpec>` as a direct child of `<front>` and `<back>` was merged just over 12 hours ago. (2021-05-20T12:36Z, I think.) I think you will find it was not valid before that. I have only tested releases [1.0.0](https://www.tei-c.org/Vault/P5/1.0.0/xml/tei/custom/schema/relaxng/tei_all.rnc), [2.0.0](https://www.tei-c.org/Vault

[2021-05-21 01:36] sydb commented on #1921
@bansp, I am not quite sure what you are talking about. I was merely musing that `<schemaSpec>` makes more _sense_ in model.resourceLike. I was explicit that I do not actually think we should _do_ that, precisely because it is backwards incompatible in a way that is 100% likely to cause users problems. (Whereas that our schemas allow `<schemaSpec>` in, say, `<handNote>` seems to me to be just a co

[2021-05-21 01:45] sydb commented on #1921
@lb42: Well, yes, ODD is based on literate programming, and yes the “whole point of "ODD" is that the definition of a schema and of its documentation form a single unit”. But that does not mean putting `<schemaSpec>` into only model.resourceLike is daft. (That said, the fact that it violates backwards compatibility so severely may render it daft.) The prose description of, and instructions for usi

[2021-05-21 06:34] martinascholger commented on #2152
Thanks @jamescummings for opening the issue. I also confirm that `@maxOccurs` should be `unbounded`. Thumbs up for implementing this?

[2021-05-21 13:34] martindholmes commented on #1921
@sydb That explains it. Bleeding-edge plugin.:)

[2021-05-22 01:41] stuartyeates opened #2153 "Example used in teidata.pointer no longer works"
There's a note at the bottom of https://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-teidata.pointer.html which includes an example URI http://xn--4gbrim.xn----ymcbaaajlc6dj7bxne2c.xn--wgbh1c/ This URI no longer does anything useful and should be replaced with one that does.

[2021-05-22 17:13] martindholmes commented on #2153
It was originally pointing to what is now this, I think:

https://www.mcit.gov.eg/ar

so we'll need another example of this sort of IRI.

[2021-05-22 17:16] martindholmes commented on #2153
Or we could just point to this explanation:

https://www.w3.org/International/articles/idn-and-iri/

which itself has only one example, which is a currently unregistered domain. Perhaps IRIs are not actually catching on.

[2021-05-22 20:11] stuartyeates commented on #2153
That seems like a solution.

Given that the two most populous nations are pushing IRIs to their populations, this doesn't seem like a complexity that is going to go away.

[2021-05-22 20:59] joeytakeda opened #2154 "Create an interleave element"
Currently `@preserveOrder` on `<sequence>` is an optional attribute and the spec states: "if true, indicates that the order in which component elements of a sequence appear in a document must correspond to the order in which they are given in the content model."  However, the default behaviour for `<sequence>` is that order is preserved unless `@preserveOrder` is false, but the current description

[2021-05-22 21:30] martindholmes commented on #2153
In that case, we need a Chinese speaker to find us one that's likely to be persistent over the long term.

[2021-06-08 02:10] sydb commented on #2147
Not needed anymore, as #2149 solves the problem without any changes to the tei_customization generation routine (Utilities/TEI-to-tei_customization.xslt).

[2021-06-08 02:10] #2147 closed, assigned to sydb

[2021-06-09 18:58] JanelleJenstad opened #2155 "Standardize on em dashes"
We have been inconsistent in our use of em dashes and double hyphens. @martindholmes and I noted that "There are 89 instances of double-hyphens in the TEI source files, some of which look like they would have to be retained (because they're part of some formal system such as a keyword taxonomy, or they're exemplifying how to create a comment), but most of which could be changed to em dashes. There

[2021-06-09 19:01] sydb commented on #2155
Not sure I see a need to be using a separate branch, here (except for practice).

[2021-06-09 20:04] JanelleJenstad commented on #2155
I'm making a branch only because I need the practice.

[2021-06-10 22:24] sydb commented on #2117
This was done back in March; apparently, we forgot to close this ticket.

[2021-06-10 22:24] #2117 closed, assigned to sydb

[2021-06-11 02:31] sydb commented on #1869
See #2156.

[2021-06-12 14:19] #567 closed

[2021-06-12 14:40] sydb commented on #2063
The answer to my above question, BTW, is in [Nick’s TEI Utilities repo](https://github.com/npcole/teiutils). See the README.md there for how to install & use.

[2021-06-12 14:40] #2063 closed, assigned to npcole

[2021-06-18 16:01] martindholmes commented on #2154
@sydb and I believe that:

 - The word sequence MEANS ordered, so we should dispense with `@preserveOrder` completely;
 - Instead, we should introduce a new `<bag>` element which would do the same job: in other words, specify that all child items must be present in the number(s) assigned through their `@minOccurs` and `@maxOccurs` attributes, but the order of them is not significant.

 Advantages:

[2021-06-18 22:35] sydb commented on #2154
Note that we chose the name `<bag>` based on the definitions used in the 2nd paragraph of [18.7 Collections as Complex Feature Values](https://www.tei-c.org/release/doc/tei-p5-doc/en/html/FS.html#FSSS). (Yes, value collections are quite different from content models, but the underlying idea that a bag is an unordered collection with duplicates seems to match what we are doing, here.)

Thus:
[code]

[2021-06-18 22:49] ebeshero commented on #2154
Hmmm. My Relax NG antennae are a little skittish here. Can’t `<alternate>` handle this successfully if we just get rid of `@preserveOrder`? I’m wondering if a new element is really necessary.  @sydb @martindholmes

[2021-06-18 22:57] martindholmes commented on #2154
@ebeshero `<alternate>` has a really confusing name, because it's both a noun and a verb; the noun better describes its function (either/or). I would love to replace `<alternate>` with `<choice>`, or `<either>`.

[2021-06-18 23:19] sydb commented on #2154
Right. Which is to say that `<alternate>` means “only one of my children” and `<bag>` means “one of each of my children”. So a `<bag>` with only one child would mean exactly the same as an `<alternate>` with the same child. (But at least in the case of `<alternate>` that would be invalid: it must have 2 or more children.)

So the semantics are different enough that a fully fledged schema language

[2021-06-19 08:22] ebeshero commented on #2154
Thanks for explaining the distinction! I was thinking of `<bag>` as allowing zero or more of a set of child elements in any order, and imagining that could be done with `<alternate>`.

 I like the flexibility and constraint of this `<bag>` idea, if the default is as you say one of each of these. I think an ODD customization might also want to revise and make some of the members of the bag optional

[2021-06-20 11:32] lb42 commented on #2154
I am cautiously positive about the proposal to introduce `<bag>` and remove @preserveOrder. A wrinkle that needs to be resolved however is whether or not the bagginess goes all the way down, i.e. is
[code]
satisfied by both of the following, or by only the first?
[code]

[2021-06-20 14:17] martindholmes commented on #2154
@lb42 I would say both are OK. My convoluted logic is that if you specify minOccurs = "0" on something, then you can have the absence of that element anywhere in the container. :-) So if you have two of something, either can be anywhere. @sydb, @joeytakeda?

[2021-06-20 14:22] lb42 commented on #2154
You're missing my (somewhat elliptically made) point. If you can have two of something anywhere, does that mean the two have to be adjacent or not?  I'm just asking for precision as to which is intended.

[2021-06-20 14:25] lb42 commented on #2154
Arguing from the case where absence is permissible anywhere doesn't really persuade me. Absence is not the same as presence: for one thing, two absences are not distinguishable from one!
However, looking up the definitions of bags and sets at https://cs.appstate.edu/~dap/classes/1100/sect2_2.html I learn that "Two bags A and B are equal if the number of occurrences of each element in A is the same

[2021-06-21 12:21] Martin-de-la-Iglesia opened #2158 "Note on @source does not reflect its global availability"
Current wording at <https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.global.source.html>:
"On other elements it provides a pointer to the bibliographical source from which a quotation or citation is drawn."

Suggested new wording by @hcayless (<https://listserv.brown.edu/cgi-bin/wa?A2=TEI-L;f577ba6a.2106>):
"On other elements it provides a pointer to the bibliographical source from which t

[2021-06-22 01:39] sydb commented on #2154
Thank you for that research, @lb42. We don’t _have_ to accept that definition, of course. We could decide that a new “one of each” element that has a child with  `@maxOccurs` > 1 requires they (the elements that satisfy those occurrences) be adjacent. But we shouldn’t call it (the new “one of each” element) a `<bag>`, then.

However, the obvious representation of our new toy in RELAX NG is `<inter

[2021-06-22 11:40] lb42 commented on #2154
This reminds me that another possible name for this new element might be `<interleave>` of course. Which is what was originally proposed back in 2015 or thereabouts. (a search through the Council list archives for the word "interleave" is quite instructive)

[2021-07-01 12:37] martinascholger commented on #2142
I agree with both of you. I also prefer consistency and I think the class descriptions should be plural.

[2021-07-02 15:36] RobertoRDT commented on #1860
Dear all, any new developments on this? Has anyone tested the new customisation? Would you suggest that the RDFa attributes are a good solution? I would like to do some experimental work with ontologies and RDF-like triples, hope that the "clear guidance" mentioned by Christian arrives at some point in time.

Thank you for your work,

R

[2021-07-02 20:25] djbpitt opened #2159 "Tagging error in guidelines"
There's a header inside https://tei-c.org/guidelines/customization/getting-started-with-p5-odds/ that reads:

The basic structure of a &lt;gi>schemaSpec>

This looks as if it may be a markup error, that is, as if the start-tag intended to tag a GI is being rendered literally instead.

[2021-07-02 20:55] gabikeane opened #2160 "Broken link in 'Getting Started with P5 ODDs'"
At the end of the Introduction paragraph, the link to "the TEI web site" 404s.

[URL of page with error](https://tei-c.org/guidelines/customization/getting-started-with-p5-odds/)

[URL that 404s](https://tei-c.org/guidelines/customization/getting-started-with-p5-odds/index.xml)

[2021-07-02 21:50] ebeshero commented on #2160
Hi @gabikeane ! Looks like the link needs to point up to the parent directory at https://tei-c.org/guidelines/customization/

I know there are some link pointing issues from the TEI website, and not sure where we are with resolving them. Thanks for the heads up!

[2021-07-02 22:12] ebeshero commented on #2159
Thanks, @djbpitt ! By the way, this is on the TEI Website rather than within the Guidelines themselves (despite the link URL, I know). Because it's being served up on the TEI Wordpress site it may take a moment for us to correct...

[2021-07-02 23:33] ebeshero commented on #2160
Okay! I think I've repaired it. Take a look again at https://tei-c.org/guidelines/customization/getting-started-with-p5-odds/
Cheers!

[2021-07-02 23:33] #2160 closed, assigned to ebeshero

[2021-07-02 23:33] ebeshero commented on #2159
Okay, I dredged up my TEI Wordpress login and I believe I've repaired it. Take a look again at https://tei-c.org/guidelines/customization/getting-started-with-p5-odds/

[2021-07-02 23:33] #2159 closed, assigned to ebeshero

[2021-07-02 23:51] ebeshero commented on #1564
@sydb Following up on this with a nudge: Have you had a chance to discuss this (see immediately previous comment) with the WWP?

[2021-07-02 23:55] ebeshero commented on #1713
Presumably addressing this issue with adding `<exemplum>` to att.combinable would resolve #1703 , correct?

[2021-07-03 00:10] ebeshero commented on #1715
@raffazizzi I've just taken a long moment to review the latest descriptions you've provided here. I think the language is a lot clearer on the differences between add and replace and replace and change (which is what I was looking for in reviewing this). I think it's good.

[2021-07-03 00:25] ebeshero commented on #1910
I'm reviewing this ticket and recalling that we did *not* ultimately implement the proposal for att.locatable. We need another mechanism for implementing this, or another attribute name, perhaps. @martinascholger @sydb @hcayless can you help me review, ahem, where we are with `@where` on `<conversion>` ?

[2021-07-03 14:17] ebeshero commented on #1910
To summarize:
* We did not implement an `att.locatable` class last year (but maybe we need to revisit this now).
* `@where` has two distinct yet related definitions for `<event>` and `<move>`. They are related because both include teidata.pointer, but there are key differences.
    * On `<event>`, we have `@where` defined as "indicates the location of an event by pointing to a `<place>` element",

[2021-07-03 14:34] ebeshero commented on #1910
Okay. in reviewing #1769 , my attempt to implement `att.locatable` in 2020 was an effort to make a class that would work for both `<move>` and `<event>`. We stopped work on that because we determined on a solution that would keep these elements distinct. That was @hcayless 's introduction of `teidata.authority` especially to resolve the distinct requirements of `move/@where` because this `@where`

[2021-07-03 14:39] ebeshero commented on #1910
@martinascholger I don't think this would take very long to implement, but we do need to review and discuss it. I don't think we have time before the August release? So maybe this goes on the next release milestone...

[2021-07-03 14:50] ebeshero commented on #1910
@martinascholger Can we put this ticket on the agenda for the July 2021 Council meeting? I think we can move forward on addressing it.

[2021-07-03 15:05] ebeshero commented on #1877
@martinascholger Here's a ticket that has been sidetracked but I believe is ready for experimental implementation: Council worked out a good name and description for a new element, and we need to figure out where to put it. I'm going to see if I can put in a PR for the new element and place in the Guidelines so we can take a look at it this month.

[2021-07-05 07:23] 747 commented on #2132
To move the discussion forward, below is my tentative spec design based on the comments so far:

- attributes added to `<localProp>`, `<unicodeProp>`, `<unihanProp>`, `<binaryObject>` and `<graphic>`
  - `maxVer`: maximum Unicode standard version applied (included, for non-stable properties); cannot coexist with `version`
  - `minVer`: minimum Unicode standard version applied (included, for non-st

[2021-07-05 09:47] chiarcos commented on #1860
AFAIK, the status so far is that there were two concrete applications of
TEI+RDFa that motivated the customization. Data under
https://github.com/pruizf/disco (includes TEI+RDFa raw data) and
http://www.deaf-page.de/guichaulmTel/edition.html (HTML with RDFa from
TEI+RDFa preserved, read off RDF with
https://www.w3.org/2012/pyRdfa/extract?uri=http%3A%2F%2Fwww.deaf-page.de%2FguichaulmTel%2Fedition.h

[2021-07-06 03:12] ebeshero commented on #1988
I think I've fixed this in a branch. Because this is modifying a Schematron constraint to make it more permissive, we basically want to test to make sure `<ab>` is permitted within `<figure>`, `<note>`, and `<floatingText>` when these are in `<l>`. Here's a file I used to test on with p5odds.rng:

[code]

Testing in my branch after building P5 (with Jenkins via Docker) works. With TEI-All, every u

[2021-07-07 02:33] ebeshero commented on #1877
I'll try a PR setting the new element `<ellipsis>` in [3.5.3](https://tei-c.org/release/doc/tei-p5-doc/en/html/CO.html#COEDADD) as part of model.global.edit. Let's see how this goes...

[2021-07-07 12:54] ebeshero commented on #1877
I'm working on an exemplum for this...I'm adapting the example that Martin provides on this ticket, but @wujastyk and @martindholmes, do either of you have a ready example from a source text that we can point to in the Guidelines Bibliography?

[2021-07-07 12:57] martindholmes commented on #1877
@ebeshero The original discussion started fron a genuine example:

https://listserv.brown.edu/cgi-bin/wa?A2=ind1904&L=TEI-L&P=62275

There's a page-image too.

[2021-07-07 13:01] ebeshero commented on #1877
Thanks, @martindholmes ! I was just thinking of refrains in song lyrics...

[2021-07-08 18:09] JanelleJenstad commented on #1877
FWIW, WWP is already using an <elision> element. https://wwp.northeastern.edu/wwo/source/schema/wwp-store.html#elision.

[2021-07-08 19:18] djbpitt opened #2162 "TEI Lite ODD on TEI site does not validate in <oXygen/>"
If I download tei_lite.odd from https://tei-c.org/guidelines/customization/ and open it in \<oXygen/>, the following snippet:

[code]

raises the following Schematron error:

[code]

[2021-07-08 19:42] lb42 commented on #2162
This appears to be the work of Martin Holmes!
[code]
Presumably he meant to write
[code]
Though I thought it had been agreed that TEI Lite should be retained as an archaelogical curiosity, and not modified.

[2021-07-08 19:47] martindholmes commented on #2162
@lb42 @djbpitt I can't remember the context for that change, but you're right that it should have been as you suggest. I'll fix it now, since it's a corrigible error.

[2021-07-08 19:55] martindholmes commented on #2162
Actually, now I check with git blame, those lines seem to have been changed by @sydb in 2019, but that may just have been a whitespace thing. Anyroadup, I've fixed it in commit 9385a2586.

On the issue of an ODD file never being modified, that's not always going to be practical; changes to P5 will result in possibly unwanted changes to the effect of a downstream ODD,

[2021-07-08 19:55] #2162 closed, assigned to nobody

[2021-07-08 19:57] lb42 commented on #2162
... which is why we have and recommend a @source attribute

[2021-07-08 20:23] martindholmes commented on #2162
I don't remember any decision to freeze the TEI Lite schema, and there isn't an `@source` on the schemaSpec, so as far as I know it's still supposed to be current. It's also part of the Oxygen plugin as an option for creating new TEI files. I think if there were a serious intention to archive and mothball it, then it should have `@source` and should be removed from the plugin (and possibly even th

[2021-07-08 20:47] martindholmes commented on #2116
@hcayless I think we completed this immediately after doing the release, didn't we? Is there anything left to do? Or am I looking at old instructions that should be updated?

[2021-07-08 21:02] lb42 commented on #2162
Well, I might be mistaken, but I think this was one of the decisions
taken around the time council was arguing what to call the schema now
known as tei simple print. But that was in another country, and besides
the wench is dead.

On 08/07/2021 21:24, Martin Holmes wrote:

[2021-07-15 17:23] wujastyk commented on #1877
Glad to see this coming to life. If you would still like me to find an example, @ebeshero,  I'll do so.  Or perhaps the e.g. pointed to by @martindholmes will do.

[2021-07-15 17:50] ebeshero commented on #1877
@wujastyk I would love for you to contribute an example! Just a note about timing: I'm hoping we'll get this into the next release of the Guidelines (if my colleagues on Council agree), and that's coming up in mid-August...so, if you could contribute something in the next two or three weeks, that would be timely!

[2021-07-15 19:03] #2152 closed, assigned to jamescummings

[2021-07-16 00:41] wujastyk commented on #1877
will do.

[2021-07-19 13:51] #2145 closed, assigned to peterstadler

[2021-07-22 09:14] Martin-de-la-Iglesia commented on #2148
If `surface` is only about digital images and not physical objects, why do the Guidelines say that its coordinates can be in millimeters? It makes no sense to me to express coordinates on a digital image in millimeters. Perhaps the Guidelines prose needs to be made clearer there. Then again, it would be highly desirable to use the TEI to define zones on physical objects using metrical units. I don

[2021-07-23 15:31] sarcanon opened #2164 "am should allow lb"
It is accepted practice to use `<am>` to mark-up Latin abbreviations such as DDDNNN or AVGGG, e.g.

[code]

Sometimes these abbreviations occur with intervening line breaks, e.g.,

[code]
or

[code]
However, for some reason, `<am>` does not support spanning line breaks. I propose that this be changed.

Thank you.

[2021-07-23 15:39] sydb commented on #2164
Indeed, the content model for `<am>` is pretty simplistic:
[code]
The fact that it does not include model.global immediately makes me wonder if this was just an oversight, or did the designers of `<am>` think there was a reason to discourage or avoid having `<lb>`, `<note>`, or `<gap>` _inside_ an abbreviation marker?

[2021-07-23 18:02] jamescummings commented on #2164
Personally I would never mark up the examples you have above as you have done so -- the idea of embedding an `<abbr>` inside an `<expan>` is anathema to me. The Guidelines do not imagine or ever exemplify this usage, stating that " content of the abbr element should usually include the whole of the abbreviated word, while the expan element should include the whole of its expansion". Alas, I unders

[2021-07-23 20:29] lb42 commented on #2164
👍

[2021-07-25 02:18] ebeshero commented on #1877
I think I've got it worked out now. @HelenaSabel sent me an interesting example that helped make the model of our new element a little more flexible than at first. I've got it passing tests now, so I'll ask Council to take a look at it with a PR. Thanks Helena, @wujastyk , and @martindholmes !

[2021-07-25 16:58] Papofobico opened #2166 "Problem to download DTD"
I tried to download tei_all.dtd but when I open this link https://tei-c.org/Vault/P4/Lite/DTD/ i've found nothing, can you help me

[2021-07-25 18:09] martindholmes commented on #2166
It seems you're looking for a P4 DTD, rather than the current P5. Is that right? If you want the current P5 tei_all.dtd, it's here:

https://tei-c.org/Vault/P5/current/xml/tei/custom/schema/dtd/tei_all.dtd

If you want P4, then it's a modular system, and all the files are here:

https://tei-c.org/Vault/P4/xml/schema/dtd/

[2021-07-27 14:41] jamescummings opened #2167 "The .htaccess should have Options +Indexes inside Vault"
I happened to go to https://tei-c.org/Vault/MembersMeetings/ the other day and realised that one can't see the index of this directory. Navigation in and around the Vault would be better if we could see directory indexes. (Especially since files there aren't always linked.) This would enable users to navigate (and google find) files related to members meetings without relying on the external membe

[2021-07-29 20:26] ebeshero commented on #1877
@martinascholger @HelenaSabel Would you review the pull request associated with this feature request and make sure it looks okay / merge it in for the next release?

[2021-07-30 02:30] ebeshero commented on #1910
@tillgrallert I think I've found a good way to set `@where` on `<conversion>`, and would very much like to feature the very clear example you provided in this ticket (which I'll just copy here). Can you provide source information for this example that we can include in the Guidelines' Bibliography?

[code]

[2021-07-30 14:49] sydb commented on #2166
@Papofobico — find what you were looking for?

[2021-07-30 15:38] sydb commented on #1560
This [file](https://github.com/TEIC/TEI/files/6908573/TEI_P5_Utlities_lib.txt) lists all the occurrences of each thing in the Utilities/lib/ directory in the entire repo, minus .git files and occurrences in HTML files.

[2021-07-31 10:24] Papofobico commented on #2166
Yes, thank you so much

[2021-07-31 16:18] martindholmes commented on #2166
Closing, since this seems resolved.

[2021-07-31 16:18] #2166 closed, assigned to nobody

[2021-07-31 18:26] jamescummings commented on #1851
In order to progress this, should we solicit examples of objects needing an `<objectContents>` and nested `<objectItems>` from TEI-L?

[2021-08-02 13:38] tillgrallert commented on #1910
Dear @ebeshero, thank you so much for seeing this issue through. Which form should the needes source information take? Information on the research project, the corpus of sources involved or something else?

[2021-08-03 12:03] ebeshero commented on #1910
@tillgrallert I am hoping to add a bibliographic citation in the Guidelines to the source of this code you provided. Am I correct in thinking that this is your research expressed in the code? If so, you are the author, and the code is your research project. It is such a good example of what we want to do with `<unitDef>` and `<conversion>` so I really would like to cite you here! Thank you!

[2021-08-04 10:17] tillgrallert commented on #1910
@ebeshero thank you very much. I just published archival releases of the data set and tools (including XSLT) for this research project on Github and Zenodo.

1. Grallert, Till. ‘Data on Food Riots and Food Prices in the Eastern Mediterranean (Bilād al-Shām) in the 19th and 20th Centuries’. Zenodo, 4 August 2021. https://doi.org/10.5281/zenodo.5159018.
2. ———. Tools for the Computational Normalisat

[2021-08-04 17:54] sydb commented on #2142
I re-thought this earlier today, without reading my previous comments, and was pleased to find that I pretty much agree with my former self: I _mildly_ prefer plural, but don’t really care much, so long as they are consistent.

[2021-08-06 00:54] JanelleJenstad commented on #2142
I prefer this wording over the two options on which we are currently voting: "The class provides one or more attributes..." That wording is consistent and true in every case.

[2021-08-06 02:12] sydb commented on #2142
At first blush, that is an awfully good idea, @JanelleJenstad. Two (perhaps minor) concerns jump to mind:

1. Is it a bit silly to say “one or more” when we know darn well in any given case whether it is “one” or “more”?
2. But what if a class no longer provides any attributes (ostensibly because the customizer has removed them all)?

I think I can handle concern (2) pretty easily. If the customiz

[2021-08-06 02:50] ebeshero commented on #2142
Hi all! Having just written up `att.locatable` , a class with just one attribute (for the moment), awaiting review and merge in a pull request near you, I find I prefer the plural for conveying potentiality. This attribute class, however many (or few or no) attribute(s) it has now, can perhaps one day contain more. There’s something hopeful about that.

[2021-08-06 04:05] JanelleJenstad commented on #2142
I like @ebeshero's optimism. The potentiality of the plural is indeed full of hope. (I don't object to plurals, even though I like my suggestion, so perhaps the strong consensus on plurals means we should go with them.)

[2021-08-06 15:16] martindholmes commented on #1560
I think this is just a generic problem for the whole repo. Does it make sense to address it folder by folder, or should we just start a general purge of obsolete stuff?

[2021-08-06 16:27] martindholmes commented on #2142
I agree. Customizers may add new attributes to a class containing only one, or remove attributes so that a class ends up containing only one, so "one or more' is the most robust formulation.

[2021-08-06 17:01] martindholmes opened #2169 "TitlePageVerso should include a link to the P5 Vault"
The home page of the Guidelines has a link to "https://tei-c.org/release/doc/tei-p5-doc/en/html/TitlePageVerso.html" titled "Releases of the TEI Guidelines". This page only lists P1 through P5 with their dates, with no useful links whatsoever. It should include a link to the page of previous versions of P5, which is damnably hard to find when you're actively looking for it, because it's not adequa

[2021-08-06 23:18] JanelleJenstad commented on #1851
Yes we should.

[2021-08-07 03:17] ebeshero commented on #1910
Thanks @tillgrallert ! I've added the bibliography citation pointing to your work for this example.

[2021-08-09 13:32] sydb commented on #1675
I am perhaps 80% done with a first crack at a _Checking Pointers using your TEI ODD Customization_ document. Questions:

1. Are we going to assign it an official document number? (It would probably get TCWxx for now, then become TCUzz as a published document. W is for a working draft, U is for user documentation.)
2. Where do we want to store it while we work on it? My instinct is to put it into t

[2021-08-09 14:25] MegJBrown commented on #2109
In discussion with @hcayless @martinascholger and @martindholmes, added sentence noting that although ruby is included in the TEI for use with East Asian languages, users may find the encoding useful in a variety of contexts.

[2021-08-09 14:25] #2109 closed, assigned to MegJBrown

[2021-08-09 14:35] martindholmes commented on #2108
Since the CSS text-emphasis spec is now pretty solid, and allows you to specify the character used, @MegJBrown, @martinascholger, @hcayless and I think that the next stage would be to encode two good examples using CSS text-emphasis, and run them by everyone before incorporating them into the Guidelines.

[2021-08-09 15:15] martindholmes commented on #2107
@MegJBrown, @martinascholger, @hcayless and I say this should simply go ahead, and the example should be added at the end of section 3.4.2 (currently) before the final paragraph of that section. Then another ticket should be raised on the issue of whether `<ruby>` and/or `<rb>` should be members of att.transcriptional or att.written (to allow `@hand`).

[2021-08-09 15:36] martindholmes commented on #2110
@MegJBrown, @martinascholger, @hcayless and I have some questions on this:

1. With nested rubys, the structure appears to us to suggest that the second rt is glossing both the rb and the rt before it. Is this true?
2. With non-nested rubys, would it be correct to say that the rts might be columnar? In other words, might there be a "right-right" rt which lines up with other right-rights before it,

[2021-08-09 16:07] martinascholger commented on #2116
I'm closing this issue. @martindholmes wrote an email to the Council's mailing list on 2021-04-19 that the documentation is updated. Thanks @hcayless and @martindholmes !

[2021-08-09 16:07] #2116 closed, assigned to hcayless, martindholmes

[2021-08-09 18:28] knagasaki commented on #2110
@martindholmes I'm sorry that the doubled `<rt>` in the non-nexted examples above would be my mistake. I revised both examples.

[2021-08-09 19:10] kzhr commented on #2110
IMHO, 1 should be yes; encoders should understand what these rt are added to, and should refrain using nested approach if they are not confident with their understanding of the structure.

For 2, I haven't seen such a example, but it's not impossible how long unlikely it to be exist.

For 3, are you talking about that bopomofo example? In my view, these rts independently annotate readings of a cor

[2021-08-10 10:04] martinascholger commented on #2142
Really good idea @JanelleJenstad, I didn't think of it when setting up the poll. I've now looked at the model classes and we use plurals there, even for classes with only one element (see [https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-model.applicationLike.html](https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-model.applicationLike.html)). One option would be to also change the descript

[2021-08-11 15:08] martindholmes commented on #2107
@knagasaki @MegJBrown @martinascholger @hcayless Could you take a look at the new example at the end of 3.4.2, below this egXML:
https://jenkins.tei-c.org/job/TEIP5-dev/lastSuccessfulBuild/artifact/P5/release/doc/tei-p5-doc/en/html/CO.html#index-egXML-d52e31842

If it looks good to you, we can close this ticket.

[2021-08-11 15:50] knagasaki commented on #2107
@martindholmes It looks nice to me. Thank you so much!

[2021-08-11 15:56] martinascholger commented on #2107
Thanks @martindholmes, looks good! Should there be a reference to the schema spec of `att.written` (as with att.placement)? At the beginning of the chapter, directly after att.placement.

[2021-08-11 15:58] martindholmes commented on #2107
@martinascholger You're absolutely right; I'll try to work that in.

[2021-08-11 16:02] martindholmes commented on #2107
Done in commit #a16f45067. When the next build round is finished we can look again.

[2021-08-11 23:59] martindholmes commented on #2107
I've just moved the captions below the graphics too; I think they look better like that.

[2021-08-12 08:20] jamescummings commented on #2142
Just as I believe in a singular 'they', I also believe in a non-specific plural of potentiality. I've nothing against 'one or more' but saying a class 'provides attributes' in my mind doesn't actually specify whether there are zero, one, or more attributes. It is non-specific in that it just says the class 'provides attributes' which I take also to mean 'potentially provides attributes' without th

[2021-08-12 15:39] martinascholger commented on #2107
Thanks @martindholmes!

[2021-08-12 15:39] #2107 closed, assigned to martindholmes

[2021-08-12 15:46] martinascholger commented on #2141
@jamescummings is [https://tei-c.org/vault/](https://tei-c.org/vault/) linked from a specific place on the website, or is / was the link circulating and therefore we should make a general redirect.

[2021-08-12 18:20] peterstadler commented on #2141
@TEIC/tei-infrastructure-group does anyone know how those redirects are handled currently? via Wordpress plugin or via the Webserver?

[2021-08-12 19:01] hcayless commented on #2141
It's the webserver. I'll take a look at it.

Hugh

On Thu, Aug 12, 2021 at 2:20 PM Peter Stadler ***@***.***>
wrote:

[2021-08-12 19:27] HelenaSabel commented on #1675
I think it should get a number, and the GitHub repo seems a convenient place to work on it.
I am available to read draft versions of the document before the release.

[2021-08-13 15:20] martindholmes commented on #1933
@hcayless in Slack summarizes his view of the situation thus:

I think this is exactly right. We want something parallel to the `@docLang` attribute on `<schemaSpec>`, but instead of specifying the language to use for the documentation being created, it would specify the documentation language(s) for which the exemplum is appropriate/suitable/applicable. `@docLangUsage`?

[2021-08-13 16:09] ebeshero commented on #1933
I just assigned a few more people involved with i8n to this, since it seems like we might be more ready to move forward with it now(?)...

[2021-08-13 19:39] lb42 commented on #2148
Is this a a reference to the following passage in the Glines:

        It may be most convenient to derive a coordinate space from a digital image of the surface in
         question such that each pixel in the image corresponds with a whole number of units
         (typically 1) in the coordinate space. In other cases it may be more convenient to use
         units such as millimetres. Neither pr

[2021-08-14 08:27] nakagawanatuko opened #2170 "detail vs. sub-headings?"
I am translating the TEI document (Chapter 4) into Japanese and got a question on 4.2.1.
In explaining types of headings in newspapers, the text says "for example as ‘main’ headings, or ‘detail’ headings". In the coding example right below the text, however, 'main' and 'sub' headings are used.
I am wondering whether there is a difference between 'detail' and 'sub' headings.
This affects my transla

[2021-08-14 15:15] sydb commented on #2170
# Inappropriate Answer

## Sigh…
_[I posted the lovely response below thinking @nakagawanatuko was asking about how to encode, not how to translate. (I had missed the first sentence.) Sorry. Thanks to @ebeshero for quickly pointing out my mistake.]_

## previous post itself
I think both "detail" and "sub" (short for “subordinate”) are just suggestions for categorization of headings in _any_ kind o

[2021-08-14 17:50] sydb commented on #2170
My instinct is that “main” and “detail” as they appear in the main text (encoded with `<soCalled>`) are descriptive words that should be translated into Japanese, rather than suggested attribute values (which should be encoded with `<val>`) which should be left as pseudo-English.
Whether “detail” should be translated into something closer to “subordinate” is an interesting question.

[2021-08-15 11:07] HelenaSabel opened #2171 "content model of line"
The element `<line>` doesn’t allow `<subst>`  elements. It does allow `<substJoin>` so at the moment it would be possible to semantically link a series of `<del>` and `<add>` elements anyway, but I wonder if the content model of `<line>` shouldn’t include something equivalent to `model.pPart.editorial`.

[2021-08-15 16:46] lb42 commented on #2171
This is up there with "why can't we have global @type"  on the tei faq. The answer is because the workgroup wanted to avoid introducing interpretive tags. Deciding that this is a substitution is a editorial judgment and hence is not appropriate for physical description.

[2021-08-15 20:37] sydb commented on #1675
It is checked in as [TCW32](https://github.com/TEIC/Documentation/blob/master/TCW/tcw32.xml).
(As I am not entirely sure where the other sources for TCWs are, I am not 100% sure there is not already a TCW31. :-)

[2021-08-16 08:46] HelenaSabel commented on #2171
I think I would make a difference between editorial intervention and editorial interpretation. I agree that in a physical description there is little place for editorial interventions, but I am not sure if the same can be said for editorial interpretations. The identification of the different hands, for example, is a highly interpretative endeavor. The editors use physical cues to encode their hyp

[2021-08-16 09:47] lb42 commented on #2171
It's not a question of distinguishing intervention from interpretation, but  of disallowing the encoding of interpretations which might be construed as assuming some particular reading of the physical evidence rather than simply recording that evidence.  The work group, or some of its more vocal members, definitely felt that encodings such as "correction" or "substitution" went beyond simply recor

[2021-08-16 11:18] HelenaSabel commented on #2171
Thank you for providing this perspective, @lb42 . I am also inclined to not revisit old disagreements, so I will close the ticket (although I wonder if a ticket should be open to make sure that the constraints of the use of `<substJoin>` and `<subst>` are consistent because one shouldn’t be allowed when the other isn’t).

[2021-08-16 11:18] #2171 closed, assigned to nobody

[2021-08-16 11:34] lb42 commented on #2171
I quite agree that allowing substJoin but not subst is inconsistent. A corrigible error, imho.

[2021-08-16 11:34] nakagawanatuko commented on #2170
Thank you for your answer. I will translate "main" and "detailed" headings into some words reminiscent of "main" and "sub" in codings. I was wondering whether they might be technical terms for newspapers or TEI or something else.

Thanks again.

[2021-08-16 15:22] Martin-de-la-Iglesia commented on #2148
Yes, that is the passage I (and, I think, also Hugh in the original post) was referring to. To me it does indeed say that coordinates can be expressed in pixels, millimeters or other units. If that's not the intended meaning, the passage needs to be rephrased.

[2021-08-16 15:30] martindholmes commented on #2148
To avoid the interpretation of "expressed in" (which is not what I take from the prose, but still), perhaps we could say "based on" or "derived from", and then add a sentence to the effect that this is an abstract logical matrix which is not expressed in physical units.

[2021-08-16 15:37] Martin-de-la-Iglesia commented on #2148
OK, then I guess I don't get the meaning of the passage at all. What is the intended relation between millimeters and the numbers in the coordinate attributes? How do you derive an abstract logical matrix from physical units such as millimeters (without simply putting the mm values in the coordinate attibutes)?

[2021-08-16 15:44] martindholmes commented on #2148
You would use the same numbers as the mm physical dimensions, but the idea is that you're not making any claim as to the correspondence between the two (unless you explicitly say so in your header, I guess).

If (for example) you have multiple versions of the same image at various resolutions, you can pick a convenient one to form the basis of the surface units, but your offsets can still apply to

[2021-08-16 15:49] Martin-de-la-Iglesia commented on #2148
Then that passage is poorly phrased indeed, but isn't the whole point of this thread that some TEI users actually want their coordinate system to be physical rather than abstract?

[2021-08-16 16:05] martindholmes commented on #2148
As I said before, though, you can establish the correspondence between your matrix and physical units just by adding `@width` and `@height` to the graphic element. You're not prevented from using physical dimensions; you're just not required to map your matrix to physical dimensions if you don't want to (although of course any processor producing usable output from a `<facsimile>` or `<surface>` b

[2021-08-16 16:16] Martin-de-la-Iglesia commented on #2148
What if there is no `<graphic>` element in my TEI document? Why can't I simply add `@width` and `@height` to `<surface>` (or at least `surface/dimensions`, as proposed above)?

[2021-08-16 17:57] martindholmes commented on #2148
I'm only responding to your misunderstanding of the intention of the wording in the current prose. I'm not taking any position on the need for a dimensions element.

[2021-08-16 23:38] MegJBrown commented on #2100
Since no one has objected to the wording, we hereby close this ticket.

[2021-08-16 23:38] #2100 closed, assigned to MegJBrown

[2021-08-17 00:23] MegJBrown commented on #2134
Just submitted pull request #2172 about this

[2021-08-17 23:52] #2134 closed, assigned to sydb, MegJBrown

[2021-08-18 20:06] sydb commented on #1877
I have just tested (see details below), and every use of `<wwp:elision>` can be trivially converted to `<tei:ellipsis>` (with a child `<tei:metamark>`).

## test
Read in entire textbase, extract any element that has a child `<elision>`; take the element, tuck into a `<div>` that gives some contextual information on its `@n`, and:

1. convert `<elision>XXX</elision>` to `<ellipsis><metamark>XXX</me

[2021-08-18 23:41] sydb commented on #1988
Oh dear. Sorry to say I missed all of the conversation back on or about 18 April, about which I would have had a lot to say. Sigh. Very quickly:

- @bansp: on good practice for `@context` — very interesting question, worthy of discussion, but does not belong (IMHO) on a GitHub issue at all, let alone this one. Mind if I move the conversation to TEI-L instead? (Or perhaps a GitHub “conversation” …

[2021-08-20 17:07] sydb commented on #2170
OK. Does that mean we can close this issue?

[2021-08-20 18:22] HelenaSabel opened #2173 "Add warning when using <constraintSpec> inside <classSpec>"
As a temporary solution for [Stylesheets ticket #519](https://github.com/TEIC/Stylesheets/issues/519), a warning should be fired whenever a `<constraintSpec>` is used inside `<classSpec>` without an explicit `@context`.

[2021-08-21 02:54] sydb commented on #2173
Actually, since `<constraintSpec>` is permitted in _lots_ of (mostly ridiculous) places,[1] methinks the warning should be fired whenever a `<constraintSpec>` is used without an explicit `@context` anywhere an intelligent context is not generated by the Stylesheets.

So the first step in resolving this ticket is generating the list of places the Stylesheets _do_ provide an intelligent context. Sch

[2021-08-21 03:29] sydb commented on #2173
##### Contexts in which odds/teiodds.xsl generates a `@context`
- `attDef//`
- `elementSpec//`

##### Contexts in which odds/extract-isosch.xsl generates a `@context`
- `elementSpec//attDef//`
- `elementSpec//`
- `schemaSpec//`, but not one of above (I think this should just be `schemaSpec/`)

Note that it seems like `@validUntil` generates proper `@context` for deprecation when it is on at least

[2021-08-21 04:20] nakagawanatuko commented on #2170
Yes please, thanks!

[2021-08-21 12:17] sydb commented on #2170
😀

[2021-08-21 12:17] #2170 closed, assigned to nobody

[2021-08-21 14:23] martindholmes commented on #2173
It seems to me that allowing constraintSpec anywhere except tagdocs elements makes no sense at all. In the case of elementSpec/attDef, IIRC the context that is generated is often wrong; I'll test that out and report back.

But when you say `elementSpec//`, do you mean any descendant of `elementSpec`? That seems wrong. I would say (in all cases) direct child only.

[2021-08-23 22:14] sydb commented on #2173
Well, yes and no. I did mean “descendant of `<elementSpec>`”, because that is what the Stylesheets say. While I would be **more** than happy to go about restricting where `<constraintSpec>` can go (`elementSpec/listRef/ref/constraintSpec`; really??), that is another ticket.

There is, of course, at least one sensible place inside `<elementSpec>` for `<constraintSpec>` to go other than as direct ch

[2021-08-24 19:59] #1988 closed

[2021-08-24 20:35] #1910 closed

[2021-08-24 21:18] #1877 closed

[2021-08-25 15:44] sydb opened #2175 "use of `<ref>` where `<ptr>` more appropriate"
There are just over a dozen instances in the GLs of `<ref>` for which the value of `@target` is the same as the content of the `<ref>`.[1] These should almost certainly be `<ptr>` instead.

So I ran an XSLT program to look for them, taking white space normalization and the possibility that an ultimate character (like a `/` or a `#`) might be different, but the values would be the same, anyway.[2]

[2021-08-25 16:07] lb42 commented on #2175
The perl fiddling is necessary, I assume, because the filename of the gl chapters cannot be reliably derived from an attribute of its root element, as used to-be the case before the so-called user friendly filenames were introduced. Why not retrofit those names as values of @n on the root element to save doing this sort of hackery in the future?

[2021-08-25 16:29] sydb commented on #2175
Nope. The perl-fiddling is to get rid of the namespaces that XSLT sticks in front of every element. (I _know_ they are in the TEI namespace, those are the only ones I matched; I did not look for examples namespace ones; maybe I should.) It was quite a pain, actually.
The filename is obtained with `base-uri(/)`. If you really only want the filename, rather than the whole path, use something like `b

[2021-08-25 22:30] sydb commented on #2175
Fix applied, seemd to be fine in my local build. Closing this ticket. If Mr. Jenkins objects, will re-open.

[2021-08-25 22:30] #2175 closed, assigned to sydb

[2021-08-26 17:59] martindholmes opened #2177 "Bad example for `<empty/>` element"
Stylesheets group, looking at a ticket on processing `<empty/>`, noted that this example:

https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-empty.html#index-egXML-d53e158213

is a bit strange; the same content model could be much more concisely expressed as simply `<elementRef key="hi" minOccurs="0" maxOccurs="unbounded">`.

[2021-08-26 19:31] lb42 commented on #2177
This example is discussed on another ticket I think. Its not necessarily faulty, in my view.

[2021-08-26 19:54] sydb commented on #2177
I do not think it is _faulty_ either, but I do think it is not the sort of content model one who is writing an ODD by hand would ever use, and thus that it may not be a particularly good practice to exemplify in the tagdoc. That said, there is not much _to_ exemplify, as `<empty>` is only allowed in `<content>`, `<alternate>`, and `<sequence>`.

[2021-08-26 19:54] martindholmes commented on #2177
I did read that discussion, and I see that there are some obscure cases where this might be a reasonable thing to do, but I think as the main example for the use of `<empty/>` it's pretty confusing.

[2021-08-26 19:55] sydb commented on #2177
Where is that other discussion, @martindholmes or @lb42 ?

[2021-08-26 19:56] martindholmes commented on #2177
And @sydb I still don't understand what `<empty/>` would be doing in `<sequence>`.

[2021-08-26 19:56] martindholmes commented on #2177
@sydb https://github.com/TEIC/TEI/issues/1596

[2021-08-26 20:01] sydb commented on #2177
Thank you!

[2021-08-26 20:03] sydb commented on #2177
Same thing, I presume (without thinking about it much) that it would be doing in `<alternate>` — being useless, except as a way to make life easier for automatic generation of PureODD schemas.

[2021-08-26 20:16] martindholmes commented on #2177
So if I do this:
[code]

I get around the constraint that prevents a sequence with only one item. Is that the sort of thing you're thinking of? I just can't actually imagine a scenario where some process would generate an output like this.

[2021-08-26 23:15] sydb commented on #2177
Well, I have not really thought it through, but I was toying with more like a process that reads a FileMaker Pro constraint file (or whatever) and writes out PureODD. It starts _every_ element content model by spitting out `<content><sequence><empty/></sequence></content>` and then filling in element references as needed.

[2021-08-26 23:23] martindholmes commented on #2177
Wouldn't it clean up after itself by removing empty elements from anywhere they're not sensible?

[2021-08-26 23:36] sydb commented on #2177
Even if it did, aren’t you the one who would want intermediate stages to be valid? :-)

[2021-08-30 09:43] martinascholger commented on #2142
In this context, the restrictive pronouns in the descriptions have been changed from "which" to "that", see https://github.com/TEIC/TEI/pull/2176

[2021-08-30 09:43] #2142 closed, assigned to martinascholger

[2021-08-31 09:09] lb42 opened #2178 "minor typo in TD"
The string "(or, in RELAX NG compact syntax, (hi,it,bo)*)" is wrong, as indeed is the immediately preceding string
"(or, in RELAX NG compact syntax, (hi|itIbo)*)."
No @minOccurs or @maxOccurs being supplied for either the `<sequence>` or `<alternate>`  expression which these strings are supposedly equivalent to, they should not contain a star.
Sorry, I only just noticed this fallout from the chang

[2021-08-31 09:30] lb42 opened #2179 "TD section on schematron constraints needs work"
Here are some things thatoccurred to me  when re-reading section TDTAGCONS (22.5.2)

[For dispositions as of 2023-11-10 see #issuecomment-1711937223; short notes appended to each point here.]

1. The first four paras repeat each other. — DONE, per PR #2500.
2. The content model for constraintSpec shows that `<constraint>` is optional within it. What does it mean to have a constraintSpec with no co

[2021-08-31 14:10] sydb commented on #2179
Thanks, @lb42. I think this is mostly spot-on, and at least 2, 3, 4, & 6 should be addressed toot sweet. (I don’t really see much problematic repetitiveness in 1st 4 paras, and think 5 requires some thought or discussion. And as for namespaces, I think it is a bit worse than you describe, as a TEI customizer does _not_ have to declare the TEI namespace. (It is declared in P5 in [the definition of

[2021-08-31 14:15] sydb commented on #2178
Right. Do you think the PureODD should be changed to show `@maxOccurs` (after all, it was introduced well before this), or the RELAX NG snippets should lose the asterisk?

[2021-08-31 14:16] sydb commented on #2178
Nevermind, that is a dumb question. For at least 1 of the 2, there is no `@maxOccurs` because expansion of `"sequence"` does not produce one, so of course the RNC should be changed.

[2021-08-31 14:29] #2178 closed, assigned to sydb

[2021-08-31 15:41] martindholmes commented on #2179
@lb42 @sydb and I have already been talking about the question of Schematron with and without `@context`. Since there are contexts in a `<schemaSpec>` in which  it's not possible for the processing to usefully infer what `@context` should be, I personally think that `@context` should be mandatory, enforced through Schematron itself, but at the very least we should explain clearly in what contexts

[2021-08-31 16:00] sydb commented on #2179
And, BTW, I completely disagree, and think that best practice would be to use `@context` only when necessary. That said, when there are contexts for which we can predict `@context` is necessary, it should be required by the schema (whether RNG or SCH).

[2021-09-03 16:11] martindholmes opened #2180 "`<person>` should be a member of att.typed"
Just like `<org>` and `<place>`, person should be a member of att.typed; this would enable type to be distinguished from role, and also enable us to avoid the tendency to add `@type` and `@subtype` to name or persName elements to get around the absence of it. Although `<listPerson>` can be used to organize people by type, that is ungainly when you have many combinations of `@type` and `@subtype`.

[2021-09-03 16:18] sydb commented on #2140
BTW, the improved version of @ebeshero’s example that I referred to above is [on her site](https://github.com/newtfire/textEncoding-Hub/blob/sydb-tweaks01/Class-Examples/TEI-ODD-Examples/TypeSubtypeGrouping-ODD/contextDependentAttValues.odd).
However, @martindholmes has convinced me that a shorter example might be better. We’re thinking of an example that uses `@type` and `@subtype` (of `"fiction"

[2021-09-03 19:49] martindholmes opened #2181 "Typo in Italian?"
@joeytakeda and I working on staticSearch noticed a possible typo in the Italian desc for the `<age>` element:

assegna un codice numerco che rappresenta l'età o la fascia di età

@raffazizzi Is "numerco" right? (I don't know Italian at all, but it seems like it should be "numerico".)

[2021-09-04 01:12] ebeshero commented on #2140
All I can say is my example is from a real project, and it is easily shortened by cutting a few lists.  I am happy that it works. :-) Why not provide more than one example?

[2021-09-06 16:41] sydb commented on #1735
BTW, some of the conversation above is discussing `( content | valList )*` as if it were `( content* | valList* )`, but it does not matter, the same complaints apply, and it has now been fixed.

[2021-09-06 16:41] #1735 closed

[2021-09-08 13:24] peterstadler commented on #1955
Just an update that a sub group (@luengen , @beisswenger, @lujessica, @sydb, and @peterstadler) is working on this for already some months. Development is based on https://github.com/TEI-CMC-SIG/cmc-core and we now shifted towards a fork of the Guidelines at https://github.com/TEI-CMC-SIG/TEI/tree/cmc-features (branch 'cmc-features').

The HTML version—for facilitating review—is built at the TEI's

[2021-09-09 12:02] knagasaki opened #2182 "both equally valid ways of encoding the same argument?"
During our translation work of the chapter 4, we faced a question in **4.2.3 Arguments, Epigraphs, and Postscripts.**

The division notes "The following are thus both equally valid ways of encoding the same argument". However, it is a little ambiguous for us to regards the following two examples as "equally valid ways". The first example uses `<p>` and the second uses `<list>`. Both are valid as T

[2021-09-09 12:36] hcayless commented on #2182
I think by "valid" here, the writer meant "correct". So you could do it either way and one is not obviously better than the other.

[2021-09-09 13:25] knagasaki commented on #2182
Dear Hugh, thank you for your comment. In that meaning, "equally" would be a little difficult to be interpreted. The word is necessary for the meaning? Otherwise, could a phrase be added like: ", while their structures are different"?

[2021-09-09 15:16] hcayless commented on #2182
I understand "equally" to mean that there's no reason to prefer one method over the other. It's not really adding much to the meaning and it's a curious way to express it since the previous sentence strongly implies lists are better. For your purposes, I think I'd just ignore the "equally" if it makes the sentence harder to translate. You won't be losing anything important.

[2021-09-13 03:36] sydb commented on #2173
OK, I think I now have a working solution. As expected, the Schematron to test this ignoring `<specGrp>` and `<specGrpRef>` is all but trivial; the Schematron to test this taking account of (only local) `<specGrp>` and `<specGrpRef>` is quite complex. (Perhaps someone else can simplify it.)

In any case, this needs testing, and it is not easy to test. While I have created a single ODD file that bo

[2021-09-15 08:34] Martin-de-la-Iglesia opened #2183 "punctuation in title/@level descriptions"
The description for value "a" ("the title applies to an analytic item, such as an article, poem, or other work published as part of a larger item.") ends with a full stop but the others don't.

[2021-09-15 09:41] sydb commented on #2183
Well spotted!
This is part of a much larger problem: looking at only the 1053 attribute descriptions that are in English I find that 656 end with period (and thus 397 don’t).
However, there is already another issue (#2093, assigned to @JanelleJenstad) for this problem writ large, so we do not need to keep this particular one.
See [descs.txt](https://github.com/TEIC/TEI/files/7168898/descs.txt) for

[2021-09-15 09:41] #2183 closed, assigned to sydb

[2021-09-23 17:44] martindholmes opened #2185 "xs:anyURI permits spaces, so we need teidata.anyURI to replace it"
@sydb's work on TCW32 and subsequent testing has revealed a weird anomaly that affects all the TEI attributes that permit multiple space-separated xs:anyURI values: Although [RFC 2396](https://www.ietf.org/rfc/rfc2396.txt) specifies that spaces are excluded from URIs, the W3C XML Schema Part 2 spec [says that](https://www.w3.org/TR/xmlschema-2/#anyURI) they're allowed, although discouraged. That m

[2021-09-23 19:30] sydb commented on #2185
Problem, as @martindholmes says above, is that a processor cannot differentiate between an xs:anyURI that happens to contain a space and two xs:anyURIs separated by a space.

But the solution, it turns out, is probably simpler than creating a new datatype (which I had suggested, so not ragging on Martin, here). Probably just changing the definition of teidata.pointer to
[code]
would do the trick f

[2021-09-24 22:39] sydb commented on #2182
Can this be closed, @knagasaki ?

[2021-09-27 20:34] sydb commented on #2179
Based entirely on my own thoughts setting this to “Go” for (2), (4), and (6); and to “Needs Discussion” for (1) and (5).
I think (3) is also probably “Go”, but am a little less confident.

[2021-09-27 20:45] sydb commented on #2179
Note: bb4fbae was to wrong branch, and has been deleted. (Thanks, @hcayless!) 8858d0d fixes (2).

[2021-09-29 08:39] Martin-de-la-Iglesia opened #2186 "typo "fasicles""
https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-msDesc.html in the Note.
I guess that should be "fascicles"?

[2021-09-29 09:14] #2186 closed, assigned to nobody

[2021-10-01 09:31] peterstadler commented on #2179
8858d0d  broke the build so I was looking into this a little bit. I think the problem lies here: https://github.com/TEIC/TEI/blob/9b39687148ec7b870b56806ac1414ab0654ef747/P5/Test/detest.odd#L457
yet I find this a very valid example for an empty `<constraintSpec>`

[2021-10-01 09:40] peterstadler commented on #2167
Just had a look and I think the directory listing setting is already active, see e.g. https://tei-c.org/Vault/P5/.
Problem with the path mentioned above  ist that there is an index.html: https://tei-c.org/Vault/MembersMeetings/index.html with barely any content. My proposed solution would be to delete this file?!

[2021-10-01 09:50] jamescummings commented on #2167
@peterstadler If indexes is on, then that should work.  (The other option being to add content to the file, a unordered list with items pointing to each of the subdirectories, but then that makes additional work every year... so if deleting it works, then that is better.)

(For the record, I swear when I went there, the index.html file didn't exist and it was just stopping me browsing directories.

[2021-10-01 11:23] peterstadler commented on #2167
renamed the file to index.bak and now there's a nice directory listing. Closing the issue :)

[2021-10-01 11:23] #2167 closed, assigned to peterstadler

[2021-10-01 14:58] sydb commented on #2179
Good point. So `<constraintSpec>` should be empty iff `@mode` is `"delete"`, right? Kinda like `<elementSpec>`; but is it enough like it that we can use the same constraint? Here it is:
[code]

[2021-10-01 19:23] sydb opened #2187 "subset does not contain `<constraintSpec>`s from other places"
I just discovered that p5subset.xml only retains those `<constraintSpec>`s that happen to have been inside an `<elementSpec>`, `<macroSpec>`, `<classSpec>`, `<moduleSpec>`, or `<dataSpec>`. “But that’s all of them.” you say. Well, it was, which is why no one ever noticed this before.

But `<constraintSpec>` is allowed in all sorts of other places, most of which are ridiculous. But certainly inside

[2021-10-01 21:38] ebeshero commented on #2046
Closing, belatedly! :-) @PietroLiuzzo 's and @sydb's now-merged PR resolves this ticket.

[2021-10-01 21:38] #2046 closed, assigned to ebeshero

[2021-10-01 21:43] sydb commented on #2048
Council SVF2F sub-group feels (pretty strongly) that

1. finding a way to select a subset of the stuff pointed at by `@target` or between `@from` and `@to` is a very reasonable request, and
2. that a `@who` attribute that selects them based on who is speaking is way too special-purpose a solution.

Thus we plan to close _this_ ticket “won’t fix” with the caveat that if OP (or anyone else) thinks i

[2021-10-01 21:44] #2048 closed, assigned to raffazizzi

[2021-10-01 21:52] sydb commented on #2064
Council SVF2F sub-group thinks that this is a good idea, but not worth the effort. (It is just too hard to estimate difficulty, such that the labeling will be wrong half the time, anyway. Sigh.)

[2021-10-01 21:52] #2064 closed, assigned to sydb, npcole

[2021-10-01 22:11] ebeshero commented on #2067
@michalkozak What do you think of @sydb 's [ideas](https://github.com/TEIC/TEI/issues/2067#issuecomment-744096508) to re-evaluate the semantics of these attributes? Would this address the problem you posted about?

[2021-10-01 22:16] sydb commented on #2070
Note to @npcole or anyone else trying to tackle this: seems to me the problematic part of file `Stylesheets/profiles/readme/html/to.xsl` is roughly line 66.

[2021-10-01 22:21] hcayless commented on #2071
Suggest replacing this with something like "a value following the syntax described in [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986)."

[2021-10-01 22:41] ebeshero commented on #2076
VF2F subgroup: we think there are some more revisions to work on here. Assigning @sydb to make revisions and @JanelleJenstad to proofread and fix that which he produces.

[2021-10-01 23:02] sydb commented on #2089
So since @wyoichiro1125 has not responded, we (Council SVF2F subgroup) are presuming @gimsieke’s response is sufficient. If it is not, @wyoichiro1125, please bring up the issue on [TEI-L](https://listserv.brown.edu/cgi-bin/wa?A0=TEI-L) or in a [GitHub discussion](https://github.com/TEIC/TEI/discussions).

[2021-10-01 23:02] #2089 closed, assigned to HelenaSabel

[2021-10-02 08:59] martinascholger commented on #2095
VF2F: @npcole can you remind us what the exact concern was?  Perhaps we should add an example illustrating the use of witness with msDesc/bibl/object children instead of just text description or mixed, unstructured content.

[2021-10-02 09:02] martinascholger commented on #2098
VF2F askes @JanelleJenstad to come up with a proposal for a title.

[2021-10-02 14:56] ebeshero opened #2189 "Create a gender element"
Council F2F has decided we should create a minimal tagdoc for a `<gender>` element, and also consider how to introduce an `@gender` attribute.  Consider how to update the language in the Guidelines chapters as well.

[2021-10-02 14:57] ebeshero opened #2190 "Should we revise datatypes related to sex and gender?"
Related to #2189 , we should consider whether to remove `teidata.sex`, or revise it and introduce `teidata.gender`.

[2021-10-02 15:00] ebeshero commented on #2189
@JanelleJenstad notes:

- We should rephrase: https://tei-c.org/release/doc/tei-p5-doc/en/html/ND.html#NDPERSbp :
“Furthermore, while some characteristics will obviously change over time, hair colour for example, none, in principle—not even sex—is immutable.”

- Rethink this claim: “An actor does not change their persona when adopting a different role, but none of the personas associated with one

[2021-10-02 15:29] ebeshero commented on #1933
VF2F proposal for showing examples in multiple languages:

`<exemplumGrp>`, content model `{ exemplum+ }` with Schematron check that one and only one child `<exemplum>` has `@targetLangs` of `"mul"`. Heuristics are that processor chooses one and only one child `<exemplum>` for the output, looking at `@targetLangs` and trying to choose best. If it can’t find a match at all, it chooses the `"mul"`.

[2021-10-02 16:30] ebeshero commented on #1879
Council VF2F discussion:
* `<listNote>` should include `<noteGrp>`.
* Allow `<listNote>` as child of `<front>`, `<body>`, `<back>`, and `<div>`
also more generally available in the teiHeader (as alternative to unstructured `<p>` content)? At least in `<noteStmt>`
* Also, inside `<person>`, `<place>`, `<event>`
* Consider: membership in model.listlike?
* probably it's not a good idea to make `<list

[2021-10-02 16:38] ebeshero commented on #1916
See also https://github.com/TEIC/TEI/issues/1572

[2021-10-02 17:10] ebeshero commented on #1916
Council VF2F: We should proceed by:
* Moving the problematic ODDs to another directory: ODD-Stubs
* Finding out whether oXygen is pulling directly from Exemplars/ or how they are pulling their TEI sample starter files

[2021-10-02 19:14] sydb commented on #2070
@martindholmes (and @npcole) —
Once we fix this (which I believe I am on the verge of doing), how do we test it?

[2021-10-02 21:58] martindholmes commented on #2070
@sydb I think the only test would be to make a local build of P5 and see if the readmes are retrieved or not.

[2021-10-02 22:41] ebeshero commented on #2070
@martindholmes @sydb Just did a local build to see if I could test this...and I'm not sure which file to check for the URLs?

[2021-10-02 23:29] martindholmes commented on #2070
@ebeshero I'm not sure either now. @martinascholger how do you produce the readmes for each of the releases? The ones linked here:

https://tei-c.org/guidelines/p5/

[2021-10-04 10:54] peterstadler commented on #2070
@ebeshero , @martindholmes the issue is just about the warning
[code]
(see https://jenkins.tei-c.org/job/TEIP5-dev/680/consoleText)

This is produced by those lines:
https://github.com/TEIC/Stylesheets/blob/dbb661df3470229d978a523bbedf66ce66de24c9/profiles/readme/html/to.xsl#L72-L84
While the following code https://github.com/TEIC/Stylesheets/blob/dbb661df3470229d978a523bbedf66ce66de24c9/profiles/

[2021-10-04 12:48] michalkozak commented on #2067
Yes, I agree with @sydb.
But out of curiosity, what will be a type for `@assertedValue`?

[2021-10-05 06:47] martinascholger commented on #2070
@martindholmes I only add a TEI file to the ReleaseNotes folder: https://github.com/TEIC/TEI/tree/dev/P5/ReleaseNotes

[2021-10-07 09:38] knagasaki commented on #2182
Yes, thanks.

[2021-10-07 09:45] knagasaki opened #2191 "macro.component -> model.common in 4.2.4?"
In the 4.2.4,
https://tei-c.org/Vault/P5/4.3.0/doc/tei-p5-doc/en/html/DS.html#DSCO

Other than elements from the model.divWrapper, model.divTop, or model.divBottom classes, every textual division (numbered or un-numbered) consists of a sequence of ungrouped macro.component elements (see 1.3 The TEI Class System)

"macro.component" can not be found in 1.3 The Class System.

According to the past ch

[2021-10-07 14:52] sydb commented on #2191
Yes, I think you have diagnosed this problem exactly.
Thank you!

[2021-10-07 14:55] sydb commented on #2191
Fixed in (or is it “at”?) a8229752c.

[2021-10-07 14:55] #2191 closed, assigned to sydb

[2021-10-07 20:36] sydb opened #2192 "phrase-level encoding of macros"
### Impetus and main result
Sparked on by @knagasaki’s catch of a “macro.component” that should have been a “model.common” I decided to check that there were no other references to macro.component in the _Guidelines_. The good news is I did not find any.

### Findings
The bad news is I found we are inconsistent about how we encode the names of macros. In one case it is (IMHO) clearly wrong, too. H

[2021-10-12 15:16] schassan opened #2195 "Align the content model of <additional> with other top-level elements within <msDesc>"
The content model of `<additional>` is much stricter than the ones of the other top-level elements within `<msDesc>`, except `<msIdentifier>` (for obvious reasons).

I would like to ask to relax the content model of `<additional>` and allow `<p>` and `<ab>`.

BTW: We need a more relaxed content model in the scope of the Handschriftenportal.

[2021-10-12 17:07] sydb commented on #2195
Hi Torsten! (I suppose I should say “@schassan” :-)
Can you be more precise about what it is you want to tuck into `<additional>` (that does not fit well into `additional/adminInfo/note` or `additional/surrogates/desc` or whatever)?
I do not, off the top of my head, recall why the content model of `<additional>` is as it is instead of, say `{ ( adminInfo?, surrogates?, listBibl? ) | ( p | ab )+ }`

[2021-10-12 17:16] lb42 commented on #2195
Would you be happier if the content model were changed so that `<additional>` disappeared entirely, and was replaced by `( (adminInfo?, surrogates?, listBibl? )`  ? As far as I recall, it was only invented so as to add a bit more structure to this rather miscellanous collection of metadata.

[2021-10-13 08:41] schassan commented on #2195
I wrote a lengthy answer to @sydb and @jamescummings on the list but want to repeat here that we are in need of a container for fulltext of different kinds. @sydb's suggestion would be easier to implement I think while I kind of like @lb42 s suggestion as well. But that might break existing documents and is thus not the favoured solution I guess?

[2021-10-13 22:09] JanelleJenstad opened #2197 "Add <stage> to att.written"
The @hand attribute (att.written) is intended to "indicate the hand in which the content of an element was written in the source being transcribed." For transcriptions [originally, I wrote "sourceDoc-like transcriptions," which was misleading] members of att.written include att.transcriptional elements such as `add`, `del`, `subst` and so on; for correspondence, structural elements such as `postsc

[2021-10-14 18:33] martinascholger commented on #1800
Council meeting 2021-10-14: green for @raffazizzi to go with proposal 1 (brute force).

[2021-10-14 18:40] martinascholger commented on #1929
Council meeting 2021-10-14: try a PR with `<ab>` in core, and modify prose to remove the phrase, "semantic baggage."

[2021-10-14 19:10] tuurma commented on #2035
As discussed in the Council meeting today, we're happy to wait for a PR on Vanilla (or whatever name) exemplar to perhaps supersede teiSimplePrint, meanwhile closing this ticket.

[2021-10-14 19:10] #2035 closed, assigned to tuurma

[2021-10-15 18:22] #2181 closed, assigned to raffazizzi

[2021-10-19 17:11] MegJBrown opened #2198 "LoC IDNO out of date in Author example"
In the examples for <gi>author</gi>, the URL for the LoC Name Authority File leads to a dead link and should be fixed?

  Erroneous link: http://id.loc.gov/authorites/names/n50012763.html

[2021-10-24 15:51] sydb commented on #1800
Nope. Brute force (1) approach simply will not work for DTDs. Remember that macro.paraContent boils down to `( #PCDATA | g | s |cl | phr | w | m … )*`. Thus approach (1) produces `<!ELEMENT def ( %macro.paraContent; | usg )* >`, which fails because, roughly speaking, the #PCDATA can only exist as the 1st item in the content model (here a paren is 1st). See [the spec](https://www.w3.org/TR/REC-xml/

[2021-10-26 17:52] holfordm commented on #2195
@schassan would it be worth sharing some examples of the material you'd like to be able to include? I just wonder if rather than `p` or `ab` there might be more semantically rich options that might be better for future interoperability

[2021-10-27 12:45] schassan commented on #1851
Jumping in as aftermath of some discussions we had yesterday at the conference and some we had within the project group of the Handschriftenportal, I would add that the type of content needs to be distinguished. I would think that -even beyond the content of a manuscript- at least textual contents, artistical contents (illuminations, decoration, etc), and musical contents could be distinguished. T

[2021-11-02 07:16] nakagawanatuko opened #2203 "Information about Richard Crashaw in the guideline (Ch4)"
I and other members are translating the TEI guideline (Ch4) into Japanese and got a question.
In 4.3.1., you can find the following description "three collections published in Crashaw's lifetime". According to Wikipedia, Crashaw is dead in 1649, while the book entitled "Carmen deo Nostro" published in **1652** is included in the "collections published in Crashaw's lifetime" in the guideline.
Also

[2021-11-02 11:53] lb42 commented on #2203
Thanks for reporting this mistake in the text, which has been lurking unnoticed since it first appeared in  TEI P2 !
I suggest that the text "first published in 1648" should read "as published in 1648", and the sentence beginning "Each of the three collections published in Crashaw's lifetime has a...  " should read "The first three of these collections each has a..."

If you''re curious about how

[2021-11-02 20:09] #2182 closed, assigned to nobody

[2021-11-03 01:52] sydb commented on #2203
Assigning to @sabineseifert, as soon as she is eligible.

[2021-11-03 01:53] sydb commented on #2198
Assigning to @bleekere, as soon as she is eligible.

[2021-11-03 02:03] sydb commented on #2180
Leaving this unassigned for now, with intent to assign to either @bleekere or @sabineseifert in Jan 22.

To just do what this ticket asks (add `<person>` to att.typed) is easy. But there should probably be discussion of

- inherited from parent `<listPerson>` if not present
- if present, overrides or compliments `@type` of parent `<listPerson>`?
- difference between `@type` and `@role`

plus an ex

[2021-11-03 09:26] nakagawanatuko commented on #2203
Thank you! I will fix the translation.

[2021-11-04 14:11] bansp opened #2205 "example (and maybe definition) in ref-equiv not very clear"
I tried to use [ref-equiv](https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-equiv.html) to explain to someone how equiv is supposed to work, and got stuck when trying to explicate the example used there.
Part of what could get improved is the description of it, but I think that an additional smaller example would be useful there, as a primer before the user gets pushed onto deep water trying t

[2021-11-08 08:58] rettinghaus opened #2206 "Left references to Sourceforge"
There are some outdated references to Sourceforge left in the Guidelines files, e.g.
https://github.com/TEIC/TEI/blob/25fb6349bc072924fd6f9c53f44edbf1d1a52e5f/P5/Source/Guidelines/index.xml#L21

I think these should be removed completely and/or replaced by the proper links to the GitHub repo.

[2021-11-08 09:16] sydb commented on #2206
Good catch.

[2021-11-08 13:51] jakub-simek commented on #1803
I had posted a question about the use of `<listRef>` on the TEI mailing list a few weeks ago. Now I've discovered this issue. Here is the link to my question in the mailing list:

https://listserv.brown.edu/cgi-bin/wa?A2=ind2110&L=TEI-L&P=R6280&X=O844CA838D75D476204

One point I tried to make is: The TEI specs make `<listRef>` member of "model.oddDecl" which is used by "model.inter" so that `<list

[2021-11-08 14:08] sydb commented on #1803
No worries. Thanks for reminder. Will try to respond in a few hours on the list.

[2021-11-08 16:26] sydb commented on #1800
Talking this over with @martindholmes we are going to reverse this change for now, and re-visit how to accomplish `<usg>` in `<def>` if & when @chr-emil (or someone else) provides a use case example.

[2021-11-08 17:02] #1921 closed

[2021-11-08 22:25] hcayless opened #2208 "Problems in Guidelines chapter 5: "Characters and Glyphs, …""
I've noticed a couple of problems in https://tei-c.org/release/doc/tei-p5-doc/en/html/WD.html#D25-20

1. The sentence

Can't be correct, can it? Numeric character references are automatically processed at parse time, so won't the parser attempt to resolve them, with presumably hilarious results?

2. 5.2 makes it clear that `<gloss>` is one of the elements allowed within `<char>` and `<glyph>`, but

[2021-11-09 15:36] sydb opened #2209 "description of `<listRef>` mildly misleading"
As @jakub-simek [pointed out](https://listserv.brown.edu/cgi-bin/wa?A2=ind2110&L=TEI-L&P=R6280) in an [ongoing thread](https://listserv.brown.edu/cgi-bin/wa?A2=ind2111&L=TEI-L&P=4705) on TEI-L, the definition of `<listRef>` says “where this element is discussed”, but of course the thing being discussed may be a class, macro, or datatype.

[2021-11-09 15:39] sydb opened #2210 "inconsistencies between `<ptr>` and `<ref>`"
The specification for `<ptr>` has `<remarks>` that are not mirrored in `<ref>` (either they both should have the remarks, or neither should).
The `<sch:report>`s in the two elements are there for identical reasons, but their content is not identical. (It should be.)

[2021-11-09 17:05] hcayless commented on #2208
After a bit of testing, xmllint, at least behaves sensibly with Unicode character references in ISO-8859-1 documents by not attempting to resolve them. But I'm still not sure the example makes sense in this day and age.

Gloss was permitted back in the day, but got lost at some point. Haven't narrowed down when that happened. I also see that `<glyph>` was deprecated at one point. What could we hav

[2021-11-09 17:37] PFSchaffner commented on #2208
The same (i.e. the benign behavior of xmllint) is true when Unicode characters are included in a document declared to be US-ASCII. We routinely edit XML documents which we declare to be US-ASCII (all 56,000 MED files are such, for example), and include Unicode in them either directly with numeric entities, or indirectly with mnemonic entities which we declare (via dtd) to be replaceable by numeric

[2021-11-10 12:15] ebeshero commented on #2209
The discussion on the TEI listserv also moves for wider application of `listRef` as in prosopography entries. We should be considering this, too. Rather than simply updating the description, we may want to connect this ticket with https://github.com/TEIC/TEI/issues/1667 .

[2021-11-10 12:30] laurentromary commented on #1667
I see I have not presented my use case. In legal documents (law, case law, treaties etc.), you often have cross references within or across the legal  which may come as bundles of similar objects (thus [listRef/@type](https://github.com/TEIC/TEI/issues/1803)). See [EPC - article 54](https://www.epo.org/law-practice/legal-texts/html/epc/2016/e/ar54.html) for a typical example.

[2021-11-10 17:27] sydb commented on #2185
Note-to-self: PR #2204 should fix this. (Isn’t GitHub supposed to automatically link these two?)

[2021-11-11 06:38] CJohnno77 opened #2211 "how to remove bullet points from 'simple' list using html.xsl"
I am using `html.xsl` on an `.xml` file which has lists of type 'simple': eg. `<list type="simple">`

The items of these lists are coming out as `<li class="item">` in the resulting HTML, which display with bullet points.

Is there a way to get `simple` lists to not have the bullet points?  Is there a parameter I can set in the XSL?

[2021-11-11 14:46] sydb commented on #2187
Since no one has complained about any problems with the fix (488b94b), above, I think this is probably fixed and can be closed.

[2021-11-11 14:46] #2187 closed, assigned to sydb

[2021-11-11 22:19] sydb commented on #2179
So, (2) has been done. Looking more carefully at (1), I think the prose is a bit repetitive and does need some attention. Thus I am going to commit some suggestions in the branch to see what other folks think (I am thinking of @ebeshero, @hcayless, and @lb42 here). Hopefully will push that up in a few hours.

[2021-11-12 13:26] peterstadler opened #2212 "Makefile: XSL parameter needs to be an absolute path"
The Makefile suggests at https://github.com/TEIC/TEI/blob/40c5caf6efbdec614595c7f0e061f89ee0220c60/P5/Makefile#L14-L17 that `$XSL` might hold a relative path or even a URL. Both options do *not* work! Additionally, the provided URL is outdated and should probably read `https://tei-c.org/release/xml/tei`.

Providing the Stylesheets via URL would be a nice feature, yet I think this is too hard (too

[2021-11-12 15:31] martindholmes commented on #2212
@peterstadler Providing the Stylesheets via URL shouldn't be too hard -- I think both Ant and Saxon would handle it with no problem, and we've done it in a couple of projects (although backed away from it when the TEI site became a bit unreliable and then the URLs started changing. The default should definitely be https, though.

[2021-11-14 19:42] sydb commented on #2179
OK, that took longer than expected. See the [source file](https://github.com/TEIC/TEI/blob/sydb_issue-2179_take_2/P5/Source/Guidelines/en/TD-DocumentationElements.xml) starting at line 844, or see the [HTML](https://bauman.zapto.org/~syd/temp/4TEICouncil/html_GLs_all_eg_en/TD.html#TDTAGCONS) output.

[2021-11-29 14:57] sydb commented on #2185
Please see [comment about problem](https://github.com/TEIC/TEI/pull/2204#issuecomment-981709846) (with spaces in the fragment identifier portion, in this case in arguments passed to an XPointer scheme; same could occur in query portion of URI, though) on the PR.

[2021-11-29 15:02] sydb commented on #2185
Note also that although RFC 2396 forbids spaces, that spec is obsoleted by [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986#appendix-A).

[2021-11-30 14:46] hcayless opened #2213 "`@datingPoint` is under-documented in the Guidelines"
There's no discussion of the `@datingPoint` attribute from [att.datable.custom](https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.datable.custom.html) in the Guidelines, it isn't linked in the att.datable.custom schemaSpec in the [Names and Dates](https://tei-c.org/release/doc/tei-p5-doc/en/html/ND.html#NDDATECUSTOM) chapter, and there are no examples.

The point of the attribute seems to b

[2021-12-01 15:38] schassan opened #2214 "sequence of top level elements within msDesc"
The general structure of a manuscript description following the German cataloguing rules puts the description of the contents at the end, right after physDesc, history, and literature and before the msParts. The schema declaration (snippet) would look like this:

(
     msIdentifier,
     model.headLike*,
     (
        model.pLike+
      | (
           physDesc?,
           history?,
           a

[2021-12-03 13:58] joewiz commented on #2198
The URL contains a typo - `authorites` should be `authorities`. The correct link is:

https://id.loc.gov/authorities/names/n50012763.html

[2021-12-03 14:13] jakub-simek opened #2215 "att.pointing for <app>?"
Was it ever considered to make `<app>` a member of `att.pointing`?

For connecting apparatus entries with a base text via pointers (the "double end-point attachment method" of the Guidelines), the attributes `@from` and `@to` are provided at the moment. This differs from the mechanism used for other types of annotation, especially `<note>` and `<annotation>`, where `att.pointing` (especially `@tar

[2021-12-05 13:27] jamescummings commented on #2215
Hi @jakub-simek,

Yes, I remember that this was debated. However, since there were still a need for `@from` and `@to` it was decided rather than also add `@target` to recommend in instances where that form of pointing was being done to recommend just using `@from` as a single attribute. See the third example at https://www.tei-c.org/release/doc/tei-p5-doc/en/html/TC.html#TCAPLN for an example of d

[2021-12-06 09:20] jakub-simek commented on #2215
OK, thank you @jamescummings for explaining. But wouldn't such a use mean "overstretching" the semantics of the word "from" and of the attribute definition:

 I suppose there would be nothing wrong in customizing our project schema in order to allow `@target` at `<app>` (would it?) but perhaps the Council might reconsider its previous decision?

Does the current state not also mean that the functi

[2021-12-06 17:17] martindholmes opened #2216 "Example in rhyme.xml looks weird"
@sydb and I, working on another issue, came across the rather strange Chinese rhyme example on line 115 of the rhyme.xml spec file. The `lg/@rhyme` attribute has a leading space, and in any case its non-space content, "ou", does not look like a rhyme-scheme matching the lines themselves; also, the final line has an English-language fragment for the content of its rhyme element. Someone familiar wi

[2021-12-06 23:29] lb42 commented on #2216
That bit of english language text at the end definitely looks like a typo or cut/paste error. And my (very small) knowledge of Chinese verse suggests that rhyme is not an important feature either, so this encoding probably does need some explanation. This is one of several examples introduced by the Taiwanese translators, I think (judging from the bibliog entries) so might be worth tweeting @cwitt

[2021-12-09 19:59] ebeshero commented on #2106
On Council discussion today (2021-12-09), this is green for @HelenaSabel to check to see if we have any examples of a `<bibl>` resource expressed in multiple languages, and if we do, to try to merge them into one entry. Move the `@xml:lang` into the freshly merged `<bibl>` then.

[2021-12-09 20:00] raffazizzi commented on #2045
After further discussion, Council is leaning towards removing `@calendar` from `att.datable` via deprecation.

A few reasons for this based on the conversation above:
* Global sloppiness: I would argue that sloppiness is already possible in metadata elements like `<birth>` in both Gregorian and other cultural calendars. If there is a date string in `<birth>` that is not encoded with `<date>`, it i

[2021-12-09 20:04] ebeshero commented on #2106
Amended: On Council discussion today (2021-12-09), this is green for @HelenaSabel to check to see if we have any examples of a `<bibl>` resource expressed in multiple languages, and if we do, to try to merge them into one `<listBibl>`. Move the `@xml:lang` into the freshly merged `<bibl>` then.

[2021-12-11 03:02] sydb commented on #2197
I find the “stage operates in a stand-offish way” argument all but completely compelling. This argument suggests that in some cases use of the current `<handShift>` method can be confusing, at least if used without extreme care.
But even without that argument, the convenience argument (that stage directions are obvious logical structures that are often in a different hand — This argument says esse

[2021-12-11 18:14] lb42 commented on #2197
If they are logical structures, which I believe indeed they are, then `stage` has no place within a `<sourceDoc>` encoding, imffho. Otherwise you are opening the door to all sorts of madness.

[2021-12-11 18:45] ebeshero commented on #2197
Here's the trouble, @lb42 : `<handShift/>` as a milestone element is clumsy for the application @JanelleJenstad describes. from the note posted on the `<handShift/>` spec: "Like other milestone elements, it should appear at the point of transition from some other state to the state which it describes." So, it makes sense when you've got a situation when there's a clear moment of transition. The is

[2021-12-11 18:48] ebeshero commented on #2197
Here's the trouble, @lb42 : `<handShift/>` as a milestone element is clumsy for the application @JanelleJenstad presents. From the note posted on the `<handShift/>` spec: "Like other milestone elements, it should appear at the point of transition from some other state to the state which it describes." So, `<handShift/>` makes sense when you've got a situation when there's a clear moment of transit

[2021-12-11 18:52] lb42 commented on #2197
Here's the trouble @ebeshero: deciding that some stretch of writing is a stage direction rather than (say) a different speech, or an unrelated gloss, or anything else, really,  -- all belongs to a different interpretive level from that for which sourceDoc is conceived: lines and blocks of writing. However, if the proposal is simply to allow for @hand on (say) `<line>` or `<zone>` I have no objecti

[2021-12-11 18:54] martindholmes commented on #2197
@lb42 @sydb I agree that there are many other elements which should plausibly belong to att.written, but generally we act on feature requests like this based on the real examples presented, and wait for other requests to appear in future with real use-cases. It might be worth raising another ticket for a group of people to survey the community and put together a list of candidates, but meanwhile I

[2021-12-11 18:55] martindholmes commented on #2197
And @lb42 : Our documents are not using sourceDoc, they're using text elements.

[2021-12-11 18:56] lb42 commented on #2197
In which case, @martindholmes, you don't have any problem at all (but why not, btw, use @resp ?).

[2021-12-11 19:04] ebeshero commented on #2197
Yikes, @lb42 I don't think we want to exemplifying `@resp` in that way, when it's designed to indicate the responsibility of the encoding editor. See https://tei-c.org/release/doc/tei-p5-doc/en/html/PH.html#PHHR .

[2021-12-11 19:07] lb42 commented on #2197
Hmm, @ebeshero, the very first example I see when following that link shows @resp being used to indicate that Fredson Bowers (that well known encoder) is responsible for a reading...

[2021-12-11 19:13] ebeshero commented on #2197
...but that's still not the situation described here, in which we see evidence of a persistent hand encoding a big set of stage directions. The person who hand wrote the stage directions wasn't making an editorial decision that the document they were reading contains a stage direction at this point.

[2021-12-11 19:18] lb42 commented on #2197
No, if this is a `<sourceDoc>`, what we see is evidence of a persistent hand writing some parts (lines/zones), and (I assume) another hand writing the other bits.
Just add zone and line to att.written and the original usecase is satisfied methinks. Or stop using sourceDoc to encode interpretative structures.

[2021-12-11 19:43] ebeshero commented on #2197
`<zone>` and `<line>` are members of att.written, which now *also* contains so much more than `<sourceDoc>` elements that it doesn't really make much sense not to add `<stage>` alongside `<text>`, `<div>`, `<p>`, `<ab>`, and `<closer>` among others.

[2021-12-11 23:09] martindholmes commented on #2197
@lb42 I don't know why you're fixated on sourceDoc. This is regular manuscript, encoded in a text element, where multiple hands participated and one in particular wrote in the stage directions. It was an original contributor to the source, not a modern editor, and `@resp` is completely inappropriate. We want to "point to a handNote element describing the hand considered responsible for the content

[2021-12-11 23:22] lb42 commented on #2197
I don't think I am fixated, but I may well have been paying too much attention to the phrase "For sourceDoc-type transcriptions...." in the OP, which I took to mean that use of sourceDoc was being proposed. If it's not, I'll go back to sleep happily.

[2021-12-12 01:17] martindholmes commented on #2197
The full sentence was "For sourceDoc-type transcriptions, members of att.written include att.transcriptional elements such as add, del, subst and so on; for correspondence, structural elements such as postscript, salute, and signed are members." I think @JanelleJenstad was just setting the stage generally before going on to talk about drama, and in particular the stage element, which is at issue h

[2021-12-12 09:55] lb42 commented on #2197
zzzzz

[2021-12-12 17:00] JanelleJenstad commented on #2197
To confirm (not that I want to wake a sleeping @lb42), the editors are definitely not using `<sourceDoc>`.  My apologies for my misleading scene-setting!

I'm very much in agreement with @ebeshero that it's weird that epistolary tags are members of att.written. I'd like to extend the logic of the folks who saw the need for `@hand` on epistolary tags.

(BTW, Fredson Bowers would have loved TEI.)

[2021-12-21 14:03] peterstadler commented on #2192
Hi @sydb, just a quick question that came up during triage: why is this blocked? Is there any other ticket that needs to be tackled first?

[2021-12-21 15:03] peterstadler commented on #2214
I'm all in favor for loosening this sequential constraint 👍

[2021-12-21 15:20] lb42 commented on #2214
I seem to recall that the last time this was proposed was one of the rare occasions in which members of the ms description workgroup almost came to blows.

[2021-12-21 15:44] sydb commented on #2192
Oh boy. I honestly don’t remember, but my bet would be I did not want to change (4) until the [Stylesheets were fixed](/TEIC/Stylesheets/issues/526), but they have been, at least for the XHTML. (Apparently @martindholmes is going to check on the ePub and PDF before closing that ticket.) So let’s unblock.

[2021-12-21 16:02] sydb commented on #2192
Re-open if Mr. Jenkins complains.

[2021-12-21 16:02] #2192 closed, assigned to raffazizzi

[2021-12-21 19:58] sydb commented on #2214
## An Analysis Expressed in (mostly) Formal Syntax
Here is my take on the problem @schassan is expressing and the various solutions. If anyone knows how to get GitHub to syntax-color the code block of RELAX NG Compact Syntax below, please let me know (or just edit this post). [JC: there isn't one for rnc highlighting, but you could do something else like js. ;-) ]
[code]

[2022-01-06 17:49] #2198 closed, assigned to bleekere

[2022-01-10 17:18] sydb opened #2217 "Makefile target names for PDF are confusing"
The Makefile has 3 targets for PDF: `Guidelines-pdf:`, `pdf-complete:`, and `pdf:`. When I inadvertently use the wrong one, you can chalk it up to my being a PDF-generation novice. But @martindholmes just made the same mistake, too, and he is well versed in this stuff. So I claim the names are misleading, and plan to change them:

- **pdf:** That which a user should use to build the PDF version of

[2022-01-11 07:59] peterstadler commented on #2217
The idea of improving those targets sounds good to me. As always, naming issues are the hardest!
While I intuitively (seem to) understand `pdf-init` in the sense that it's some (pre)processing step and not finished yet, I find it hard to distinguish `pdf` and `pdf-finish`. Is the former more "finished" than the latter?
Perhaps it might be better to simply enumerate  like `pdf-step-1`, `pdf-step-2`

[2022-01-11 12:31] sydb commented on #2217
Good point. I think step names `pdf-step-1` and `pdf-step-2` are fine, perhaps even better. (The only slight drawback is you have to go look to see if there is a step 3 or not; but if it is less confusing, that is a small price to pay IMHO.)

How about just `pdf-initial-step` and `pdf-final-step` (names to deliberately map to the descriptions of `@part` :-)?

The `pdf` step would be an alias for `

[2022-01-12 07:43] peterstadler commented on #2217
Ok, so do we really need to keep the second step (on its own, without calling the first run first)? That might have some benefit for debugging, but in general you always need the first step before running the second. And since we are renaming things, dependent software (if any) will need to be updated anyway.
Hence we could go for only `pdf-init` and `pdf` (with a dependency on `pdf-init`) or am I

[2022-01-14 16:00] ebeshero commented on #2072
Closing because this ticket is outdated because Council decided to introduce an `<exemplumGrp>` element on ticket #1933.

[2022-01-14 16:01] ebeshero commented on #2072
Closing because this ticket is outdated because Council decided to introduce an `<exemplumGrp>` element on ticket #1933, rather than try to allow multiple `<egXML>` in a single `<exemplum>`.

[2022-01-14 16:02] #2072 closed, assigned to sydb, jamescummings

[2022-01-14 16:04] ebeshero commented on #2073
Closing this ticket as duplicate of #1933.

[2022-01-14 16:04] #2073 closed, assigned to hcayless

[2022-01-14 16:05] ebeshero commented on #2067
Council agrees that @sydb will propose this, likely with a customization ODD first for Council to review.

[2022-01-21 17:08] martindholmes commented on #2197
@JanelleJenstad @ebeshero Any sign of progress on this ticket? It says "needs discussion" but it's had heavy discussion above, and I don't think there's any serious objection to it; @lb42's objection was based on a misunderstanding about what was being proposed. If there is a real objection, could we hear it, and if not, could this ticket just be completed?

[2022-01-21 17:46] sydb opened #2218 "disagreement in number in `<msDesc>` description"
“contains a description of a single identifiable manuscript or other text-bearing object such as early printed books.” should really be “contains a description of a single identifiable manuscript or other text-bearing object such as an early printed book.”, no?

[2022-01-21 19:10] JanelleJenstad commented on #2197
I'm going to do the work for this ticket this weekend, unless there are objections.

[2022-01-22 23:20] sydb opened #2219 "deleting a `<constraintSpec>`"
One would think this would be easy. Just `<constraintSpec module="[module]" ident="[ident]" sceme="schematron" mode="delete"/>` should do it, eh? A bit weird that `@scheme` is required, but no big deal.

No such luck. The big deal is that it does _not_ work. Nor does most any other method I tried. According to my little [test ODD](https://github.com/TEIC/TEI/files/7919470/KC.odd.txt) (which is att

[2022-01-22 23:21] sydb commented on #2219
Oh *bleep*. This was supposed to be a Stylesheets issue.

[2022-01-22 23:21] #2219 closed, assigned to nobody

[2022-01-25 01:26] nakagawanatuko opened #2220 "A question regarding "processing instruction" in the guideline (Ch4)"
We are translating the TEI guideline (Ch4) into Japanese and got a question in 4.4. Virtual division.
The guideline says the following:

Where the whole of a division can be automatically generated, for example because it is derived from another part of this or another document, an encoder may prefer not to represent it explicitly but instead simply mark its location by means of a processing instr

[2022-01-25 01:57] hcayless commented on #2220
A processing instruction is just a message to a program that processes an XML file. They are commonly used to link schemas to documents (and therefore appear at the top of the document), but they can occur anywhere. You can see some examples in https://github.com/TEIC/TEI/blob/daab99ca7a2ea83c2d2f4ee8f1f8e874b288492c/P5/Source/Guidelines/en/REF-ELEMENTS.xml#L18-L19, which get replaced, when the fi